
<card-toolbar canreturn="true" title="Cuestionarios" ></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>

 <form name="cuestionarioForm" novalidate>


    <section layout="row" layout-sm="column" >
        <md-input-container>
            <label>Especialidades</label>
            <md-select name="ESPECIALIDAD" ng-change="ctrl.buscarTiposDeCuestionario()" ng-model="ctrl.mCuestionario.NP_ESPECIALIDAD" required>
                <md-option ng-repeat="especialidad in ctrl.mEspecialidades" value="{{especialidad.ID}}" ng-disabled="ctrl.activarEspecialidades">{{especialidad.cDescripcion}}</md-option>
            </md-select>
            <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                <div ng-message="required">Required</div>
            </div>
        </md-input-container>
        <md-input-container flex class="form-item" ng-show="!ctrl.eliminarCuestionarioBtn" >
            <label>TIPO DE CUESTIONARIO</label>
            <md-select name="nomCuestionario" aria-label="TIPOS DE CUESTIONARIO" ng-change="ctrl.cambiarTipoCuestionario()"  ng-model="ctrl.mCuestionario.NF_TIPOS_CUESTIONARIOS" required>
                <md-option ng-repeat="nomCues in ctrl.nomTiposCuestionarios | orderBy:'cDescripcion'" ng-disabled="!ctrl.verTipoCuestionario" value="{{nomCues.ID}}" >{{nomCues.cDescripcion}}</md-option>
            </md-select>
            <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                <div ng-message="required">Required</div>
            </div>
        </md-input-container>
        <md-input-container flex class="form-item" ng-show="ctrl.eliminarCuestionarioBtn">
            <label class="blanco">TIPO DE CUESTIONARIO</label>
            <input maxlength="43" name="NOM_TIPO_CUESTIONARIO"  ng-model="ctrl.mCuestionario.C_DESCRIPCION" readonly capitalize >
        </md-input-container>   
    </section>



<!--     <section layout="row" layout-sm="column" >
        <md-input-container flex="20" class="form-item">
            <label class="blanco">ESPECIALIDAD</label>
            <input maxlength="43" class="blanco" name="NOM_TIPO" ng-disabled="ctrl.inhabilitarFormulario" ng-model="ctrl.mCuestionario.NF_TIPOS_CUESTIONARIOS[2].cDescripcion" required >
        </md-input-container>
         
    </section>


{{ctrl.mCuestionario.NF_TIPOS_CUESTIONARIOS}}
 -->


    <div layout="row"  layout-sm="column"  layout-align="end center" layout-wrap ng-show="ctrl.verBotonesAccion">
        <md-button md-no-ink ng-click="ctrl.guardarCuestionario()" ng-show="ctrl.verGuardarCuestionario" class="md-primary" >GUARDAR CUESTIONARIO</md-button>
        <md-button md-no-ink ng-click="ctrl.addSeccion()" class="md-primary">AGREGAR SECCIÓN</md-button>
        <md-button md-no-ink ng-click="ctrl.delCuestionario()" ng-show="ctrl.eliminarCuestionarioBtn" class="md-primary">ELIMINAR CUESTIONARIO</md-button>
    </div>


<section class="md-whiteframe-1dp  margin-top-30   color-cuestionario-nuevo" ng-show="seccion.ESTATUS" ng-repeat="(id_seccion, seccion) in ctrl.mCuestionario.SECCION">

    <div layout="row">
        <md-input-container flex class="form-item">
            <label class="blanco">SECCIÓN</label>
            <input maxlength="43" class="blanco" name="NOM_SECCION" ng-disabled="ctrl.inhabilitarFormulario" ng-model="seccion.C_DESCRIPCION" required >
        </md-input-container>
    </div>

    <div layout="row"  ng-show="!ctrl.contesCuestionario">
        <div layout="row" layout-align="start start">
            <md-button md-no-ink class="md-primary blanco" ng-if="$index > 0"  ng-click="ctrl.subirSeccion(seccion.$$hashKey)">SUBIR</md-button>
            <md-button md-no-ink class="md-primary blanco" ng-if="$index < ctrl.mCuestionario.SECCION.length -1" ng-click="ctrl.bajarSeccion(seccion.$$hashKey)">BAJAR</md-button>
         </div>
    </div>



<div class="margin-top-30 contenedor-preguntas" ng-show="pregunta.NODO_RAIZ && pregunta.ESTATUS" ng-repeat="(id_pregunta, pregunta) in seccion.PREGUNTAS" >

    <div layout="row" layout-align="start center" layout-wrap ng-show="!ctrl.contesCuestionario">
        <md-input-container flex >
            <div layout="row" flex class="form-item margin-left-30"  >
              <input ng-model="ctrl.tiposDePregunta[pregunta.TIPO_PREGUNTA]" aria-label="TIPO DE PREGUNTA" flex ng-disabled="true">
            </div>
            <div >
                <div class="tipo-pregunta">TIPO DE PREGUNTA</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row" layout-align="start center" aria-label="PREGUNTA QUE SE LANZA CON OTRA PREGUNTA" layout-wrap ng-if="ctrl.listOpcionesDerivadas.length > 0 && pregunta.TIPO_PREGUNTA != 6 && ctrl.listOpcionesDerivadas[pregunta.mAuxiliar].TIPO_PREGUNTA && !ctrl.contesCuestionario"  >
        <md-input-container flex >
            <div layout="row" flex class="form-item margin-left-30"  >
              <input ng-model="ctrl.listOpcionesDerivadas[pregunta.mAuxiliar].TIPO_PREGUNTA" aria-label="PREGUNTA QUE SE LANZA CON OTRA PREGUNTA" flex ng-disabled="true">
            </div>
            <div >
                <div class="tipo-pregunta">ESTA PREGUNTA SE VA A LANZAR CUANDO SE SELECCIONA LA PREGUNTA...</div>
            </div>
        </md-input-container>
    </div>
<!--     {{ctrl.listOpcionesDerivadas}}
    {{pregunta.TIPO_PREGUNTA}}
{{pregunta}}
    {{!ctrl.contesCuestionario}} -->


    {{pregunta.mAuxiliar}}


<!-- En este apartado van a ir los diferentes tipos de preguntas que se deben realizar -->
   <div layout="row" layout-align="start center" layout-wrap >
        <md-input-container flex >
            <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}</md-icon>

            <div layout="row" flex class="form-item margin-left-30"  >
                <input aria-label="pregunta" ng-model="pregunta.C_PREGUNTA" flex ng-disabled="true">
            </div>

             <div ng-messages="!cuestionarioForm.$pristine" class="margin-left-30">
                  <div ng-if="pregunta.OBLIGATORIA" class="campo-obligatorio">Pregunta Obligatoria</div>
            </div>
        </md-input-container>
    </div>

    <!-- Tipo de pregunta 1 (Pregunta Abierta) -->
    <div ng-if="pregunta.TIPO_PREGUNTA==1">
        <div layout="row" flex >
            <md-input-container flex class="form-item margin-left-30" >
                <label>INGRESE AQUÍ SU RESPUESTA</label>
                <input  ng-model="pregunta.RESPUESTAS[0].RESPUESTA" arial-label="PREGUNTA DE TIPO ABIERTA" ng-required="pregunta.OBLIGATORIA" ng-minlength="1" ng-change="ctrl.seleccionarRespuesta(seccion.$$hashKey,pregunta.$$hashKey)"  ng-disabled="!ctrl.contesCuestionario">

            </md-input-container>
        </div>
    </div>

  <!-- Tipo de pregunta 2  -->
    <div ng-if="pregunta.TIPO_PREGUNTA==2">
          <div layout="row" layout-align="start center" layout-sm="column" layout-wrap class="margin-left-30" >
              <div flex="30" ng-if="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                  <md-checkbox  ng-model="respuesta.SELECTED" arial-label="PREGUNTA DE TIPO CHECK BOX" ng-disabled="!ctrl.contesCuestionario">
                      {{respuesta.ETIQUETA}}
                  </md-checkbox>
              </div>
          </div>
    </div>

      <!-- Tipo de pregunta 3 -->
    <div ng-if="pregunta.TIPO_PREGUNTA==3">
          <div layout="row" layout-align="start center" layout-sm="column" layout-wrap >
              <md-radio-group ng-model="pregunta.ID_RESPUESTA" arial-label="PREGUNTA DE TIPO RADIO BUTTON" ng-change="ctrl.cambiarRadio(seccion.$$hashKey,pregunta.$$hashKey,false)">
                  <md-radio-button ng-value="{{$index}}" ng-if="respuesta.ESTATUS" arial-label="RESPUESTA DE TIPO RADIO BUTTON" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="!ctrl.contesCuestionario">{{respuesta.ETIQUETA}}</md-radio-button>
              </md-radio-group>
          </div>
    </div>

      <!-- Tipo de pregunta 4 -->
    <div ng-if="pregunta.TIPO_PREGUNTA==4">

        <div layout="row" ng-if="respuesta.ESTATUS" ng-repeat="(id_subRespuesta, respuesta) in pregunta.RESPUESTAS" layout-align="start center" layout-sm="column" layout-wrap >
             <md-input-container flex class="form-item margin-left-20 margin-top-23" layout="row">
                 <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}.{{id_subRespuesta + 1}}</md-icon>
                  <input ng-model="respuesta.ETIQUETA" arial-label="PREGUNTA DE TIPO ABIERTA CON ETIQUETAS" flex ng-disabled="true">
            </md-input-container>

            <md-input-container flex class="form-item margin-left-20" >

                <label>INGRESE AQUÍ SU RESPUESTA</label>
                <input ng-model="respuesta.RESPUESTA" arial-label="RESPUESTA DE PREGUNTA ABIERTA CON ETIQUETAS" ng-change="ctrl.seleccionarRespuesta(seccion.$$hashKey,pregunta.$$hashKey,respuesta.$$hashKey)" ng-disabled="!ctrl.contesCuestionario">
            </md-input-container>
        </div>
    </div>

    <!-- Tipo de pregunta 5 -->
    <div ng-if="pregunta.TIPO_PREGUNTA==5">

            <md-radio-group flex ng-model="pregunta.ID_RESPUESTA" arial-label="PREGUNTA DE TIPO RADIO BUTTON CON JUSTIFICACIÓN" ng-change="ctrl.cambiarRadio(seccion.$$hashKey,pregunta.$$hashKey,true)" class="form-item margin-left-20">
                <md-radio-button ng-value="{{$index}}" arial-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="!ctrl.contesCuestionario">
                    {{respuesta.ETIQUETA}}
                </md-radio-button>
            </md-radio-group>

        <div layout="row" flex>
            <md-input-container flex class="form-item margin-left-20" >
                <label>JUSTIFICACIÓN</label>
                <input ng-model="pregunta.RESPUESTA" arial-label="JUSTIFICACIÓN DE PREGUNTA" ng-change="ctrl.actualizarRespuesta(seccion.$$hashKey,pregunta.$$hashKey,true)" ng-disabled="!ctrl.contesCuestionario">
            </md-input-container>
        </div>

    </div>

      <!-- Tipo de pregunta 6 -->
      <div ng-if="pregunta.TIPO_PREGUNTA==6">
            <div layout="row" flayout-align="start center" layout-sm="column" layout-wrap >
                 <md-radio-group ng-model="pregunta.ID_RESPUESTA" arial-label="PREGUNTA DE TIPO SI/NO QUE LANZA OTRA PREGUNTA" ng-change="ctrl.cambiarRadio(seccion.$$hashKey,pregunta.$$hashKey,false)">
                    <md-radio-button ng-value="{{$index}}" arial-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="!ctrl.contesCuestionario">{{respuesta.ETIQUETA}}</md-radio-button>
                </md-radio-group>
            </div>
      </div>

      <!-- Tipo de pregunta 7 -->
      <div ng-if="pregunta.TIPO_PREGUNTA==7">
          <div layout="row" flex >
                <md-input-container flex class="form-item margin-left-20" >
                    <label>EN ESTE APARTADO IRA LA RESPUESTA</label>
                    <input ng-model="pregunta.RESPUESTAS[0].RESPUESTA_N" arial-label="PREGUNTA DE TIPO NÚMERICO" ng-change="ctrl.seleccionarRespuesta(seccion.$$hashKey,pregunta.$$hashKey)" type="number" ng-disabled="!ctrl.contesCuestionario">
                </md-input-container>
                <!-- <div ng-messages="!cuestionarioForm.$pristine" class="margin-left-30">
                        <div ng-show="pregunta.OBLIGATORIA" class="campo-obligatorio">Campo requerido</div>
                </div> -->
          </div>
      </div>

        <!-- Tipo de pregunta 8 -->
        <div ng-if="pregunta.TIPO_PREGUNTA==8">
               <md-datepicker flex ng-model="pregunta.RESPUESTAS[0].RESPUESTA_F" arial-label="PREGUNTA DE TIPO FECHA" ng-change="ctrl.seleccionarRespuesta(seccion.$$hashKey,pregunta.$$hashKey)"  md-placeholder="FECHA" ng-disabled="!ctrl.contesCuestionario"></md-datepicker>
               <!-- <div ng-messages="!cuestionarioForm.$pristine" class="margin-left-30">
                    <div ng-show="pregunta.OBLIGATORIA" class="campo-obligatorio">Campo requerido</div>
                </div> -->
        </div>

          <!-- Tipo de pregunta 9 -->
        <div ng-if="pregunta.TIPO_PREGUNTA==9">
            <md-input-container>
              <label>SELECIÓNAR</label>
              <md-select ng-model="pregunta.ID_RESPUESTA" arial-label="PREGUNTA DE TIPO SELECT"  ng-change="ctrl.cambiarRadio(seccion.$$hashKey,pregunta.$$hashKey,false)" aria-label="RESPUESTAS">
                  <md-option ng-value="{{$index}}" ng-if="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                      {{respuesta.ETIQUETA}}
                      </md-option>
              </md-select>
            </md-input-container>



        </div>



      <div layout="row" flayout-align="start center" layout-sm="column" layout-wrap  ng-show="!ctrl.inhabilitarFormulario">
          <md-button md-no-ink class="md-primary" flex ng-click="ctrl.subirPregunta(seccion.$$hashKey,pregunta.$$hashKey,false)">SUBIR</md-button>
          <md-button md-no-ink class="md-primary" flex ng-click="ctrl.bajarPregunta(seccion.$$hashKey,pregunta.$$hashKey,false)">BAJAR</md-button>
          <md-button md-no-ink class="md-primary" flex ng-click="ctrl.editarPregunta($event,seccion.$$hashKey,pregunta.$$hashKey,true)">EDITAR</md-button>
          <md-button md-no-ink class="md-primary" flex ng-click="ctrl.btnEliminar(seccion.$$hashKey,pregunta.$$hashKey)">ELIMINAR</md-button>
      </div>
  </div>
   <div id="finCuestionario"></div>

      <div layout="row" layout-align="end end" >
          <md-button md-no-ink class="md-primary blanco" ng-show="!ctrl.inhabilitarFormulario" ng-click="ctrl.delSeccion(seccion.$$hashKey)">ELIMINAR SECCIÓN</md-button>
          <md-button md-no-ink class="md-primary blanco" ng-show="!ctrl.inhabilitarFormulario" ng-click="ctrl.nuevaPregunta($event,seccion.$$hashKey,false)">NUEVA PREGUNTA</md-button>
      </div>
       <div layout="row" layout-align="end end" >
          <md-button md-no-ink class="md-primary blanco" ng-show="ctrl.contesCuestionario" ng-click="ctrl.guardarRespuestas($event,seccion.$$hashKey,false)">GUARDAR</md-button>
      </div>

</section>
 </form>
</md-content>


