<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar canreturn="true"></card-toolbar>
  <md-card-content >
  <section layout="row" layout-sm="column" layout-align="center center">
    <form name="muestraCuestionarios">
              <md-input-container>
                  <label>ESPECIALIDADES</label>
                <md-select name="ctrl.ESPECIALIDAD" ng-change="ctrl.obtenerCuestionarios()" ng-model="ctrl.especialidadId" required>
               	  <md-option ng-repeat="especialidad in ctrl.mEspecialidades" value="{{especialidad.ID}}">{{especialidad.cDescripcion}}</md-option>
                </md-select>
              </md-input-container>
    </form>
    </section>

          <section layout="row" layout-sm="column" layout-align="center center">
		    <md-data-table-container >
		    <div flex="50">
		      <table md-data-table class="table-heading">
		        <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
		          <tr>
		            <th name="DESCRIPCION" order-by="C_DESCRIPCION"></th>
		            <th name=""></th>
		            <th name=""></th>
		            <th name="ACCIONES"></th>
		          </tr>
		        </thead>
		        <tbody>
			        <tr ng-repeat="ctrio in ctrl.oCuestionarios | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" style="cursor:pointer;">
	                <td>{{ctrio.C_DESCRIPCION}}</td>
	                <td></td>
	                <td></td>
					<td>
							<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.editarCuestionario(ctrio.NP_CUESTIONARIO)" ng-if="!carnet">
					        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				   		 </md-button>

	                </td>
             		</tr>
		        </tbody>
		      </table>
		    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.oCuestionarios.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
		    </md-data-table-container>
		    </div>
		  </section>
    </md-card-content>
</md-content>
