<md-dialog aria-label="NUEVA PREGUNTA" >
  <form name="nuevaPreguntaForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>NUEVA PREGUNTA</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px;max-height:610px; ">

      <div layout="row" style="min-width:600px;"  layout="row" layout-sm="column" >
         <md-input-container flex>
            <label>TIPO DE PREGUNTA</label>
                <md-select  ng-model="pregunta.TIPO_PREGUNTA" ng-change="changeTipoPregunta()" name="tipos_pregunta" ng-disabled="editarPreguntas" required>
                <md-option ng-repeat="(id,pregunta) in tiposDePregunta" value="{{id}}">{{pregunta}}</md-option>

                <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.tipos_pregunta.$error">
                    <div ng-message="required">Campo requerido</div>
                </div>
            </md-select>
        </md-input-container>
      </div>

      <div layout="row" layout="row" layout-sm="column">
          <md-input-container flex ng-show="listOpcionesDerivadas.length > 0 && pregunta.TIPO_PREGUNTA != 6" >
              <label>ESTA PREGUNTA SOLO SE VA  A ACTIVAR CUNADO SE SELECCIONE LA PREGUNTA...</label>
                  <md-select aria-label="PREGUNTA QUE LANZA OTRA PREGUNTA" name="PREGUNTA_DEPENDIENTE" ng-change="preguntaHija()" ng-model="pregunta.mAuxiliar" >
                  <md-option ng-repeat="(id, prep) in listOpcionesDerivadas" ng-show="prep.estatus" value="{{id}}">{{prep.TIPO_PREGUNTA | uppercase}}</md-option>
              </md-select>
          </md-input-container>
      </div>
<!-- PREGUNTAS -->

 <!-- Tipo de pregunta 1 (Pregunta Abierta) -->
    <div ng-show="pregunta.TIPO_PREGUNTA==1">
        <div layout="row" layout="row" layout-sm="column">


            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input  name="pregunta_tipo_1" aria-label="PREGUNTA" required minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250"  ng-model="pregunta.C_PREGUNTA">

                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.pregunta_tipo_1.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>


            </md-input-container>
        </div>
        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija" >OBLIGATORIA</md-checkbox>
        </div>

         <div layout="row" layout="row" layout-sm="column">

            <md-input-container flex class="form-item" >
                <label>EN ESTE APARTADO IRA LA RESPUESTA</label>
                <input aria-label="Respuestas" ng-model="ctrl.pregunta.C_RESPUESTA" ng-disabled="true">
            </md-input-container>
        </div>
    </div>
    {{ctrl.pregunta}}



   <div ng-show="pregunta.TIPO_PREGUNTA==2">

        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="pregunta_tipo_2" aria-label="PREGUNTA"  ng-model="pregunta.C_PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required >
                   <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.pregunta_tipo_2.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
        </div>


         <div layout="row" layout-align="start center" layout-sm="column" layout-wrap >
              <md-input-container flex="50" class="form-item margin-left-5" >
                  <label>INGRESE SU OPCIÓN DESEADA</label>
                  <input name="opcion_tipo_2" ng-model="nuevaOpcion" minlength="1" maxlength="150"  md-minlength="1" md-maxlength="150" aria-label="PREGUNTA"  ng-change="verificaNuevaOpcion()" >
                   <div ng-show="!numeroOpciones">
                        <div class="campo-obligatorio">Campo requerido (una o más opciones)</div>
                  </div>
              </md-input-container>
              <md-button md-no-ink class="md-primary" flex ng-disabled="!opcionValida" ng-click="addEtiqueta()">AGREGAR OPCIÓN</md-button>
         </div>

          <div layout-align="start start" layout="column" >
              <div flex ng-show="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                  <md-checkbox   ng-disabled="true" aria-label="Respuesta obligatoria" >
                      {{respuesta.ETIQUETA}}
                  </md-checkbox>
                  <md-button ng-click="eliminarOpcion($index)">
                     Eliminar
                  </md-button>
              </div>





          </div>
    </div>






    <div ng-show="pregunta.TIPO_PREGUNTA==3">

       <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name ="opcion_tipo_3" aria-label="PREGUNTA"  ng-model="pregunta.C_PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_3.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
        </div>

         <div layout="row" layout-sm="column">
              <md-input-container flex="50" class="form-item margin-left-5" >
                  <label>INGRESE SU OPCIÓN DESEADA</label>
                  <input ng-model="nuevaOpcion" aria-label="TIPO DE OPCIÓN"  minlength="1" maxlength="150"  md-minlength="1" md-maxlength="150"  ng-change="verificaNuevaOpcion()">
                  <div ng-show="!numeroOpciones">
                        <div class="campo-obligatorio">Campo requerido (dos o más opciones)</div>
                  </div>
              </md-input-container>
              <md-button md-no-ink class="md-primary" flex ng-disabled="!opcionValida" ng-click="addEtiqueta()">AGREGAR OPCIÓN</md-button>
         </div>

          <div layout="row" layout-align="start center" ng-show="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS" layout-sm="row" layout-wrap >


               <md-input-container flex class="form-item"  layout="row">
                    <md-icon class="margin-top-8 num-pregunta"></md-icon>
                    <input ng-model="respuesta.ETIQUETA" aria-label="ELIMINAR OPCIÓN"   flex ng-disabled="true">
                </md-input-container>
                <md-button flex ng-click="eliminarOpcion($index)">
                     Eliminar
                </md-button>

          </div>
    </div>




    <div ng-show="pregunta.TIPO_PREGUNTA==4">

        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="opcion_tipo_4" aria-label="PREGUNTA"  ng-model="pregunta.C_PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_4.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" aria-label="PREGUNTA OBLIGATORIA" ng-disabled="esHija" flex ng-model="pregunta.OBLIGATORIA" >OBLIGATORIA</md-checkbox>
        </div>

         <div layout="row" layout-sm="column">
              <md-input-container flex="50" class="form-item margin-left-5" >
                  <label>INGRESE SU OPCIÓN DESEADA</label>
                  <input name="opcion_4" ng-model="nuevaOpcion" aria-label="OPCIONES"  minlength="1" maxlength="150"  md-minlength="1" md-maxlength="150" ng-change="verificaNuevaOpcion()">
                  <div ng-show="!numeroOpciones">
                        <div class="campo-obligatorio">Campo requerido (una o más opciones)</div>
                  </div>
              </md-input-container>
              <md-button md-no-ink class="md-primary" flex ng-disabled="!opcionValida" ng-click="addEtiqueta()">AGREGAR OPCIÓN</md-button>
         </div>

        <div layout="row" ng-show="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS" layout-align="start center" layout-sm="column" layout-wrap >

             <md-input-container flex="30" class="form-item margin-left-20" >
                  <label>PREGUNTA</label>
                  <input ng-model="respuesta.ETIQUETA" aria-label="OPCIÓN"  ng-disabled="true">
            </md-input-container>

            <md-input-container flex class="form-item margin-left-20" >
                <label>RESPUESTA</label>
                <input ng-model="respuesta.RESPUESTA" aria-label="RESPUESTA"  ng-disabled="true">
            </md-input-container>
            <md-button flex ng-click="eliminarOpcion($index)">
                     Eliminar
            </md-button>
        </div>
    </div>



    <div ng-show="pregunta.TIPO_PREGUNTA==5">

        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="opcion_tipo_5" ng-model="pregunta.C_PREGUNTA" aria-label="PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_5.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
        </div>

          <div layout="row" layout-align="start center" layout-sm="column" layout-wrap >
              <md-input-container flex="50" class="form-item margin-left-5" >
                  <label>INGRESE SU OPCIÓN DESEADA</label>
                  <input ng-model="nuevaOpcion" aria-label="OPCIONES"  minlength="1" maxlength="150"  md-minlength="1" md-maxlength="150" ng-change="verificaNuevaOpcion()">
                  <div ng-show="!numeroOpciones">
                        <div class="campo-obligatorio">Campo requerido (dos o más opciones)</div>
                  </div>
              </md-input-container>
              <md-button md-no-ink class="md-primary" flex ng-disabled="!opcionValida" ng-click="addEtiqueta()">AGREGAR OPCIÓN</md-button>
         </div>

          <div layout="row" layout-align="start center" ng-show="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS" layout-sm="row" layout-wrap >
                <md-input-container flex class="form-item"  layout="row">
                 <md-icon class="margin-top-8 num-pregunta"></md-icon>
                  <input ng-model="respuesta.ETIQUETA" aria-label="ELIMINAR PREGUNTAS"  flex ng-disabled="true">
                </md-input-container>
                <md-button flex ng-click="eliminarOpcion($index)">
                     Eliminar
                </md-button>
          </div>

           <div layout="row" layout="row" layout-sm="column">
              <md-input-container flex class="form-item" >
                  <label>JUSTIFICACIÓN</label>
                  <input aria-label="Respuestas" aria-label="JUSTIFICACIÓN" ng-maxlength="250"  ng-model="pregunta.C_RESPUESTA" ng-disabled="true">
              </md-input-container>
            </div>


    </div>






    <div ng-show="pregunta.TIPO_PREGUNTA==6">

        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="opcion_tipo_6" ng-model="pregunta.C_PREGUNTA" aria-label="PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_6.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox flex aria-label="Respuesta obligatoria" aria-label="OBLIGATORIA" ng-disabled="esHija" ng-model="pregunta.OBLIGATORIA" >OBLIGATORIA</md-checkbox>
        </div>

          <div layout="row" flayout-align="start center" layout-sm="column" layout-wrap >
               <md-radio-group aria-label="Opciones de respuesta" ng-model="respuesta.RESPUESTA">
                  <md-radio-button aria-label="Opciones de respuesta" ng-value="{{$index}}" ng-repeat=" respuesta in pregunta.RESPUESTAS">{{respuesta.ETIQUETA}}</md-radio-button>
              </md-radio-group>
          </div>
    </div>




    <div ng-show="pregunta.TIPO_PREGUNTA==7">
        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item margin-left-5" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="opcion_tipo_7" ng-model="pregunta.C_PREGUNTA" aria-label="PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_7.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
        </div>

        <div layout="row" layout-sm="column">
            <md-input-container flex>
                <label>CAMPO DE TIPO NÚMERICO</label>
                <input type="number"  ng-model="respuesta.RESPUESTA"  aria-label="RESPUESTA" ng-disabled="true" min="0" max="10000" />
            </md-input-container>
        </div>
    </div>



    <div ng-show="pregunta.TIPO_PREGUNTA==8">
        <div layout="row" layout-sm="column">
            <md-input-container flex class="form-item" >
                  <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                  <input name="opcion_tipo_8" ng-model="pregunta.C_PREGUNTA" aria-label="PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                  <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_8.$error">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Minimo 3 caracteres</div>
                  </div>
            </md-input-container>
        </div>

        <div layout="row" layout-sm="column">
            <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
        </div>
    </div>

     <div ng-show="pregunta.TIPO_PREGUNTA==9">
           <div layout="row" layout-sm="column">
                  <md-input-container flex class="form-item" >
                        <label>INGRESE SU PREGUNTA EN ESTE APARTADO</label>
                        <input name="opcion_tipo_8" ng-model="pregunta.C_PREGUNTA" aria-label="PREGUNTA" minlength="3" maxlength="250"  md-minlength="3" md-maxlength="250" required ng-minlength="3">
                        <div ng-messages="!nuevaPreguntaForm.$pristine &&  nuevaPreguntaForm.opcion_tipo_8.$error">
                              <div ng-message="required">Campo requerido</div>
                              <div ng-message="minlength">Minimo 3 caracteres</div>
                        </div>
                </md-input-container>
            </div>

            <div layout="row" layout-sm="column">
                <md-checkbox aria-label="Respuesta obligatoria" flex ng-model="pregunta.OBLIGATORIA" ng-disabled="esHija">OBLIGATORIA</md-checkbox>
            </div>

            <div layout="row" layout-sm="column">
                  <md-input-container flex="50" class="form-item margin-left-5" >
                      <label>INGRESE SU OPCIÓN DESEADA</label>
                      <input ng-model="nuevaOpcion" aria-label="OPCIONES"  minlength="1" maxlength="150"  md-minlength="1" md-maxlength="150" ng-change="verificaNuevaOpcion()">
                      <div ng-show="!numeroOpciones">
                            <div class="campo-obligatorio">Campo requerido (una o más opciones)</div>
                      </div>
                  </md-input-container>
                  <md-button md-no-ink class="md-primary" flex ng-disabled="!opcionValida" ng-click="addEtiqueta()">AGREGAR OPCIÓN</md-button>
            </div>




        <div layout="row" ng-show="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS" layout-align="start center" layout-sm="column" layout-wrap >

             <md-input-container flex class="form-item margin-left-20" >
                  <label>OPCIÓN</label>
                  <input ng-model="respuesta.ETIQUETA" aria-label="OPCIÓN"  ng-disabled="true">
            </md-input-container>
            <md-button flex ng-click="eliminarOpcion($index)">
                     Eliminar
            </md-button>
        </div>
      </div>


<!-- FIN DE PREGUNTAS -->

    </md-dialog-content>



    <div class="md-actions" layout="row">
        <md-button ng-click="cancelar()">
          Cancelar
        </md-button>
        <span flex></span>
        <md-button ng-click="guardar()" ng-disabled="!nuevaPreguntaForm.$valid || !numeroOpciones">
         Guardar
        </md-button>

    </div>
  </form>


</md-dialog>
