<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('A')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selected.length==0 && !alta && !edita && !ver">		
  			<section layout-align="start center" flex >	
	           	<md-input-container class="form-paciente" flex="50">
	           		<label>BUSCAR</label>
	           		<input maxlength="30" ng-model="dato.buscar" capitalize ng-change="filtraTabla(dato.buscar)">
	           	</md-input-container>               	
		    </section>	

		    <md-input-container class="form-item">
	            <md-button class="md-icon-button md-primary" ng-click="insertar()" aria-label="Insertar registro">
	            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
	            </md-button>
	        </md-input-container>

			<label>MOSTRAR INACTIVOS:</label>

		   	<md-checkbox ng-model="filtro.ACTIVO" ng-change="cambiaTablaArticulos(filtro.ACTIVO)"></md-checkbox>
		</div>	

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="left center" ng-if="alta || edita || ver">
			<form name="addForm" ng-submit="guardar('A')"  ng-if="alta" flex>
			<form name="addForm" ng-submit="actualizar('A')" ng-if="edita" flex>
			<form name="addForm" ng-if="ver" flex>	
			  	<section layout="row" layout-sm="column">
			  		<!--APARTADO PARA AGREGAR UN ARTICULO EN ALMACÉN-->
			  		<md-input-container  class="form-item" flex="5">
			            <label>*CLAVE</label>
			            <input ng-model="datosRegistro.C_CLAVE"  capitalize required ng-disabled="edita">
				    </md-input-container>
				    
			        <md-switch class="md-primary md-block" md-no-ink aria-label="alergia" name="ALERGIA" ng-model="datosRegistro.S_ESTATUS_REGISTRO" ng-change="validaExistencia(datosRegistro.S_ESTATUS_REGISTRO)" ng-disabled="ver">ESTATUS*</md-switch>			        
				    
			        <md-input-container  class="form-item" flex>
			            <label>*DESCRIPCIÓN</label>
			            <input ng-model="datosRegistro.C_DESCRIPCION" maxlength="200" md-maxlength="200" capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container   class="form-item" flex="10" >
			         	<label>*U.M. ART.</label>
				        <md-select  name="unidad" ng-model="datosRegistro.NF_UNIDAD" ng-change="actNoPiezas()" class="form-item" ng-disabled="ver" required>
			                <md-option ng-value="unidades.ID"  ng-repeat="unidades in catUnidadMedida">{{unidades.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>

			        <md-input-container  class="form-item" flex="10">
			            <label>*NÚMERO DE PIEZAS</label>
			            <input type="number" ng-model="datosRegistro.N_PIEZAS" style="text-align:center" required ng-disabled="isPieza || ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex="10">
			            <label>*UNIDOSIS</label>
			            <input type="number" ng-model="datosRegistro.N_CANTIDAD_UNIDOSIS" style="text-align:center" required ng-disabled="isPieza || ver" >
			        </md-input-container>

			        <md-input-container   class="form-item"  flex="10">
			         	<label>*U.M. UNIDOSIS</label>
				        <md-select  name="unidadUnidosis" ng-model="datosRegistro.NF_UNIDAD_MEDIDA_UNIDOSIS" class="form-item" ng-disabled="isPieza || ver" required>
			                <md-option ng-value="unidades.ID"  ng-repeat="unidades in catUnidadMedida">{{unidades.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>
				</section>  

				<section layout="row" layout-sm="column">
					<md-input-container  class="form-item" flex>
			            <label>*MARCA</label>
			            <input ng-model="datosRegistro.C_MARCA"  capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex>
			            <label>*MODELO</label>
			            <input ng-model="datosRegistro.C_MODELO"  capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex>
			            <label>*COLOR</label>
			            <input ng-model="datosRegistro.C_COLOR"  capitalize required ng-disabled="ver">
			        </md-input-container>

			  		<md-input-container  class="form-item" flex>
			            <label>*GRUPO</label>
			            <md-select  name="material" ng-model="datosRegistro.NF_GRUPO" class="form-item" ng-disabled="ver" required>
			                <md-option ng-value="grupo.nId"  ng-repeat="grupo in catGrupos">{{grupo.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>

			        <md-input-container  class="form-item" flex="20">
			            <label>*PORCENTAJE</label>
			            <input type="number" ng-model="datosRegistro.D_PORCENTAJE" style="text-align:center" required ng-disabled="ver">
				    </md-input-container>
					
					<md-input-container  class="form-item" flex="10">
			            <label>*IVA (%)</label>
			            <input type="number" ng-model="datosRegistro.N_IVA" style="text-align:center" required ng-disabled="ver">
			        </md-input-container>

			    </section>  

			    <section layout="row" layout-sm="column" >
			        <md-input-container  class="form-item" flex="10">
			            <label>*STOCK MÍNIMO</label>
			            <input type="number" ng-model="datosRegistro.N_MINIMO" ng-change="actStockMax()"  maxlength="4" style="text-align:center" required ng-disabled="ver">
			        </md-input-container>

			         <md-input-container  class="form-item" flex="10">
			            <label>*STOCK MÁXIMO</label>
			            <input type="number" ng-model="datosRegistro.N_MAXIMO" min="datosRegistro.N_MINIMO" style="text-align:center" required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex="10">
			            <label>*PUNTO DE INFLEXIÓN</label>
			            <input type="number" ng-model="datosRegistro.N_PUNTO_REORDEN" min="datosRegistro.N_MINIMO" max="datosRegistro.N_MAXIMO" style="text-align:center" required ng-disabled="ver">
			        </md-input-container>			     

			        <md-switch ng-model="datosRegistro.N_ACTIVO_INTERNO" class="md-primary" ng-init="datosRegistro.N_ACTIVO_INTERNO=false" aria-label="Switch Activo Interno" ng-disabled="ver" ng-change="toggleCtaPaciente(datosRegistro.N_ACTIVO_INTERNO)">ACTIVO INTERNO
					</md-switch>

					<md-switch ng-model="datosRegistro.N_CUENTA_PACIENTE" class="md-primary" ng-init="datosRegistro.N_CUENTA_PACIENTE=true" aria-label="Switch Cuenta Paciente" ng-disabled="ver" ng-change="toggleActivoInterno(datosRegistro.N_CUENTA_PACIENTE)">CUENTA PACIENTE
					</md-switch>
				</section>  

				<section layout="row" layout-sm="column" layout-align="end center" ng-show="alta || edita || ver">
					<div ng-if="!ver">
					    <md-button class="md-raised md-primary" type="submit" ng-if="alta">GUARDAR</md-button>
					    <md-button class="md-raised md-primary" type="submit" ng-if="edita">ACTUALIZAR</md-button>
					    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					</div>  

					<div ng-if="ver">
						<md-button class="md-raised" type="button" ng-click="habilitaRegistro();">EDITAR</md-button>
						<md-button class="md-raised" type="button" ng-click="cancelar()">CERRAR</md-button>
					</div>    
			    </section>  
		    </form>	
		</div>		

		<section layout="column"  layout-align="left center">   			
	        <md-data-table-toolbar class="alternate" ng-show="selected.length && !alta && ! edita && !ver">
	        	<!--  El valor de X es para no considerarso con Abono -->
			    <!--md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'X')" aria-label="Elimina registro(s) seleccionado(s)"> 
	               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
	            </md-button-->

	            <md-button class="md-icon-button md-primary" ng-click="editRowArticulo()" ng-if="selected.length == 1" aria-label="Edita registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
	            </md-button>

	            <md-button class="md-icon-button md-primary" ng-click="verArticulo()" ng-if="selected.length == 1" aria-label="Ver registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_visibility_black_18px.svg"></md-icon> 
	            </md-button>
	        </md-data-table-toolbar>
	        

	        <md-data-table-container>
	            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                  <tr style="background-color:#00b5e2; text-align: center">
	                    <th name="CLAVE"></th>
	                    <th name="DESCRIPCION"></th>
	                    <th name="U.M. ART."></th>
	                    <th name="NO. PZAS"></th>
	                    <th name="UNIDOSIS"></th>
	                    <th name="U.M. UNIDOSIS"></th>
	                    <th name="GRUPO"></th>
	                    <th name="STOCK MIN."></th>
	                    <th name="STOCK MAX"></th>
	                    <th name="P. INFLEX."></th>
	                  </tr>
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                    <td>{{registro.C_CLAVE}}</td>
		                    <td>{{registro.C_DESCRIPCION}}</td>
		                    <td>{{registro.C_UNIDAD}}</td>
		                    <td style="text-align: center">{{registro.N_PIEZAS}}</td>
		                    <td>{{registro.N_CANTIDAD_UNIDOSIS}}</td>
		                    <td>{{registro.C_UNIDAD_MEDIDA_UNIDOSIS}}</td>
		                    <td>{{registro.C_GRUPO}}</td>
		                    <td style="text-align: center">{{registro.N_MINIMO}}</td>
		                    <td style="text-align: center">{{registro.N_MAXIMO}}</td>
		                    <td style="text-align: center">{{registro.N_PUNTO_REORDEN}}</td>
		              </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 


	</md-card-content>

</md-card>	