<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('C')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<section layout="column"  layout-align="left center">   			
	        
	        
	        <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
	        	<!--  CUENTAS ABONO -->
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>			        
					<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selectedAbono.length==0 && !altaAbono && !editaAbono">		
			  			<section layout-align="start center" flex ng-if="registros.length > 0">	
				           	<md-input-container class="form-paciente" flex="50">
				           		<label>BUSCAR</label>
				           		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTablaAbono(dato.buscar)" capitalize>
				           	</md-input-container>               	
					    </section>	

					    <md-input-container class="form-item">
				            <md-button class="md-icon-button md-primary" ng-click="insertarAbono()" aria-label="Insertar registro">
				            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
				            </md-button>
				        </md-input-container>
					</div>	

					<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="left center" ng-if="altaAbono || editaAbono">
						<form name="addForm" ng-submit="guardarAbono()" ng-if="altaAbono" flex>
						<form name="addForm" ng-submit="actualizarAbono()" ng-if="editaAbono" flex>
						  	<section layout="row" layout-sm="column">
						  		<!--APARTADO PARA AGREGAR UNA CUENTA-->
						  		<md-input-container  class="form-item" flex="20">
						            <label>*CLAVE</label>
						            <input ng-model="datos.claveAbono"  capitalize required ng-disabled="editaAbono">
							    </md-input-container>

						        <md-input-container  class="form-item" flex>
						            <label>*DESCRIPCIÓN</label>
						            <input ng-model="datos.nombreAbono"  capitalize required>
						        </md-input-container>

						        <md-input-container  class="form-item" flex ng-show="false">
						            <label>ID</label>
						            <input ng-model="datos.nIdAbono">
						        </md-input-container>						        
							</section>  

							<section layout="row" layout-sm="column" layout-align="end center" ng-show="altaAbono || editaAbono">
							    <md-button class="md-raised md-primary" type="submit" ng-if="altaAbono">GUARDAR</md-button>
							    <md-button class="md-raised md-primary" type="submit" ng-if="editaAbono">ACTUALIZAR</md-button>
							    <md-button class="md-raised" type="button" ng-click="cancelarAbono()">CANCELAR</md-button>
						    </section>  
					    </form>	
					</div>		

			        <md-card layout-wrap>
						<md-toolbar >
							<section layout="row" layout-align="center center">
								<br>CUENTAS DE ABONO
				            </section>
			        	</md-toolbar>

						<md-data-table-toolbar class="alternate" ng-show="selectedAbono.length && !altaAbono && ! editaAbono">
						    <md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'A')" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>

				            <md-button class="md-icon-button md-primary" ng-click="editRowAbono()" ng-if="selectedAbono.length == 1" aria-label="Edita registro seleccionado">
				               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
				            </md-button>
				        </md-data-table-toolbar>

						<md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selectedAbono"  md-progress="deferred">
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                    <th width="30%" name="CLAVE" order-by="cDescripcion"></th>
				                    <th width="30%" name="DESCRIPCIÓN" order-by="cDescripcion"></th>
				                    <th width="30%" name="ID" ng-show="false"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registrosAbono | filter:buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
					                    <td>{{registro.cClave | uppercase}}</td>
					                    <td>{{registro.cDescripcion | uppercase}}</td>
					                    <td ng-show="false">{{registro.nId }}</td>
					              </tr>
				                </tbody>                
				            </table>

			            	<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registrosAbono.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
		            	</md-data-table-container>   
			        </md-card layout-wrap>
		        </md-whiteframe>


		        <!--  CUENTAS CARGO -->

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selectedCargo.length==0 && !altaCargo && !editaCargo">		
			  			<section layout-align="start center" flex ng-if="registros.length > 0">	
				           	<md-input-container class="form-paciente" flex="50">
				           		<label>BUSCAR</label>
				           		<input maxlength="30" ng-model="dato.buscarCargo" ng-change="filtraTablaCargo(dato.buscarCargo)" capitalize>
				           	</md-input-container>               	
					    </section>	

					    <md-input-container class="form-item">
				            <md-button class="md-icon-button md-primary" ng-click="insertarCargo()" aria-label="Insertar registro">
				            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
				            </md-button>
				        </md-input-container>
					</div>	

					<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="left center" ng-if="altaCargo || editaCargo">
						<form name="addForm" ng-submit="guardarCargo()" ng-if="altaCargo" flex>
						<form name="addForm" ng-submit="actualizarCargo()" ng-if="editaCargo" flex>
						  	<section layout="row" layout-sm="column">
						  		<!--APARTADO PARA AGREGAR UNA CUENTA-->
						  		<md-input-container  class="form-item" flex="20">
						            <label>*CLAVE</label>
						            <input ng-model="datos.claveCargo"  capitalize required ng-disabled="editaCargo">
							    </md-input-container>

						        <md-input-container  class="form-item" flex>
						            <label>*DESCRIPCIÓN</label>
						            <input ng-model="datos.nombreCargo"  capitalize required>
						        </md-input-container>

						        <md-input-container  class="form-item" flex ng-show="false">
						            <label>ID</label>
						            <input ng-model="datos.nIdCargo">
						        </md-input-container>
							</section>  

							<section layout="row" layout-sm="column" layout-align="end center" ng-show="altaCargo || editaCargo">
							    <md-button class="md-raised md-primary" type="submit" ng-if="altaCargo">GUARDAR</md-button>
							    <md-button class="md-raised md-primary" type="submit" ng-if="editaCargo">ACTUALIZAR</md-button>
							    <md-button class="md-raised" type="button" ng-click="cancelarCargo()">CANCELAR</md-button>
						    </section>  
					    </form>	
					</div>

					<md-card layout-wrap>
						<md-toolbar >
							<section layout="row" layout-align="center center">
								<br>CUENTAS DE CARGO
				            </section>
			        	</md-toolbar>

			        	<md-data-table-toolbar class="alternate" ng-show="selectedCargo.length && !altaCargo && ! editaCargo">
						    <md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'C')" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>

				            <md-button class="md-icon-button md-primary" ng-click="editRowCargo()" ng-if="selectedCargo.length == 1" aria-label="Edita registro seleccionado">
				               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
				            </md-button>
				        </md-data-table-toolbar>

						<md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selectedCargo"  md-progress="deferred">
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                    <th width="30%" name="CLAVE" order-by="cDescripcion"></th>
				                    <th width="30%" name="DESCRIPCIÓN" order-by="cDescripcion"></th>
				                    <th width="30%" name="ID" ng-show="false"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registrosCargo | filter:buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
					                    <td>{{registro.cClave | uppercase}}</td>
					                    <td>{{registro.cDescripcion | uppercase}}</td>
					                    <td ng-show="false">{{registro.nId }}</td>
					              </tr>
				                </tbody>                
				            </table>

			            	<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registrosCargo.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
		            	</md-data-table-container>   
			        </md-card layout-wrap>
				</md-whiteframe>			  
			</div>
    	</section> 


	</md-card-content>

</md-card>	


