<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('D')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selected.length==0 && !alta && !edita && !ver">		
  			<section layout-align="start center" flex>	
	           	<md-input-container class="form-paciente" flex="50">
	           		<label>BUSCAR</label>
	           		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
	           	</md-input-container>               	
		    </section>	

		    <md-input-container class="form-item">
	            <md-button class="md-icon-button md-primary" ng-click="insertar()" aria-label="Insertar registro">
	            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
	            </md-button>
	        </md-input-container>
		</div>	

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="left center" ng-if="alta || edita || ver">
			<form name="addForm" ng-submit="guardar('D')" ng-if="alta" flex>
			<form name="addForm" ng-submit="actualizar('D')" ng-if="edita" flex>
			<form name="addForm" ng-if="ver" flex>	
			  	<section layout="row" layout-sm="column">
			  		<!--APARTADO PARA AGREGAR UN DEPARTAMENTO-->
			  		<md-input-container  class="form-item" flex>
			            <label>*NOMBRE</label>
			            <input ng-model="datosRegistro.C_DESCRIPCION"  capitalize required ng-disabled="ver">
			        </md-input-container>

			  		<md-input-container class="form-item"  flex="15">
			         	<label>*TIPO</label>
				        <md-select  name="C_CLAVE" ng-model="datosRegistro.C_CLAVE" class="form-item"  ng-disabled="ver">
			                <md-option ng-value="0">SUBALMACEN</md-option>
			                <md-option ng-value="1">GENERAL</md-option>
			            </md-select>
			        </md-input-container>

			        <md-input-container  class="form-item" flex>
			            <label>*UBICACIÓN</label>
			            <input ng-model="datosRegistro.C_UBICACION"  capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container class="form-item"  flex="15">
			         	<label>*ESTATUS</label>
				        <md-select  name="sEstatusRegistro" ng-model="datosRegistro.sEstatusRegistro" class="form-item"  ng-disabled="ver">
			                <md-option ng-value="1">ACTIVO</md-option>
			                <md-option ng-value="0">BAJA</md-option>
			            </md-select>
			        </md-input-container>
			    </section>    

				<section layout="row" layout-sm="column" layout-align="end center" ng-show="alta || edita || ver">
					<div ng-if="!ver">
					    <md-button class="md-raised md-primary" type="submit" ng-if="alta">GUARDAR</md-button>
					    <md-button class="md-raised md-primary" type="submit" ng-if="edita">ACTUALIZAR</md-button>
					    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					</div>  

					<div ng-if="ver">
						<md-button class="md-raised" type="button" ng-click="habilitaRegistro();">EDITAR</md-button>
						<md-button class="md-raised" type="button" ng-click="cancelar()">CERRAR</md-button>
					</div>    
			    </section>  
		    </form>	
		</div>		

		<section layout="column"  layout-align="left center">   			
	        <md-data-table-toolbar class="alternate" ng-show="selected.length && !alta && ! edita && !ver">
			    <md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'P')" aria-label="Elimina registro(s) seleccionado(s)">
	               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
	            </md-button>

	            <md-button class="md-icon-button md-primary" ng-click="editRowDepartamento()" ng-if="selected.length == 1" aria-label="Edita registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
	            </md-button>

	            <!--md-button class="md-icon-button md-primary" ng-click="verDepartamento()" ng-if="selected.length == 1" aria-label="Ver registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_visibility_black_18px.svg"></md-icon> 
	            </md-button-->
	        </md-data-table-toolbar>
	        

	        <md-data-table-container>
	            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                  <tr style="background-color:#00b5e2; text-align: center">
	                    <th name="NOMBRE"></th>
	                    <th name="TIPO"></th>
	                    <th name="UBICACIÓN"></th>
	                    <th name="ESTATUS"></th>
	                  </tr>
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn">
		                    <td>{{registro.C_DESCRIPCION}}</td>
		                    <td>{{registro.C_TIPO_ALMACEN}}</td>
		                    <td>{{registro.C_UBICACION}}</td>
		                    <td>{{registro.C_ESTATUS}}</td>
		              </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 


	</md-card-content>

</md-card>	

