<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('G')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selected.length==0 && !alta && !edita">		
  			<!--cat-busqueda ng-change="change()" ng-model="buscar" click="insertar()"></cat-busqueda-->

  			<section layout-align="start center" flex >	
	           	<md-input-container class="form-paciente" flex="50">
	           		<label>BUSCAR</label>
	           		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
	           	</md-input-container>               	
		    </section>	

		    <md-input-container class="form-item">
	            <md-button class="md-icon-button md-primary" ng-click="insertarGrupo()" aria-label="Insertar registro">
	            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
	            </md-button>
	        </md-input-container>
	    </div>	

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="alta || edita">
			<form name="registraForm" ng-submit="guardar('G')" ng-if="alta" flex>
			<form name="registraForm" ng-submit="actualizar('G')" ng-if="edita" flex>
				<section layout="row" layout-sm="column">
				  	<md-input-container  flex class="form-item">
			            <label>*NOMBRE DEL GRUPO</label>
			            <input name="concepto" ng-model="datosRegistro.cDescripcion" required capitalize>
			      	</md-input-container>


					<md-input-container  flex="20"  class="form-item">
			         	<label>*CUENTA A ABONO</label>
				        <md-select  name="cuentaAbono"  ng-model="datosRegistro.nfCuentaAbono" class="form-item">
			                <md-option ng-value="abono.nId"  ng-repeat="abono in catCuentaAbono">{{abono.cClave}} - {{abono.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>

			      	<md-input-container  flex="20"  class="form-item">
			        	<label>*CUENTA A CARGO</label>
				        <md-select  name="cuentaCargo" ng-model="datosRegistro.nfCuentaCargo" class="form-item" >
			                <md-option ng-value="cargo.nId"  ng-repeat="cargo in catCuentaCargo">{{cargo.cClave}} - {{cargo.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>
		        </section>

				<section layout="row" layout-sm="column" layout-align="end center" ng-show="alta || edita">
				    <md-button class="md-raised md-primary" type="submit" ng-if="alta">GUARDAR</md-button>
				    <md-button class="md-raised md-primary" type="submit" ng-if="edita">ACTUALIZAR</md-button>
				    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
			    </section>  
		    </form>	
		</div>		

		<section layout="column"  layout-align="left center">   			
	        <md-data-table-toolbar class="alternate" ng-show="selected.length && !alta && ! edita">
			    <md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'G')" aria-label="Elimina registro(s) seleccionado(s)">
	               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
	            </md-button>

	            <md-button class="md-icon-button md-primary" ng-click="editRowGrupo()" ng-if="selected.length == 1" aria-label="Edita registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
	            </md-button>
	        </md-data-table-toolbar>
	        

	        <md-data-table-container>
	            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                	<tr>
	                		<th width="10%" numeric name="ID"></th>
		                    <th name="NOMBRE" order-by="cDescripcion"></th>
		                    <th name="CUENTA ABONO" order-by="cDescripcion"></th>
		                    <th name="CUENTA A CARGO" order-by="cDescripcion"></th>
	                 	</tr>
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                <td>{{registro.nId}}</td>
	                    <td>{{registro.cDescripcion | uppercase}}</td>
	                    <td>{{registro.NFABONODESC | uppercase}}</td>    		                    
	                    <td>{{registro.NFCARGODESC | uppercase}}</td>
	                  </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 


	</md-card-content>

</md-card>	