<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('P')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" ng-if="selected.length==0 && !alta && !edita && !ver">		
  			<section layout-align="start center" flex>	
	           	<md-input-container class="form-paciente" flex="50">
	           		<label>BUSCAR</label>
	           		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
	           	</md-input-container>               	
		    </section>	

		    <md-input-container class="form-item">
	            <md-button class="md-icon-button md-primary" ng-click="insertar()" aria-label="Insertar registro">
	            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
	            </md-button>
	        </md-input-container>
		</div>	

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="left center" ng-if="alta || edita || ver">
			<form name="registraForm" ng-submit="guardar('P')" ng-if="alta" flex>
			<form name="registraForm" ng-submit="actualizar('P')" ng-if="edita" flex>
			<form name="registraForm" ng-if="ver" flex>	
			  	<section layout="row" layout-sm="column">
			  		<!--APARTADO PARA AGREGAR UN PROVEEDOR-->
			  		<md-input-container  class="form-item" flex="10">
			            <label>*CLAVE</label>
			            <input ng-model="datosRegistro.C_CLAVE"  capitalize required ng-disabled="ver">
				    </md-input-container>

			        <md-input-container  class="form-item" flex>
			            <label>*NOMBRE</label>
			            <input ng-model="datosRegistro.C_DESCRIPCION"  capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex="15">
			            <label>*RFC</label>
			            <input name="rfc" ng-model="datosRegistro.C_RFC" capitalize ng-pattern="/^(([A-Za-z]{1}[AEIOUaeiou]{1}[A-Za-z]{2})|([A-Za-z]{3}))[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[A-Za-z]{2}[0-9]{1}$/" maxlength="18" required ng-disabled="ver">
			            <div ng-show="registraForm.rfc.$dirty && registraForm.rfc.$invalid" ng-messages="registraForm.rfc.$error">
					       	<div ng-message="pattern">NO CORRESPONDE AL FORMATO DEL RFC</div>
					    </div>
			        </md-input-container>			       

			        <md-input-container  class="form-item" flex>
			            <label>*DOMICILIO - CALLE</label>
			            <input ng-model="datosRegistro.C_DIRECCION"  capitalize required ng-disabled="ver">
			        </md-input-container>
				</section>  

				<section layout="row" layout-sm="column">
					<md-input-container  class="form-item" flex>
			            <label>*COLONIA</label>
			            <input ng-model="datosRegistro.C_COLONIA"  capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex="10">
			            <label>*C.P.</label>
			            <input ng-model="datosRegistro.N_CODIGO_POSTAL" maxlength="5" ng-pattern="/^\d{5}$/" capitalize required ng-disabled="ver">
			        </md-input-container>

			        <md-input-container  class="form-item" flex="10">
			            <label>*MUNICIPIO</label>
			            <input ng-model="datosRegistro.C_MUNICIPIO"  capitalize required ng-disabled="ver">
			        </md-input-container>
			        
			  		<md-input-container   class="form-item"  flex="15">
			         	<label>*ESTADO</label>
				        <md-select  name="estado" ng-model="datosRegistro.NF_ENTIDAD_FEDERATIVA" class="form-item"  ng-disabled="ver">
			                <md-option ng-value="edo.ID"  ng-repeat="edo in catEstados">{{edo.cDescripcion | uppercase}}</md-option>
			            </md-select>
			        </md-input-container>

			        <md-input-container flex class="form-item form-item-right">
			          	<label>*CORREO ELECTRÓNICO</label>
			          	<input class="form-item form-item-right" type="email" name="email" ng-model="datosRegistro.C_EMAIL" capitalize maxlength="60" required ng-disabled="ver">
			        </md-input-container>

				</section>  

				<section layout="row" layout-sm="column" >					
					<md-input-container flex class="form-item form-item-right">
				        <label>TELÉFONO 1</label>
				        <input name="telefono1" ng-model="datosRegistro.C_TELEFONO" maxlength="10" ng-pattern="/^([1-9][0-9]{6})|([1-9][0-9]{9})$/" ng-disabled="ver">
				        <div ng-show="registraForm.telefono1.$dirty && registraForm.telefono1.$invalid" ng-messages="registraForm.telefono1.$error">
					       	<div ng-message="pattern">DEBE SER DE 7 Ó 10 DÍGITOS.</div>
					    </div>
			        </md-input-container>

			        <md-input-container flex class="form-item form-item-right">
				        <label>EXTENSIÓN</label>
				        <input name="extension1" ng-model="datosRegistro.N_EXTENSION" maxlength="5" ng-pattern="/^([1-9][0-9]{3,4})$/" ng-disabled="ver">
				        <div ng-show="registraForm.extension1.$dirty && registraForm.extension1.$invalid" ng-messages="registraForm.extension1.$error">
					       	<div ng-message="pattern">DEBE SER DE 4 Ó 5 DÍGITOS.</div>
					    </div>
			        </md-input-container>

			        <md-input-container flex class="form-item form-item-right">
				        <label>TELÉFONO 2</label>
				        <input name="telefono2" ng-model="datosRegistro.C_TELEFONO2" maxlength="10" ng-pattern="/^([1-9][0-9]{9})|([1-9][0-9]{6})$/" ng-disabled="ver">
				        <div ng-show="registraForm.telefono2.$dirty && registraForm.telefono2.$invalid" ng-messages="registraForm.telefono2.$error">
					       	<div ng-message="pattern">DEBE SER DE 7 Ó 10 DÍGITOS.</div>
					    </div>
			        </md-input-container>

			        <md-input-container flex class="form-item form-item-right">
				        <label>EXTENSIÓN</label>
				        <input name="extension2" ng-model="datosRegistro.N_EXTENSION2" maxlength="5" ng-pattern="/^([1-9][0-9]{3,4})$/" ng-disabled="ver">
				        <div ng-show="registraForm.extension2.$dirty && registraForm.extension2.$invalid" ng-messages="registraForm.extension2.$error">
					       	<div ng-message="pattern">DEBE SER DE 4 Ó 5 DÍGITOS.</div>
					    </div>
			        </md-input-container>

			        <!--md-switch ng-model="datos.activo" class="md-primary" aria-label="Switch Proveedor Activo" ng-disabled="ver">ACTIVO</md-switch-->
				</section>  

				<section>  
					<br>
					NOTA: SI EL NÚMERO DE TELÉFONO O LA EXTENSION ESTA MAL ESCRITO NO SE GUARDARA
				</section>  

				<section layout="row" layout-sm="column" layout-align="end center" ng-show="alta || edita || ver">
					<div ng-if="!ver">
					    <md-button class="md-raised md-primary" type="submit" ng-if="alta">GUARDAR</md-button>
					    <md-button class="md-raised md-primary" type="submit" ng-if="edita">ACTUALIZAR</md-button>
					    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					</div>  

					<div ng-if="ver">
						<md-button class="md-raised" type="button" ng-click="habilitaRegistro();">EDITAR</md-button>
						<md-button class="md-raised" type="button" ng-click="cancelar()">CERRAR</md-button>
					</div>    
			    </section>  
		    </form>	
		</div>		

		<section layout="column"  layout-align="left center">   			
	        <md-data-table-toolbar class="alternate" ng-show="selected.length && !alta && ! edita && !ver">
			    <md-button class="md-icon-button md-primary" ng-click="showConfirm($event,'P')" aria-label="Elimina registro(s) seleccionado(s)">
	               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
	            </md-button>

	            <md-button class="md-icon-button md-primary" ng-click="editRowProveedor()" ng-if="selected.length == 1" aria-label="Edita registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
	            </md-button>

	            <md-button class="md-icon-button md-primary" ng-click="verProveedor()" ng-if="selected.length == 1" aria-label="Ver registro seleccionado">
	               <md-icon md-svg-src="images/icons/svg/ic_visibility_black_18px.svg"></md-icon> 
	            </md-button>
	        </md-data-table-toolbar>
	        

	        <md-data-table-container>
	            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                  <tr style="background-color:#00b5e2; text-align: center">
	                    <th name="CLAVE"></th>
	                    <th name="NOMBRE"></th>
	                    <th name="R.F.C."></th>
	                    <th name="DIRECCION"></th>
	                    <th name="TELEFONO"></th>
	                    <th name="EXTENSION"></th>
	                    <th name="E-MAIL"></th>	                  
	                  </tr>
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn">
		                    <td>{{registro.C_CLAVE | uppercase}}</td>
		                    <td>{{registro.C_DESCRIPCION}}</td>
		                    <td>{{registro.C_RFC}}</td>
		                    <td>{{registro.C_DIRECCION}} {{registro.C_COLONIA}}</td>
		                    <td>{{registro.C_TELEFONO}}</td>
		                    <td>{{registro.N_EXTENSION}}</td>		                    
		                    <td>{{registro.C_EMAIL}}</td>
	                  </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 


	</md-card-content>

</md-card>	
