<md-dialog aria-label="ACERCA DE"  ng-cloak ng-controller="RootCtrl">
  <form>
    <md-dialog-content>
    	<div  layout="column"  layout-align="center center"   >
            <div class="md-dialog-content">
                <img src="images/Escudo_y_Logotipo_Color_Positivo_2.png"  height="75" width="300" >
            </div>
            <div style="font-size: small">Dirección de Innovacion y Transferencia de Conocimiento</div >
            <div style="font-size: small">Fabrica de Software</div >
            <div style="font-size: small"> Derechos reservados 2016, Expediente Clínico Electrónico</div >
            <div ><i>VERSIÓN {{version}}</i></div> 
        </div>
    </md-dialog-content>
  </form>
</md-dialog>