<md-dialog aria-label="CATALOGO CIE 10" >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>CATALOGO CIE 09</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-width:800px;max-height:810px; ">


           <section layout="row" layout-sm="column" >
                <md-input-container flex>
                  <label>CAPITULOS</label>
                  <md-select name="LIST_CAPITULOS" ng-change="buscarCie09(1)" ng-model="CapituloId" required>
                      <md-option ng-repeat="capitulo in lista.CATALOGO_CAPITULOS" value="{{$index}}" >{{capitulo.C_DESCRIPCION | uppercase}}</md-option>
                  </md-select>
                </md-input-container>
            </section>


            <section>
              <md-input-container flex class="form-item" flex>
                  <label>SECCIONES</label>
                  <md-select name="LIST_SECCIONES" aria-label="SECCIONES" ng-change="buscarCie09(2)" ng-model="SeccionId" required>
                      <md-option ng-repeat="seccion in CIE_09_seccion" value="{{$index}}" >{{seccion.C_DESCRIPCION | uppercase}}</md-option>
                  </md-select>
              </md-input-container>
            </section>


            <section layout="row" layout-sm="column" >
               <md-input-container flex class="form-item" >
                  <label>CATEGORIAS</label>
                  <md-select name="nomCuestionario" aria-label="TIPOS DE CUESTIONARIO" ng-change="buscarCie09(3)"  ng-model="categoriaId" required>
                      <md-option ng-repeat="categoria in CIE_09_categoria"  value="{{$index}}" >{{categoria.C_DESCRIPCION | uppercase}}</md-option>
                  </md-select>
              </md-input-container>
            </section>

            <section layout="row" layout-sm="column" >
               <md-input-container flex class="form-item" >
                  <label>DIAGNOSTICO</label>
                  <md-select name="diagnostico_cie9" aria-label="TIPOS DE CUESTIONARIO" ng-change="buscarCie09(4)"  ng-model="dcie09Id" required>
                      <md-option ng-repeat="cie in CIE_09_List"  value="{{$index}}" >{{cie.C_DESCRIPCION | uppercase}}</md-option>
                  </md-select>
              </md-input-container>
            </section>

    </md-dialog-content>
      <div class="md-actions" layout="row">
        <md-button ng-click="dialogCancel()">
          CANCELAR
        </md-button>
        <span flex></span>
        <md-button ng-click="dialogGuardar(dcie09Id)" ng-disabled="enableSeleccionar">
         SELECCIONAR DIAGNOSTICO
        </md-button>

    </div>
  </form>
</md-dialog>
