<div layout="row" layout-align="center center">
 <div  flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
	<md-card layout-wrap>
		<md-toolbar md-scroll-shrink>
        	<div class="md-toolbar-tools"  layout-align="center center">
          		<h3 >
            		<span>CONSULTAR DERECHO HABIENTE</span>
          		</h3>
        	</div>
      	</md-toolbar>
      	<form ng-controller="ConsultapacienteCtrl as ctrl">
			<md-card-content>
				<section layout="row" layout-md="layout" column-sm="column" layout-align="start center">
		      		<md-autocomplete
			          ng-disabled="ctrl.isDisabled"
			          md-no-cache="ctrl.noCache"
			          md-selected-item="ctrl.selectedItem"
			          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			          md-search-text="ctrl.searchText"
			          md-selected-item-change="ctrl.selectedItemChange(item)"
			          md-items="item in ctrl.querySearch(ctrl.searchText)"
			          md-item-text="item.display"
			          md-min-length="3"
			          md-floating-label="NOMBRE COMPLETO"
			          flex="33"
			          class="form-item"
			          >
			        	<md-item-template>
			          		<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
			        	</md-item-template>
			      	</md-autocomplete>
			      	<md-select placeholder="ESPECIALIDAD" ng-model="filter" md-on-open="loadFilters()" class="form-item">
				      <md-option ng-value="filter" ng-repeat="filter in filters">{{filter.name}}</md-option>
				    </md-select>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" >BUSCAR</md-button>
		      	</div>
	  		</md-card-content>
	  	</form>
	  	<md-data-table-container>
		  <table md-data-table md-row-select="selected" md-progress="deferred">
		    <thead md-order="query.order" md-trigger="onOrderChange">
		      <tr>
		        <th name="Dessert" unit="100g serving" order-by="name"></th>
		        <th numeric name="Calories" order-by="calories"></th>
		        <th numeric name="Fat" unit="g" order-by="fat"></th>
		        <th numeric name="Carbs" unit="g" order-by="carbs"></th>
		        <th numeric name="Sodium" unit="mg" order-by="sodium"></th>
		        <th numeric name="Calcium" unit="%" order-by="calcium"></th>
		        <th numeric name="Iron" unit="%" order-by="iron"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="dessert in desserts" ng-class="md-warn">
		        <td>{{dessert.name}}</td>
		        <td>{{dessert.calories}}</td>
		        <td>{{dessert.fat | number: 1}}</td>
		        <td>{{dessert.carbs}}</td>
		        <td>{{dessert.sodium}}</td>
		        <td show-unit>{{dessert.calcium}}</td>
		        <td show-unit>{{dessert.iron}}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
      </md-card>
  </div>
</div>