<div layout="row" layout-align="center center" >
	<div  flex-md="66" flex-sm="99" flex-gt-md="33">
		<md-card class="md-whiteframe-24dp">

		<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools"  layout-align="center center">
			<h3 >
				<span>INICIAR SESIÓN</span>
			</h3>
		</div>
	</md-toolbar>

	<md-card-content>

	<form name="loginform" ng-submit="iniciarSesion()">
		<div layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-messages="'esta mal esto'">
			<md-input-container flex>
			<md-icon md-svg-src="images/icons/svg/ic_person_black_18px.svg" class="name"></md-icon>
			<input type="text" placeholder="USUARIO (REQUERIDO)" ng-required="true" ng-model="user.name" >
			<div ng-messages="loginform.user.name.$error">
				<div ng-message="required">This is required.</div>
				<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
			</div>
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column" layout-align="center center"  ng-messages="projectForm.clientName.$error" >
		<md-input-container flex>
		<md-icon md-svg-src="images/icons/svg/ic_lock_black_18px.svg" class="name"></md-icon>
		<input type="password" placeholder="CONTRASEÑA (REQUERIDA)" ng-required="true" ng-model="user.password">
	</md-input-container>
</div>
<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	<md-switch class="md-primary" ng-model="user.recordar" md-no-ink aria-label="Switch No Ink" ng-true-value="true" ng-false-value="false">RECORDARME
</md-switch>
</div>




<div layout="row" class="md-actions" layout-sm="column" layout-align="center center" layout-wrap flex="99">

	<md-button class="md-raised md-primary" type="submit">Iniciar Sesión</md-button>
</div>
</form>

</md-card-content>
</md-card>
</div>
</div>
