
<!--<h3 class="md-title menu-title"> Menu de navegación</h3>-->
<md-divider ></md-divider>

<md-toolbar class="md-theme-indigo">
	<div  layout="row"  style="padding: 40px 20px; margin: 0px 0px" layout-align="start start" >
	 	<img  height="75"  src="/images/escudo_botton.png" class="footerImg">
    </div>
</md-toolbar>

<ul class="side-menu" >
	<li ng-repeat="section in vm.menu.sections | filter: ('LINK' || 'TOOGLE')" class="parent-list-item"
		ng-class="{'parentActive' : vm.isSectionSelected(section)}">        
		<h4 class="menu-heading" layout-align="center center" ng-if="section.tipo === 'heading'"
			id="heading_{{ section.desc | nospace }}">
			{{section.desc}}
		</h4>
		<menu-link section="section" ng-if="section.tipo === 'link' || section.tipo === 'LINK'"></menu-link>
		<menu-toggle section="section" ng-if="section.tipo === 'toggle' || section.tipo === 'TOOGLE'"></menu-toggle>
	</li>
</ul>


