<div layout="row" layout-align="center center" ng-show="!loading">
  <div  flex-md="66" flex-sm="99" flex-gt-md="33">
    <md-card layout-wrap>
      <card-toolbar title="SELECCIÓN DE PERFIL">
      </card-toolbar>
 
      <md-card-content>
        <div  layout="column" layout-align="center center" style="padding:40px">
          <md-content class="md-padding" layout="column">
      
                  <md-radio-group ng-model="perfil" class="md-primary">
                    <md-radio-button ng-repeat="perfilRadio in perfiles"
                                     ng-value="perfilRadio" class="text-capitalize">
                      {{perfilRadio.desc}}
                    </md-radio-button>
                  </md-radio-group>
           
          </md-content>  
        </div>

        <div layout="row" class="md-actions" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="ingresar()">Ingresar</md-button>
        </div>
      </md-card-content>  
    </md-card>

  </div>
</div>
</div>
