<!-- Version al 04/02/2015 6:19 -->
<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-init="obtenBitacoraDeEstudios()">
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout >

					<div layout="row" layout-sm="column" layout-align="center center" layout-wrap  flex>
						<md-input-container flex class="form-item form-item-right">
				          <label>NOMBRE DEL PACIENTE</label>
				          <input maxlength="50" name="C_NOMBREPACIENTE" ng-model="paciente.C_NOMBRE"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize readonly>					          
				        </md-input-container>
				        
				        <md-input-container flex class="form-item form-item-right">
				          <label>NO. EXPEDIENTE</label>
				          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE_SIU" readonly>
				        </md-input-container>	

				        <md-input-container flex class="form-item form-item-right">
				          <label>ID. PACIENTE</label>
				          <input name="ID" ng-model="paciente.NP_ID" readonly>
				        </md-input-container>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" layout-wrap  flex>
						<md-input-container flex class="form-item form-item-right">
						    <label>FECHA DE NACIMIENTO</label>
						    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" readonly>
						</md-input-container>

						<md-input-container flex class="form-item form-item-right">
				          <label>EDAD</label>
				          <input name="EDAD" ng-model="paciente.EDAD" readonly>
				        </md-input-container>
					
						<md-input-container flex class="form-item form-item-right" >
				          
					        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO"  disabled>
						      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>

						<md-input-container flex class="form-item" readonly>
				          <label>CURP</label>
				          <input name="C_CURP" ng-model="paciente.C_CURP" readonly>				          
				        </md-input-container>					  	
					</div>
				</div>	
			</md-whiteframe>
			<BR>

			<div class="tabsdemoDynamicHeight" >	
				<md-content class="md-padding">
					<md-tabs md-dynamic-height="" md-selected="triage.selectedIndex">
			          	<md-tab label="NÚMERO DE CONTROL">
							<md-whiteframe class="md-whiteframe-1dp" ng-repeat="item in tabEstudiosAgenda" ng-if="tieneEstudiosAgenda">
								<div layout="column" layout >					
									<est-lab ng-model="item" is-agenda="isAgenda"> </est-lab>					
								</div>
							</md-whiteframe>

							<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap  class="bottom-block" ng-if="!tieneEstudiosAgenda">
					        	<md-input-container  class="form-item">						         	
						         	<label class="md-display-1">NO CUENTA CON ESTUDIOS SOLICITADOS</label>		
						        </md-input-container> 
						    </section>

					        <div layout="row" layout-align="end center">
						      	<md-button class="md-raised md-primary" type="button" ng-click="agendarEstudios()" 	  ng-if="tieneEstudiosAgenda">ASIGNAR NÚMERO</md-button>
						      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					      	</div>
			          	</md-tab>

			          	<md-tab label="RESULTADOS">
							<md-whiteframe class="md-whiteframe-1dp" ng-repeat="item in tabEstudiosRegistro" ng-if="tieneEstudiosRegistro">
								<div layout="column" layout >					
									<est-lab ng-model="item" is-agenda="!isAgenda"> </est-lab>					
								</div>
							</md-whiteframe>

							<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap class="bottom-block" ng-if="!tieneEstudiosRegistro">
					        	<md-input-container  class="form-item">
						         	<label class="md-display-1" ng-if="isAgenda">NO CUENTA CON ESTUDIOS AGENDADOS</label>		
						        </md-input-container> 
						    </section>

					        <div layout="row" layout-align="end center">
						      	<md-button class="md-raised md-primary" type="button" ng-click="registraResultados()" ng-if="tieneEstudiosRegistro">REGISTRAR</md-button>
						      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					      	</div>
			          	</md-tab>


		            </md-tabs> 
	            </md-content>	
	        </div>    
	
			
		</form>	
	</md-card-content>
</md-card>
