<md-dialog style="min-width:530px">
  <md-card  class="md-whiteframe-6dp" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>DETALLES DE ESTUDIO</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<md-card-content >
		<section  layout="colum">
			<md-input-container flex class="form-item form-item-right">
		        <label>RESULTADO</label>
			    <textarea name="C_RESULTADO_SERVICIO" ng-model="estudio.C_RESULTADO_SERVICIO" disabled />
			</md-input-container>
			<md-input-container flex class="form-item form-item-right" >
		        <label>INTERPRETACION</label>
				<textarea name="C_INTERPERTACION_SERVICIO" ng-model="estudio.C_INTERPERTACION_SERVICIO" disabled />
			</md-input-container>
	    </section>
	</md-card-content>
</md-card>
</md-dialog>