
<md-input-container  class="form-item" flex="30" >
    <label>DIAGNÓSTICO PRINCIPAL</label>
    <textarea maxlength="50000" md-maxlength="50000"   ng-model="datos.diagnostico.descripcionPrincipal" readonly/>
</md-input-container>

<md-input-container  class="form-item" flex="30">
        <label>DIAGNÓSTICO SECUNDARIO</label>
        <textarea  style="height:200px;overflow-y: scroll;" ng-model="datos.diagnostico.descripcionSecundario"  rows="10" cols="50" />
</md-input-container>

