<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true" ng-init="cargaDatos()" title="EXPEDIENTE CLÍNICO ELECTRÓNICO">
	</card-toolbar>
	<md-card-content>
	    <section layout="" layout-sm="column" layout-wrap>
		    <md-input-container flex class="form-item form-item-right">
		        <label>ID</label>
		        <input maxlength="50" name="NP_ID" ng-model="paciente.NP_ID" capitalize disabled>
		    </md-input-container>
		    <!--md-input-container flex class="form-item form-item-right">
		        <label>EXPEDIENTE</label>
		        <input maxlength="50" name="NP_EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" capitalize disabled>
		    </md-input-container-->
		    <md-input-container flex class="form-item form-item-right">
		        <label>EXPEDIENTE</label>
		        <input maxlength="50" name="NP_EXPEDIENTE_SIU" ng-model="paciente.NP_EXPEDIENTE_SIU" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>NOMBRE</label>
		        <input maxlength="50" name="C_NOMBRE" ng-model="paciente.nombreCompleto"  capitalize disabled>
		    </md-input-container>
		</section>
		<section layout="" layout-sm="column" layout-wrap>
			<md-input-container flex class="form-item form-item-right">
		        <label>CURP</label>
		        <input maxlength="50" name="C_CURP" ng-model="paciente.C_CURP" capitalize disabled>
		    </md-input-container>
			<md-input-container flex class="form-item form-item-right">
		        <label>FECHA DE NACIMIENTO</label>
		        <input maxlength="50" name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>EDAD</label>
		        <input maxlength="50" name="N_EDAD" ng-model="paciente.N_EDAD" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>GÉNERO</label>
		        <input maxlength="50" name="NF_SEXO" ng-model="paciente.NF_SEXO" capitalize disabled>
		    </md-input-container>
		</section>
		<section layout="row" layout-sm="column" layout-align="center center" ng-show="historicoExpediente.length > 0">
        <div style="max-width: 600px">

        <section layout="row" layout-xs="column" layout-align="start center" layout-wrap flex >	
           	<md-input-container class="form-paciente" flex>
           		<label>BUSCAR</label>
           		<input ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
           	</md-input-container>               	
		</section>
        	

            <md-data-table-container>
                <table md-data-table >
                    <thead md-order="query.order" md-trigger="onOrderChange">
                      <tr>
                      	<th></th>
                      	<th order-by="FECHA" name="FECHA"></th>
                        <th name="PADECIMIENTO"></th>
                        <th name="ESPECIALIDAD"></th>
                        <th name="VER"> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order
                              | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="{'selectstyle':wasSelected($index)}">
                            <td>{{$index + 1}}</td>
                            <td style="text-align: center;">{{parseFechaSinHH(registro.T_FECHA_CMD)}}</td>
                            <td>{{registro.C_DESCRIPCION_CIE_10}}</td>
                            <td>{{registro.C_ESPECIALIDAD}}</td>
                            
                            <td style="text-align: center;" ng-if="true">
                                <md-button class="md-fab md-primary md-hue-2" ng-click="verExpediente(registro); rowSelection($index);">
                                    <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                                </md-button>
                            </td>
                      </tr>
                    </tbody>
                </table>
                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
            </md-data-table-container>
        </div>
    	</section>

    	<div ng-show="showExpedienteClinico">
	    <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >
	    	<md-tab label="HISTORIA CLÍNICA">
	    	<br>
	    	<div ng-if="historicoHistoriaClinica.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
	    	<section layout="row" layout-sm="column" layout-align="center center" ng-show="historicoHistoriaClinica.length > 0">
	        <div flex="80">
	            <md-data-table-container>
	                <table md-data-table>
	                    <thead md-order="queryHC.order" md-trigger="onOrderChangeHC">
	                      <tr>
	                      	<th></th>
	                        <th name="FECHA" order-by="T_FECHA_CMD"></th>
	                        <th name="PADECIMIENTO" order-by="C_DESCRIPCION_CIE_10"></th>
	                        <th name="VER"></th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <tr md-auto-select ng-repeat="registro in historicoHistoriaClinica | orderBy: queryHC.order
	                              | limitTo: queryHC.limit: (queryHC.page -1 )* queryHC.limit " ng-class="md-warn" >
	                            <td>{{$index + 1}}</td>
	                            <td>{{registro.T_FECHA_CMD}}</td>
	                            <td>{{registro.C_DESCRIPCION_CIE_10}}</td>
	                            <td ng-show="false">{{registro.NP_NOTA_MEDICA}}</td>
	                            <td ng-show="false">{{registro.NP_ESPECIALIDAD}}</td>
	                            <td ng-if="true">
	                                <md-button class="md-fab md-primary md-hue-2" ng-click="verHistoriaClinica(registro)">
	                                    <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
	                                </md-button>
	                            </td>
	                      </tr>
	                    </tbody>
	                </table>
	                <md-data-table-pagination md-limit="queryHC.limit" md-page="query.page" md-total="{{historicoHistoriaClinica.length}}" md-trigger="onOrderChangeHC"></md-data-table-pagination>
	            </md-data-table-container>
	        </div>
	    	</section>

	    	</md-tab>
	    	<md-tab label="CONSULTA EXTERNA"> <!-- Consulta Externa -->
	    		<div ng-if="consultas.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
		    	<md-toolbar class="contentClinico"  ng-click="seleccionar(seccionesConsulta[0])" ng-if="consultas.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesConsulta[0].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesConsulta[0].visible" style="margin: -5px 0px 10px 0px; border:none;" ng-if="consultas.length > 0">
			    	<md-data-table-container>
					  	<table md-data-table>
						    <thead>
					      		<tr>
					      			<th></th>
					        		<th name="FECHA"></th>
					        		<th name="MÉDICO"></th>
					        		<th name="PADECIMIENTO"></th>
					        		<th name="VER DETALLES"></th>
						      	</tr>
						    </thead>
					    	<tbody>
					      		<tr  md-auto-select ng-repeat="consulta in consultas | orderBy: 'T_FECHA_CMD'
						                      | limitTo: queryC.limit: (queryC.page -1 )* queryC.limit" ng-class="md-warn">
					        		<td>{{$index + 1}}</td>
					        		<td>{{parseFecha(consulta.T_FECHA_CMD)}}</td>
					        		<td>{{consulta.CF_MEDICO}}</td>
					        		<td>{{consulta.CIE10_DESCRIPCION}}</td>
					        		<td>
					        			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="detallesConsulta(consulta,1)">
								        	<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
								    	</md-button>
					        		</td>
					      		</tr>
					    	</tbody>
					    </table>
					</md-data-table-container>
					<md-data-table-pagination ng-show="consultas.length>0" md-limit="queryC.limit" md-page="queryC.page" md-total="{{consultas.length}}" ></md-data-table-pagination>
			    </div>
			    <md-toolbar class="contentClinico"  ng-click="seleccionar(seccionesConsulta[1])" ng-if="consultas.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesConsulta[1].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesConsulta[1].visible" style="margin: -5px 0px 10px 0px; border:none;">
			    	<div ng-if = "!isInfo"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
			    	<div ng-if = "isInfo" ficha-ident="notamedica">
			    	</div>
			    </div>
	    	</md-tab>



























	    	<md-tab label="URGENCIAS"> <!-- Módulo de Urgencias  -->
	    		<div ng-if="urgencias.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
	    		<md-toolbar class="contentClinico"  ng-click="seleccionarUrgencias(seccionesUrgencias[0])" ng-if="urgencias.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesUrgencias[0].titulo}}
			        </div>
			    </md-toolbar>
	    		<div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesUrgencias[0].visible" style="margin: -5px 0px 10px 0px; border:none;" ng-if="urgencias.length > 0">
		    		<md-data-table-container>
					  	<table md-data-table>
						    <thead>
					      		<tr>
					      			<th></th>
					        		<th name="FECHA DE INGRESO"></th>
					        		<th name="FECHA DE EGRESO"></th>
					        		<th name="DIAGNÓSTICO DE ENTRADA"></th>
					        		<th name="DIAGNÓSTICO DE SALIDA"></th>
					        		<th name="DETALLES"></th>
						      	</tr>
						    </thead>
					    	<tbody>
					      		<tr md-auto-select ng-repeat="urgencia in urgencias | orderBy: queryU.order
						                      | limitTo: queryU.limit: (queryU.page -1 )* queryU.limit">
					        		<td>{{$index + 1}}</td>
					        		<td>{{parseFecha(urgencia.T_FECHA_CMD_INGRESO)}}</td>
					        		<td>{{parseFecha(urgencia.T_FECHA_CMD_EGRESO)}}</td>
					        		<td>{{urgencia.CIE10_DESCRIPCION_INGRESO}}</td>
					        		<td>{{urgencia.CIE10_DESCRIPCION_EGRESO}}</td>
					        		<td>
					        			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="detallesUrgencia(urgencia)">
								        	<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
								    	</md-button>
					        		</td>
					      		</tr>
					    	</tbody>
					    </table>
					</md-data-table-container>
					<md-data-table-pagination ng-show="urgencias.length>0" md-limit="queryU.limit" md-page="queryU.page" md-total="{{urgencias.length}}" ></md-data-table-pagination>
				</div>
				<md-toolbar class="contentClinico"  ng-click="seleccionarUrgencias(seccionesUrgencias[1])" ng-if="urgencias.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesUrgencias[1].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesUrgencias[1].visible" style="margin: -5px 0px 10px 0px; border:none;">
			    	<div ng-if = "!isInfoUrgencias"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
			    	<div ng-if = "isInfoUrgencias">
			    		<md-data-table-container ng-if="urgenciasCiclo.length > 0">
						  	<table md-data-table>
							    <thead>
						      		<tr>
						      			<th></th>
						        		<th name="TIPO DE NOTA"></th>
						        		<th name="FECHA"></th>
						        		<th name="DIAGNÓSTICO"></th>
						        		<th name="VER DETALLES"></th>
							      	</tr>
							    </thead>
						    	<tbody>
						      		<tr md-auto-select ng-repeat="ciclo in urgenciasCiclo | orderBy: queryU.order
							                      | limitTo: queryU.limit: (queryU.page -1 )* queryU.limit"  ng-class="{'selectstyle':wasSelected2($index)}">
						        		<td>{{$index + 1}}</td>
						        		<td>{{ciclo.CF_TIPO_NOTA}}</td>
						        		<td>{{parseFecha(ciclo.T_FECHA_CMD)}}</td>
						        		<td>{{ciclo.CIE10_DESCRIPCION}}</td>
						        		<td ng-show="false">ciclo.NF_NOTA_MEDICA</td>

						        		<td>
					        			<!-- begin -->
											<md-fab-speed-dial md-open="isOpen" md-direction="rigth" ng-class="selectedMode">
												<md-fab-trigger>
													<md-button aria-label="menu" class="md-fab md-primary">
														<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
													</md-button>
												</md-fab-trigger>

												<md-fab-actions>
													<md-button aria-label="Detalles" class="md-fab md-raised md-mini md-primary" ng-click="detallesConsulta(ciclo,2)">
														<md-tooltip md-direction="letf">DETALLES</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg" aria-label="Detalles"></md-icon>
													</md-button>
													<md-button aria-label="Triage" class="md-fab md-raised md-mini md-primary" ng-click="printTriage(ciclo)" ng-if="ciclo.TRIAGE != undefined">
														<md-tooltip md-direction="letf">TRIAGE</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Triage"></md-icon>
													</md-button>
													<md-button aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary" ng-click="downloadConsentimiento(ciclo)" ng-if="ciclo.CONSENTIMIENTO != undefined">
														<md-tooltip md-direction="letf">CONSENTIMIENTO INFORMADO</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Consentimiento"></md-icon>
													</md-button>
													<md-button aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary" ng-click="downloadEstudio(ciclo)" ng-if="ciclo.ESTUDIO_ECONOMICO != undefined">
														<md-tooltip md-direction="letf">ESTUDIO SOCIO ECONÓMICO</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Estudio socio económico"></md-icon>
													</md-button>
													<md-button ng-if="ciclo.ESTUDIO_ECONOMICO.DIAGNOSTICOS_SOCIALES != undefined" ng-repeat="d in ciclo.ESTUDIO_ECONOMICO.DIAGNOSTICOS_SOCIALES" ng-click="downloadDiagnosticos(d,ciclo.ESTUDIO_ECONOMICO)" aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary"  >
														<md-tooltip md-direction="letf">DIAGNÓSTICOS SOCIALES</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Estudio socio económico"></md-icon>
													</md-button>
													<md-button ng-if="ciclo.HOJAS_ENFERMERIA != undefined" ng-repeat="hojas in ciclo.HOJAS_ENFERMERIA" aria-label="Enfermeria" class="md-fab md-raised md-mini md-primary" ng-click="downloadEnfermeria(hojas)">
														<md-tooltip md-direction="letf">HOJAS DE ENFERMERÍA</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Hojas de enfermería"></md-icon>
													</md-button>
													<md-button ng-if="ciclo.LEGAL != undefined" aria-label="Medicina legal" class="md-fab md-raised md-mini md-primary" ng-click="downloadMedicina(ciclo)">
														<md-tooltip md-direction="letf">MEDICINA LEGAL</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Medicina Legal"></md-icon>
													</md-button>
												</md-fab-actions>
											</md-fab-speed-dial>
											<!-- end -->
										</td>
						      		</tr>
						    	</tbody>
						    </table>
						</md-data-table-container>
						<md-data-table-pagination ng-show="urgenciasCiclo.length>0" md-limit="queryU.limit" md-page="queryU.page" md-total="{{urgenciasCiclo.length}}" ></md-data-table-pagination>
			    	</div>
			    </div>
			    <md-toolbar class="contentClinico"  ng-click="seleccionarUrgencias(seccionesUrgencias[2])" ng-if="urgenciasCiclo.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesUrgencias[2].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesUrgencias[2].visible" style="margin: -5px 0px 10px 0px; border:none;">
			    	<div ng-if="!isNotaEgreso">
				    	<div ng-if = "!isInfoUrgencias"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
				    	<div ng-if = "isInfoUrgencias" ficha-ident="notamedica"></div>
			    	</div>
			    	<div ng-if = "isNotaEgreso" ficha-ident="notaegreso"></div>
			    </div>
	    	</md-tab>
	    	
























	    	<md-tab label="HOSPITALIZACIÓN">	
	    		<div ng-if="hosp.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
	    		<md-toolbar class="contentClinico"  ng-click="seleccionarHosp(seccionesHospitalizacion[0])" ng-if="hosp.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesHospitalizacion[0].titulo}}
			        </div>
			    </md-toolbar>
	    		<div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesHospitalizacion[0].visible" style="margin: -5px 0px 10px 0px; border:none;" ng-if="hosp.length > 0">
		    		<md-data-table-container>
					  	<table md-data-table>
						    <thead>
					      		<tr>
					      			<th></th>
					        		<th name="FECHA DE INGRESO"></th>
					        		<th name="FECHA DE EGRESO"></th>
					        		<th name="DIAGNÓSTICO DE ENTRADA"></th>
					        		<th name="DIAGNÓSTICO DE SALIDA"></th>
					        		<th name="VER DETALLES"></th>
						      	</tr>
						    </thead>
					    	<tbody>
					      		<tr md-auto-select ng-repeat="h in hosp | orderBy: queryU.order
						                      | limitTo: queryU.limit: (queryU.page -1 )* queryU.limit">
					        		<td>{{$index + 1}}</td>
					        		<td>{{parseFecha(h.T_FECHA_CMD_INGRESO)}}</td>
					        		<td>{{parseFecha(h.T_FECHA_CMD_EGRESO)}}</td>
					        		<td>{{h.CIE10_DESCRIPCION_INGRESO}}</td>
					        		<td>{{h.CIE10_DESCRIPCION_EGRESO}}</td>
					        		<td>
					        			<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="detallesHospitalizacion(h)">
								        	<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
								    	</md-button>
					        		</td>
					      		</tr>
					    	</tbody>
					    </table>
					</md-data-table-container>
					<md-data-table-pagination ng-show="hosp.length>0" md-limit="queryU.limit" md-page="queryU.page" md-total="{{hosp.length}}" ></md-data-table-pagination>
				</div>
				<md-toolbar class="contentClinico"  ng-click="seleccionarHosp(seccionesHospitalizacion[1])" ng-if="hosp.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesHospitalizacion[1].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesHospitalizacion[1].visible" style="margin: -5px 0px 10px 0px; border:none;">
			    	<div ng-if = "!isInfoHosp"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
			    	<div ng-if = "isInfoHosp">
			    		<md-data-table-container>
						  	<table md-data-table>
							    <thead>
						      		<tr>
						      			<th></th>
						        		<th name="TIPO DE NOTA"></th>
						        		<th name="FECHA"></th>
						        		<th name="DIAGNÓSTICO"></th>
						        		<th name="VER DETALLES"></th>
							      	</tr>
							    </thead>
						    	<tbody>
						      		<tr md-auto-select ng-repeat="cicloH in hospCiclo | orderBy: queryU.order
							                      | limitTo: queryU.limit: (queryU.page -1 )* queryU.limit"  ng-class="{'selectstyle':wasSelected2($index)}">
						        		<td>{{$index + 1}}</td>
						        		<td>{{cicloH.CF_TIPO_NOTA}}</td>
						        		<td>{{parseFecha(cicloH.T_FECHA_CMD)}}</td>
						        		<td>{{cicloH.CIE10_DESCRIPCION}}</td>
						        		<td ng-show="false">cicloH.NF_NOTA_MEDICA</td>
						        		<td>
					        			<!-- begin -->
											<md-fab-speed-dial md-open="isOpen" md-direction="rigth" ng-class="selectedMode">
												<md-fab-trigger>
													<md-button aria-label="menu" class="md-fab md-primary">
														<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
													</md-button>
												</md-fab-trigger>

												<md-fab-actions>
													<md-button aria-label="Detalles" class="md-fab md-raised md-mini md-primary" ng-click="detallesConsulta(cicloH,2)">
														<md-tooltip md-direction="letf">DETALLES</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg" aria-label="Detalles"></md-icon>
													</md-button>
													<md-button aria-label="Triage" class="md-fab md-raised md-mini md-primary" ng-click="printTriage(cicloH)" ng-if="cicloH.TRIAGE != undefined">
														<md-tooltip md-direction="letf">TRIAGE</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Triage"></md-icon>
													</md-button>
													<md-button aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary" ng-click="downloadConsentimiento(cicloH)" ng-if="cicloH.CONSENTIMIENTO != undefined">
														<md-tooltip md-direction="letf">CONSENTIMIENTO INFORMADO</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Consentimiento"></md-icon>
													</md-button>
													<md-button aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary" ng-click="downloadEstudio(cicloH)" ng-if="cicloH.ESTUDIO_ECONOMICO != undefined">
														<md-tooltip md-direction="letf">ESTUDIO SOCIO ECONÓMICO</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Estudio socio económico"></md-icon>
													</md-button>
													<md-button ng-if="cicloH.ESTUDIO_ECONOMICO.DIAGNOSTICOS_SOCIALES != undefined" ng-repeat="d in cicloH.ESTUDIO_ECONOMICO.DIAGNOSTICOS_SOCIALES" ng-click="downloadDiagnosticos(d,cicloH.ESTUDIO_ECONOMICO)" aria-label="Consentimiento informado" class="md-fab md-raised md-mini md-primary"  >
														<md-tooltip md-direction="letf">DIAGNÓSTICOS SOCIALES</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Estudio socio económico"></md-icon>
													</md-button>
													<md-button ng-if="cicloH.HOJAS_ENFERMERIA != undefined" ng-repeat="hojas in cicloH.HOJAS_ENFERMERIA" aria-label="Enfermeria" class="md-fab md-raised md-mini md-primary" ng-click="downloadEnfermeria(hojas)">
														<md-tooltip md-direction="letf">HOJAS DE ENFERMERÍA</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Hojas de enfermería"></md-icon>
													</md-button>
													<md-button ng-if="cicloH.LEGAL != undefined" aria-label="Medicina legal" class="md-fab md-raised md-mini md-primary" ng-click="downloadMedicina(cicloH)">
														<md-tooltip md-direction="letf">MEDICINA LEGAL</md-tooltip>
														<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" aria-label="Medicina Legal"></md-icon>
													</md-button>
												</md-fab-actions>
											</md-fab-speed-dial>
											<!-- end -->
										</td>
						      		</tr>
						    	</tbody>
						    </table>
						</md-data-table-container>
						<md-data-table-pagination ng-show="hospCiclo.length>0" md-limit="queryU.limit" md-page="queryU.page" md-total="{{hospCiclo.length}}" ></md-data-table-pagination>
			    	</div>
			    </div>
			    <md-toolbar class="contentClinico"  ng-click="seleccionarHosp(seccionesHospitalizacion[2])" ng-if="hospCiclo.length > 0">
			        <div class=" no_selection linkClinico" >
			            {{seccionesHospitalizacion[2].titulo}}
			        </div>
			    </md-toolbar>
			    <div class="check-element animate-show md-whiteframe-3dp" ng-show="seccionesHospitalizacion[2].visible" style="margin: -5px 0px 10px 0px; border:none;">
			    	<div ng-if="!isNotaEgreso">
				    	<div ng-if = "!isInfoHosp"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
				    	<div ng-if = "isInfoHosp" ficha-ident="notamedica"></div>
			    	</div>
			    	<div ng-if = "isNotaEgreso" ficha-ident="notaegreso"></div>
			    </div>
	    	</md-tab>






















	    	<md-tab label="QUIRÓFANO"> <!-- Módulo de QUIRÓFANO  -->
	    		<div ng-if="ctrl.historicoQuirofano.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
	    		<section layout="row" layout-sm="column" layout-align="center center" >
			        <div flex="90">
			             <md-data-table-container ng-show="ctrl.historicoQuirofano.length > 0">
			                <table md-data-table   md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
			                    <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
			                      <tr>
			                        <th width="10%" name="NOTA PRE-OPERATORIA" order-by="INTERVENCION_QUIRURJICA"></th>
			                        <th width="10%" name="NOTA PRE-ANÉSTESICA" order-by="NP_ID"></th>
			                        <th width="10%" name="CIRUGÍA SEGURA" order-by="NP_ID"></th>
			                        <th width="10%" name="NOTA POST-OPERATORIA" order-by="folio"></th>
			                        <th width="10%" name="NOTA POST-ANÉSTESICA" order-by="NF_NF_STATUS"></th>
			                        
			                      </tr>
			                    </thead>
			                    <tbody>
			                      <tr md-auto-select ng-class="md-warn" ng-repeat="registro in ctrl.historicoQuirofano">
			                      	
			                        <td>
			                            <a href ng-click="clickNota(registro,0,registro.NOTAPREQUIRURGICA.NF_STATUS)">{{setEstatus(registro.NOTAPREQUIRURGICA.NF_STATUS,registro,0)}} </a>
			                            <div> <a href ng-click="clickConsentimiento(0,registro,$event)">{{getEstatusConsentimiento(registro,0)}}</a></div>
			                        </td>
			                        <td>
			                            <a href ng-click="clickNota(registro,1,registro.NOTAPREANESTESICA.NF_STATUS)">{{setEstatus(registro.NOTAPREANESTESICA.NF_STATUS,registro,1)}}</a>
			                            <div> <a href ng-click="clickConsentimiento(1,registro,$event)">{{getEstatusConsentimiento(registro,1)}}</a></div>
			                        </td>
			                        <td><a href ng-click="clickNota(registro,4,registro.CIRUGIASEGURA.NF_STATUS)">{{setEstatus(registro.CIRUGIASEGURA.NF_STATUS,registro,4)}}</a></td>
			                        <td><a href ng-click="clickNota(registro,2,registro.NOTAPOSTQUIRURGICA.NF_STATUS)">{{setEstatus(registro.NOTAPOSTQUIRURGICA.NF_STATUS,registro,2)}}</a></td>
			                        <td><a href ng-click="clickNota(registro,3,registro.NOTAPOSTANESTESICA.NF_STATUS)">{{setEstatus(registro.NOTAPOSTANESTESICA.NF_STATUS,registro,3)}}</a></td>
			                        
			                      </tr>
			                    </tbody>
			                </table>
			                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registro.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
			            </md-data-table-container>
			         <!--   <img src="image" alt="Smiley face" height="42" width="42"> -->
			        </div>
    			</section>
	    	</md-tab>
	   

		    <md-tab label="ESTUDIOS DE LABORATORIO Y GABIENTE">
		    	<br>
		    	<div ng-if="historicoHistoriaClinica.length == 0"><H1>NO HAY INFORMACIÓN AL RESPECTO</H1></div>
		    	<section layout="row" layout-sm="column" layout-align="center center" ng-show="historicoHistoriaClinica.length > 0">
		        <div style="max-width: 900px">
		            <md-data-table-container>
		                <table md-data-table>
		                    <thead>
		                      <tr>
		                      	<td></td>
		                        <td style="text-align: left;">MEDICO</td>
		                        <td>FECHA DE SOLICITUD</td>
		                        <td>FECHA DE ENTREGA</td>
		                        <td style="text-align: left;">ESTUDIO SOLICITADO</td>
		                        <td>VER DETALLE</td>
		                      </tr>
		                    </thead>
		                    <tbody>
		                      <tr md-auto-select ng-repeat="registro in EstuLaboGabi | orderBy: queryEstudios.order
							                      | limitTo: queryEstudios.limit: (queryEstudios.page -1 )* queryEstudios.limit" ng-class="md-warn" >

		                            <td>{{$index + 1}}</td>
		                            <td style="text-align: left; padding-left: 0px;">{{registro.MEDICO}}</td>
		                            <td style="text-align: center;">{{parseFecha(registro.FECHA_SOLICITUD)}}</td>
		                            <td style="text-align: center;">{{parseFecha(registro.FECHA_ENTREGA)}}</td>
		                            <td style="text-align: left; padding-left: 0px;">{{registro.C_DESCRIPCION}}</td>
		                            <td ng-show="registro.C_RESULTADO_SERVICIO!=undefined" style="text-align: center;">
		                            	<md-button class="md-fab md-primary md-hue-2" ng-click="verDetalle(registro); rowSelection($index);">
		                                    <md-icon md-svg-src="\images\icons\svg\white\ic_event_note_white_18px.svg"></md-icon>
		                                </md-button>
		                            	
		                            </td>
		                      </tr>
		                    </tbody>
		                </table>
		                <md-data-table-pagination md-limit="queryEstudios.limit" md-page="queryEstudios.page" md-total="{{historicoHistoriaClinica.length}}" md-trigger="onOrderChangeHC"></md-data-table-pagination>
		            </md-data-table-container>
		        </div>
		    	</section>

		    	</md-tab>



	    	 </md-tabs>
	    </div>
    </md-card-content>
</md-card>
