 <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="GENERAL">
        <md-content class="md-padding">
<!-- Formulario de medicina general-->
              <section layout="" layout-md="column" layout-sm="column">
                <label class="form-item">TENSIÓN ARTERIAL</label>
              </section>
              <section layout="" layout-md="column"  layout-sm="column">
                <md-input-container flex >
                    <label>SISTÓLICA (mm de Hg)</label>
                    <input maxlength="3" type="number" name="N_TSN_ART_SISTOLICA" ng-model="datos.exploracionfisica.sostolica" readonly capitalize>
                </md-input-container>
                <md-input-container flex >
                    <label>DIASTÓLICA (mm de Hg)</label>
                    <input maxlength="3" type="number" name="N_TSN_ART_DIASTOLICA" ng-model="datos.exploracionfisica.diastolica" readonly capitalize>
                </md-input-container>
                <md-input-container flex >
                    <label>FRECUENCIA CARDIACA (lpm)</label>
                    <input maxlength="3" type="number" name="N_FRC_CARDIACA" ng-model="datos.exploracionfisica.cardio" readonly capitalize>
                </md-input-container>
                <md-input-container flex >
                    <label>FRECUENCIA RESPIRATORIA (rpm)</label>
                   <textarea maxlength="3" type="number" name="N_FRC_RESPIRATORIA" ng-model="datos.exploracionfisica.respiratoria" readonly capitalize></textarea>
                </md-input-container>
              </section>

              <section layout="" layout-md="column" layout-sm="column">
                <md-input-container flex >
                    <label>TEMPERATURA (°C)</label>
                    <input name="N_TEMPERATURA" ng-model="datos.exploracionfisica.temperatura" readonly capitalize>
                </md-input-container>
                <md-input-container flex >
                    <label>PESO (kg)</label>
                    <input name="PESO" ng-model="datos.exploracionfisica.peso" readonly capitalize>
                </md-input-container>
                <md-input-container flex >
                    <label>TALLA (mts)</label>
                    <input name="TALLA" ng-model="datos.exploracionfisica.talla" readonly capitalize>
                 </md-input-container>
                 <md-input-container flex >
                    <label>IMC</label>
                    <input name="N_IMC" ng-model="datos.exploracionfisica.imc" readonly capitalize >
                 </md-input-container>
              </section>
              <section layout="" layout-sm="column">
                
                 <md-input-container flex="20" >
                    <label>CLASIFICACIÓN</label>
                    <input ng-model="datos.exploracionfisica.clasificacion" readonly capitalize >
                 </md-input-container>
                 <md-input-container flex="20" >
                    <label>SATURACIÓN (%)</label>
                    <input name="N_SATURACION" ng-model="datos.exploracionfisica.saturacion" readonly >
                 </md-input-container>
                  <md-input-container flex>
                    <label>OBSERVACIONES</label>
                    <!-- <input maxlength="500" name="C_OBS_ENFERMERIA" ng-model="datos.exploracionfisica.observaciones" readonly capitalize> -->
                    <textarea maxlength="500" name="C_OBS_ENFERMERIA" ng-model="datos.exploracionfisica.observaciones" readonly capitalize></textarea>
                </md-input-container>
             </section>
       


        <!-- Inicia tabla informativa -->

        <section layout="row" id="mExploracionFisicaTabs" layout-md="" layout-sm="" layout-align="start center" layout-wrap style="margin-top:20px;">
          <div  class="sample" layout="column" ng-cloak style="min-width:100%;">
            <md-content class="md-padding md-whiteframe-2dp">
              <md-tabs md-selected="0" md-dynamic-height md-border-bottom md-dynamic-width>
                <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" style="color:red">
                  <md-content class="md-padding">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 5px 20px 5px; background-color:#F6F6F6;">
                      <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
                        <div flex="50">
                          <ul ng-repeat="ele in tab.elementos" style="list-style-type: none;">
                          <li ng-if="$index <= tab.elementos.length/2">     {{$index+1}}.- {{ele.desc}}
                            <ul ng-if="ele.hijos.length" style="list-style-type: none;">
                              <li ng-repeat="hijo in ele.hijos">{{hijo.inciso}}).- {{hijo.desc}}</li>
                            </ul>
                          </li>
                        </ul>
                        </div>
                        <div flex="50">
                          <ul ng-repeat="ele in tab.elementos" style="list-style-type: none;">
                          <li ng-if="$index > tab.elementos.length/2">      {{$index+1}}.- {{ele.desc}}
                            <ul ng-if="ele.hijos.length" style="list-style-type: none;">
                              <li ng-repeat="hijo in ele.hijos">{{hijo.inciso}}).- {{hijo.desc}}</li>
                            </ul>
                          </li>
                        </ul>
                        </div>
                      </div>
                      <br/>
                    </div>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
        </section>
        <!-- Termina tabla informativa -->


        <!-- Formulario de medicina general-->

<form name="cuestionarioForm" novalidate>

<section class="md-whiteframe-1dp  margin-top-30  color-cuestionario"  ng-if="seccion.ESTATUS" ng-repeat="(id_seccion, seccion) in ctrl.mCuestionarioGeneral.SECCION">
    <div layout="row">
        <md-input-container flex class="form-item">
            <label class="blanco">SECCIÓN</label>
            <input maxlength="250" aria-label="sección" class="blanco" name="NOM_SECCION" ng-disabled="true" ng-model="seccion.C_DESCRIPCION" required >

        </md-input-container>
         <a href="#finCuestionario"></a>
    </div>
<div class="margin-top-1 contenedor-preguntas" flex ng-if="pregunta.NODO_RAIZ" layout="row" ng-repeat="(id_pregunta, pregunta) in seccion.PREGUNTAS" >
   <div layout="row" layout-align="start center" layout-wrap >
        <md-input-container flex>
            <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}</md-icon>
            <div layout="row" flex class="form-item margin-left-30"  >
                <textarea aria-label="{{pregunta.C_PREGUNTA}}" style="color:#000" ng-model="pregunta.C_PREGUNTA" flex ng-disabled="true"> </textarea>
            </div>
             <div ng-messages="!cuestionarioForm.$pristine" class="margin-left-30">
                  <div ng-if="pregunta.OBLIGATORIA" class="campo-obligatorio">Pregunta Obligatoria</div>
            </div>
        </md-input-container>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==1" flex>
        <div layout="row" flex  style="margin: 0px">
            <md-input-container flex class="form-item margin-left-30" style="padding:0px">
                <label>INGRESE AQUÍ SU RESPUESTA</label>
                <textarea  ng-model="pregunta.RESPUESTAS[0].RESPUESTA" aria-label="PREGUNTA DE TIPO ABIERTA" ng-required="pregunta.OBLIGATORIA" minlength="3" maxlength="2000"  md-minlength="3" md-maxlength="2000" ng-change="ctrl.seleccionarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',-1,true)"  ng-disabled="ctrl.contesCuestionarioGeneral" > </textarea>

            </md-input-container>
        </div>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==2" flex>
          <div layout="row" layout-align="start center" layout-sm="column" layout-wrap class="margin-left-30" >
              <div flex="30" ng-if="respuesta.ESTATUS"  ng-repeat=" respuesta in pregunta.RESPUESTAS">
                  <md-checkbox  ng-model="respuesta.SELECTED" aria-label="PREGUNTA DE TIPO CHECK BOX" ng-disabled="ctrl.contesCuestionarioGeneral">
                      {{respuesta.ETIQUETA}}
                  </md-checkbox>
              </div>
          </div>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==3" flex>
          <div layout="row" layout-align="start center" layout-sm="column" layout-wrap >
              <md-radio-group ng-model="pregunta.ID_RESPUESTA" layout="row" aria-label="PREGUNTA DE TIPO RADIO BUTTON" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,true)">
                  <md-radio-button flex="30" ng-value="{{$index}}" ng-if="respuesta.ESTATUS" aria-label="RESPUESTA DE TIPO RADIO BUTTON" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionarioGeneral">{{respuesta.ETIQUETA}}</md-radio-button>
              </md-radio-group>
          </div>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==4">
        <div layout="row" ng-if="respuesta.ESTATUS" ng-repeat="(id_subRespuesta, respuesta) in pregunta.RESPUESTAS" layout-align="start center" layout-sm="column" layout-wrap >
             <md-input-container flex class="form-item margin-left-20 margin-top-23" layout="row">
                 <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}.{{id_subRespuesta + 1}}</md-icon>
                  <input ng-model="respuesta.ETIQUETA" aria-label="PREGUNTA DE TIPO ABIERTA CON ETIQUETAS" flex ng-disabled="true">
            </md-input-container>

            <md-input-container flex class="form-item margin-left-20" >

                <label>INGRESE AQUÍ SU RESPUESTA</label>
                <input ng-model="respuesta.RESPUESTA" aria-label="RESPUESTA DE PREGUNTA ABIERTA CON ETIQUETAS" ng-change="ctrl.seleccionarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}','{{respuesta.$$hashKey}}',true)" ng-disabled="ctrl.contesCuestionarioGeneral">
            </md-input-container>
        </div>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==5">
            <md-radio-group flex ng-model="pregunta.ID_RESPUESTA" layout="row" aria-label="PREGUNTA DE TIPO RADIO BUTTON CON JUSTIFICACIÓN" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',true,true)" class="form-item margin-left-20">
                <md-radio-button ng-value="{{$index}}" aria-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionarioGeneral">
                    {{respuesta.ETIQUETA}}
                </md-radio-button>
            </md-radio-group>

        <div layout="row" flex>
            <md-input-container flex class="form-item margin-left-20" >
                <label>JUSTIFICACIÓN</label>
                <input ng-model="pregunta.RESPUESTA" aria-label="JUSTIFICACIÓN DE PREGUNTA" ng-change="ctrl.actualizarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',true)" ng-disabled="ctrl.contesCuestionarioGeneral">
                <div ng-messages="!cuestionarioForm.$pristine" >
                  <div ng-if="pregunta.OBLIGATORIA" class="campo-obligatorio">Campo Obligatorio</div>
            </div>
            </md-input-container>

        </div>
    </div>
      <div ng-if="pregunta.TIPO_PREGUNTA==6" class="clear-margin-cues">
            <div layout="row" flayout-align="start center" layout-wrap style="padding-left: 24px;">
                 <md-radio-group ng-model="pregunta.ID_RESPUESTA" layout="row" aria-label="PREGUNTA DE TIPO SI/NO QUE LANZA OTRA PREGUNTA" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,true)">
                    <md-radio-button ng-value="{{$index}}" flex="30" aria-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionarioGeneral" style="margin: 0px 15px;">{{respuesta.ETIQUETA}}</md-radio-button>
                </md-radio-group>
            </div>
      </div>
      <div ng-if="pregunta.TIPO_PREGUNTA==7">
          <div layout="row" flex >
                <md-input-container flex class="form-item margin-left-20" >
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input ng-model="pregunta.RESPUESTAS[0].RESPUESTA_N" aria-label="PREGUNTA DE TIPO NÚMERICO"  type="number" ng-disabled="ctrl.contesCuestionarioGeneral">
                </md-input-container>
          </div>
      </div>
        <div ng-if="pregunta.TIPO_PREGUNTA==8">
               <md-datepicker flex ng-model="pregunta.RESPUESTAS[0].RESPUESTA_F" aria-label="PREGUNTA DE TIPO FECHA"  md-placeholder="FECHA" ng-disabled="ctrl.contesCuestionarioGeneral"></md-datepicker>
        </div>
        <div ng-if="pregunta.TIPO_PREGUNTA==9">
            <md-input-container>
              <label>SELECIÓNAR</label>
              <md-select ng-model="pregunta.ID_RESPUESTA" aria-label="PREGUNTA DE TIPO SELECT" ng-disabled="ctrl.contesCuestionarioGeneral" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,true)" aria-label="RESPUESTAS">
                  <md-option ng-value="{{$index}}"  aria-label="PREGUNTA DE TIPO SELECT" ng-if="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                      {{respuesta.ETIQUETA}}
                      </md-option>
              </md-select>
            </md-input-container>
        </div>
  </div>
       <div layout="row" layout-align="end end" ng-if="$last">
          <md-button md-no-ink class="md-primary blanco" ng-if="!ctrl.contesCuestionarioGeneral"  ng-click="ctrl.guardarRespuestas(true)">GUARDAR</md-button>
      </div>
</section>
 </form>

<!-- Termina Formulario de medicina general-->


<!-- Termina Formulario de medicina general-->
        </md-content>
      </md-tab>



      <md-tab label="ESPECIALIDAD">
        <md-content class="md-padding">


                <form name="cuestionarioForm" novalidate>
<section class="md-whiteframe-1dp  margin-top-30  color-cuestionario"  ng-if="seccion.ESTATUS" ng-repeat="(id_seccion, seccion) in ctrl.mCuestionario.SECCION">
    <div layout="row">
        <md-input-container flex class="form-item">
            <label class="blanco">SECCIÓN</label>
            <input maxlength="250" aria-label="sección" class="blanco" name="NOM_SECCION" ng-disabled="true" ng-model="seccion.C_DESCRIPCION" required >

        </md-input-container>
         <a href="#finCuestionario"></a>
    </div>
<div class="margin-top-30 contenedor-preguntas" flex ng-if="pregunta.NODO_RAIZ" layout="row" ng-repeat="(id_pregunta, pregunta) in seccion.PREGUNTAS" >
   <div layout="row" layout-align="start center" layout-wrap >
        <md-input-container flex>
            <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}</md-icon>
            <div layout="row" flex class="form-item margin-left-30"  >
                <textarea aria-label="{{pregunta.C_PREGUNTA}}" ng-model="pregunta.C_PREGUNTA" flex ng-disabled="true"> </textarea>
            </div>
             <div ng-messages="!cuestionarioForm.$pristine" class="margin-left-30">
                  <div ng-if="pregunta.OBLIGATORIA" class="campo-obligatorio">Pregunta Obligatoria</div>
            </div>
        </md-input-container>
    </div>
    <div ng-if="pregunta.TIPO_PREGUNTA==1" flex>
        <div layout="row" flex  style="margin: 0px">
            <md-input-container flex class="form-item margin-left-30" style="padding:0px">
                <label>INGRESE AQUÍ SU RESPUESTA</label>
                <textarea  ng-model="pregunta.RESPUESTAS[0].RESPUESTA" aria-label="PREGUNTA DE TIPO ABIERTA" ng-required="pregunta.OBLIGATORIA" minlength="3" maxlength="2000"  md-minlength="3" md-maxlength="2000" ng-change="ctrl.seleccionarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',-1,true)"  ng-disabled="ctrl.contesCuestionarioGeneral" > </textarea>

            </md-input-container>
        </div>
    </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==2">
                    <div layout="row" layout-align="start center" layout-sm="column" layout-wrap class="margin-left-30" >
                        <div flex="30" ng-if="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                            <md-checkbox  ng-model="respuesta.SELECTED" aria-label="PREGUNTA DE TIPO CHECK BOX" ng-disabled="ctrl.contesCuestionario">
                                {{respuesta.ETIQUETA}}
                            </md-checkbox>
                        </div>
                    </div>
              </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==3">
                    <div layout="row" layout-align="start center" layout-sm="column" layout-wrap >
                        <md-radio-group ng-model="pregunta.ID_RESPUESTA" aria-label="PREGUNTA DE TIPO RADIO BUTTON" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,false)">
                            <md-radio-button ng-value="{{$index}}" ng-if="respuesta.ESTATUS" aria-label="RESPUESTA DE TIPO RADIO BUTTON" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionario">{{respuesta.ETIQUETA}}</md-radio-button>
                        </md-radio-group>
                    </div>
              </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==4">
                  <div layout="row" ng-if="respuesta.ESTATUS" ng-repeat="(id_subRespuesta, respuesta) in pregunta.RESPUESTAS" layout-align="start center" layout-sm="column" layout-wrap >
                       <md-input-container flex class="form-item margin-left-20 margin-top-23" layout="row">
                           <md-icon class="margin-top-8 num-pregunta">{{id_seccion + 1}}.{{id_pregunta + 1}}.{{id_subRespuesta + 1}}</md-icon>
                            <input ng-model="respuesta.ETIQUETA" aria-label="PREGUNTA DE TIPO ABIERTA CON ETIQUETAS" flex ng-disabled="true">
                      </md-input-container>
                      <md-input-container flex class="form-item margin-left-20" >
                          <label>INGRESE AQUÍ SU RESPUESTA</label>
                          <input ng-model="respuesta.RESPUESTA" aria-label="RESPUESTA DE PREGUNTA ABIERTA CON ETIQUETAS" ng-change="ctrl.seleccionarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}','{{respuesta.$$hashKey}}',false)" ng-disabled="ctrl.contesCuestionario">
                      </md-input-container>
                  </div>
              </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==5">
                      <md-radio-group flex ng-model="pregunta.ID_RESPUESTA" aria-label="PREGUNTA DE TIPO RADIO BUTTON CON JUSTIFICACIÓN" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',true,false)" class="form-item margin-left-20">
                          <md-radio-button ng-value="{{$index}}" aria-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionario">
                              {{respuesta.ETIQUETA}}
                          </md-radio-button>
                      </md-radio-group>
                  <div layout="row" flex>
                      <md-input-container flex class="form-item margin-left-20" >
                          <label>JUSTIFICACIÓN</label>
                          <input ng-model="pregunta.RESPUESTA" aria-label="JUSTIFICACIÓN DE PREGUNTA" ng-change="ctrl.actualizarRespuesta('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',true)" ng-disabled="ctrl.contesCuestionario">
                          <div ng-messages="!cuestionarioForm.$pristine" >
                            <div ng-if="pregunta.OBLIGATORIA" class="campo-obligatorio">Campo Obligatorio</div>
                          </div>
                      </md-input-container>
                  </div>
              </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==6">
                    <div layout="row" flayout-align="start center" layout-sm="column" layout-wrap >
                         <md-radio-group ng-model="pregunta.ID_RESPUESTA" aria-label="PREGUNTA DE TIPO SI/NO QUE LANZA OTRA PREGUNTA" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,false)">
                            <md-radio-button ng-value="{{$index}}" aria-label="TIPO DE RESPUESTA" ng-repeat=" respuesta in pregunta.RESPUESTAS" ng-disabled="ctrl.contesCuestionario">{{respuesta.ETIQUETA}}</md-radio-button>
                        </md-radio-group>
                    </div>
              </div>
              <div ng-if="pregunta.TIPO_PREGUNTA==7">
                  <div layout="row" flex >
                        <md-input-container flex class="form-item margin-left-20" >
                            <label>INGRESE AQUÍ SU RESPUESTA</label>
                            <input ng-model="pregunta.RESPUESTAS[0].RESPUESTA_N" aria-label="PREGUNTA DE TIPO NÚMERICO"  type="number" ng-disabled="ctrl.contesCuestionario">
                        </md-input-container>
                  </div>
              </div>
                <div ng-if="pregunta.TIPO_PREGUNTA==8">
                       <md-datepicker flex ng-model="pregunta.RESPUESTAS[0].RESPUESTA_F" aria-label="PREGUNTA DE TIPO FECHA" md-placeholder="FECHA" ng-disabled="ctrl.contesCuestionario"></md-datepicker>
                </div>
                <div ng-if="pregunta.TIPO_PREGUNTA==9">
                    <md-input-container>
                      <label>SELECIÓNAR</label>
                      <md-select ng-model="pregunta.ID_RESPUESTA" aria-label="PREGUNTA DE TIPO SELECT" ng-disabled="ctrl.contesCuestionario" ng-change="ctrl.cambiarRadio('{{seccion.$$hashKey}}','{{pregunta.$$hashKey}}',false,false)" aria-label="RESPUESTAS">
                          <md-option ng-value="{{$index}}" ng-if="respuesta.ESTATUS" ng-repeat=" respuesta in pregunta.RESPUESTAS">
                              {{respuesta.ETIQUETA}}
                              </md-option>
                      </md-select>
                    </md-input-container>
                </div>
            </div>
       <div layout="row" layout-align="end end" ng-if="$last">
          <md-button md-no-ink class="md-primary blanco" ng-if="!ctrl.contesCuestionario" ng-click="ctrl.guardarRespuestas(false)">GUARDAR</md-button>
      </div>

</section>
</form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
