<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="false">
    <md-input-container  class="form-item" flex="50">
        <label>DIRECCIÓN</label>
        <input ng-model="datos.ficha.direccion" readonly capitalize>
    </md-input-container>
    <md-input-container  class="form-item" flex="40">
        <label>LUGAR DE ORIGEN</label>
        <input ng-model="datos.ficha.origen" readonly capitalize>
    </md-input-container>

</section>

<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
     <md-input-container  class="form-item" flex="30">
        <label>C.U.R.P.</label>
        <input ng-model="datos.ficha.curp" readonly capitalize>
    </md-input-container>
    <md-input-container  class="form-item" flex="30">
        <label>ESTADO CIVIL</label>
        <input ng-model="datos.ficha.edoCivil" readonly capitalize>
    </md-input-container>
    <md-input-container  class="form-item" flex="30">
        <label>OCUPACIÓN</label>
        <input ng-model="datos.ficha.ocupacion" readonly capitalize>
    </md-input-container>
</section>

<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    <md-input-container  class="form-item" flex="30">
        <label>RELIGIÓN</label>
        <input ng-model="datos.ficha.religion" readonly capitalize>
    </md-input-container>
    <md-input-container  class="form-item" flex="30">
        <label>GRUPO ETNICO</label>
        <input ng-model="datos.ficha.grupoEtnico" readonly capitalize>
    </md-input-container>
</section>



