<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    <md-input-container class="form-item" flex="30">
        <label>DOC</label>
        <md-select ng-model="selects.doc.ctrl">
          <md-option ng-repeat="state in selects.doc.opc" value="{{state.id}}">
            {{state.desc}}
          </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="form-item" flex="30" style="margin: 10px 20px;">
        <label>ITS</label>
        <md-select ng-model="selects.its.ctrl">
          <md-option ng-repeat="state in selects.its.opc" value="{{state.id}}">
            {{state.desc}}
          </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="form-item" flex="30">
        <label>DOCMA</label>
        <md-select ng-model="selects.docma.ctrl">
          <md-option ng-repeat="state in selects.docma.opc" value="{{state.id}}">
            {{state.desc}}
          </md-option>
        </md-select>
    </md-input-container>

    <md-data-table-container style="min-width: 100%; margin-top:20px">
      <table md-data-table selectable-rows="false"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr style="background-color:#00b5e2">
            <th ng-repeat="column in columns " name="{{column.name}}"  style="width:{{column.width}};"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="obs in datos.ginecobstetricos.observaviones | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td>{{obs.fecha | date:'MM/dd/yyyy'}} 
            	<br> {{obs.fecha | date: 'h:mma'}}
            </td>
            <td>{{obs.doctor}}</td>
            <td>{{obs.descripcion}}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
</section>