<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar ></card-toolbar>
  <md-card-content >

    <md-data-table-toolbar>
      <h2 class="md-title" style="margin-left:auto;">FECHA: {{fecha | date:'dd/MM/yyyy'}} &nbsp;&nbsp; HORA: {{fecha | date: 'h:mma'}} </h2>
  </md-data-table-toolbar>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.ID" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
  </section>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
  </section>



    <md-toolbar class="contentClinico"  ng-click="seleccionar(0)" >
        <div class=" no_selection linkClinico" >
            {{secciones[0].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="padecimientoActual" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[0].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>




    <md-toolbar class="contentClinico"  ng-click="seleccionar(1)">
        <div class="no_selection linkClinico">
            {{secciones[1].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="antecedentesPatologicos" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[1].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico" ng-click="seleccionar(2)" ng-show="!isHombre">
        <div class=" no_selection linkClinico">
            {{secciones[2].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="antecedentesGineco" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[2].visible && !isHombre" style="margin: -5px 0px 10px 0px; border:none;"></div>






    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="salir()" >terminar historia clinica</md-button>
    </div>



  </md-card-content>
</md-card>
