
<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
  	</card-toolbar>
  	<md-card-content>
  		<section layout="" layout-sm="column" layout-wrap layout-wrap>
		    	<md-input-container flex class="form-item form-item-right">
			        <label>NOMBRE</label>
			        <input name="C_NOMBRE" ng-model="paciente.nombrePaciente"  capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>ID</label>
			        <input name="NP_ID" ng-model="paciente.idPaciente" capitalize disabled>
			    </md-input-container>
		</section>
		<section layout="" layout-sm="column" layout-wrap layout-wrap>
			    <md-input-container flex class="form-item form-item-right">
				    <label>EXPEDIENTE</label>
			        <input name="idExpediente" ng-model="paciente.expedienteSIU" capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>FECHA DE NACIMIENTO</label>
			        <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.f_nacimiento" capitalize disabled>
			    </md-input-container>
		</section>
		<section layout="" layout-sm="column" layout-wrap layout-wrap>
			    <md-input-container flex class="form-item form-item-right">
			        <label>EDAD</label>
			        <input  name="N_EDAD" ng-model="paciente.N_EDAD" capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>GÉNERO</label>
			        <input name="NF_SEXO" ng-model="paciente.genero" capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>CURP</label>
			        <input  name="C_CURP" ng-model="paciente.curp" capitalize disabled>
			    </md-input-container>
		</section>
	</md-card-content>
</md-card>
 




<md-card class="md-whiteframe-6dp" >

  	<md-card-content>

	  	<section layout="row" layout-xs="column" layout-align="start center" layout-wrap flex >	
           	<md-input-container class="form-paciente" flex>
           		<label>BUSCAR</label>
           		<input ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
           	</md-input-container>               	
		</section>

        <md-data-table-container ng-init="loadData()">
            <table md-data-table md-progress="deferred" >
              	<thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                	<tr>
                  		<th style="text-align: center" name="FECHA"  order-by="FECHA"></th>
                  		<th style="text-align: left; padding-left: 30px" name="MÉDICO"></th>
                  		<th style="text-align: left;  padding-left: 30px" name="ESPECIALIDAD" order-by="C_ESPECIALIDAD"></th>
                  		<th name="DETALLES"></th>
                	</tr>
              	</thead>
	            <tbody>
	                <tr  md-auto-select ng-repeat="dato in registros | orderBy: query.order
	                | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
	                	<td style="text-align: center">{{parseFecha(dato.T_FECHA_CMD)}}</td>
	                	<td style="text-align: left">{{dato.CF_MEDICO}}</td>
	                	<td>{{dato.C_ESPECIALIDAD}}</td>
	                	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
	                  		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNota(dato)">
	                    		<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
	                  		</md-button>
	                	</td>
	              	</tr>
	           	</tbody>
	        </table>
   		</md-data-table-container>
      	<mensaje-datos ng-if="existCitas" mensaje="'NO HAY PACIENTES EN ESPERA'"></mensaje-datos>
        <md-data-table-pagination ng-show="registros.length>0" md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" ></md-data-table-pagination>
        <div ng-if = "existInfo" ficha-ident="notamedica">
	</md-card-content>
</md-card>
