<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar canreturn="true" title="HISTORICA CLÍNICA"></card-toolbar>
    <div >
  	<md-data-table-toolbar>
    	<h2 class="md-title" style="margin-left:auto;">FECHA: {{fecha | date:'dd/MM/yyyy'}} &nbsp;&nbsp; HORA: {{fecha | date: 'h:mma'}} </h2>
	</md-data-table-toolbar>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    	<md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>ID</label>
            <input ng-model="datos.ID" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
        <md-input-container flex="20" class="form-item">
            <label>EXPEDIENTE SIU</label>
            <input maxlength="20" name="idExpediente" ng-model="datos.expedienteSiu" capitalize readonly>
    </md-input-container>
	</section>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    	<md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
	</section>
    </div>



    <md-toolbar class="contentClinico"  ng-click="seleccionar(0)" >
        <div class=" no_selection linkClinico" >
            {{secciones[0].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaidentificacion" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[0].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>



    <md-toolbar class="contentClinico"  ng-click="seleccionar(1)">
        <div class="no_selection linkClinico">
            {{secciones[1].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[1].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico"  ng-click="seleccionar(3)">
        <div class="no_selection linkClinico" >
            {{secciones[3].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[3].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico" ng-click="seleccionar(2)">
        <div class=" no_selection linkClinico">
            {{secciones[2].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[2].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico" ng-show="!isHombre" ng-click="seleccionar(4)">
        <div class="no_selection linkClinico" >
            {{secciones[4].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[4].visible  && !isHombre" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico" ng-click="seleccionar(5)">
        <div class="no_selection linkClinico" >
            {{secciones[5].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[5].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(6)">
        <div class="no_selection linkClinico">
            {{secciones[6].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[6].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico" ng-click="seleccionar(7)">
        <div class=" no_selection linkClinico" >
            {{secciones[7].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="exploracionfisica" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[7].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(8)">
        <div class="no_selection linkClinico" >
            {{secciones[8].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[8].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(9)">
        <div class="no_selection linkClinico">
            {{secciones[9].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[9].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(10)" ng-show="!procedenciaHistoria">
        <div class="no_selection linkClinico" >
            {{secciones[10].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="diagnostico" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[10].visible" style="margin: -5px 0px 10px 0px; border:none;" ng-show="!procedenciaHistoria"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(11)" ng-show="!procedenciaHistoria">
        <div class="no_selection linkClinico" >
            {{secciones[11].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="pronostico" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[11].visible" style="margin: -5px 0px 10px 0px; border:none;" ng-show="!procedenciaHistoria"></div>

    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-show="procedenciaExpediente" ng-click="imprimir()" >IMPRIMIR HISTORIA CLINICA</md-button>
        <md-button class="md-raised md-primary" ng-click="salir()" >SALIR DE HISTORIA CLINICA</md-button>
    </div>



  </md-card-content>
</md-card>
