
	<md-content class="md-padding" >
		<md-tabs md-selected="selectedIndex2" md-dynamic-height md-border-bottom >
			<!-- Tab de DIAGNÓSTICO DE INGRESO-->
			<md-tab label="DIAGNÓSTICO DE INGRESO" ng-if="isEvolucionAlta"> <!-- RECUPERAR DE LA NOTA DE INGRESO-->
				<md-input-container flex class="form-item form-item-right">
				    <label>DESCRIPCIÓN</label>
				    <input maxlength="500" name="C_DIAGNOSTICO_INGRESO" ng-model="nuevo.C_DIAGNOSTICO_INGRESO"  disabled>
				</md-input-container>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()">SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de RESUMEN DEL INTERROGATORIO-->
			<md-tab label="RESUMEN DEL INTERROGATORIO">
				<md-input-container flex class="form-item form-item-right">
				    <label>RESUMEN DEL INTERROGATORIO</label>
				    <textarea maxlength="500" name="C_ANAMNESIS" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_ANAMNESIS" disabled/>
				</md-input-container>
				<md-input-container flex class="form-item form-item-right">
				    <label>MOTIVO DE LA CONSULTA</label>
				    <textarea maxlength="500" name="C_MOTIVO_DE_CONSULTA" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_MOTIVO_DE_CONSULTA" disabled/>
				</md-input-container>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()">SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de EXPLORACIÓN FÍSICA-->
			<md-tab label="EXPLORACIÓN FÍSICA">
				<md-divider>SIGNOS VITALES</md-divider>
				<section layout="" layout-sm="column">
					<label class="form-item">TENSIÓN ARTERIAL</label>
				</section>
				<section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>SISTÓLICA</label>
				        <input maxlength="3" name="SISTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_SISTOLICA" disabled>
				    </md-input-container>
					<md-input-container flex class="form-item form-item-right">
				        <label>DIASTÓLICA</label>
				        <input maxlength="3" name="DIASTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_DIASTOLICA" disabled>
				    </md-input-container>
				</section>
				<section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>FRECUENCIA CARDIACA</label>
				        <input maxlength="3" name="CARDIACA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_CARDIACA" disabled>
				    </md-input-container>
				    <md-input-container flex class="form-item form-item-right">
				        <label>FRECUENCIA RESPIRATORIA</label>
				        <input maxlength="3" name="RESPIRATORIA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_RESPIRATORIA" disabled>
				    </md-input-container>
				</section>
				<section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>TEMPERATURA</label>
				        <input name="TEMPERATURA" ng-model="nuevo.EXPLORACION_FSC.N_TEMPERATURA" disabled ng-pattern="/^[0-9]{2}(\.\d{0,2}){0,3}$/">
				    </md-input-container>
				    <md-input-container flex class="form-item form-item-right">
				        <label>PESO</label>
				        <input name="PESO" ng-model="nuevo.EXPLORACION_FSC.N_PESO" disabled ng-pattern="/^[0-9]{1,3}(\.\d{0,2}){0,3}$/" ng-change="calcularIMC()">
				    </md-input-container>
				    <md-input-container flex class="form-item form-item-right">
				        <label>TALLA</label>
				        <input name="TALLA" ng-model="nuevo.EXPLORACION_FSC.N_TALLA" disabled ng-pattern="/^[0-2](\.[0-9]{0,2}){0,1}$/" ng-change="calcularIMC()">
				     </md-input-container>
				 </section>
				 <section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>IMC</label>
				        <input name="N_IMC" ng-model="nuevo.EXPLORACION_FSC.N_IMC" disabled required>
				     </md-input-container>
				     <md-input-container flex class="form-item form-item-right">
				        <label>CLASIFICACIÓN</label>
				        <input name="C_CLASIFICACION" ng-model="nuevo.EXPLORACION_FSC.C_CLASIFICACION" disabled required>
				     </md-input-container>
				     <md-input-container flex class="form-item form-item-right">
				        <label>SATURACIÓN (%)</label>
				        <input name="N_SATURACION" ng-model="nuevo.EXPLORACION_FSC.N_SATURACION" required disabled >
				     </md-input-container>
				 </section>
				 <section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right" ng-if="!editExploracion">
				        <label>OBSERVACIONES</label>
				        <textarea maxlength="500" name="C_OBS_ENFERMERIA" ng-model="nuevo.EXPLORACION_FSC.C_OBS_ENFERMERIA"  disabled/>
				    </md-input-container>
				</section>
				<md-divider>EXPLORACIÓN FÍSICA</md-divider>
			    <section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>EXPLORACIÓN FÍSICA</label>
				        <textarea maxlength="500" name="EXPLORACION" ng-model="nuevo.EXPLORACION_FSC.EXPLORACION" disabled />
				    </md-input-container>
				</section>
				<section layout="" layout-sm="column" ng-if="isIngreso || isInterconsulta || isEvolucionAlta || isTriage">
					<md-input-container flex class="form-item form-item-right">
				        <label>ESTADO MENTAL DEL PACIENTE</label>
				        <textarea maxlength="500" name="C_ESTADO_MENTAL" ng-model="nuevo.EXPLORACION_FSC.C_ESTADO_MENTAL" disabled />
				    </md-input-container>
				</section>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" >SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de INTERPRETACIÓN DE ESTUDIOS LABORATORIO Y GABINETE -->
			<md-tab label="INTERPRETACIÓN DE ESTUDIOS DE LABORATORIO Y GABINETE" ng-disabled="activeSelected < 2 && ableDLG != true">
				<md-divider ng-if="existAnteriores">RESULTADOS ACTUALES DE ESTUDIOS DE LABORATORIO Y GABINETE</md-divider>
				<md-data-table-container ng-if="existAnteriores">
				  	<table md-data-table>
				    	<thead>
				      		<tr>
				      			<th name="ESTUDIO(S) APLICADO(S)"></th>
				        		<th name="VER"></th>
				        		<th name="INTERPRETACIÓN"></th>
				      		</tr>
				    	</thead>
				    	<tbody>
				      	<tr md-auto-select ng-repeat="estudioAnterior in estudiosAnteriores | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
				        	<td>{{estudioAnterior.C_DESCRIPCION}}</td>
				        	<td>
						    	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="">
						        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
						    	</md-button>
				      		</td>
				      		<td>
				      			<md-input-container flex class="form-item form-item-right">
							        <label>INTERPRETACIÓN</label>
							        <textarea maxlength="500" name="C_RESULTADO_SERVICIO" ng-model="estudioAnterior.C_RESULTADO_SERVICIO" disabled/>
							    </md-input-container>
							</td>

				      	</tr>
				    	</tbody>
				  	</table>
				</md-data-table-container>
				<md-input-container flex class="form-item form-item-right">
			        <label>INTERPRETACIÓN DE ESTUDIOS</label>
			        <textarea maxlength="500" name="C_INTERPRETACION" ng-model="nuevo.C_INTERPRETACION" disabled/>
			    </md-input-container>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" >SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de DIAGNÓSTICO -->
			<md-tab label="DIAGNÓSTICO">
				<md-divider>DIAGNÓSTICO PRINCIPAL</md-divider>
				<section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>DIAGNÓSTICO PRINCIPAL</label>
				        <textarea maxlength="2500" name="DIAGNOSTICOPRINCIPAL" ng-model="nuevo.DIAGNOSTICOPRINCIPAL" disabled/>
				    </md-input-container>
				</section>
				<md-divider ng-if="datosSecundarios.length>0">DIAGNÓSTICO SECUNDARIO</md-divider>
				<md-data-table-container ng-if="isDiagnostico">
				  	<table md-data-table>
				    	<thead>
				      		<tr>
				      			<th name="CATÁLOGO"></th>
				      		</tr>
				    	</thead>
				    	<tbody>
				      	<tr md-auto-select ng-repeat="datoSecundario in datosSecundarios | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
				        	<td>{{datoSecundario.C_DESCRIPCION}}</td>
				      	</tr>
				    	</tbody>
				  	</table>
				</md-data-table-container>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" >SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de SOLICITUD LABORATORIO Y GABINETE -->
			<md-tab label="SOLICITUD DE ESTUDIOS DE LABORATORIO Y GABINETE">
    			<md-divider>SOLICITUD DE ESTUDIO DE LABORATORIO Y GABINETE</md-divider>
				<md-data-table-container ng-if="isEstudio && datosEstudios.length > 0">
				  	<table md-data-table>
				    	<thead>
				      		<tr>
				      			<th name="ESTUDIO(S) SELECCIONADO(S)"></th>
				        		<th name="MOTIVOS"></th>
				      		</tr>
				    	</thead>
				    	<tbody>
				      	<tr md-auto-select ng-repeat="datoEstudio in datosEstudios | orderBy: queryEstudios.order 
					                      | limitTo: queryEstudios.limit: (queryEstudios.page -1 )* queryEstudios.limit" ng-class="md-warn">
				        	<td>{{datoEstudio.cDescripcion}} - $ {{datoEstudio.dCosto}}</td>
				      		<td>
				      			<md-input-container flex class="form-item form-item-right">
							        <label>MOTIVOS</label>
							        <textarea maxlength="500" name="C_MOTIVO_SOLICITUD" ng-model="datoEstudio.C_MOTIVO_SOLICITUD" disabled/>
							    </md-input-container>
				      		</td>
				      	</tr>
				    	</tbody>
				  	</table>
				</md-data-table-container>
				<md-data-table-pagination ng-show="datosEstudios.length>0" md-limit="queryEstudios.limit" md-page="queryEstudios.page" md-total="{{datosEstudios.length}}" ></md-data-table-pagination>
				<br>
				<md-divider ng-if="existAnteriores">RESULTADOS ACTUALES DE ESTUDIOS DE LABORATORIO Y GABINETE</md-divider>
				<md-data-table-container ng-if="existAnteriores">
				  	<table md-data-table>
				    	<thead>
				      		<tr>
				      			<th name="ESTUDIO(S) APLICADO(S)"></th>
				        		<th name="INTERPRETACIÓN"></th>
				      		</tr>
				    	</thead>
				    	<tbody>
				      	<tr md-auto-select ng-repeat="estudioAnterior in estudiosAnteriores | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
				        	<td>{{estudioAnterior.C_DESCRIPCION}}</td>
				      		<td>
				      			<md-input-container flex class="form-item form-item-right">
							        <label>INTERPRETACIÓN</label>
							        <input maxlength="500" name="C_RESULTADO_SERVICIO" ng-model="estudioAnterior.C_RESULTADO_SERVICIO" disabled>
							    </md-input-container>
							</td>

				      	</tr>
				    	</tbody>
				  	</table>
				</md-data-table-container>
				<section layout="" layout-sm="column" ng-if="isIngreso || isInterconsulta || isEvolucionAlta || isTriage">
					<md-input-container flex class="form-item form-item-right">
				        <label>ANÁLISIS</label>
				        <textarea maxlength="2500" name="C_ANALISIS" ng-model="nuevo.EXPLORACION_FSC.C_ANALISIS" disabled/>
				    </md-input-container>
				</section>
				<section layout="" layout-sm="column">
					<div layout="row" layout-align="end center" ng-if="existSolicitudLaboratorio">
			      		<md-button class="md-raised md-primary" ng-click="reprintDatosLaboratorio()" >RE IMPRIMIR SOLICITUD DE ESTUDIOS DE LABORATORIO Y GABINETE</md-button>
			      	</div>
			    </section>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" >SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de PRONÓSTICO -->
			<md-tab label="PRONÓSTICO">
				<section layout="" layout-sm="column">
    						<table md-data-table>
						    	<thead>
						      		<tr>
						      			<th name=""></th>
						        		<th name="BUENO"></th>
						        		<th name="MALO"></th>
						      		</tr>
						    	</thead>
						    	<tbody>
						      	<tr>
						        	<td>FUNCIÓN</td>
						        	<td>
								    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS1" ng-change="changeEstatus(1)" disabled>
					    					BUENO
						        		</md-switch>
						      		</td>
						      		<td>
						      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS2" ng-change="changeEstatus(2)" disabled>
					    					MALO
						        		</md-switch>
						      		</td>
						      	</tr>
						      	<tr>
						        	<td>VIDA</td>
						        	<td>
								    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS3" ng-change="changeEstatus(3)" disabled>
					    					BUENO
						        		</md-switch>
						      		</td>
						      		<td>
						      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS4" ng-change="changeEstatus(4)" disabled>
					    					MALO
						        		</md-switch>
						      		</td>
						      	</tr>
						    	</tbody>
						  	</table>
					    </section>
			    <section layout="" layout-sm="column">
					<md-input-container flex class="form-item form-item-right">
				        <label>COMENTARIOS</label>
				        <textarea maxlength="500" name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="!isIngreso" disabled/>
				        <textarea maxlength="2500" name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="isIngreso" disabled/>
				    </md-input-container>
				</section>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" >SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de INDICACIÓN TERAPÉUTICA -->
			<md-tab label="INDICACIÓN TERAPÉUTICA">
				<div ng-show="isOrden">
					<section layout="" layout-sm="column">
    					<md-input-container flex class="form-item form-item-right">
					        <label>DIETA</label>
					        <textarea maxlength="2000" md-maxlength="2000" name="C_DIETA" ng-model="C_DIETA" disabled/>
					    </md-input-container>
    				</section>
    				<section layout="" layout-sm="column">
					    <md-input-container flex class="form-item form-item-right">
					        <label>SOLUCIONES</label>
					        <textarea maxlength="2000" md-maxlength="2000" name="C_SOLUCIONES" ng-model="C_SOLUCIONES" disabled/>
					    </md-input-container>
    				</section>
    				<section layout="" layout-sm="column">
					    <md-input-container flex class="form-item form-item-right">
					        <label>MEDIDAS GENERALES</label>
					        <textarea maxlength="2000" md-maxlength="2000" name="C_MEDIDAS_GENERALES" ng-model="C_MEDIDAS_GENERALES" disabled/>
					    </md-input-container>
    				</section>
    				<div layout="row" layout-align="end center">
			      		<md-button class="md-raised md-primary"  ng-click="reprintOrdenMedica()" >RE IMPRIMIR ORDEN MÉDICA</md-button>
			      	</div>
				</div>
				<div ng-if = "!isIndicacion"><H1>NO HAY INFORMACIÓN DE MEDICAMENTOS AL RESPECTO</H1></div>
				<section layout="" layout-sm="column" ng-if="isIndicacion">
					<md-input-container flex class="form-item form-item-right">
					    <label>TRATAMIENTO NO FARMACOLÓGICO</label>
						<textarea name="C_TRATAMIENTO" ng-model="medicamentos.C_TRATAMIENTO" disabled> </textarea>
					</md-input-container>
				</section>
				<section layout="" layout-sm="column" ng-if="isIndicacion">
					<md-input-container flex class="form-item form-item-right">
					    <label>FECHA DE CREACIÓN</label>
						<input name="F_FECHA" ng-model="medicamentos.F_FECHA" disabled>
					</md-input-container>
					<md-input-container flex class="form-item form-item-right">
					    <label>VIGENCIA DE RECETA</label>
						<input name="F_VIGENCIA" ng-model="medicamentos.F_VIGENCIA" disabled>
					</md-input-container>
				</section>
				<md-data-table-container ng-if="isIndicacion && medicamentos.MEDICAMENTOS.length > 0">
				  	<table md-data-table>
				    	<thead>
				      		<tr>
				      			<th name="NOMBRE MEDICAMENTO"></th>
				      			<th name="INDICACIONES"></th>
				        		<th name="MESES"></th>
				        		<th name="DIAS"></th>
				        		<th name="SAEC"></th>
				      		</tr>
				    	</thead>
				    	<tbody>
				      	<tr md-auto-select ng-repeat="medicamento in medicamentos.MEDICAMENTOS | orderBy: queryMedicamentos.order 
					                      | limitTo: queryMedicamentos.limit: (queryMedicamentos.page -1 )* queryMedicamentos.limit" ng-class="md-warn">
				        	<td>{{medicamento.C_NOMBRE_MEDICAMENTO}}</td>
				        	<td>{{medicamento.C_INDICACIONES}}</td>
				        	<td>{{medicamento.N_MESES}}</td>
				        	<td>{{medicamento.N_DIAS}}</td>
				        	<td>{{parseSAEC(medicamento.N_SAEC)}}</td>
				      	</tr>
				    	</tbody>
				  	</table>
				</md-data-table-container>
				<md-data-table-pagination ng-show="medicamentos.length>0" md-limit="queryMedicamentos.limit" md-page="queryMedicamentos.page" md-total="{{medicamentos.length}}" ></md-data-table-pagination>

				<section layout="" layout-sm="column">
					<div layout="row" layout-align="end center" ng-if="existReceta">
					<!--div layout="row" layout-align="end center" ng-if="isIndicacion && !isUrgencias"-->
			      		<md-button class="md-raised md-primary" ng-click="reprintReceta()" >RE IMPRIMIR RECETA</md-button>
			      	</div>
			      	<div layout="row" layout-align="end center">
			      		<md-button class="md-raised md-primary"  ng-if="!isUrgencias" ng-click="reprintNotaMedica()" >RE IMPRIMIR NOTA MÉDICA</md-button>
			      	</div>
			    </section>
		      	<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="TERMINAR()" ng-if="!isUrgencias">TERMINAR</md-button>
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" ng-if="isUrgencias">SIGUIENTE</md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de PROCEDIMIENTOS REALIZADOS-->
			<md-tab label="PROCEDIMIENTOS REALIZADOS" ng-if="isUrgencias">
				<md-input-container flex class="form-item form-item-right">
				    <label>DESCRIPCIÓN</label> 
				    <textarea maxlength="2500" name="C_PROCEDIMIENTOS_REALIZADOS" ng-model="nuevo.C_PROCEDIMIENTOS_REALIZADOS" disabled/>
				</md-input-container>
				<!--div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="siguiente()" ng-if="isInterconsulta || isTriage || isUrgencias">SIGUIENTE</md-button>
		      		<md-button class="md-raised md-primary" ng-click="TERMINAR()" ng-if="!isInterconsulta && !isTriage && !isUrgencias">TERMINAR  </md-button>
		      	</div-->
			</md-tab>
			<!-- Tab de DESTINO DEL PACIENTE-->
			<md-tab label="DESTINO DEL PACIENTE" ng-if="isUrgencias" >
				<md-input-container flex class="form-item form-item-right">
				    <label>DESCRIPCIÓN</label>
				    <textarea maxlength="2500" name="C_DESTINO_PACIENTE" ng-model="nuevo.C_DESTINO_PACIENTE" disabled/>
				</md-input-container>
				<div layout="row" layout-align="end center">
					<md-button class="md-raised md-primary" ng-if="isUrgencias" ng-click="reprintNotaMedicaUrgencias()" >RE IMPRIMIR NOTA MÉDICA</md-button>
		      		<!--md-button class="md-raised md-primary" ng-click="TERMINAR()">TERMINAR  </md-button-->
		      	</div>
			</md-tab>
		</md-tabs>
	</md-content>
