<section layout="" layout-sm="column">
<table md-data-table>
    	<thead>
      		<tr>
      			<th name=""></th>
        		<th name="BUENO"></th>
        		<th name="MALO"></th>
      		</tr>
    	</thead>
    	<tbody>
      	<tr>
        	<td>FUNCIÓN</td>
        	<td>
		    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS1" ng-change="changeEstatus(1)" ng-disabled="true">
					BUENO
        		</md-switch>
      		</td>
      		<td>
      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS2" ng-change="changeEstatus(2)" ng-disabled="true">
					MALO
        		</md-switch>
      		</td>
      	</tr>
      	<tr>
        	<td>VIDA</td>
        	<td>
		    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS3" ng-change="changeEstatus(3)" ng-disabled="true">
					BUENO
        		</md-switch>
      		</td>
      		<td>
      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS4" ng-change="changeEstatus(4)" ng-disabled="true">
					MALO
        		</md-switch>
      		</td>
      	</tr>
    	</tbody>
  	</table>
</section>
<section layout="" layout-sm="column">
	<md-input-container flex class="form-item form-item-right">
        <label>COMENTARIOS</label>
        <textarea style="height:100px" maxlength="500" md-maxlength="500" rows="1" name="C_PRONOSTICO" ng-model="nota.C_PRONOSTICO" readonly/>
    </md-input-container>
</section>
