<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >
     <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="paciente.nombrePaciente" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>ID</label>
            <input ng-model="paciente.idPaciente" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="paciente.expediente" readonly capitalize>
        </md-input-container>
        <md-input-container flex="20" class="form-item">
            <label>EXPEDIENTE SIU</label>
            <input maxlength="20" name="idExpediente" ng-model="paciente.expedienteSiu" capitalize readonly>
    </md-input-container>
    </section>
    <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container  class="form-item" flex="10">
            <label>EDAD</label>
            <input ng-model="paciente.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="paciente.f_nacimiento" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="10">
            <label>GÉNERO</label>
            <input ng-model="paciente.genero" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
              <label>CURP</label>
              <input ng-model="paciente.curp" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
              <label>PROCEDIMIENTO QUIRÚRGICO</label>
              <input ng-model="procedimiento" readonly capitalize>
        </md-input-container>
    </section>  
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="mensajeCirculante!=='' || mensajeCirujano!=='' || mensajeAnestesiologo!=='' ">
      <br>
         <h3>FIRMAS FALTANTES DE CIRUGÍA SEGURA: &nbsp  &nbsp</h3>
         <b> {{mensajeCirculante}} &nbsp  &nbsp &nbsp &nbsp</b> 
         <b> {{ mensajeCirujano}} &nbsp  &nbsp &nbsp &nbsp</b>
         <b> {{mensajeAnestesiologo}} &nbsp  &nbsp &nbsp &nbsp</b>
      <br>
    </section>
    <br>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" ng-show="cancelada && C_TIPO_CIRUGIA=='ELECTIVA' && !showFirma" layout-wrap>
          <h3>MOTIVOS DE CANCELACIÓN:</h3>
         <pre>
          <label ng-show="motivoIngreso.length>0" ><b>INGRESO:</b></label>
          <div  ng-repeat="ingreso in motivoIngreso">
              <label> {{ingreso.C_DESCRIPCION}}</label>
          </div>
          </pre>
           <pre>
          <label ng-show="motivoAntesCirugia.length>0" ><b>ANTES DE CIRUGÍA:</b></label>
          <div  ng-repeat="antesc in motivoAntesCirugia">
              <label> {{antesc.C_DESCRIPCION}}</label>
               <br/>
          </div>
          </pre>
     <br/>
    </section>
    <br>
    <fieldset class="standard" ng-show="showCirugiaSegura">
    <legend>CUESTIONARIO DE CIRUGÍA SEGURA</legend>    
      <div ng-cloak>
        <md-content>
        <br>
        <label>CIRUGÍA DE TIPO:<b> {{C_TIPO_CIRUGIA}}</b></label>
        <br>
        <br>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="AL INGRESAR EL PACIENTE A SALA DE OPERACIONES" ng-click="getDatosNota('ingreso')">
              <md-content class="md-padding">
                <label>CON ENFERMERA, ANESTESIÓLOGO Y EL CIRUJANO</label>
                <md-content class="md-padding" ng-repeat="item in ctrl.datos.ingreso | limitTo:6">
                  <label>{{item.C_DESCRIPCION}}</label>
                   <md-radio-group ng-model="item.C_VALOR" layout="row" >
                      <md-radio-button ng-value="respuesta.VALUE" ng-repeat="respuesta in ctrl.respuestas" ng-disabled="!editable" required >{{respuesta.ETIQUETA}}</md-radio-button>
                   </md-radio-group>
                </md-content>

                <md-content>
                  <label>{{ctrl.datos.ingreso[6].C_DESCRIPCION}}</label>
                  <md-radio-group ng-model="ctrl.datos.ingreso[6].C_VALOR" ng-change="clickLanzada()" layout="row" ng-disabled="!editable" required>
                    <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                    <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                  </md-radio-group> 
                </md-content>

                <md-content  ng-show="showLanzada1">
                  <blockquote>{{ctrl.datos.ingreso[7].C_DESCRIPCION}}
                  <md-radio-group ng-model="ctrl.datos.ingreso[7].C_VALOR"  layout="row"  ng-disabled="!editable" required>
                    <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                    <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                  </md-radio-group>
                  </blockquote>
                </md-content>

                 <md-content>
                 <label>{{ctrl.datos.ingreso[8].C_DESCRIPCION}}</label>
                  <md-radio-group ng-model="ctrl.datos.ingreso[8].C_VALOR" ng-change="clickLanzada()" layout="row"  ng-disabled="!editable"  required>
                    <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                    <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                  </md-radio-group> 
                 </md-content>

                <md-content ng-show="showLanzada2" >
                  <blockquote>{{ctrl.datos.ingreso[9].C_DESCRIPCION}}
                    <md-radio-group ng-model="ctrl.datos.ingreso[9].C_VALOR"  layout="row"  ng-disabled="!editable" required>
                      <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                      <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                    </md-radio-group> 
                  </blockquote> 
                </md-content>  
                <div layout="row" layout-align="start center" >
                  <md-button class="md-raised md-primary"  ng-click="validarGuardar('ingreso')"  ng-disabled="!editable" type="button">GUARDAR</md-button>
                </div> 
            </md-tab>

            <md-tab label="ANTES DE LA CIRUGIA" ng-click="getDatosNota('antesCirugia')">
            <label>CON ENFERMERA, ANESTESIÓLOGO Y EL CIRUJANO</label>
              <md-content class="md-padding">
                <label>{{ctrl.datos.antesCirugia[0].C_DESCRIPCION}}</label>
                  <td>
                    <md-radio-group ng-model="ctrl.datos.antesCirugia[0].C_VALOR"  layout="row" ng-disabled="!editable" required>
                      <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                      <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                    </md-radio-group>                              
                  </td>
                <label>{{ctrl.datos.antesCirugia[1].C_DESCRIPCION}}</label>
                  <td>
                    <md-radio-group ng-model="ctrl.datos.antesCirugia[1].C_VALOR"  layout="row" ng-disabled="!editable"  required>
                      <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                      <md-radio-button value="0" ng-disabled="!editable">NO</md-radio-button>            
                    </md-radio-group>                              
                  </td>
                <label>{{ctrl.datos.antesCirugia[2].C_DESCRIPCION}}</label>
                  <td>
                    <md-radio-group ng-model="ctrl.datos.antesCirugia[2].C_VALOR"  layout="row" ng-disabled="!editable"  required>
                      <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                      <md-radio-button value="0" ng-disabled="!editable">NO PROCEDE</md-radio-button>            
                    </md-radio-group>                              
                  </td> 
              
                <br>
                <br>
                <label><b>PREVISIÓN DE EVENTOS CRÍTICOS CIRUJANO</b></label>
                <br>
                <label>{{ctrl.datos.antesCirugia[3].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[3].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container> 

                <label>{{ctrl.datos.antesCirugia[4].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[4].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container>    

                <label>{{ctrl.datos.antesCirugia[5].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[5].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container>     

                <label>{{ctrl.datos.antesCirugia[6].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[6].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container>

                <label>{{ctrl.datos.antesCirugia[7].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[7].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container>  

                <label>{{ctrl.datos.antesCirugia[8].C_DESCRIPCION}}</label>
                <md-input-container flex="25" class="form-item">
                    <label>INGRESE AQUÍ SU RESPUESTA</label>
                    <input  maxlength="100" name="cDescripcion" ng-model="ctrl.datos.antesCirugia[8].C_MOTIVO"  ng-disabled="!editable" required >
                </md-input-container>  

                <label>{{ctrl.datos.antesCirugia[9].C_DESCRIPCION}}</label>
                  <td>
                    <md-radio-group ng-model="ctrl.datos.antesCirugia[9].C_VALOR"  layout="row"  ng-disabled="!editable" required>
                      <md-radio-button value="1" ng-disabled="!editable">SI</md-radio-button>
                      <md-radio-button value="0" ng-disabled="!editable">NO PROCEDE</md-radio-button>            
                    </md-radio-group>                              
                  </td>                                                                                         
              </md-content>
              <div layout="row" layout-align="start center" >
                <md-button class="md-raised md-primary"  ng-click="validarGuardar('antesCirugia')" type="button"  ng-disabled="!editable">GUARDAR</md-button>
              </div> 
            </md-tab>

            <md-tab label="ANTES DE QUE EL PACIENTE SALGA DE OPERACIONES" ng-click="getDatosNota('salgaOperaciones')">
            <label>LA ENFERMERA CONFIRMA VERBALMENTE</label>
              <md-content class="md-padding" ng-repeat="item in ctrl.datos.salgaOperaciones">
              <md-checkbox ng-model="item.C_VALOR" ng-click="" ng-disabled="!editable">{{item.C_DESCRIPCION}}
                </md-checkbox>
              </md-content>
              <div layout="row" layout-align="start center" >
                <md-button class="md-raised md-primary"  ng-click="validarGuardar('salgaOperaciones')" type="button"  ng-disabled="!editable">GUARDAR</md-button>
               </div> 
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </fieldset>

      <section>
       <div ng-show="showFirma">
            <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" required>
            </md-file-input>
     
            <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cert" required>
            </md-file-input>
        </div>

        <div layout="row" layout-align="center center" ng-show="showFirma">
            <md-button class="md-primary md-hue-1" ng-click="sellar()" type="button">SELLAR Y FIRMAR</md-button>
            <md-button class="md-primary md-hue-1"  ng-click="cancelarFirma()" type="button">CANCELAR</md-button>
        </div>
      </section>

     <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap >
          <md-input-container  class="form-item" flex="20" ng-show="showButton" >
                <md-button class="md-primary" md-no-ink ng-click="showKey()" type="button">FIRMAR</md-button>
          </md-input-container>
          <md-input-container  class="form-item" >
              <md-button md-no-ink  class="md-primary" ng-click="imprimir()" ng-show="imprimirNota" type="button"> IMPRIMIR  CIRUGÍA SEGURA</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="regresar()" class="md-primary" >REGRESAR</md-button>
          </md-input-container>
      </div>

   


  </md-card-content>
</md-card>

