<md-card layout-wrap class="md-whiteframe-6dp" ng-init="getUltimaNotaMedica()">
    <card-toolbar  canreturn="true"></card-toolbar>
    <md-card-content >

    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.H" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
  </section>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
  </section>

    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
       <md-input-container flex>
              <label>TIPO DE CONSENTIMIENTO</label>
              <md-select ng-model="ctrl.tipoConsentimientoInser" arial-label="PREGUNTA DE TIPO SELECT" ng-change="ctrl.buscarConsentimientoList()" flex>
                  <md-option ng-value="{{tipo.id}}" ng-repeat="(id, tipo) in ctrl.tipoContentimiento">
                      {{tipo.description}}
                      </md-option>
              </md-select>
        </md-input-container>

  </section>


  <!-- Datos solo informativos -->
  <div >
  <h3 class="md-headline">NOTAS DE INGRESO</h3>
    <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columnsNotaIngresoPre" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="nota in ctrl.consetimientoPreLis | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                <td>{{nota.NP_NOTA}}</td>
                <td >{{nota.C_DESCRIPCION_CIE_10 }}</td>
                <td>{{nota.FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                <td >
                     <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.cargarConsentimiento(nota)">
                          <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg"></md-icon>
                      </md-button>
                </td>

              </tr>

              <tr ng-show="ctrl.isErrorData">
                <td colspan="{{ctrl.numErrorColspan}}" style="text-align: center;">{{ctrl.mensajeError}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.consetimientoPreLis.length}}" md-trigger="onpagechange"></md-data-table-pagination>

  </div>


<!-- Seccion para la imagen -->
<div class="divImg">

  <form name="myForm">
    <div layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <br>Foto:<md-button md-no-ink class="md-primary" type="file"  ngf-select ng-model="picFile" name="fileConsentimiento" accept="'image/*,application/pdf'" ngf-max-size="10MB" required>Buscar archivo</md-button>
        <i ng-show="myForm.fileConsentimiento.$error.required">Campo requerido</i><br>
        <i ng-show="myForm.fileConsentimiento.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
    </div>

    <div layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
         <img ng-show="myForm.fileConsentimiento.$valid" ngf-thumbnail="picFile" class="thumb">
    </div>

     <div layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </span>

        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>

    <div layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-button md-no-ink class="md-primary" ng-click="picFile = null" ng-show="picFile">Eliminar</md-button>
        <md-button md-no-ink class="md-primary" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Guardar</md-button>
    </div>
  </form>

</div>
<!-- Termina Seccion para la imagen -->

  </md-card-content >
</md-card>
