<div ng-repeat="opc in cuantificaciones" style="margin: 10px 0px;">
	<form name="projectForm">
		<md-divider><h4 style="margin-bottom:5px;" aria-label="Power">{{opc.desc}}</h4></md-divider>
		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	        <md-input-container class="md-block">
		        <label>PRIMERA HORA</label>
		        <input required type="number" step="any" name="hora1" ng-model="opc.hora1" min="0"
		               max="9999" ng-pattern="/^[0-9]+$/" ng-change="calcularCuantificacion(opc)" ng-disabled="!editable"/>
		        <div ng-messages="projectForm.hora1.$error" >
		          <div ng-message="required">
		            VALOR REQUERIDO
		          </div>
		          <div ng-message="min">
		            EL VAMOR MÍNIMO ES DE 0
		          </div>
		          <div ng-message="max">
		            EL VALOR MÁXIMO ES DE 9999
		          </div>
		          <div ng-message="pattern">
		            SOLO NÚMEROS ENTEROS
		          </div>
		        </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		        <label>SEGUNDA HORA</label>
		        <input required type="number" step="any" name="hora2" ng-model="opc.hora2" min="0"
		               max="9999" ng-pattern="/^[0-9]+$/" ng-change="calcularCuantificacion(opc)" ng-disabled="!editable"/>
		        <div ng-messages="projectForm.hora2.$error" >
		          <div ng-message="required">
		            VALOR REQUERIDO
		          </div>
		          <div ng-message="min">
		            EL VAMOR MÍNIMO ES DE 0
		          </div>
		          <div ng-message="max">
		            EL VALOR MÁXIMO ES DE 9999
		          </div>
		          <div ng-message="pattern">
		            SOLO NÚMEROS ENTEROS
		          </div>
		        </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		        <label>TERCERA HORA</label>
		        <input required type="number" step="any" name="hora3" ng-model="opc.hora3" min="0"
		               max="9999" ng-pattern="/^[0-9]+$/" ng-change="calcularCuantificacion(opc)" ng-disabled="!editable"/>
		        <div ng-messages="projectForm.hora3.$error" >
		          <div ng-message="required">
		            VALOR REQUERIDO
		          </div>
		          <div ng-message="min">
		            EL VAMOR MÍNIMO ES DE 0
		          </div>
		          <div ng-message="max">
		            EL VALOR MÁXIMO ES DE 9999
		          </div>
		          <div ng-message="pattern">
		            SOLO NÚMEROS ENTEROS
		          </div>
		        </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		        <label>CUARTA HORA</label>
		        <input required type="number" step="any" name="hora4" ng-model="opc.hora4" min="0"
		               max="9999" ng-pattern="/^[0-9]+$/" ng-change="calcularCuantificacion(opc)" ng-disabled="!editable"/>
		        <div ng-messages="projectForm.hora4.$error" >
		          <div ng-message="required">
		            VALOR REQUERIDO
		          </div>
		          <div ng-message="min">
		            EL VAMOR MÍNIMO ES DE 0
		          </div>
		          <div ng-message="max">
		            EL VALOR MÁXIMO ES DE 9999
		          </div>
		          <div ng-message="pattern">
		            SOLO NÚMEROS ENTEROS
		          </div>
		        </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		        <label>TOTAL</label>
		        <input required type="number" step="any" ng-model="opc.total" min="0"
		               readonly/>
		    </md-input-container>
	    </section>
	</form>
</div>
<div layout="row" layout-align="end end">
    <md-button style="margin: 0px auto;" class="md-raised md-primary" ng-click="guardarCuantificaciones(true)" ng-disabled="!editable">GUARDAR</md-button>
</div>
