<md-dialog aria-label="NUEVA PREGUNTA" >
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>ARCHIVO</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px;max-height:610px; ">
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container  class="form-item" flex="60" >
              <md-button md-no-ink ng-click="modificarArchivo()" class="md-primary">MODIFICAR</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="40" ng-show="ruta==''">
              <md-button md-no-ink ng-click="verPdf()" class="md-primary">VER ARCHIVO</md-button>
          </md-input-container> 
      </section>   
      <img ng-show="ruta!='' " src="{{ruta}}">
    </md-dialog-content>
  </form>
</md-dialog>
