<div ng-show="editable">
<div aria-label="Power">
    <md-divider><h4 style="margin-bottom:5px;" aria-label="Power">INGRESO A QUIRÓFANO</h4></md-divider>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
        <!-- <md-datepicker ng-model="tiempos[0].fecha" md-placeholder="DD/MM/AAAA" style="margin-right: 40px;" aria-label="Power" ng-change="cambio(0)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power" ng-disabled="!editable">
            <md-simple-time-picker ng-model="tiempos[0].fecha" ng-disabled="!editable" aria-label="Power" id="0"></md-simple-time-picker>
        </md-input-container> -->

<md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[0].fecha" ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[0].fecha" required type="time" ng-Change="cambio()">
          </md-input-container>

    </section>

<!-- 
<md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="cita.FECHA" min="{{currentDate}}" required ng-Change="getCurrentTime()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="cita.HORA" required type="time" ng-change="getCurrentTime()" min="{{horaActual}}">
          </md-input-container> -->

</div>

<div aria-label="Power">
    <h4 style="margin-bottom:5px;" aria-label="Power">INICIO DE LA ANESTESIA</h4>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
       <!--  <md-datepicker ng-model="tiempos[1].fecha" md-placeholder="DD/MM/AAAA" md-min-date="tiempos[1].minDate" md-max-date="tiempos[1].maxDate" style="margin-right: 40px;" aria-label="Power" ng-change="cambio(1)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power" ng-disabled="!editable">
            <md-simple-time-picker ng-model="tiempos[1].fecha" aria-label="Power" id="1"></md-simple-time-picker>
        </md-input-container> -->


      <md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[1].fecha" md-min-date="tiempos[0].minDate"  required ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[1].fecha" required type="time" md-min-date="tiempos[0].minDate" ng-Change="cambio()" >
          </md-input-container>

    </section>
</div>

<div aria-label="Power">
    <h4 style="margin-bottom:5px;" aria-label="Power">INICIO DE LA CIRUJÍA</h4>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
      <!--   <md-datepicker ng-model="tiempos[2].fecha" md-placeholder="DD/MM/AAAA" md-min-date="tiempos[2].minDate" md-max-date="tiempos[2].maxDate"  style="margin-right: 40px;" aria-label="Power" ng-change="cambio(2)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power">
            <md-simple-time-picker ng-model="tiempos[2].fecha" aria-label="Power" id="2" ng-disabled="!editable"></md-simple-time-picker>
        </md-input-container> -->


     <md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[2].fecha"  required ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[2].fecha" required type="time" ng-Change="cambio()">
          </md-input-container>


    </section>
</div>

<div aria-label="Power">
   <h4 style="margin-bottom:5px;" aria-label="Power">TÉRMINO DE LA CIRUGÍA</h4>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
        <!-- <md-datepicker ng-model="tiempos[3].fecha" md-placeholder="DD/MM/AAAA" md-min-date="tiempos[3].minDate" md-max-date="tiempos[3].maxDate"  style="margin-right: 40px;" aria-label="Power" ng-change="cambio(3)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power" ng-disabled="!editable">
            <md-simple-time-picker ng-model="tiempos[3].fecha" aria-label="Power" id="3"></md-simple-time-picker>
        </md-input-container> -->

 <md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[3].fecha"  required ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[3].fecha" required type="time" ng-Change="cambio()">
          </md-input-container>

    </section>
</div>

<div aria-label="Power">
   <h4 style="margin-bottom:5px;" aria-label="Power">TÉRMINO DE LA ANESTESIA</h4>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
       <!--  <md-datepicker ng-model="tiempos[4].fecha" md-placeholder="DD/MM/AAAA" md-min-date="tiempos[4].minDate" md-max-date="tiempos[4].maxDate"  style="margin-right: 40px;" aria-label="Power" ng-change="cambio(4)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power" ng-disabled="!editable">
            <md-simple-time-picker ng-model="tiempos[4].fecha" aria-label="Power" id="4"></md-simple-time-picker>
        </md-input-container> -->


         <md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[4].fecha"  required ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[4].fecha" required type="time" ng-Change="cambio()">
          </md-input-container>
    </section>
</div>

<div aria-label="Power">
   <h4 style="margin-bottom:5px;" aria-label="Power">SALIDA DE QUIRÓFANO</h4>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
     <!--    <md-datepicker ng-model="tiempos[5].fecha" md-placeholder="DD/MM/AAAA" md-min-date="tiempos[5].minDate" md-max-date="tiempos[5].maxDate"  style="margin-right: 40px;" aria-label="Power" ng-change="cambio(5)" ng-disabled="!editable"></md-datepicker>
        <md-input-container style="margin-top: 7px; padding-bottom: 15px;" aria-label="Power" ng-disabled="!editable">
            <md-simple-time-picker ng-model="tiempos[5].fecha" aria-label="Power" id="5"></md-simple-time-picker>
        </md-input-container> -->

    <md-input-container flex class="form-item form-item-right">
              <label>FECHA</label>
              <input type="date" name="FECHA_NACIMIENTO" ng-model="tiempos[5].fecha" required ng-Change="cambio()">
          </md-input-container>
          <md-input-container flex class="form-item form-item-right" >
              <label>*HORA</label>
              <input name="HORA" ng-model="tiempos[5].fecha" required type="time" ng-Change="cambio()">
          </md-input-container>
        
    </section>


    </section>
</div>

<div layout="row" layout-align="end end">
    <md-button style="margin: 0px auto;" class="md-raised md-primary" ng-click="guardar(true)" ng-disabled="!editable" >GUARDAR</md-button>
</div>

</div>





  <div ng-show="editable==false" layout="row" >
    <section layout="colum" flex>
        <div layout="row" layout-align="start center" flex>
              <md-input-container  class="form-item" flex>
                    <label>INGRESO A QUIROFANO</label>
                    <input ng-model="ingresoQuirofano" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>INICIO DE ANESTESIA</label>
                    <input ng-model="inicioAnestesia" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>INICIO DE CIRUGÍA</label>
                    <input ng-model="inicioCirugia" readonly capitalize>
              </md-input-container>
              
        </div>

        <div layout="row" layout-align="start center">
              <md-input-container  class="form-item" flex>
                    <label>TERMINO DE CIRUGÍA</label>
                    <input ng-model="terminaCirugia" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>TERMINO ANESTESIA</label>
                    <input ng-model="terminaAnestesia" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>SALIDA DE QUIROFANO</label>
                    <input ng-model="salidaQuirofano" readonly capitalize>
              </md-input-container>
        </div>

        <div layout="row" layout-align="start center">
              <md-input-container  class="form-item" flex>
                    <label>DURACIÓN DE LA ANESTESIA</label>
                    <input ng-model="tiempoAnestesia" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>DURACIÓN DEL QUIRÓFANO</label>
                    <input ng-model="tiempoQuirofano" readonly capitalize>
              </md-input-container>
              <md-input-container  class="form-item" flex>
                    <label>DURACIÓN DE LA CIRUGÍA</label>
                    <input ng-model="tiempoCirugia" readonly capitalize>
              </md-input-container>
        </div>
    </section>

  </div>