<!-- <md-divider style="margin-top:15px;">DIAGNÓSTICO PRE-OPERATORIO</md-divider>
<section layout="" layout-sm="column">
	<md-autocomplete
	  md-no-cache="true"
	  md-selected-item=""
	  md-search-text-change="searchTextChange(searchDiagnostico1)"
	  md-search-text="searchDiagnostico1"
	  md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
	  md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
	  md-item-text="itemDiagnostico1.C_DESCRIPCION"
	  md-min-length="3"
	  md-floating-label="ESCRIBA EL NOMBRE DE LA ENFERMEDAD (CIE 10)"
	  required
	  flex
	  >
		<md-item-template >
	  		<span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemDiagnostico1.C_DESCRIPCION}}</span>
		</md-item-template>
	</md-autocomplete>
</section>
<section layout="" layout-sm="column" ng-if="diagnosticoPrincipal">
	<md-input-container flex >
		<label>ENFERMEDAD SELECCIONADA</label>
		<input ng-model="diagnosticoPrincipal.C_DESCRIPCION" ng-disabled="true"/>
	</md-input-container>
</section> -->

<!-- <md-divider style="margin-top:15px;">CIRUGÍA REALIZADA</md-divider>
<section layout="" layout-sm="column">
	<md-autocomplete
	  md-no-cache="true"
	  md-selected-item=""
	  md-search-text-change="searchTextChange(searchDiagnostico1)"
	  md-search-text="searchDiagnostico1"
	  md-selected-item-change="selectedItemChangeCirugia(itemDiagnostico1)"
	  md-items="itemCirugia in querySearchCirugia(searchDiagnostico1)"
	  md-item-text="itemCirugia.C_DESCRIPCION"
	  md-min-length="3"
	  md-floating-label="ESCRIBA EL NOMBRE DEL PROCEDIMIENTO, EL GRUPO O LA CLAVE"
	  required
	  flex
	  >
		<md-item-template >
	  		<span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemCirugia.C_DESCRIPCION}}</span>
		</md-item-template>
	</md-autocomplete>
</section>
<section layout="" layout-sm="column" ng-if="diagnosticoPrincipal">
	<md-input-container flex >
		<label>ENFERMEDAD SELECCIONADA</label>
		<input ng-model="diagnosticoPrincipal.C_DESCRIPCION" ng-disabled="true"/>
	</md-input-container>
</section> -->


<md-divider style="margin-top:15px;">DIAGNÓSTICO PRE-OPERATORIO</md-divider>
  <md-input-container class="md-block">
    <label>DIAGNÓSTICO PRE-OPERATORIO (CIE 10)</label>
    <textarea ng-model="diagnosticoPrincipalEs" readonly capitalize columns="1" rows="5" ng-disabled="!editable"></textarea>
  </md-input-container>

<md-divider style="margin-top:15px;">CIRUGÍA REALIZADA</md-divider>
  <md-input-container class="md-block">
  	<label>ESCRIBA UNA DESCRIPCIÓN (CIE 9)</label>
  	<textarea ng-model="cirugiaRealizadaEs" readonly capitalize columns="1" rows="5" ng-disabled="!editable"></textarea>
  </md-input-container>

<md-divider style="margin-top:15px;">CONDICIONES DE INGRESO DEL PASIENTE</md-divider>
<md-radio-group ng-model="eClinico.cIngreso"  class="md-primary" layout="row" style="width:50%; margin-left:10%;">
    <md-radio-button ng-disabled="!editable" value="ESTABLE" class="md-primary">ESTABLE</md-radio-button>
    <md-radio-button ng-disabled="!editable" value="INESTABLE">INESTABLE</md-radio-button>
    <md-radio-button ng-disabled="!editable" value="CONSCIENTE">CONSCIENTE</md-radio-button>
    <md-radio-button ng-disabled="!editable" value="INCONSCIENTE">INCONSCIENTE</md-radio-button>
    <md-radio-button ng-disabled="!editable" value="INTUBADO">INTUBADO</md-radio-button>
</md-radio-group>

<md-divider style="margin-top:15px;">SIGNOS VITALES</md-divider>
<md-input-container class="md-block">
	<label>ESCRIBA UNA DESCRIPCIÓN</label>
	<textarea ng-model="eClinico.sVitales" columns="1" rows="5" ng-disabled="!editable"></textarea>
</md-input-container>

<md-divider style="margin-top:15px;">VENOCLISIS</md-divider>
<md-input-container class="md-block">
	<label>ESCRIBA UNA DESCRIPCIÓN</label>
	<textarea ng-model="eClinico.venoclisis" columns="1" rows="5" ng-disabled="!editable"></textarea>
</md-input-container>

<md-divider style="margin-top:15px;">VALORACIONES</md-divider>
<md-data-table-container>
  <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
    <thead>
      <tr style="background-color:#00b5e2">
        <th ng-attr-unit="" name="ESCALA DE ALDRETE" ng-attr-trim="" style="width:60%; padding:0px;"></th>
        <!-- <th ng-attr-unit="" name="" ng-attr-trim="" style="width:10%; padding:0px;"></th> -->
        <th ng-attr-unit="" name="INGRESO" ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="5 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="10 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="15 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="30 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="ALTA" ng-attr-trim="" style="width:5%; padding:0px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="opc in eClinico.aldrete.valores" id="tabla">
		<td>
			<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
		    	<div style="" flex="30">{{opc.desc}}</div>
		        <section layout="column"  layout-md="" layout-sm="" layout-align="start center" layout-wrap flex="60">
					<div ng-repeat="aux in opc.auxiliares" style="padding: 1.2em 25px 1.2em 50px; text-align:right; min-width:100%;">
						{{aux}}
					</div>
		        </section>
			</section>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[0]" ng-change="sumarPuntuaciones(0)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[1]" ng-change="sumarPuntuaciones(1)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[2]" ng-change="sumarPuntuaciones(2)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[3]" ng-change="sumarPuntuaciones(3)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[4]" ng-change="sumarPuntuaciones(4)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[5]" ng-change="sumarPuntuaciones(5)" class="md-primary" layout="column" style="width:50%; margin-left:10%;" ng-disabled="!editable">
			    <md-radio-button value="2" class="md-primary" >2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
      </tr>
      <tr>
      	<td>TOTAL</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[0]}}
		</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[1]}}
		</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[2]}}
		</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[3]}}
		</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[4]}}
		</td>
		<td style="width:5%; padding:0px; text-align:center;">
			{{eClinico.aldrete.total[5]}}
		</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
<br><br>
<md-data-table-container>
  <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
    <thead>
      <tr style="background-color:#00b5e2">
        <th ng-attr-unit="" name="BROMAGE" ng-attr-trim="" style="width:60%; padding:0px;"></th>
        <!-- <th ng-attr-unit="" name="" ng-attr-trim="" style="width:10%; padding:0px;"></th> -->
        <th ng-attr-unit="" name="INGRESO" ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="5 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="10 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="15 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="30 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="ALTA" ng-attr-trim="" style="width:5%; padding:0px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="opc in eClinico.bromage">
		<td>
			{{opc.desc}}
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[0]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[1]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[2]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[3]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[4]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[5]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
<br><br>
<md-data-table-container>
  <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
    <thead>
      <tr style="background-color:#00b5e2">
        <th ng-attr-unit="" name="RAMSAY" ng-attr-trim="" style="width:60%; padding:0px;"></th>
        <!-- <th ng-attr-unit="" name="" ng-attr-trim="" style="width:10%; padding:0px;"></th> -->
        <th ng-attr-unit="" name="INGRESO" ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="5 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="10 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="15 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="30 MIN." ng-attr-trim="" style="width:5%; padding:0px;"></th>
        <th ng-attr-unit="" name="ALTA" ng-attr-trim="" style="width:5%; padding:0px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="opc in eClinico.ramsay">
		<td>
			{{opc.desc}}
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[0]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[1]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[2]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[3]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[4]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
		<td style="width:5%; padding:0px;">
			<md-radio-group ng-model="opc.valores[5]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
			    <md-radio-button value="2" class="md-primary" ng-disabled="!editable">2</md-radio-button>
			    <md-radio-button value="1" ng-disabled="!editable">1</md-radio-button>
			    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
			</md-radio-group>
		</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
<br><br>
<md-divider style="margin-top:35px;">ESCALA DEL DOLOR - INGRESO</md-divider>
<br>
<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	<md-whiteframe class="md-whiteframe-2dp" flex="30" layout layout-align="center center" style="padding: 15px 5px; width:250px; position:absolute;">
	    0 - SIN DOLOR<br>
	    2 - POCO DOLOR<br>
	    4 - DOLOR MODERADO<br>
	    6 - DOLOR FUERTE<br>
	    8 - DOLOR MUY FUERTE<br>
	    10 - DOLOR INSOPORTABLE<br>
	</md-whiteframe>
	<md-data-table-container flex="60" style="margin-left:270px;">
	  <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
	    <thead>
	      <tr style="background-color:#00b5e2">
	        <th ng-attr-unit="" name="INGRESO" ng-attr-trim="" style="width:15%; padding:0px;"></th>
	        <th ng-attr-unit="" name="5 MIN." ng-attr-trim="" style="width:15%; padding:0px;"></th>
	        <th ng-attr-unit="" name="10 MIN." ng-attr-trim="" style="width:15%; padding:0px;"></th>
	        <th ng-attr-unit="" name="15 MIN." ng-attr-trim="" style="width:15%; padding:0px;"></th>
	        <th ng-attr-unit="" name="30 MIN." ng-attr-trim="" style="width:15%; padding:0px;"></th>
	        <th ng-attr-unit="" name="ALTA" ng-attr-trim="" style="width:15%; padding:0px;"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="opc in eClinico.dolor">
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[0]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[1]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[2]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[3]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[4]" class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
			<td style="width:5%; padding:0px;">
				<md-radio-group ng-model="opc.valores[5]"  class="md-primary" layout="column" style="width:50%; margin-left:10%;">
				    <md-radio-button value="10" class="md-primary" ng-disabled="!editable">10</md-radio-button>
				    <md-radio-button value="8" ng-disabled="!editable">8</md-radio-button>
				    <md-radio-button value="6" ng-disabled="!editable">6</md-radio-button>
				    <md-radio-button value="4" ng-disabled="!editable">4</md-radio-button>
				    <md-radio-button value="2" ng-disabled="!editable">2</md-radio-button>
				    <md-radio-button value="0" ng-disabled="!editable">0</md-radio-button>
				</md-radio-group>
			</td>
	      </tr>
	    </tbody>
	  </table>
	</md-data-table-container>
</section>
<!--
<md-divider style="margin-top:35px;">MÉDICOS</md-divider>
<form ng-submit="$event.preventDefault()">
  <p>BUSCAR POR MÉDICO, ANESTESÓLOGO O RESIDENTE</p>
  <md-autocomplete
      ng-disabled="isDisabled"
      md-no-cache="noCache"
      md-selected-item="selectedItem"
      md-search-text-change="searchTextChange(searchText)"
      md-search-text="searchText"
      md-selected-item-change="selectedItemChange(item)"
      md-items="item in querySearch(searchText)"
      md-item-text="item.C_NOMBRE+' - '+item.N_ID"
      md-min-length="3"
      placeholder="NOMBRE"
	  autofocus="true">
    <md-item-template>
      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.C_NOMBRE}} - {{item.N_ID}}</span>
    </md-item-template>
    <md-not-found>
      NO SE ENCONTRARON RESULTADOS PARA "{{searchText}}".
    </md-not-found>
  </md-autocomplete>
  <br/>
</form> -->


  <div >
    <h3 class="md-headline">LISTA DE MEDICOS QUE INTERVINIERON EN LA OPERACIÓN</h3>
     <md-data-table-container>
            <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
              <thead md-order="query.order">
                <tr style="background-color:#00b5e2">
                  <th  ng-repeat="column in medicosActividad" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
                </tr>
              </thead>

              <tbody>
                <!-- <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRUJANO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"> -->
                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRUJANO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                 <!--  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.NOMBRE }}</td> -->
                   <td>{{dato.NF_EXPEDIENTE }}</td>
                   <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>
                  <td >CIRUJANO</td>
                  <!-- <td ng-show="!ctrl.isEditableNotaPost == false" >CIRUJANO</td> -->
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,0)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.ANESTESIOLOGO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                  <td >ANESTESIOLOGO</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,3)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                 <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.INSTRUMENTISTA | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                   <td >INSTRUMENTISTA</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,2)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.AYUDANTE | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>
                  <td >AYUDANTE</td>

                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,1)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                 <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRCULANTE | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                  <td >CIRCULANTE</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,4)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr  ng-show="ctrl.datosNota.CIRUJANO.length==0 || ctrl.datosNota.ANESTESIOLOGO.length==0 || ctrl.datosNota.INSTRUMENTISTA.length==0 || ctrl.datosNota.AYUDANTE.length==0 || ctrl.datosNota.CIRCULANTE.length==0" >
                  <td colspan="4" style="text-align: center;">DEBE INGRESAR POR LO MENOS UN MEDICO POR CADA ÁREA QUE PARTICIPO EL LA OPERACIÓN</td>

                </tr>

              </tbody>
            </table>
          </md-data-table-container>

          <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.contadorMedicos}}" md-trigger="onpagechange"></md-data-table-pagination>
  </div>


<div layout="row" layout-align="end end">
    <md-button style="margin: 0px auto;" class="md-raised md-primary" ng-click="guardarEstadoClinico()" ng-disabled="!editable">GUARDAR</md-button>
</div>
