
<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar ></card-toolbar>
  <md-card-content >
    <md-input-container class="form-item">
        <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
        <input maxlength="60"  ng-model="buscar" >
    </md-input-container>

    <section layout="row" layout-sm="column" layout-align="center center" >
         <div flex="90">
         <md-data-table-container>
            <table md-data-table   md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                   <tr>
                    <td style="text-align:center">ID PACIENTE</td>
                    <td style="text-align:center">NOMBRE</td>
                    <td style="text-align:center">EXPEDIENTE SIU</td>
                    <td style="text-align:center">VER NOTA</td>                        
                  </tr> 
                </thead>
                <tbody>
                  <tr md-auto-select ng-class="md-warn" ng-repeat="registro in historicoNotas | filter:buscar  | limitTo: query.limit: (query.page -1 )* query.limit" >
                  <td style="text-align:center">{{registro.NP_ID}}</td>        
                  <td style="text-align:center">{{registro.C_NOMBRE}} {{registro.C_PRIMER_APELLIDO}} {{registro.C_SEGUNDO_APELLIDO}}</td>
                  <td style="text-align:center">{{registro.NP_EXPEDIENTE_SIU}}</td>
                  <td style="text-align:center"><md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="verNotaQuirurgica(registro)">
	                     <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
	                   </md-button>
                  </td>
                  </tr>
                </tbody>
                
            </table>
            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{historicoNotas.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
        </md-data-table-container>
        </div>
    </section>
  </md-card-content>
</md-card>

