
<div ng-repeat="med in medicamentos" layout="column" ng-cloak>
  <md-divider style="margin-top:15px;">{{med.desc}}</md-divider>


  <section layout="row" flex layout-align="start center">
      <div layout="row" flex>
      <md-autocomplete id="medicamentos"
              md-no-cache="true"
              md-selected-item=""
              md-search-text-change=""
              md-search-text="med.medicamentoText"
              md-selected-item-change="selectedItemChangeMedicamento(medicamento,false,$index)"
              md-items="medicamento in querySearchMedicamento(med.medicamentoText)"
              md-item-text="medicamento.NP_MEDICAMENTO"
              md-min-length="3"
              ng-disabled="!editable"
              placeholder="POR FAVOR INGRESE EL NOMBRE DEL MEDICAMENTO" flex>
                <md-item-template>
                  <span md-highlight-text="med.medicamentoText" md-highlight-flags="^i">{{medicamento.NP_MEDICAMENTO}}</span>
                </md-item-template>
      </md-autocomplete>
      </div>
 
  </section>
{{catPresentacion}}
   <div layout="row" flex>
        <md-input-container class="md-block" flex="40">
            <label>PRESENTACIÓN</label>
            <md-select ng-model="med.presentacion" ng-disabled="!editable">
              <md-option ng-repeat="pre in med.catPresentacion" value="{{pre.DESCRIPCION}}">
                {{pre.DESCRIPCION}}
              </md-option>
            </md-select>


              
    


        </md-input-container>
        <md-input-container class="md-block" flex="20">
            <label>DOSIS</label>
            <input  type="number" style="height:30px; margin-top:13px;" min="0" ng-model="med.dosis" ng-disabled="!editable">
        </md-input-container>

        <md-input-container class="md-block" flex="20">
            <label>UNIDAD</label>
            <md-select flex-gt-sm ng-model="med.udosis" ng-disabled="!editable" ng-disabled="!editable">
              <md-option value="MG/KG">MG/KG</md-option>
              <md-option value="MCG/KG">MCG/KG</md-option>
            </md-select>
        </md-input-container>
   </div>



    <div layout="row" flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>VÍA DE ADMINISTRACIÓN</label>
            <md-select ng-model="med.via" ng-disabled="!editable">
              <md-option ng-repeat="via in catViaAdministracion">
                {{via.cDescripcion}}
              </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>CANTIDAD APLICADA(MILILITROS)</label>
            <input type="number"   ng-model="med.canAplicada" min="0" ng-disabled="!editable"/>
        </md-input-container>
       <!--  <md-input-container class="md-block" flex-gt-sm>
            <label>TIPO DE PRESENYACIÓN</label>
            <md-select ng-model="med.seleccionado" ng-disabled="!editable">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
        </md-input-container> -->
    </div>


    

</div>
<div layout="row" layout-align="end end">
    <md-button style="margin: 0px auto;" class="md-raised md-primary" ng-click="guardarMedicamentos(true)" ng-disabled="!editable">GUARDAR</md-button>
</div>

<!-- 
<div layout="row" layout-align="end end">
    <md-button style="margin: 0px auto;" class="md-raised md-primary" ng-click="ctrl.firmarDatos()">FIRMAR</md-button>
</div>
 -->