<md-card layout-wrap class="md-whiteframe-6dp" ng-init="getUltimaNotaMedica()">
    <card-toolbar  canreturn="true"></card-toolbar>
    <md-card-content >

    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.H" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
  </section>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap class="line-divider">
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
  </section>


<section ng-show="ctrl.idSeleccion == 3">

  <!-- Datos solo informativos -->
<!--   <div >
  <h3 class="md-headline">NOTAS POST-OPERATORIAS</h3>
    <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columnsPostQuirurgica" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="nota in ctrl.notasPostQuirurgicasList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

                <td>{{nota.FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                <td>{{nota.C_DESCRIPCION_CIE_9_REALIZADA}}</td>
                <td >{{nota.NP_NOTA_POSTQUIRURGICA }}</td>

                <td ng-show="!nota.C_FIRMA">
                     <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.editarNotaPostOperatoria(nota, true)">
                          <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg"></md-icon>
                      </md-button>
                </td>
                 <td ng-show="nota.C_FIRMA">
                     <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.editarNotaPostOperatoria(nota, false)">
                          <md-icon md-svg-src="images/icons/svg/ic_more_vert_white_24px.svg"></md-icon>
                      </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.notasPostQuirurgicasList.length}}" md-trigger="onpagechange"></md-data-table-pagination>

  </div> -->

    <!-- Datos que se utilizan para crear la nota post operatoria -->
<!--     <div >
    <h3 class="md-headline">NOTAS PRE-OPERATORIAS</h3>
     <md-data-table-container>
            <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
              <thead md-order="query.order">
                <tr style="background-color:#00b5e2">
                  <th ng-repeat="column in columnsPreQuirurgica" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="nota in ctrl.notasPreQuirurgicasList.NOTAS_PREQUIRURGICAS | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

                  <td>{{nota.FECHA_CIRUGIA | date:'dd/MM/yyyy' }}</td>
                  <td>{{nota.C_DESCRIPCION_CIE_10}}</td>
                  <td>{{nota.C_DESCRIPCION_CIE_9 }}</td>
                  <td ng-show="!nota.C_FIRMA">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.crearNota(4,nota,notaPostOperatoria)">
                          <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg"></md-icon>
                      </md-button>
                  </td>
                  <td ng-show="nota.C_FIRMA">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.crearNota(4,nota,notaPostOperatoria)">
                          <md-icon md-svg-src="images/icons/svg/ic_more_vert_white_24px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>
                <tr ng-show="!ctrl.notasPreQuirurgicasList">
                    <td colspan="5" style="text-align: center;">EL PACIENTE NO TIENE NOTAS PRE OPERATORIAS</td>
              </tr>
              </tbody>
            </table>
          </md-data-table-container>

          <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.notasPreQuirurgicasList.NOTAS_PREQUIRURGICAS.length}}" md-trigger="onpagechange"></md-data-table-pagination>
  </div> -->
</section>



  <!-- Datos para crear nota pos-operatoria -->
<section ng-show="ctrl.idSeleccion == 4">

<h3 class="md-headline">{{ctrl.mensajeNota}}</h3>

<form name="notaPostOperatoria"  novalidate>

<div layout="row" layout-align="start start" flex="100" class="line-divider">

   <div layout="row" layout-align="start start" flex="50" >
        <md-input-container class="md-block" flex>
          <label>OPERACIÓN PLANEADA (CIE 9)</label>
          <input ng-model="ctrl.cie09Programado" flex name="cie9programado"  readonly >
        </md-input-container>
    </div>

    <div layout="row" layout-align="start start" flex="50">
           <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="ctrl.selecItemCie9"
                    md-search-text-change="searchTextChangeCie9(searchDiagnostico2)"
                    md-search-text="searchDiagnostico2"
                    md-selected-item-change="selectedItemChangeDiagnostico2(itemDiagnostico2)"
                    md-items="itemDiagnostico2 in querySearchDiagnostico2(searchDiagnostico2)"
                    md-item-text="itemDiagnostico2.C_DESCRIPCION"
                    md-min-length="3"
                    md-floating-label="OPERACIÓN REALIZADA (CIE 9)"
                    required
                    flex
                    md-input-name="autocompleteCie9"
                    ng-disabled="ctrl.isEditableNotaPost"
                    >
                    <md-item-template >
                        <span md-highlight-text="searchDiagnostico2" md-highlight-flags="^i">{{itemDiagnostico2.C_DESCRIPCION}}</span>
                    </md-item-template>
                    <div ng-messages="notaPostOperatoria.autocompleteCie9.$error">
                          <div ng-message="required" >Campo requerido</div>
                          <div ng-message="minlength">Se requieren 2 cracteres minimo</div>
                    </div>
          </md-autocomplete>
    </div>

</div>




  <div layout="row" layout-align="start center" layout-wrap  class="line-divider">
        <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="ctrl.selectedItemCIE10"
                    md-search-text-change="searchTextChangeCie10(searchDiagnostico1)"
                    md-search-text="searchDiagnostico1"
                    md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
                    md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
                    md-item-text="itemDiagnostico1.C_DESCRIPCION"
                    md-input-minlength="5"
                    md-floating-label="DIAGNÓSTICO POST-OPERATORIO (CIE 10)"
                    required
                    flex
                    md-input-name="autocompleteField"

                    ng-disabled="ctrl.isEditableNotaPost"
                    >
                    <md-item-template >
                        <span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemDiagnostico1.C_DESCRIPCION}}</span>
                    </md-item-template>
                     <div ng-messages="notaPostOperatoria.autocompleteField.$error">
                          <div ng-message="required" >Campo requerido</div>
                          <div ng-message="minlength">Se requieren 5 caracteres minimo</div>
                    </div>
       </md-autocomplete>
    </div>


     <div layout="row" layout-align="start center" layout-wrap class="line-divider">
        <md-input-container class="md-block" flex>
          <label>DESCRIPCIÓN DE LA TÉCNICA QUIRÚRGICA</label>
        <!--  <input ng-model="ctrl.dataFinal.datos.C_TECNICA_QUIRURGICA" flex name="tecnicaQuirurgica" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required> -->
          <textarea ng-model="ctrl.dataFinal.datos.C_TECNICA_QUIRURGICA"  flex name="tecnicaQuirurgica" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required ></textarea>
          <div ng-messages="notaPostOperatoria.tecnicaQuirurgica.$error">
                <div ng-message="required" >Campo requerido</div>
                <div ng-message="minlength">Se requieren 5 caracteres minimo</div>
                <div ng-message="maxlength">Máximo 500 caracteres</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center" layout-wrap class="line-divider">
          <md-input-container class="md-block" flex>
          <label>HALLAZGOS TRANSOPERATORIOS</label>
         <!-- <input ng-model="ctrl.dataFinal.datos.C_HALLASGOS" flex name="hallazgoOperatorio" minlength="5" ng-readonly="ctrl.isEditableNotaPost" maxlength="500"  md-minlength="5" md-maxlength="500" required> -->
          <textarea ng-model="ctrl.dataFinal.datos.C_HALLASGOS" flex name="hallazgoOperatorio" minlength="5" ng-readonly="ctrl.isEditableNotaPost" maxlength="500"  md-minlength="5" md-maxlength="500" required></textarea>
          <div ng-messages="notaPostOperatoria.hallazgoOperatorio.$error">
                <div ng-message="required" >Campo requerido</div>
                <div ng-message="minlength">Se requieren 5 caracteres minimo</div>
                <div ng-message="maxlength">Máximo 500 caracteres</div>
          </div>
      </md-input-container>
    </div>





       <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider">
            <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">REPORTE DEL CONTEO DE GASAS Y COMPRESAS</p>
            <md-radio-group ng-model="ctrl.dataFinal.datos.N_CONTEO_GASES" layout="row" flex-lg="25"  flex-gt-lg="25" flex-sm="100" flex-md="100" class="paddin-top-5" layout-align="start center">
              <md-radio-button value="1" class="md-primary" flex ng-disabled="ctrl.isEditableNotaPost">Completo</md-radio-button>
              <md-radio-button value="0" flex ng-disabled="ctrl.isEditableNotaPost"> Incompleto </md-radio-button>
            </md-radio-group>
        </div>



        <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider">
            <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">INCIDENTES Y ACCIDENTES</p>

            <md-radio-group ng-model="ctrl.dataFinal.datos.N_INCIDENTES" ng-change="ctrl.N_INCIDENTES_CHANGE(1)" name="nIncidentes" required  layout="row" flex-lg="25" flex-gt-lg="25" flex-sm="100" flex-md="100" class="paddin-top-5" layout-align="start center">
              <md-radio-button value="1" class="md-primary" flex ng-disabled="ctrl.isEditableNotaPost">SI</md-radio-button>
              <md-radio-button value="0" flex ng-disabled="ctrl.isEditableNotaPost">NO</md-radio-button>
            </md-radio-group>

            <md-input-container class="md-block"  flex-lg="50" flex-gt-lg="50" flex-md="100" flex-sm="100" ng-disabled="ctrl.isEditableNotaPost">
              <label>DESCRIBA LOS INCIDENTES O ACCIDENTES OCURRIDOS</label>
              <input ng-model="ctrl.dataFinal.datos.C_INCIDENTES" flex name="cIncidentes" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required="!ctrl.C_INCIDENTES_DISABLED" ng-disabled="ctrl.C_INCIDENTES_DISABLED" >
              <div ng-messages="notaPostOperatoria.cIncidentes.$error" >
                  <div ng-message="required" ng-if="ctrl.C_INCIDENTES_DISABLED==false">Campo requerido</div>
                  <div ng-message="minlength" ng-if="ctrl.C_INCIDENTES_DISABLED==false">Se requieren 5 cracteres minimo</div>
                  <div ng-message="maxlength" ng-if="ctrl.C_INCIDENTES_DISABLED==false">Maximo 500 cracteres</div>
              </div>
          </md-input-container>
        </div>







    <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider">
        <md-input-container  flex>
            <label>CUANTIFICACIÓN DE SANGRADO (EN MILILITROS)</label>
            <input type="number"  ng-model="ctrl.dataFinal.datos.N_SANGRADO" ng-readonly="ctrl.isEditableNotaPost" name="nMililitros" required="true">
            <div ng-messages="notaPostOperatoria.nMililitros.$error" >
                  <div ng-message="required">Campo requerido</div>
                  <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
                  <div ng-message="maxlength">Maximo 500 cracteres</div>
            </div>
        </md-input-container>
    </div>


     <div layout="row" layout-align="start start" flex="100" class="line-divider">
        <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">TRANSFUSIONES</p>

        <md-radio-group ng-model="ctrl.dataFinal.datos.N_TRANSFUSIONES" ng-change="ctrl.N_INCIDENTES_CHANGE(2)"  layout="row" flex-lg="25" flex-gt-lg="25" flex-sm="100" flex-md="100" class="paddin-top-5" layout-align="start center">
          <md-radio-button value="1" class="md-primary" flex ng-disabled="ctrl.isEditableNotaPost">SI</md-radio-button>
          <md-radio-button value="0" flex ng-disabled="ctrl.isEditableNotaPost">NO</md-radio-button>
        </md-radio-group>
        <md-input-container class="md-block" ng-disabled="ctrl.isEditableNotaPost" flex>
          <label>DATALLE AQUÍ</label>
          <input ng-model="ctrl.dataFinal.datos.C_TRANSFUSIONES"  ng-disabled="ctrl.N_TRANSFUSIONES_DISABLED" flex name="c_transfusiones" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required="!ctrl.N_TRANSFUSIONES_DISABLED">
          <div ng-messages="notaPostOperatoria.c_transfusiones.$error" >
                  <div ng-message="required" ng-if="ctrl.N_TRANSFUSIONES_DISABLED==false">Campo requerido</div>
                  <div ng-message="minlength" ng-if="ctrl.N_TRANSFUSIONES_DISABLED==false">Se requieren 5 cracteres minimo</div>
                  <div ng-message="maxlength" ng-if="ctrl.N_TRANSFUSIONES_DISABLED==false">Maximo 500 cracteres</div>
          </div>
      </md-input-container>

    </div>


  <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider">
   <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">RESULTADOS E INTERPRETACIÓN DE ESTUDIOS DE SERVICIOS AUXILIARES DE DIAGNÓSTICO TRANS OPERATORIO</p>
        <md-radio-group  ng-model="ctrl.dataFinal.datos.N_RESULTDS_TRANSQUIRURGICOS" ng-change="ctrl.N_INCIDENTES_CHANGE(3)" layout="row" flex-lg="25" flex-gt-lg="25" flex-sm="100" flex-md="100" class="paddin-top-5" layout-align="start center">
          <md-radio-button value="1" class="md-primary" flex ng-disabled="ctrl.isEditableNotaPost">SI</md-radio-button>
          <md-radio-button value="0" flex ng-disabled="ctrl.isEditableNotaPost"> NO </md-radio-button>
        </md-radio-group>

        <md-input-container class="md-block" flex-lg="50" flex-gt-lg="50" flex-md="100" flex-sm="100" ng-disabled="ctrl.isEditableNotaPost">
          <label>DATALLE AQUÍ</label>
          <input ng-model="ctrl.dataFinal.datos.C_RESULTDS_TRANSQUIRURGICOS" flex="100" required="!ctrl.RESULTDS_TRANSQUIRURGICOS_DISABLED"  ng-disabled="ctrl.RESULTDS_TRANSQUIRURGICOS_DISABLED" name="nameTRANSQUIRURGICOS" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required>
          <div ng-messages="notaPostOperatoria.nameTRANSQUIRURGICOS.$error">
              <div ng-message="required" ng-if="ctrl.RESULTDS_TRANSQUIRURGICOS_DISABLED==false">Campo requerido</div>
              <div ng-message="minlength" ng-if="ctrl.RESULTDS_TRANSQUIRURGICOS_DISABLED==false">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength" ng-if="ctrl.RESULTDS_TRANSQUIRURGICOS_DISABLED==false">Maximo 500 cracteres</div>
          </div>
      </md-input-container>


    </div>

      <div layout="row" layout-align="start center" layout-wrap class="line-divider">
          <md-input-container class="md-block" flex>
          <label>ESTADO POST-QUIRÚRGICO INMEDIATO</label>
         <!-- <input ng-model="ctrl.dataFinal.datos.C_ESTADO_POSTQUIRURGICO" flex name="postQuirurgicoInmediato" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required> -->
          <textarea ng-model="ctrl.dataFinal.datos.C_ESTADO_POSTQUIRURGICO" flex name="postQuirurgicoInmediato" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required></textarea>
        
          <div ng-messages="notaPostOperatoria.postQuirurgicoInmediato.$error">
              <div ng-message="required" >Campo requerido</div>
              <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength">Maximo 500 cracteres</div>
          </div>
      </md-input-container>
    </div>



    <div layout="row" layout-align="start center" layout-wrap class="line-divider">
          <md-input-container class="md-block" flex>
          <label>PLAN MANEJO Y TRATAMIENTO POST-OPERATORIO INMEDIATO</label>
          <textarea ng-model="ctrl.dataFinal.datos.C_PLAN_POSTQUIRURGICO" flex name="estadoPostOperatorio" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required></textarea>
        <!--  <input ng-model="ctrl.dataFinal.datos.C_PLAN_POSTQUIRURGICO" flex name="estadoPostOperatorio" ng-readonly="ctrl.isEditableNotaPost" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required>  -->

          <div ng-messages="notaPostOperatoria.estadoPostOperatorio.$error">
              <div ng-message="required" >Campo requerido</div>
              <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength">Maximo 500 cracteres</div>
          </div>
      </md-input-container>
    </div>


  <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider">
   <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">ENVÍO DE PIEZAS O BIOPSIAS</p>
    <md-radio-group ng-model="ctrl.dataFinal.datos.N_BIOPSIA" layout="row" flex-lg="25"  ng-change="ctrl.N_INCIDENTES_CHANGE(4)" flex-gt-lg="25" flex-sm="100" flex-md="100" class="paddin-top-5" layout-align="start center">
          <md-radio-button value="1" class="md-primary" flex ng-disabled="ctrl.isEditableNotaPost">SI</md-radio-button>
          <md-radio-button value="0" flex ng-disabled="ctrl.isEditableNotaPost"> NO </md-radio-button>

        </md-radio-group>

        <md-input-container class="md-block" flex-lg="50" flex-gt-lg="50" flex-md="100" flex-sm="100" ng-disabled="ctrl.isEditableNotaPost">
          <label>DATALLE AQUÍ</label>
          <input ng-model="ctrl.dataFinal.datos.C_BIOPSIA" flex name="c_biopsia" required="!ctrl.c_biopsia_DISABLED"  ng-disabled="ctrl.c_biopsia_DISABLED" minlength="5" maxlength="500"  md-minlength="5" md-maxlength="500" required>
          <div ng-messages="notaPostOperatoria.c_biopsia.$error">
             <div ng-message="required" ng-if="ctrl.c_biopsia_DISABLED==false">Campo requerido</div>
              <div ng-message="minlength" ng-if="ctrl.c_biopsia_DISABLED==false">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength" ng-if="ctrl.c_biopsia_DISABLED==false">Maximo 500 cracteres</div>
          </div>
      </md-input-container>
  </div>

  <div layout="row" layout-sm="column" layout-md="column" flex="100" layout-align="start start" class="line-divider" ng-show="anestesia">
   <p flex-lg="25" flex-gt-lg="25" flex-md="100" flex-sm="100" class="paddin-top-5">DURACIÓN DE CIRUGÍA</p>
      <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap aria-label="Power">
          <md-input-container  class="form-item" flex="20">
            <label>HORAS</label>
            <input type="number" ng-model="hora" ng-disabled="ctrl.isEditableNotaPost">
          </md-input-container>
          <md-input-container  class="form-item" flex="20">
            <label>MINUTOS</label>
            <input type="number" ng-model="minutos" ng-disabled="ctrl.isEditableNotaPost">
          </md-input-container>
      </section>
  </div>


<!-- md-no-cache="true"
                    md-selected-item="selectedIte"
                    md-search-text-change="searchTextChangeCie10(searchDiagnostico1)"
                    md-search-text="searchDiagnostico1"
                    md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
                    md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
                    md-item-text="itemDiagnostico1.C_DESCRIPCION"
                    md-input-minlength="5"
                    md-floating-label="ESCRIBA EL NOMBRE DE LA ENFERMEDAD (CIE 10)"
                    required
                    flex
                    md-input-name="autocompleteField"
                    ng-disabled="false" -->


      <div  layout="row" ng-show="!ctrl.isEditableNotaPost == true" layout-sm="column" layout-md="column" flex="100" layout-align="start start" >
       <div >
            <md-input-container>
              <label>TIPO DE MEDICO</label>
              <md-select ng-model="ctrl.idTipoMedico" arial-label="PREGUNTA DE TIPO SELECT"  ng-change="ctrl.cambiarTipoMedico()" ng-readonly="ctrl.isEditableNotaPost" aria-label="RESPUESTAS">
                  <md-option ng-value="{{descripcion.NP_TIPO}}" ng-repeat="(id, descripcion) in ctrl.tiposMedico">
                      {{descripcion.C_DESCRIPCION}}
                      </md-option>
              </md-select>
            </md-input-container>



        </div>
            <md-autocomplete
                ng-disabled="ctrl.disabledMedico"
                md-no-cache="true"
                md-selected-item="medicoSelected"
                md-search-text="searchMedico"
                md-items="itemMedico in querySearchMedico(searchMedico)"
                md-selected-item-change="selectedItemChangeMedico(itemMedico)"
                md-item-text="itemMedico.display"
                md-min-length="1"
                md-floating-label="NOMBRE DEL MÉDICO"
                flex
                class="form-item"
            >
              <md-item-template capitalize>
                  <span md-highlight-text="ctrlCita.searchTextMedico" md-highlight-flags="^i">{{itemMedico.display}}</span>
                </md-item-template>
            </md-autocomplete>
          </div>


  <div >
    <h3 class="md-headline">LISTA DE MEDICOS QUE INTERVINIERON EN LA OPERACIÓN</h3>
     <md-data-table-container>
            <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
              <thead md-order="query.order">
                <tr style="background-color:#00b5e2">
                  <th  ng-repeat="column in medicosActividad" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
                </tr>
              </thead>

              <tbody>
                <!-- <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRUJANO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"> -->
                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRUJANO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                 <!--  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.NOMBRE }}</td> -->
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                  <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>
                  <td >CIRUJANO</td>
                  <!-- <td ng-show="!ctrl.isEditableNotaPost == false" >CIRUJANO</td> -->
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,0)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.ANESTESIOLOGO | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                   <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                  <td >ANESTESIOLOGO</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,3)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                 <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.INSTRUMENTISTA | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                   <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                   <td >INSTRUMENTISTA</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,2)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.AYUDANTE | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                   <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>
                  <td >AYUDANTE</td>

                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,1)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                 <tr ng-show="dato.delete==false" ng-repeat="dato in ctrl.datosNota.CIRCULANTE | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                  <td>{{dato.NF_EXPEDIENTE }}</td>
                   <td>{{dato.C_CEDULA }}</td>
                  <td>{{dato.NOMBRE }}</td>

                  <td >CIRCULANTE</td>
                  <td ng-show="ctrl.isEditableNotaPost == false">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.eliminarOpcion($index,4)">
                          <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
                      </md-button>
                  </td>
                </tr>

                <tr  ng-show="ctrl.mostrarMensaje ==false" >
                  <td colspan="4" style="text-align: center;">DEBE INGRESAR POR LO MENOS UN MEDICO POR CADA ÁREA QUE PARTICIPO EL LA OPERACIÓN</td>

                </tr>

              </tbody>
            </table>
          </md-data-table-container>

          <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.contadorMedicos}}" md-trigger="onpagechange"></md-data-table-pagination>
  </div>

     <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap>
          <md-input-container  class="form-item" flex="30" ng-show="!ctrl.isNueNotaPos == true && ctrl.isNotaPostFirmada == false">
                <md-button md-no-ink ng-click="ctrl.eliminarNota(2,notaPostOperatoria)"  class="md-primary">ELIMINAR</md-button>
          </md-input-container>
          <md-input-container  class="form-item" >
                <md-button md-no-ink  class="md-primary" ng-click="imprimir(2)" ng-show="imprimirNota" type="button"> IMPRIMIR  NOTA POST-OPERATORIA</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.cancelarNota(3,notaPostOperatoria)" class="md-primary">{{ctrl.regresarCancelar}}</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="30" ng-show="!ctrl.isEditableNotaPost == true">
                <md-button md-no-ink ng-click="ctrl.guardarDatos(3,notaPostOperatoria)" class="md-primary">GUARDAR</md-button>
          </md-input-container>
          <!-- <md-input-container  class="form-item" flex="30" >
              <md-button md-no-ink ng-click="regresar()" class="md-primary" >REGRESAR</md-button>
          </md-input-container> -->
      </div>
</form>
</section>


<section ng-show="ctrl.idSeleccion == 5">
    <div ng-show="ctrl.firmarDatos"  class="md-whiteframe-1dp">
          <md-file-input title="LLAVE"  on-read-file="cargaLlave($fileContent)" id="key" ng-model="ctrl.key"></md-file-input>
          <md-file-input title="CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer"></md-file-input>
          <div layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
              <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.cancelarNota(3,notaPostOperatoria)" class="md-primary">CANCELAR</md-button>
              </md-input-container>
              <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.sellarDatosPostOperatorios(notaPostOperatoria)" class="md-primary">SELLAR Y GUARDAR</md-button>
          </md-input-container>

          </div>
    </div>
</section>




  </md-card-content >
</md-card>
