<md-card class="md-whiteframe-6dp" ng-init="cargarDatos()">
    <card-toolbar  canreturn="true">
    </card-toolbar>
    <md-card-content>
        <section layout="row" layout-sm="column" layout-align="start center">
            <md-input-container  class="form-item" flex="30">
                <label>NOMBRE DEL PACIENTE</label>
                <input ng-model="datos.nombre" readonly capitalize>
            </md-input-container>
            <md-input-container  class="form-item" flex="30">
                <label>ID</label>
                <input ng-model="datos.H" readonly capitalize>
            </md-input-container>
            <md-input-container  class="form-item" flex="30">
                <label>NO. EXPEDIENTE</label>
                <input ng-model="datos.exp" readonly capitalize>
            </md-input-container>
        </section>

        <section layout="row" layout-sm="column" layout-align="start center">
            <md-input-container  class="form-item" flex="30">
                <label>FECHA DE NACIMIENTO</label>
                <input ng-model="datos.fNac" readonly capitalize>
            </md-input-container>
            <md-input-container  class="form-item" flex="30">
                <label>EDAD</label>
                <input ng-model="datos.edad" readonly capitalize>
            </md-input-container>
            <md-input-container  class="form-item" flex="30">
                <label>GÉNERO</label>
                <input ng-model="datos.genero" readonly capitalize>
            </md-input-container>
        </section>
        
        <div ng-show="showNota">
            <md-toolbar class="contentClinico"  ng-click="seleccionar(0)" >
                <div class=" no_selection linkClinico" >
                    {{secciones[0].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="medicamentosutilizados" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[0].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

            <md-toolbar class="contentClinico"  ng-click="seleccionar(1,'duracionAnestesia')" >
                <div class=" no_selection linkClinico" >
                    {{secciones[1].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="duracionanestesia" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[1].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

            <md-toolbar class="contentClinico"  ng-click="seleccionar(2)" >
                <div class=" no_selection linkClinico" >
                    {{secciones[2].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[2].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

            <md-toolbar class="contentClinico"  ng-click="seleccionar(3,'cuantificaciones')" >
                <div class=" no_selection linkClinico" >
                    {{secciones[3].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="cuantificaciones" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[3].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

            <md-toolbar class="contentClinico"  ng-click="seleccionar(4,'estadoClinico')" >
                <div class=" no_selection linkClinico" >
                    {{secciones[4].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="estadoclinico" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[4].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

            <md-toolbar class="contentClinico"  ng-click="seleccionar(5)" >
                <div class=" no_selection linkClinico" >
                    {{secciones[5].titulo}}
                </div>
            </md-toolbar>
            <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[5].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>
        </div>

        <div ng-show="showFirma">
            <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" required>
            </md-file-input>
     
            <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cert" required>
            </md-file-input>
        </div>
    </md-card-content>

        <div layout="row" layout-align="center center" ng-show="showFirma">
            <md-button class="md-primary md-hue-1" ng-click="sellar()" type="button">SELLAR Y FIRMAR</md-button>
            <md-button class="md-primary md-hue-1"  ng-click="cancelar()" type="button">CANCELAR</md-button>
        </div>

        <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap >
            <md-input-container  class="form-item" >
                <md-button md-no-ink class="md-primary" ng-show="showButton" ng-click="ctrl.firmarDatos()" type="button">FIRMAR</md-button>
             </md-input-container>
            <md-input-container  class="form-item" >
                 <md-button md-no-ink class="md-primary" ng-show="false" ng-click="eliminarNota()" type="button">ELIMINAR</md-button>
            </md-input-container>
            <md-input-container  class="form-item" >
                <md-button md-no-ink  class="md-primary" ng-click="imprimir()" ng-show="imprimirNota" type="button"> IMPRIMIR  NOTA POST-ANESTÉSICA</md-button>
            </md-input-container>
            <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="regresar()" class="md-primary" >REGRESAR</md-button>
            </md-input-container>
           
        </div>

</md-card>


<!-- ng-click="ctrl.firmarDatos()"   showKey-->