<md-card layout-wrap class="md-whiteframe-6dp" ng-init="getUltimaNotaMedica()">
    <card-toolbar  canreturn="true"></card-toolbar>
    <md-card-content >

    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex>
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.H" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
  </section>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex>
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
  </section>

<!--   <section layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap ng-show="ctrl.idSeleccion == 1 && ctrl.crearNuevaNota" >

        <md-input-container  class="form-item" flex="30">
            <md-button md-no-ink ng-click="ctrl.crearNota(2)" class="md-primary">CREAR NOTA PRE-OPERATORIA</md-button>
        </md-input-container>
  </section> -->




  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="ctrl.idSeleccion == 1">

       <md-input-container flex>
        <label>Tipo</label>
        <md-select ng-model="ctrl.tipoSolicitud" ng-change="ctrl.cambiarSolicitud()" flex>
          <md-option value="electiva">Electiva</md-option>
          <md-option value="urgencia">Urgencias</md-option>
        </md-select>
      </md-input-container>
  </section>


<section ng-show="ctrl.idSeleccion == 1">

   <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="nota in ctrl.notasMedicasList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

                <td>{{nota.T_FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                <td>{{nota.NP_NOTA_MEDICA }}</td>
                <td>{{nota.C_DESCRIPCION_CIE_10}}</td>


                <td>
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.editarNotaPreOperatoria(nota.NP_NOTA_MEDICA,nota.C_DESCRIPCION_CIE_10,nota.NP_CIE_10,true)">
                          <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg"></md-icon>
                      </md-button>
                </td>

            <!--     <td ng-show="nota.C_FIRMA">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.editarNotaPreOperatoria('{{nota.NP_NOTA_PREQUIRURGICA}}',false)">
                          <md-icon md-svg-src="images/icons/svg/ic_more_vert_white_24px.svg"></md-icon>
                      </md-button>
                </td> -->


              </tr>
              <tr ng-show="ctrl.notasMedicasList.length == 0">
                <td colspan="5" style="text-align: center;">EL PACIENTE NO TIENE UNA CONSULTA PREVIA</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.notasMedicasList.length}}" md-trigger="onpagechange"></md-data-table-pagination>

</section>

<form name="notaPreOperatoria" ng-submit="$event.preventDefault()" novalidate>

<section ng-show="ctrl.idSeleccion == 2" layout="column" class="md-whiteframe-1dp" layout-align="stretch center">

   <div layout="row" layout-align="start center" layout-wrap >
      <md-input-container class="md-block label-fecha">
          <label>FECHA DE LA CIRUGÍA</label>

      </md-input-container>


        <md-datepicker  ng-model="ctrl.fechaNotapreOperatoria"  md-min-date="ctrl.fechaMinima"  ng-disabled="!ctrl.notaPreOperatoriaEdit" name="fechaNota"  md-placeholder="DD/MM/YYYY" required></md-datepicker>





    </div>


  <div layout="row" layout-align="start center" layout-wrap  >
        <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="selectedIte"
                    md-search-text-change="searchTextChangeCie10(searchDiagnostico1)"
                    md-search-text="searchDiagnostico1"
                    md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
                    md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
                    md-item-text="itemDiagnostico1.C_DESCRIPCION"
                    md-input-minlength="2"
                    md-floating-label="DIAGNOSTICO (CIE 10)"
                    required
                    flex
                    md-input-name="autocompleteField"
                    ng-disabled="!ctrl.cambiarDiagnostico"
                    >
                    <md-item-template >
                        <span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemDiagnostico1.C_DESCRIPCION}}</span>
                    </md-item-template>
                     <div ng-messages="notaPreOperatoria.autocompleteField.$error">
                          <div ng-message="required" >Campo requerido</div>
                          <div ng-message="minlength">Se requieren 2 cracteres minimo</div>
                    </div>
                  </md-autocomplete>
    </div>

    <h3 class="md-title">
        PLAN QUIRÚRGICO
    </h3>
    <div layout="row" layout-align="start center" layout-wrap>
           <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="selecItemCie9"
                    md-search-text-change="searchTextChangeCie9(searchDiagnostico2)"
                    md-search-text="searchDiagnostico2"
                    md-selected-item-change="selectedItemChangeDiagnostico2(itemDiagnostico2)"
                    md-items="itemDiagnostico2 in querySearchDiagnostico2(searchDiagnostico2)"
                    md-item-text="itemDiagnostico2.C_DESCRIPCION"
                    md-min-length="3"
                    md-floating-label="ESCRIBA EL NOMBRE DEL PROCEDIMIENTO QUIRÚRGICO (CIE 9)"
                    required
                     flex="90"
                    md-input-name="autocompleteCie9"
                    ng-disabled="!ctrl.notaPreOperatoriaEdit"
                    >
                    <md-item-template >
                        <span md-highlight-text="searchDiagnostico2" md-highlight-flags="^i">{{itemDiagnostico2.C_DESCRIPCION}}</span>
                    </md-item-template>
                    <div ng-messages="notaPreOperatoria.autocompleteCie9.$error">
                          <div ng-message="required" >Campo requerido</div>
                          <div ng-message="minlength">Se requieren 2 cracteres minimo</div>
                    </div>
          </md-autocomplete>

           <md-input-container  class="form-item" ng-show="!ctrl.NOTA_FIRMADA" flex >
              <md-button md-no-ink ng-click="ctrl.showDialogCIE_09()" class="md-primary">...</md-button>
          </md-input-container>
    </div>

    <div layout="row">
         <md-checkbox md-no-ink aria-label="NECESITA ANESTESIA" name="anestesia" ng-model="ctrl.anestesia" class="md-primary" ng-disabled="!ctrl.notaPreOperatoriaEdit">
            REQUIERE ANESTESIÓLOGO
          </md-checkbox>
    </div>

    <div layout="row" layout-align="start center" layout-wrap >
        <md-input-container class="md-block" flex>
          <label>AGREGAR DETALLE DEL PROCEDIMIENTO</label>
         <textarea ng-model="ctrl.plan" flex name="planquirurgico" ng-disabled="!ctrl.notaPreOperatoriaEdit" minlength="5" maxlength="1800"  md-minlength="5" md-maxlength="1800"></textarea>
          <div ng-messages="notaPreOperatoria.planquirurgico.$error">
              <div ng-message="required" >Campo requerido</div>
              <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength">Maximo 1800 cracteres</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center" layout-wrap >
          <md-input-container class="md-block" flex>
          <label>RIESGO QUIRÚRGICO</label>
          <textarea ng-model="ctrl.riesgo" flex name="riesgoquirurgico" ng-disabled="!ctrl.notaPreOperatoriaEdit" minlength="5" maxlength="1800"  md-minlength="5" md-maxlength="1800"></textarea>
          <div ng-messages="notaPreOperatoria.riesgoquirurgico.$error">
              <div ng-message="required" >Campo requerido</div>
              <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength">Maximo 1800 cracteres</div>
          </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center" layout-wrap >
       <md-input-container class="md-block" flex>
          <label>CUIDADOS Y PLAN TERAPÉUTICO PREOPERATORIO</label>
          <textarea ng-model="ctrl.cuidados" flex name="cuidados" ng-disabled="!ctrl.notaPreOperatoriaEdit" minlength="5" maxlength="1800"  md-minlength="5" md-maxlength="1800"></textarea>
          <div ng-messages="notaPreOperatoria.cuidados.$error">
              <div ng-message="required" >Campo requerido</div>
              <div ng-message="minlength">Se requieren 5 cracteres minimo</div>
              <div ng-message="maxlength">Maximo 1800 cracteres</div>
          </div>
      </md-input-container>
    </div>

      <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap ng-show="ctrl.idSeleccion == 2">
           <md-input-container  class="form-item" flex="30" ng-show="ctrl.isEditable">
                <md-button md-no-ink ng-click="ctrl.eliminarNota(1,notaPreOperatoria)" class="md-primary" >ELIMINAR</md-button>
          </md-input-container>
          <md-input-container  class="form-item" >
                <md-button md-no-ink  class="md-primary" ng-click="imprimir(0)" ng-show="imprimirNota" type="button"> IMPRIMIR  NOTA PRE-OPERATORIA</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.cancelarNota(1,notaPreOperatoria)" class="md-primary" >{{ctrl.regresarCancelar}}</md-button>
          </md-input-container>
          <md-input-container  class="form-item" flex="30"  ng-show="ctrl.notaPreOperatoriaEdit" >
                <md-button md-no-ink ng-click="ctrl.guardarDatos(-1,notaPreOperatoria)" class="md-primary">GUARDAR</md-button>
          </md-input-container>
      </div>
  </section>

    <div ng-show="ctrl.firmarDatos"  class="md-whiteframe-1dp">
          <md-file-input title="LLAVE"  on-read-file="cargaLlave($fileContent)" id="key" ng-model="ctrl.key"></md-file-input>
          <md-file-input title="CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer"></md-file-input>
          <div layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
              <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.cancelarNota(1,notaPreOperatoria)" class="md-primary">CANCELAR</md-button>
              </md-input-container>
              <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="ctrl.guardarDatos(1,notaPreOperatoria)" class="md-primary">SELLAR Y GUARDAR</md-button>
          </md-input-container>
          </div>
    </div>
</form>



  </md-card-content >
</md-card>
