
<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar ></card-toolbar>
  <md-card-content >
        <section layout="row" layout-sm="column" layout-align="start center">
          <md-input-container  class="form-item" flex="40">
              <label>NOMBRE DEL PACIENTE</label>
              <input ng-model="paciente.nombrePaciente" readonly capitalize>
          </md-input-container>
          <md-input-container  class="form-item" flex="30">
              <label>ID</label>
              <input ng-model="paciente.idPaciente" readonly capitalize>
          </md-input-container>
          <md-input-container  class="form-item" flex="30">
              <label>NO. EXPEDIENTE</label>
              <input ng-model="paciente.expediente" readonly capitalize>
          </md-input-container>
        </section>
          <section layout="row" layout-sm="column" layout-align="start center">
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="paciente.f_nacimiento" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>EDAD</label>
            <input ng-model="paciente.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>GÉNERO</label>
            <input ng-model="paciente.genero" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>CURP</label>
            <input ng-model="paciente.curp" readonly capitalize>
        </md-input-container>
    </section>
    <br>
    <div layout="row" layout-align="end center" >
        <md-button class="md-raised md-primary" ng-click="crearNota()" ng-show="showCrearNotaPreOpe" type="button">CREAR NOTA PRE-OPERATORIA</md-button>
    </div>
    <br>
    <section layout="row" layout-sm="column" layout-align="center center" >
        <div flex="90">
             <md-data-table-container ng-show="ctrl.historicoQuirofano.length > 0">
                <table md-data-table   md-progress="deferred"  border="1" 
                 >
                    <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                       <tr>
                        <td style="text-align:center" colspan="2">NOTA PRE-OPERATORIA</td>
                        <td style="text-align:center" colspan="2">NOTA PRE-ANESTÉSICA</td>
                        <td style="text-align:center" rowspan="2">CIRUGÍA SEGURA</td>
                        <td style="text-align:center" rowspan="2">NOTA POST-OPERATORIA</td>
                        <td style="text-align:center" rowspan="2">NOTA POST-ANESTÉSICA</td> 
                                                  
                      </tr> 

                      <tr>
                        <td style="text-align:center">NOTA</td>
                        <td style="text-align:center">CONSENTIMIENTO</td>
                        <td style="text-align:center">NOTA</td>
                        <td style="text-align:center">CONSENTIMIENTO</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr md-auto-select ng-class="md-warn" ng-repeat="registro in ctrl.historicoQuirofano  | limitTo: query.limit: (query.page -1 )* query.limit" >
                       <td>
                       <a href ng-click="clickNota(registro,0,registro.NOTAPREQUIRURGICA.NF_STATUS)">{{setEstatus(registro.NOTAPREQUIRURGICA.NF_STATUS,registro,0)}} </a>
                      </td>        
                      <td>
                         <div> <a href ng-click="clickConsentimiento(0,registro,$event)">{{getEstatusConsentimiento(registro,0)}}</a></div>
                      </td>
                      <td>
                       <a href ng-click="clickNota(registro,1,registro.NOTAPREANESTESICA.NF_STATUS)">{{setEstatus(registro.NOTAPREANESTESICA.NF_STATUS,registro,1)}}</a>
                      </td>
                      <td>
                        <div> <a href ng-click="clickConsentimiento(1,registro,$event)">{{getEstatusConsentimiento(registro,1)}}</a></div>                     
                      </td>
                      <td><a href ng-click="clickNota(registro,4,registro.CIRUGIASEGURA.NF_STATUS)">{{setEstatus(registro.CIRUGIASEGURA.NF_STATUS,registro,4)}}</a></td>
                      <td><a href ng-click="clickNota(registro,2,registro.NOTAPOSTQUIRURGICA.NF_STATUS)">{{setEstatus(registro.NOTAPOSTQUIRURGICA.NF_STATUS,registro,2)}}</a></td>
                       <td><a href ng-click="clickNota(registro,3,registro.NOTAPOSTANESTESICA.NF_STATUS)">{{setEstatus(registro.NOTAPOSTANESTESICA.NF_STATUS,registro,3)}}</a></td>

                        
                      </tr>
                    </tbody>
                </table>
                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registro.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
            </md-data-table-container>
        </div>
    </section>
  </md-card-content>
</md-card>

