<md-dialog  style="min-width:500px; max-width: 900px; " >
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>SUBIR ARCHIVO</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="padding-right: 20px;">

	    <div layout="row"  layout-md="" layout-sm="" layout-align="start center"  layout-wrap>
	         <img ng-show="myForm.fileConsentimiento.$valid && isImage" ngf-thumbnail="picFile" style="max-width: 850px;" class="thumb">
	    </div>

	     <div layout="row"  layout-md="" layout-sm="" ng-show="isImage == false && myForm.fileConsentimiento.$valid" layout-align="start center" layout-wrap>
	         <img src="images/7_PDF.png" alt="FOTO PDF"  >
	    </div>

	    <div layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
	        <span class="err" style="color:red;" ng-show="myForm.fileConsentimiento.$error.maxSize">ARCHIVO MUY GRANDE, TAMAÑO MAXIMO 10MB</span>
	    </div>

	    <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap ng-show="picFile==null">
	        <md-button ng-show="!myForm.$valid" md-no-ink class="md-primary" type="file" ngf-pattern="'image/*'"  ngf-select ng-model="picFile" name="fileConsentimiento"  ngf-max-size="10MB" ng-click="actualizardatos(true, myForm)" required>BUSCAR IMAGEN</md-button>

	        <md-button ng-show="!myForm.$valid" md-no-ink class="md-primary" type="file" ngf-pattern="'application/pdf'"  ngf-select ng-model="picFile" name="fileConsentimiento"  ngf-max-size="10MB" ng-click="actualizardatos(false, myForm)" required>BUSCAR PDF</md-button>
	   <!--      <i ng-show="myForm.fileConsentimiento.$error.required && myForm.fileConsentimiento.dirty">CAMPO REQUERIDO</i><br>
	        <i ng-show="myForm.fileConsentimiento.$error.maxSize">ARCHIVO MUY GRANDE {{picFile.size / 1000000|number:1}}MB: max 2M</i> -->
	    </div>

	    <div layout="row" style="margin-top:20px;"  layout-md="" layout-sm="" layout-align="start center" ng-show="picFile" layout-wrap>
	        <md-progress-linear class="md-warn" flex  md-mode="buffer"  value="{{determinateValue}}" md-buffer-value="{{picFile.progress}}"></md-progress-linear>
	        <span ng-show="picFile.result">CARGA EXITOSA</span>
	    </div>

	    <div layout="row" style="margin-top:20px;"  layout-md="" layout-sm="" layout-align="center center" ng-show="picFile" layout-wrap>
	        <span class="progress" ng-show="picFile.progress >= 0">
	            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
	    	</span>
	    </div>

	     <div layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	        <span class="err" style="color:red;" ng-show="errorMsg && myForm.fileConsentimiento.$valid">LO SENTIMOS, OCURRIO UN ERROR INTERNO EN EL SERVIDOR</span>
	    </div>

	    <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap>
	        <md-button md-no-ink class="md-primary" ng-click="picFile = null" ng-click="eliminarArchivo(myForm)" ng-show="picFile">ELIMINAR</md-button>
	        <md-button md-no-ink class="md-primary" ng-show="picFile" ng-click="uploadPic(picFile)">GUARDAR</md-button>
	    </div>
    </md-dialog-content>
  </form>
</md-dialog>
