<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar ></card-toolbar>
  <md-card-content >





<!-- Concentrado de Ventas-->

<!-- <section>

<h2 class="md-display-1">REPORTE CONCENTRADO DE VENTAS</h2>
       <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="CATEGORIA"></th>
            <th name="CANTIDAD"></th>
            <th name="CLAVE"></th>
            <th name="SERVICIO"></th>
            <th name="PRECIO UNITARIO"></th>
            <th name="CONVENIOS"></th>
            <th name="CONDONACION"></th>
            <th name="CANCELADO"></th>
            <th name="MONTO"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas | orderBy: query.order
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{dato.categoria}}</td>
            <td>{{dato.cantidad}}</td>
            <td>{{dato.clave}}</td>
            <td>{{dato.descripcion}}</td>
            <td>{{dato.precioUnitario}}</td>
            <td>{{dato.convenio}}</td>
            <td>{{dato.condonacion}}  </td>
            <td>{{dato.cancelado}} </td>
            <td>{{dato.monto}}  </td>
          </tr>
          <tr ng-show="ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas.length == 0">
            <td colspan="9" style="text-align:center"> NO SE HAN REGISTRADO PAGOS HASTA EL MOMENTO</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
    <div layout="row" ng-show="ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas.length > 0">
        <div flex="30" offset="70" class="md-headline tex-right">
            TOTAL: {{ctrl.reporteConventradoVentas.total.total}}
        </div>
        <div flex></div>
    </div>
</section>
<br><br><br>
 -->


<!-- Reporte reporte de ventas -->
<section>
<h2 class="md-display-1">REPORTE VENTAS</h2>
<div layout="row" layout-wrap class="md-whiteframe-6dp">
<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Folio" ng-model="mDataVisibles.folio" class="md-primary">
             Folio
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="ID" ng-model="mDataVisibles.id" class="md-primary">
          ID
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Paciente" ng-model="mDataVisibles.paciente" class="md-primary">
          Paciente
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Cantidad" ng-model="mDataVisibles.cantidad" class="md-primary">
          Cantidad
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Clave" ng-model="mDataVisibles.clave" class="md-primary">
          Clave
        </md-checkbox>

</div>

<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Descripción" ng-model="mDataVisibles.descripcion" class="md-primary">
             Descripción
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Precio Unitario" ng-model="mDataVisibles.p_unitario" class="md-primary">
          Precio Unitario
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Condonado" ng-model="mDataVisibles.condenado" class="md-primary">
          Condonado
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Cancelado" ng-model="mDataVisibles.cancelado" class="md-primary">
          Cancelado
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Convenios" ng-model="mDataVisibles.convenios" class="md-primary">
          Convenios
        </md-checkbox>

</div>

<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Descripción" ng-model="mDataVisibles.t_credito" class="md-primary">
             Tarjeta de Credito
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Tarjeta de Debito" ng-model="mDataVisibles.t_debito" class="md-primary">
          Tarjeta de Debito
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Efectivo" ng-model="mDataVisibles.efectivo" class="md-primary">
          Efectivo
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Transferencia Electronica" ng-model="mDataVisibles.t_electronica" class="md-primary">
          Transferencia Electronica
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Creditos" ng-model="mDataVisibles.creditos" class="md-primary">
          Creditos
        </md-checkbox>

</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Monto" ng-model="mDataVisibles.monto" class="md-primary">
          Monto
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Caja" ng-model="mDataVisibles.caja" class="md-primary">
          Caja
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Turno" ng-model="mDataVisibles.turno" class="md-primary">
          Turno
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Usuario" ng-model="mDataVisibles.usr" class="md-primary">
          Usuario
        </md-checkbox>

</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Monto" ng-model="mDataVisibles.fecha" class="md-primary">
          Fecha
        </md-checkbox>
</div>

</div>
    <!--Visualizacion de Reporte-->
     <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
            <th name="#" ng-show="mDataVisibles.numero"></th>
            <th name="FOLIO" ng-show="mDataVisibles.folio"></th>
            <th name="ID" ng-show="mDataVisibles.id"></th>
            <th name="PACIENTE" ng-show="mDataVisibles.paciente"></th>
            <th name="CANTIDAD" ng-show="mDataVisibles.cantidad"></th>
            <th name="CLAVE" ng-show="mDataVisibles.clave"></th>
            <th name="DESCRIPCION" ng-show="mDataVisibles.descripcion"></th>
            <th name="P. UNITARIO" ng-show="mDataVisibles.p_unitario"></th>
            <th name="CONDONADO" ng-show="mDataVisibles.condenado"></th>
            <th name="CANCELADO" ng-show="mDataVisibles.cancelado"></th>
            <th name="CONVENIOS" ng-show="mDataVisibles.convenios"></th>
            <th name="T. CREDITO" ng-show="mDataVisibles.t_credito"></th>
            <th name="T. DEBITO" ng-show="mDataVisibles.t_debito"></th>
            <th name="EFECTIVO" ng-show="mDataVisibles.efectivo"></th>
            <th name="T. ELECTRONICA" ng-show="mDataVisibles.t_electronica"></th>
            <th name="CREDITOS" ng-show="mDataVisibles.creditos"></th>
            <th name="MONTO" ng-show="mDataVisibles.monto"></th>
            <th name="CAJA"  ng-show="mDataVisibles.caja"></th>
            <th name="TURNO"  ng-show="mDataVisibles.turno"></th>
            <th name="USR"  ng-show="mDataVisibles.usr"></th>
            <th name="FECHA/HORA/PAGO" ng-show="mDataVisibles.fecha"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas | orderBy: query.order
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td ng-show="mDataVisibles.numero">{{dato.numero}}</td>
            <td ng-show="mDataVisibles.folio">{{dato.folio}}</td>
            <td ng-show="mDataVisibles.id">{{dato.idPaciente}}</td>
            <td ng-show="mDataVisibles.paciente">{{dato.nombrePaciente}}</td>
            <td ng-show="mDataVisibles.cantidad">{{dato.cantidad}}</td>
            <td ng-show="mDataVisibles.clave">{{dato.clave}}</td>
            <td ng-show="mDataVisibles.descripcion">{{dato.descripcion}}  </td>
            <td ng-show="mDataVisibles.p_unitario">{{dato.precioUnitario}} </td>
            <td ng-show="mDataVisibles.condenado">{{dato.condonado}}  </td>
            <td ng-show="mDataVisibles.cancelado">{{dato.cancelado}}  </td>
            <td ng-show="mDataVisibles.convenios">{{dato.convenio}}  </td>
            <td ng-show="mDataVisibles.t_credito">{{dato.tarjetaCredito}}  </td>
            <td ng-show="mDataVisibles.t_debito">{{dato.tarjetaDebito}}  </td>
            <td ng-show="mDataVisibles.efectivo">{{dato.efectivo}}  </td>
            <td ng-show="mDataVisibles.t_electronica">{{dato.transferenciaElectronica}}  </td>
            <td ng-show="mDataVisibles.creditos">{{dato.creditosDeHU}}  </td>
            <td ng-show="mDataVisibles.monto">{{dato.monto}}  </td>
            <td ng-show="mDataVisibles.caja">{{dato.terminal}}  </td>
            <td ng-show="mDataVisibles.turno">{{dato.turno}}  </td>
            <td ng-show="mDataVisibles.usr">{{dato.usr}}  </td>
            <td ng-show="mDataVisibles.fecha">{{dato.fechaCMD}}  </td>
          </tr>
          <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length==0">
            <td colspan="21" style="text-align:center"> NO SE HAN REGISTRADO PAGOS HASTA EL MOMENTO</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>


<br><br><br><br><br>

     <md-data-table-container>
      <table md-data-table class="table-heading">
        <thead>
            <th name="TOTAL CONDONADO" ></th>
            <th name="TOTAL CANCELADOS"></th>
            <th name="TOTAL CONVENIOS"></th>
            <th name="TOTAL T. CREDITO"></th>
            <th name="TOTAL T. DEBITO"></th>
            <th name="TOTAL EFECTIVO"></th>
            <th name="TOTAL T. ELECTRONICA"></th>
            <th name="MONTO TOTAL"></th>

          </tr>
        </thead>
        <tbody>
          <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
            <td >{{ctrl.reporteDeVentas.joCostos.totalCondonado}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalCancelados}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalConvenios}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalCredito}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalDebito}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalEfectivo}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalTransferecia}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.montoTotal}}</td>

          </tr>
          <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length==0">
            <td colspan="8" style="text-align:center"> NO SE HAN REGISTRADO PAGOS HASTA EL MOMENTO</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
</section>
<!-- Termina reporte de ventas -->



<br><br><br><br><br>

<!-- Reporter de conte de caja -->
<div layout="row" layout-wrap>
<!-- <h2 class="md-display-1">REPORTE CORTE DE CAJA (ARQUEO)</h2> -->
 <md-data-table-container flex>
 <h2 class="md-display-1">REPORTE CORTE DE CAJA (ARQUEO)</h2>
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="TIPO DE PAGO"></th>
            <th name="TRANSACCIONES"></th>
            <th name="MONTO"></th>

          </tr>
        </thead>
        <tbody>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>EFECTIVO</td>
                <td>{{ ctrl.reporteCorteDeCaja.efectivo.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.efectivo.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>TARJETA DE CRÉDITO</td>
               <td>{{ ctrl.reporteCorteDeCaja.tarjetaCredito.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaCredito.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>TARJETA DE DÉBITO</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaDebito.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaDebito.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>TRANSFERENCIA ELECTRÓNICA</td>
                <td>{{ ctrl.reporteCorteDeCaja.tranElectronica.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tranElectronica.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CUENTAS POR COBRAR</td>
                <td>{{ ctrl.reporteCorteDeCaja.cuentasPorCobrar.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.cuentasPorCobrar.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CANCELACIÓN</td>
                <td>{{ ctrl.reporteCorteDeCaja.cancelacion.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.cancelacion.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>DEVOLUCIONES</td>
               <td>{{ ctrl.reporteCorteDeCaja.devolucion.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.devolucion.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CONDONACIONES</td>
               <td>{{ ctrl.reporteCorteDeCaja.condonaciones.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.condonaciones.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>DERECHOHABIENTES</td>
                <td>{{ ctrl.reporteCorteDeCaja.derechohabientes.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.derechohabientes.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CONVENIOS</td>
               <td>{{ ctrl.reporteCorteDeCaja.convenios.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.convenios.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CRÉDITOS</td>
               <td>{{ ctrl.reporteCorteDeCaja.creditos.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.creditos.importe}}</td>
            </tr>

            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length == 0">
                <td colspan="3" style="text-align:center"> NO SE HAN REGISTRADO PAGOS HASTA EL MOMENTO</td>
            </tr>
        </tbody>
      </table>
    </md-data-table-container>
</div>

<br><br><br><br><br>
<div layout="row" layout-wrap>
 <md-data-table-container flex>
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="RESUMEN DE PAGOS"></th>

            <th name="MONTO"></th>

          </tr>
        </thead>
        <tbody>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>EFECTIVO + TDC + TDD + TE</td>

                <td>{{ ctrl.reporteCorteDeCaja.resumen}}</td>
            </tr>
             <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CUENTAS POR COBRAR</td>

                <td>{{ ctrl.reporteCorteDeCaja.cuentasPorCobrar.importe}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>CANCELACIONES Y <br> DEVOLUCIONES</td>

                <td>-{{ ctrl.reporteCorteDeCaja.salidas}}</td>

            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0">
                <td>TOTAL NETO EN CAJA</td>
                <td>{{ ctrl.reporteCorteDeCaja.totalNeto}}</td>
            </tr>
            <tr ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length == 0">
                <td colspan="3" style="text-align:center"> NO SE HAN REGISTRADO PAGOS HASTA EL MOMENTO</td>
            </tr>
        </tbody>
      </table>
    </md-data-table-container>


</div>
<!-- Termina Reporter de conte de caja -->
<br><br><br><br><br>


    <section layout="row"  layout-md="" layout-sm="" layout-align="center center" ng-show="ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length > 0" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="imprimirCorteCaja()"  type="button">REALIZAR CORTE DE CAJA</md-button>
    </section>
  </md-card-content>
</md-card>

