<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>



<md-content class="md-whiteframe-6dp" layout-padding>
    <form ng-submit="$event.preventDefault()">

        <div layout="row">
          <div flex offset="30">
              <md-input-container>
                  <label>CAJA</label>
                  <md-select ng-model="ctrl.mCaja" step="any" name="mCaja" ng-disabled="seleccionado">
                    <md-option   ng-repeat="f in ctrl.cajas"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div flex></div>
        </div>

        <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>TURNO</label>
                  <md-select ng-model="ctrl.turno" step="any" name="mTurno" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].turnos"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
          <div flex></div>
        </div>


        <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>Cajero</label>
                  <md-select required ng-model="ctrl.cajero" step="any" name="mCajero" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].cajeros"  value="{{$index}}">{{f.nombre}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
        </div>


        <div layout="row">
            <div flex offset="30">
                <md-datepicker ng-model="ctrl.fIni" md-placeholder="Fecha Inicial"></md-datepicker>
            </div>
            <div flex></div>
        </div>

        <div layout="row">
            <div flex offset="30">
                <md-datepicker ng-model="ctrl.fFin" md-min-date="ctrl.fIni" md-placeholder="Fecha Final"></md-datepicker>
            </div>
            <div flex></div>
        </div>





          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="limpiar()" ng-show="!imprimir">Limpiar</md-button>
                <md-button class="md-raised md-primary" ng-click="buscarReporte()" ng-show="!seleccionado">Buscar</md-button>
                <md-button class="md-raised md-primary" ng-click="imprimirReporte()" ng-show="!imprimir">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>
    </form>



<!-- Reporter de conte de caja -->
<div layout="row" layout-wrap>
 <md-data-table-container flex>
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="TIPO DE PAGO"></th>
            <th name="TRANSACCIONES" ></th>
            <th name="MONTO"></th>

          </tr>
        </thead>
        <tbody>
          <tr>
                <td>EFECTIVO</td>
                <td>{{ ctrl.reporteCorteDeCaja.efectivo.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.efectivo.importe}}</td>
              </tr>
              <tr>
                <td>TARJETA DE CRÉDITO</td>
               <td>{{ ctrl.reporteCorteDeCaja.tarjetaCredito.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaCredito.importe}}</td>
              </tr>
              <tr>
                <td>TARJETA DE DÉBITO</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaDebito.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tarjetaDebito.importe}}</td>
              </tr>
              <tr>
                <td>TRANSFERENCIA ELECTRÓNICA</td>
                <td>{{ ctrl.reporteCorteDeCaja.tranElectronica.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.tranElectronica.importe}}</td>
              </tr>
              <tr>
                <td>CANCELACIÓN</td>
                <td>{{ ctrl.reporteCorteDeCaja.cancelacion.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.cancelacion.importe}}</td>
              </tr>
              <tr>
                <td>DEVOLUCIONES</td>
               <td>{{ ctrl.reporteCorteDeCaja.devolucion.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.devolucion.importe}}</td>
              </tr>
              <tr>
                <td>CONDONACIONES</td>
               <td>{{ ctrl.reporteCorteDeCaja.condonaciones.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.condonaciones.importe}}</td>
              </tr>
              <tr>
                <td>DERECHOHABIENTES</td>
                <td>{{ ctrl.reporteCorteDeCaja.derechohabientes.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.derechohabientes.importe}}</td>
              </tr>
              <tr>
                <td>CONVENIOS</td>
               <td>{{ ctrl.reporteCorteDeCaja.convenios.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.convenios.importe}}</td>
              </tr>
              <tr>
                <td>CRÉDITOS</td>
               <td>{{ ctrl.reporteCorteDeCaja.creditos.transacciones }}</td>
                <td>{{ ctrl.reporteCorteDeCaja.creditos.importe}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td></td>
                <td>{{ ctrl.reporteCorteDeCaja.total}}</td>
              </tr>
        </tbody>
      </table>
    </md-data-table-container>
</div>

<br><br><br><br>

<div layout="row" layout-wrap>
 <md-data-table-container flex>
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="RESUMEN DE PAGOS"></th>

            <th name="MONTO"></th>

          </tr>
        </thead>
        <tbody>
            <tr>
                <td>EFECTIVO + TDC + TDD + TE</td>

                <td>{{ ctrl.reporteCorteDeCaja.resumen}}</td>
              </tr>
              <tr>
                <td>CANCELACIONES Y <br> DEVOLUCIONES</td>

                <td>{{ ctrl.reporteCorteDeCaja.salidas}}</td>
              </tr>
              <tr>
                <td>TOTAL NETO EN CAJA</td>

                <td>{{ ctrl.reporteCorteDeCaja.totalNeto}}</td>
              </tr>
        </tbody>
      </table>
    </md-data-table-container>


</div>
<!-- Termina Reporter de conte de caja -->

  </md-content>


