
<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>

    <form ng-submit="$event.preventDefault()">
          <div layout="row">
            <div flex offset="30">
              <md-input-container>
                  <label>CAJA</label>
                  <md-select  ng-model="ctrl.mCaja" step="any" name="mCaja" ng-disabled="seleccionado">
                    <md-option   ng-repeat="f in ctrl.cajas"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div flex></div>
          </div>

          <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>TURNO</label>
                  <md-select  ng-model="ctrl.turno" step="any" name="mTurno" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].turnos"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>


        <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>Cajero</label>
                  <md-select  ng-model="ctrl.cajero"  name="mCajero" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].cajeros"  value="{{$index}}">{{f.nombre}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>




           <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fIni" md-placeholder="FECHA INICIAL" ng-disabled="seleccionado"></md-datepicker>

            </div>
            <div flex></div>
          </div>

           <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fFin" md-min-date="ctrl.fIni" md-placeholder="FECHA FINAL" ng-disabled="seleccionado"></md-datepicker>

            </div>
            <div flex></div>
          </div>


          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="limpiar()" ng-show="!imprimir">Limpiar</md-button>
                <md-button class="md-raised md-primary" ng-click="buscarReporteDeConcentradoVentas()" ng-show="!seleccionado">Buscar</md-button>
                <md-button class="md-raised md-primary" ng-click="imprimirReporteDeConcentradoVentas()" ng-show="!imprimir">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>

    </form>

    <!--Visualizacion de Reporte-->
     <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <td>CATEGORIA</td>
            <td>CANTIDAD</td>
            <td>CLAVE</td>
            <td>SERVICIO</td>
            <td>PRECIO UNITARIO</td>
            <td>CONVENIOS</td>
            <td>CONDONACION</td>
            <td>CANCELADO</td>
            <td>MONTO</td>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas | orderBy: query.order
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{dato.categoria}}</td>
            <td>{{dato.cantidad}}</td>
            <td>{{dato.clave}}</td>
            <td>{{dato.descripcion}}</td>
            <td style="text-align:right;">{{dato.precioUnitario}}</td>
            <td>{{dato.convenio}}</td>
            <td>{{dato.condonacion}}  </td>
            <td>{{dato.cancelado}} </td>
            <td style="text-align:right;">{{dato.monto}}  </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.reporteConventradoVentas.jsonReporteConcentradoDeVentas.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>


        <div layout="row" ng-show="!imprimir" >
            <div flex="30" offset="70" class="md-headline tex-right">
                  TOTAL: {{ctrl.reporteConventradoVentas.total.total | currency}}
            </div>
            <div flex></div>
          </div>



  </md-content>
      </md-card>

