<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>

    <form ng-submit="$event.preventDefault()">
          <div layout="row">
            <div flex offset="30">
              <md-input-container>
                  <md-input-container flex>
                    <label>FOLIO DE VALE</label>
                    <input ng-model="folio" style="color:#000000">
                  </md-input-container>
               </md-input-container>
            </div>
            <div flex></div>
          </div>

          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="imprimirReporteDeValesCaja()">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>

    </form>

  </md-content>
      </md-card>

