
<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>

    <form ng-submit="$event.preventDefault()" block-ui="select">
           <div layout="row">
            <div flex offset="30">
              <md-input-container>
                  <label>CAJA</label>
                  <md-select ng-model="ctrl.mCaja" ng-change="ctrl.mEliminarDatos()"  name="mCaja1" ng-disabled="seleccionado">
                    <md-option   ng-repeat="f in ctrl.cajas"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div flex></div>
          </div>

          <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>TURNO</label>
                  <md-select ng-model="ctrl.turno"  name="mTurno" ng-disabled="seleccionado1">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].turnos"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>

          <div layout="row" >
            <div flex offset="30">
                <md-input-container>
                  <label>Cajero</label>
                  <md-select ng-model="ctrl.cajero"  name="mCajero1" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.cajas[ctrl.mCaja].cajeros"  value="{{$index}}">{{f.nombre}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>




       <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fIni" md-placeholder="FECHA INICIAL" ng-disabled="seleccionado"></md-datepicker>

            </div>
            <div flex></div>
          </div>

           <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fFin" md-min-date="ctrl.fIni" md-placeholder="FECHA FINAL" ng-disabled="seleccionado"></md-datepicker>

            </div>
            <div flex></div>
          </div>


          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="limpiar()" ng-show="!imprimir">Limpiar</md-button>
                <md-button class="md-raised md-primary" ng-click="buscarReporteDeVentas()" ng-show="!seleccionado">Buscar</md-button>
                <md-button class="md-raised md-primary" ng-click="imprimirReporteDeVentas()" ng-show="!imprimir">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>

    </form>


<!-- Reporte reporte de ventas -->

<div layout="row" layout-wrap class="md-whiteframe-6dp">
<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Folio" ng-model="mDataVisibles.folio" class="md-primary">
             Folio
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="ID" ng-model="mDataVisibles.id" class="md-primary">
          ID
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Paciente" ng-model="mDataVisibles.paciente" class="md-primary">
          Paciente
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Cantidad" ng-model="mDataVisibles.cantidad" class="md-primary">
          Cantidad
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Clave" ng-model="mDataVisibles.clave" class="md-primary">
          Clave
        </md-checkbox>

</div>

<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Descripción" ng-model="mDataVisibles.descripcion" class="md-primary">
             Descripción
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Precio Unitario" ng-model="mDataVisibles.p_unitario" class="md-primary">
          Precio Unitario
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Condonado" ng-model="mDataVisibles.condenado" class="md-primary">
          Condonado
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Cancelado" ng-model="mDataVisibles.cancelado" class="md-primary">
          Cancelado
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Convenios" ng-model="mDataVisibles.convenios" class="md-primary">
          Convenios
        </md-checkbox>

</div>

<div flex="20"  layout="column">
            <md-checkbox flex="25" md-no-ink aria-label="Descripción" ng-model="mDataVisibles.t_credito" class="md-primary">
             Tarjeta de Credito
            </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Tarjeta de Debito" ng-model="mDataVisibles.t_debito" class="md-primary">
          Tarjeta de Debito
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Efectivo" ng-model="mDataVisibles.efectivo" class="md-primary">
          Efectivo
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Transferencia Electronica" ng-model="mDataVisibles.t_electronica" class="md-primary">
          Transferencia Electronica
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Creditos" ng-model="mDataVisibles.creditos" class="md-primary">
          Creditos
        </md-checkbox>

</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Monto" ng-model="mDataVisibles.monto" class="md-primary">
          Monto
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Caja" ng-model="mDataVisibles.caja" class="md-primary">
          Caja
        </md-checkbox>
</div>

<div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Turno" ng-model="mDataVisibles.turno" class="md-primary">
          Turno
        </md-checkbox>
        </div>
  <div flex="20"  layout="column">
        <md-checkbox md-no-ink aria-label="Usuario" ng-model="mDataVisibles.usr" class="md-primary">
          Usuario
        </md-checkbox>

</div>

<div flex="20"  layout="column">
        <md-checkbox  md-no-ink aria-label="Monto" ng-model="mDataVisibles.fecha" class="md-primary">
          Fecha
        </md-checkbox>
</div>

</div>


    <!--Visualizacion de Reporte-->
     <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
            <td ng-show="mDataVisibles.numero">#</th>
            <td ng-show="mDataVisibles.folio">FOLIO</th>
            <td ng-show="mDataVisibles.id">ID</th>
            <td ng-show="mDataVisibles.paciente">PACIENTE</th>
            <td ng-show="mDataVisibles.cantidad">CANTIDAD </th>
            <td ng-show="mDataVisibles.clave">CLAVE</th>
            <td ng-show="mDataVisibles.descripcion">DESCRIPCION </th>
            <td ng-show="mDataVisibles.p_unitario">P. UNITARIO</th>
            <td ng-show="mDataVisibles.condenado">CONDONADO </th>
            <td ng-show="mDataVisibles.cancelado">CANCELADO </th>
            <td ng-show="mDataVisibles.convenios">CONVENIOS </th>
            <td ng-show="mDataVisibles.t_credito">T. CREDITO </th>
            <td ng-show="mDataVisibles.t_debito">T. DEBITO </th>
            <td ng-show="mDataVisibles.efectivo">EFECTIVO </th>
            <td ng-show="mDataVisibles.t_electronica">T. ELECTRONICA </th>
            <td ng-show="mDataVisibles.creditos">CREDITOS </th>
            <td ng-show="mDataVisibles.monto">MONTO </th>
            <td ng-show="mDataVisibles.caja">CAJA  </th>
            <td ng-show="mDataVisibles.turno">TURNO  </th>
            <td ng-show="mDataVisibles.usr">USR  </th>
            <td ng-show="mDataVisibles.fecha">FECHA/HORA/PAGO </th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas | orderBy: query.order
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td ng-show="mDataVisibles.numero">{{dato.numero}}</td>
            <td ng-show="mDataVisibles.folio">{{dato.folio}}</td>
            <td ng-show="mDataVisibles.id">{{dato.idPaciente}}</td>
            <td ng-show="mDataVisibles.paciente">{{dato.nombrePaciente}}</td>
            <td ng-show="mDataVisibles.cantidad">{{dato.cantidad}}</td>
            <td ng-show="mDataVisibles.clave">{{dato.clave}}</td>
            <td ng-show="mDataVisibles.descripcion">{{dato.descripcion}}  </td>
            <td ng-show="mDataVisibles.p_unitario">{{dato.precioUnitario}} </td>
            <td ng-show="mDataVisibles.condenado">{{dato.condonado}}  </td>
            <td ng-show="mDataVisibles.cancelado">{{dato.cancelado}}  </td>
            <td ng-show="mDataVisibles.convenios">{{dato.convenio}}  </td>
            <td ng-show="mDataVisibles.t_credito">{{dato.tarjetaCredito}}  </td>
            <td ng-show="mDataVisibles.t_debito">{{dato.tarjetaDebito}}  </td>
            <td ng-show="mDataVisibles.efectivo">{{dato.efectivo}}  </td>
            <td ng-show="mDataVisibles.t_electronica">{{dato.transferenciaElectronica}}  </td>
            <td ng-show="mDataVisibles.creditos">{{dato.creditosDeHU}}  </td>
            <td ng-show="mDataVisibles.monto">{{dato.monto}}  </td>
            <td ng-show="mDataVisibles.caja">{{dato.terminal}}  </td>
            <td ng-show="mDataVisibles.turno">{{dato.turno}}  </td>
            <td ng-show="mDataVisibles.usr">{{dato.usr}}  </td>
            <td ng-show="mDataVisibles.fecha">{{dato.fechaCMD}}  </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.reporteDeVentas.jsonReporteConcentradoDeVentas.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>



     <md-data-table-container ng-show="!imprimir">
      <table md-data-table class="table-heading">
        <thead>
            <td>TOTAL CONDONADO</td>
            <td>TOTAL CANCELADOS</td>
            <td>TOTAL CONVENIOS</td>
            <td>TOTAL T. CREDITO</td>
            <td>TOTAL T. DEBITO</td>
            <td>TOTAL EFECTIVO</td>
            <td>TOTAL T. ELECTRONICA</td>
            <td>MONTO TOTAL</td>

          </tr>
        </thead>
        <tbody>
          <tr >
            <td >{{ctrl.reporteDeVentas.joCostos.totalCondonado}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalCancelados}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalConvenios}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalCredito}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalDebito}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalEfectivo}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.totalTransferecia}}</td>
            <td >{{ctrl.reporteDeVentas.joCostos.montoTotal}}</td>

          </tr>
        </tbody>
      </table>
    </md-data-table-container>

<!-- Termina reporte de ventas -->

  </md-content>
      </md-card>

