<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>

    <form ng-submit="$event.preventDefault()">
          <div layout="row">
            <div flex offset="30">
              <md-input-container>
                  <label>CATEGORIAS</label>
                  <md-select required ng-model="ctrl.mCategoria" step="any" name="rate" ng-disabled="seleccionado">
                    <md-option   ng-repeat="f in ctrl.categorias"  value="{{$index}}">{{f.cDescripcion}}</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div flex></div>
          </div>


           <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fIni" md-min-date="minDate" md-max-date="fFin" md-placeholder="Fecha Inicial"  ></md-datepicker>
            </div>
            <div flex></div>
          </div>

           <div layout="row">
             <div flex offset="30">
                <md-datepicker ng-model="ctrl.fFin"  md-min-date="fIni" md-placeholder="Fecha Final"  ></md-datepicker>

            </div>
            <div flex></div>
          </div>


          <div layout="row" >
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="limpiar()" ng-show="!imprimir">Limpiar</md-button>

                <!-- <md-button class="md-raised md-primary" type="submit">ACTUALIZAR</md-button> -->
                <md-button class="md-raised md-primary" ng-click="buscarReporteDeServicios()" ng-show="!seleccionado">Buscar</md-button>

                <md-button class="md-raised md-primary" ng-click="imprimirReporteDeServicios()" ng-show="!imprimir">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>

    </form>


<!--Visualizacion de Reporte-->
     <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="CATEGORIA"></th>
            <th name="CANTIDAD"></th>
            <th name="CLAVE"></th>
            <th name="SERVICIO"></th>
            <th name="PRECIO UNITARIO"></th>
            <th name="MONTO"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in ctrl.data.jsonReporteConcentradoDeVentas | orderBy: query.order
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{dato.categoria}}</td>
            <td>{{dato.cantidad}}</td>
            <td>{{dato.clave}}</td>
            <td>{{dato.servicio}}</td>
            <td>{{dato.precioUnitario}}</td>
            <td>{{dato.total}}  </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.data.jsonReporteConcentradoDeVentas.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>

<div layout="row" ng-show="!imprimir" >
            <div flex="30" offset="70" class="md-headline tex-right">
                  TOTAL: {{ctrl.data.total.total }}
            </div>
            <div flex></div>
          </div>


</md-content>

