<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content>
      	<div ng-init="cargarDatos()">
			<section layout="" layout-sm="column">
		     	<md-input-container flex class="form-item form-item-right">
			        <label>FECHA</label>
			        <input name="fecha" ng-model="consulta.fecha" disabled>
			    </md-input-container>
		        <md-input-container flex class="form-item form-item-right">
	            	<label>HORA</label>
			        <input name="hora" ng-model="consulta.hora" disabled>
			    </md-input-container>
		    </section>
		    <section layout="" layout-sm="column">
		    	<label class="form-item">PACIENTE</label>
		    </section>
		    <section layout="" layout-sm="column">
		    	<md-input-container flex class="form-item form-item-right">
			        <label>NOMBRE</label>
			        <input name="C_NOMBRE" ng-model="paciente.nombreCompleto" capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>ID</label>
			        <input name="NP_ID" ng-model="paciente.NP_ID" capitalize disabled>
			    </md-input-container>
			    <!--md-input-container flex class="form-item form-item-right">
			        <label>EXPEDIENTE</label>
			        <input  name="NP_EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" disabled>
			    </md-input-container-->
			    <md-input-container flex class="form-item form-item-right">
			        <label>EXPEDIENTE</label>
			        <input name="NP_EXPEDIENTE_SIU" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>FECHA DE NACIMIENTO</label>
			        <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>ESTADO CIVIL</label>
			        <input name="NF_ESTADO_CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" capitalize disabled>
			    </md-input-container>
			</section>
			<section layout="" layout-sm="column">
			    <md-input-container flex class="form-item form-item-right">
			        <label>SERVICIO</label>
			        <input name="SERVICIO" ng-model="paciente.SERVICIO" capitalize disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>NO. DE CAMA</label>
			        <input  name="C_CAMA" ng-model="paciente.C_CAMA" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>TIPO DE CONSULTA</label>
			        <input name="SOLICITUD" ng-model="paciente.SOLICITUD" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>EDAD</label>
			        <input name="N_EDAD" ng-model="paciente.N_EDAD" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>GÉNERO</label>
			        <input name="NF_SEXO" ng-model="paciente.NF_SEXO" disabled>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>CURP</label>
			        <input name="C_CURP" ng-model="paciente.C_CURP" disabled>
			    </md-input-container>
			</section>
			<br>
	  	</div>
	  	<form name="interconsultaForm" ng-submit="interconsultaForm.$valid && solicitar()"
		  	<div class="md-whiteframe-5dp">
	  			<md-content class="md-padding">
	    			<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >
	    				<!-- Tab de DIAGNÓSTICO DE INGRESO-->
	    				<md-tab label="SOLICITUD DE INTERCONSULTA"> 
	    					<section layout="" layout-sm="column">
		    					<md-input-container flex class="form-item form-item-right">
								    <label>MOTIVO DE LA INTERCONSULTA</label>
								    <textarea maxlength="2500" md-maxlength="2500" name="C_MOTIVO" ng-model="INTERCONSULTA.C_MOTIVO" capitalize required/>
								</md-input-container>
							</section>
							<md-divider>DATOS DEL MÉDICO SOLICITANTE</md-divider>
							<section layout="" layout-sm="column">
								<md-input-container flex class="form-item form-item-right">
								    <label>NOMBRE</label>
								    <input maxlength="100" name="NOMBRE_COMPLETO_ACTUAL" ng-model="INTERCONSULTA.NOMBRE_COMPLETO_ACTUAL" capitalize disabled>
								</md-input-container>
								<md-input-container flex class="form-item form-item-right">
								    <label>CARGO</label>
								    <input maxlength="100" name="C_CARGO_ACTUAL" ng-model="INTERCONSULTA.C_CARGO_ACTUAL" capitalize disabled>
								</md-input-container>
							</section>
							<md-divider>DATOS DEL MÉDICO A SOLICITAR INTERCONSULTA</md-divider>
							<section layout="" layout-sm="column">
								<md-input-container flex class="form-item form-item-right">
							        <label>*SELECCIONAR UNA ESPECIALIDAD</label>
								    <md-select placeholder="*SELECCIONAR UNA ESPECIALIDAD" ng-model="INTERCONSULTA.especialidad" flex required ng-change="selectEspecialidad()">
									    <md-option ng-value="datoEspecialidad.ID" ng-repeat="datoEspecialidad in catEspecialidad">{{datoEspecialidad.cDescripcion}}</md-option>
									</md-select>
								</md-input-container>
							    <md-input-container flex class="form-item form-item-right" ng-if="existMedicos">
							        <label>*SELECCIONAR MÉDICO</label>
								    <md-select placeholder="*SELECCIONAR MÉDICO" ng-model="INTERCONSULTA.idMedico" flex required>
									    <md-option ng-value="datoMedico.N_EXPEDIENTE" ng-repeat="datoMedico in catMedicos">{{datoMedico.C_PRIMER_APELLIDO}} {{datoMedico.C_SEGUNDO_APELLIDO}} {{datoMedico.C_NOMBRE}}</md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="form-item form-item-right" ng-if="!existMedicos" required>
							        <label>NO EXISTEN MÉDICOS DE ESTA ESPECIALIDAD</label>
							    </md-input-container>
						    </section>
	    					<div layout="row" layout-align="end center">
					      		<md-button class="md-raised md-primary" type="submit" ng-disabled="!interconsultaForm.$valid">SOLICITAR</md-button>
					      	</div>
	    				</md-tab>
	    			</md-tabs>
	    		</md-content>
	    	</div>
    	</form>
    </md-card-content>
</md-card>
