<md-card class="md-whiteframe-6dp" ng-init="getInterconsultas()">
	<card-toolbar  canreturn="true">
  	</card-toolbar>
  	<md-card-content>
  		<section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>BUSCAR</label>
				<input name="buscar" ng-model="buscar" ng-Change="buscaPaciente(buscar)">
			</md-input-container>
		</section>


	  	<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >
		    <md-tab label="INTERCONSULTAS">
		        <md-data-table-container  ng-show="datos.length>0">
		            <table md-data-table >
		              	<thead>
		                	<tr>
		                  		<td>NOMBRE PACIENTE</td>
		                  		<td>EXPEDIENTE</td>
		                  		<td>ABRIR NOTA</td>
		                	</tr>
		              	</thead>
			            <tbody>
			                <tr  md-auto-select ng-repeat="dato in datosFiltrados | orderBy: query.order
			                | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
			                	<td>{{dato.PACIENTE.C_PRIMER_APELLIDO}} {{dato.PACIENTE.C_SEGUNDO_APELLIDO}} {{dato.PACIENTE.C_NOMBRE}}</td>
			                	<td>{{dato.EXPEDIENTE_SIU}}
			                	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
			                  		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNota(dato)">
			                    		<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
			                  		</md-button>
			                	</td>
			              	</tr>
			           	</tbody>
			        </table>
		   		</md-data-table-container>
           		<mensaje-datos ng-if="existCitas" mensaje="'NO HAY PACIENTES EN ESPERA'"></mensaje-datos>
		        <md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" ></md-data-table-pagination>
		        <div ng-show="datos.length == 0">
		        	<h1>NO HAY SOLICITUDES DE INTERCONSULTA</h1>
		        </div>
		    </md-tab>
		    <!--md-tab label="CHOQUE" >
		        <md-data-table-container  >
		            <table md-data-table >
		              	<thead>
		                	<tr>
		                  		<td>NOMBRE PACIENTE</td>
		                  		<td>EXPEDIENTE</td>
		                  		<td>ABRIR NOTA</td>
		                	</tr>
		              	</thead>
			            <tbody>
			                <tr  md-auto-select ng-repeat="rojo in rojos | orderBy: query2.order
			                | limitTo: query2.limit: (query2.page -1 )* query2.limit" ng-class="md-warn">
			                	<td>{{rojo.PACIENTE.C_PRIMER_APELLIDO}} {{rojo.PACIENTE.C_SEGUNDO_APELLIDO}} {{rojo.PACIENTE.C_NOMBRE}}</td>
			                	<td>{{rojo.EXPEDIENTE_SIU}}
			                	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
			                  		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNota(rojo)">
			                    		<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
			                  		</md-button>
			                	</td>
			              	</tr>
			           	</tbody>
			        </table>
		   		</md-data-table-container>
		        <h1  ng-if="existCitas">NO HAY PACIENTES EN ESPERA</h1>
		        <md-data-table-pagination ng-show="rojos.length>0" md-limit="query2.limit" md-page="query2.page" md-total="{{rojos.length}}" ></md-data-table-pagination>
		    </md-tab-->
		</md-tabs>
	</md-card-content>
</md-card>
