<md-card class="md-whiteframe-6dp" ng-init="cargaDatos()">
	<card-toolbar >
	</card-toolbar>
	<md-card-content>
      	<section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>ESPECIALIDAD</label>
				<input maxlength="50" name="CF_ESPECIALIDAD" ng-model="medico.ESPECIALIDADES.CF_ESPECIALIDAD" disabled>
			</md-input-container>
	    </section> 
	    <section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>MÉDICO</label>
				<input maxlength="50" name="nombreCompleto" ng-model="medico.nombreCompleto" disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right">
				<label>CÉDULA</label>
				<input maxlength="50" name="C_CEDULA" ng-model="medico.C_CEDULA" disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right">
				<label>ID</label>
				<input maxlength="50" name="N_EXPEDIENTE" ng-model="medico.N_EXPEDIENTE" disabled>
			</md-input-container>
	    </section>
	    <section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>TURNO</label>
				<input maxlength="50" name="CF_DESCRIPCION" ng-model="medico.TURNOS.CF_DESCRIPCION" disabled>
			</md-input-container>
			<md-datepicker ng-model="medico.FECHA" md-min-date="currentDate" ng-change="buscaAgenda()"></md-datepicker>
	    </section>
	    <section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>BUSCAR</label>
				<input name="buscar" ng-model="buscar" ng-Change="buscaPaciente(buscar)">
			</md-input-container>
		</section>
		<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
    		<md-tab label={{titulo}}>
				<md-data-table-container>
				  <table md-data-table>
				    <thead>
				      <tr>
				      	<td>NOMBRE PACIENTE</td>
				        <td>EXPEDIENTE</td>
				        <td>FECHA DE NACIMIENTO</td>
				        <td>NOTA MÉDICA</td>
				      </tr>
				    </thead>
				    <tbody>
				      <tr  md-auto-select ng-repeat="dato in datos | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
				        <td ng-class="{yellowstyle:({{dato.colorText}} == 1), greenstyle:{{dato.colorText}} == 0}">{{dato.PACIENTE.C_PRIMER_APELLIDO}} {{dato.PACIENTE.C_SEGUNDO_APELLIDO}} {{dato.PACIENTE.C_NOMBRE}}</td>
				        <td ng-class="{yellowstyle:({{dato.colorText}} == 1), greenstyle:{{dato.colorText}} == 0}">{{dato.PACIENTE.NP_EXPEDIENTE_SIU}}</td>
				        <td style="text-align: center;" ng-class="{yellowstyle:({{dato.colorText}} == 1), greenstyle:{{dato.colorText}} == 0}">{{parseFechaNac(dato.PACIENTE.F_FECHA_DE_NACIMIENTO)}}</td>
				        <td style="text-align: center;" ng-class="{yellowstyle:({{dato.colorText}} == 1), greenstyle:{{dato.colorText}} == 0}">
						    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedica(dato)">
						        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
						    </md-button>
						    <div ng-if="dato.NF_ESTATUS == 1">PENDIENTE</div>
				      	</td>

				      </tr>

				    </tbody>
				    
				  </table>

				</md-data-table-container>
				<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
			</md-tab>
		</md-tabs>
		<h1  ng-if="existDatos">NO HAY PACIENTES EN ESPERA</h1>
	</md-card-content>
</md-card>
