<md-card class="md-whiteframe-6dp">
  <card-toolbar  canreturn="true">
  </card-toolbar>
  <md-card-content > 
    <form name="registraForm" ng-init="inicializaPagina()">
        <div class="md-whiteframe-4dp">
          <md-content>
            <div layout="row" layout-sm="column" flex>
              <md-input-container flex="15">
                <label>ID PACIENTE</label>
                <input ng-model="paciente.NP_ID" disabled/>
              </md-input-container>

              <md-input-container flex="15">
                <label>CURP</label>
                <input ng-model="paciente.C_CURP"  disabled/>
              </md-input-container>

              <md-input-container flex="10">
                <label>EXPEDIENTE</label>
                <input ng-model="paciente.NP_EXPEDIENTE_SIU" disabled/>
              </md-input-container>
            
              <md-input-container flex>
                <label>NOMBRE</label>
                <input ng-model="paciente.NOMBRE_COMPLETO" disabled />
              </md-input-container>

              <md-input-container>
                <label>EDAD</label>
                <input ng-model="paciente.EDAD" disabled/>
              </md-input-container>

              <md-input-container>
                <label>FECHA DE INGRESO</label>
                <input ng-model="paciente.F_FECHA_INGRESO" disabled />
              </md-input-container>
            </div>

            <div layout="row" layout-sm="column">         
              <md-select placeholder="MOTIVO DE ALTA" ng-model="motivo" flex>
                <md-option ng-value="m.ID"  ng-repeat="m in motivos">{{m.cDescripcion}}</md-option>
              </md-select>
              
              <md-input-container flex>
                  <label>NO DE CAMA</label>
                  <input ng-model="paciente.C_CAMA" disabled />
              </md-input-container>
              
              <div layout="column">
                <md-input-container>  
                  <label>FECHA DE EGRESO</label>
                </md-input-container>
                <md-datepicker placeholder="FECHA DE EGRESO" ng-model="alta.F_EGRESO" md-max-date="F_MAX" required flex></md-datepicker>
              </div>   

              <md-input-container flex>
                <label>HORA DE ELABORACIÓN</label>
                <input ng-model="paciente.H_ELABORACION" disabled />
              </md-input-container>

              <md-input-container flex>
                <label>GÉNERO</label>
                <input ng-model="paciente.NF_SEXO" disabled />
              </md-input-container>

              
              <div layout="column">
                <label> RE-INGRESO </label>
                <div>                         
                  <md-switch class="md-primary" ng-model="paciente.REINGRESO" aria-label="Operado"></md-switch>
                </div>
              </div>
            </div>

          </md-content>
        </div>
        <br>

        
          <div class="md-whiteframe-2dp">
            <md-content>
              <div layout="row" layout-align="center center">
                <h2 class="md-title " layout-align=" center">DIAGNÓSTICO DE INGRESO</h2>
              </div>

              <md-input-container>
                <label>PRINCIPAL</label>
                <textarea ng-model="paciente.DIAGNOSTICO_INGRESO_PRINCIPAL" disabled></textarea>
              </md-input-container>
            </md-content>

            <md-input-container>
                <label>SECUNDARIO(S)</label>
                <textarea ng-model="paciente.DIAGNOSTICO_INGRESO_SECUNDARIO" disabled></textarea>
              </md-input-container>
            </md-content>
          </div>
          <br>
          <div class="md-whiteframe-2dp">
            <md-content>
              <div layout="row" layout-align="center center">
                <h2 class="md-title " layout-align=" center">DIAGNÓSTICO DE EGRESO</h2>
              </div>

              <md-input-container>
                <label>PRINCIPAL</label>
                <textarea ng-model="paciente.DIAGNOSTICO_EGRESO_PRINCIPAL" disabled></textarea>
              </md-input-container>

              <md-input-container>
                <label>SECUNDARIO(S)</label>
                <textarea ng-model="paciente.DIAGNOSTICO_EGRESO_SECUNDARIO" disabled></textarea>
              </md-input-container>
            </md-content>
          </div>
          <br>
          <div class="md-whiteframe-2dp">
            <md-content>
              <div layout="row" layout-align="center center">
                <h2 class="md-title " layout-align=" center">RESUMEN DE LA EVOLUCIÓN Y EL ESTADO ACTUAL</h2>
              </div>

              <md-input-container>
                <label>EXPLORACIÓN FÍSICA</label>
                <textarea ng-model="alta.RESUMEN_EVOLUCION" maxlength="4000" md-maxlength="4000" capitalize required></textarea>
              </md-input-container>
            </md-content>
          </div>

          <br>
          <div class="md-whiteframe-2dp">
            <md-content>
              <div layout="row" layout-align="center center">
                <h2 class="md-title " layout-align=" center">MANEJO DURANTE LA ESTANCIA HOSPITALARIA</h2>
              </div>

              <md-input-container>
                <label></label>
                <textarea ng-model="alta.ESTANCIA_EN_HOSPITAL" maxlength="4000" md-maxlength="4000" capitalize required></textarea>
              </md-input-container>
            </md-content>
          </div>          

          <!--  INFORCION SÓLO PARA MEJORIA POR MEJORIA O MÁXIMO BENEFUCIO --> 
          <div ng-if="motivo == 1 || motivo == 4"> 
            <br>
            <div class="md-whiteframe-2dp">
              <md-content>

                <div layout="row" layout-align="center center">
                  <h2 class="md-title " layout-align=" center">PROCEDIMIENTOS REALIZADOS</h2>
                </div>

                <md-input-container>
                  <label>FECHA, HORA Y DESCRIPCIÓN</label>
                  <textarea ng-model="alta.PROC_REALIZADOS" capitalize required></textarea>
                </md-input-container>
              </md-content>
            </div>

            <br>
            <div class="md-whiteframe-2dp">
                <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
                  <p> PROBLEMAS CLÍNICOS PENDIENTES </p>
                  <div>                         
                    <md-switch class="md-primary" ng-model="alta.PROBL_CLINICOS" aria-label="Operado"></md-switch>
                  </div>

                  <p ng-show="alta.PROBL_CLINICOS"> ¿CUÁLES?:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                  <div flex>                          
                    <md-input-container  class="form-item" >
                    <input ng-model="alta.DESCRIP_PROBL_CLINICOS" required capitalize aria-label="Problemas Clinicos" ng-if="alta.PROBL_CLINICOS" maxlength="200" md-maxlength="200" capitalize> 
                    </md-input-container>
                  </div>
                </div>      
            </div>

            <br>
            <div class="md-whiteframe-2dp">
              <md-content>
                <div layout="row" layout-align="center center">
                  <h2 class="md-title ">PLAN DE MANEJO Y TRATAMIENTO</h2>
                </div>

                <md-input-container>
                  <label></label>
                  <textarea ng-model="alta.MANEJO_TRATAMIENTO" maxlength="4000" md-maxlength="4000" capitalize required></textarea>
                </md-input-container>
              </md-content>
            </div>

            <br>
            <div class="md-whiteframe-2dp">
              <md-content>
                <div layout="row" layout-align="center center">
                  <h2 class="md-title " layout-align=" center">RECOMENDACIONES PARA LA VIGILANCIA AMBULATORIA</h2>
                </div>

                <md-input-container>
                  <label></label>
                  <textarea ng-model="alta.RECOMENDACIONES" maxlength="4000" md-maxlength="4000" capitalize required></textarea>
                </md-input-container>
              </md-content>
            </div>

            <br>
            <div class="md-whiteframe-2dp">
              <div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
                <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
                  <p> ATENCIÓN DE FACTORES DE RIEZGO (INCLUIDO ABUSO Y DEPENDENCIA DE TABACO, EL ALCOHOL Y DE OTRAS SUSTANCIAS PSICOACTIVAS) </p>
                  <div>
                    <md-switch class="md-primary" ng-model="alta.FACTORES_RIESGO" aria-label="Operado"></md-switch>
                  </div>
                </div>  

                <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" ng-if="alta.FACTORES_RIESGO">
                  <p> ¿CUÁLES?:&nbsp;&nbsp;&nbsp;&nbsp; </p>                  
                    <md-input-container flex class="form-item" >
                      <textarea ng-model="alta.DESCRIP_FACTORES_RIESGO" maxlength="200" md-maxlength="200" capitalize required aria-label="Problemas Clinicos" ng-if="alta.FACTORES_RIESGO"></textarea>                      
                    </md-input-container>                  
                </div>
              </div>
            </div>

            <br>
            <div class="md-whiteframe-2dp">
              <md-content>
                <div layout="row" layout-align="center center">
                  <h2 class="md-title " layout-align=" center">PRONÓSTICO</h2>
                </div>

                <md-input-container>
                  <label>PARA LA VIDA Y PARA LA FUNCIÓN</label>
                  <textarea ng-model="alta.C_PRONOSTICO"></textarea>
                </md-input-container>
              </md-content>
            </div>            
          </div>              
        

        <div ng-if="motivo == 2 || motivo == 3">
          <BR>
          <div class="md-whiteframe-2dp">
            <BR>
            <div layout="row" layout-align="center center">
              <h2 class="md-title" ng-if="motivo == 2">ANEXAR EL DOCUMENTO DE LA ALTA VOLUNTARIA</h2>
              <h2 class="md-title" ng-if="motivo == 3">ANEXAR EL DOCUMENTO DE LA ALTA POR REFERENCIA</h2>
            </div>

            <div layout="column" layout-align="center center">
              <input id="ANEXO" ng-model='alta.ANEXO' type="file" onchange="angular.element(this).scope().setFiles(this)">               
              <div layout="column" ng-show="progressVisible" flex>
                <div class="percent">{{progress}}%</div>
                <div>
                  <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
                </div>
              </div>         
            </div>
            <BR>
          </div>
        </div>

        <div ng-if="motivo > 0">
          <br>
          <div class="md-whiteframe-2dp">
            <md-content>              
              <div layout="row" layout-align="center center">
                <h1 class="md-title">MÉDICO RESPONSABLE</h1>                
              </div>

              <div layout="row" layout-sm="column">
                <md-input-container flex>
                  <label>NOMBRE</label>
                  <input name="MEDICO" ng-model="MEDICO" aria-label="Medico" disabled> 
                </md-input-container>

                <md-input-container flex>
                  <label>CEDULA</label>
                  <input name="CEDULA" ng-model="CEDULA" aria-label="Medico" disabled> 
                </md-input-container>
              </div>

              <div layout="row" layout-align="center center">
                  <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key">
                    </md-file-input>
                  </section>

                  <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer">
                    </md-file-input>
                  </section>
              </div>
            </md-content>
          </div>

          <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" type="button" ng-click="registraNota()" ng-disabled="btnRegistro">REGISTRAR</md-button> 
            <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
          </div>
        </div>          
    </form>    	
  </md-card-content>
</md-card>