<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

		<md-card-content>
		<form name="registraForm" ng-submit="registraTriage()" ng-init="inicializaPagina()">
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout >					
					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item form-item-right">
				          <label>NOMBRE DEL PACIENTE</label>
				          <input name="C_NOMBREPACIENTE" ng-model="paciente.C_NOMBRE" disabled>	
				        </md-input-container>
				        
				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>NO. EXPEDIENTE</label>
				          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
				        </md-input-container>	

				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>ID. PACIENTE</label>
				          <input name="ID" ng-model="paciente.NP_ID" disabled>
				        </md-input-container>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item form-item-right">
						    <label>FECHA DE NACIMIENTO</label>
						    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
						</md-input-container>

				        <md-input-container flex class="form-item" required>
				          <label>ESTADO CIVIL</label>
				      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex disabled>
						      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>

						<md-input-container flex="10" class="form-item form-item-right" >
				          <label>EDAD</label>
				          <input name="EDAD" ng-model="paciente.EDAD" disabled>
				        </md-input-container>
					<!--/div>						

					<div layout="row" layout-sm="column" layout-align="center center" flex-->
						<md-input-container flex class="form-item form-item-right">
				          <label>GENERO</label>
					        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO" flex disabled>
						      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>

						<md-input-container flex class="form-item">
				          <label>CURP</label>
				          <input name="C_CURP" ng-model="paciente.C_CURP" disabled>				          
				        </md-input-container>

					  	<!--md-input-container flex="20" class="form-item form-item-right">
				          <label>TELÉFONO</label>
				          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" disabled>
				        </md-input-container required-->

				        <md-input-container flex class="form-item form-item-right">
				          <label>CONVENIO</label>
				          <md-select placeholder="CONVENIO" id="C_CONVENIO" ng-model="paciente.C_CONVENIO" flex>
						      <md-option ng-value="datoConvenio.ID" ng-repeat="datoConvenio in catConvenio">{{datoConvenio.cDescripcion}}</md-option>
						  </md-select>				          
				        </md-input-container>
					</div>

					<!--div layout="row" layout-sm="column" layout-align="center center" flex>
						<div layout="column" flex layout >
							<div layout="row" flex layout layout-align="center center">
								<h1 class="md-title" >DOMICILIO DEL PACIENTE</h1>
							</div>
						
							<div layout="row" layout-sm="column" layout-align="center center" flex>
								<md-input-container flex class="form-item form-item-right">
						          <label>CALLE</label>
						          <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE" capitalize disabled>
						        </md-input-container>
						        
						        <md-input-container flex="15" class="form-item form-item-right">
						          <label>NÚMERO EXTERIOR</label>
						          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" maxlength="5" capitalize disabled>
						        </md-input-container>

						        <md-input-container flex="15" class="form-item form-item-right">
						          <label>NÚMERO INTERIOR</label>
						          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" maxlength="10" capitalize disabled>
						        </md-input-container>

						        <md-input-container flex class="form-item form-item-right">
						          <label>COLONIA</label>
						          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" capitalize maxlength="50" disabled>
						        </md-input-container>	
							</div>
						</div>	
					</div-->

					<div layout="row" layout-sm="column" layout-align="center center" flex ng-if="!TRIAGE.OBSTETRICIA">
						<div layout="column" flex layout >
							<div layout="row" flex layout layout-align="center center">
								<h1 class="md-title" >MOTIVO DE LA CONSULTA</h1>
							</div>
						
							<div layout="row" layout-sm="column" layout-align="center center" flex>
								<md-input-container flex class="form-item form-item-right">
						          <label>MOTIVO</label>
						          <textarea name="C_MOTIVO_CONSULTA" ng-model="paciente.C_MOTIVO_CONSULTA" columns="2" maxlength="250" md-maxlength="250" aria-label="SINTOMATOLOGIA" required capitalize></textarea>
						          <!--input maxlength="250" md-maxlength="250" name="" ng-model="paciente." capitalize -->
						        </md-input-container>
						    </div>
						</div>	
					</div>
				</div>	
			</md-whiteframe>
			<BR>
			
			<div class="tabsdemoDynamicHeight" >	
				<md-content class="md-padding">
					<md-tabs md-dynamic-height="" md-selected="triage.selectedIndex">
			          	<md-tab label="ADULTOS">
			          		<div  ng-if="triage.selectedIndex == 0">
				          		<BR>
				          	    <md-data-table-container>
			                        <table md-data-table border="1">
			                          	<thead>
			                          		<tr>
			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
												        <label>FC</label>
												        <input maxlength="3" size="5" name="FCADULTO" id="FCADULTO" ng-model="paciente.FCADULTO" ng-pattern="/^\d{2,3}$/" style="text-align:center" required ng-change="validaFC('A',0,paciente.FCADULTO)">
												        <div ng-messages="rango">
													       	<div>30-100</div>
													    </div>			        
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
											            <md-select placeholder="ESTADO" name="ESTATUSFC" ng-model="tabEstatus[0]" ng-change="actualizaPuntajeAdultos(tabEstatus[0])" flex required disabled>
													      	<md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
												        <label>FR</label>
												        <input maxlength="2" size="5" name="FRADULTO" ng-model="paciente.FRADULTO" ng-pattern="/^\d{1,2}$/" style="text-align:center" required ng-change="validaFR('A',1,paciente.FRADULTO)">
												        <div ng-messages="rango">
													       	<div>12-30</div>
													    </div>
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right" ng-show="paciente.FRADULTO">
											            <md-select placeholder="ESTADO" ng-model="tabEstatus[1]" ng-change="actualizaPuntajeAdultos(tabEstatus[1])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
												        <label>TA</label>
												        <input maxlength="7" size="7" name="TAADULTO" ng-model="paciente.TAADULTO" ng-pattern="/^(\d{2,3})/(\d{1,3})$/" style="text-align:center" required ng-change="validaTA('A',2,paciente.TAADULTO)">
												        <div ng-messages="rango">
													       	<div>120-129/80-84</div>
													    </div>
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right" ng-show="paciente.TAADULTO">
											            <md-select placeholder="ESTADO" ng-model="tabEstatus[2]" ng-change="actualizaPuntajeAdultos(tabEstatus[2])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
												        <label>TEMP</label>
												        <input maxlength="4" size="5" name="TEMPADULTO" ng-model="paciente.TEMPADULTO" ng-pattern="/^(\d{2})(.\d){0,1}$/" style="text-align:center" required ng-change="validaTEMP('A',3,paciente.TEMPADULTO)">
												        <div ng-messages="rango">
													       	<div>35-38</div>
													    </div>
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right" ng-show="paciente.TEMPADULTO">
											            <md-select placeholder="ESTADO" ng-model="tabEstatus[3]" ng-change="actualizaPuntajeAdultos(tabEstatus[3])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right">
												        <label>SAT (%)</label>
												        <input maxlength="3" size="5" name="SATADULTO" ng-model="paciente.SATADULTO" ng-pattern="/^\d{2,3}$/" style="text-align:center" ng-change="validaSAT('A',4,paciente.SATADULTO)">
												       	<div ng-messages="rango">
													       	<div>88-100</div>
													    </div>
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container flex class="form-item form-item-right" ng-show="paciente.SATADULTO">
											            <md-select placeholder="ESTADO" ng-model="tabEstatus[4]" ng-change="actualizaPuntajeAdultos(tabEstatus[4])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
			                          			</td>
			                          			
			                          		</tr>	
			                          	</thead>	

			                          	<tbody>
			                          	</tbody>
			                          </table>			
			                    </md-data-table-container>	

				          		<BR>
					          	<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">

									<div layout="colum" flex layout >
										
										<md-input-container flex class="form-item form-item-right">
									        <label>SINTOMATOLOGIA</label>
									        <textarea name="SINTOMATOLOGIA" ng-model="paciente.SINTOMATOLOGIA" columns="2" maxlength="500" md-maxlength="500"  aria-label="SINTOMATOLOGIA" required capitalize ></textarea>

									        <!--input maxlength="50" md-maxlength="50" name="SINTOMATOLOGIA" ng-model="" capitalize required-->
									    </md-input-container>

									    <div layout="colum" flex layout >
											<div layout="row" layout-align="center center">							    	
									    	    
									    	    <md-switch class="md-primary md-block" md-no-ink aria-label="diabetico" ng-model="paciente.DIABETICO"  >¿ES DIABETICO?</md-switch>

									    	    <md-input-container flex class="form-item form-item-right" ng-if="paciente.DIABETICO">
											        <label>TIPO</label>
											        <textarea name="C_DESCRIP_DIABETICO" ng-model="paciente.C_DESCRIP_DIABETICO" columns="2" maxlength="50" md-maxlength="50"  aria-label="" required capitalize  ng-if="paciente.DIABETICO"></textarea>

											        <!--input maxlength="50" md-maxlength="50" name="" ng-model="" capitalize required -->
											    </md-input-container>
											  
									    	    <md-switch class="md-primary md-block" md-no-ink aria-label="hipertenso" ng-model="paciente.HIPERTENSO"  >¿ES HIPERTENSO?</md-switch>
									    	    
									    	    <md-input-container flex class="form-item form-item-right" ng-if="paciente.HIPERTENSO">
											        <label>TRATAMIENTO</label>
											        <textarea name="C_DESCRIP_HIPERTENSO" ng-model="paciente.C_DESCRIP_HIPERTENSO" columns="2" maxlength="50" md-maxlength="50"  aria-label="" required capitalize  ng-if="paciente.HIPERTENSO"></textarea>

											        <!--input maxlength="50" md-maxlength="50" name="" ng-model="" capitalize required ng-if="paciente.HIPERTENSO"-->
											    </md-input-container>
											</div>

											<div layout="row" flex layout-align="center center">
									    	    <md-switch class="md-primary md-block" md-no-ink aria-label="alergia" name="ALERGIA" ng-model="paciente.ALERGIA"  >¿PRESENTA ALGUNA ALERGIA?</md-switch>

									    	    <md-input-container flex class="form-item form-item-right" ng-if="paciente.ALERGIA">
											        <label>¿CUAL?</label>
											        <textarea name="C_DESCRIP_ALERGIA" ng-model="paciente.C_DESCRIP_ALERGIA" columns="2" maxlength="50" md-maxlength="50"  aria-label="" required capitalize  ng-if="paciente.ALERGIA"></textarea>

											        <!--input maxlength="50" md-maxlength="50" name="" ng-model="" capitalize required ng-if="paciente."-->
											    </md-input-container>
									    	
									    	    <md-switch class="md-primary md-block" md-no-ink aria-label="alergia" name="ALERGIA" ng-model="paciente.OTRO">OTRO</md-switch>

									    	    <md-input-container flex class="form-item form-item-right" ng-if="paciente.OTRO">
											        <label>DESCRIBIR</label>
											        <textarea name="C_DESCRIP_OTRO" ng-model="paciente.C_DESCRIP_OTRO" columns="2" maxlength="200" md-maxlength="200"  aria-label="" required capitalize  ng-if="paciente.OTRO"></textarea>

											        <!--input maxlength="50" md-maxlength="50" name="" ng-model="" capitalize required ng-if="paciente.HIPERTENSO"-->
											    </md-input-container>
											</div>    
									    </div>
									    
									</div>


								</md-whiteframe>

			              		<BR>
						       	<md-data-table-container>
			                        <table md-data-table border="1" id="tabPuntaje" >
			                          	<thead>
			                          		<tr>
			                          			<td style="text-align:center" width="17%"><div class="md-title" >AFECTACIÓN</div></td>
			                          			<td style="text-align:center" width="17%"><div class="md-title" >NORMAL</div></td>
			                          			<td style="text-align:center" width="17%"><div class="md-title" >LEVE</div></td>
			                          			<td style="text-align:center" width="17%"><div class="md-title" >MODERADO</div></td>
			                          			<td style="text-align:center" width="17%"><div class="md-title" >INTENSO</div></td>
			                          			<td style="text-align:center" width="10%"><div class="md-title" >TOTAL</div></td>
			                          		</tr>	
			                          		
			                          	</thead>	

			                          	<tbody>
			                          		
			                          		<tr ng-repeat="reg in tabAdultosTiempo" ng-class="md-warn">
			                          			<td style="padding: 5px 5px; margin: 0px 0px;">{{reg.encabezado}}</td>
			                          						                          			
											    <td style="padding: px px; margin: 0px 0px;" ng-repeat="c in reg.contenido">
										        	<md-radio-group ng-model="reg.puntaje" ng-click="calculaPuntajeAdultos()" required >
											        	<md-radio-button  value="{{c.opcion}}"> {{ c.descripcion }}</md-radio-button>
											    	</md-radio-group>    
											    </td>	
											    <td></td>
					                          		
				                                <td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                                	<h1 class="md-title">{{reg.puntaje}}</h1>				                                	
				                                </td>
				                            </tr>

			                          		<tr ng-repeat="reg in tabAdultos" ng-class="md-warn">
			                          			<td style="padding: 5px 5px; margin: 0px 0px;">{{reg.encabezado}}</td>
			                          						                          			
											    <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="c in reg.contenido">
										        	<md-radio-group ng-model="reg.puntaje" ng-click="calculaPuntajeAdultos()" required >
											        	<md-radio-button  value="{{c.opcion}}"> {{ c.descripcion }}</md-radio-button>
											    	</md-radio-group>    
											    </td>	
					                          		
				                                <td style="padding: 0px 0px; margin: 0px 0px; text-align:center;">
				                                	<h1 class="md-title">{{reg.puntaje}}</h1>				                                	
				                                </td>
				                            </tr>

				                            <tr>
				                            	<td style="padding: 5px 5px; margin: 0px 0px;"><h3>PUNTAJE</h3></td>
				                            	<td style="text-align:center"><h3>0</h3></td>
				                            	<td style="text-align:center"><h3>1</h3></td>
				                            	<td style="text-align:center"><h3>2</h3></td>
				                            	<td style="text-align:center"><h3>3</h3></td>
				                            	<td style="text-align:center; background-color:{{N_CLASIFICADULTOS}};">
				                            		<h1 class="md-title">{{N_TOTALADULTOS}}</h1>
				                            	</td>
				                            </tr>			                            

				                            <tr>
				                            	<td style="padding: 5px 5px; margin: 0px 0px;"><h3>CLASIFICACIÓN TRIAGE</h3></td>
				                            	<td style="padding: 0px 0px; margin: 0px 0px; text-align:center; background-color:green"><h3><5 (VERDE <30 MIN.)<h3></td>
				                            	<td style="padding: 0px 0px; margin: 0px 0px; text-align:center; background-color:yellow"><h3>5-7 (AMARRILLO 10-15 MIN.)</h3></td>
				                            	<td style="padding: 0px 0px; margin: 0px 0px; text-align:center; background-color:red"><h3>8-18 (ROJO INMEDIATO)</h3></td>
				                            	<td style="padding: 0px 0px; margin: 0px 0px; text-align:center; background-color:red"><h3>>18 (ROJO INMEDIATO)</h3></td>
				                            	<td>
				                            		<md-input-container  class="form-item">
												       <input name="N_CLASIFICADULTOS" ng-model="N_CLASIFICADULTOS" style="text-align:center; display:none" aria-label="CALIFICACIÓN TOTAL ADULTOS">
													</md-input-container>
				                            	</td>
				                            </tr>
			                            </tbody>                
			                        </table>
			                	</md-data-table-container>
			                	
			                	<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			                		
									<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
										<fieldset class="standard">
											<legend>EVALUACIÓN FUNCIONAL</legend>

											<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
												<p>¿PACIENTE INDEPENDIENTE? </p>
						                		<div>			                			
						                			<md-switch class="md-secondary" ng-model="paciente.INDEPENDIENTE" aria-label="Independiente"></md-switch>
						                		</div>
											</div>

											<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
												<div>
													<label>¿PACIENTE DEPENDIENTE A:? </label>
												</div>

												<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">				                					
															<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
																<div><md-checkbox ng-model="paciente.BAGNO" aria-label="Baño">BAÑO</md-checkbox></div>
												      			<div><md-checkbox ng-model="paciente.VESTIDO" aria-label="Vestido">VESTIDO</md-checkbox></div>
												      			<div><md-checkbox ng-model="paciente.AMBULACION" aria-label="Ambulacion">AMBULACIÓN</md-checkbox></div>
												      			<div><md-checkbox ng-model="paciente.ALIMENTACION" aria-label="Alimentacion">ALIMENTACIÓN</md-checkbox></div>
												      		</div>														
					                				</div>
					                		</div>	
										</fieldset>

										
										<fieldset class="standard">
											<legend>EVALUACIÓN PSICOLOGICA</legend>	
											
											<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" flex>
												<label>ESTADO DEL PACIENTE: </label>
												
													<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">
					                					<md-radio-group ng-model="paciente.VALORACIONPSICO">
															<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
																<div><md-radio-button value="DEPRIMIDO" class="md-primary">DEPRIMIDO</md-radio-button></div>
												      			<div><md-radio-button value="AGRESIVO" class="md-primary">AGRESIVO</md-radio-button></div>
												      			<div><md-radio-button value="TEMEROSO" class="md-primary">TEMEROSO</md-radio-button></div>
												      			<div><md-radio-button value="NORMAL" class="md-primary">NORMAL</md-radio-button></div>
												      		</div>	
														</md-radio-group>
					                				</div>

												<div layout="row">
													<p>PUDIERA HACERCE DAÑO: </p>		
													<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.HACERSEDAYNO" aria-label="Pudira hacerce daño"></md-switch>
							                		</div>
						                		</div>

						                		<div layout="row">
						                			<p>PUDIERA HACER DAÑO A LOS DEMAS</p>	
						                			<div>
					    	              				 <md-switch class="md-secondary" ng-model="paciente.DAYNOALOSDEMAS" aria-label="paciente.DAYNOALOSDEMAS" ></md-switch>
					    	              			</div>
					    	              		</div>	
												
											</div>	
										</fieldset>

									</md-whiteframe>

									<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >
										<fieldset class="standard">
											<legend>EVALUACIÓN NUTRICIONAL</legend>
											<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
												<md-input-container  class="form-item form-item-right" flex>
										          <label>TALLA</label>
										          <div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
										          	<input maxlength="4" name="N_TALLA" ng-model="paciente.N_TALLA" capitalize ng-change="calculaIMC()" ng-pattern="/^([1|2].\d+)$/" required >
										          </div>

										          <div ng-show="registraForm.N_TALLA.$dirty && registraForm.N_TALLA.$invalid" ng-messages="registraForm.N_TALLA.$error">
											       	<div ng-message="pattern">1.00-2.99</div>
												  </div>
										        </md-input-container>
										   
												<md-input-container  class="form-item form-item-right" flex>
										          <label>PESO</label>
										          <div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
										          	<input maxlength="7" name="N_PESO" ng-model="paciente.N_PESO" capitalize ng-change="calculaIMC()" ng-pattern="/^([4-9]\d|[1|2]\d\d)(.\d{1,3}){0,1}$/" required >
										          </div>

										          <div ng-show="registraForm.N_PESO.$dirty && registraForm.N_PESO.$invalid" ng-messages="registraForm.N_PESO.$error">
											       	<div ng-message="pattern">40-299.9</div>
												  </div>
										        </md-input-container>
			
										        <md-input-container  class="form-item form-item-right" flex>
										          <label>IMC</label>
										          <div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
										          	<input maxlength="3" name="N_IMC" ng-model="paciente.N_IMC" capitalize disabled>
										          </div>
										        </md-input-container>	
			                				
			                				</div>

			                				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">
			                					<md-radio-group ng-model="paciente.VALOR_NUTRICION">
													<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
														<div><md-radio-button value="NORMAL" class="md-primary" disabled>NORMAL</md-radio-button></div>
										      			<div><md-radio-button value="DESNUTRIDO" class="md-primary" disabled>DESNUTRIDO</md-radio-button></div>
										      			<div><md-radio-button value="SOBREPESO" class="md-primary" disabled>SOBREPESO</md-radio-button></div>
										      		</div>	
												</md-radio-group>
			                				</div>

			                				<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" flex>
			                					<div layout="row">
													<p>POSTQUIRÚRGICO:</p>		
													<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.POSTQUIRURGICO" aria-label="Postquirurgico"></md-switch>
							                		</div>
						                		</div>

												<div layout="row">
													<p>DISMINUCIÓN DEL APETITO MAYOR AL 5%: </p>		
													<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.DISMIN_APETITO" aria-label="Pudira hacerce daño"></md-switch>
							                		</div>
						                		</div>

												<div layout="row">
													<p>FALTA DE PIEZAS DENTARIAS: </p>		
													<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.FALTA_PZAS_DENTALES" aria-label="Pudira hacerce daño"></md-switch>
							                		</div>
						                		</div>

						                		<div layout="row">
						                			<p>AYUNO PROLONGADO MAS DE 5 DÍAS:</p>	
						                			<div>
					    	              				 <md-switch class="md-secondary" ng-model="paciente.AYUNO_PROLONG" aria-label="Ayuno prolongado"></md-switch>
					    	              			</div>
					    	              		</div>	

					    	              		<div layout="row">
						                			<p>TOLERANCIA A LA VIA ORAL:</p>	
						                			<div>
					    	              				 <md-switch class="md-secondary" ng-model="paciente.TOL_VIA_ORAL" aria-label="Tolerancia a la via oral" ></md-switch>
					    	              			</div>
					    	              		</div>	

					    	              		<div layout="row">
						                			<p>CAPACIDADES DIFERENTES:</p>	
						                			<div>
					    	              				 <md-switch class="md-secondary" ng-model="paciente.CAPACIDADES_DIF" aria-label="Capacidades diferentes"></md-switch>
					    	              			</div>
					    	              		</div>	
												
											</div>	
											
										</fieldset>	

									</md-whiteframe>
								</div>
			          		</div> 
						</md-tab>

						<md-tab label="OBSTETRICIA">	
							<div  ng-if="triage.selectedIndex == 1">
								<BR>
			              		<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center">
			                			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			                				<md-input-container flex class="form-item form-item-right">
									          <label>LUGAR DE REFERENCIA</label>
									          <textarea name="C_LUGARREF" ng-model="paciente.C_LUGARREF" columns="2" maxlength="50" md-maxlength="50"  aria-label="" capitalize ></textarea>
									          <!--input md-maxlength="50" name="" ng-model="" capitalize ng-if=""-->
									        </md-input-container>
									   
											<md-input-container flex class="form-item form-item-right">
									          <label>MOTIVO DE ENVIO</label>
									          <textarea name="C_MOTIVOENVIO" ng-model="paciente.C_MOTIVOENVIO" columns="2" maxlength="50" md-maxlength="50"  aria-label="" capitalize ></textarea>
									          <!--input md-maxlength="50" name="" ng-model="" capitalize ng-if=""-->
									        </md-input-container>
		
									        <md-input-container flex class="form-item form-item-right">
									          <label>MÉDICO QUE ENVIA</label>
									          <textarea name="C_MEDICOQUEENVIA" ng-model="paciente.C_MEDICOQUEENVIA" columns="2" maxlength="50" md-maxlength="50"  aria-label="" capitalize ></textarea>
									          <!--input md-maxlength="50" name="" ng-model="" capitalize ng-if=""-->
									        </md-input-container>
			                			</div>

			                			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			                				<p>¿CUENTA CON SEGURO POPULAR? </p>
					                		<div>			                			
					                			<md-switch class="md-secondary" ng-model="paciente.SEGURO_POPULAR" aria-label="Entubado"></md-switch>
					                		</div>

					                		<md-input-container class="form-item form-item-right">
										  		<label>HORA DE AUTORIZACIÓN</label>
										  		<input type="time" name="dHoraAutorizacion" ng-model="paciente.DHORAAUTORIZACION" >
										  	</md-input-container>

										  	<md-input-container flex class="form-item form-item-right">
									          <label>MÉDICO QUE AUTORIZA</label>
									          <textarea name="C_MEDICOQUEAUTORIZA" ng-model="paciente.C_MEDICOQUEAUTORIZA" columns="2" maxlength="50" md-maxlength="50"  aria-label="" capitalize ></textarea>
									          <!--input md-maxlength="50" name="" ng-model="" capitalize ng-if=""-->
									        </md-input-container>

									        <md-input-container flex class="form-item form-item-right">
									          <label>MÉDICO QUE RECIBE</label>
									          <textarea name="C_MEDICOQUERECIBE" ng-model="paciente.C_MEDICOQUERECIBE" columns="2" maxlength="50" md-maxlength="50"  aria-label="" capitalize ></textarea>
									          <!--input md-maxlength="50" name="" ng-model="" capitalize ng-if="">
									        </md-input-container-->
			                			</div>

		              				</md-whiteframe>
			              					
		              				<BR>
				              		<div >
					           			<md-data-table-container>
				                          <table md-data-table border="1">
				                          	<thead>
				                          		<tr>
				                          			
				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<md-input-container  class="form-item">
				                          					<label>TA</label>
													       <input name="N_TAOBS" size="8" ng-model="paciente.N_TAOBS" maxlength="7" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2,3})/(\d{1,3})$/" style="text-align:center" required ng-change="validaTA('O',0,paciente.N_TAOBS)">
													        <div ng-messages="rango">
														       	<div>100-120/60-80</div>
														    </div>
														</md-input-container>
				                          			</td>

						                      		<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
						                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_TAOBS">
												            <md-select placeholder="ESTADO" ng-model="tabEstatusObstetricia[0]" flex required ng-change="actualizaPuntajeObstetricia(tabEstatusObstetricia[0])" disabled>
														      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
														    </md-select>
														</md-input-container>
						                  			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<md-input-container  class="form-item">
				                          					<label>FC</label>
													       <input name="N_FCOBS" size="5" ng-model="paciente.N_FCOBS" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2,3})$/" required ng-change="validaFC('O',1,paciente.N_FCOBS)">	
															<div ng-messages="rango">
														       	<div>100-150</div>
														    </div>
														</md-input-container>
				                          			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
						                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_FCOBS">
												            <md-select placeholder="ESTADO" ng-model="tabEstatusObstetricia[1]" flex required ng-change="actualizaPuntajeObstetricia(tabEstatusObstetricia[1])" disabled>
														      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
														    </md-select>
														</md-input-container>
						                  			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<md-input-container  class="form-item">
				                          					<label>FCF</label>
													       <input name="N_FCFOBS" size="5" ng-model="paciente.N_FCFOBS" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2,3})$/" required ng-change="validaFCF(2,paciente.N_FCFOBS)">
															<div ng-messages="rango">
														       	<div>55-190</div>
														    </div>
														</md-input-container>
				                          			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
						                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_FCFOBS">
												            <md-select placeholder="ESTADO" ng-model="tabEstatusObstetricia[2]" flex required ng-change="actualizaPuntajeObstetricia(tabEstatusObstetricia[2])" disabled>
														      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
														    </md-select>
														</md-input-container>
						                  			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<md-input-container  class="form-item">
				                          					<label>SAT</label>
													       <input name="N_SATOBS" size="5" ng-model="paciente.N_SATOBS" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^\d{2,3}$/" style="text-align:center" ng-change="validaSAT('O',3,paciente.N_SATOBS)">
													       	<div ng-messages="rango">
														       	<div>88-92</div>
														    </div>
														</md-input-container>
				                          			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
						                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_SATOBS">
												            <md-select placeholder="ESTADO" ng-model="tabEstatusObstetricia[3]" flex required ng-change="actualizaPuntajeObstetricia(tabEstatusObstetricia[3])" disabled>
														      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
														    </md-select>
														</md-input-container>
						                  			</td>  

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<md-input-container  class="form-item">
				                          					<label>T</label>
													       <input name="N_TOBS" size="5" ng-model="paciente.N_TOBS" maxlength="4" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2})(.\d){0,1}$/" style="text-align:center" required ng-change="validaTEMP('O',4,paciente.N_TOBS)">
													        <div ng-messages="rango">
														       	<div>36-37.7</div>
														    </div>
														</md-input-container>
				                          			</td>

				                          			<td width="10%" style="padding: 0px 0px; margin: 0px 0px; text-align:center">
						                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_TOBS">
												            <md-select placeholder="ESTADO" ng-model="tabEstatusObstetricia[4]" flex required ng-change="actualizaPuntajeObstetricia(tabEstatusObstetricia[4])" disabled>
														      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
														    </md-select>
														</md-input-container>
						                  			</td>  
				                          		</tr>	
				                          	</thead>	

				                          	<tbody>
				                          	</tbody>
				                          </table>			
				                    	</md-data-table-container>
				                    </div>		
				                    
				                    <h1 class="md-title" style="text-align:center">APP</h1>
				                    <div>	
				                    	<md-data-table-container>
				                          <table md-data-table border="1">
				                          	<thead>
				                          		<tr>
				                          			<td width="14%" style="text-align:center">DM</td>
				                          			<td width="14%" style="text-align:center">HAS</td>
				                          			<td width="14%" style="text-align:center">ANGINA</td>
				                          			<td width="14%" style="text-align:center">IRC</td>
				                          			<td width="14%" style="text-align:center">EVC</td>
				                          			<td width="14%" style="text-align:center">PRE ECLAMPSIA</td>
				                          			<td width="14%" style="text-align:center">CONVULSIVOS</td>
				                          		</tr>
				                        	</thead>	

				                          	<tbody>
				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center;">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_DMOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_HASOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
							                	</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_ANGINAOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_IRCOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_EVCOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_PRECLAOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>

				                          		<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          			<div>			                			
							                			<md-switch class="md-secondary" ng-model="paciente.N_CONVULOBS" aria-label="DM" layout-align="center center" ></md-switch>
							                		</div>
				                          		</td>
				                          	</tbody>
				                          </table>			
				                    	</md-data-table-container>
				                    </div>	

				                    <div>	
				                    	<md-data-table-container>
				                          <table md-data-table border="1">
				                          	<thead>
				                          		<tr>
				                          			<td width="15%" style="text-align:center">ALÉRGICOS</td>
				                          			<td width="15%" style="text-align:center">TRANSFUCIONALES</td>
				                          			<td width="15%" style="text-align:center">QX</td>
				                          			<td width="15%" style="text-align:center">HEPÁTICOS</td>
				                          			<td width="15%" style="text-align:center">ONCOL.</td>
				                          			<td width="15%" style="text-align:center">OTROS</td>
				                          		</tr>	
				                          	</thead>	

				                          	<tbody>
				                          		<tr>
				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<div>			                			
								                			<md-switch class="md-secondary" ng-model="paciente.N_ALERGOBS" aria-label="DM" layout-align="center center" ></md-switch>
								                		</div>

				                          				<!--md-input-container  class="form-item">
													       <input name="N_ALERGOBS" ng-model="paciente.N_ALERGOBS" style="text-align:center;" aria-label="Alergicos" required >
														</md-input-container-->
				                          			</td>

				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<div>			                			
								                			<md-switch class="md-secondary" ng-model="paciente.N_TRANSFOBS" aria-label="DM" layout-align="center center" ></md-switch>
								                		</div>

				                          				<!--md-input-container  class="form-item">
													       <input name="N_TRANSFOBS" ng-model="paciente.N_TRANSFOBS" style="text-align:center;" aria-label="Tranfucionales" required >
														</md-input-container-->
				                          			</td>

				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<div>			                			
								                			<md-switch class="md-secondary" ng-model="paciente.N_QXOBS" aria-label="DM" layout-align="center center" ></md-switch>
								                		</div>

				                          				<!--md-input-container  class="form-item">
													       <input name="N_QXOBS" ng-model="paciente.N_QXOBS" style="text-align:center;" aria-label="QX" required >
														</md-input-container-->
				                          			</td>

				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<div>			                			
								                			<md-switch class="md-secondary" ng-model="paciente.N_HEPATOBS" aria-label="DM" layout-align="center center" ></md-switch>
								                		</div>

				                          				<!--md-input-container  class="form-item">
													       <input name="N_HEPATOBS" ng-model="paciente.N_HEPATOBS" style="text-align:center;" aria-label="Hepaticos" required >
														</md-input-container-->
				                          			</td>

				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">
				                          				<div>			                			
								                			<md-switch class="md-secondary" ng-model="paciente.N_ONCOLOBS" aria-label="DM" layout-align="center center" ></md-switch>
								                		</div>

				                          				<!--md-input-container  class="form-item">
													       <input name="N_ONCOLOBS" ng-model="paciente.N_ONCOLOBS" style="text-align:center;" aria-label="Oncol."  required >
														</md-input-container-->
				                          			</td>

				                          			<td style="padding: 0px 0px; margin: 0px 0px; text-align:center">			                          				
				                          				<md-input-container  class="form-item">
													       <input name="N_OTROBS" ng-model="paciente.N_OTROBS" style="text-align:center;" aria-label="Otro" capitalize >
														</md-input-container>
				                          			</td>
				                          		</tr>
				                          	</tbody>                
				                          </table>
				                		</md-data-table-container>
				                	</div>

				                    
				                	<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				                		<p>¿PACIENTE INTUBADO? </p>
				                		<div>			                			
				                			<md-switch class="md-secondary" ng-model="paciente.ENTUBADO" aria-label="Entubado"></md-switch>
				                		</div>

				                		<p> ¿OPERADO? </p>
				                		<div>		                			
				                			<md-switch class="md-secondary" ng-model="paciente.OPERADO" aria-label="Operado"></md-switch>
				                		</div>

				                		<p ng-show="paciente.OPERADO"> TIPO DE CIRUGIA:&nbsp;&nbsp;&nbsp;&nbsp; </p>
				                		<div flex>		                			
				                			<md-input-container  class="form-item" >
				                				<textarea name="T_TIPOCOBS" ng-model="paciente.T_TIPOCOBS" columns="2" maxlength="100" md-maxlength="100"  aria-label="" capitalize ng-if="paciente.OPERADO"></textarea>
										       <!--input name="" ng-model="" aria-label="Tipo Cirugia" ng-if=""-->
											</md-input-container>
				                		</div>
				                	</div>

				                	<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				                		<p> SANGRADO CUANTIFICADO (ml):&nbsp;&nbsp;&nbsp;&nbsp; </p>
				                		<div>		                			
				                			<md-input-container  class="form-item">
										       <input type="number" name="N_SANGRADOOBS" ng-model="paciente.N_SANGRADOOBS" style="text-align:center;" aria-label="Sangrado" required >
											</md-input-container>
				                		</div>

				                		<p> URESIS:&nbsp;&nbsp;&nbsp;&nbsp; </p>
				                		<div>		                			
				                			<md-input-container  class="form-item">
										       <input type="number" name="N_URESISOBS" ng-model="paciente.N_URESISOBS" style="text-align:center;" aria-label="Uresis" required >
											</md-input-container>
				                		</div>

				                		<p> BALANCE DE LIQUIDOS (CC):&nbsp;&nbsp;&nbsp;&nbsp; </p>
				                		<div>		                			
				                			<md-input-container  class="form-item">
										       <input type="number" name="N_BLIQUIDOSOBS" ng-model="paciente.N_BLIQUIDOSOBS" style="text-align:center;" aria-label="Balance" required >
											</md-input-container>
				                		</div>
				                	</div>

				                	

				                	<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding >
				                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex="30">
				                			<div>
				                				<h1 class="md-title" style="text-align:center">I. DATOS DE GRAVEDAD</h1>
				                				<md-data-table-container >
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">DESCRIPCIÓN</td>
							                          			<td style="text-align:center">PUNTOS</td>
							                          		</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-repeat="TGO in tabGravedadObstetricia" ng-class="md-warn">
							                          			<td>
							                          				<md-checkbox ng-model="tgo.estatus" ng-click="toggle(TGO)">
														              {{ TGO.descripcion }}
														            </md-checkbox>
							                          			</td>
							                          			
							                          			<td style="text-align:center"> {{TGO.puntos}} </td>	
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:right">
							                          				<h3>TOTAL:</h3>
							                          			</td>

							                          			<td style="text-align:center">
							                          				<h3>{{totalDatosGravedad}}</h3>
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>      				
				                			</div>			                			
				                		</md-whiteframe>			                		

				                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
				                			<h1 class="md-title" style="text-align:center">II. SIGNOS VITALES</h1>
				                			<div layout="row" style="padding:0px 0px; margin:0px 0px;">
				                				
				                				<md-data-table-container style="width:20%;">
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">FC</td>
							                          		</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-class="md-warn">
							                          			<td style="padding:0px 0px; margin:0px 0px;">
							                          				<md-radio-group ng-model="valoresTabIIObs0" ng-click="calulaSumaTIIObs(valoresTabIIObs0,0)" required >
														              <md-radio-button ng-repeat="item in tabFCObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
														            </md-radio-group>
							                          			</td>	                          		
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:center">
							                          					{{valoresTabIIObs[0].puntos}}
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>

							                    <md-data-table-container  style="width:20%;">
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">TEMP</td>
							                          		</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-class="md-warn">
							                          			<td style="padding:0px 0px; margin:0px 0px;">
							                          				<md-radio-group ng-model="valoresTabIIObs1" ng-click="calulaSumaTIIObs(valoresTabIIObs1,1)">
														              <md-radio-button ng-repeat="item in tabTEMPObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
														            </md-radio-group>
							                          			</td>	                          		
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:center">
							                          				{{valoresTabIIObs[1].puntos}}
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>  

							                    <md-data-table-container style="width:20%;">
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">FR</td>
							                          		</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-class="md-warn">
							                          			<td style="padding:0px 0px; margin:0px 0px;">
							                          				<md-radio-group ng-model="valoresTabIIObs2" ng-click="calulaSumaTIIObs(valoresTabIIObs2,2)">
														              <md-radio-button ng-repeat="item in tabFRObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
														            </md-radio-group>
							                          			</td>	                          		
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:center">
							                          				{{valoresTabIIObs[2].puntos}}
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>  

							                    <md-data-table-container style="width:25%;">
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">TA</td>
															</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-class="md-warn">
							                          			<td style="padding:0px 0px; margin:0px 0px;">
							                          				<md-radio-group ng-model="valoresTabIIObs3" ng-click="calulaSumaTIIObs(valoresTabIIObs3,3)">
														              <md-radio-button ng-repeat="item in tabFAObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
														            </md-radio-group>
							                          			</td>

							                          			
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:center">
							                          				{{valoresTabIIObs[3].puntos}}
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>
							                    
							                    <md-data-table-container style="width:15%;">
							                        <table md-data-table>
							                          	<thead>
							                          		<tr>
							                          			<td style="text-align:center">PUNTOS</td>
															</tr>	
							                          	</thead>	

							                          	<tbody>
							                          		<tr ng-class="md-warn">
							                          			<td style="padding:0px 0px; margin:0px 0px;">
							                          			<h3 style="text-align:center">5</h3>
							                          			<h3 style="text-align:center">3</h3>
							                          			<h3 style="text-align:center">0</h3>
							                          			<h3 style="text-align:center">3</h3>
							                          			<h3 style="text-align:center">5</h3>
							                          			</td>
							                          		</tr>

							                          		<tr>
							                          			<td style="text-align:center">
							                          				<h3>{{N_TOTALSIGNOSVITALES}}</h3>
							                          			</td>
							                          		</tr>
							                          	</tbody>
							                        </table>
							                    </md-data-table-container>	
							                    
				                			</div>

				                			<div>
				                			</div>
				                		</md-whiteframe>
				                	</div>	
				                	
			                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
			                			<h1 class="md-title" style="text-align:center">III. NEUROLÓGICO</h1>
			                			<div layout="row">
			                				
			                				<md-data-table-container style="width:20%;">
						                        <table md-data-table>
						                          	<thead>
						                          		<tr>
						                          			<td style="text-align:center">GLASGOW</td>
						                          		</tr>	
						                          	</thead>	

						                          	<tbody>
						                          		<tr ng-class="md-warn">
						                          			<td>
						                          				<md-radio-group ng-model="valoresTabIIIObs0" ng-click="calulaSumaTIIIObs(valoresTabIIIObs0,0)">
													              <md-radio-button ng-repeat="item in tabGlassgowObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
													            </md-radio-group>
						                          			</td>	                          		
						                          		</tr>

						                          		<tr>
						                          			<td style="text-align:center">
						                          					{{valoresTabIIIObs[0].puntos}}
						                          			</td>
						                          		</tr>
						                          	</tbody>
						                        </table>
						                    </md-data-table-container>

						                    <md-data-table-container  style="width:25%;">
						                        <table md-data-table>
						                          	<thead>
						                          		<tr>
						                          			<td style="text-align:center">NEUROLÓGICO</td>
						                          		</tr>	
						                          	</thead>	

						                          	<tbody>
						                          		<tr ng-class="md-warn">
						                          			<td>
						                          				<md-radio-group ng-model="valoresTabIIIObs1" ng-click="calulaSumaTIIIObs(valoresTabIIIObs1,1)">
													              <md-radio-button ng-repeat="item in tabNeurologiaObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
													            </md-radio-group>
						                          			</td>	                          		
						                          		</tr>

						                          		<tr>
						                          			<td style="text-align:center">
						                          				{{valoresTabIIIObs[1].puntos}}
						                          			</td>
						                          		</tr>
						                          	</tbody>
						                        </table>
						                    </md-data-table-container>  

						                    <md-data-table-container style="width:22%;">
						                        <table md-data-table>
						                          	<thead>
						                          		<tr>
						                          			<td style="text-align:center">CONVULCIONES</td>
						                          		</tr>	
						                          	</thead>	

						                          	<tbody>
						                          		<tr ng-class="md-warn">
						                          			<td>
						                          				<md-radio-group ng-model="valoresTabIIIObs2" ng-click="calulaSumaTIIIObs(valoresTabIIIObs2,2)">
													              <md-radio-button ng-repeat="item in tabConvulcionesObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
													            </md-radio-group>
						                          			</td>	                          		
						                          		</tr>

						                          		<tr>
						                          			<td style="text-align:center">
						                          				{{valoresTabIIIObs[2].puntos}}
						                          			</td>
						                          		</tr>
						                          	</tbody>
						                        </table>
						                    </md-data-table-container>  

						                    <md-data-table-container style="width:20%;">
						                        <table md-data-table>
						                          	<thead>
						                          		<tr>
						                          			<td style="text-align:center">TRAUMA</td>
														</tr>	
						                          	</thead>	

						                          	<tbody>
						                          		<tr ng-class="md-warn">
						                          			<td>
						                          				<md-radio-group ng-model="valoresTabIIIObs3" ng-click="calulaSumaTIIIObs(valoresTabIIIObs3,3)">
													              <md-radio-button ng-repeat="item in tabTraumaObstetricia" value="{{item.opcion}}">{{ item.descripcion }}</md-radio-button>
													            </md-radio-group>
						                          			</td>

						                          			
						                          		</tr>

						                          		<tr>
						                          			<td style="text-align:center">
						                          				{{valoresTabIIIObs[3].puntos}}
						                          			</td>
						                          		</tr>
						                          	</tbody>
						                        </table>
						                    </md-data-table-container>
						                    
						                    <md-data-table-container style="width:15%;">
						                        <table md-data-table>
						                          	<thead>
						                          		<tr>
						                          			<td style="text-align:center">PUNTOS</td>
														</tr>	
						                          	</thead>	

						                          	<tbody>
						                          		<tr ng-class="md-warn">
						                          			<td>
						                          			<h3 style="text-align:center">0</h3>
						                          			<h3 style="text-align:center">1</h3>
						                          			<h3 style="text-align:center">3</h3>
						                          			<h3 style="text-align:center">5</h3>
						                          			</td>
						                          		</tr>

						                          		<tr>
						                          			<td style="text-align:center">
						                          				<h3>{{N_TOTALNEUROLOGICO}}</h3>
						                          			</td>
						                          		</tr>
						                          	</tbody>
						                        </table>
						                    </md-data-table-container>	
						                    
			                			</div>

			                			<div>
			                			</div>
			                		</md-whiteframe>

			                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
			                			<h1 class="md-title" style="text-align:center">ANEXO ÚLTIMO LABORATORIO REPORTADO</h1>
			                			<md-data-table-container>
					                        <table md-data-table border="1">
					                          	<thead>				                          		
					                          	</thead>	

					                          	<tbody> 
					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[0].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[0].contenido">
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem0{{subitem.opcion}}" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2}){0,1})$/" aria-label="{{subitem.descripcion}}" >
															</md-input-container>
					                          			 </td>					                          			 
					                          		</tr>

					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[1].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[1].contenido">
					                          			 	<label><center>{{subitem.encabezado}}</center></label>
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem1{{subitem.opcion}}" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2})|[a|A|b|B|o|O][\+|-]|\d+)$/" aria-label="{{subitem.descripcion}}" capitalize >
															</md-input-container>
					                          			 </td>					                          			 
					                          		</tr>

					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[2].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[2].contenido">
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem2{{subitem.opcion}}" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2})|\d+)$/" aria-label="{{subitem.descripcion}}" >
															</md-input-container>
					                          			 </td>					                          			 
					                          		</tr>

					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[3].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[3].contenido">
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem3{{subitem.opcion}}" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2})|\d+)$/" aria-label="{{subitem.descripcion}}" >
															</md-input-container>
					                          			 </td>					                          			 
					                          		</tr>

					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[4].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[4].contenido">
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem4{{subitem.opcion}}" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2})|\d+)$/" aria-label="{{subitem.descripcion}}" >
															</md-input-container>
					                          			 </td>					                          			 
					                          		</tr>

					                          		<tr>
					                          			<td style="padding: 0px 5px; margin: 0px 0px;" >{{tabAnexoObstetricia[5].encabezado}}</td>

					                          			 <td style="padding: 0px 0px; margin: 0px 0px;" ng-repeat="subitem in tabAnexoObstetricia[5].contenido">
					                          				<md-input-container  class="form-item">
					                          					<label>{{subitem.descripcion}}</label>
														       <input name="subitem5{{subitem.opcion}}" ng-change="calculaTotalTransfuciones()" ng-model="subitem.valor" style="text-align:center;" ng-pattern="/^(\d+(.[\d]{1,2})|\d+)$/" aria-label="{{subitem.descripcion}}" >
															</md-input-container>
					                          			 </td>

					                          			 <td style="padding: 0px 5px; margin: 0px 0px;" >
					                          			 	<md-input-container  class="form-item">
					                          					<label>TOTAL (ml)</label>
														       <input name="totalTransfuciones" ng-model="totalTransfuciones" style="text-align:center;" aria-label="{{subitem.descripcion}}" disabled >
															</md-input-container>
					                          			 </td>				                          			 			 
					                          		</tr>				                          		
					                          	</tbody>
					                        </table>
					                    </md-data-table-container>
			                		</md-whiteframe>

			                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
			                			<md-input-container  class="form-item">
	                      					<label>OBSERVACIONES</label>
	                      					<textarea name="T_OBSERVOBSTETRICIA" ng-model="paciente.T_OBSERVOBSTETRICIA" columns="2" maxlength="200" md-maxlength="200" required aria-label="" capitalize ></textarea>
									       	<!--input name="" ng-model="paciente." aria-label="OBSERVACIONES" required  md-maxlength="200"-->
										</md-input-container>
			                		</md-whiteframe>

			                		<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
			                			<h1 class="md-title" style="text-align:center">TOMA DE DESICIONES</h1>
			                			<md-data-table-container>
					                        <table md-data-table border="1">
					                          	<thead>				                          		
					                          	</thead>	

					                          	<tbody>
					                          		<tr ng-class="md-warn">
					                          			<td style="text-align:center"><h3> 0 -14 Puntos  </h3></td>
					                          			<td style="text-align:center"><h3> 15 -19 Puntos </h3></td>
					                          			<td style="text-align:center"><h3> > 19  Puntos </h3></td>
					                          			<td style="text-align:center"> <h1 class="md-title">CALIFICACIÓN </h1></td>
					                          		</tr>
					                          		<tr ng-class="md-warn">
					                          			<td style="text-align:center; background-color:green"><h3> VERDE  </h3></td>
					                          			<td style="text-align:center; background-color:yellow"><h3> AMARILLO </h3></td>
					                          			<td style="text-align:center; background-color:red"><h3> ROJO </h3></td>
					                          			<td></td>
					                          		</tr>

					                          		<tr ng-class="md-warn">
					                          			<td style="text-align:center"> ATENCIÓN 30 MINUTOS </td>
					                          			<td style="text-align:center"> ATENCIÓN 10 A 15 MINUTOS </td>
					                          			<td style="text-align:center"> ATENCIÓN INMEDIATA </td>
					                          			<td style="text-align:center">
					                          				<h1 class="md-title" style="background-color:{{N_CLASIFICOBSTETRICIA}};">{{N_TOTALOBSTETRICIA}}</h1>
					                          			</td>
					                          		</tr>
					                          	</tbody>
					                        </table>
					                    </md-data-table-container>
			                		</md-whiteframe>		                		
				            	</div>	
							</div>	
						</md-tab>

						<md-tab label="PEDIATRIA">
							<div  ng-if="triage.selectedIndex == 2">
								<BR>
								<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			                		<p> ¿PRESENTA ALGUNA ALERGIA? </p>
			                		<div>		                			
			                			<md-switch class="md-secondary" ng-model="paciente.ALERGIA" aria-label="Operado"></md-switch>
			                		</div>

			                		<p ng-show="paciente.ALERGIA"> ¿CUAL?:&nbsp;&nbsp;&nbsp;&nbsp; </p>
			                		<div flex>		                			
			                			<md-input-container  class="form-item" >
			                				<textarea name="T_TIPOALERGIA" ng-model="paciente.T_TIPOALERGIA" columns="2" maxlength="100" md-maxlength="100" aria-label="Tipo Alergia" capitalize ng-if="paciente.ALERGIA"></textarea>
									       <!--input name="" ng-model="paciente."required capitalize aria-label="" --> 
										</md-input-container>
			                		</div>
			                	</div>	


						       	<md-data-table-container>
			                          <table md-data-table border="1">
			                          	<thead>
			                          		<tr>
			                          			<td width="20%" style="text-align:center"><div class="md-title" >AFECTACIÓN</div></td>
			                          			<td width="25%" style="text-align:center"><div class="md-title" >LEVE</div></td>
			                          			<td width="25%" style="text-align:center"><div class="md-title" >MODERADO</div></td>
			                          			<td width="25%" style="text-align:center"><div class="md-title" >INTENSO</div></td>
			                          			<td width="5%" style="text-align:center"><div class="md-title" >TOTAL</div></td>
			                          		</tr>	
			                          	</thead>	

			                          	<tbody>
			                          		<tr ng-repeat="TPP in tabPuntajePediatria" ng-class="md-warn">
			                          			<td >{{ TPP.afectacion }}</td>
				                                <td >{{ TPP.leve }}</td>
				                                <td >{{ TPP.moderado }}</td>
				                                <td >{{ TPP.intenso }}</td>
				                                <td  style="text-align:center">
				                                	<md-input-container  class="form-item">
												       <input name="N_CALIFPEDIATRIA{{$index}}" ng-model="TPP.calificacion" required ng-change="calculaPuntajePediatria()" ng-pattern="/^[1|2|3]$/" maxlength="1" style="text-align:center" aria-label="CALIFICACIÓN PEDIATRIA">
													</md-input-container>
				                                </td>
				                            </tr>

				                            <tr>
				                            	<td><h3>PUNTAJE</h3></td>
				                            	<td style="text-align:center"><h3>1</h3></td>
				                            	<td style="text-align:center"><h3>2</h3></td>
				                            	<td style="text-align:center"><h3>3</h3></td>
				                            	<td style="text-align:center">
				                            		<h1 class="md-title" style="background-color:{{N_CLASIFICPEDIATRIA}};">{{N_TOTALPEDIATRIA}}</h1>
				                            	</td>
				                            </tr>

				                            <tr>
				                            	<td><h3>CLASIFICACIÓN TRIAGE</h3></td>
				                            	<td style="text-align:center; background-color:green"><h3>6-10 (VERDE <30 MIN.)</h3></td>
				                            	<td style="text-align:center; background-color:yellow"><h3>11-18 (AMARRILLO 10-15 MIN.)</h3></td>
				                            	<td style="text-align:center; background-color:red"><h3>18 (ROJO INMEDIATO)</h3></td>
				                            	<td>
				                            		<md-input-container  class="form-item">
												       <input name="N_CLASIFICPEDIATRIA" ng-model="N_CLASIFICPEDIATRIA" style="text-align:center; display:none" aria-label="CALIFICACIÓN TOTAL PEDIATRIA">
													</md-input-container>
				                            	</td>
				                            </tr>
			                            </tbody>                
			                          </table>
			                	</md-data-table-container>

			                	<BR>
			                	<div >
				           			<md-data-table-container>
			                          <table md-data-table border="1">
			                          	<thead>
			                          		<tr>
			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container  class="form-item">
			                          					<label>FC</label>
												       <input name="N_FCPED" size="5" maxlength="3" ng-model="paciente.N_FCPED" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2,3})$/" required ng-change="validaFC('P',0,paciente.N_FCPED)">
												       	<div ng-messages="rango">
													       	<div>55-190</div>
													    </div>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
					                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_FCPED">
											            <md-select placeholder="ESTADO" ng-model="tabEstatusPediatria[0]" ng-change="actualizaPuntajePediatria(tabEstatusPediatria[0])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
					                  			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container  class="form-item">
			                          				<label>FR</label>
												       <input name="N_FRPED" size="5" maxlength="2" ng-model="paciente.N_FRPED" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^\d{1,2}$/" required ng-change="validaFR('P',1,paciente.N_FRPED)">
												        <div ng-messages="rango">
													       	<div>12-20</div>
													    </div>
												    </md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
					                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_FRPED">
											            <md-select placeholder="ESTADO" ng-model="tabEstatusPediatria[1]" ng-change="actualizaPuntajePediatria(tabEstatusPediatria[1])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
					                  			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container  class="form-item">
			                          				<label>TA</label>
												       <input name="N_TAPED" size="8" maxlength="7" ng-model="paciente.N_TAPED" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2,3})/(\d{1,3})$/" style="text-align:center" required ng-change="validaTA('P',2,paciente.N_TAPED)">
												        <div ng-messages="rango">
													       	<div>100-120/60-80</div>
													    </div>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
					                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_TAPED">
											            <md-select placeholder="ESTADO" ng-model="tabEstatusPediatria[2]" ng-change="actualizaPuntajePediatria(tabEstatusPediatria[2])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
					                  			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container  class="form-item">
			                          				<label>T</label>
												       <input name="N_TPED" size="8" maxlength="4" ng-model="paciente.N_TPED" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^(\d{2})(.\d){0,1}$/" style="text-align:center" required ng-change="validaTEMP('P',3,paciente.N_TPED)">
												        <div ng-messages="rango">
													       	<div>36-37.7</div>
													    </div>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
					                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_TPED">
											            <md-select placeholder="ESTADO" ng-model="tabEstatusPediatria[3]" ng-change="actualizaPuntajePediatria(tabEstatusPediatria[3])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
					                  			</td>

			                          			<td width="10%" style="text-align:center">
			                          				<md-input-container  class="form-item">
			                          				<label>SAT</label>
												       <input name="N_SATPED" size="5" maxlength="3" ng-model="paciente.N_SATPED" maxlength="3" style="text-align:center;" aria-label="FRECUENCIA" ng-pattern="/^\d{2,3}$/" style="text-align:center" ng-change="validaSAT('P',4,paciente.N_SATPED)">
												       	<div ng-messages="rango">
													       	<div>88-92</div>
													    </div>
													</md-input-container>
			                          			</td>

			                          			<td width="10%" style="text-align:center">
					                  				<md-input-container flex class="form-item form-item-right" ng-show="paciente.N_SATPED">
											            <md-select placeholder="ESTADO" ng-model="tabEstatusPediatria[4]" ng-change="actualizaPuntajePediatria(tabEstatusPediatria[4])" flex required disabled>
													      <md-option ng-value="datoTipoEv.ID" ng-repeat="datoTipoEv in catTipoEvolucion">{{datoTipoEv.cDescripcion}}</md-option>
													    </md-select>
													</md-input-container>
					                  			</td>
			                          		</tr>	
			                          	</thead>	

			                          	<tbody>
			                          	</tbody>
			                          </table>			
			                    	</md-data-table-container>
			                    </div>
		                        
		                        <BR>
						       	<md-data-table-container>
			                          <table md-data-table border="1">
			                          	<thead>
			                          		<tr>
			                          			<td width="20%" style="text-align:center"><div class="md-title" >PARAMETROS POR GRUPO DE EDAD</div></td>

			                          			<td width="20%" style="text-align:center" colspan="2">
			                          				<div class="md-title" flex="5">
			                          					FC
			                          				</div>	                          							                          				
			                          			</td>

			                          			<td width="20%" style="text-align:center" colspan="2">
			                          				<div class="md-title" flex="5">
			                          					FR
			                          				</div>		                          					
			                          			</td>

			                          			<td width="20%" style="text-align:center" colspan="2">
			                          				<div class="md-title" flex="5">
			                          					TA
			                          				</div>	                          					
			                          			</td>

			                          			<!--td width="20%" style="text-align:center" colspan="2">
			                          				<div class="md-title" flex="5">
			                          					TAD
			                          				</div>	
			                          			</td-->
			                          		</tr>	
			                          	</thead>	

			                          	<tbody>
			                          		<tr ng-repeat="TPARP in tabParamPediatria" ng-class="md-warn">
			                          			<td >{{ TPARP.edad }}</td>
				                                <td >{{ TPARP.FCMin }}</td>
				                                <td >{{ TPARP.FCMax }}</td>
				                                <td >{{ TPARP.FRMin }}</td>
				                                <td >{{ TPARP.FRMax }}</td>
				                                <td >{{ TPARP.TASMin }}</td>
				                                <td >{{ TPARP.TASMax }}</td>			                                
				                            </tr>			                            
			                            </tbody>                
			                          </table>
			                	</md-data-table-container>		                    
							</div>
						</md-tab>
		            </md-tabs>
	            </md-content>
	        </div>   

	        <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap ng-if="btnRegistro" class="bottom-block">
	        	<md-progress-linear  md-mode="query" value="30" md-buffer-value="5"></md-progress-linear>	
	        	
		        <md-input-container  class="form-item">
		         	<label class="md-display-1">GENERANDO REPORTE</label>		         	
		        </md-input-container> 
		        <md-progress-linear  md-mode="query" value="20" md-buffer-value="5"></md-progress-linear>	
		        <BR><BR><BR>
		    </section>
		    <section layout="" layout-sm="column" layout-wrap>
		    	<md-input-container flex class="form-item form-item-right" ng-show="N_CLASIFICADULTOS == 'yellow' || N_TOTALOBSTETRICIA == 'yellow' || N_CLASIFICPEDIATRIA == 'yellow'">
			        <label>SELECCIONAR DESTINO DEL PACIENTE</label>
				    <md-select placeholder="DESTINO DEL PACIENTE" ng-model="DESTINO_PACIENTE" flex>
					    <md-option ng-value="datoDestino.NP_ID" ng-repeat="datoDestino in catDestinoPaciente">{{datoDestino.C_DESCRIPCION}}</md-option>
					</md-select>
				</md-input-container>
			</section>
	        <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="btnRegistro">REGISTRAR</md-button> <!-- ng-disabled="registraForm.$invalid" -->
		      	<md-button class="md-raised" type="button" ng-click="cancelar()" ng-disabled="btnRegistro">CANCELAR</md-button>
	      	</div>
		</form>	
	</md-card-content>
</md-card>