
<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >
	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="paciente.nombrePaciente" readonly capitalize>
        </md-input-container>
		<md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="paciente.idPaciente" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="paciente.expediente" readonly capitalize>
        </md-input-container>
	</section>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="paciente.f_nacimiento" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="paciente.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="paciente.genero" readonly capitalize>
        </md-input-container>
    </section>
	<!-- <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
		<md-input-container  class="form-item" flex="30">
            <label>CURP</label>
            <input ng-model="paciente.curp" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>SERVICIO</label>
            <input ng-model="paciente.curp" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>CAMA</label>
            <input ng-model="paciente.curp" readonly capitalize>
        </md-input-container>
	</section> -->
	<fieldset class="standard" ng-show="showNota">
    <legend>NOTA  {{idNota}}</legend>
        <md-toolbar class="contentClinico"  ng-click="seleccionar(1)" >
            <div class=" no_selection linkClinico" >
                {{secciones[1].titulo}}
            </div>
        </md-toolbar>
        <div ficha-ident="fichaEvaluacionClinica" class=" " ng-show="secciones[1].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

        <md-toolbar class="contentClinico"  ng-click="seleccionar(0)" >
            <div class=" no_selection linkClinico" >
                {{secciones[0].titulo}}
            </div>
        </md-toolbar> 
        <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[0].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

        <md-toolbar class="contentClinico"  ng-click="seleccionar(2)" >
            <div class=" no_selection linkClinico" >
                {{secciones[2].titulo}}
            </div>
        </md-toolbar> 
        <div ficha-ident="fichaRiesgoAnestesico" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[2].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

        <md-toolbar class="contentClinico"  ng-click="seleccionar(3)" >
            <div class=" no_selection linkClinico" >
                {{secciones[3].titulo}}
            </div>
        </md-toolbar> 
        <div ficha-ident="fichaMedicacionPreanestesica" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[3].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    </fieldset>
        <div ng-show="showFirma">
            <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" required>
            </md-file-input>
     
            <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cert" required>
            </md-file-input>
        </div>

        <div layout="row" layout-align="center center" ng-show="showFirma">
            <md-button class="md-primary md-hue-1" ng-click="sellar()" type="button">SELLAR Y FIRMAR</md-button>
            <md-button class="md-primary md-hue-1"  ng-click="cancelar()" type="button">CANCELAR</md-button>
        </div>
     
        <div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap >
            <md-input-container  class="form-item" >
                <md-button md-no-ink class="md-primary" ng-show="showButton" ng-click="showKey()" type="button">FIRMAR</md-button>
             </md-input-container>
            <md-input-container  class="form-item" >
                 <md-button md-no-ink class="md-primary" ng-show="false" ng-click="eliminarNota()" type="button">ELIMINAR</md-button>
            </md-input-container>
            <md-input-container  class="form-item" >
                <md-button md-no-ink  class="md-primary" ng-click="imprimir()" ng-show="imprimirNota" type="button"> IMPRIMIR  NOTA PRE-ANESTÉSICA</md-button>
            </md-input-container>
            <md-input-container  class="form-item" flex="30" >
                <md-button md-no-ink ng-click="regresar()" class="md-primary" >REGRESAR</md-button>
            </md-input-container>
        </div>
  </md-card-content>
</md-card>

