<md-card class="md-whiteframe-6dp">
<card-toolbar  canreturn="true">
</card-toolbar>

<md-card-content >
	
<form name="reportForm" ng-submit="generaReporte()">

<div layout=""  layout-sm="column" layout-align="center center" >


    <md-datepicker ng-model="agenda.fechaInicial" md-max-date="agenda.fechaFinal" md-placeholder="FECHA INICIAL">
    </md-datepicker>
    <md-datepicker ng-model="agenda.fechaFinal" md-min-date="agenda.fechaInicial" md-placeholder="FECHA FINAL">
    </md-datepicker>





</div>

<section layout="row" layout-align="end center">
  <md-button ng-disabled="!reportForm.$valid" class="md-raised md-primary" type="submit">GENERAR REPORTE</md-button>
  <md-button type="button" ng-click="agenda = undefined; agendas = []" class="md-raised md-warn" >LIMPIAR</md-button>
</section> 

</form>



</md-card-content>

</md-card>