<md-card class="md-whiteframe-6dp">
<card-toolbar  canreturn="true">
</card-toolbar>

<!--
<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
	<h3 class="md-subhead" >DA CLIC EN LA AGENDA DE MEDICO QUE DESES CONSULTAR. SOLO SE CONSULTA LA AGENDA DEL DIA ACTUAL.</h1>
	</md-content>
-->

<md-card-content block-ui="myBlockUI">
	<section layout="" layout-sm="column">
		<md-input-container flex class="form-item form-item-right">
		<label>BUSCAR</label>
		<input name="buscar" ng-model="buscar" ng-Change="buscaMedico(buscar)">
	</md-input-container>
</section>
<md-data-table-container ng-show="datos.length > 0">
		  <table md-data-table class="table-heading">
		    <thead>
		      <tr>
		      	<th name="EXPEDIENTE"></th>
		        <th name="NOMBRE"></th>
		        <th name="ESPECIALIDAD"></th>
		        <th name="IMPRIMIR AGENDA"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order
			                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		        <td>{{dato.NF_MEDICO_ANIO}}</td>
		        <td>{{dato.CF_MEDICO}}</td>

		        <td>{{dato.CF_ESPECIALIDAD}}</td>
		        <td>
		      		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="generaReporte($event, dato)" ng-if="!carnet">
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
				    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="imprimirCarnet($event, dato)" ng-if="carnet">
				        <md-icon md-svg-src="images/icons/svg/ic_local_printshop_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>




</md-card-content>

</md-card>
