<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="" ng-init="inicializaPagina()">
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout >

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item form-item-right">
				          <label>NOMBRE DEL PACIENTE</label>
				          <input maxlength="50" name="C_NOMBREPACIENTE" ng-model="paciente.C_NOMBRE"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize disabled>					          
				        </md-input-container>
				        
				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>NO. EXPEDIENTE</label>
				          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" disabled>
				        </md-input-container>	

				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>ID. PACIENTE</label>
				          <input name="ID" ng-model="paciente.NP_ID" disabled>
				        </md-input-container>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item form-item-right">
						    <label>FECHA DE NACIMIENTO</label>
						    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
						</md-input-container>

						<md-input-container flex="10" class="form-item form-item-right">
				          <label>EDAD</label>
				          <input name="EDAD" ng-model="paciente.EDAD" disabled>
				        </md-input-container>
					
						<md-input-container flex class="form-item form-item-right" >
				          <label>GENERO</label>
					        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO" disabled>
						      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>

						<md-input-container flex class="form-item" disabled>
				          <label>CURP</label>
				          <input name="C_CURP" ng-model="paciente.C_CURP" disabled>
				          <div ng-show="registraForm.C_CURP.$dirty && registraForm.C_CURP.$invalid" ng-messages="registraForm.C_CURP.$error">
					        	<div ng-message="pattern">NO CORRESPONDE AL FORMATO DE LA CURP</div>
					      </div>
				        </md-input-container>					  	
					</div>
					
					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<label class="md-title">DATOS DEL MÉDICO: &nbsp;&nbsp;&nbsp;&nbsp;</label>
							<md-input-container flex class="form-item form-item-right">
					          <label>NOMBRE</label>
					          <input maxlength="50" name="NOMBRE" ng-model="medico.NOMBRE" capitalize disabled>
					        </md-input-container>
					        
					        <md-input-container flex="15" class="form-item form-item-right">
					          <label>ID</label>
					          <input name="C_EXPEDIENTE" ng-model="medico.N_EXPEDIENTE"  disabled>
					        </md-input-container>
						</div>        
					</div>					
				</div>	
			</md-whiteframe>
			<BR>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >					
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title">HISTORIA CLINICA</h1>
						</div>
					
						<md-data-table-container>
	                        <table md-data-table>
	                          	<thead>
	                          	</thead>	

	                          	<tbody>
	                          		<tr ng-repeat="item in tabHistorialClinica" ng-class="md-warn">
	                          			<td ng-repeat="opcion in item.opciones" width="50%">		                          			
	                          				<md-checkbox ng-model="opc.estatus" ng-click="toggle(opcion)">
								              {{ opcion.descripcion }} - {{opcion.calificacion}}
								            </md-checkbox>
	                          			</td>		                          				                          			
	                          		</tr>		                          		
	                          	</tbody>
	                        </table>
	                    </md-data-table-container>
					</div>	
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title">ANTECEDENTES PERSONALES PATOLOGICOS</h1>
						</div>
					
						<md-data-table-container>
	                        <table md-data-table>
	                          	<thead>
	                          	</thead>	

	                          	<tbody>
	                          		<tr ng-repeat="item in tabAntecedentesPersonales" ng-class="md-warn">
	                          			<td ng-repeat="opcion in item.opciones" width="50%">		                          			
	                          				<md-checkbox ng-model="opc.estatus" ng-click="toggle(opcion)">
								              {{ opcion.descripcion }} - {{opcion.calificacion}}
								            </md-checkbox>
	                          			</td>		                          			
	                          		</tr>		                          		
	                          	</tbody>
	                        </table>
	                    </md-data-table-container>
					</div>									
				</md-whiteframe>
			</div>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >					
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title">ANTECEDENTES GINECO-OBSTETRICIOS</h1>
						</div>
					
						<md-data-table-container>
	                        <table md-data-table>
	                          	<thead>
	                          	</thead>	

	                          	<tbody>
	                          		<tr ng-repeat="item in tabAntecedentesGinecoObst" ng-class="md-warn">
	                          			<td ng-repeat="opcion in item.opciones" width="50%">		                          			
	                          				<md-checkbox ng-model="opc.estatus" ng-click="toggle(opcion)">
								              {{ opcion.descripcion }} - {{opcion.calificacion}}
								            </md-checkbox>
	                          			</td>		                          				                          			
	                          		</tr>		                          		
	                          	</tbody>
	                        </table>
	                    </md-data-table-container>
					</div>	
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title">EMBAZARAZO ACTUAL</h1>
						</div>
					
						<md-data-table-container>
	                        <table md-data-table>
	                          	<thead>
	                          	</thead>	

	                          	<tbody>
	                          		<tr ng-repeat="item in tabEmbarazoActual" ng-class="md-warn">
	                          			<td ng-repeat="opcion in item.opciones" width="50%">		                          			
	                          				<md-checkbox ng-model="opc.estatus" ng-click="toggle(opcion)">
								              {{ opcion.descripcion }} - {{opcion.calificacion}}
								            </md-checkbox>
	                          			</td>		                          			
	                          		</tr>		                          		
	                          	</tbody>
	                        </table>
	                    </md-data-table-container>
					</div>									
				</md-whiteframe>
			</div>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex >					
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title">EXAMEN CLINICO ANORMAL</h1>
						</div>
					
						<md-data-table-container>
	                        <table md-data-table>
	                          	<thead>
	                          	</thead>	

	                          	<tbody>
	                          		<tr ng-repeat="item in tabExamenClinico" ng-class="md-warn">
	                          			<td ng-repeat="opcion in item.opciones" width="25%">		                          			
	                          				<md-checkbox ng-model="opc.estatus" ng-click="toggle(opcion)">
								              {{ opcion.descripcion }} - {{opcion.calificacion}}
								            </md-checkbox>
	                          			</td>		                          				                          			
	                          		</tr>		                          		
	                          	</tbody>
	                        </table>
	                    </md-data-table-container>
					</div>	
				</md-whiteframe>				
			</div>

			<md-data-table-container>
                <table md-data-table border="1" id="" >
                  	<thead>
                  		<tr>
                  			<td style="text-align:center" width="20%"><div class="md-title" >CALIFICACIÓN: {{N_CALIFICACION}}</div></td>
                  			<td style="text-align:center; background-color:{{N_CLASIFICACION_BAJO_RIESGO}};" width="20%;">
                  				<div class="md-title" >BAJO RIESGO</div>
                  			</td>
                  			<td style="text-align:center; background-color:{{N_CLASIFICACION_BAJO_RIESGO}};" width="20%;">
                  				<div class="md-title" >0-6 PUNTOS</div>
                  			</td>
                  			<td style="text-align:center; background-color:{{N_CLASIFICACION_ALTO_RIESGO}};" width="20%">
                  				<div class="md-title" >ALTO RIESGO</div>
                  			</td>
                  			<td style="text-align:center; background-color:{{N_CLASIFICACION_ALTO_RIESGO}};" width="20%">
                  				<div class="md-title" >>6 PUNTOS</div>
                  			</td>
                  		</tr>	                  		
                  	</thead>	

                  	<tbody>
                    </tbody>                
                </table>
        	</md-data-table-container>
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				
			</md-whiteframe>
			<BR>
	        <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit">REGISTRAR</md-button> <!-- ng-disabled="registraForm.$invalid" -->
		      	<md-button class="md-raised" type="button" ng-click="">CANCELAR</md-button>
	      	</div>
			
		</form>	
	</md-card-content>
</md-card>
