<md-dialog style="min-width:530px">
  <md-card class="md-whiteframe-6dp">
	<card-toolbar title="CANCELAR EVOLUCIÓN Y ALTA">
	</card-toolbar>
	<md-card-content>
		<form name="formCancela" ng-controller="HospitalizacionConsultapacienteCtrl">
			<section layout="" layout-sm="column">
				<md-input-container flex class="form-item form-item-right">
			        <label>MOTIVO DE CANCELACIÓN</label>
				    <textarea md-maxlength="500" name="C_MOTIVO_CANCELACION" ng-model="nota.C_MOTIVO_CANCELACION"/>
				</md-input-container>
		    </section>
		    <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-warning" type="button" ng-click="goBack()">ATRÁS</md-button>
		      	<md-button class="md-raised md-primary" type="button" ng-click="sendCancelacion()" ng-disabled="!formCancela.$valid">ENVIAR CANCELACIÓN</md-button>
		    </div>
		</form>
	</md-card-content>
</md-card>
</md-dialog>
