<div layout="column" tabindex="-1"  flex="" class="layout-column flex">


<md-card class="md-whiteframe-6dp" ng-init="loadTable()" flex="">
    <card-toolbar >
  	</card-toolbar>

	<md-card-content flex-sm="" layout="column" flex=>

		 <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >
    		<md-tab label="NOTAS MEDICAS" > <!-- RECUPERAR DE LA NOTA DE INGRESO-->
      			
		
			        <section layout="row" layout-xs="column" layout-align="start center" layout-wrap flex ng-if="registros.length > 0">	
			           	<md-input-container class="form-paciente" flex="50">
			           		<label>BUSCAR</label>
			           		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
			           	</md-input-container>               	
				    </section>
			    		
					<md-data-table-container  ng-if="registros.length > 0" >					
						<table md-data-table class="table-heading">
						    <thead >
							    <tr>
							      	<td> NOMBRE PACIENTE         </td>
							        <td> TIPO                    </td>
							        <td> EVOLUTIVA               </td>
							        <td> SOLICITAR INTERCONSULTA </td>
							        <!--td> INTERCONSULTA           </td-->
							        <td> EVOLUCIÓN Y ALTA        </td>
							        <td> CANCELAR                </td>
							    	<td> NOTA DE EGRESO          </td>
							    </tr>
						    </thead>

						    <tbody >
						    	<tr  ng-repeat='paciente in registros | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit' class="table table-hover">	
							        <td style="padding: 0px 0px; margin: 15px 0px;">{{paciente.C_PRIMER_APELLIDO}} {{paciente.C_SEGUNDO_APELLIDO}} {{paciente.C_NOMBRE}}</td>

							         <!-- INGRESO -->
							        <td ng-if="paciente.CF_TIPO_NOTA !== 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">{{paciente.CF_TIPO_NOTA}}
							           	<div ng-if="paciente.CF_TIPO_NOTA == 'INGRESO' && paciente.NF_ESTATUS == 1">	
								        	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(paciente)">
										        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
										    </md-button>
										    <br>PENDIENTE
										</div>
									</td>

									<td ng-if="paciente.CF_TIPO_NOTA === 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
						                <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(paciente)">
						                	<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
						                </md-button>
						                 <br>INGRESO
						                <div ng-if="paciente.CF_TIPO_NOTA == 'INGRESO' && paciente.NF_ESTATUS == 1"><br>PENDIENTE</div>
						             </td>
					            
							        <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- EVOLUTIVA -->
								        <div ng-if="paciente.NF_ESTATUS != 1 || paciente.CF_TIPO_NOTA == 'EVOLUTIVA'">
										    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolutiva(paciente)" ng-if="paciente.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && paciente.CF_TIPO_NOTA!=='S_INTERCONSULTA' && paciente.CF_TIPO_NOTA != 'ESPERA'">
										        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
										    </md-button>
									     <div ng-if="paciente.CF_TIPO_NOTA == 'EVOLUTIVA' && paciente.NF_ESTATUS == 1"><br>PENDIENTE</div>
									    </div>
			 	
							      	</td>

							      	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- SOLICITAR INTERCONSULTA -->
							      		<div ng-if=" paciente.NF_ESTATUS != 1 || paciente.CF_TIPO_NOTA == 'S_INTERCONSULTA'">
										    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirSolicitarInterconsulta(paciente)" ng-if="paciente.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && paciente.CF_TIPO_NOTA!=='S_INTERCONSULTA' && paciente.CF_TIPO_NOTA != 'ESPERA'">
										        <md-icon md-svg-src="images/icons/svg/white/ic_forward_white_18px.svg"></md-icon>
										    </md-button>
										</div>
							      	</td>

					                <!--td style="padding: 0px 0px; margin: 15px 0px; text-align: center;" ><!-- INTERCONSULTA -->
					                  <!--div ng-if="paciente.NF_ESTATUS != 1 || paciente.CF_TIPO_NOTA == 'INTERCONSULTA'">
					                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirInterconsulta(paciente)" ng-if="paciente.CF_TIPO_NOTA === 'S_INTERCONSULTA'">
					                      <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
					                    </md-button>
					                  </div>
					                </td-->

							      	<!--td>
									    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirInterconsulta(paciente)" ng-if="paciente.CF_TIPO_NOTA === 'S_INTERCONSULTA'">
									        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
									    </md-button>
							      	</td-->

							      	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- Evolución y Alta-->
							      		<div ng-if="paciente.NF_ESTATUS != 1 || paciente.CF_TIPO_NOTA == 'EVOLUCION Y ALTA'">
										    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(paciente)" ng-if="paciente.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && paciente.CF_TIPO_NOTA!=='S_INTERCONSULTA' && paciente.CF_TIPO_NOTA != 'ESPERA'">
										        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
										    </md-button>
										    <div ng-if="paciente.CF_TIPO_NOTA == 'EVOLUCION Y ALTA' && paciente.NF_ESTATUS == 1">
						                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(paciente)">
						                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
						                      </md-button>
						                      <br>PENDIENTE
						                    </div>
										</div>
							      	</td>

							      	<td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- CANCELAR -->
							      		<div ng-if="paciente.NF_ESTATUS != 1">
										    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirCancelar(paciente,$index)" ng-if="paciente.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
										        <md-icon md-svg-src="images/icons/svg/white/ic_clear_white_18px.svg"></md-icon>
										    </md-button>
										</div>
							      	</td>

					                <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- NOTA DE EGRESO -->
					                  <div ng-if="paciente.NF_ESTATUS != 1">
					                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNotaEgreso(paciente)" ng-if="paciente.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
					                      <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
					                    </md-button>
					                  </div>
					                </td>
					                <!--td>
					                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="printTriage(paciente)" ng-if="paciente.C_MODULO_TRIAGE != undefined">
					                    <md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg"></md-icon>
					                  </md-button>
					                </td>



							      	<!--
							      	<td>
							      		<div ng-if="paciente.NF_ESTATUS != 1">
										    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNotaEgreso(paciente)" ng-if="paciente.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
										        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
										    </md-button>
										</div>
							      	</td>
							      -->





						      	</tr>
						    </tbody>			    
						</table>
					</md-data-table-container>		
					<md-data-table-pagination ng-if="registros.length>0 && tabla" md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>

					<section layout="row"  layout-xs="column" layout-align="center center" layout-wrap ng-if="registros.length == 0">	
				        <md-input-container  flex="50"  class="form-item">
				         	<label class="md-display-1">NO SE ENCONTRARON PACIENTES</label>
				        </md-input-container> 
				    </section>
			    
            </md-tab>

            <md-tab label="CONSENTIMIENTO INFORMADO" > <!-- -->
            	<md-data-table-container>
				    <table md-data-table>
				        <thead>
				            <tr>
					          <th md-column name="ID NOTA"></th>
					          <th md-column name="EXPEDIENTE"></th>
					          <th md-column name="NOMBRE"></th>
					          <th md-column name="ARCHIVO"></th>
				        	</tr>
				    	</thead>
						<tbody>
					        <tr ng-repeat="consentimientoInformado in consentimientosInformados | orderBy: queryConsentimiento.order | limitTo: queryConsentimiento.limit: (queryConsentimiento.page - 1)* queryConsentimiento.limit">
								<td>{{consentimientoInformado.NF_NOTA_MEDICA}}</td>
					          	<td>{{consentimientoInformado.NF_PACIENTE}}   </td>
					            <td>{{consentimientoInformado.C_NOMBRE + ' ' + consentimientoInformado.C_PRIMER_APELLIDO + ' ' + consentimientoInformado.C_SEGUNDO_APELLIDO}}</td>
					          	<td>
					          		<md-button ng-if="consentimientoInformado.C_FILE_CONSENTIMIENTO" class="md-raised md-warn" ng-click="downloadConsentiminetoInformado(consentimientoInformado, $event)">DESCARGAR ARCHIVO</md-button>
					            	<md-button ng-if="!consentimientoInformado.C_FILE_CONSENTIMIENTO" class="md-raised md-primary" ng-click="uploadConsentiminetoInformado(consentimientoInformado, $event)">ADJUNTAR ARCHIVO</md-button>
					          	</td>
					        </tr>
				        </tbody>
				    </table>
				</md-data-table-container>
  				<md-data-table-pagination ng-show="consentimientosInformados.length>0" md-limit="queryConsentimiento.limit" md-page="queryConsentimiento.page" md-total="{{consentimientosInformados.length}}" ></md-data-table-pagination>

            </md-tab>

        </md-tabs>

	</md-card-content>
</md-card>

</div>

