<md-card layout-wrap class="md-whiteframe-6dp" ng-init="getUltimaNotaMedica()">
    <card-toolbar  canreturn="true"></card-toolbar>
    <md-card-content >


  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container flex>
        <label>ÁREA</label>
        <md-select ng-model="mArea" ng-change="cambioArea()" flex>
          <md-option value="{{dat.ID}}" ng-repeat="dat in areas">{{dat.cDescripcion}}</md-option>
        </md-select>
      </md-input-container>
  </section>

  <section layout="row" ng-show="paciente.length > 1" layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container class="md-block" flex-gt-sm>
          <label>BUSCAR <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
          <input ng-model="buscar" ng-change="primerPagina()" >
      </md-input-container>
  </section>


    <section>
       <md-data-table-container>
          <table md-data-table  md-progress="deferred" >
            <thead md-order="query.order" class="table-heading">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in paciente | filter: buscar | orderBy: [p.C_PRIMER_APELLIDO, p.C_SEGUNDO_APELLIDO, p.C_NOMBRE] | limitTo: query.limit: (query.page - 1) * query.limit">
                <td>{{p.NP_ID}}</td>
                <td>{{p.C_PRIMER_APELLIDO }}</td>
                <td>{{p.C_SEGUNDO_APELLIDO}}</td>
                <td>{{p.C_NOMBRE}}</td>
                <td ng-show="p.N_ULTIMARECETAMEDICA != 0">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="generaRequisicion(p.N_ULTIMARECETAMEDICA)">
                          <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                      </md-button>
                </td>
                <td ng-show="p.N_ULTIMARECETAMEDICA == 0">
                      SIN ORDEN MEDICA
                </td>
              </tr>
              <tr ng-show="paciente.length == 0">
                <td colspan="5" style="text-align: center;">NO HAY DATOS</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{paciente.length}}" md-trigger="onpagechange"></md-data-table-pagination>
    </section>
  </md-card-content >
</md-card>
