
/*
//////////////////////////////////////////////////////////
/// BASIC USAGE
//////////////////////////////////////////////////////////
*/


.icon-circle {
  height: 32px;
  width: 29px;
}

.logo-header-img {
  margin-top: 4px;
  max-height: 60px;
  width: auto;
}

.img-menu-header {
  max-width: 290px;
  height: auto;
}

.md-toolbar-menu {
  background-image: url('/application/assets/images/imagenes-sitio/fondo.jpg');
}

.selector {
  background: #f7f7f7 !important;
  border-radius: 3px !important;
  text-align: center !important;
  margin: 1em !important;
  position: relative !important !important;
  padding-bottom: 10px !important; }


.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.margin-left10{
  margin-left: 10px;
}
/*
//////////////////////////////////////////////////////////
/// TERMINA BASIC USAGE
//////////////////////////////////////////////////////////
*/

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;

}

.menu-title{
	padding-left: 40px;
 display: block;
    margin-left: auto;
    margin-right: auto

}


.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: #FFF;
  font-weight: bold !important;
}


.tex-center{
  text-align: center !important;
}

.tex-right{
  text-align: right !important;
  padding-right: 22px;
}



/*Avisar que se quito esta clase por que daña los estilos*/
/*.md-button.md-icon-button {
      margin: 15px 0px !important;
}*/


.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
 /* border-top: 1px solid rgba(0, 0, 0, 0.12); */
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #00385F;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}


.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}

.color-cuestionario{
  background-color: #004e7a;
}


.menu-background{
  background-color: #003B5C;
  color: #fff !important;
  font-size: 1.5em;
  font-family: ARIAL;
}

.color-graf-n{
  border-color: rgb(255, 87, 34);
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 34);
}

.color-graf-a{
  border-color: rgb(0, 188, 212);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 188, 212);
}

.color-graf-m{
    border-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 0.870588);
    background-color: rgb(63, 81, 181);
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-top-23{
  margin-top: 23px;
}
.margin-left-20{
  margin-left: 20px;
}

.margin-left-30{
  margin-left: 30px;
}

.margin-left-5{
  margin-left: 5px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-top-8{
  margin-top: 8px;
}

.margin-left-50{
  margin-left: 50px;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-bottom-25{
  margin-bottom: 25px;
}

.margin-left-70{
  margin-left: 70px;
}
.margin-left-100{
  margin-left: 100px;
}
.campo-obligatorio{
  color: rgb(244,67,54);
  font-size: 12px;
  font-family: SourceSansPro-Regular;
  line-height: 14px;
  overflow: hidden;
  padding-top: 5px;
}

.tipo-pregunta{
  color: rgba(0,0,0,0.60);
  font-size: 12px;
  font-family: SourceSansPro-Regular;
  line-height: 14px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 30px;
}

.contenedor-preguntas {
    background-color:#fafcfe;
    padding: 20px 0;

}

.convertir-uppercase{
    text-transform: uppercase;
}

.num-pregunta{
color: rgba(0,0,0,0.26);
}

.padding-top-17{
  padding-top: 17px;
}
.padding-top-5{
  padding-top: 15px;
}

.label-fecha{
  padding-top: 0px;
  margin-bottom: 30px;
}

.label-fecha-pre{
  padding-top: 0px;
  margin-bottom: 30px;
  color: #000 !important;
}



.md-blueframe-z1 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); }

.md-blueframe-z2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084); }

.md-blueframe-z3 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084); }

/*.md-blueframe-z4 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.14), 0px 8px 10px 1px rgba(0, 0, 0, 0.098), 0px 3px 14px 2px rgba(0, 0, 0, 0.084); }*/

.md-blueframe-z5 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.14), 0px 16px 24px 2px rgba(0, 0, 0, 0.098), 0px 6px 30px 5px rgba(0, 0, 0, 0.084); }




  @media screen{
  md-blueframe {
    border: 1px solid #fff; } }

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/application/assets/fonts/SourceSansPro-Regular.otf');
    src: url('/application/assets/fonts/SourceSansPro-Regular.eot');
    src: url('/application/assets/fonts/SourceSansPro-Regular.svg') format('svg'),
        url('/application/assets/fonts/SourceSansPro-Regular.woff')format('woff'),
        url('/application/assets/fonts/SourceSansPro-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: SourceSansPro-Regular;
}

footer{
  background-color: #003B5C;
  min-height: 160px;
  color: #00B5E2 !important;

}

@media screen and (max-height: 600px){
  footer{
    /*visibility: hidden;*/
    position: fixed;
    max-height: 0;
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 1.8s;
  -moz-transition: max-height 1.8s;
  transition: max-height 1.8s;

  }
}

md-datepicker{
  padding-right: 5px;
}


.footerImg{
  padding-top: 10px;
  padding-left: 10px;

  float: center;
}

.footerLink{
  text-decoration: none;
  color: #00B5E2 !important;
}

.footerSection{
  padding-top: 30px;
  padding-left: 10px;
}


.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.greenstyle {background-color: #66BB6A;}
.yellowstyle {background-color: #FFEE58;}
.redstyle {background-color: #EF5350;}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
  border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

.sidenav_custom{
  max-width: 40px;
}

.form-item-right {
  margin-right: 20px;
}

table > thead{
  background-color:#00b5e2;
  height:40px;
}
table > thead > tr > td{
  height:40px;
  padding:2px;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 400;
}


/*
ui content animation
*/

.animated-view.ng-enter, .animated-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.animated-view.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

.animated-view.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.animated-view.ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.animated-view.ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

.parentActive {
  background-color: #cfd8dc;
}
.letras{
  color: #003B5C ;
}

/*
animate-show
*/
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

md-content{
  height: 100%;
}

.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }
.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }
.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }
.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }
.tabsdemoDynamicTabs label {
  text-align: left; }
.tabsdemoDynamicTabs .long > input {
  width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }



.cssSlideUp {
    transition: .5s linear all;
    height: 80px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;

}

.linkClinico{
  text-align: left;
  padding: 0px 0px 21px 20px;
  max-width: 100%;
  font-size: .7em;
  color: rgb(0,59,92);
}
.contentClinico{
  border-bottom: 1px solid rgb(117,117,117);
  margin-bottom: 5px !important;
  max-height: 2.3em !important;
  min-height: 1.3em !important;
  padding: 15px 0px !important;
  cursor: pointer !important;
  background-color: rgb(236, 236, 236) !important;

}

/****************************
**  Estilo para reloj
****************************/

.ffa{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 25px !important;
  min-height: 25px !important;
}

.clock-button{
    max-height: 25px !important;
    min-height: 25px !important;
}

.clock-container{
    width: 100px !important;
    padding: 2px !important;
    max-height: 20px !important;
    margin: 0px auto !important;
}

.clock-input{
    text-align: center !important;
    max-height: 25px !important;
    font-size: 25px !important;
}


.firma-documentos{
  margin-top: 15px !important;
  max-height: 1em;
  min-width: 200px !important;
}

.ffa-chevron-up:before {
   content: url("../images/icons/svg/ic_keyboard_arrow_up_black_24px.svg");
}

.ffa-chevron-down:before {
   content: url("../images/icons/svg/ic_keyboard_arrow_down_black_24px.svg");
}

.close-button {
  background-color: red !important;
  max-width: 10px !important;
  margin-top: 13px !important;
  max-height: 36px !important;
  color: white !important;
}

.line-divider{
  margin-bottom: 40px;
}

.paddin-top-5{
  padding-top: 10px;
}

.divImg img{
    max-width: 100%;
}



/****************************
**  Estilo para Caja
****************************/

/* .table-pagos {
        -webkit-box-shadow: 0px 2px 2px -1px rgba(153,141,153,0.58);
        -moz-box-shadow: 0px 2px 2px -1px rgba(153,141,153,0.58);
        box-shadow: 0px 2px 2px -1px rgba(153,141,153,0.58);
        background-color: #EBFCF7;
        margin-right: 50px;
        background-color: #F8FEDA;
    }*/

.formCobroServicios{
  min-width: 800px;
}


.btn-agregar-metodo{
  font-size: 30px !important;
}



.control-Pago-right{

  padding-right: 15px;
  text-align: right !important;


}

.control-Pago-left{
  text-align: left !important;
}

.example-color{
  background-color: red;
}

.color-restan{
  color: red;
}


.selectstyle {background-color: #4FC3F7;}

.md-header-grid{
  background-color: #00b5e2;
  padding: 10px;
  color: white;
}


.nuevo-elemento > td{
  color: red !important;
}

/****************************
**  Estilo para Perfil
****************************/


.head-perfil{
  background-color: #90a4ae;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  /*box-shadow: 0px 1px 5px #545454;*/
}

.head-perfil h3{
  color: #FFF;
  font-size: 2.1em;
  text-align: center;
  top: 120px;
  position: relative;
  font-weight: 200;
}

.body-content-perfil{
  position: relative;
  top: 200px;
}

.cards-perfil{
  min-height: 300px; 
  text-align: center;
  cursor: pointer;
}

.cards-perfil md-card-footer{
  color: #78909C;
  font-size: 1em;
  font-weight: 500;
}

.cards-perfil .circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto;
  top: 20px !important;
  margin-bottom: 2em;
  margin-top: 2em;
  background: #78909C;
}

.cards-perfil .circle i{
  color: #fff;
  position: relative;
  top: 30px;
  font-size: 2em;
}

