<md-card class="md-whiteframe-6dp" ng-init="cargaDatos()">
	<card-toolbar >
	</card-toolbar>
	<md-card-content block-ui="myBlockUI">
      	<section layout="" layout-sm="column" layout-wrap>
	    	<md-input-container flex class="form-item form-item-right" ng-if="!isAsistente && !isResidente">
				<label>ESPECIALIDAD</label>
				<input name="CF_ESPECIALIDAD" ng-model="medico.ESPECIALIDADES.CF_ESPECIALIDAD" disabled>
			</md-input-container>
	    </section>
	    <section layout="" layout-sm="column" layout-wrap>
	    	<md-input-container flex class="form-item form-item-right" ng-if="!isAsistente && !isResidente">
				<label>MÉDICO</label>
				<input name="nombreCompleto" ng-model="medico.nombreCompleto" disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right" ng-if="isAsistente || isResidente">
				<label>NOMBRE DE AUXILIAR</label>
				<input name="nombreCompleto" ng-model="medico.nombreCompleto" disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right" ng-if="!isAsistente && !isResidente">
				<label>CÉDULA</label>
				<input name="C_CEDULA" ng-model="medico.C_CEDULA" disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right" ng-if="!isAsistente && !isResidente">
				<label>ID</label>
				<input  name="N_EXPEDIENTE" ng-model="medico.N_EXPEDIENTE" disabled>
			</md-input-container>
	    </section>
	    <section layout="" layout-sm="column" layout-wrap >
	    	<md-input-container flex class="form-item form-item-right" ng-if="!isAsistente && !isResidente">
				<label>TURNO</label>
				<input name="CF_DESCRIPCION" ng-model="medico.TURNOS.CF_DESCRIPCION" disabled>
			</md-input-container>
			<md-datepicker ng-model="medico.FECHA" md-min-date="currentDate" ng-change="buscaAgenda()" flex class="form-item form-item-right"></md-datepicker>
	    </section >
	    <section layout="" layout-sm="column">
	    	<md-input-container flex class="form-item form-item-right">
				<label>BUSCAR</label>
				<input name="buscar" ng-model="buscar" ng-Change="buscaPaciente(buscar)">
			</md-input-container>
		</section>
	  	<md-data-table-container flex >
		  <table md-data-table class="table-heading" style="border-top: 0px">
		    <thead>
		      <tr>
		      	<td> NO. CITA             </td>
		        <td> ID                   </td>
		        <td> PACIENTE	          </td>
		        <td> HORA				  </td>
		        <td> NÚMERO DE EXPEDIENTE </td>
		        <td ng-if="isAsistente || isResidente"> ESPECIALIDAD </td>
		        <td> SIGNOS VITALES       </td>
		        <td> CONSULTA REALIZADA   </td>
		        <td> NOTA MÉDICA          </td>
		        <td> OBSERVACIONES        </td>
		      </tr>
		    </thead>
		    <tbody>
		      <tr  md-auto-select ng-repeat="dato in datos | orderBy: query.order
			                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		        <td style="padding: 0px 0px; margin: 0px 0px; text-align:center;">{{(query.page - 1) * query.limit + $index + 1}}</td>
		        <td style="padding: 0px 5px; margin: 0px 0px;">{{dato.NF_ID_PACIENTE}}</td>
		        <td style="padding: 0px 5px; margin: 0px 0px;">{{dato.CF_PACIENTE}}</td>
		        <td style="padding: 0px 0px; margin: 0px 0px; text-align:center;">{{parseTime(dato.F_FECHA_HORA)}}</td>
		        <td style="padding: 0px 0px; margin: 0px 0px;">{{dato.NF_EXPEDIENTE_PACIENTE_SIU}}</td>
		        <td style="padding: 0px 0px; margin: 0px 0px;" ng-if="isAsistente || isResidente">{{dato.CF_ESPECIALIDAD}}</td>
		        <td style="padding: 0px 0px; margin: 0px 0px; text-align:center;" disabled>
		        	<md-switch style=" width: 5px; text-align:center;" class="md-primary" aria-label="Profile" flex ng-model="dato.NF_ESTATUS" ng-true-value="'SIGNOS VITALES'" ng-false-value="'ACTIVO'" disabled ng-if="dato.NF_ESTATUS === 'SIGNOS VITALES'">
		        	</md-switch>
		        	<md-switch style=" width: 5px; text-align:center;" class="md-primary" aria-label="Profile" flex ng-model="dato.NF_ESTATUS" ng-true-value="'EN CONSULTA'" ng-false-value="'ACTIVO'" disabled ng-if="dato.NF_ESTATUS === 'EN CONSULTA'">
		        	</md-switch>
		        	<md-switch style=" width: 5px; text-align:center;" class="md-primary" aria-label="Profile" flex ng-model="dato.NF_ESTATUS" ng-true-value="'REALIZADA'" ng-false-value="'ACTIVO'" disabled ng-if="dato.NF_ESTATUS != 'SIGNOS VITALES' && dato.NF_ESTATUS != 'EN CONSULTA'">
		        	</md-switch>
		        </td>
		        <td style="padding: 0px 0px; margin: 0px 0px;" disabled>
		        	<md-switch class="md-primary" aria-label="Profile" md-no-ink ng-model="dato.NF_ESTATUS" ng-true-value="'REALIZADA'" ng-false-value="'ACTIVO'"  disabled ng-if="dato.NF_ESTATUS != 'EN CONSULTA'">
		        	</md-switch>
		        	<md-input-container style="width: 80px;"class="form-item form-item-right" ng-if="dato.NF_ESTATUS == 'EN CONSULTA'">
						<label>ESTATUS</label>
						<input name="CF_DESCRIPCION" value="PENDIENTE" disabled>
					</md-input-container>
		        </td>
		        <td style="padding: 0px 0px; margin: 0px 0px; text-align:center;" ng-if="isNotaMedica">
				    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedica(dato)" ng-if="isToday(dato)">
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      	<td style="padding: 0px 0px; margin: 0px 0px;" ng-if="!isNotaMedica">
				    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirHistoriaClinica(dato)" ng-if="isToday(dato)">
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      	<td style="padding: 0px 5Spx; margin: 0px 0px;" >{{dato.C_OBSERVACIONES}}</td>
		      </tr>

		    </tbody>

		  </table>

		</md-data-table-container>
		<mensaje-datos ng-if="existCitas" mensaje="'NO EXISTEN CITAS'"></mensaje-datos>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange" class="quitarIconColor"></md-data-table-pagination>
	</md-card-content>
</md-card>
