<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>
 	<md-card-content>
		<form ng-submit="checkEstudio(N_NOTA_MEDICA)">
			<md-input-container flex class="form-item form-item-right">
	          <label>INGRESA FOLIO DE NOTA MÉDICA</label>
	          <input name="" ng-model="N_NOTA_MEDICA" required>
	        </md-input-container>
	        <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" name="btnBuscar" ng-disabled="holding">BUSCAR</md-button>
	      	</div>
	    </form>

	    <section layout="" layout-sm="column" layout-wrap layout-wrap ng-show="existEstudios">
	    	<md-input-container flex class="form-item form-item-right">
		        <label>NOMBRE</label>
		        <input name="C_NOMBRE" ng-model="paciente.nombreCompleto"  capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>ID</label>
		        <input maxlength="50" name="NP_ID" ng-model="paciente.NP_ID" capitalize disabled>
		    </md-input-container>
		</section>
		<section layout="" layout-sm="column" layout-wrap layout-wrap ng-show="existEstudios">
		    <md-input-container flex class="form-item form-item-right">
			    <label>EXPEDIENTE</label>
		        <input maxlength="20" name="idExpediente" ng-model="paciente.NP_EXPEDIENTE_SIU" capitalize disabled>
		    </md-input-container>

		    <md-input-container flex class="form-item form-item-right">
		        <label>FECHA DE NACIMIENTO</label>
		        <input maxlength="50" name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>ESTADO CIVIL</label>
		        <input maxlength="50" name="NF_ESTADO_CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" capitalize disabled>
		    </md-input-container>
		</section>
		<section layout="" layout-sm="column" layout-wrap layout-wrap ng-show="existEstudios">
		    <md-input-container flex class="form-item form-item-right">
		        <label>EDAD</label>
		        <input maxlength="50" name="N_EDAD" ng-model="paciente.N_EDAD" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>GÉNERO</label>
		        <input maxlength="50" name="NF_SEXO" ng-model="paciente.NF_SEXO" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>CURP</label>
		        <input maxlength="50" name="C_CURP" ng-model="paciente.C_CURP" capitalize disabled>
		    </md-input-container>
		</section>

	    <md-data-table-container ng-show="estudiosSolicitados.length>0">
		  <table md-data-table>
		    <thead>
		      <tr>
		      	<th name=""></th>
		        <th name="ESTUDIO SOLICITADO"></th>
		        <th name="MOTIVO SOLICITUD"></th>
		        <th name="ELIMINAR"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr  md-auto-select ng-repeat="estudio in estudiosSolicitados | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		        <td>{{$index + 1}}</td>
		        <td>{{estudio.C_DESCRIPCION}}</td>
		        <td>{{estudio.C_MOTIVO_SOLICITUD}}</td>
		        <td>
		        	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="deleteEstudioSolicitado(estudio)" ng-if="canDo">
			        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
			    	</md-button>
		        </td>
		      </tr>
		    </tbody>
		  </table>

		</md-data-table-container>
		<div ng-if="!existEstudios && !first"><H1> NO EXISTEN ESTUDIOS ASOCIADOS A LA NOTA MÉDICA INGRESADA</H1></div>
			<md-data-table-pagination ng-show="estudiosSolicitados.length>0" md-limit="query.limit" md-page="query.page" md-total="{{estudiosSolicitados.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
			<div layout="row" layout-align="end center" ng-show="existEstudios && canDo">
		      	<md-button class="md-raised md-primary" type="button" name="btnAdd" ng-click="addEstudio()">AGREGAR NUEVOS ESTUDIOS</md-button>
	      	</div>
	      	<div ng-show = "isNewEstudio">
	      		<section layout="" layout-sm="column" layout-wrap>
	      		<md-autocomplete
	      		  md-no-cache="true"
		          md-selected-item="selectedItem"
		          md-search-text-change="searchTextChange(searchText)"
		          md-search-text="searchText"
		          md-selected-item-change="selectedItemChange(item,0)"
		          md-items="item in querySearch(searchText)"
		          md-item-text="item.cDescripcion"
		          md-min-length="3"
		          md-floating-label="CATÁLOGO DE ESTUDIO Y GABINETE"
		          flex
		          >
		        	<md-item-template >
		          		<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.cDescripcion}} - $ {{item.dCosto}}</span>
		        	</md-item-template>
		      	</md-autocomplete>
	      	</section>
			<md-data-table-container ng-if="isNewEstudio">
			  	<table md-data-table>
			    	<thead>
			      		<tr>
			      			<th name="NUEVOS ESTUDIO(S) SELECCIONADO(S)"></th>
			        		<th name="ELIMINAR"></th>
			        		<th name="MOTIVOS"></th>
			      		</tr>
			    	</thead>
			    	<tbody>
			      	<tr md-auto-select ng-repeat="datoEstudio in datosEstudios | orderBy: query.order
				                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
			        	<td>{{datoEstudio.cDescripcion}} - ${{datoEstudio.dCosto}}</td>
			        	<td>
					    	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="deleteSolicitudEstudio($event, datoEstudio)">
					        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
					    	</md-button>
			      		</td>
			      		<td>
			      			<md-input-container flex class="form-item form-item-right">
						        <label>MOTIVOS</label>
						        <textarea name="C_MOTIVO_SOLICITUD" ng-model="datoEstudio.C_MOTIVO_SOLICITUD" maxlength="500" md-maxlength="500"/>
						    </md-input-container>
			      		</td>
			      	</tr>
			    	</tbody>
			  	</table>
			</md-data-table-container>
			<div layout="row" layout-align="end center" ng-show="existEstudios">
		      	<md-button class="md-raised md-primary" type="button" name="btnAdd" ng-click="saveEstudios()">GUARDAR NUEVOS ESTUDIOS</md-button>
	      	</div>
      	</div>
	</md-card-content>
</md-card>
