<!-- Version al 05/01/2016 02.27 -->
<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

 	<md-card-content>
		<form name="registraForm" ng-submit="registraResultados()" ng-init="inicializaPagina()">
			<md-radio-group ng-model="tipo" ng-click="limpiar()" layout="row">
		      <md-radio-button value="RECETA" class="md-primary">RECETA </md-radio-button>
		      <md-radio-button value="NOTA MEDICA" class="md-primary"> NOTA MEDICA </md-radio-button>
		    </md-radio-group>

			<md-input-container flex class="form-item form-item-right">
	          <label>FOLIO DE {{tipo}}</label>
	          <input name="" ng-model="C_FOLIO_RECETA" required>
	        </md-input-container>

	        <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="button" name="btnBuscar" ng-click="opcion(C_FOLIO_RECETA)"> <!--ng-show="registraForm.btnBuscar.$dirty && showBtnBuscar"-->BUSCAR</md-button>
	      	</div>
	      	<BR>

	      	<div ng-if="isEditable" layout-align="center center">
	      		<div ng-if="esReceta">
		      		<label class="md-title"><center>INFORMACIÓN DE LA RECETA</center></label>
		      		<md-data-table-container>
	                    <table md-data-table border="1">
	                      	<thead>
	                      		<td ng-style="{'text-align':'center', 'font-weight': 'bold'}">NOMBRE GENÉRICO, FORMA FARMACÉUTICA Y CONCENTRACIÓN</td>
	                      		<td ng-style="{'text-align':'center', 'font-weight': 'bold'}">INDICACIONES</td>
	                      		<td ng-style="{'text-align':'center', 'font-weight': 'bold'}">DÍAS </td>
	                      		<td ng-style="{'text-align':'center', 'font-weight': 'bold'}">SAEC</td>
	                      		<td ng-style="{'text-align':'center', 'font-weight': 'bold'}">MESES</td>
	                      	</thead>

	                      	<tbody>
	                      		<tr ng-repeat="item in receta.MEDICAMENTOS">

	                      			<td >{{item.C_NOMBRE_MEDICAMENTO}}</td>
	                      			<td>{{item.C_INDICACIONES}}</td>
	                      			<td ng-style="{'text-align':'center'}">{{item.N_DIAS}}</td>
	                      			<td ng-style="{'text-align':'center'}" >{{parseSAEC(item.N_SAEC)}}</td>
	                      			<td ng-style="{'text-align':'center'}">{{item.N_MESES}}</td>
	                      		</tr>

	                      	</tbody>
	                    </table>
	                </md-data-table-container>

	                <BR>
	                <md-input-container  class="form-item">
	                	<label>MOTIVO DE LA CANCELACION</label>
	  					<input ng-model="receta.C_MOTIVO_CANCELACION" md-maxlength="100" maxlength="100" columns="1" rows="1" required capitalize aria-label="MOTIVO DE LA CANCELACIÓN" ng-disabled="cancelar">
					</md-input-container>
				</div>

			

				<div layout="row" layout-align="end center">
					<md-button class="md-raised md-primary" type="button" ng-click="showIndicacionTerapeutica($event)" ng-disabled="cancelar">CANCELAR RECETA</md-button>

					<div hide-gt-sm layout="row" layout-align="center center" flex="100">
				    	<md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
				    </div>
				</div>
				
				<div ng-if="nuevaIndicacion">
					<BR>
						<!-- <indicacion-terapeutica guarda-indicacion-terapeutica="guardaNotaMedica()" es-urgencias="true" label-button="FINALIZAR" id-nota="{{C_FOLIO_RECETA}}"></indicacion-terapeutica> -->
						<!-- <indicacion-terapeutica guarda-indicacion-terapeutica="guardaNotaMedica()" anterior="hidenIndicacionTerapeutica($event)"  label-button="FINALIZAR" label-button-back="CANCELAR" id-nota="{{C_FOLIO_RECETA}}"></indicacion-terapeutica> -->

						<indicacion-terapeutica guarda-indicacion-terapeutica="guardaNotaMedica()" es-cancelar="true" anterior="hidenIndicacionTerapeutica($event)" es-urgencias="{{isUrgencias}}"  es-hosp="{{isHospitalizacion}}" label-button="FINALIZAR" label-button-back="CANCELAR" id-nota="{{C_FOLIO_RECETA}}"></indicacion-terapeutica>
			      	<!-- <div>


				    	<div layout="row" layout-align="end center">
				    		<md-button class="md-raised md-warn" type="button" ng-click="hidenIndicacionTerapeutica($event)">CANCELAR CAPTURA DE RECETA</md-button>
						</div>
			      	</div> -->
				</div>
				<div ng-if="!nuevaIndicacion && generaReceta">
					<BR>
						<indicacion-terapeutica guarda-indicacion-terapeutica="guardaNotaMedica()" es-cancelar="true" anterior="hidenIndicacionTerapeutica($event)" es-urgencias="{{isUrgencias}}" es-hosp="{{isHospitalizacion}}" label-button="FINALIZAR" label-button-back="CANCELAR"></indicacion-terapeutica>

						
				</div>
	    	</div>
		</form>

 	</md-card-content>
</md-card>
