<md-card layout-wrap class="md-whiteframe-6dp" ng-init="getUltimaNotaMedica()">
  	<card-toolbar  canreturn="true"></card-toolbar>
  	<md-card-content >

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    	<md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.REFERENCIA[3].C_VALOR" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.REFERENCIA[1].C_VALOR" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.REFERENCIA[4].C_VALOR" readonly capitalize>
        </md-input-container>
	</section>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.REFERENCIA[0].C_VALOR" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.REFERENCIA[6].C_VALOR" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>GÉNERO</label>
            <input ng-model="datos.REFERENCIA[5].C_VALOR" readonly capitalize>
        </md-input-container>
	</section>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    	<md-input-container  class="form-item" flex="30">
            <label>FOLIO DE LA ÚLTIMA NOTA MÉDICA</label>
            <input ng-model="datos.notamedica" readonly capitalize>
        </md-input-container>
	</section>






		<div class="md-whiteframe-5dp">
			<md-content class="md-padding">
				<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
					<!-- Tab de RESUMEN DEL INTERROGATORIO-->
					<md-tab label="DIAGNÓSTICO DEFINITIVO">
    					<md-divider>DIAGNÓSTICO PRINCIPAL</md-divider>
    <!-- 					 <section layout="" layout-sm="column">
				      		<md-autocomplete
				      		   	md-no-cache="true"
						          md-selected-item=""
						          md-search-text-change="searchTextChange(searchDiagnostico1)"
						          md-search-text="searchDiagnostico1"
						          md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
						          md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
						          md-item-text="itemDiagnostico1.C_DESCRIPCION"
						          md-min-length="3"
						          md-floating-label="ESCRIBA EL NOMBRE DE LA ENFERMEDAD (CIE 10)"
						          required
						          flex
					          >
					        	<md-item-template capitalize>
					          		<span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemDiagnostico1.C_DESCRIPCION}}</span>
					        	</md-item-template>
					      	</md-autocomplete>
				      	</section> -->
				      	<section layout="" layout-sm="column">
				      		<md-input-container flex >
				      			<label>ENFERMEDAD SELECCIONADA</label>

				      			<input ng-model="datos.REFERENCIA[2].C_VALOR" ng-disabled="true"/>
				      		</md-input-container>
				      	</section>
				      	<br><br>
	    				<md-divider>DIAGNÓSTICO SECUNDARIO</md-divider>
	    				<md-data-table-container>
						  	<table md-data-table>
						    	<thead>
						      		<tr>
						      			<th name="CATÁLOGO"></th>
						      		</tr>
						    	</thead>
						    	<tbody>
						      	<tr md-auto-select ng-repeat="enf in datos.DIAGNOSTICO_SECUNDARIO | orderBy: query.order
							                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
						        	<td>{{enf}}</td>
						      	</tr>
						    	</tbody>
						  	</table>
						</md-data-table-container>
    					<div layout="row" layout-align="end center">
				      		<md-button class="md-raised md-primary" ng-click="siguiente(1)" >SIGUIENTE</md-button>
				      	</div>
    				</md-tab>

					<md-tab label="TRATAMIENTO ESTABLECIDO">
						<form id="myForm" name="myForm">
							<div  ng-repeat="medicamento in selectedMedicamentos | orderBy:'$index':true">
								<fieldset class="standard" style="color: rgba(0,0,0,.87);">
									<div layout="row">
										<div flex>
											<md-input-container><label>NOMBRE GENERICO</label><input value="{{medicamento.C_NOMBRE_MEDICAMENTO}}" type="text" ng-disabled="true"></md-input-container>
										</div>
										<div flex>
											<md-input-container><label>FORMA FARMACEUTICA</label><input value="{{medicamento.C_FORMA}}" type="text" ng-disabled="true"></md-input-container>
										</div>
									</div>
									<div layout="row">
										<div flex>
											<md-input-container>
												<label>INDICACIONES</label>
												<textarea ng-model="medicamento.C_INDICACIONES" required readonly capitalize></textarea>
											</md-input-container>
										</div>
									</div>
									<div layout="row">
										<div flex="25"><md-input-container><label>DIAS</label><input type="text" required ng-model="medicamento.N_DIAS" readonly/></md-input-container></div>
										<!-- <div flex="25"><md-input-container><label>CANTIDAD</label><input ng-model="medicamento.cantidad" type="text"/></md-input-container></div> -->
										<div flex="25"><md-input-container><label>SAEC</label><input type="text" ng-disabled="true" ng-model="medicamento.N_SAEC"/></md-input-container></div>
										<div flex="25"><md-input-container><label>MESES</label><input type="text" ng-disabled="true" ng-model="medicamento.N_MESES"/></md-input-container></div>
										<div flex="25"><md-input-container><label>CANTIDAD</label><input type="text" ng-disabled="true" ng-model="medicamento.C_CANTIDAD"/></md-input-container></div>
									</div>

									<div layout="row" layout-wrap>
										<md-input-container ng-repeat="fechaSurtimiento in medicamento.fechasSurtimiento">
											<label>FECHA {{$index + 1}}</label>
											<input  ng-model="fechaSurtimiento" readonly="true" />
										</md-input-container>
									</div>
								</div>
							</fieldset>
						</form>
						<div layout="row" layout-align="end center">
				      		<md-button class="md-raised md-primary" ng-click="siguiente(2)" >SIGUIENTE</md-button>
				      	</div>
					</md-tab>

					<md-tab label="OBSERVACIONES Y RECOMENDACIONES">
						<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>


					    	<md-input-container  class="form-item" flex="30" style="min-height:100px; margin-top: 45px;">
					            <label>REQUIERE VALORACIÓN Y/O SEGUIMIENTO</label>
					            <!-- <input ng-model="datos.OBSERVACIONES[1].C_VALOR" capitalize> -->
					            <textarea ng-model="datos.OBSERVACIONES[1].C_VALOR" name="seguimiento" capitalize minlength="0" maxlength="90"  md-minlength="0" md-maxlength="90"></textarea>
					        </md-input-container>




					        <md-input-container  class="form-item" flex="30" style="min-height:100px; margin-top: 45px;">
					            <label>OBSERVACIONES Y RECOMENDACIONES</label>
					            <!-- <input ng-model="datos.OBSERVACIONES[3].C_VALOR" capitalize> -->
					            <textarea ng-model="datos.OBSERVACIONES[3].C_VALOR" name="observaciones" capitalize minlength="0" maxlength="90"  md-minlength="0" md-maxlength="90"></textarea>
					        </md-input-container>
					        <md-content flex="40">
								<h5>SE REQUIERE AGENDAR NUEVA CITA PARA:</h5>
								<md-datepicker ng-model="datos.OBSERVACIONES[4].C_VALOR" md-min-date="minDateAgenda" md-placeholder="DD/MM/AAAA"></md-datepicker>
							</md-content>
						</section>
						<md-divider>INCAPACIDAD</md-divider>
						<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
					    	<md-input-container  class="form-item" flex="30">
					            <label>FOLIO</label>
					            <input type="number" ng-model="datos.OBSERVACIONES[2].C_VALOR" >
					        </md-input-container>
					        <md-input-container  class="form-item" flex="30">
					            <label>NÚMERO DE DÍAS</label>
					            <input type="number" ng-model="datos.OBSERVACIONES[0].C_VALOR" >
					        </md-input-container>
						</section>
						<div style="margin: 0px auto;">
							<md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key">
				    		</md-file-input>
					    	<md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer">
					    	</md-file-input>
				      	</div>
				      	<div>
					  		<md-button class="md-raised md-primary" ng-click="enviar()" style="margin:0px auto; display: block;">ENVIAR</md-button>
					  	</div>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</md-card-content >
</md-card>
