<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="registra()" ng-init="obtenInformacion()">
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout >

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item form-item-right">
				          <label>NOMBRE DEL TRABAJADOR</label>
				          <input maxlength="50" name="C_NOMBREPACIENTE" ng-model="paciente.C_NOMBREPACIENTE" capitalize disabled>					          
				        </md-input-container>

				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>NO. DE PLAZA</label>
				          <input name="NP_PLAZA" ng-model="paciente.NP_PLAZA" disabled>
				        </md-input-container>	

				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>NO. DE EXPEDIENTE</label>
				          <input name="ID" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
				        </md-input-container>

						<md-input-container flex class="form-item form-item-right">
						    <label>UNIDAD DE ADSCRIPCIÓN</label>
						    <input name="C_ADSCRIPCION_DESC" ng-model="paciente.C_ADSCRIPCION_DESC" disabled>
						</md-input-container>
					</div>

					<div layout="row" flex layout layout-align="center center">
						<h1 class="md-title">TIPO DE INCAPACIDAD</h1>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						
						<div layout="row" layout-sm="column"  layout-padding layout-wrap>
							<md-radio-group ng-model="paciente.TIPO_INCAPACIDAD" id="TIPO_INCAPACIDAD">
				        		<div layout="row">
									<div><md-radio-button value="1" class="md-primary">INICIAL</md-radio-button></div>
					      			<div><md-radio-button value="2" class="md-primary">SUBSECUENTE</md-radio-button></div>
					      			<div><md-radio-button value="3" class="md-primary">PRENATAL</md-radio-button></div>
					      			<div><md-radio-button value="4" class="md-primary">POSTNATAL</md-radio-button></div>
					      			<div><md-radio-button value="5" class="md-primary">POR HIJO ENFERMO</md-radio-button></div>
					      		</div>	
				      		</md-radio-group>
						</div>

						<div layout="row" layout-sm="column"  layout-padding layout-wrap ng-if="paciente.TIPO_INCAPACIDAD == 3 || paciente.TIPO_INCAPACIDAD == 4">
						    <label>FECHA DE NACIMIENTO</label>
						    <md-datepicker id="F_NACIMIENTO" ng-model="paciente.F_NACIMIENTO"  required></md-datepicker>
						</div>

						<div layout="row" layout-sm="column"  layout-padding layout-wrap>
							<md-radio-group ng-model="paciente.TIPO_INCAPACIDAD_COMP" id="TIPO_INCAPACIDAD_COMP">
				        		<div layout="row">
									<div><md-radio-button value="7" class="md-primary">C. EXTERNA</md-radio-button></div>
					      			<div><md-radio-button value="6" class="md-primary">HOSPITALIZACIÓN</md-radio-button></div>
					      			<div><md-radio-button value="8" class="md-primary">URGENCIAS</md-radio-button></div>
					      		</div>	
				      		</md-radio-group>

							<!--label>TIPO DE INCAPACIDAD</label>
							<md-select ng-model="paciente.TIPO_INCAPACIDAD_COMP" id="TIPO_INCAPACIDAD_COMP" aria-label="TIPO DE INCAPACIDAD">
						      <md-option ng-value="lm.ID" ng-repeat="lm in catTipoIncapacidad">{{lm.cDescripcion}}</md-option>
						    </md-select-->
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex="15">
						    <label>DÍAS DE INCAPACIDAD</label>
						    <input id="N_DIAS_INCAPACIDAD" ng-model="paciente.N_DIAS_INCAPACIDAD" required ng-change="dias()" ng-pattern="/^([1-9][0-9]{0,2})$/" aria-label="csds">
						</md-input-container>					

						<md-input-container layout-margin>
						    <label>DÍAS DE INCAPACIDAD CON LETRA</label>
						    <input id="C_DIAS_INCAPACIDAD" ng-model="paciente.C_DIAS_INCAPACIDAD" DISABLED>
						</md-input-container>	

						<div>
						    <label>FECHA DE EXPEDICIÓN</label>
						    <md-datepicker id="F_EXPEDICION" ng-model="paciente.F_EXPEDICION" disabled></md-datepicker>
						</div>

						<div>
						    <label>A PARTIR DE</label>
						    <md-datepicker id="F_APARTIR_DE" ng-model="paciente.F_APARTIR_DE" md-max-date="F_ACTUAL" md-min-date="F_INFERIOR" required></md-datepicker>
						</div>
								  	
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" flex>
						<md-input-container flex class="form-item">
				          	<label>DIAGNOSTICO</label>
				          	<textarea name="C_DIAGNOSTICO_MEDICO" ng-model="paciente.C_DIAGNOSTICO_MEDICO" columns="7" maxlength="100" md-maxlength="100" required aria-label="DIAGNOSTICO" disabled></textarea>
				        </md-input-container>
					</div>
				</div>	
			</md-whiteframe>

			<BR><BR><BR>					
			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<md-input-container flex class="form-item form-item-right">
			        <label>NOMBRE DEL MEDICO</label>
			        <input name="NOMBRE_MEDICO" ng-model="medico.NOMBRE_COMPLETO" disabled>			        
			    </md-input-container>

			    <md-input-container flex class="form-item form-item-right">
			        <label>CEDULA</label>
			        <input name="CEDULA" ng-model="medico.CEDULA" disabled>			        
			    </md-input-container>

			    <md-input-container flex class="form-item form-item-right">
			        <label>ID MEDICO</label>
			        <input name="ID" ng-model="medico.NP_EXPEDIENTE" disabled>			        
			    </md-input-container>
			</md-whiteframe>


			<div layout="row" layout layout-align="center center">
                <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" ng-disabled="isConsulta">
                    </md-file-input>
                </section>

                <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer" ng-disabled="isConsulta">
                    </md-file-input>
                </section>
            </div>

			<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="btnRegistro">REGISTRAR</md-button>
		      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
	      	</div>

			<BR>
		</form>	
	</md-card-content>
</md-card>	
