
<!--
<form>
<md-input-container>
<label>INGRESAR NOMBRE DEL MEDICO</label>
<input type="text" />
</md-input-container>
<div class="row" layout-align="end center">
<span flex></span>
<md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
</div>
</form>
-->

<md-content md-theme="docs-dark" layout-padding=""  layout="row" layout-sm="column">
	<span flex></span><h4>TRATAMIENTO FARMACOLÓGICO</h4><span flex></span>
</md-content>
<br>

<div  ng-show="permissions">
	<md-content>

		<div layout="row">
			<md-autocomplete id="ajajs"
			md-no-cache="true"
			md-selected-item=""
			md-search-text-change=""

			md-search-text="medicamentoText"
			md-selected-item-change="selectedItemChangeM(medicamento)"
			md-items="medicamento in querySearchM(medicamentoText)"
			md-item-text="medicamento.NP_MEDICAMENTO"
			md-min-length="3"
			placeholder="POR FAVOR INGRESA EL NOMBRE DEL MEDICAMENTO" flex>
				<md-item-template>
					<span md-highlight-text="medicamentoText" md-highlight-flags="^i">{{medicamento.NP_MEDICAMENTO}}</span>
				</md-item-template>

			</md-autocomplete>

			<md-button class="md-raised md-primary" ng-disabled="statusRegistro" ng-click="addMedicamento()">
				AGREGAR
			</md-button>
		</div>

		<form id="myForm" name="myForm" ng-submit="finalizar()">

			<div  ng-repeat="medicamento in selectedMedicamentos track by $index ">
				<div layout="row">
					<div flex><md-input-container><label>NOMBRE GENÉRICO</label><input value="{{medicamento.NP_MEDICAMENTO}}" type="text" ng-disabled="true"></md-input-container></div>

					<div flex>
						<md-input-container>
							<label>FORMA FARMACÉUTICA</label>
							<md-select ng-model="medicamento.selected" md-on-open="cambiarStatus(medicamento, $index, idNota)" md-on-close="changeMedicamento(medicamento, $index, idNota)" required>
								<md-option ng-repeat="forma in medicamento.DOSIS" ng-value="forma" ng-disabled="forma.NF_ESTATUS !== 'ACTIVO'">
									{{forma.DESCRIPCION}} - {{forma.NF_ESTATUS}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<md-button class="md-fab md-mini" type="button" ng-disabled="!medicamento.selected" style="margin-top: 13px !important;" ng-click="help(medicamento)"  aria-label="Ayuda">
						<md-icon md-svg-src="images/icons/svg/white/ic_help_outline_white_24px.svg"></md-icon>
					</md-button>
					<md-button class="close-button" type="button" ng-click="removeMedicamento(medicamento)" flex>ELIMINAR</md-button>

				</div>
				<div layout="row">
					<div flex>
						<md-input-container>
							<label>INDICACIONES</label>
							<textarea ng-model="medicamento.indicaciones" ng-change="saveMedicamentosTemporal(C_PLAN,C_TRATAMIENTO)" md-maxlength="250" maxlength="250" ng-disabled="!medicamento.selected" required capitalize></textarea>
						</md-input-container>
					</div>
				</div>


				<div layout="row" flex="noshrink">
					<md-input-container flex>
						<label>DIAS</label>
						
						<input  ng-disabled="!medicamento.selected" type="number" min="{{minDays}}" max="{{medicamento.max}}"  required ng-change="calculate(medicamento)" ng-model="medicamento.dias"/>
					</md-input-container> <!--max="{{medicamento.max}}"-->
					<md-input-container ng-if="false" flex>
						<label>CANTIDAD</label>
						<input ng-model="medicamento.cantidad" type="text"/>
					</md-input-container>
					<md-input-container flex>
						<label>SAEC</label>
						<input type="text" ng-disabled="true" ng-model="medicamento.saec"/>
					</md-input-container>
					<md-input-container flex>
						<label>MESES</label>
						<input type="text" ng-disabled="true" ng-model="medicamento.meses"/>
					</md-input-container>
					<md-input-container ng-show="false" flex>
						<label>validar</label>
						<input type="text" ng-disabled="true" ng-model="medicamento.validar"/>
					</md-input-container>
				</div>

				<div layout="row" layout-wrap>
					<md-input-container ng-repeat="fechaSurtimiento in medicamento.fechasSurtimiento">
						<label>FECHA {{$index + 1}}</label>
						<input  ng-model="fechaSurtimiento" readonly="true" />
					</md-input-container>
				</div>
			</div>
			<br>
			<div class="md-whiteframe-4dp">

				<md-content>
					<md-input-container>
						<label>TRATAMIENTO NO FARMACOLÓGICO</label>
						<textarea ng-change="saveMedicamentosTemporal(C_PLAN,C_TRATAMIENTO)"  ng-model="C_TRATAMIENTO" md-maxlength="2400" maxlength="2400" required capitalize></textarea>
					</md-input-container>

				</md-content>
			</div>
			<br>
			<section layout="" layout-sm="column" ><!--ng-show="esUrgencias == 'true'"-->
				<md-input-container flex class="form-item form-item-right">
						<label>PLAN</label>
						<textarea ng-change="saveMedicamentosTemporal(C_PLAN,C_TRATAMIENTO)" md-maxlength="500" maxlength="500" name="C_PLAN" ng-model="C_PLAN"/>
				</md-input-container>
			</section>


			<section layout="" layout-sm="column" layout-align="center center" ng-show="permissionsForSigning">
				<section layout="" layout-sm="column" layout-align="center">
					<md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key">
					</md-file-input>
				</section>
				<section layout="" layout-sm="column" layout-align="center">
					<md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer">
					</md-file-input>
				</section>
			</section>


			<div class="md-whiteframe-4dp">

				<md-content>
					   <div layout="row" layout-sm="column" layout-align="space-around">
      						<md-progress-circular md-mode="indeterminate"  ng-if="deshabilitaBtnFinalizar"></md-progress-circular>
    					</div>

					<div layout="row" layout-align="center center">
						<div >
							<md-button type="button" ng-click="anterior()" class="md-raised md-warn">{{labelButtonBack}}</md-button>
						</div>
						<div >
							<md-button type="submit" ng-disabled="myForm.$invalid || deshabilitaBtnFinalizar" class="md-raised md-primary">{{labelButton}}</md-button>
						</div>
					</div>
				</md-content>
			</div>

		</form>
	</md-content>
</div>
<div ng-if="permissions == false">
	<md-content>
		<md-toolbar class="md-tall md-warn">
			<h1 style="text-align: center;">
				<span>NO TIENE PERMISOS PARA GENERAR RECETA MEDICA</span>
			</h1>
		</md-toolbar>
	</md-content>
	<div class="md-whiteframe-4dp">

		<md-content>
			<div layout="row" layout-align="end end">
				<div flex>
					<md-button type="button" ng-click="anterior()" class="md-raised md-warn">{{labelButtonBack}}</md-button>
				</div>
				<div flex>
					<md-button type="button" ng-click="siguiente()" class="md-raised md-primary">{{labelButton}}</md-button>
				</div>
			</div>
		</md-content>
	</div>
</div>
