<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content >
      	<form name="notaForm" ng-submit="notaForm.$valid && comenzarCita()" ng-init="cargarDatos()">
      		<div layout="column" layout-wrap>
			  	<div flex layout="row" layout-sm="column">
			    	<div flex="20" style="overflow: hidden">				    	
						<img src="{{ruta}}" WIDTH="80%" HEIGHT="80%" border="2"> 
					</div>

			    	<div flex layout="column">
			    		
				    	<div flex layout="row"  layout-wrap>
				    		<md-input-container flex class="form-item form-item-right">
						        <label>FECHA</label>
						        <input name="fecha" ng-model="consulta.fecha" disabled>
						    </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
				            	<label>HORA</label>
						        <input name="hora" ng-model="consulta.hora" disabled>
						    </md-input-container>
				    	</div>
			    	

				    	<div flex layout="row"  layout-wrap>
				    		<md-input-container flex class="form-item form-item-right">
						        <label>NOMBRE</label>
						        <input name="C_NOMBRE" ng-model="paciente.nombreCompleto"  capitalize disabled>
						    </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
						        <label>ID</label>
						        <input name="NP_ID" ng-model="paciente.NP_ID" capitalize disabled>
						    </md-input-container>	
				    	</div>

				    	<div flex layout="row"  layout-wrap>
				    		<md-input-container flex class="form-item form-item-right">
							    <label>EXPEDIENTE</label>
						        <input name="idExpediente" ng-model="paciente.NP_EXPEDIENTE_SIU" capitalize disabled>
						    </md-input-container>

						    <md-input-container flex class="form-item form-item-right">
						        <label>FECHA DE NACIMIENTO</label>
						        <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize disabled>
						    </md-input-container>

						    <md-input-container flex class="form-item form-item-right">
						        <label>ESTADO CIVIL</label>
						        <input name="NF_ESTADO_CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" capitalize disabled>
						    </md-input-container>
				    	</div>
				  	</div>
			  	</div>	

			  	<div flex layout="row" layout-sm="column">
			  		<md-input-container flex class="form-item form-item-right">
				        <label>SERVICIO</label>
				        <input  name="SERVICIO" ng-model="paciente.SERVICIO" capitalize disabled>
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isInterconsulta || isTriage || isEvolutiva">
				        <label>NO. DE CAMA</label>
				        <input  name="C_CAMA" ng-model="C_CAMA" capitalize disabled>
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right">
				        <label>TIPO DE CONSULTA</label>
				        <input name="NP_ID" ng-model="tituloNota" capitalize disabled>
				    </md-input-container>
				</div>	

			  	<div flex layout="row" layout-sm="column">    

				    <md-input-container flex class="form-item form-item-right">
				        <label>EDAD</label>
				        <input  name="N_EDAD" ng-model="paciente.N_EDAD" capitalize disabled>
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right">
				        <label>GÉNERO</label>
				        <input name="NF_SEXO" ng-model="paciente.NF_SEXO" capitalize disabled>
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right">
				        <label>CURP</label>
				        <input  name="C_CURP" ng-model="paciente.C_CURP" capitalize disabled>
				    </md-input-container>	
				</div>				  			  
			</div>
      		
			<section layout="" layout-sm="column" layout-wrap layout-align="center center">
			   	<label class="form-item" layout-align="center center">{{tituloNota}}</label>
		    </section>
		    <BR>

		    <section layout="" layout-sm="column" layout-wrap ng-show="false"> <!-- ng-show="!isBegin" -->
			  	<md-input-container flex class="form-item form-item-right">
			        <label>ID DEL PACIENTE</label>
			        <input  name="NP_ID_C" ng-model="paciente.NP_ID_C"  required>
			    </md-input-container>
		    </section>

	      	<section layout="" layout-sm="column" layout-wrap layout-align="center center" ng-show="!isBegin && !canStart">
	      		<md-button class="md-raised md-primary" ng-click="noSePresento = false" type="submit" ng-disabled="!notaForm.$valid">COMENZAR</md-button>
	      		<!--<md-button class="md-raised md-primary" type="button" ng-click="terminar()" ng-show="isBegin">TERMINAR</md-button-->
	      		<!--md-button class="md-warn md-raised md-hue-2" ng-click="noSePresento = true" type="submit">NO SE PRESENTO</md-button-->
	      	</section>
	      	
	      	<section layout="" layout-sm="column" layout-wrap ng-if="hasMedicinaLegal">
			    <div layout="row" layout-align="end center">
			    	<md-button class="md-raised md-primary" type="button" ng-click="medicinaLegal()" ng-disabled="!isMedicinaLegal">MEDICINA LEGAL</md-button>
				</div>
			</section>
			<br>
	  	</form>
	  	<!--div class="md-whiteframe-5dp" ng-show="isBegin"-->
  			<md-content class="md-padding" ng-show="isBegin">
    			<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
    				<!-- Tab de DIAGNÓSTICO DE INGRESO-->
    				<md-tab label="DIAGNÓSTICO DE INGRESO" ng-if="isEvolucionAlta"> <!-- RECUPERAR DE LA NOTA DE INGRESO-->
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">DIAGNÓSTICO DE INGRESO</h1>
						</div>
    					<md-input-container flex class="form-item form-item-right">
						    <label>DESCRIPCIÓN</label>
						    <input maxlength="500" md-maxlength="500"name="C_DIAGNOSTICO_INGRESO" ng-model="C_DIAGNOSTICO_INGRESO" disabled>
						</md-input-container>
    					<div layout="row" layout-align="end center">
				      		<md-button class="md-raised md-primary" ng-click="siguiente(-1)">SIGUIENTE</md-button>
				      	</div>
    				</md-tab>
    				<!-- Tab de RESUMEN DEL INTERROGATORIO-->
    				<md-tab label="RESUMEN DEL INTERROGATORIO" id="resumenTab">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">RESUMEN DEL INTERROGATORIO</h1>
						</div>
    					<div ng-show="!permisos[1].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center" ng-if="isEvolucionAlta">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[1].read">
    						<md-input-container flex class="form-item form-item-right">
							    <label>*MOTIVO DE LA CONSULTA</label>
							    <textarea maxlength="2000" md-maxlength="2000"name="C_MOTIVO_CONSULTA" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_MOTIVO_DE_CONSULTA" />
							</md-input-container>
							<md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isTriage">
							    <label>*RESUMEN DEL INTERROGATORIO</label>
							    <textarea maxlength="2000" md-maxlength="2000"name="C_ANAMNESIS" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_ANAMNESIS" />
							</md-input-container>
	    					<md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
							    <label>RESUMEN DEL INTERROGATORIO</label>
							    <textarea maxlength="2000" md-maxlength="2000"name="C_ANAMNESIS" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_ANAMNESIS" />
							</md-input-container>
							<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center" ng-if="isEvolucionAlta">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(0)">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    				</md-tab>
    				<!-- Tab de EXPLORACIÓN FÍSICA-->
    				<md-tab label="EXPLORACIÓN FÍSICA" ng-disabled="activeSelected < 1">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">EXPLORACIÓN FÍSICA</h1>
						</div>
						<div ng-show="!permisos[2].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[2].read">
    						<md-divider>SIGNOS VITALES</md-divider>
		    				<section layout="" layout-sm="column" layout-wrap>
		    					<label class="form-item">TENSIÓN ARTERIAL {{signosAnteriores}}</label>
		    				</section>
			    			<section layout="" layout-sm="column" layout-wrap>
			    				<md-input-container flex class="form-item form-item-right">
							        <label>SISTÓLICA (mm de Hg)</label>
							        <input maxlength="3" name="SISTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_SISTOLICA" >
							    </md-input-container>
			    				<md-input-container flex class="form-item form-item-right">
							        <label>DIASTÓLICA (mm de Hg)</label>
							        <input maxlength="3" name="DIASTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_DIASTOLICA" >
							    </md-input-container>
			    		
			    				<md-input-container flex class="form-item form-item-right">
							        <label>FRECUENCIA CARDIACA (lpm)</label>
							        <input maxlength="3" name="CARDIACA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_CARDIACA" >
							    </md-input-container>
							    <md-input-container flex class="form-item form-item-right">
							        <label>FRECUENCIA RESPIRATORIA (rpm)</label>
							        <input maxlength="3" name="RESPIRATORIA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_RESPIRATORIA" >
							    </md-input-container>
			    			</section>
			    			<section layout="" layout-sm="column" layout-wrap>
			    				<md-input-container flex class="form-item form-item-right">
							        <label>TEMPERATURA (°C)</label>
							        <input name="TEMPERATURA" ng-model="nuevo.EXPLORACION_FSC.N_TEMPERATURA"  ng-pattern="/^[0-9]{2}(\.\d{0,2}){0,3}$/">
							    </md-input-container>
							    <md-input-container flex class="form-item form-item-right">
							        <label>PESO (KG)</label>
							        <input name="PESO" ng-model="nuevo.EXPLORACION_FSC.N_PESO"  ng-pattern="/^[0-9]{1,3}(\.\d{0,3}){0,3}$/" ng-change="calcularIMC()">
							    </md-input-container>
							    <md-input-container flex class="form-item form-item-right">
							        <label>TALLA (MTS)</label>
							        <input name="TALLA" ng-model="nuevo.EXPLORACION_FSC.N_TALLA"  ng-pattern="/^[0-2](\.[0-9]{0,2}){0,1}$/" ng-change="calcularIMC()">
							     </md-input-container>
		    					<md-input-container flex class="form-item form-item-right">
							        <label>IMC</label>
							        <input name="N_IMC" ng-model="nuevo.EXPLORACION_FSC.N_IMC" disabled required>
							     </md-input-container>
							 </section>
							 <section layout="" layout-sm="column" layout-wrap>
							     <md-input-container flex="25" class="form-item form-item-right">
							        <label>CLASIFICACIÓN</label>
							        <input name="C_CLASIFICACION" ng-model="nuevo.EXPLORACION_FSC.C_CLASIFICACION" disabled required>
							     </md-input-container>
							     <md-input-container flex="25" class="form-item form-item-right">
							        <label>SATURACIÓN (%)</label>
							        <input name="N_SATURACION" ng-model="nuevo.EXPLORACION_FSC.N_SATURACION" required type="number">
							     </md-input-container>
								<md-input-container flex class="form-item form-item-right" ng-if="!editExploracion">
							        <label>OBSERVACIONES</label>
							        <textarea md-maxlength="500" name="C_OBS_ENFERMERIA" ng-model="nuevo.EXPLORACION_FSC.C_OBS_ENFERMERIA"  disabled/>
							    </md-input-container>
		    				</section>
	    					<md-divider>EXPLORACIÓN FÍSICA</md-divider>
						    <section layout="" layout-sm="column" layout-wrap>
						    	<md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isTriage">
							        <label>*EXPLORACIÓN FÍSICA</label>
							        <textarea md-maxlength="2000" maxlength="2000" name="EXPLORACION" ng-model="nuevo.EXPLORACION_FSC.EXPLORACION" />
							    </md-input-container>
		    					<md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
							        <label>EXPLORACIÓN FÍSICA</label>
							        <textarea md-maxlength="2000" maxlength="2000" name="EXPLORACION" ng-model="nuevo.EXPLORACION_FSC.EXPLORACION" />
							    </md-input-container>
		    				</section>
		    				<section layout="" layout-sm="column" layout-wrap ng-if="isIngreso || isInterconsulta || isEvolucionAlta || isTriage || isVerde || isEvolutiva">
		    					<md-input-container flex class="form-item form-item-right">
							        <label>*ESTADO MENTAL DEL PACIENTE</label>
							        <textarea md-maxlength="500" maxlength="500" name="C_ESTADO_MENTAL" ng-model="nuevo.EXPLORACION_FSC.C_ESTADO_MENTAL"/>
							    </md-input-container>
		    				</section>
		    				<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(1)">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    				</md-tab>
    				<!-- Tab de INTERPRETACIÓN DE ESTUDIOS LABORATORIO Y GABINETE -->
    				<md-tab label="INTERPRETACIÓN DE ESTUDIOS DE LABORATORIO Y GABINETE" ng-disabled="activeSelected < 2 && ableDLG != true">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">INTERPRETACIÓN DE ESTUDIOS DE LABORATORIO Y GABINETE</h1>
						</div>
						<div ng-show="!permisos[3].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[3].read">
							<md-divider ng-if="existAnteriores">RESULTADOS ACTUALES DE ESTUDIOS DE LABORATORIO Y GABINETE</md-divider>
							<md-data-table-container ng-if="existAnteriores">
							  	<table md-data-table>
							    	<thead>
							      		<tr>
							      			<th name="ESTUDIO(S) APLICADO(S)"></th>
							        		<th name="VER"></th>
							        		<th name="INTERPRETACIÓN"></th>
							      		</tr>
							    	</thead>
							    	<tbody>
							      	<tr md-auto-select ng-repeat="estudioAnterior in estudiosAnteriores | orderBy: query.order
								                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
							        	<td>{{estudioAnterior.C_DESCRIPCION}}</td>
							        	<td>
									    	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="">
									        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
									    	</md-button>
							      		</td>
							      		<td>
							      			<md-input-container flex class="form-item form-item-right">
										        <label>INTERPRETACIÓN</label>
										        <input md-maxlength="500" name="C_RESULTADO_SERVICIO" ng-model="estudioAnterior.C_RESULTADO_SERVICIO" >
										    </md-input-container>
										</td>

							      	</tr>
							    	</tbody>
							  	</table>
							</md-data-table-container>
							<md-input-container flex class="form-item form-item-right">
						        <label>INTERPRETACIÓN DE ESTUDIOS</label>
						        <textarea name="C_INTERPRETACION" ng-model="nuevo.C_INTERPRETACION" maxlength="500" md-maxlength="500"/>
						    </md-input-container>
	    					<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(2)">SIGUIENTE</md-button>
						      	</div>
						    </section>
						</div>
    				</md-tab>
    				<!-- Tab de DIAGNÓSTICO -->
    				<md-tab label="DIAGNÓSTICO" ng-disabled="activeSelected < 3 && tituloNota != 'NOTA MÉDICA INGRESO'">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">DIAGNÓSTICO</h1>
						</div>
						<div ng-show="!permisos[4].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[4].read">
	    					<md-divider>*DIAGNÓSTICO PRINCIPAL</md-divider>
	    					<section layout="" layout-sm="column" layout-wrap>
					      		<md-autocomplete
					      		  md-no-cache="true"
						          md-selected-item="selectedItemDiagnostico1"
						          md-search-text-change="searchTextChange(searchDiagnostico1)"
						          md-search-text="searchDiagnostico1"
						          md-selected-item-change="selectedItemChangeDiagnostico1(itemDiagnostico1)"
						          md-items="itemDiagnostico1 in querySearchDiagnostico1(searchDiagnostico1)"
						          md-item-text="itemDiagnostico1.C_DESCRIPCION"
						          md-min-length="1"
						          md-floating-label="ESCRIBA EL NOMBRE DE LA ENFERMEDAD (CIE 10)"
						          required
						          flex
						          >
						        	<md-item-template >
						          		<span md-highlight-text="searchDiagnostico1" md-highlight-flags="^i">{{itemDiagnostico1.C_CLAVE}} - {{itemDiagnostico1.C_DESCRIPCION}}</span>
						        	</md-item-template>
						      	</md-autocomplete>
					      	</section>
					      	<section layout="" layout-sm="column" layout-wrap ng-if="diagnosticoPrincipal">
					      		<md-input-container flex >
					      			<label>ENFERMEDAD SELECCIONADA</label>
					      			<input ng-model="diagnosticoPrincipal.C_DESCRIPCION" ng-disabled="true"/>
					      		</md-input-container>
					      		<md-switch ng-model="esPrimeraVez" ng-true-value="true" class="md-primary md-block" ng-disabled="true">PRIMERA VEZ DE PADECIMIENTO</md-switch>
						      	<md-switch ng-model="esPrimeraVez" ng-true-value="false" class="md-warn md-block" ng-disabled="true">SUBSECUENTE DE PADECIMIENTO</md-switch>
					      	</section>
		    				<md-divider>DIAGNÓSTICO SECUNDARIO</md-divider>
	    					<section layout="" layout-sm="column" layout-wrap>
					      		<md-autocomplete
					      		  md-no-cache="true"
						          md-selected-item=""
						          md-search-text-change="searchTextChange(searchDiagnostico2)"
						          md-search-text="searchDiagnostico2"
						          md-selected-item-change="selectedItemChangeDiagnostico2(itemDiagnostico2)"
						          md-items="itemDiagnostico2 in querySearchDiagnostico2(searchDiagnostico2)"
						          md-item-text="itemDiagnostico2.C_DESCRIPCION"
						          md-min-length="1"
						          md-floating-label="ESCRIBA EL NOMBRE DE LA ENFERMEDAD (CIE 10)"
						          required
						          flex
						          >
						        	<md-item-template >
						          		<span md-highlight-text="searchDiagnostico2" md-highlight-flags="^i">{{itemDiagnostico2.C_CLAVE}} - {{itemDiagnostico2.C_DESCRIPCION}}</span>
						        	</md-item-template>
						      	</md-autocomplete>
					      	</section>
		    				<md-data-table-container ng-if="isDiagnostico">
							  	<table md-data-table>
							    	<thead>
							      		<tr>
							      			<th name="CATÁLOGO"></th>
							        		<th name="ELIMINAR"></th>
							      		</tr>
							    	</thead>
							    	<tbody>
							      	<tr md-auto-select ng-repeat="datoSecundario in datosSecundarios | orderBy: query.order
								                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
							        	<td>{{datoSecundario.C_DESCRIPCION}}</td>
							        	<td>
									    	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="deleteDiagnosticoSecundario($event, datoSecundario)">
									        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
									    	</md-button>
							      		</td>
							      	</tr>
							    	</tbody>
							  	</table>
							</md-data-table-container>
	    					<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="center center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(3)">SIGUIENTE</md-button>
						      	</div>
						    </section>
						</div>
    				</md-tab>
    				<!-- Tab de SOLICITUD LABORATORIO Y GABINETE -->
    				<md-tab label="SOLICITUD DE ESTUDIOS DE LABORATORIO Y GABINETE" ng-disabled="activeSelected < 4 && ableDLG != true">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">SOLICITUD DE ESTUDIOS DE LABORATORIO Y GABINETE</h1>
						</div>
    					<div ng-show="!permisos[5].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[5].read">
	    					<div ng-show="!canRequest">
								<md-content>
								<section layout="" layout-sm="column" layout-wrap layout-align="center center">
									<br><br><br><br><br><br>
									<span layout-align style="color:red">NO TIENE PERMISOS PARA SOLICITAR ESTUDIOS</span>
									<br><br><br><br><br><br>
								</section>
								</md-content>
								<section layout="" layout-sm="column" layout-wrap ng-if="isUrgencias">
									<md-input-container flex class="form-item form-item-right">
								        <label>ANÁLISIS</label>
								        <textarea md-maxlength="2500" maxlength="2500" name="C_ANALISIS" ng-model="nuevo.EXPLORACION_FSC.C_ANALISIS"/>
								    </md-input-container>
			    				</section>
								<section layout="" layout-sm="column" layout-wrap layout-align="center center">
									<div layout="" layout-align="start center">
							      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
							      	</div>
			    					<div layout="" layout-align="end center">
							      		<md-button class="md-raised md-primary" ng-click="siguiente(4)">SIGUIENTE</md-button>
							      	</div>
							    </section>
	    					</div>
	    					<div ng-show="canRequest">
		    					<md-divider>SOLICITUD DE ESTUDIO DE LABORATORIO Y GABINETE</md-divider>
			    				<section layout="" layout-sm="column" layout-wrap>
						      		<md-autocomplete
						      		  md-no-cache="true"
							          md-selected-item="selectedItem"
							          md-search-text-change="searchTextChange(searchText)"
							          md-search-text="searchText"
							          md-selected-item-change="selectedItemChange(item,0)"
							          md-items="item in querySearch(searchText)"
							          md-item-text="item.cDescripcion"
							          md-min-length="3"
							          md-floating-label="CATÁLOGO DE ESTUDIO Y GABINETE"
							          flex
							          >
							        	<md-item-template >
							          		<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.cDescripcion}} - $ {{item.dCosto}}</span>
							        	</md-item-template>
							      	</md-autocomplete>
						      	</section>
			    				<md-data-table-container ng-if="isEstudio">
								  	<table md-data-table>
								    	<thead>
								      		<tr>
								      			<th name="ESTUDIO(S) SELECCIONADO(S)"></th>
								        		<th name="ELIMINAR"></th>
								        		<th name="MOTIVOS"></th>
								      		</tr>
								    	</thead>
								    	<tbody>
								      	<tr md-auto-select ng-repeat="datoEstudio in datosEstudios | orderBy: query.order
									                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
								        	<td>{{datoEstudio.cDescripcion}} - ${{datoEstudio.dCosto}}</td>
								        	<td>
										    	<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="deleteSolicitudEstudio($event, datoEstudio)">
										        	<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
										    	</md-button>
								      		</td>
								      		<td>
								      			<md-input-container flex class="form-item form-item-right">
											        <label>MOTIVOS</label>
											        <textarea name="C_MOTIVO_SOLICITUD" ng-model="datoEstudio.C_MOTIVO_SOLICITUD" maxlength="500" md-maxlength="500"/>
											    </md-input-container>
								      		</td>
								      	</tr>
								    	</tbody>
								  	</table>
								</md-data-table-container>
								
								<h1 class="md-title">ANALISIS</h1>

								<section layout="" layout-sm="column" layout-wrap >
			    					<md-input-container flex class="form-item form-item-right">
								        <label>ANÁLISIS</label>
								        <textarea md-maxlength="2500" maxlength="2500" name="C_ANALISIS" ng-model="nuevo.EXPLORACION_FSC.C_ANALISIS"/>
								    </md-input-container>
			    				</section>
		    					<section layout="" layout-sm="column" layout-wrap layout-align="center center">
									<div layout="" layout-align="start center">
							      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
							      	</div>
			    					<div layout="" layout-align="end center">
							      		<md-button class="md-raised md-primary" ng-click="siguiente(4)">SIGUIENTE</md-button>
							      	</div>
							    </section>
							</div>
						</div>
    				</md-tab>
    				<!-- Tab de PRONÓSTICO -->
    				<md-tab label="PRONÓSTICO" ng-disabled="activeSelected < 5">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">PRONÓSTICO</h1>
						</div>
						<div ng-show="!permisos[6].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[6].read">
	    					<section layout="" layout-sm="column" layout-wrap>
	    						<table md-data-table>
							    	<thead>
							      		<tr>
							      			<th name=""></th>
							        		<th name="BUENO"></th>
							        		<th name="MALO"></th>
							      		</tr>
							    	</thead>
							    	<tbody>
							      	<tr>
							        	<td>FUNCIÓN</td>
							        	<td>
									    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS1" ng-change="changeEstatus(1)">
						    					BUENO
							        		</md-switch>
							      		</td>
							      		<td>
							      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS2" ng-change="changeEstatus(2)">
						    					MALO
							        		</md-switch>
							      		</td>
							      	</tr>
							      	<tr>
							        	<td>VIDA</td>
							        	<td>
									    	<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS3" ng-change="changeEstatus(3)">
						    					BUENO
							        		</md-switch>
							      		</td>
							      		<td>
							      			<md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS4" ng-change="changeEstatus(4)">
						    					MALO
							        		</md-switch>
							      		</td>
							      	</tr>
							    	</tbody>
							  	</table>
						    </section>
						    <section layout="" layout-sm="column" layout-wrap>
		    					<md-input-container flex class="form-item form-item-right">
							        <label>*COMENTARIOS</label>
							        <textarea maxlength="500" md-maxlength="500" name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="!isUrgencias"/>
							        <textarea maxlength="2500" md-maxlength="2500" name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="isUrgencias"/>
							    </md-input-container>
		    				</section>
	    					<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(5)">SIGUIENTE</md-button>
						      	</div>
						    </section>
						</div>
    				</md-tab>
    				<!-- Tab de INDICACIÓN TERAPÉUTICA -->
					<md-tab label="{{tituloIndicacion}}" ng-disabled="activeSelected < 6 && (isEvolucionAlta || isVerde)">
						<div layout="row" flex layout layout-align="center center" ng-if="!isUrgencias || isEvolucionAlta || isVerde">
    						<h1 class="md-title">INDICACIÓN TERAPÉUTICA</h1>
						</div>
						<div layout="row" flex layout layout-align="center center" ng-if="isUrgencias && !isEvolucionAlta && !isVerde">
    						<h1 class="md-title">ORDEN MÉDICA</h1>
						</div>
						<div ng-show="!permisos[7].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()" ng-if="isUrgencias">SIGUIENTE</md-button>
						      		<md-button class="md-raised md-primary" ng-click="salir()" ng-if="!isUrgencias">TERMINAR</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[7].read">
							<div ng-show="isUrgencias && !isEvolucionAlta && !isVerde">
								<section layout="" layout-sm="column" layout-wrap>
			    					<md-input-container flex class="form-item form-item-right">
								        <label>*DIETA</label>
								        <textarea maxlength="2000" md-maxlength="2000" name="C_DIETA" ng-model="C_DIETA"/>
								    </md-input-container>
			    				</section>
			    				<section layout="" layout-sm="column" layout-wrap>
								    <md-input-container flex class="form-item form-item-right">
								        <label>*SOLUCIONES</label>
								        <textarea maxlength="2000" md-maxlength="2000" name="C_SOLUCIONES" ng-model="C_SOLUCIONES"/>
								    </md-input-container>
			    				</section>
			    				<section layout="" layout-sm="column" layout-wrap>
								    <md-input-container flex class="form-item form-item-right">
								        <label>MEDIDAS GENERALES</label>
								        <textarea maxlength="2000" md-maxlength="2000" name="C_MEDIDAS_GENERALES" ng-model="C_MEDIDAS_GENERALES"/>
								    </md-input-container>
			    				</section>
							</div>
							
							

					      	<indicacion-terapeutica guarda-indicacion-terapeutica="siguiente(6)" es-urgencias="{{isUrgencias}}" es-hosp="{{isHospitalizacion}}" es-nota-medica="{{isNotaMedica}}" label-button-back="ANTERIOR" anterior="anterior()" id-nota="{{idReceta}}"></indicacion-terapeutica>
					      	<br>
				
						    <div layout="" layout-align="center center">
					      		<md-button class="md-raised md-primary" style="background-color:#3891D2" ng-click="verNota()" ng-if="!isUrgencias">PREVISUALIZAR NOTA</md-button>
					        </div>
					    </div>
					</md-tab>
    				<!-- Tab de PROCEDIMIENTOS REALIZADOS-->
    				<md-tab label="PROCEDIMIENTOS REALIZADOS" ng-if="isUrgencias" ng-disabled="activeSelected < 7">
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">PROCEDIMIENTOS REALIZADOS</h1>
						</div>
						<div ng-show="!permisos[10].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[10].read">
	    					<md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isTriage">
							    <label>*DESCRIPCIÓN</label>
							    <textarea md-maxlength="4000" maxlength="4000" name="C_PROCEDIMIENTOS_REALIZADOS" ng-model="nuevo.PROCEDIMIENTOS.C_PROCEDIMIENTOS_REALIZADOS"/>
							</md-input-container>
							<md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
							    <label>DESCRIPCIÓN</label>
							    <textarea md-maxlength="4000" maxlength="4000" name="C_PROCEDIMIENTOS_REALIZADOS" ng-model="nuevo.PROCEDIMIENTOS.C_PROCEDIMIENTOS_REALIZADOS"/>
							</md-input-container>
					      	<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="siguiente(7)">SIGUIENTE</md-button>
						      	</div>
						    </section>
						</div>
    				</md-tab>
    				<!-- Tab de DESTINO DEL PACIENTE-->
    				
    				<md-tab label="DESTINO DEL PACIENTE" ng-if="isUrgencias" ng-disabled="activeSelected < 8" >
    					<div layout="row" flex layout layout-align="center center">
    						<h1 class="md-title">DESTINO DEL PACIENTE</h1>
						</div>
						<div ng-show="!permisos[11].read">
    						<span layout-align style="color:red">NO TIENES PERMISOS PARA EDITAR ESTE APARTADO</span>
    						<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
		    					<div layout="" layout-align="end center">
						      		<md-button class="md-raised md-primary" ng-click="saltar()">SIGUIENTE</md-button>
						      	</div>
						    </section>
    					</div>
    					<div ng-show="permisos[11].read">
	    					<md-input-container flex class="form-item form-item-right">
						        <label>SELECCIONAR DESTINO DEL PACIENTE</label>
							    <md-select placeholder="DESTINO DEL PACIENTE" ng-model="nuevo.NF_C_ORIGEN_PACIENTE" flex required>
								    <md-option ng-value="datoDestino.NP_ID" ng-repeat="datoDestino in catDestinoPaciente">{{datoDestino.C_DESCRIPCION}}</md-option>
								</md-select>
							</md-input-container>
	    					<md-input-container flex class="form-item form-item-right">
							    <label>DESCRIPCIÓN</label>
							    <textarea md-maxlength="2500" maxlength="2500" name="C_DESTINO_PACIENTE" ng-model="nuevo.C_DESTINO_PACIENTE"/>
							</md-input-container>
					      	<section layout="" layout-sm="column" layout-wrap layout-align="center center" ng-if="permisos[9].read">
					      		<section layout="" layout-sm="column" layout-wrap layout-align="center">
									<md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key">
						    		</md-file-input>
						    	</section>
						    	<section layout="" layout-sm="column" layout-wrap layout-align="center">
						    		<md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer">
						    		</md-file-input>
						    	</section>
					      	</section>
					      	<section layout="" layout-sm="column" layout-wrap layout-align="center center">
								<div layout="" layout-align="start center">
						      		<md-button class="md-raised md-warn" ng-click="anterior()">ANTERIOR</md-button>
						      	</div>
						      	<div layout="row" layout-align="end center">
					      			<md-button class="md-raised md-primary" ng-click="siguiente(8)">TERMINAR</md-button>
					      		</div>
						    </section>
						</div>
    				</md-tab>
    			</md-tabs>
    		</md-content>
    	<!--/div-->
    </md-card-content>
</md-card>
