  <!-- Datos solo informativos -->
  <div >
  <h3 class="md-headline">HOJAS DE ENFERMERÍA</h3>
    <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in notaMedica" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="nota in ctrl.hojaEnfermeria.HOJAS_ENFERMERIA | orderBy:nota.T_FECHA_CMD:true | limitTo: query.limit: (query.page - 1) * query.limit">
                <td>{{nota.T_FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                <td >{{nota.C_CIE_10 }}</td>
         
                <td >
                    <a href ng-click="ctrl.download(nota.NP_ID, nota.C_FILE)">DESCARGAR ARCHIVO</a>
                </td>

              </tr>

              <tr ng-show="ctrl.hojaEnfermeria.HOJAS_ENFERMERIA.length ==0">
                <td colspan="4" style="text-align: center;">NO HAY HOJAS DE ENFERMERÍA</td>
              </tr>
              <tr ng-show="ctrl.verBtn==false">
                <td colspan="4" style="text-align: center;">EL PACIENTE AUN NO TIENE NINGUNA NOTA MEDICA</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.hojaEnfermeria.HOJAS_ENFERMERIA.length}}" md-trigger="onpagechange"></md-data-table-pagination>

  </div>