<md-dialog aria-label="PREVISUALIZACIÓN DE NOTA" >
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>PREVISUALIZACIÓN DE NOTA MÉDICA</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon  md-svg-src="images/icons/svg/white/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="min-width:800px"> 
      <section layout="" layout-sm="column" layout-wrap>
        <md-input-container flex class="form-item form-item-right">
            <label style="color: #000000">ID</label>
            <input maxlength="50" name="NP_ID" ng-model="paciente.idPaciente" capitalize readonly>
        </md-input-container>
        <md-input-container flex class="form-item form-item-right">
            <label style="color: #000000">EXPEDIENTE</label>
            <input maxlength="50" name="NP_EXPEDIENTE_SIU" ng-model="paciente.expediente" capitalize readonly>
        </md-input-container>
        <md-input-container flex class="form-item form-item-right">
            <label style="color: #000000">NOMBRE</label>
            <input maxlength="50" name="C_NOMBRE" ng-model="paciente.nombreCompleto"  capitalize readonly>
        </md-input-container>
      </section>

      <fieldset class="standard" >
        <legend ><b>RESUMEN INTERROGATORIO<b></legend>
        <section layout="row"  layout-sm="column" layout-align="center cenxDter" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                  <label style="color: #000000">MOTIVO DE LA CONSULTA</label>
                  <textarea name="C_MOTIVO_CONSULTA" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_MOTIVO_DE_CONSULTA" readonly/>
            </md-input-container>
        </section>
        <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isTriage">
                <label style="color: #000000">RESUMEN DEL INTERROGATORIO</label>
                <textarea name="C_ANAMNESIS" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_ANAMNESIS" readonly/>
            </md-input-container>
              <md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
                <label style="color: #000000">RESUMEN DEL INTERROGATORIO</label>
                <textarea name="C_ANAMNESIS" ng-model="nuevo.RESUMEN_DEL_INTERROGATORIO.C_ANAMNESIS" readonly />
            </md-input-container>
        </section>
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend ><b>EXPLORACIÓN FÍSICA<b></legend>
        <br>
          <section layout="" layout-sm="column" layout-wrap>
            <label class="form-item" style="color: #000000">TENSIÓN ARTERIAL {{signosAnteriores}}</label>
          </section>
          <section layout="" layout-sm="column" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">SISTÓLICA (mm de Hg)</label>
                <input maxlength="3" name="SISTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_SISTOLICA" readonly >
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">DIASTÓLICA (mm de Hg)</label>
                <input maxlength="3" name="DIASTOLICA" ng-model="nuevo.EXPLORACION_FSC.N_TSN_ART_DIASTOLICA" readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">FRECUENCIA CARDIACA (lpm)</label>
                <input maxlength="3" name="CARDIACA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_CARDIACA" readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">FRECUENCIA RESPIRATORIA (rpm)</label>
                <input maxlength="3" name="RESPIRATORIA" ng-model="nuevo.EXPLORACION_FSC.N_FRC_RESPIRATORIA" readonly >
            </md-input-container>
          </section>
          <section layout="" layout-sm="column" layout-wrap>
           
          </section>
          <section layout="" layout-sm="column" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">TEMPERATURA (°C)</label>
                <input name="TEMPERATURA" ng-model="nuevo.EXPLORACION_FSC.N_TEMPERATURA"  ng-pattern="/^[0-9]{2}(\.\d{0,2}){0,3}$/" readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">PESO (KG)</label>
                <input name="PESO" ng-model="nuevo.EXPLORACION_FSC.N_PESO"  ng-pattern="/^[0-9]{1,3}(\.\d{0,3}){0,3}$/" ng-change="calcularIMC()" readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">TALLA (MTS)</label>
                <input name="TALLA" ng-model="nuevo.EXPLORACION_FSC.N_TALLA"  ng-pattern="/^[0-2](\.[0-9]{0,2}){0,1}$/" ng-change="calcularIMC()" readonly>
             </md-input-container>
             <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">IMC</label>
                <input name="N_IMC" ng-model="nuevo.EXPLORACION_FSC.N_IMC" readonly required>
             </md-input-container>
         </section>
         <section layout="" layout-sm="column" layout-wrap>
             <md-input-container flex="20" class="form-item form-item-right">
                <label style="color: #000000">CLASIFICACIÓN</label>
                <input name="C_CLASIFICACION" ng-model="nuevo.EXPLORACION_FSC.C_CLASIFICACION" readonly required>
             </md-input-container>
             <md-input-container flex="20" class="form-item form-item-right">
                <label style="color: #000000">SATURACIÓN (%)</label>
                <input name="N_SATURACION" ng-model="nuevo.EXPLORACION_FSC.N_SATURACION" required type="number" readonly>
             </md-input-container>
             <md-input-container flex class="form-item form-item-right" ng-if="!editExploracion">
                <label style="color: #000000">OBSERVACIONES</label>
                <textarea  name="C_OBS_ENFERMERIA" ng-model="nuevo.EXPLORACION_FSC.C_OBS_ENFERMERIA"  readonly/>
            </md-input-container>
         </section>
          <md-divider>EXPLORACIÓN FÍSICA</md-divider>
          <section layout="" layout-sm="column" layout-wrap>
            <md-input-container flex class="form-item form-item-right" ng-if="isIngreso || isEvolucionAlta || isTriage">
                <label style="color: #000000">EXPLORACIÓN FÍSICA</label>
                <textarea name="EXPLORACION" ng-model="nuevo.EXPLORACION_FSC.EXPLORACION" readonly/>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
                <label style="color: #000000">EXPLORACIÓN FÍSICA</label>
                <textarea  name="EXPLORACION" ng-model="nuevo.EXPLORACION_FSC.EXPLORACION" readonly />
            </md-input-container>
          </section>
          <section layout="" layout-sm="column" layout-wrap ng-if="isIngreso || isInterconsulta || isEvolucionAlta || isTriage || isVerde || isEvolutiva">
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">ESTADO MENTAL DEL PACIENTE</label>
                <textarea  name="C_ESTADO_MENTAL" ng-model="nuevo.EXPLORACION_FSC.C_ESTADO_MENTAL" readonly/>
            </md-input-container>
          </section>
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend >INTERPRETACIÓN DE ESTUDIOS DE LABORATORIO Y GABINETE</legend>
        <!--***************************************** CHECAR****************************** -->
         <md-data-table-container ng-if="existAnteriores">
                  <table md-data-table>
                    <thead>
                        <tr>
                          <th name="ESTUDIO(S) APLICADO(S)"></th>
                          <th name="VER"></th>
                          <th name="INTERPRETACIÓN"></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr md-auto-select ng-repeat="estudioAnterior in estudiosAnteriores | orderBy: query.order
                                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
                        <td>{{estudioAnterior.C_DESCRIPCION}}</td>
                        <td>
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="">
                            <md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg"></md-icon>
                        </md-button>
                        </td>
                        <td>
                          <md-input-container flex class="form-item form-item-right">
                            <label style="color: #000000">INTERPRETACIÓN DE ESTUDIOS DE LABORATORIO Y GABIENETE</label>
                            <input md-maxlength="500" name="C_RESULTADO_SERVICIO" ng-model="estudioAnterior.C_RESULTADO_SERVICIO" >
                        </md-input-container>
                    </td>

                      </tr>
                    </tbody>
                  </table>
              </md-data-table-container>
              <md-input-container flex class="form-item form-item-right">
                    <label style="color: #000000">INTERPRETACIÓN DE ESTUDIOS</label>
                    <textarea name="C_INTERPRETACION" ng-model="nuevo.C_INTERPRETACION" readonly/>
                </md-input-container>
                <section layout="" layout-sm="column" layout-wrap layout-align="center center">
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend >DIAGNÓSTICO</legend>
        <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                  <label style="color: #000000">DIAGNÓSTICO PRINCIPAL</label>
                  <textarea name="C_MOTIVO_CONSULTA" ng-model="diagnosticoPrincipal.C_DESCRIPCION" readonly/>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right" ng-if="!isIngreso && !isEvolucionAlta && !isTriage">
               <md-switch ng-model="esPrimeraVez" ng-true-value="true" class="md-primary md-block" ng-disabled="true">PRIMERA VEZ DE PADECIMIENTO</md-switch>
               <md-switch ng-model="esPrimeraVez" ng-true-value="false" class="md-warn md-block" ng-disabled="true">SUBSECUENTE DE PADECIMIENTO</md-switch>
            </md-input-container>
        </section>

        <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                  <label style="color: #000000">DIAGNÓSTICO SECUNDARIO</label>
            </md-input-container>
        </section>
            <!--***************************************** CHECAR****************************** -->
         <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
            <md-data-table-container ng-if="isDiagnostico">
                  <table md-data-table>
                    <thead>
                        <tr>
                          <th name="CATÁLOGO"></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr md-auto-select ng-repeat="datoSecundario in datosSecundarios | orderBy: queryDiagnostico.order
                                      | limitTo: queryDiagnostico.limit: (queryDiagnostico.page -1 )* queryDiagnostico.limit" ng-class="md-warn">
                        <td>{{datoSecundario.C_DESCRIPCION}}</td>
                      </tr>
                    </tbody>
                  </table>
            <md-data-table-pagination  md-total="{{datosSecundarios.length}}" md-limit="queryDiagnostico.limit" md-page="queryDiagnostico.page"  ></md-data-table-pagination>
            </md-data-table-container>
        </section>
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend >SOLICITUD DE ESTUDIOS DE LABORATORIO Y GABINETE</legend>
        <!--***************************************** CHECAR****************************** -->
        <section layout="" layout-sm="column" layout-wrap >
          <md-input-container flex class="form-item form-item-right">
              <label style="color: #000000">ANÁLISIS</label>
              <textarea  name="C_ANALISIS" ng-model="nuevo.EXPLORACION_FSC.C_ANALISIS" readonly/>
          </md-input-container>
        </section>
        <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
          <md-data-table-container ng-if="isEstudio">
                    <table md-data-table>
                      <thead>
                          <tr>
                            <th name="ESTUDIO(S) SELECCIONADO(S)"></th>
                            <th name="MOTIVOS"></th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr md-auto-select ng-repeat="datoEstudio in datosEstudios | orderBy: queryEstudios.order
                                        | limitTo: queryEstudios.limit: (queryEstudios.page -1 )* queryEstudios.limit" ng-class="md-warn">
                          <td>{{datoEstudio.cDescripcion}} - ${{datoEstudio.dCosto}}</td>
                          <td>
                            <md-input-container flex class="form-item form-item-right">
                              <label>MOTIVOS</label>
                              <textarea name="C_MOTIVO_SOLICITUD" ng-model="datoEstudio.C_MOTIVO_SOLICITUD" readonly/>
                          </md-input-container>
                          </td>
                        </tr>
                      </tbody>
                    </table>
            <md-data-table-pagination  md-total="{{datosEstudios.length}}" md-limit="queryEstudios.limit" md-page="queryEstudios.page"  ></md-data-table-pagination>
            </md-data-table-container>
        </section>
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend >PRONÓSTICO</legend>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <table md-data-table>
              <thead>
                  <tr>
                    <th name=""></th>
                    <th name="BUENO"></th>
                    <th name="MALO"></th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-class="md-warn">
                  <td>FUNCIÓN</td>
                  <td>
                  <md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS1" ng-change="changeEstatus(1)">
                    BUENO
                    </md-switch>
                  </td>
                  <td>
                    <md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS2" ng-change="changeEstatus(2)">
                    MALO
                    </md-switch>
                  </td>
                </tr>
                <tr ng-class="md-warn">
                  <td>VIDA</td>
                  <td>
                  <md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS3" ng-change="changeEstatus(3)">
                    BUENO
                    </md-switch>
                  </td>
                  <td>
                    <md-switch class="md-primary" aria-label="Profile" flex ng-model="NF_ESTATUS4" ng-change="changeEstatus(4)">
                    MALO
                    </md-switch>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <section layout="" layout-sm="column" layout-wrap>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">COMENTARIOS</label>
                <textarea name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="!isUrgencias" readonly/>
                <textarea name="C_PRONOSTICO" ng-model="nuevo.NOTAS_MEDICAS.C_PRONOSTICO"  ng-if="isUrgencias" readonly/>
            </md-input-container>
          </section>
      </fieldset> 
      <br>
      <br>
      <fieldset class="standard" >
        <legend>INDICACIÓN TERAPÉUTICA</legend>
          <section layout="" layout-sm="column" ng-if="isIndicacion">
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">TRATAMIENTO NO FARMACOLÓGICO</label>
              <textarea name="C_TRATAMIENTO" ng-model="medicamentos.C_TRATAMIENTO" readonly> </textarea>
            </md-input-container>
          </section>
          <section layout="" layout-sm="column" ng-if="isIndicacion">
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">FECHA DE CREACIÓN</label>
              <input name="F_FECHA" ng-model="medicamentos.F_FECHA" readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label style="color: #000000">VIGENCIA DE RECETA</label>
              <input name="F_VIGENCIA" ng-model="medicamentos.F_VIGENCIA" readonly>
            </md-input-container>
          </section>
            <md-data-table-container ng-if="listaMedicamentos.length > 0">
               <table md-data-table>
                 <thead>
                     <tr>
                       <th name="NOMBRE MEDICAMENTO"></th>
                       <th name="INDICACIONES"></th>
                       <th name="MESES"></th>
                       <th name="DIAS"></th>
                       <th name="SAEC"></th>
                     </tr>
                 </thead>
                 <tbody>
                   
                   <tr md-auto-select ng-repeat="medicamento in listaMedicamentos | orderBy: queryMedicamentos.order 
                                   | limitTo: queryMedicamentos.limit: (queryMedicamentos.page -1 )* queryMedicamentos.limit" ng-class="md-warn">  
                     <td>{{medicamento.NP_MEDICAMENTO}}</td>
                     <td>{{medicamento.indicaciones}}</td>
                     <td>{{medicamento.meses}}</td>
                     <td>{{medicamento.dias}}</td>
                     <td>{{medicamento.saec}}</td>
                   </tr>
                 </tbody>
               </table>
             </md-data-table-container>
             <md-data-table-pagination  ng-show="listaMedicamentos.length>0" md-total="{{listaMedicamentos.length}}" md-limit="queryMedicamentos.limit" md-page="queryMedicamentos.page"  ></md-data-table-pagination>  
             <section layout="" layout-sm="column" ><!--ng-show="esUrgencias == 'true'"-->
              <md-input-container flex class="form-item form-item-right">
                <label>TRATAMIENTO NO FARMACOLÓGICO</label>
                <textarea  ng-model="C_TRATAMIENTO" md-maxlength="2400" maxlength="2400" readonly></textarea>
              </md-input-container>
             </section>
             <section layout="" layout-sm="column" ><!--ng-show="esUrgencias == 'true'"-->
               <md-input-container flex class="form-item form-item-right">
                   <label>PLAN</label>
                   <textarea md-maxlength="500" maxlength="500"  name="C_PLAN" ng-model="C_PLAN" readonly/>
               </md-input-container>
             </section>
      </fieldset> 
      <br>
      <br>
      <section layout="" layout-sm="column" layout-wrap layout-align="center center">
          <div layout="" layout-align="end center">
              <md-button class="md-raised md-primary" ng-click="cancelar()">ACEPTAR </md-button>
             <!--  <md-button class="md-raised md-primary" ng-click="finalizar()">FINALIZAR NOTA</md-button> -->
            </div>
      </section>

    </md-dialog-content>
  </form>
</md-dialog>




           