<!-- Version al 29/12/2015 12:07 -->
<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="registra()" ng-init="obtenInformacion()">
			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >I. DATOS DEL PACIENTE</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout >

					<div layout="row" layout-sm="column" layout-align="center center" layout-wrap flex>
						<md-input-container flex class="form-item form-item-right">
				          <label>NOMBRE DEL PACIENTE</label>
				          <input maxlength="50" name="C_NOMBREPACIENTE" ng-model="paciente.C_NOMBREPACIENTE"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize disabled>					          
				        </md-input-container>
				        
				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>NO. EXPEDIENTE</label>
				          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
				        </md-input-container>	

				        <md-input-container flex="15" class="form-item form-item-right">
				          <label>ID. PACIENTE</label>
				          <input name="ID" ng-model="paciente.NP_ID" disabled>
				        </md-input-container>
					</div>

					<div layout="row" layout-sm="column" layout-align="center center" layout-wrap flex>
						<md-input-container flex class="form-item form-item-right">
						    <label>FECHA DE NACIMIENTO</label>
						    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" ng-change="calcularEdad()" disabled>
						</md-input-container>

						<md-input-container flex="10" class="form-item form-item-right">
				          <label>EDAD</label>
				          <input name="EDAD" ng-model="paciente.EDAD" disabled>
				        </md-input-container>

				        <md-input-container flex="10" class="form-item form-item-right">
				          <label>MESES</label>
				          <input name="MESES" ng-model="paciente.MESES" disabled>
				        </md-input-container>
					
						<md-input-container flex class="form-item form-item-right" >
				          <label>GENERO</label>
					        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO_ID" id="NF_SEXO_ID" disabled>
						      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>

						<md-input-container flex="10" class="form-item form-item-right">
				          <label>ESTATURA (Mts)</label>
				          <input id="ESTATURA" ng-model="paciente.ESTATURA" maxlength="4" required ng-pattern="/^([0|1|2].\d+)$/">
				        </md-input-container>

				        <md-input-container flex="10" class="form-item form-item-right">
				          <label>PESO (Kg)</label>
				          <input id="PESO" ng-model="paciente.PESO" maxlength="7" required ng-pattern="/^([0-9]|[1-9]\d|[1|2]\d\d)(.\d{1,3}){0,1}$/">
				        </md-input-container>

						<md-input-container flex class="form-item" >
				          <label>INICIALES DEL PACIENTE</label>
				          <input name="C_INICIALES" ng-model="paciente.C_INICIALES" maxlength="4" capitalize>				          
				        </md-input-container>					  	
					</div>
				</div>	
			</md-whiteframe>
			<BR>

			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >II. DATOS DE LA SOSPECHA DE REACCIÓN ADVERSA</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" flex layout layout-align="left center">
					<div>
						<label>INICIO DE LA REACCION</label>
			        	<md-datepicker id="F_INICIO_REACCION" ng-model="paciente.F_INICIO_REACCION"  md-max-date="F_ACTUAL" required></md-datepicker>
			    	</div>

			    	<div layout="row" flex layout layout-align="center start">
						<md-input-container flex class="form-item">
				          <label>DESCRIPCION DE(LOS) EVENTO(S) ADVERSO(S) (INCLUYENDO LOS DE EXPLORACIÓN Y DE LABORATORIO)</label>
				          <textarea name="T_DESCRIPCION" ng-model="paciente.T_DESCRIPCION" columns="7" maxlength="2000" md-maxlength="2000" required aria-label="INICIO DE LA REACCIÓN" capitalize ></textarea>			
				        </md-input-container>

				        <md-input-container flex class="form-item">
				          	
				          	<md-data-table-container>
		                        <table md-data-table>
		                          	<thead>
		                          		<tr>
		                          			<td style="text-align:center">CONSECUENCIA DEL EVENTO</td>	                          			
		                          		</tr>	
		                          	</thead>	

		                          	<tbody>
		                          		<tr ng-repeat="T in tabConcecuencias" ng-class="md-warn">
		                          			                          			
		                          			<td>
		                          				<md-checkbox ng-model="t.estatus" ng-click="toggle(T)">
									              {{ T.descripcion }}
									            </md-checkbox>
		                          			</td>
		                          		</tr>	                          		
		                          	</tbody>
		                        </table>
		                    </md-data-table-container>  
				        </md-input-container>
			    	</div>


		    	</div>
			</md-whiteframe>

			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >III. INFORMACIÓN DEL MEDICAMENTO SOSPECHOSO</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="column" md-layout="column" flex >
					<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">
						
						<md-input-container flex class="form-item">
				          <label>NOMBRE GENERICO</label>
				          <textarea name="T_NOMBRE_GENERICO" ng-model="paciente.T_NOMBRE_GENERICO" columns="7" maxlength="100" md-maxlength="100" required aria-label="NOMBRE GENERICO" capitalize ></textarea>			
				        </md-input-container>

				        <md-input-container flex class="form-item">
				          <label>DENOMINACIÓN DISTINTA</label>
				          <textarea name="T_DENOMINACION" ng-model="paciente.T_DENOMINACION" columns="7" maxlength="100" md-maxlength="100" required aria-label="DENOMINACIÓN DISTINTA" capitalize ></textarea>			
				        </md-input-container>

				        <md-input-container flex class="form-item">
				          <label>LABORATORIO PRODUCTOR</label>
				          <textarea name="T_LABORATORIO" ng-model="paciente.T_LABORATORIO" columns="7" maxlength="100" md-maxlength="100" required aria-label="LABORATORIO PRODUCTOR" capitalize ></textarea>			
				        </md-input-container>
				    </div>

				    <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">
						<md-input-container flex class="form-item">
				          <label>NÚMERO DE LOTE</label>
				          <input maxlength="50" name="T_NUMERO_LOTE" ng-model="paciente.T_NUMERO_LOTE" capitalize required>			
				        </md-input-container>

				        <md-input-container flex class="form-item">
				          <label>FECHA DE CADUCIDAD (MM/AAAA)</label>				          
				          <input maxlength="50" id="F_CADUCIDAD" ng-model="paciente.F_CADUCIDAD" capitalize required ng-pattern="/^(([1-9]|0[1-9]|1[0-2])/20[1-9][0-9])$/">			
				        </md-input-container>

				        <md-input-container flex class="form-item">
				          <label>DOSIS</label>
				          <textarea name="T_DOSIS" ng-model="paciente.T_DOSIS" columns="7" maxlength="100" md-maxlength="100" required aria-label="T_DOSIS" capitalize ></textarea>			
				        </md-input-container>
				    </div>

				    <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap layout-align="center center">
						<md-input-container flex class="form-item">
				          <label>VIA DE ADMINISTRACIÓN Y FORMA FARMACEUTICA</label>
				          <textarea name="T_VIA_ADMINISTRACION" ng-model="paciente.T_VIA_ADMINISTRACION" columns="7" maxlength="100" md-maxlength="100" required aria-label="NOMBRE GENERICO" capitalize ></textarea>			
				        </md-input-container>

				        <div>
					        <label><center>FECHA DE LA ADMINISTRACIÓN</center></label>

					        <div layout="row" md-layout="column" flex layout layout-align="center center">
						        <div layout="column" md-layout="column" flex layout layout-align="center center">
									<label>INICIO</label>
						        	<md-datepicker id="F_INICIO_ADMINISTRACION" ng-model="paciente.F_INICIO_ADMINISTRACION" md-max-date="F_ACTUAL" ng-change="paciente.F_TERMINO_ADMINISTRACION = undefined"></md-datepicker>
						    	</div>

						    	<div layout="column" md-layout="column" flex layout layout-align="center center">
									<label>TERMINO</label>
						        	<md-datepicker id="F_TERMINO_ADMINISTRACION" ng-model="paciente.F_TERMINO_ADMINISTRACION" md-min-date="paciente.F_INICIO_ADMINISTRACION" md-max-date="F_ACTUAL"></md-datepicker>
						    	</div>
						    </div>
					    </div>

				        <md-input-container flex class="form-item">
				          <label>MOTIVO DE PRESCRIPCIÓN</label>
				          <textarea name="T_MOTIVO_PRESCIPCION" ng-model="paciente.T_MOTIVO_PRESCIPCION" columns="7" maxlength="100" md-maxlength="100" required aria-label="" capitalize ></textarea>			
				        </md-input-container>
				    </div>
				    <BR><BR>

				    <md-divider></md-divider> 
				    <BR><BR>
				    <div layout="column" flex layout layout-align="left center">
				    	<div layout="row" flex layout layout-align="center start">
				    		
							<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
					        	<md-radio-group ng-model="paciente.RETIRO_MEDICAMENTO_SOSPECHOSO" id="RETIRO_MEDICAMENTO_SOSPECHOSO">
					        		<label>¿SE RETIRO EL MEDICAMENTO SOSPECHOSO? </label>
					        		<div layout="row" layout-sm="column">
										<div><md-radio-button value="1" class="md-primary">SI</md-radio-button></div>
						      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
					      			</div>
								</md-radio-group>
					      	</div>	

							<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
					      		<md-radio-group ng-model="paciente.T_CAMBIO_FARMACOTERAPIA" id="T_CAMBIO_FARMACOTERAPIA">
					        		<label>¿SE CAMBIO LA FARMACOTERAPIA? </label>					        		
									<div>
										<md-radio-button value="1" class="md-primary">SI</md-radio-button>
						      			<md-input-container flex class="form-item form-item-right" ng-if="paciente.T_CAMBIO_FARMACOTERAPIA == 1">
									        <label>¿A CUÁL?</label>
									        <textarea name="C_DESCRIP_CAMBIO_FARMACOTERAPIA" ng-model="paciente.C_DESCRIP_CAMBIO_FARMACOTERAPIA" columns="2" maxlength="100" md-maxlength="100"  aria-label="" required capitalize></textarea>
									    </md-input-container>
								    </div>									        
					      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
								</md-radio-group>
					      	</div>
						</div>	

						<div layout="row" flex layout layout-align="center start">
							<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
								<md-radio-group ng-model="paciente.T_DESAPARECIO_REACCION" id="T_DESAPARECIO_REACCION">
					        		<label>¿DESAPARECIO LA REACCIÓN AL SUSPENDER EL MEDICAMENTO? </label>
					        		<div layout="row" layout-sm="column">
										<div><md-radio-button value="1" class="md-primary">SI</md-radio-button></div>
						      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
						      			<div><md-radio-button value="2" class="md-primary">NO SABE</md-radio-button></div>
					      			</div>
								</md-radio-group>
					      	</div>	

							<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
					      		<md-radio-group ng-model="paciente.T_REAPARECIO_REACCION" id="T_REAPARECIO_REACCION">
					        		<label>¿REAPARECIÓ LA REACCIÓN AL READMINSITRAR EL MEDICMENTO? </label>
					        		<div layout="row" layout-sm="column">
										<div><md-radio-button value="1" class="md-primary">SI</md-radio-button></div>
						      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
						      			<div><md-radio-button value="2" class="md-primary">NO SABE</md-radio-button></div>
					      			</div>
								</md-radio-group>
					      	</div>	

								
						</div>

						<div layout="row" flex layout layout-align="center start">

							<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
								<md-radio-group ng-model="paciente.T_DISMINUYO_LA_DOSIS" id="T_DISMINUYO_LA_DOSIS">
					        		<label>¿SE DISMINUYO LA DOSIS? </label>
									<div>
										<md-radio-button value="1" class="md-primary">SI</md-radio-button>
										<md-input-container flex class="form-item form-item-right" ng-if="paciente.T_DISMINUYO_LA_DOSIS == 1">
									        <label>¿A CUÁNTO?</label>
									        <textarea name="C_DESCRIP_DISMINUYO_DOSIS" ng-model="paciente.C_DESCRIP_DISMINUYO_DOSIS" columns="2" maxlength="100" md-maxlength="100"  aria-label="" required capitalize></textarea>
									    </md-input-container>
									</div>
					      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
								</md-radio-group>
					      	</div>	

							

							<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
								<md-radio-group ng-model="paciente.T_RETIRO_MEDICAMENTO" id="T_RETIRO_MEDICAMENTO">
					        		<label>SI NO SE RETIRÓ EL MEDICAMENTO ¿PERSISTE LA REACCIÓN? </label>
					        		<div layout="row" layout-sm="column">
										<div><md-radio-button value="1" class="md-primary">SI</md-radio-button></div>
						      			<div><md-radio-button value="0" class="md-primary">NO</md-radio-button></div>
						      			<div><md-radio-button value="2" class="md-primary">NO SABE</md-radio-button></div>
					      			</div>	
					      		</div>	
							</md-radio-group>
						</div>    
				    </div>
				</div>
			</md-whiteframe>	

			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >IV. FARMACOTERAPIA CONCOMITANTE</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp"  layout layout-align="center center">
				<div layout="column" layout-sm="column" layout-fill layout-align="center center" flex>

					<md-data-table-container layout-margin layout-fill layout-padding style="padding-bottom: 32px; " layout-align="center center" flex>

	                    <table md-data-table border="1" >
	                      	<thead>
	                      		<tr>
	                      			<td style="text-align:center" rowspan="2">MEDICAMENTO</td>
	                      			<td style="text-align:center" rowspan="2">DOSIS</td>
	                      			<td style="text-align:center" rowspan="2">VIA DE ADMINISTRACIÓN</td>
	                      			<td style="text-align:center" colspan="2">FECHAS</td>
	                      			<td style="text-align:center" rowspan="2">MOTIVO DE PRESCRIPCIÓN</td> 
	                      			<td rowspan="3"></td>                     			
	                      		</tr>	

	                      		<tr>
	                      			<td style="text-align:center; width:100px;" >INCIO</td>
	                      			<td style="text-align:center; width:100px;">TERMINO</td>
	                      		</tr>
	                      	</thead>	

	                      	<tbody>
	                      		<tr md-auto-select ng-repeat="T in tabFarmacoterapia">                      		
	                      			<td style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >
		                  				<md-input-container class="form-item form-item-right">
		                  					<textarea name="T.MEDICAMENTO" ng-model="T.MEDICAMENTO" columns="2" maxlength="200" md-maxlength="200"  aria-label="" required capitalize ></textarea>
		                  					<!--input name="T.MEDICAMENTO" ng-model="T.MEDICAMENTO" aria-label="MEDICAMENTO" required capitalize-->	
									    </md-input-container>
									</td>

									<td  style="padding: 0px 0px; margin: 0px 0px;">
									    <md-input-container  class="form-item form-item-right">
									    	<textarea name="T.DOSIS" ng-model="T.DOSIS" columns="2" maxlength="200" md-maxlength="200"  aria-label="" required capitalize></textarea>
		                  					<!--input name="T.DOSIS" ng-model="T.DOSIS" aria-label="DOSIS" required capitalize-->								        
									    </md-input-container>
								    </td>

								    <td style="padding: 0px 0px; margin: 0px 0px;">
									    <md-input-container flex class="form-item form-item-right">
									    	<textarea name="T.VIA_ADMON" ng-model="T.VIA_ADMON" columns="2" maxlength="200" md-maxlength="200"  aria-label="" required capitalize></textarea>
		                  					<!--input name="T.VIA_ADMON" ng-model="T.VIA_ADMON" aria-label="VIA_ADMON" required capitalize-->								        
									    </md-input-container>	
								    </td>

								    <!--td  ng-show="false">
								    	<md-datepicker ng-model="T.F_LIMITE_INI" aria-label="F_LIMITE_INI"></md-datepicker>
								    </td-->

								    <td style="padding: 0px 0px; margin: 0px 0px;">
								    	<md-datepicker flex ng-model="T.F_INICIO" aria-label="F_INICIO" md-max-date="F_ACTUAL" ng-change="T.F_TERMINO = undefined" layout="column" layout-sm="column" style="width:100px;"></md-datepicker>
								    </td>

								    <!--td  ng-show="false">
								    	<md-datepicker ng-model="T.F_LIMITE_TER" aria-label="F_LIMITE_TER"></md-datepicker>
								    </td-->

								    <td style="padding: 0px 0px; margin: 0px 0px;">
								    	<md-datepicker ng-model="T.F_TERMINO" aria-label="F_TERMINO" md-min-date="T.F_INICIO" md-max-date="F_ACTUAL" required layout="column" layout-sm="column" style="width:100px;"></md-datepicker>
								    </td>

							    	<td style="padding: 0px 0px; margin: 0px 0px;">
									    <md-input-container flex class="form-item form-item-right">
									    	<textarea name="T.MOTIVO" ng-model="T.MOTIVO" columns="2" maxlength="200" md-maxlength="200"  aria-label="" required capitalize></textarea>
		                  					<!--input name="T.MOTIVO" ng-model="T.MOTIVO" aria-label="MOTIVO" required capitalize-->								        
									    </md-input-container>							            
	                      			</td>

	                      			<td style="padding: 0px 0px; margin: 0px 0px; text-align: center;">
	                      				<md-button class="md-icon-button md-primary" type="button" ng-click="deleteReg($index)" aria-label="Eliminar registro">
							            	<md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
							            </md-button>
	                      			</td>

	                      		</tr>	                          		
	                      	</tbody>
	                    </table>                    
	                </md-data-table-container>  

	                <div >
	                	<md-button class="md-icon-button md-primary" type="button" ng-click="addReg()" aria-label="Insertar registro">
			            	<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
			            </md-button>		            
				      	
			      	</div>
		      	</div>
			</md-whiteframe>

			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >V. DATOS IMPORTANTES DE LA HISTORIA CLINICA</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<md-input-container flex class="form-item form-item-right">
			        <label>DIAGNOSTICOS, ALERGIAS, EMBARAZOS, CIRUGIA PREVIA, DATOS DE LABORATORIO</label>
			        <textarea name="C_DATOS_IMPORTANTES_HC" ng-model="paciente.C_DATOS_IMPORTANTES_HC" columns="2" maxlength="2000" md-maxlength="2000"  aria-label="" required capitalize></textarea>
			    </md-input-container>
			</md-whiteframe>

			<div layout="row" flex layout layout-align="right center">
				<h1 class="md-title" >VI. NOTIFICADOR INICIAL</h1>
			</div>

			<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap>
					<md-input-container flex class="form-item form-item-right">
				        <label>NOMBRE DEL MEDICO</label>
				        <input name="NOMBRE_MEDICO" ng-model="medico.NOMBRE_MEDICO" disabled>			        
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right">
				        <label>ESPECIALIDAD DEL MEDICO</label>
				        <input name="MEDICO_ESPECIALIDAD" ng-model="medico.ESPECIALIDADES.CF_ESPECIALIDAD" disabled>			        
				    </md-input-container>

				    <md-input-container flex class="form-item form-item-right">
				        <label>TELEFONO DEL PACIENTE</label>
				        <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" md-maxlength ="10" minlength ="7" maxlength="10">
				    </md-input-container>

				    <md-input-container>
				    	<label>CONSULTA MEDICA</label>
				    	<md-select ng-model="medico.SERVICIO" id="SERVICIO">
					        <md-option value="CM">CONSULTA MEDICA</md-option>
					        <md-option value="UM">URGENCIA MEDICA</md-option>
					        <md-option value="HO">HOSPITALIZACIÓN</md-option>
			        	</md-select>
			        </md-input-container>
		    	</div>

			</md-whiteframe>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" layout-wrap ng-show="!isConsulta">
                <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" ng-disabled="isConsulta">
                    </md-file-input>
                </section>

                <section layout layout-sm="column">
                    <md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cer" ng-disabled="isConsulta">
                    </md-file-input>
                </section>
            </div>

			<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="btnRegistro">REGISTRAR</md-button>
		      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
	      	</div>


		</form>	
	</md-card-content>
</md-card>
