<div layout="row" layout-align="center center">
<div  flex-md="99" flex-sm="99" flex-lg="66" flex-gt-lg="50">
 	<md-card layout-wrap>
	      <card-toolbar title="RECETA MÉDICA" canreturn="true">
	      </card-toolbar>
	      <form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()">
			<md-card-content ng-init="calendarizarreceta()">
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item form-item-right">	
			          <label>NOMBRE GENÉRICO, FORMA FARMACÉUTICA Y CONCENTRACIÓN:</label>
			          <input maxlength="50" name="paciente" ng-model="receta.nombreG" required capitalize>
			        </md-input-container>
		      	</section>
				<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>INDICACIONES:</label>
			          <input maxlength="50" name="medico" ng-model="receta.indicaciones" required capitalize>
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
		      		<md-input-container flex class="form-item">
			          <label>DÍAS:</label>
			          <input maxlength="50" name="medico" ng-model="receta.dias" required capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>CANTIDAD:</label>
			          <input maxlength="50" name="medico" ng-model="receta.cantidad" required capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>SAEC:</label>
			          <input maxlength="50" name="medico" ng-model="receta.saec" required capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>MESES:</label>
			          <input maxlength="50" name="medico" ng-model="receta.meses" required capitalize>
			        </md-input-container>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" type="submit">CONFIRMAR RECETA</md-button>
		      	</div>
	  		</md-card-content>
	  	</form>
    </md-card>
 </div>
</div>