<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="listadoReferencias">
    	<md-input-container  class="form-item" flex >
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.paciente.nombre" readonly capitalize style="min-width:300px;">
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>ID</label>
            <input ng-model="datos.paciente.ID" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>ID EXPEDIENTE</label>
            <input ng-model="datos.expedienteSIU" readonly capitalize>
        </md-input-container>
	</section>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="listadoReferencias">
        <md-input-container  class="form-item" flex>
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.paciente.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>EDAD</label>
            <input ng-model="datos.paciente.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>GÉNERO</label>
            <input ng-model="datos.paciente.genero" readonly capitalize>
        </md-input-container>
	</section>
	<div layout="row" layout-align="end center" >
        <md-button class="md-raised md-primary" ng-click="creatNota()" type="button" ng-show="(isUMF==true || isHU==true) && showHistorico">CREAR REFERENCIA</md-button>
    </div>

	<div ng-show="listadoReferencias">
	<section layout="row"  layout-md="" layout-sm="" layout-align="center center" ng-show="showHistorico && historicoReferencia.length>0">
      	<md-input-container class="form-item" flex="40">
            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
            <input maxlength="200"  ng-model="buscarReferencias" ng-change="ngChangeReferencias()" >
        </md-input-container> 
    </section>
	<section layout="row"  layout-md="" layout-sm="" layout-align="center center" ng-show="showHistorico && historicoReferencia.length>0">
        <div flex>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="queryHistorico.order" md-trigger="onOrderChange">
                  <tr>
                  	<td order-by="registro.T_FECHA_CMD">FECHA</td>
                    <td order-by="registro.NP_ID_REFERENCIA">FOLIO</td>
                    <td order-by="registro.CDESCRIPCION_CIE10">CIE10</td>
                    <td order-by="registro.CDESCRIPCION_ESPECIALIDAD"> ESPECIALIDAD REFERIDA</td>
                    <td order-by="registro.C_MOTIVO_SUPER">MOTIVO</td>
                    <td > ESTATUS</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr md-auto-select ng-repeat="registro in historicoReferencia | filter:buscarReferencias | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit">
                        <td>{{registro.T_FECHA_CMD}}</td>
                        <td>{{registro.NP_ID_REFERENCIA}}</td>
                        <td>{{registro.CDESCRIPCION_CIE10}}</td>
                        <td>{{registro.CDESCRIPCION_ESPECIALIDAD}}</td>
                        <td>{{registro.C_MOTIVO_SUPER}}</td>
                        <td>{{getEstatusReferencia(registro.NF_ESTATUS)}}</td>
                        <td >
                            <md-button class="md-fab md-primary md-hue-2" ng-click="clickNota(registro); rowSelection($index);">
                                <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                            </md-button>
                        </td>
                  </tr>
                </tbody>
            </table>
            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{historicoReferencia.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
        </md-data-table-container>
    </div>
    </section>
  	<form name="notaForm">
	<div ng-show="!showHistorico">
		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	    	<md-input-container  class="form-item" flex="30">
	            <label>FOLIO DE LA ÚLTIMA NOTA MÉDICA</label>
	            <input ng-model="datos.notamedica" readonly capitalize>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="80">
	            <label>DIAGNÓSTICO PRINCIPAL</label>
	            <input ng-model="datos.diagnostico" readonly capitalize>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="45">
	          <md-radio-group ng-model="datos.motivos[9].C_VALOR" name="tipos" class="md-primary" layout="row"  ng-disabled="!isEditar" required>
			    <md-radio-button value="ORDINARIO" class="md-primary" ng-disabled="!isEditar">ORDINARIO</md-radio-button>
			    <md-radio-button value="URGENTE" ng-disabled="!isEditar"> URGENTE </md-radio-button>
		      </md-radio-group>
		       <div class="errors" ng-messages="notaForm.tipos.$error">
                    <div ng-message="required" style="color:red">CAMPO OBLIGATORIO</div>
               </div>
	        </md-input-container>
		</section>

		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
			<md-input-container flex="40">
		        <label>*ESPECIALIDAD</label>
		        <md-select name="especialidad" ng-model="datos.motivos[6].C_VALOR" ng-disabled="!isEditar && !(isUMF==true || isSUMF!==true)" required>
		          <md-option ng-repeat="state in interconsulta" value="{{state.ID}}">{{state.cDescripcion}}</md-option>
		        </md-select>
		        <div class="errors" ng-messages="notaForm.especialidad.$error">
                    <div ng-message="required">CAMPO OBLIGATORIO</div>
                </div>
		      
		    </md-input-container>
		    <!--CAMBIO DE ESPECIALIDAD -->
		    <md-input-container  class="form-item" flex="50"  ng-show="isMotivoHU" >
            <label> MOTIVO POR EL CUAL CAMBIO LA ESPECIALIDAD</label>
               <textarea maxlength="500" md-maxlength="500" name="C_PRONOSTICO" ng-model="datos.MOTIVO_ESPECIALIDAD" ng-disabled="isMotivo"  />
	        </md-input-container>

	         <!--CAMBIO DE  SUMF-->
	        <md-input-container  class="form-item" flex="50" ng-show="isMotivoUMF" >
            <label> MOTIVO POR EL CUAL SE HA RECHAZADO LA REFERENCIA</label>
               <textarea maxlength="500" md-maxlength="500" name="C_PRONOSTICO" id="MOTIVO_SUPERVISOR" ng-model="datos.MOTIVO_SUPERVISOR" ng-disabled="isMotivo" />
	        </md-input-container>
		</section>

		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	        <md-input-container  class="form-item" flex="45" style=" margin-top: 54px;">
	            <label>*UNIDAD QUE SOLICITA</label>
	            <input name="unidad" ng-model="datos.motivos[7].C_VALOR" ng-disabled="!isEditar" required >
	            <div class="errors" ng-messages="notaForm.especialidad.$error" >
                    <div ng-message="required">CAMPO OBLIGATORIO</div>
                </div>
	        </md-input-container>
	        <md-content flex="45" style="display: table;float: left; margin:5px 10px;">
			    	<h4>FECHA EN LA QUE SE ESTABLECE EL DIAGNÓSTICO</h4>
			    	<md-datepicker ng-model="datos.estableceDiagnostico" md-placeholder="dd/mm/aaaa" style="margin: 0px auto" disabled></md-datepicker>
		    	</md-content>
		</section>

		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	    	<md-content flex="45" style="display: table;float: left; margin:5px 10px;">
		    	<h4>FECHA EN LA QUE SE SOLICITA LA INTERCONSULTA</h4>
		    	<md-datepicker ng-model="datos.paciente.fSolicitaInter" md-placeholder="dd/mm/aaaa"  style="margin: 0px auto" disabled></md-datepicker>
		    </md-content>
		</section>

		<md-divider><h3>ANTECEDENTES DE IMPORTANCIA</h3></md-divider>
		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	    	<md-input-container  class="form-item" flex="30">
	            <label>1.- OCUPACIÓN</label>
	            <textarea ng-model="datos.antecedentes.C_OCUPACION" readonly capitalize></textarea>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>2.- DIABETES</label>
	            <textarea ng-model="datos.antecedentes.C_DIABETES" readonly capitalize></textarea>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>3.- HIPERTENSIÓN ARTERIAL</label>
	            <textarea ng-model="datos.antecedentes.C_HIPERTENCION_ARTERIAL" capitalize readonly></textarea>
	        </md-input-container>
		</section>

		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	    	<md-input-container  class="form-item" flex="30">
	            <label>4.- CARDIOPATÍA ISQUÉMICA</label>
	            <textarea ng-model="datos.antecedentes.C_CARDIOPATIA_ISQUEMICA" readonly capitalize ></textarea>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>5.- CÁNCER</label>
	            <textarea ng-model="datos.antecedentes.C_CANCER" readonly capitalize></textarea>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>6.- ALERGIA</label>
	            <textarea ng-model="datos.antecedentes.C_ALERGIA" readonly capitalize></textarea>
	        </md-input-container>
		</section>

		<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
	    	<md-input-container  class="form-item" flex="60">
	            <label>7.- *INGESTIÓN CRÓNICA DE MEDICAMENTOS</label>
	            <textarea name="ingestion" ng-model="datos.motivos[11].C_VALOR"  ng-disabled="!isEditar" required maxlength="2000"  md-maxlength="2000"></textarea>
	            <div class="errors" ng-messages="notaForm.ingestion.$error">
                    <div ng-message="required">CAMPO OBLIGATORIO</div>
                </div>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>8.- *OTROS</label>
	            <textarea name="otros" ng-model="datos.motivos[10].C_VALOR"   ng-disabled="!isEditar" required maxlength="2000"  md-maxlength="2000"></textarea>
	            <div class="errors" ng-messages="notaForm.otros.$error">
                     <div ng-message="required">CAMPO OBLIGATORIO</div>
                </div>
	        </md-input-container>
		</section>
 
		<md-divider><h3>ESTADO ACTUAL DEL PACIENTE</h3></md-divider>

		<fieldset class="standard" style="color: rgba(0,0,0,.87);">
	    	<legend>PRINCIPALES SIGNOS</legend>
		    	 <section layout="" layout-sm="column">
		            <md-input-container flex class="form-item form-item-right">
		                <label>SISTÓLICA (mm de Hg)</label>
		                <input maxlength="3" type="number" name="N_TSN_ART_SISTOLICA" ng-model="datos.estadoActual.N_TSN_ART_SISTOLICA" readonly capitalize>
		            </md-input-container>
		            <md-input-container flex class="form-item form-item-right">
		                <label>DIASTÓLICA (mm de Hg)</label>
		                <input maxlength="3" type="number" name="N_TSN_ART_DIASTOLICA" ng-model="datos.estadoActual.N_TSN_ART_DIASTOLICA" readonly capitalize>
		            </md-input-container>
		          </section>
		          <section layout="" layout-sm="column">
		            <md-input-container flex class="form-item form-item-right">
		                <label>FRECUENCIA CARDIACA (lpm)</label>
		                <input maxlength="3" type="number" name="N_FRC_CARDIACA" ng-model="datos.estadoActual.N_FRC_CARDIACA" readonly capitalize>
		            </md-input-container>
		            <md-input-container flex class="form-item form-item-right">
		                <label>FRECUENCIA RESPIRATORIA (rpm)</label>
		                <input maxlength="3" type="number" name="N_FRC_RESPIRATORIA" ng-model="datos.estadoActual.N_FRC_RESPIRATORIA" readonly capitalize>
		            </md-input-container>
		            <md-input-container flex="20" class="form-item form-item-right">
		                <label>IMC</label>
		                <input name="N_IMC" ng-model="datos.estadoActual.N_IMC" readonly capitalize >
		             </md-input-container>
		          </section>
		          <section layout="" layout-sm="column">
		            <md-input-container flex class="form-item form-item-right">
		                <label>TEMPERATURA (°C)</label>
		                <input name="N_TEMPERATURA" ng-model="datos.estadoActual.N_TEMPERATURA" readonly capitalize>
		            </md-input-container>
		            <md-input-container flex class="form-item form-item-right">
		                <label>PESO (kg)</label>
		                <input name="PESO" ng-model="datos.estadoActual.N_PESO" readonly capitalize>
		            </md-input-container>
		            <md-input-container flex class="form-item form-item-right">
		                <label>TALLA (mts)</label>
		                <input name="TALLA" ng-model="datos.estadoActual.N_TALLA" readonly capitalize>
		             </md-input-container>
		          </section>
		          <md-divider>OBSERVACIONES</md-divider>
		          <section layout="" layout-sm="column">
		            <md-input-container flex class="form-item form-item-right">
		                <label>DESCRIPCIÓN</label>
		                <textarea ng-model="datos.estadoActual.C_OBS_ENFERMERIA" columns="1" readonly capitalize></textarea>
		            </md-input-container>
		          </section>
		</fieldset>

		<fieldset class="standard" style="margin-top:25px; color: rgba(0,0,0,.87);">
			<legend>PADECIMIENTO ACTUAL (SÍNTOMAS)</legend>
	    	<md-input-container class="md-block">
		        <label>PADECIMIENTO ACTUAL (SÍNTOMAS)</label>
		        <textarea ng-model="datos.C_PADECIMIENTO_ACTUAL" columns="1" readonly></textarea>
		    </md-input-container>
	    </fieldset>

		<md-divider><h3>INTERPRETACIÓN AUXILIARES DE DIAGNÓSTICO</h3></md-divider>
	    <div class="md-whiteframe-1dp" style="min-width: 100%; margin-top:20px">
		    <md-data-table-container style="min-width: 50%;">
		      <table md-data-table selectable-rows="false"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
		        <thead md-order="query.order" md-trigger="onOrderInterpretacion">
		          <tr style="background-color:#00b5e2">
		            <th name="ESTUDIO"></th>
		            <th name="RESULTADO"></th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr ng-repeat="(key, value) in datos.auxiliares | orderBy: queryInterpretacion.order | limitTo: queryInterpretacion.limit : (queryInterpretacion.page -1) * queryInterpretacion.limit">
		            <td>{{key}}</td>
		            <td>{{value}}</td>
		          </tr>
		        </tbody>
		      </table>
		    </md-data-table-container>
		    <md-data-table-pagination md-limit="queryInterpretacion.limit" md-page="queryInterpretacion.page" md-total="{{datos.auxiliares.length}}" md-trigger="onOrderInterpretacion" style="min-width: 100%;"></md-data-table-pagination>
		</div>

	    <md-input-container class="md-block">
	        <label>*TRATAMIENTO UTILIZADO</label>
	        <textarea name="tratamiento" ng-model="datos.motivos[8].C_VALOR" columns="1"  ng-disabled="!isEditar" required maxlength="2000"  md-maxlength="2000"></textarea>
	        <div class="errors" ng-messages="notaForm.tratamiento.$error">
                <div ng-message="required">CAMPO OBLIGATORIO</div>
            </div>
	    </md-input-container>

	    <md-divider><h3>MOTIVO DEL ENVÍO</h3></md-divider>

	    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
			<md-checkbox ng-model="datos.motivos[0].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			 1.- SIN RESPUESTA AL<br> TRATAMIENTO
			</md-checkbox>
			<md-checkbox ng-model="datos.motivos[1].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			  2.- COMPLICACIÓN
			</md-checkbox>
			<md-checkbox ng-model="datos.motivos[2].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			  3.- AUXILIARES DE<br> DIAGNÓSTICO
			</md-checkbox>
			<md-checkbox ng-model="datos.motivos[3].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			   4.- RIESGO DE SECUELAS
			</md-checkbox>
			<md-checkbox ng-model="datos.motivos[4].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			 5.- COMPLEMENTACIÓN<br>DIAGNÓSTICA
			</md-checkbox>
			<md-checkbox ng-model="datos.motivos[5].C_VALOR"  ng-disabled="!isEditar" class="md-block" flex="30" style="margin: 15px 0px;">
			  6.- TRATAMIENTO<br>ESPECIALIZADO
			</md-checkbox>
		</section>
	 </form>
	</div>
		<div ng-show="firmar">
			<md-file-input title="SELECCIONAR LLAVE" on-read-file="cargaLlave($fileContent)" id="key" ng-model="key" >
	    	</md-file-input>
	    	<md-file-input title="SELECCIONAR CERTIFICADO" on-read-file="cargaCertificado($fileContent)" id="cer" ng-model="cert" >
	    	</md-file-input>
	  	</div>
	  	<div layout="row" layout-align="center center" ng-show="firmar">
            <md-button class="md-primary md-hue-1" ng-click="sellar()" type="button">SELLAR Y FIRMAR</md-button>
            <md-button class="md-primary md-hue-1"  ng-click="cancelar()" type="button">CANCELAR</md-button>
        </div>

	  	<div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap >
            <md-input-container  class="form-item" flex="15">
               <md-button md-no-ink class="md-raised md-primary" ng-show="isFirmar && !firmar && !showHistorico" ng-click="showFirma()" type="button">FIRMAR</md-button>
             </md-input-container>
            <md-input-container  class="form-item"flex="15" >
               <md-button md-no-ink class="md-raised md-primary" ng-show="isRechazar && !firmar && !showHistorico" ng-click="rechazar()" type="button">RECHAZAR</md-button>
            </md-input-container>
            <md-input-container  class="form-item" flex="15" ng-show="isGuardar && !showHistorico">
                <md-button md-no-ink  class="md-raised md-primary" ng-click="guardar()"  type="button">GUARDAR</md-button>
            </md-input-container>
            <md-input-container  class="form-item" flex="15" ng-show="!showHistorico">
                <md-button md-no-ink ng-click="regresar()" class="md-raised md-primary" >REGRESAR</md-button>
            </md-input-container>
        </div>
   </div>
    
    <section layout="row"   layout-md="" layout-sm="" layout-align="center center" ng-show="listadoReferencias==false" >
      	<md-input-container class="form-item" flex="40">
            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
            <input maxlength="200"  ng-model="buscar" ng-change="ngChangeReferencias()" >
        </md-input-container> 
    </section>

	<section layout="column"  layout-md="" layout-sm="" layout-align="center center" ng-show="listadoReferencias==false">
		
        <div flex>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="queryHistorico.order" md-trigger="onOrderChangeHistorico">
                  <tr>
                  	<td order-by="nota.T_FECHA_CMD">FECHA </td>
                    <td order-by="nota.NP_ID_REFERENCIA">FOLIO</td>
                    <td order-by="nota.C_NOMBRE_PACIENTE">NOMBRE</td>
                    <td order-by="nota.CDESCRIPCION_CIE10">CIE10</td>
                    <td order-by="nota.C_MOTIVO_SUPER"> MOTIVO </td>
                    <td>ESTATUS</th>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr md-auto-select ng-repeat="nota in referenciasList | filter:buscar | orderBy: queryHistorico.order 
					                      | limitTo: queryHistorico.limit: (queryHistorico.page -1 )* queryHistorico.limit ">
                	<td style="text-align: center;">{{nota.T_FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                    <td style="text-align: center;">{{nota.NP_ID_REFERENCIA}}</td>
                    <td>{{nota.C_NOMBRE_PACIENTE }}</td>
                    <td>{{nota.CDESCRIPCION_CIE10}}</td>
                    <td>{{nota.C_MOTIVO_SUPER}}</td>
                    <td style="text-align: center;">{{getEstatusReferencia(nota.NF_ESTATUS)}}</td>
	                <td style="text-align: center;">
                    <md-button class="md-fab md-primary md-hue-2" ng-click="clickNota(nota); rowSelection($index);">
                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                    </md-button>
                	</td>
                  </tr>
                </tbody>
            </table>
            <md-data-table-pagination md-limit="queryHistorico.limit" md-page="queryHistorico.page" md-total="{{referenciasList.length}}" md-trigger="onOrderChangeHistorico"></md-data-table-pagination>
        </md-data-table-container>
    </div>
    </section>


  </md-card-content >
</md-card layout-wrap>




