<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content ng-init="cargarDatos()">
		<section layout="" layout-sm="column">
	   		<md-input-container flex class="form-item form-item-right">
	          	<label>FECHA</label>
	          	<input name="fecha" ng-model="consulta.fecha" disabled>
	        </md-input-container>
	        <md-input-container flex class="form-item form-item-right">
	          	<label>HORA</label>
	          	<input name="hora" ng-model="consulta.hora" disabled>
	        </md-input-container>
	    </section>
	    <section layout="" layout-sm="column">
	    	<label class="form-item">PACIENTE</label>
	    </section>
	    <section layout="" layout-sm="column" layout-wrap>
	    	<md-input-container flex class="form-item form-item-right">
		        <label>NOMBRE</label>
		        <input maxlength="150" name="C_NOMBRE" ng-model="paciente.nombreCompleto" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>ID</label>
		        <input maxlength="20" name="NP_ID" ng-model="paciente.NP_ID" capitalize disabled>
		    </md-input-container>
		    <!--md-input-container flex class="form-item form-item-right">
			    <label>NO. EXPEDIENTE</label>
		        <input maxlength="20" name="idExpediente" ng-model="paciente.idExpediente" capitalize disabled>
		    </md-input-container-->
		    <md-input-container flex class="form-item form-item-right">
			    <label>EXPEDIENTE</label>
		        <input maxlength="50" name="idExpediente" ng-model="paciente.NP_EXPEDIENTE_SIU" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>EDAD</label>
		        <input maxlength="3" name="N_EDAD" ng-model="paciente.N_EDAD" capitalize disabled>
		    </md-input-container>
		    <md-input-container flex class="form-item form-item-right">
		        <label>GÉNERO</label>
		        <input maxlength="50" name="NF_SEXO" ng-model="paciente.NF_SEXO" capitalize disabled>
		    </md-input-container>
		</section>
	  	<form name="signosForm" ng-submit="signosForm.$valid && guardaSignos()">
	  		<md-content class="md-padding">
	    		<md-tabs md-dynamic-height md-border-bottom>
	    			<md-tab label="SIGNOS VITALES">
	    				<section layout="" layout-sm="column">
	    					<label class="form-item">TENSIÓN ARTERIAL</label>
	    				</section>
		    			<section layout="" layout-sm="column" layout-wrap>
		    				<md-input-container flex class="form-item form-item-right">
						        <label>SISTÓLICA (mm de Hg)</label>
						        <input maxlength="3" type="number" name="N_TSN_ART_SISTOLICA" ng-model="nuevo.EXPLORACION_FISICA.N_TSN_ART_SISTOLICA" required>
						    </md-input-container>
		    				<md-input-container flex class="form-item form-item-right">
						        <label>DIASTÓLICA (mm de Hg)</label>
						        <input maxlength="3" type="number" name="N_TSN_ART_DIASTOLICA" ng-model="nuevo.EXPLORACION_FISICA.N_TSN_ART_DIASTOLICA" required>
						    </md-input-container>
		    			
		    				<md-input-container flex class="form-item form-item-right">
						        <label>FRECUENCIA CARDIACA (lpm)</label>
						        <input maxlength="3" type="number" name="N_FRC_CARDIACA" ng-model="nuevo.EXPLORACION_FISICA.N_FRC_CARDIACA" required>
						    </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
						        <label>FRECUENCIA RESPIRATORIA (rpm)</label>
						        <input maxlength="3" type="number" name="N_FRC_RESPIRATORIA" ng-model="nuevo.EXPLORACION_FISICA.N_FRC_RESPIRATORIA" required>
						    </md-input-container>
		    			</section>
		    			<section layout="" layout-sm="column" layout-wrap>
		    				<md-input-container flex class="form-item form-item-right">
						        <label>TEMPERATURA (°C)</label>
						        <input name="N_TEMPERATURA" ng-model="nuevo.EXPLORACION_FISICA.N_TEMPERATURA" required ng-pattern="/^[0-9]{2}(\.\d{0,2}){0,3}$/">
						    </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
						        <label>PESO (KG)</label>
						        <input name="PESO" ng-model="nuevo.EXPLORACION_FISICA.N_PESO" required ng-change="calcularIMC()" ng-pattern="/^[0-9]{1,3}(\.\d{0,3}){0,3}$/">
						    </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
						        <label>TALLA (MTS)</label>
						        <input name="TALLA" ng-model="nuevo.EXPLORACION_FISICA.N_TALLA" required ng-change="calcularIMC()" ng-pattern="/^[0-2](\.[0-9]{0,2}){0,1}$/">
						     </md-input-container>
	    					<md-input-container flex class="form-item form-item-right">
						        <label>IMC</label>
						        <input name="N_IMC" ng-model="nuevo.EXPLORACION_FISICA.N_IMC" disabled required >
						     </md-input-container>
	    				</section>
	    				<section layout="" layout-sm="column" flex layout-wrap>
	    					
							     <md-input-container flex="25" class="form-item form-item-right" >
							        <label>CLASIFICACIÓN</label>
							        <input name="C_CLASIFICACION" ng-model="nuevo.EXPLORACION_FISICA.C_CLASIFICACION" disabled required >
							     </md-input-container>
							     <md-input-container flex="25" class="form-item form-item-right">
							        <label>SATURACIÓN (%)</label>
							        <input name="N_SATURACION" ng-model="nuevo.EXPLORACION_FISICA.N_SATURACION" maxlength="3" type="number" >
							     </md-input-container>
						    
	    				<!--md-divider>OBSERVACIONES</md-divider-->
	    					
			    				<md-input-container flex class="form-item form-item-right">
							        <label>OBSERVACIONES</label>
							        <textarea maxlength="500" md-maxlength="500" name="C_OBS_ENFERMERIA" ng-model="nuevo.EXPLORACION_FISICA.C_OBS_ENFERMERIA" style="padding-bottom: 0px;"/>
							    </md-input-container>
							
		    			</section>
		    			<section layout="" layout-sm="column" layout-align="end center">
		    				<div layout="row" >
						   		<md-button class="md-raised md-primary" type="submit" ng-disabled="!signosForm.$valid">GUARDAR</md-button>
						   	</div>
						</section>
	    			</md-tab>
	    		</md-tabs>
	    	</md-content>
	    </form>
	</md-card-content>
</md-card>
