<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
	</card-toolbar>

	<!-- AREA PARA BUSQUEDA DE LA receta -->

	<div layout="row" layout-align="end center" ng-show="!receta">
	<md-input-container flex class="form-item form-item-right" ng-show="!receta">
		<label>FOLIO DE LA RECETA MÉDICA</label>
		<input type="number"  step="any"  name="" ng-model="C_FOLIO_RECETA" >
	</md-input-container>

		<md-button class="md-raised md-primary" type="button" name="btnBuscar" ng-click="obtenReceta(C_FOLIO_RECETA)"> <!--ng-show="registraForm.btnBuscar.$dirty && showBtnBuscar"-->BUSCAR</md-button>
	</div>


	<md-content layout-padding=""  layout="row" layout-sm="column" ng-if="receta">
		<span flex></span><h4>INFORMACIÓN DEL PACIENTE</h4><span flex></span>
	</md-content>
	<!-- <md-toolbar class="md-accent" ng-if="receta">
	<h2 class="md-toolbar-tools">
	<span>INFORMACIÓN PACIENTE</span>
	</h2>
	</md-toolbar> -->

	<section layout="colum" layout-sm="colum" layout-align="center center" ng-if="receta">
		<div layout="row" style="padding:10px;" layout-wrap >
			<md-input-container flex  class="form-item form-item-right">
					<label>EXPEDIENTE</label>
					<input   maxlength="50" name="NP_ID" ng-model="receta.DATOS_PACIENTE.NP_EXPEDIENTE" capitalize disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right">
					<label>NOTA MEDICA</label>
					<input   maxlength="50" name="NF_NOTA_MEDICA" ng-model="receta.NF_NOTA_MEDICA" capitalize disabled>
			</md-input-container>
		</div>
		<div layout="row" style="padding:10px;" layout-wrap>
			<md-input-container flex class="form-item form-item-right">
					<label>NOMBRE</label>
					<input   maxlength="50" name="" ng-model="receta.DATOS_PACIENTE.C_NOMBRE"  capitalize disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right">
					<label>APELLIDO PATERNO</label>
					<input   maxlength="50" name="" ng-model="receta.DATOS_PACIENTE.C_PRIMER_APELLIDO"  capitalize disabled>
			</md-input-container>
			<md-input-container flex class="form-item form-item-right">
					<label>APELLIDO MATERNO</label>
					<input   maxlength="50" name="" ng-model="receta.DATOS_PACIENTE.C_SEGUNDO_APELLIDO"  capitalize disabled>
			</md-input-container>


			<!-- <md-input-container flex class="form-item form-item-right">
					<label>FECHA DE NACIMIENTO</label>
					<input type="number"  step="any"  maxlength="50" name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize disabled>
			</md-input-container> -->
		</div>
	</section>
		<div layout="row" flex layout layout-align="center center">
			<h1 class="md-title" >{{receta.C_LEYENDA}}</h1>
		</div>

		<form id="userForm" name="userForm" ng-submit="submit()" ng-show="receta" >
		<md-card-content>

			<md-content  layout-padding=""  layout="row" layout-sm="column">
				<span flex></span><h4>OJO DERECHO</h4><span flex></span>
			</md-content>


			<div layout="row" layout-align="center center">

				<div class="md-header-grid" flex="nogrow" style="width:150px;" layout="column">
					<md-input-container flex class="md-block" >**         </md-input-container>
					<md-input-container flex class="md-block" >LEJOS      </md-input-container>
					<md-input-container flex class="md-block" >ADD	      </md-input-container>
					<md-input-container flex class="md-block" >CERCA TOTAL</md-input-container>

				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>ESF</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  id="esfLejos" name="esfLejos" ng-model="sl.ODLEJOSESF"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  name="esfAdd" ng-model="sl.ODADDESF" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODCERCATOTALESF" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>CIL</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODLEJOSCIL" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODADDCIL" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODCERCATOTALCIL" />
					</md-input-container>
				</div>


				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>EJE</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODLEJOSEJE"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODADDEJE" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODCERCATOTALEJE" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>PRISMA</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODLEJOSPRISMA"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODADDPRISMA"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODCERCATOTALPRISMA" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>BASE</div>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"   ng-model="sl.ODLEJOSBASE"  />
					</md-input-container>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl.ODADDBASE" />
					</md-input-container>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"   ng-model="sl.ODCERCATOTALBASE"  />
					</md-input-container>
				</div>
			</div>


			<md-content  layout-padding=""  layout="row" layout-sm="column">
				<span flex></span><h4>OJO IZQUIERDO</h4><span flex></span>
			</md-content>


			<div layout="row" layout-align="center center" >
				<div class="md-header-grid"  layout="column" flex="nogrow" style="width:150px;">

						<md-input-container class="md-block" >**         </md-input-container>
						<md-input-container class="md-block" >LEJOS      </md-input-container>
						<md-input-container class="md-block" >ADD        </md-input-container>
						<md-input-container class="md-block" >CERCA TOTAL</md-input-container>

				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>ESF</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OILEJOSESF"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OIADDESF" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OICERCATOTALESF" />
					</md-input-container>
				</div>
				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>CIL</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OILEJOSCIL" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OIADDCIL" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OICERCATOTALCIL" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>EJE</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OILEJOSEJE"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OIADDEJE" />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OICERCATOTALEJE" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;" layout="column">
					<div class="md-header-grid" flex>PRISMA</div>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OILEJOSPRISMA"  />
					</md-input-container>
					<md-input-container flex class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OIADDPRISMA"  />
					</md-input-container>
					<md-input-container flex  class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OICERCATOTALPRISMA" />
					</md-input-container>
				</div>

				<div flex="nogrow" style="width:100px;">
					<div class="md-header-grid" flex>BASE</div>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"   ng-model="sl1.OILEJOSBASE"  />
					</md-input-container>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"  ng-model="sl1.OIADDBASE" />
					</md-input-container>
					<md-input-container class="md-block" >
						<label></label>
						<input   step="any"   ng-model="sl1.OICERCATOTALBASE"  />
					</md-input-container>
				</div>
			</div>

			<md-content layout-padding=""  layout="row" layout-sm="column">
				<span flex></span><h4>INFORMACIÓN COMPLEMENTARIA</h4><span flex></span>
			</md-content>

			<div layout="row" style="padding:10px;" layout-wrap>
				<md-input-container class="md-block" flex>
					<label>D.I. LEJOS</label>
					<input type="number"  step="any"   ng-model="sl2.D_DI_LEJOS"  />
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>D. I. CERCATOTAL</label>
					<input type="number"  step="any"   ng-model="sl2.D_DI_CERCA"  />
				</md-input-container>
			</div>

			<div layout="row" style="padding:10px;">
				<md-input-container class="md-block" flex>
					<label>COLOR</label>
					<input   ng-model="sl2.C_COLOR"  />
				</md-input-container>
			</div>

			<div layout="row " style="padding:10px;">
				<md-input-container class="md-block" flex>
					<label>OBSERVACIONES</label>
					<textarea maxlength="2000" md-maxlength="2000"name="C_OBSERVACIONES" ng-model="sl2.C_OBSERVACIONES"/>
				</md-input-container>
			</div>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">

			<md-button class="md-warn md-raised" type="button" ng-click="cancel()">Cancelar</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-disabled="saving">Generar solicitud</md-button>
		</md-card-actions>
	</form>
</md-card>
