<md-card layout-wrap class="md-whiteframe-6dp" >
  <md-card-content >
    <md-toolbar class="contentClinico"  ng-click="seleccionar(4)" >
        <div class=" no_selection linkClinico" >
            {{secciones[4].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[4].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(5)" >
        <div class=" no_selection linkClinico" >
            {{secciones[5].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[5].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(6)" >
        <div class=" no_selection linkClinico" >
            {{secciones[6].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[6].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico"  ng-click="seleccionar(7)" >
        <div class=" no_selection linkClinico" >
            {{secciones[7].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[7].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico"  ng-click="seleccionar(8)" >
        <div class=" no_selection linkClinico" >
            {{secciones[8].titulo}}
        </div>
    </md-toolbar>
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[8].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

  </md-card-content>
</md-card>

