<!doctype html>
<html ng-app="expediente">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Expediente clinico electronico</title>
         <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <link href="/images/icons/buap_ico.png" rel="shortcut icon" type="image/x-icon">

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->

        <script src="https://use.fontawesome.com/74b38974bd.js"></script>
        <link rel="stylesheet" href="/application/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic'
              rel='stylesheet' type='text/css'>
                <style>
                .ng-cloak, .x-ng-cloak, [data-ng-cloak], [ng-cloak], [ng:cloak], [x-ng-cloak] {
    display:none!important
}
.no_selection {
    -webkit-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none
}
[disabled] md-input-container .md-input, md-input-container .md-input[disabled] {
    color:rgba(0, 0, 0, .6)
}
.splash {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
    background-color:#123C5D;
    background-repeat:no-repeat;
    background-size:65%;
    background-position:center
}
.spinner, .splash p {
    position:relative;
    text-align:center
}
[ng-cloak].splash {
    display:block!important
}
#mExploracionFisicaTabs .md-tab.ng-scope.ng-isolate-scope, #mExploracionFisicaTabs .md-tab.ng-scope.ng-isolate-scope.md-active {
    max-width:100%!important
}
.splash p {
    top:50%;
    left:0;
    color:#FFF;
    font-size:30px
}
.spinner {
    top:60%;
    margin:100px auto 0;
    width:70px
}
.spinner>div {
    width:14px;
    height:14px;
    background-color:pink;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
    animation:sk-bouncedelay 1.4s infinite ease-in-out both
}
.spinner .bounce1 {
    -webkit-animation-delay:-.32s;
    animation-delay:-.32s
}
.spinner .bounce2 {
    -webkit-animation-delay:-.16s;
    animation-delay:-.16s
}
@-webkit-keyframes sk-bouncedelay {
    0%, 100%, 80% {
        -webkit-transform:scale(0)
    }
    40% {
        -webkit-transform:scale(1)
    }
}
@keyframes sk-bouncedelay {
    0%, 100%, 80% {
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    40% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
body, html {
    height:100%!important
}

                </style>

    </head>

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <body>




        <div class="splash" ng-cloak="">
           <p>CARGANDO APLICACIÓN...</p>
          <div class="spinner">

            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>






        <div layout="column" style="position:fixed; width:100%; height:100%;" class="index" ng-controller="RootCtrl" ng-cloak="">
                 <md-toolbar class="md-whiteframe-12dp" layout="row" ng-controller="SidenavCtrl">


              <div class="md-toolbar-tools">

                <md-button ng-if="state.name !== 'home'" ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
                  <md-icon aria-label="Menu" md-svg-icon="images/icons/svg/menu.svg">
                  </md-icon>
                </md-button>

            
             

              </div>


              <span flex="" class="flex"></span>


    <md-menu ng-if="state.name !== 'home'" >
      <md-button aria-label="Opciones"  ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin="" md-svg-icon="images/icons/svg/ic_more_vert_white_24px.svg"></md-icon>
        {{usr.C_EMAIL}}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button disabled="disabled" ng-click="ctrl.redial($event)">
            <md-icon md-svg-icon="images/icons/svg/ic_settings_black_24px.svg" md-menu-align-target=""></md-icon>
            OPCIONES
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
            <md-icon md-svg-icon="images/icons/svg/ic_help_black_24px.svg"></md-icon>
            MANUAL DE USUARIO
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="acercaDe($event)">
            <md-icon md-svg-icon="images/icons/svg/ic_info_black_24px.svg"></md-icon>
            ACERCA DE
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="logout()">
            <md-icon md-svg-icon="images/icons/svg/ic_close_black_24px.svg"></md-icon>
            CERRAR SESION
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>







        </md-toolbar>


        <div layout="row"  flex>
          <md-sidenav layout="column" ng-if="state.name !== 'home' && state.name !== 'perfil'" class=" md-sidenav-left md-blueframe-z4 menu-background sidenav_custom" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" role="navigation">
              <div class="menu_custom" ui-view="menuView" ></div>
          </md-sidenav>
          <div layout="column" flex id="content">
              <md-content layout="column" ng-if="state.name == 'home'">
                <div ui-view="contentView" class="well animated-view"></div>
              </md-content>
               <md-content layout="column"  ng-if="state.name != 'home'" class="md-padding">
                <div ui-view="contentView" class="well fade"></div>
              </md-content>
          </div>
        </div>

        </div>

<!-- <div ui-view="contentView" style="height: 100%;" ></div> -->


        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->


<script src="/modules/moment-precise-range.js"></script>
    </body>
</html>
