<md-card layout-wrap class="md-whiteframe-6dp" >
    <md-card-content >    
        <fieldset class="standard">
        <md-input-container flex="">
            <legend>GENERAL</legend>
                <textarea ng-model="general"  columns="1" capitalize required ></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>REGIONAL</legend>
                <textarea ng-model="regional"  capitalize required ></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>LOCAL</legend>
                <textarea ng-model="local"  capitalize required ></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>MIXTA</legend>
                <textarea ng-model="mixta"  capitalize required ></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>SEDACIÓN</legend>
                <textarea ng-model="sedacion"  capitalize required ></textarea>
        </fieldset> 
        </md-input-container> 

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" click="guardar()" type="button">GUARDAR</md-button>
        </div>

    </md-card-content>
</md-card>

