
<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >  
        <!-- INFORMACIÓN DE USUARIO -->
   		<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
   			<div layout="column" flex layout >
	       		<div layout="row" flex layout layout-align="center center">
					<h1 class="md-title" >INFORMACIÓN GENERAL</h1>
				</div>

				<div layout="row" flex layout layout-align="center center">
			    	<md-input-container flex class="form-item form-item-right">
				        <label>NOMBRE</label>
				        <input name="C_NOMBRE" ng-model="paciente.nombrePaciente" disabled>
				    </md-input-container>
				    <md-input-container  class="form-item form-item-right">
				        <label>ID</label>
				        <input name="NP_ID" ng-model="paciente.idPaciente" disabled>
				    </md-input-container>
				    <md-input-container  class="form-item form-item-right">
					    <label>NO. EXPEDIENTE</label>
				        <input name="idExpediente" ng-model="paciente.idexpediente" disabled>
				    </md-input-container>
				    <md-input-container  class="form-item form-item-right">
					    <label>EXPEDIENTE SIU</label>
				        <input name="idExpediente" ng-model="paciente.expedienteSIU" disabled>
				    </md-input-container>
				    <md-input-container  class="form-item form-item-right">
				        <label>GÉNERO</label>
				        <input name="NF_SEXO" ng-model="paciente.genero" disabled>
				    </md-input-container>
			    </div>
			</div>
		
 		
	      	<!-- HISTÓRICO DE CAMAS -->
	      	<section layout="row" layout-sm="column" layout-align="center center" ng-show="false">	
	          	<div flex="50">
			        <md-data-table-container>
			            <table md-data-table md-progress="deferred">
			                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
			                  <tr style="background-color:#00b5e2; text-align: center">
			                  	<th width="10%" numeric name="NO. REGISTRO" ></th>
			                  	<th width="10%" numeric name="NO. CAMA" order-by="NF_CAMA"></th>
			                  	<th width="10%" numeric name="SERVICIO" order-by="C_AREAS"></th>
			                  	<th width="10%" numeric name="PISO" order-by="PISO"></th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order 
				                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
			                        <td style="text-align: center">{{$index + 1}}</td>
				                    <td>{{registro.NF_CAMA}}</td>
				                    <td>{{registro.C_AREAS}}</td>
				                    <td>{{registro.PISO}}</td>
			                  </tr>
			                </tbody>                
			            </table>
			            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
		            </md-data-table-container> 
			    </div>
	      	</section>
      	</md-whiteframe>
	    <br>
	    <br>


      	<!-- ASIGNACIÓN DE CAMAS -->
      	<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
   			<div layout="column" flex layout >
	       		<div layout="row" flex layout layout-align="center center">
					<h1 class="md-title" >ASIGNACIÓN DE CAMA</h1>
				</div>

				
			    <form name="asignaCamaForm">
		      		<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap ng-show="catTipoCama.length == 0">	
				        <md-input-container  flex="50"  class="form-item">
				         	<label class="md-display-1">NO SE ENCONTRARON CAMAS</label>
				        </md-input-container> 
				    </section>

				    <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>	
				        <md-input-container  flex="50"  class="form-item">
				         	<label class="md-display-1">{{mensaje}}</label>
				        </md-input-container> 
				    </section>
		      		
		      		<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>	
				        <md-input-container  flex="20"  class="form-item">
				         	<label>ÁREA</label>
					        <md-select  name="area" ng-change="changeArea()" ng-model="area" class="form-item" required>
			                    <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
			                </md-select>
			                <div class="errors" ng-messages="asignaCamaForm.area.$error" ng-if="asignaCamaForm.area.$dirty  && asignaCamaForm.area.$dirty">
						        <div ng-message="required">Requerido</div>
						    </div>
					    </md-input-container> 
					    

					    <md-input-container  flex="20" ng-show="catSeccion.length > 0"  class="form-item" >
				         	<label>SECCIÓN</label>
					        <md-select name="seccion" ng-disabled="editar"  ng-change="changeSeccion()" ng-model="seccion" class="form-item" required>
			               		<md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
			                </md-select>
			                <div class="errors" ng-messages="asignaCamaForm.seccion.$error" ng-if="asignaCamaForm.seccion.$dirty && asignaCamaForm.seccion.$dirty">
						        <div ng-message="required">Requerido</div>
						    </div>
					    </md-input-container>


					    <div ng-repeat="subSecciones in arregloSubseccion">
							<md-input-container  flex="20"  class="form-item"  >
				     			<label>SUBSECCIÓN</label>
						        <md-select flex="15" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item">
				           		 	<md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
				       		 	</md-select>
							</md-input-container>
			            </div>


			            <md-input-container ng-show="catTipoCama.length > 0"   flex="20"  class="form-item" >
				         	<label>TIPO DE CAMA</label>
					        <md-select name="tipo" ng-model="tipoCama" class="form-item"  ng-change="changeTipoCama(tipoCama)" required>
			               		 <md-option ng-value="{{$index}}"  ng-repeat="tipoCama in catTipoCama">{{tipoCama.cDescripcion | uppercase}}</md-option>
			                </md-select>
			                <div class="errors" ng-messages="asignaCamaForm.tipo.$error" ng-if="asignaCamaForm.tipo.$error && asignaCamaForm.tipo.$dirty">
						        <div ng-message="required">Requerido</div>
						    </div>
					    </md-input-container>  

					    <md-input-container ng-show="catCamas.length > 0" flex="20" class="form-item form-item-right">
					        <label>NÚMERO DE CAMA</label>
					         <md-select name="cama" ng-model="cama" class="form-item"  ng-change="changeCama(cama)" required>
			               		 <md-option  ng-value="camas.ID"  ng-repeat="camas in catCamas ">{{camas.cDescripcion | uppercase}}</md-option>
			                </md-select>
					   	</md-input-container>  

					   	<md-input-container ng-show="catCamas.length > 0" flex="20" class="form-item form-item-right">
					        <label>SERVICIO MÉDICO</label>
					         <md-select name="cama" ng-model="servicio" class="form-item"  ng-change="changeServicio(servicio)" required>
			               		 <md-option ng-value="servicio.ID"  ng-repeat="servicio in catServicioMedico">{{servicio.cDescripcion | uppercase}}</md-option>
			                </md-select>
					   	</md-input-container>  
				    </section>

				    <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>	
				        <md-input-container  flex="20"  class="form-item">
				         	<label class="md-display-3">{{C_DESCRIPCION_CAMA}}</label>
				        </md-input-container>   
				    </section>

				    <div layout="row" layout-align="end center" >
			        	<md-button class="md-raised md-warning" ng-click="limpiar()">LIMPIAR</md-button>
			      		<md-button class="md-raised md-primary" ng-click="asignarCama()" ng-disabled="!asignaCamaForm.$valid">ASIGNAR CAMA</md-button>
				    </div>
				</form>	
			</div>
		</md-whiteframe>
	    <br>
	    <br>
	    <div layout="row" layout-align="end center" ng-show="false">
		        <md-button class="md-raised md-warning" ng-click="close()">CERRAR</md-button>
		</div>
 	</md-card-content>
</md-card>
