
  <md-card layout-wrap class="md-whiteframe-6dp">
    <card-toolbar title="{{title}}" canreturn="true">

    </card-toolbar>

      <md-data-table-container>
      <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}">
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="NÚMEOR H" ng-attr-order-by="CP_ID" style="width:{{column.width}}; padding:10px;"></th>
            <th name="NOMBRE" ng-attr-order-by="NOMBRE_COMPLETO" style="width:{{column.width}}; padding:10px;"></th>
            <th name="FOLIO" ng-attr-order-by="NP_ID_CITA" style="width:{{column.width}}; padding:10px;"></th>
            <th name="DESCRIPCIÓN" ng-attr-order-by="PRODUCTO_DESC" style="width:{{column.width}}; padding:10px;"></th>
            <th name="FECHA" ng-attr-order-by="F_FECHA_HORA" ng-attr-descend-first="true"></th>
            <th name="IMPORTE" ng-attr-order-by="D_COSTO" style="width:{{column.width}}; padding:10px;"></th>
            <th ng-if="!carnet" name=""  style="width:{{column.width}}; padding:10px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="data in ctrl.mData | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{data.CP_ID}}</td>
            <td>{{data.NOMBRE_COMPLETO}}</td>
            <td>{{data.NP_ID_CITA}}</td>
            <td>{{data.PRODUCTO_DESC}}</td>
            <td>{{data.F_FECHA_HORA}}</td>
            <td>{{data.D_COSTO | currency }}</td>
            <td>
              <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.detalleCita($event, data)" ng-if="!carnet">
                <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
            </md-button>

            </td>
          </tr>
          <tr ng-show="ctrl.mData.length==0" ><td colspan="7" class="tex-center">NO HAY DATOS</td> </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination  md-limit="query.limit" md-page="query.page" md-total="{{ctrl.mData.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
      </md-card>

