<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >

    <div layout="row">

      <md-data-table-toolbar style="margin: 0px 10%; width:80%;">
        <md-input-container>
          <label>TIPO</label>
          <md-select ng-model="tipo">
            <md-option ng-repeat="tipo in tipos" value="{{tipo.desc}}">{{tipo.desc}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex style="margin: 0px 10%;">
          <label>
            BÚSQUEDA
            <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon> 
          </label>
          <input   ng-model="busqueda" autofocus>
        </md-input-container>

        <md-button class="md-primary md-raised" style="max-width:150px; float:left;" ng-click="getTikets()" flex flex-md="100">
          BUSCAR
        </md-button>
      </md-data-table-toolbar>

    </div>

    <br/>
    <md-data-table-container>
      <table md-data-table selectable-rows="false"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr style="background-color:#00b5e2">
            <th ng-repeat="column in columns " order-by="{{column.orderBy}}" name="{{column.name}}"  style="width:{{column.width}};"></th>
          </tr>
        </thead>
        <tbody>
          <!-- {id:id, NP_ID: mData.NP_ID, FOLIO: mData.FOLIO, DESCUENTO: mData.DESCUENTO, TIPO: mData.TIPO} -->
          <tr ng-repeat="t in tikets | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" style="cursor:pointer; text-decoration: underline;" ng-click="goCarrito(t)">
            <td>{{t.NP_ID}}</td>
            <td>{{user}}</td>
            <td>{{t.PACIENTE}}</td>
            <td>{{t.T_FECHA_CMD | date:'MM/dd/yyyy @ h:mma'}}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tikets.length}}" md-trigger="onOrderChange"></md-data-table-pagination>

  </md-card-content>
</md-card>