<md-dialog aria-label="NUEVA PREGUNTA" >
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>CANCELAR CUENTA PACIENTE</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:1000px;max-height:610px;">
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex="150" class="form-item">
            <h4 class="letras">INGRESA EL MOTIVO DE CANCELACIÓN</h4>
            <textarea maxlength="600" name="motivoCancelacion" ng-model="motivoCancelacion"  capitalize required></textarea>
          </md-input-container>
      </section>
     
    <section layout="row" layout-sm="column" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="cancelandoCuenta()" >CANCELAR</md-button>
    </section>   
    </md-dialog-content>
  </form>
</md-dialog>

