<div layout="row" layout-align="center center">
 <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
  <md-card layout-wrap>
    <md-toolbar md-scroll-shrink>
    <card-toolbar title="CANCELAR SERVICIO" canreturn="true">
      </md-toolbar>
        <form>
      <md-content class="md-padding">
        <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
            <md-input-container style="width:20%">
              <label>CAJERO</label>
                <input ng-model="ctrl.cs.compra.CAJERO" readonly>
            </md-input-container>
            <md-input-container style="width:20%">
              <label>PACIENTE</label>
                <input ng-model="ctrl.cs.compra.PACIENTE" readonly>
            </md-input-container>
            <md-input-container>
              <label>FOLIO</label>
                <input ng-model="ctrl.cs.compra.NP_ID" readonly>
            </md-input-container>
          </md-content>

<!--
          Lista de servicios
 -->
        <md-data-table-toolbar>
            <h2 class="md-title">SERVICIOS ADQUIRIDOS</h2>
            <h2 class="md-title" style="margin-left:auto;">TOTAL: {{ctrl.cs.response.importe_devolver}} </h2>
        </md-data-table-toolbar>

        <md-data-table-container>
          <table md-data-table selectable-rows="false" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order" md-trigger="onOrderChange">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}}; padding:10px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="serv in ctrl.cs.compra.I_PAGOS_SERVICIOS | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" style="background-color : rgb(255,{{serv.colores}},{{serv.colores}}); padding:10px;">
                <td><span ng-show="serv.eliminados" style="padding:10px;">{{serv.eliminados}} / </span>{{serv.N_SERVICIOS}}</td>
                <td style="padding:10px;">{{serv.C_CLAVE}}</td>
                <td style="padding:10px;">{{serv.C_DESCRIPCION}}</td>
                <td style="padding:10px;">{{serv.D_IMPORTE | currency}}</td>
                <td style="padding:10px;">{{serv.D_IMPORTE_TOTAL | currency}}</td>
                <td style="padding:10px;"><md-button class="md-raised md-primary" ng-click="showAdvanced($event,serv,$index)">CANCELAR</md-button></td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.cs.compra.I_PAGOS_SERVICIOS.length}}" md-trigger="onpagechange"></md-data-table-pagination>
<!--
        Termina Lista de servicios
 -->
        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="siguiente()">SIGUIENTE</md-button>
        </section>
      </md-content>
      </form>
      </md-card>
  </div>
</div>
