<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content >
      	<form>
			<md-content class="md-padding" >
				<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
				    <md-input-container style="width:35%;">
				      <label>CAJERO</label>
			      	  <input ng-model="ctrl.mUser.NOMBRE_COMPLETO" readonly capitalize>
				    </md-input-container>
				    <md-input-container style="width:35%;">
				      <label>PACIENTE</label>
			      	  <input ng-model="ctrl.nombrePaciente" readonly capitalize>
				    </md-input-container>

            <md-input-container style="width:35%;">
              <label>ID DE PACIENTE</label>
                <input ng-model="ctrl.paciente_id" readonly capitalize>
            </md-input-container>

   			    </md-content>


			    <form ng-submit="$event.preventDefault()">
			      <p>BUSCA EL SERVICIO POR CLAVE O POR DESCRIPCIÓN</p>
			      <md-autocomplete
			          ng-disabled="ctrl.isDisabled == false && ctrl.idEditCobros == true"
			          md-no-cache="ctrl.noCache"
			          md-selected-item="ctrl.selectedItem"
			          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			          md-search-text="ctrl.searchText"
			          md-selected-item-change="ctrl.selectedItemChange(item)"
			          md-items="item in ctrl.querySearch(ctrl.searchText)"
			          md-item-text="item.display"
			          md-min-length="2"
			          placeholder="Clave o descripción"
                autofocus="true">
			        <md-item-template>
			          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
			        </md-item-template>
			        <md-not-found>
			          NO SE ENCONTRARON RESULTADOS PARA "{{ctrl.searchText}}".
			        </md-not-found>
			      </md-autocomplete>
			      <br/>
			    </form>



<!--
			    Lista de servicios
 -->
 				<md-data-table-toolbar>
		            <h2 class="md-title" style="margin-left:auto;">TOTAL: {{carrito.carrito.total | currency }} </h2>
 				</md-data-table-toolbar>
 				<md-data-table-toolbar>
				    <h2 class="md-title">SERVICIOS SELECCIONADOS</h2>
				  	<md-button class="md-icon-button md-primary" style="margin-left:auto;" ng-show="selected.length" ng-click="eliminarServicio()" aria-label="Elimina registro(s) seleccionado(s)">
					    <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					</md-button>
					<md-button class="md-primary md-raised" style="max-width:150px; float:left;" ng-show="selected.length" ng-click="showAdvanced($event)" flex flex-md="100" >
				    	AGREGAR DESCUENTO
				    </md-button>
				</md-data-table-toolbar>

				<md-data-table-container>
				  <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				    <thead md-order="query.order" md-trigger="onOrderChange">
				      <tr style="background-color:#00b5e2">
				        <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="serv in carrito.carrito.servicios | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
				        <td>
				        	<md-input-container >
						        <input required type="number" step="any" ng-readonly="ctrl.idEditCobros" name="rate"  min="1" max="9999" ng-model="serv.CANTIDAD" ng-change="actualizarCantidad('{{serv.$$hashKey}}')">
						    </md-input-container>
				        </td>
				        <td>{{serv.cClave}}</td>
				        <td>{{serv.C_DESCRIPCIPON}}</td>
				        <td ng-show="serv.cVariable===0">{{serv.D_PESO | currency}}</td>
				        <td ng-show="serv.cVariable===1">
				        	<md-input-container >
						        <input required type="number" step="any" name="rate"  min="0"  ng-model="serv.D_PESO" ng-change="actualizarCantidad('{{serv.$$hashKey}}')">
						      </md-input-container>
				        </td>
				        <td md-cell ng-show="esDerechoHabiente">{{serv.PRESTACION_DERECHO_HABIENTE | currency}}</td>
				        <td>{{serv.D_PESO_TOTAL | currency}}</td>
				      </tr>
				    </tbody>
				  </table>
				</md-data-table-container>

				<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{carrito.carrito.servicios.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
<!--
				Termina Lista de servicios
 -->

 <!--
			    Lista de Descuentos
 -->
 				<md-data-table-toolbar ng-show="carrito.descuentosAll.length">
				    <h2 class="md-title">Servicios seleccionados</h2>
				  	<md-button class="md-icon-button md-primary" style="margin-left:auto;" ng-show="descuentos.length" ng-click="eliminarDescuento()" aria-label="Elimina registro(s) seleccionado(s)">
					    <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					</md-button>
				</md-data-table-toolbar>
				<md-data-table-container ng-show="carrito.descuentosAll.length">
				  <table md-data-table selectable-rows="false"  md-row-select="descuentos"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				    <thead md-order="query2.order" md-trigger="onOrderChange2">
				      <tr style="background-color:#00b5e2">
				        <th ng-repeat="column in descAplicados" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<!-- {id:id, NP_ID: mData.NP_ID, FOLIO: mData.FOLIO, DESCUENTO: mData.DESCUENTO, TIPO: mData.TIPO} -->
				      <tr md-auto-select  ng-repeat="serv in carrito.descuentosAll | orderBy: query2.order | limitTo: query2.limit : (query2.page -1) * query2.limit">
				      	<td  ng-repeat="tipo in ctrl.tipos" ng-if="tipo.id==serv.TIPO">{{ tipo.desc }}</td>
                <td  ng-if="2==serv.TIPO"> </td>
                <td   ng-repeat="f in ctrl.mCatalogos" ng-if="f.ID==serv.NP_ID">{{f.cDescripcion}}</td>
				        <td>{{serv.FOLIO}}</td>
				        <td>{{serv.DESCUENTO | currency }}</td>
				        <td>{{serv.descripcion}}</td>
				        <td>
				        	<div ng-repeat="desc in serv.desc" style="border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border: 1px solid #FFFFFF; background: #E0E0E0; padding: 5px 8px; text-align:center; max-width:80%;">{{desc.cClave}} - {{desc.C_DESCRIPCIPON}}<div>
				        </td>
				      </tr>
				    </tbody>
				  </table>
				</md-data-table-container>
				{{carrito.carrito.descuentosAll.length}}
				<md-data-table-pagination md-limit="query2.limit" md-page="query2.page" md-total="{{carrito.descuentosAll.length}}" md-trigger="onOrderChange2" ng-show="carrito.descuentosAll.length"></md-data-table-pagination>
<!--
				Termina Lista de descuentos
 -->

 				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			      <md-button class="md-raised md-primary" ng-click="siguiente()">Siguiente</md-button>
			    </section>
			</md-content>
	  	</form>
	</md-card-content>
</md-card>
