<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>



  <md-card-content >
      	<form>
			<md-content class="md-padding" >
				<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
				    <md-input-container style="width:35%;">
				      <label>CAJERO</label>
			      	  <input ng-model="ctrl.mUser.NOMBRE_COMPLETO" readonly capitalize>
				    </md-input-container>
				    <md-input-container style="width:35%;">
				      <label>PACIENTE</label>
			      	  <input ng-model="ctrl.nombrePaciente" readonly capitalize>
				    </md-input-container>

            <md-input-container style="width:35%;">
              <label>ID DE PACIENTE</label>
                <input ng-model="ctrl.paciente_id" readonly capitalize>
            </md-input-container>

   			    </md-content>

<div ng-show="ctrl.esUserAdmin">
	

			    <form ng-submit="$event.preventDefault()" >
			      <p>BUSCA EL SERVICIO POR CLAVE O POR DESCRIPCIÓN</p>
			      <md-autocomplete
			          md-no-cache="ctrl.noCache"
			          md-selected-item="ctrl.selectedItem"
			          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			          md-search-text="ctrl.searchText"
			          md-selected-item-change="ctrl.selectedItemChange(item)"
			          md-items="item in ctrl.querySearch(ctrl.searchText)"
			          md-item-text="item.display"
			          md-min-length="2"
			          placeholder="Clave o descripción"
                autofocus="true">
			        <md-item-template>
			          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
			        </md-item-template>
			        <md-not-found>
			          NO SE ENCONTRARON RESULTADOS PARA "{{ctrl.searchText}}".
			        </md-not-found>
			      </md-autocomplete>
			      <br/>
			    </form>

</div>

<!--
			    Lista de servicios  ng-show="ctrl.esUserAdmin"
 -->
 				<md-data-table-toolbar>
		            <h2 class="md-title" style="margin-left:auto;">TOTAL: {{carrito.carrito.total | currency }} </h2>
 				</md-data-table-toolbar>
 				<md-data-table-toolbar>
				    <h2 class="md-title">LISTADO DE SERVICIOS</h2>
				  	<md-button class="md-icon-button md-primary" style="margin-left:auto;" ng-show="selected.length && esNuevoElemento" ng-click="eliminarServicio()" aria-label="Elimina registro(s) seleccionado(s)">
					    <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					</md-button>
					<md-button class="md-primary md-raised" style="max-width:150px; float:left;" ng-show="selected.length && esNuevoElemento" ng-click="showAdvanced($event)" flex flex-md="100" >
				    	AGREGAR DESCUENTO
				    </md-button>
				    <md-button class="md-primary md-raised" style="margin-left:auto;max-width:150px; float:right;" ng-show="selected.length && !esNuevoElemento" ng-click="ctrl.cancelarServicioCuentaPaciente($event)" flex flex-md="100" ng-disabled="desabilitarCancelarServicio" >
				    	CANCELAR SERVICIO
				    </md-button>
				</md-data-table-toolbar>

				<md-data-table-container>






				  <!-- <table md-data-table selectable-rows="false" md-multiple="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" > -->
				   
					<table md-data-table selectable-rows="false" md-multiple="false"  md-progress="deferred">



				    <thead md-order="query.order" md-trigger="onOrderChange">
				      <tr md-row style="background-color:#00b5e2">
				        <th md-column ng-repeat="column in columnsDerechoHabiente" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" ></th>

				      </tr>
				    </thead>
				    <tbody>


  <tr  md-row 
  		md-select="false" 
  		ng-class="{ 'nuevo-elemento': serv.NUEVO }"
  		md-auto-select="false"
  		ng-repeat="serv in carrito.carrito.servicios | orderBy:['-T_FECHA_CMD','ORDEN'] | limitTo: query.limit : (query.page -1) * query.limit">
     	  	<td >  
     	   		<md-checkbox ng-model="serv.it" aria-label="tipo" ng-show="ctrl.esUserAdmin" ng-click="toggle(serv, selected)"></md-checkbox>
            </td>

    		<td md-cell>
				<md-input-container >
					<input required type="number" step="any"  readonly name="rate" aria-label="cantidad" min="1" max="9999" ng-model="serv.CANTIDAD" ng-change="actualizarCantidad('{{serv.$$hashKey}}')">
				</md-input-container>
			 </td>
			<td md-cell>{{serv.cClave}}</td>
			<td  md-cell>{{serv.C_DESCRIPCIPON}}</td>
			<td  md-cell>{{serv.T_FECHA_CMD}}</td>
			<td md-cell ng-show="serv.cVariable===0">{{serv.D_PESO | currency}}</td>
			<td md-cell ng-show="serv.cVariable===1">
				<md-input-container >
					<input required type="number" step="any" name="rate" aria-label="peso"  min="0" ng-readonly="!serv.NUEVO"  ng-model="serv.D_PESO" ng-change="actualizarCantidad('{{serv.$$hashKey}}')">
				</md-input-container>
			</td>
			<td md-cell ng-show="esDerechoHabiente">{{serv.PRESTACION_DERECHO_HABIENTE | currency}}</td>

			<td md-cell >
				
		      	<span ng-repeat="chip in serv.listadoSeg" >| {{ chip.seguro | uppercase }}:  {{ chip.aportacion | currency }} <br>  </span>

			</td>


			<td md-cell>{{serv.D_PESO_TOTAL | currency}}</td>
			<!-- <td md-cell>{{serv}}</td> -->
   
  </tr>

				    </tbody>
				  </table>


				</md-data-table-container>

				<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{carrito.carrito.servicios.length}}" ></md-data-table-pagination>
<!--
				Termina Lista de servicios
 -->

 <!--
			    Lista de Descuentos
 -->
 				<md-data-table-toolbar ng-show="carrito.descuentosAll.length">
				    <h2 class="md-title">Servicios seleccionados</h2>
				  	<md-button class="md-icon-button md-primary" style="margin-left:auto;" ng-show="descuentos.length && ctrl.esUserAdmin" ng-click="eliminarDescuento()" aria-label="Elimina registro(s) seleccionado(s)">
					    <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					</md-button>
				</md-data-table-toolbar>
				<md-data-table-container ng-show="carrito.descuentosAll.length">
				  <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				    <thead md-order="query2.order" md-trigger="onOrderChange2">
				      <tr style="background-color:#00b5e2">
				        <th ng-repeat="column in descAplicados" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
				      </tr>
				    </thead>
				    <tbody>
				  
				      <!-- <tr md-auto-select ng-show="serv.tipo !=2 && serv.DESCRIPCION != 'D'"  ng-repeat="serv in carrito.descuentosAll | orderBy: query2.order | limitTo: query2.limit : (query2.page -1) * query2.limit"> -->
				      <tr md-auto-select ng-repeat="serv in carrito.descuentosAll | orderBy: query2.order | limitTo: query2.limit : (query2.page -1) * query2.limit">
				      <!-- <td> 
			     	   		<md-checkbox ng-model="serv.it" ng-click="toggle(serv, selectedDescuento)"></md-checkbox>
			            </td> -->

				      	<td  ng-repeat="tipo in ctrl.tipos" ng-if="tipo.id==serv.TIPO">{{ tipo.desc }}</td>
		                <td  ng-if="2==serv.TIPO"></td>
		             
		                <td    ng-repeat="f in ctrl.mCatalogos" ng-if="f.ID==serv.NP_ID && 1==serv.TIPO">{{f.cDescripcion}}</td>
				        <td>{{serv.FOLIO}}</td>
				        <td>{{serv.DESCUENTO | currency }}</td>
				        <td>{{serv.DESCRIPCION}}</td>
				        

				        <td>
				        	<div ng-repeat="desc in serv.desc" style="border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border: 1px solid #FFFFFF; background: #E0E0E0; padding: 5px 8px; text-align:center; max-width:80%;">{{desc.cClave}} - {{desc.C_DESCRIPCIPON}}<div>
				        </td>
				      </tr>
				    </tbody>
				  </table>
				</md-data-table-container>
				{{carrito.carrito.descuentosAll.length}}
				<md-data-table-pagination md-limit="query2.limit" md-page="query2.page" md-total="{{carrito.descuentosAll.length}}" md-trigger="onOrderChange2" ng-show="carrito.descuentosAll.length"></md-data-table-pagination>
<!--
				Termina Lista de descuentos
 -->














 				<section layout="row" layout-sm="column" layout-align="center center" ng-show="ctrl.esUserAdmin" layout-wrap>
			      <md-button class="md-raised md-primary" ng-disabled="desabilitarGuardarCambios" ng-click="ctrl.guardarCambios()">GUARDAR CAMBIOS</md-button>
			    </section>


			</md-content>
	  	</form>
	</md-card-content>
</md-card>
