<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>



<div layout="row" layout-margin >
  <div flex flex-order="1" class="color-graf-n md-whiteframe-3dp" flex-order-gt-md="3" layout-padding>
    <p show hide-gt-md>[flex-order="1"]</p>
    <p hide show-gt-md>[flex-order-gt-md="3"]</p>
  </div>
  <div flex flex-order="2" class="color-graf-a md-whiteframe-3dp" layout-padding style="color:white">
    <p>[flex-order="2"]</p>
  </div>
  <div flex flex-order="3" class="color-graf-m md-whiteframe-3dp" flex-order-gt-md="1" layout-padding>
    <p show hide-gt-md>[flex-order="3"]</p>
    <p hide show-gt-md>[flex-order-gt-md="1"]</p>
  </div>
</div>

<md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order" md-trigger="onOrderChange">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="serv in ctrl.mListaDeServicios | filter:ctrl.mDescripcion | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >

                <td>{{serv.cClave}}</td>
                <td>{{serv.cDescripcion}}</td>
                <td>{{serv.categoria }}</td>
                <td>{{serv.dCosto | currency}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.mListaDeServicios.length}}" md-trigger="onOrderChange"></md-data-table-pagination>





</md-content>
