<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:50%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row" layout-align="center center">
							<br>LISTA DE CONVENIOS
			            </section>
		        	</md-toolbar>
				    <md-input-container  flex="20"  class="form-item" >
				         	<label>CONVENIOS</label>
					        <md-select name="seccion"   ng-change="changeCategoriaConvenio(convenio)" ng-model="convenio" class="form-item" required>
			               		<md-option ng-value="convenio.ID"  ng-repeat="convenio in catConvenios">{{convenio.cDescripcion | uppercase}}</md-option>
			                </md-select>
			               <!--  <div class="errors" ng-messages="asignaCamaForm.seccion.$error" ng-if="asignaCamaForm.seccion.$dirty && asignaCamaForm.seccion.$dirty">
						        <div ng-message="required">Requerido</div>
						    </div> -->
					</md-input-container>
					<md-input-container flex="20" class="form-item" ng-show="showlistaConvenios">
				            <section layout="" layout-sm="column">
                                <md-autocomplete
                                    md-no-cache="noCache"
                                    md-selected-item="selectedItem"
                                    md-search-text="searchText"
                                    md-selected-item-change="selectedItemChange(item,0)"
                                    md-items="item in querySearch(searchText,0)"
                                    md-item-text="item.display"
                                    md-min-length="1"
                                    md-floating-label="NOMBRE DEL CONVENIO"
                                    flex>
                                <md-item-template capitalize>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                </md-autocomplete>
                            </section>
				    </md-input-container>

				    <md-data-table-container ng-show="showConvenios">
					    <table md-data-table selectable-rows="true" md-row-select="selectedConvenios"  md-progress="deferredDos"  >	
						    <thead md-order="queryDos.order" md-trigger="onOrderChangeDos" class="table-heading">
						        <tr style="background-color:#00b5e2">
							        <td numeric >NOMBRE</td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr md-auto-select ng-repeat="registro in tablaConvenios  | filter:busqueda2 | orderBy: queryDos.order 
						                  | limitTo: queryDos.limit: (queryDos.page -1 )* queryDos.limit" ng-class="md-warn" >
						          <td>{{registro.C_DESCRIPCION}}</td>
						          <td ng-show="false">{{registro.NP_ID}}</td>	
						          <td ng-show="false">{{registro.NP_ID_CAUSE}}</td>	
						          <td ng-show="false">{{registro.cClave}}</td>	
						        </tr>
						    </tbody>                
						</table>
					</md-data-table-container>
					<md-data-table-pagination md-limit="queryDos.limit" md-page="queryDos.page" md-total="{{listaConvenios.length}}" md-trigger="onOrderChangeDos" ng-show="showConvenios"></md-data-table-pagination>
				</md-card layout-wrap>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:50%;" >
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row"  layout-align="center center">
							<br>LISTA HU
			            </section>
		        	</md-toolbar>
		        	<md-input-container flex="20" class="form-item">
				            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
				            <input maxlength="60"  ng-model="busqueda" >
				    </md-input-container>
		        	
					<form name="formAsignacion" novalidate>
			            <md-data-table-container>
						   <table md-data-table selectable-rows="true" md-row-select="selectedHU"  md-progress="deferred" ng-show="showServicios">	
						      <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
						        <tr style="background-color:#00b5e2">
							        <td order-by="C_DESCRIPCION" >NOMBRE</td>
						    	</tr>
						      </thead>

						      <tbody>
						        <tr md-auto-select ng-repeat="registro in listaHU | filter:busqueda |  orderBy: query.order 
							                  | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
						        	<td>{{registro.C_DESCRIPCION}}</td>	
						        	<td ng-show="false">{{registro.NP_PAGO}}</td>	
							        <td ng-show="false">{{registro.NP_SERVICIO_PRODUCTO}}</td>	
							        <td ng-show="false">{{registro.NP_ALM_I_CUENTA_ARTICULO}}</td>
							        <td ng-show="false">{{registro.C_DESCRIPCION}}</td>			
						        </tr>

						      </tbody>                
							    </table>
						</md-data-table-container>
						<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{listaHU.length}}" md-trigger="onOrderChange" ng-show="showServicios"></md-data-table-pagination>
		            </form>
				</md-card layout-wrap> 
			</md-whiteframe>
		</div>  

		<div layout="column" layout-sm="column" layout-margin>
		<!-- 	<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:100%;">
		 -->	<div layout="row" layout-align="end center">
				     <md-button class="md-raised md-primary" ng-click="realizarMatch()">REALIZAR MATCH</md-button>		
				</div>
			<!-- </md-whiteframe> -->
		</div>  

		<div layout="column" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:100%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row"  layout-align="center center">
							<br>MATCH
			            </section>
		        	</md-toolbar>
		        	<md-input-container flex="20" class="form-item" >
				            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
				            <input maxlength="60"  ng-model="busqueda3"  ng-change="change(1)" >
				    </md-input-container>
		        	
					<form name="formAsignacion" novalidate>
						<md-data-table-toolbar class="alternate" ng-show="selectedMatch.length">
						    <md-button class="md-icon-button md-primary" ng-click="eliminarMatch(selectedMatch)" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>
				        </md-data-table-toolbar>

			            <md-data-table-container>
						   <table md-data-table selectable-rows="true" md-row-select="selectedMatch"  md-progress="deferred" >	
						      <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
						        <tr style="background-color:#00b5e2">
						        	<td numeric >CATEGORÍA</td>
							        <td order-by="C_DESCRIPCION_PRODUCTO" >NOMBRE</td>
						    	</tr>
						      </thead>

						      <tbody>
						        <tr md-auto-select ng-repeat="registro in match | filter:busqueda3 |  orderBy: query3.order 
							                  | limitTo: query3.limit: (query.page -1 )* query3.limit" ng-class="md-warn">
						        	<td>{{registro.C_DESCRIPCION}}</td>
						        	<td ng-show="false">{{registro.NP_ID}}</td>
						        	<td ng-show="false">{{registro.NP_ID_CAUSE}}</td>	
						        	<td>{{registro.C_DESCRIPCION_PRODUCTO}}</td>		
						        	<td ng-show="false">{{registro.NP_PAGO}}</td>
						        	<td ng-show="false">{{registro.NP_SERVICIO_PRODUCTO}}</td>	
						        	<td ng-show="false">{{registro.NP_TMEDICAMENTO_RECETA}}</td>	
						        	<td ng-show="false">{{registro.C_DESCRIPCION_PRODUCTO}}</td>		
						        </tr>
						      </tbody>                
							    </table>
						</md-data-table-container>

						<md-data-table-pagination md-limit="query3.limit" md-page="query3.page" md-total="{{match.length}}" md-trigger="onOrderChange" ng-show="match.length"></md-data-table-pagination>
		            </form>
				</md-card layout-wrap> 
			</md-whiteframe>
		</div>  		
	</md-card-content>
		<div layout="row" layout-align="end center">
		    <md-button class="md-raised md-primary" ng-click="guardarMatch()">GUARDAR</md-button>		
		</div>
	<md-card-content>
		
	</md-card-content>
</md-card>
