  <md-card layout-wrap>
    <card-toolbar title="{{title}}" canreturn="true">
      </card-toolbar>
        <form name="registraForm" ng-show="ctrl.camaAsignada==false">
      <md-card-content ng-init="verPaciente()">
          <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item">
                <label>NO ID</label>
                <input maxlength="50" name="NP_ID" ng-model="paciente.NP_ID" required ng-disabled="!isEdit">
              </md-input-container>
              <md-input-container flex class="form-item">
                <label>EXPEDIENTE</label>
                <input  maxlength="30" name="N_EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" required ng-disabled="!isEdit">
              </md-input-container>
          </section>

          <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item">
                <label>NOMBRE (S)</label>
                <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required ng-disabled="!isEdit">
              </md-input-container>
              <md-input-container flex class="form-item">
                <label>APELLIDO PATERNO</label>
                <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-disabled="!isEdit">
              </md-input-container>
              <md-input-container flex class="form-item form-item-right">
                <label>APELLIDO MATERNO</label>
                <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-disabled="!isEdit">
              </md-input-container>
          </section>

          <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item form-item-right" ng-if="!isEdit">
                <label>FECHA DE NACIMIENTO</label>
                <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" ng-disabled="!isEdit">
              </md-input-container>
              <md-input-container flex class="form-item form-item-right" ng-if="isEdit">
                <label>FECHA DE NACIMIENTO</label>
                <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required>
              </md-input-container>
          </section>

          <section ng-show="ctrl.derechoHabiente" layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
            <md-switch ng-show="ctrl.derechoHabiente" ng-model="ctrl.seguroPopular" aria-label="CUENTA CON SEGURO POPULAR">
                SEGURO POPULAR
            </md-switch>
          </section>
          <section ng-show="ctrl.seguroPopular" layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container  flex="30" ng-show="ctrl.tipoCauses.length > 0"  class="form-item" >
                <label>TIPO DE CONVENIO</label>
                <md-select name="seccion"   ng-change="changeArea(cause)" ng-model="ctrl.cause" class="form-item" required>
                      <md-option ng-value="cause.ID"  ng-repeat="cause in ctrl.tipoCauses">{{cause.cDescripcion | uppercase}}</md-option>
                </md-select>
                  <div class="errors" ng-messages="asignaCamaForm.seccion.$error" ng-if="asignaCamaForm.seccion.$dirty && asignaCamaForm.seccion.$dirty">
                  <div ng-message="required">REQUERIDO</div>
                  </div>
              </md-input-container> 

              <md-select placeholder="PARENTESCO"  flex="30" ng-model="ctrl.parentesco" class="form-item" md-on-open="loadArea()" required>
                  <md-option ng-value="{{$index}}"  ng-repeat="p in ctrl.tipoParentesco">{{p.cDescripcion}}</md-option>
              </md-select>


              <md-input-container flex="30" class="form-item form-item-right">
                <label>APOYO ESTIMADO</label>
                <input name="C_APOYO" ng-model="ctrl.apoyoEstimado" type="number" >
              </md-input-container>
           </section>

           <section ng-show="ctrl.seguroPopular" layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item form-item-right">
                <label>ID SEGURO POPULAR</label>
                <input name="C_SEGURO_ID" ng-model="ctrl.idSeguroPopular"  >
              </md-input-container>


              <md-input-container flex class="form-item form-item-right">
                <label>NÚMERO DE POLIZA</label>
                <input name="C_POLIZA" ng-model="ctrl.polizaSeguro"  >
              </md-input-container>

              <md-input-container flex class="form-item form-item-right">
                <label>OBSERVACIONES</label>
                <textarea name="OBSERVACIONES" ng-model="ctrl.C_OBSERVACIONES"  ></textarea>
              </md-input-container>
          </section>

          <section ng-show="ctrl.derechoHabiente" layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
            <!--   <md-input-container flex="20" class="form-item form-item-right">
                <label>ANTICIPO</label>
                <input name="C_ANTICIPO" type="number" ng-change="validAnticipo()" ng-model="ctrl.anticipoPaciente" >
              </md-input-container> -->

              <md-switch ng-show="ctrl.derechoHabiente" ng-model="ctrl.solicitaAutorizacion" aria-label="Solicita Autorizacion">
                AUTORIZACIÓN PARA NO CUBRIR EL IMPORTE EN SU TOTALIDAD
              </md-switch>

              <md-input-container flex class="form-item form-item-right">
                <label>AUTORIZACIÓN</label>
                <textarea name="C_ANTICIPO" ng-model="ctrl.autorizacionPaciente" ng-disabled="!ctrl.solicitaAutorizacion"></textarea>
              </md-input-container>
          </section>

          <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="ctrl.crearCuentaPaciente()">CREAR CUENTA PACIENTE</md-button>
          </div>
        </md-card-content>
      </form>


      </md-card>
