<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>
  <md-card-content  class="md-whiteframe-3dp">
    <h4 class="letras">DATOS DEL PACIENTE</h4>
        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex class="form-item">
            <label>NP ID</label>
            <input maxlength="50" name="NP_ID" ng-model="paciente.NP_ID"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <label>EXPEDIENTE</label>
            <input  maxlength="30" name="N_EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE"  capitalize readonly>
          </md-input-container>
        </section>
        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap readonly>
          <md-input-container flex class="form-item">
            <label>NOMBRE (S)</label>
            <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <label>APELLIDO PATERNO</label>
            <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item form-item-right">
            <label>APELLIDO MATERNO</label>
            <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item form-item-right">
            <label>FECHA DE NACIMIENTO</label>
            <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize readonly>
          </md-input-container>
        </section>
        <section layout="row" layout-align="start center" layout-md="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex class="form-item">
            <label>CALLE</label>
            <input name="C_CALLE" ng-model="paciente.C_CALLE"  readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <label>NÚMERO EXTERIOR</label>
            <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR"  readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <label>NÚMERO INTERIOR</label>
            <input name="C_NO_INTERIOR" g-model="paciente.C_NO_INTERIOR"  readonly>
          </md-input-container>
          <md-input-container flex class="form-item form-item-right">
            <label>COLONIA</label>
            <input name="C_COLONIA" ng-model="paciente.C_COLONIA"  readonly>
          </md-input-container>
        </section>

        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
            <h4 class="letras">DATOS DE LA CUENTA</h4>
        </section>

        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item">
                <label>CUENTA</label>
                <input  maxlength="30" name="ESTANCIA" ng-model="ctrl.mCuentaPaciente.T_CUENTA_PACIENTE.NP_ID"  readonly>
            </md-input-container>
            <md-input-container flex class="form-item">
                <label>ESTANCIA (ACTUAL)</label>
                <input  maxlength="30" name="ESTANCIA" ng-model="ctrl.mCuentaPaciente.I_HOSPITALIZACION_PACIENTE[0].C_AREA_SERVICIO"  readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label>TIPO</label>
                <input  maxlength="30" name="TIPO" ng-model="ctrl.mCuentaPaciente.T_PACIENTE.C_TIPO_PACIENTE"  readonly>
            </md-input-container>

            <md-input-container flex class="form-item">
                <label>ESTATUS</label>
                <input  maxlength="30" name="ESTATUS" ng-model="ctrl.NF_ESTATUS"  readonly>
            </md-input-container>
        </section>

          
        <section layout="row" layout-align="start center" ng-show="ctrl.isDerechoHabiente==false" layout-sm="column" layout-align="center center" layout-wrap>
            <h4 class="letras">SEGURO(S) : </h4>
            <md-switch ng-disabled="habilitarSwitchPrivado" ng-model="ctrl.tieneSeguroPrivado" aria-label="Switch 1">  </md-switch>
        </section>
        
        <section  layout="row" ng-show="ctrl.tieneSeguroPrivado && ctrl.isDerechoHabiente==false"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
          <h4 flex>Seleccionar seguro(s) con el que cuenta paciente: </h4>
          <div flex>
            <md-checkbox 
                  ng-checked="item.selected" 
                  ng-disabled="ctrl.editSeguros" 
                  ng-click="selectedSeguro(item)" 
                  ng-repeat="item in ctrl.catalogoSeguros">
              {{ item.nombre_largo }}
            </md-checkbox>
          </div>
        </section>

        <section  layout="row"  ng-show="ctrl.tieneSeguroPrivado && ctrl.isDerechoHabiente==false && ctrl.editSeguros != true" layout-md="" layout-sm="" layout-align="end center" layout-wrap>
              <md-button class="md-raised md-primary" ng-click="cancelarSeguroPrivado()" ng-disabled="ctrl.tieneSeguroPrivado">CANCELAR</md-button>
              <md-button class="md-raised md-primary" ng-click="guardarSeguroPrivado()">GUARDAR</md-button>
        </section>

      

       <!--  <section layout="row" layout-align="start center" ng-show="ctrl.isDerechoHabiente==false" layout-sm="column" layout-align="center center" layout-wrap>
            <h4 class="letras">SEGURO POPULAR </h4>
            <md-switch ng-disabled ="habilitarSwitch" ng-click="activarSeguro()"  ng-model="ctrl.tieneSeguroPopular" aria-label="Switch 1">  </md-switch>
        </section> -->



<!--           <section ng-show="ctrl.derechoHabiente" layout="row"  layout-md="" layout-sm="" layout-align="center center" layout-wrap>
            <md-switch ng-show="ctrl.derechoHabiente" ng-model="ctrl.seguroPopular" aria-label="CUENTA CON SEGURO POPULAR">
                SEGURO POPULAR
            </md-switch>
          </section> -->
          <section  layout="row" ng-show="ctrl.tieneSeguroPopular && ctrl.isDerechoHabiente==false"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>


             <md-input-container flex ng-show="!ctrl.actualizarCauses" class="form-item form-item-right">
                <label>TIPO DE CONVENIO</label>
                <input name="C_POLIZA" readonly  ng-model="tipoConvenio"  >
              </md-input-container>

              <md-input-container flex ng-show="!ctrl.actualizarCauses" class="form-item form-item-right">
                <label>PARENTESCO</label>
                <input name="C_APOYO" readonly ng-model="parentescoSeguro" >
              </md-input-container>


              <md-input-container ng-show="ctrl.actualizarCauses" flex  class="form-item" >
                <label>TIPO DE CONVENIO</label>
                <md-select name="seccion" ng-change="verificarValido()" ng-model="ctrl.cause" class="form-item" required>
                      <md-option ng-value="cause.ID"  ng-repeat="cause in ctrl.tipoCauses">{{cause.cDescripcion | uppercase}}</md-option>
                </md-select>
                  <div class="errors" ng-messages="asignaCamaForm.seccion.$error" ng-if="asignaCamaForm.seccion.$dirty && asignaCamaForm.seccion.$dirty">
                  <div ng-message="required">REQUERIDO</div>
                  </div>
              </md-input-container> 

              <md-select placeholder="PARENTESCO" ng-show="ctrl.actualizarCauses" flex ng-model="ctrl.parentesco" class="form-item" ng-change="verificarValido()" required>
                  <md-option ng-value="p.ID" ng-repeat="p in ctrl.tipoParentesco">{{p.cDescripcion}}</md-option>
              </md-select>


              <md-input-container flex class="form-item form-item-right">
                <label>NÚMERO DE POLIZA</label>
                <input name="C_POLIZA" ng-readonly="!ctrl.actualizarCauses" ng-change="verificarValido()" ng-model="ctrl.polizaSeguro"  >
              </md-input-container>

              <md-input-container ng-show="!ctrl.actualizarCauses" flex class="form-item form-item-right">
                <label>APOYO ESTIMADO</label>
                <input name="C_APOYO" ng-readonly="!ctrl.actualizarCauses" ng-model="ctrl.apoyoEstimadoS">
              </md-input-container>

              <md-input-container ng-show="ctrl.actualizarCauses" flex class="form-item form-item-right">
                <label>APOYO ESTIMADO</label>
                <input name="C_APOYO" ng-change="verificarValido()" ng-model="ctrl.apoyoEstimado" type="number" >
              </md-input-container>

           </section>

           <section  ng-show="ctrl.tieneSeguroPopular && ctrl.isDerechoHabiente==false" layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item form-item-right">
                <label>OBSERVACIONES</label>
                <textarea name="OBSERVACIONES" ng-change="verificarValido()" ng-readonly="!ctrl.actualizarCauses"  ng-model="ctrl.C_OBSERVACIONES"  ></textarea>
              </md-input-container>
          </section>

          <section  layout="row"  ng-show="ctrl.tieneSeguroPopular && !ctrl.eliminarSegPopular && ctrl.isDerechoHabiente==false" layout-md="" layout-sm="" layout-align="end center" layout-wrap>
              <md-button class="md-raised md-primary" ng-show="!ctrl.actualizarCauses" ng-click="actualizarSeguroActivar()">ACTUALIZAR DATOS</md-button>
              <md-button class="md-raised md-primary" ng-show="ctrl.actualizarCauses" ng-click="actualizarSeguroCancelar()">CANCELAR</md-button>
              <md-button class="md-raised md-primary" ng-show="ctrl.actualizarCauses" ng-disabled="causeValido" ng-click="actualizarSeguro()">GUARDAR</md-button>
          </section>

          <section  layout="row"  ng-show="ctrl.eliminarSegPopular && ctrl.isDerechoHabiente==false" layout-md="" layout-sm="" layout-align="end center" layout-wrap>
              <md-button class="md-raised md-primary"   ng-click="eliminarSeguro()">ELIMINAR SEGURO POPULAR</md-button>
          </section>




<!-- 


        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item">
                <label>FOLIO</label>
                <input  maxlength="30" name="ESTANCIA" ng-model="ctrl.mCuentaPaciente.CONVENIO_CAUSE.C_FOLIO"  readonly>
            </md-input-container>
            <md-input-container flex class="form-item">
                <label>TIPO</label>
                <input  maxlength="100" name="ESTANCIA" ng-model="ctrl.mCuentaPaciente.CONVENIO_CAUSE.C_TIPO_CAUSE"  readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label>PARENTESCO</label>
                <input  maxlength="100" name="TIPO" ng-model="ctrl.mCuentaPaciente.CONVENIO_CAUSE.C_RELACION_PACIENTE"  readonly>
            </md-input-container>

             <md-input-container flex class="form-item form-item-right">
                <label>MONTO ESTIMADO</label>
                <input  maxlength="100" name="TIPO" ng-model="ctrl.mCuentaPaciente.CONVENIO_CAUSE.D_MONTO"  readonly>
            </md-input-container>
        </section> -->

        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <h4 class="letras">INGRESO</h4>
        </section>
        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container flex class="form-item">
                <label>FECHA DE INGRESO</label>
                <input  maxlength="30" name="FECHA_INGRESA" ng-model="ctrl.D_FECHA_APERTURA"  readonly>

            </md-input-container>
            <md-input-container flex class="form-item">
                <label>HORA</label>
                <input  maxlength="30" name="HORA" ng-model="ctrl.D_HORA_APERTURA"  readonly>

            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
                <label>DIAGNOSTICO</label>
                <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.mCuentaPaciente.INGRESO.DIAGNOSTICO" capitalize readonly>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right" ng-if="!isEdit">
                  <label>SERVICIO</label>
                  <input name="SERVICIO" ng-model="ctrl.mCuentaPaciente.I_HOSPITALIZACION_PACIENTE[ctrl.mCuentaPaciente.I_HOSPITALIZACION_PACIENTE.length -1].C_AREA_SERVICIO" capitalize readonly>
              </md-input-container>
            <md-input-container flex class="form-item">
                <label>CAPTURA INGRESO</label>
                <input  maxlength="30" name="CAPTURA_INGRESO" ng-model="ctrl.mCuentaPaciente.INGRESO.NF_USUARIO"  readonly>
            </md-input-container>
            <md-input-container flex class="form-item">
                <label>FECHA CAPTURA</label>
                <input  maxlength="30" name="FECHA_CAPTURA" ng-model="ctrl.mCuentaPaciente.INGRESO.T_FECHA_CMD_INGRESO"  readonly>
            </md-input-container>
        </section>

        <section ng-show="ctrl.mCuentaPaciente.T_CUENTA_PACIENTE.NF_ESTATUS == 0"  layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
            <h4 class="letras">EGRESO</h4>
        </section>
        <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" ng-show="ctrl.mCuentaPaciente.T_CUENTA_PACIENTE.NF_ESTATUS == 0" layout-wrap>
              <md-input-container flex class="form-item">
                  <label>FECHA DE EGRESO</label>
                  <input  maxlength="30" name="FECHA_EGRESO" ng-model="paciente.C_PRIMER_APELLIDO"   readonly>
              </md-input-container>
              <md-input-container flex class="form-item">
                  <label>DIAGNOSTICO</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="tCuentaPaciente.INGRESO.DIAGNOSTICO"  readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right">
                  <label>CAUSA</label>
                  <input  maxlength="30" name="CAUSA" ng-model="paciente.C_SEGUNDO_APELLIDO"  readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right" ng-if="!isEdit">
                    <label>USUARIO</label>
                    <input name="USUARIO" ng-model="paciente.F_FECHA_DE_NACIMIENTO"  readonly>
              </md-input-container>
        </section>


         <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
             <label class="letras">ESTATUS DE LA CUENTA</label>
        </section>

        <section layout="row" layout-align="start center" ng-show="ctrl.isCuentaPacienteActiva == 1 || ctrl.isCuentaPacienteActiva == 3" layout-sm="column" layout-align="center center"  layout-wrap>
              <md-input-container flex class="form-item">
                  <label>IMPORTE CUENTA PACIENTE (HASTA ESTE MOMENTO)</label>
                  <input  maxlength="30" name="FECHA_EGRESO" ng-model="ctrl.totalDeCuentaPaciente"  readonly>
              </md-input-container>
              <md-input-container flex ng-show="ctrl.isDerechoHabiente==false || (ctrl.isDerechoHabiente && ctrl.abonosDeCuentaPaciente>0) " class="form-item">
                  <label>TOTAL DE ABONOS (HASTA ESTE MOMENTO)</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.abonosDeCuentaPaciente"  readonly>
              </md-input-container>
              <md-input-container ng-show="ctrl.isDerechoHabiente" flex class="form-item">
                  <label>PRESTACION DE SERVICIOS (DERECHO HABIENTE)</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.prestacionDeServicios"  readonly>
              </md-input-container>
              <md-input-container flex ng-show="ctrl.tieneSaldoAFavor == '+ $0'" class="form-item">
                  <label>RESTANTE POR PAGAR</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.restantePorPagar"  readonly>
              </md-input-container>
              <md-input-container flex ng-show="ctrl.tieneSaldoAFavor != '+ $0'" class="form-item">
                  <label>SALDO A FAVOR</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.tieneSaldoAFavor"  readonly>
              </md-input-container>

             
        </section>



        <section layout="row" layout-align="start center" ng-show="ctrl.isCuentaPacienteActiva == 0" layout-sm="column" layout-align="center center"  layout-wrap>

              <md-input-container flex class="form-item">
                  
                  <input  maxlength="30" name="FECHA_EGRESO" ng-model="ctrl.estatusDePagosCuenta" ng-init="ctrl.estatusDePagosCuenta='PAGADO'"  readonly>
              </md-input-container>
        </section>
        
        <section layout="row" layout-align="start center" ng-show="ctrl.isCuentaPacienteActiva == 0"  layout-sm="column" layout-align="center center"  layout-wrap>
              <md-input-container flex class="form-item">
                  <label>IMPORTE TOTAL CUENTA PACIENTE</label>
                  <input  maxlength="30" name="FECHA_EGRESO" ng-model="ctrl.totalDeCuentaPaciente"  readonly>
              </md-input-container>
              <md-input-container ng-show="ctrl.isDerechoHabiente" flex class="form-item">
                  <label>PRESTACION DE SERVICIOS (DERECHO HABIENTE)</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.prestacionDeServicios"  readonly>
              </md-input-container>
              <md-input-container flex ng-show="ctrl.isDerechoHabiente==false || (ctrl.isDerechoHabiente && ctrl.abonosDeCuentaPaciente>0) " class="form-item">
                  <label>PAGO TOTAL</label>
                  <input  maxlength="30" name="DIAGNOSTICO" ng-model="ctrl.abonosDeCuentaPaciente"  readonly>
              </md-input-container>
        </section>

    </md-card-content>
    <md-card-content ng-init="verPaciente()" class="md-whiteframe-3dp">
   

<!-- Historico de Abonos -->
<!--

    <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
        <h4 class="letras">HISTÓRICO DE ABONOS</h4>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">   
        <div flex="100">
        <md-data-table-container>
            <table md-data-table   md-progress="deferred"  border="1"> 
              <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                <tr style="background-color:#00b5e2; text-align: center">
     
                  <th width="30%"  name="FECHA"></th>
                  <th width="30%" name="CANTIDAD" ></th>
                  <th width="50%" name="USUARIO" ></th>
                </tr>
              </thead>
                <tbody>
                  <tr  ng-repeat="registro in requisiciones">
                        <td>{{registro.FECHA}}</td>
                        <td>{{registro.CANTIDAD}}</td>    
                        <td>{{registro.USUARIO}}</td>                          
                       
                  </tr>   
                </tbody>                
            </table>
           <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
          </md-data-table-container> 
        </div>
    </section> 
    <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
        <h4 class="letras">TOTAL $</h4>
    </section>


-->

 <h4 class="letras">UBICACIÓN</h4>
    <section layout="row" flex layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
     
             <md-data-table-container flex >
                <table md-data-table style="width: 100%;"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
                    <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                      <tr >
                        <th  ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr md-auto-select ng-class="md-warn" ng-repeat="ubicacion in ctrl.mCuentaPaciente.I_HOSPITALIZACION_PACIENTE">
                        <td>
                            {{ubicacion.C_FECHA}}
                        </td>
                        <td>
                          {{ubicacion.C_PISO}}
                        <td>
                          {{ubicacion.C_CAMA}}
                        </td>
                        <td>
                            {{ubicacion.C_AREA_SERVICIO}}

                        </td>
                        <td>
                            {{ubicacion.NP_PERSONAL}}
                        </td>
                      </tr>
                    </tbody>
                </table>
                <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.mCuentaPaciente.I_HOSPITALIZACION_PACIENTE.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
            </md-data-table-container>
    </section>
  </md-card-content>
  <md-card-content layout="row" ng-show="ctrl.isCuentaPacienteActiva == 1"  layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="ctrl.detalleServicios($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            DETALLE DE SERVICIOS
        </md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.abonarPagar($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            ABONAR / LIQUIDAR
        </md-button>
         <md-button class="md-primary md-raised" ng-click="ctrl.showReporteDetalleCuenta($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            REPORTE DETALLE DE CUENTA
        </md-button>

  </md-card-content>

    <md-card-content layout="row" ng-show="ctrl.isCuentaPacienteActiva == 0" layout-align="end center">
        <md-button class="md-primary md-raised"  ng-click="ctrl.detalleServicios($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
           DETALLE DE SERVICIOS
        </md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.abonarPagar($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            DETALLE DE ESTADO DE CUENTA
        </md-button>
          <md-button class="md-primary md-raised"  ng-click="ctrl.detalleAbonos($event)"  flex >
           DETALLE DE ABONOS
        </md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.showReporteDetalleCuenta($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            REPORTE DETALLE DE CUENTA
        </md-button>
  </md-card-content>



  <md-card-content layout="row" ng-show="ctrl.isCuentaPacienteActiva == 1" layout-align="end center">
         <md-button class="md-primary md-raised"  ng-click="ctrl.detalleAbonos($event)"  flex >
           DETALLE DE ABONOS
        </md-button>
        <md-button class="md-primary md-raised"  flex ng-click="ctrl.cancelarCuenta($event)" >
           CANCELAR
        </md-button>
  </md-card-content>

  <md-card-content layout="row" ng-show="ctrl.isCuentaPacienteActiva == 3"  layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="ctrl.abonarPagar($event)" flex-sm="100" flex-md="30" flex-gt-md="auto">
            ABONAR
        </md-button>
        <md-button class="md-primary md-raised"  flex ng-click="ctrl.cancelarCuenta($event)" >
           CANCELAR
        </md-button>
  </md-card-content>






</md-content>
