<md-dialog aria-label="Descuentos" ng-controller="CompraserviciosCtrl as ctrl">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>DESCUENTOS</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <section style="background:#f7f7f7; margin: 1em 0em 0em 0em; padding:1em 0em;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    	<div style="width:100%; text-align:center;">
	    	<label>TIPO DE DESCUENTO</label>
	    	<br/>
	    	<md-input-container style="padding-bottom:0px">
		        <md-select ng-model="carrito.descuento.TIPO" ng-change="ctrl.cambioTipoDescuento(true)" ng-init="carrito.descuento.TIPO=1" name="tipo">
           <!--  <md-options ng-repeat="tipo in ctrl.tipos">{{tipo.desc}}</md-option> -->
		          <md-option ng-repeat="tipo in ctrl.tipos" value="{{tipo.id}}">{{tipo.desc}}</md-option>
		        </md-select>
		        <div ng-messages="serviciosForm.tipo.$error">
		          	<div ng-message="required">Debes seleccionar un tipo</div>
		        </div>
		    </md-input-container>
		</div>
		<br/>
		<form name="serviciosForm">
		    <div ng-show="carrito.descuento.TIPO!==''">


       <md-input-container style="margin-left:5px; width:100%" ng-show="carrito.descuento.TIPO!=='2'">
           <label>CONVENIO</label>
            <md-select ng-model="carrito.descuento.NP_ID"  ng-chage="ctrl.cambioTipoDescuento()" step="any" name="idConvenio" required>
                <md-option   ng-repeat="f in ctrl.mCatalogos"  value="{{f.ID}}">{{f.cDescripcion}}</md-option>
            </md-select>
            <div class="errors" ng-messages="serviciosForm.idConvenio.$error"  >
                <div ng-message="required">Campo requerido</div>
            </div>

        </md-input-container>


			    <md-input-container style="margin-left:5px; width:100%" ng-show="carrito.descuento.TIPO!=='2'">
			        <label>Folio</label>
			        <input type="text" step="any" ng-change="ctrl.verificarDatosDes(true)" name="folio" ng-model="carrito.descuento.FOLIO" required minlength="2" maxlength="20"  md-minlength="2" md-maxlength="20" capitalize>
			        <div class="errors" ng-messages="serviciosForm.folio.$error"  >
                <div ng-message="required">Campo requerido</div>
            </div>
                </md-input-container>

                <md-data-table-toolbar style="background:#f7f7f7; margin: 1em 0em 0em 0em; padding:1em 0em;" ng-show="carrito.tipoDescuento==='$'">
	                <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="setTipoDesc('%')" >
				          	<md-icon md-svg-src="images/icons/svg/ic_attach_money_black_24px.svg" ></md-icon>
			        </md-button>	
				    <md-input-container style="margin-left:5px; width:100%">
				        <label>IMPORTE DEL DESCUENTO $</label>

				        <input type="number" ng-change="ctrl.verificarDatosDes(true)" step="any" name="descuento" ng-model="carrito.descuento.DESCUENTO" >
		            </md-input-container>
		        </md-data-table-toolbar>

                <md-data-table-toolbar style="background:#f7f7f7; margin: 1em 0em 0em 0em; padding:1em 0em;" ng-show="carrito.tipoDescuento==='%'">	
			        <md-button class="md-fab md-mini" aria-label="Use Android" ng-click="setTipoDesc('$')" >
			          	<md-icon md-svg-src="images/icons/svg/percent.svg" style="color: black; width:60%;"></md-icon>
			        </md-button>
				    <md-input-container style="margin-left:5px; width:100%">
				        <label>IMPORTE DEL DESCUENTO %</label>

				        <input type="number" ng-change="ctrl.verificarDatosDes()" step="any" name="descuento" ng-model="carrito.descuento.DESCUENTO" >
		            </md-input-container>
		        </md-data-table-toolbar>



			    <md-input-container style="margin-left:5px; width:100%" ng-show="carrito.descuento.TIPO!=='1'">
			        <label>DESCRIPCIÓN</label>
			        <input type="text" ng-change="ctrl.verificarDatosDes(false,false)" step="any" name="descripcion" required minlength="2" maxlength="20"  md-minlength="2" md-maxlength="20" ng-model="carrito.descuento.DESCRIPCION" capitalize>
			        <div class="errors" ng-messages="serviciosForm.descripcion.$error"  >
                <div ng-message="required">Campo requerido</div>
            </div>
			    </md-input-container>
			</div>
		</form>
    </section>


    <div style="text-align:center; color:rgb(244,67,54); font-size:12px;" ng-show="self.cs.mensaje.length">
    	{{self.cs.mensaje}}
    </div>


    <md-data-table-toolbar>
	    <h2 class="md-title">SERVICIOS PARA APLICAR DESCUENTOS</h2>
	</md-data-table-toolbar>

	<md-data-table-container>
	  <table md-data-table   md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
	    <thead md-order="query.order" md-trigger="onorderchange">
	      <tr style="background-color:#00b5e2">
	        <th ng-repeat="column in colDescuentos" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr  ng-repeat="serv in carrito.servSeleccionados">
	        <td>{{serv.NP_ID}}</td>
	        <td>{{serv.C_DESCRIPCIPON}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-data-table-container>



  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('false')">
    	CANCELAR
    </md-button>
    <md-button ng-disabled="ctrl.validDescuento" ng-click="answer('true')" style="margin-right:20px;">
    	ACEPTAR
    </md-button>
  </div>
</md-dialog>
