<md-dialog aria-label="NUEVA PREGUNTA" >
  <form name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>DETALLE DE ABONOS</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:1000px;max-height:610px;">
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex class="form-item">
            <h4 class="letras">SALDO PENDIENTE</h4>
            <input maxlength="50" name="NP_ID" ng-model="datos.SALDO_PENDIENTE"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <h4 class="letras">TOTAL DE ABONOS</h4>
            <input  maxlength="30" name="N_EXPEDIENTE" ng-model="datos.TOTAL_ABONOS"  capitalize readonly>
          </md-input-container>
          <md-input-container flex class="form-item">
            <h4 class="letras">TOTAL DE CUENTA</h4>
            <input  maxlength="30" name="N_EXPEDIENTE" ng-model="datos.TOTAL_CUENTA"  capitalize readonly>
          </md-input-container>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center" >
        <div flex="90">
             <md-data-table-container>
                <table md-data-table   border="1" >
                    <thead md-order="queryAbonos.order">
                       <tr>
                        <td style="text-align:center" >FECHA</td>
                        <td style="text-align:center" >ABONO</td>                         
                      </tr> 
                    </thead>
                    <tbody>
                      <tr md-auto-select ng-repeat="registro in abonos | limitTo: queryAbonos.limit: (queryAbonos.page -1 )* queryAbonos.limit" >
                          <td style="text-align:center">{{registro.T_FECHA_CMD}}</td>
                          <td style="text-align:center">{{registro.D_ABONO   | currency :$}}</td>
                      </tr>
                    </tbody>
                </table>
                <md-data-table-pagination md-limit="queryAbonos.limit" md-page="queryAbonos.page" md-total="{{abonos.length}}"></md-data-table-pagination>
            </md-data-table-container>
        </div>
    </section>
    <section layout="row" layout-sm="column" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="imprimir()" >IMPRIMIR</md-button>
    </section>   
    </md-dialog-content>
  </form>
</md-dialog>

