
<card-toolbar canreturn="true" title="CUENTA PACIENTE: HISTORIAL"></card-toolbar>



  <md-card layout-wrap>
        <form name="registraForm">
      <md-card-content ng-init="verPaciente()">
        <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex class="form-item">
                <label>NP ID</label>
                <input maxlength="50" name="NP_ID" ng-model="paciente.NP_ID" required capitalize readonly>
              </md-input-container>
              <md-input-container flex class="form-item">
                <label>EXPEDIENTE</label>
                <input  maxlength="30" name="N_EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" required capitalize readonly>
              </md-input-container>

          </section>

            <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap readonly>
              <md-input-container flex class="form-item">
                <label>NOMBRE (S)</label>
                <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required capitalize readonly>
              </md-input-container>
              <md-input-container flex class="form-item">
                <label>APELLIDO PATERNO</label>
                <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required capitalize readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right">
                <label>APELLIDO MATERNO</label>
                <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required capitalize readonly>
              </md-input-container>
          </section>



            <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap >
              <md-input-container flex class="form-item form-item-right" ng-if="!isEdit">
                <label>FECHA DE NACIMIENTO</label>
                <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" capitalize readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right" ng-if="isEdit">
                <label>FECHA DE NACIMIENTO</label>
                <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" required capitalize readonly>
              </md-input-container>
           </section>


            <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
              <md-input-container flex  >
                <label>CALLE</label>
                <input name="C_CALLE" ng-model="paciente.C_CALLE" required readonly>
              </md-input-container>
              <md-input-container flex  >
                <label>NÚMERO EXTERIOR</label>
                <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" required readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right" >
                <label>NÚMERO INTERIOR</label>
                <input name="C_NO_INTERIOR" g-model="paciente.C_NO_INTERIOR" required readonly>
              </md-input-container>
              <md-input-container flex class="form-item form-item-right" >
                <label>COLONIA</label>
                <input name="C_COLONIA" ng-model="paciente.C_COLONIA" required readonly>
              </md-input-container>
          </section>



 <md-data-table-container >
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <td order-by="NP_ID">NUMERO DE CUENTA</td>
            <td>FECHA INGRESO</td>
            <td>DIAGNÓSTICO</td>
            <td>SERVICIO MÉDICO</td>
            <td>CAMA</td>
            <td  order-by="NF_ESTATUS">ESTADO</td>
            <td>DETALLE CUENTA</td>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cuenta in tCuentaPaciente | orderBy: queryCuenta.order ">
                <td  style="text-align:center">{{cuenta.NP_ID}}</td>
                <td  style="text-align:center">{{cuenta.F_FECHA_INGRESO}}</td>
                <td  style="text-align:center">{{cuenta.C_DIAGNOSTICO | uppercase}}</td>
                <td  style="text-align:center">{{cuenta.C_DESCRIPCION_AREA | uppercase}}</td>
                <td  style="text-align:center">{{cuenta.C_DESCRIPCION_CAMA | uppercase}}</td>
                <td  style="text-align:center" ng-if="cuenta.NF_ESTATUS==1">ACTIVA</td>
                <td  style="text-align:center" ng-if="cuenta.NF_ESTATUS==0">CERRADA</td>
                <td  style="text-align:center" ng-if="cuenta.NF_ESTATUS==2">CANCELADA</td>
                <td  style="text-align:center" ng-if="cuenta.NF_ESTATUS==3">PENDIENTE</td>
                <td  style="text-align:center">
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="ctrl.verDetalleCuentaPaciente($event, cuenta.NP_ID)">
                        <md-icon md-svg-src="images/icons/svg/ic_local_printshop_white_18px.svg"></md-icon>
                    </md-button>
                </td>
          </tr>
          <tr ng-show="tCuentaPaciente.length==0"> 
              <td colspan="8" style="text-align:center">NO CUENTA CON NINGUN DETALLE DE CUENTA PACIENTE</td>
          </tr>


        </tbody>
      </table>
      <md-data-table-pagination md-limit="queryCuenta.limit" md-page="queryCuenta.page" md-total="{{tCuentaPaciente.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
    </md-data-table-container>


        </md-card-content>
      </form>


      </md-card>


