<md-card class="md-whiteframe-6dp" ng-init="loadDatos()">
	<card-toolbar  canreturn="true">
	</card-toolbar>
             <md-card-content>
                <section layout="row" layout-sm="column" layout-align="center center" >	
                  	<md-input-container  flex="20"   class="form-item" >
				         	<label>SECCIÓN</label>
					        <md-select name="seccion" ng-disabled="editar"  ng-change="changeArea(area)" ng-model="area" class="form-item" required>
			               		<md-option ng-value="area.cDescripcion"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
			                </md-select>
			                <div class="errors" ng-messages="asignaCamaForm.seccion.$error" ng-if="asignaCamaForm.seccion.$dirty && asignaCamaForm.seccion.$dirty">
						        <div ng-message="required">Requerido</div>
						    </div>
		    		</md-input-container>
		      	</section>

		       <section layout="row" layout-sm="column" layout-align="center center" >   
			     	<div flex="50">
				        <md-data-table-container>
				            <table md-data-table selectable-rows="false"   md-progress="deferred" >
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                    <th width="80%" name="NOMBRE" order-by="cDescripcion"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order 
			                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
					                    <td>{{registro.C_SERVICIO}}</td>
					                    <td ng-show="false">{{registro.ID}}</td>
				                  </tr>
				                </tbody>                
				            </table>

				            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
			            </md-data-table-container> 
		            </div>
			    </section> 
 		    </md-card-content>
</md-card>