<md-dialog aria-label="Descuentos" ng-controller="cancelarServicios as ctrl">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>ELIMINAR SERVICIOS</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">


    <md-data-table-toolbar>
	    <h2 class="md-title">SELECCIONAR SERVICIOS A ELIMINAR</h2>
	</md-data-table-toolbar>

	<md-data-table-container>
	  <table md-data-table   md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
	    <thead md-order="query.order" md-trigger="onorderchange">
	      <tr style="background-color:#00b5e2">
	        <th ng-repeat="column in columnsEliminar" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr  ng-repeat="serv in ctrl.cs.servicio">
         	<td>{{serv.N_SERVICIOS}}</td>
            <td>{{serv.C_CLAVE}}</td>
            <td>{{serv.C_DESCRIPCION}}</td>
            <td>{{serv.D_IMPORTE | currency}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-data-table-container>

  <div>
    <md-content class="md-padding">
      <md-card>
        <md-card-content>
          <h2 class="md-title">SELECCIONA LA CANTIDAD DE SERVICIOS A ELIMINAR</h2>
          <p>
            <input type="text" max="{{ctrl.cs.servicio[0].N_SERVICIOS}}" ng-model="ctrl.cs.cantidad" style="width:50%; margin: 0px auto;" value="1" placeholder="CANTIDAD A ELIMINAR" autofocus>
            <div style="color:rgb(244,67,54); font-size:12px;" ng-show="ctrl.cs.mensaje.length">
              {{ctrl.cs.mensaje}}
            </div>
          </p>
        </md-card-content>
      </md-card>
    </md-content>
  </div>

  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('false')">
    	Cancelar
    </md-button>
    <md-button ng-click="answer('true')" style="margin-right:20px;">
    	Aceptar
    </md-button>
  </div>
</md-dialog>