<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>

<md-content class="md-whiteframe-6dp" layout-padding>


<form ng-submit="$event.preventDefault()">
  <div layout="row" layout-wrap>
      <div flex="25"></div>
      <div flex="50">
            <md-input-container flex>
              <label>CLAVE / DESCRIPCIÓN / CATEGORÍA</label>
              <input  ng-change="ctrl.primerPagina()" ng-model="ctrl.mDescripcion">
            </md-input-container>
      </div>
  </div>
</form>

    
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.mListaDeServicios.length}}" md-trigger="onpagechange" class="quitarIconColor"></md-data-table-pagination>
     <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="serv in ctrl.mListaDeServicios | filter: ctrl.mDescripcion | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

                <td>{{serv.cClave}}</td>
                <td>{{serv.cDescripcion}}</td>
                <td>{{serv.categoria }}</td>
                <td>{{serv.dCosto | currency}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.mListaDeServicios.length}}" md-trigger="onpagechange" class="quitarIconColor"></md-data-table-pagination>
</md-content>
