<div layout="row" layout-align="center center">
 <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99" >
  <md-card layout-wrap>
  <card-toolbar canreturn="true" title="{{title}}"></card-toolbar>


<!-- Inicia el formulario -->
<section class="formCobroServicios md-whiteframe-20dp">
  <form name ="miForm" >


<div layout="colum" layout-align="start center" >
    <div layout="row" layout-align="center center">
        <div layout="colum" layout flex="50" layout-align="center center">
            <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-right" >TOTAL:</h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left">{{ ctrl.pagoTotalServicios | currency}}</h1>          
        </div>
       <!--  <div layout="colum" layout layout-align="center center" style="background-color: blue;">
          <h1 ng-if="ctrl.idFolioRecibo==0" style="background-color: orange;" class="md-display-1 control-Pago-right" >TOTAL:</h1>
          <h1 ng-show="ctrl.idFolioRecibo==0 && operacionEsCuentaPaciente == true" class="md-display-1 control-Pago-right" >ABONAR:</h1>
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-right">PAGOS: </h1>
        </div>

        <div layout="colum" layout layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 ">{{ ctrl.pagoTotalServicios | currency}}</h1>
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-right" >{{ ctrl.cantidadAbonar | currency}}</h1>
          <h1 ng-if="ctrl.idFolioRecibo>0 " class="md-display-1">Cambio: {{ ctrl.cambiCliente | currency}}</h1>
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 ">{{ ctrl.mImporte | currency}}</h1>
        </div> -->
    </div>
<!-- 
    <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente==false">
        <div layout="colum" layout flex="50" layout-align="center center" style="background-color: #fff">
          <h1 ng-show="ctrl.idFolioRecibo==0 && operacionEsCuentaPaciente == true" class="md-display-1 control-Pago-right" >ABONAR:</h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left" >{{ ctrl.cantidadAbonar | currency}}</h1>   
        </div>
    </div> -->

   <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente && ctrl.tipoOperacionPago==0">
        <div layout="colum" layout flex="50" layout-align="center center">
          <h1 ng-show="ctrl.idFolioRecibo==0 && operacionEsCuentaPaciente == true" class="md-display-1 control-Pago-right" >ABONAR:</h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left" >{{ ctrl.cantidadAbonar | currency}}</h1>   
        </div>
    </div>

    <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente && ctrl.debePagar==false && ctrl.idFolioRecibo==0">
        <div layout="colum" layout flex="50" layout-align="center center">
          <h1 class="md-display-1 control-Pago-right" >TOTAL ABONOS:</h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left" >{{ ctrl.totalDeAbonos | currency}}</h1>   
        </div>
    </div>

    <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente && ctrl.debePagar==false && ctrl.saldoAFavor && ctrl.idFolioRecibo==0">
        <div layout="colum" layout flex="50" layout-align="center center">
          <h1 class="md-display-1 control-Pago-right" >SALDO A FAVOR:</h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1 ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left" >{{ ctrl.dineroAFavor | currency}}</h1>   
        </div>
    </div>


    <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente==false">
        <div layout="colum" layout flex="50" layout-align="center center">
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-right">PAGOS: </h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left">{{ ctrl.mImporte | currency}}</h1>
        </div>
    </div>


    <div layout="row" layout-align="center center" ng-show="operacionEsCuentaPaciente && ctrl.debePagar==true">
        <div layout="colum" layout flex="50" layout-align="center center">
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-right">PAGOS: </h1>
        </div>
        <div layout="colum" layout flex="50" layout-align="center center" class="md-display-4" >
          <h1  ng-if="ctrl.idFolioRecibo==0" class="md-display-1 control-Pago-left">{{ ctrl.mImporte | currency}}</h1>
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <h1 ng-if="ctrl.idFolioRecibo>0 " class="md-display-1">Cambio: {{ ctrl.cambiCliente | currency}}</h1>
    </div>



      <div layout="row" flex ng-show="operacionEsCuentaPaciente && ctrl.idFolioRecibo==0 ">
          <md-input-container flex class="margin-left-20">
              <label>TIPO DE OPERACIÓN</label>
              <md-select  ng-model="ctrl.tipoOperacionPago" ng-init="ctrl.tipoOperacionPago=0" step="any" name="rate"  ng-change="ctrl.actualizarTipoOperacion()">
              <md-option value="1">LIQUIDAR CUENTA PACIENTE (PAGAR TODO EL ADEUDO)</md-option>
              <md-option  value="0">REALIZAR UN PAGO PARCIAL A LA CUENTA (ABONO A CUENTA)</md-option>
              </md-select>
          </md-input-container>
      </div>

  <div layout="row" flex ng-show="operacionEsCuentaPaciente && ctrl.debePagar && ctrl.idFolioRecibo==0">
      <md-input-container flex ng-show="ctrl.tipoOperacionPago==0">
          <label>IMPORTE A ABONAR</label>
          <input ng-change="ctrl.abonar()" type="number" flex ng-model="ctrl.cuantoAbona"  class="min-width: 150px" >
          </md-input-container>
  </div>


<!--Se utilizan estos mensajes para informar -->
    <div layout="row" flex ng-show="operacionEsCuentaPaciente && ctrl.debePagar==false && ctrl.saldoAFavor == false && ctrl.idFolioRecibo==0 ">
          <h3 class="md-title">CUENTA PACIENTE NO TIENE ADEUDO  </h3>
    </div>



<!-- Columna dle pago  -->

<div layout="row" ng-if="ctrl.idFolioRecibo==0 && ctrl.debePagar==true" flex class="table-pagos" layout-align="end center"  ng-repeat="aux in ctrl.mRealizarPago" >
  <div  flex >

      <div layout="colum" layout-align="center center"  >
           <div layout="row" layout-align="center center">
               <md-divider ng-if="$index>0" class="margin-top-25 margin-bottom-25" flex = "60"></md-divider>
          </div>
      </div>



      <div layout="colum"  ng-if="ctrl.puedeAbonarPagar" >
          <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex = "40" class="margin-right-20">
                    <label>IMPORTE (PAGOS)</label>
                    <input ng-change="ctrl.importeCliente()" type="number" step="0.01" name="importeDePago" ng-model="aux.D_IMPORTE" autofocus="true" class="min-width: 150px" >
              </md-input-container>
             <md-input-container flex = "40" class="margin-left-20">
                  <label>TIPO DE PAGO</label>
                  <md-select  ng-model="aux.TIPO_PAGO"  step="any" name="rate"  ng-change="ctrl.actualizarTipoPago(aux.$$hashKey)" class>
                      <md-option ng-repeat="f in ctrl.formasPago" ng-selected="f.ID==1"   value="{{f.ID}}">{{f.cDescripcion}}</md-option>
                       <!-- <md-option id="greet" ng-selected="true"   value="777">hyhyhyhy</md-option> -->
                  </md-select>
              </md-input-container>

              <md-button ng-if="$last" class="md-icon-button md-accent btn-agregar-metodo" ng-click="ctrl.addTipo(aux.$$hashKey,$event)" aria-label="Formas de pago" style="height: -1px;">+</md-button>
              <md-button ng-if="$index > 0" ng-if="$last" class="md-icon-button md-accent btn-agregar-metodo" ng-click="ctrl.delTiposDePago(aux.$$hashKey,$event)" style="height: -1px;" aria-label="Eliminar Formas de pago">-</md-button>
            </div>
      </div>

    <div layout="colum"  ng-if="aux.TIPO_PAGO == '2' || aux.TIPO_PAGO == '3' " >
        <div layout="row" layout-align="start center" flex class="control-Pago-left">
            <md-input-container flex="40" class="margin-right-20">
                <label>BANCO</label>
                <md-select name="banco_id" ng-model="aux.NP_ID"  >
                  <md-option ng-repeat="banco in ctrl.banco" value="{{banco.ID}}">{{banco.cDescripcion}}</md-option>
                </md-select>
                 <!-- <span ng-show="miForm.banco_id.$error.required">Campo obligatorio</span> -->
            </md-input-container>
             <md-input-container flex="40" class="margin-left-20">
                <label>OPERADOR</label>
                  <md-select ng-model="aux.C_OPERADOR" name="aux.C_OPERADOR" >
                          <md-option ng-repeat="operador in ctrl.c_operador" value="{{operador}}" >{{operador}}</md-option>
                  </md-select>
                  <div class="errors" ng-messages="miForm.aux.C_OPERADOR.$error" ng-if="miForm.$dirty">
                    <!-- <div ng-message="required">Campo requerido</div> -->
                  </div>
              </md-input-container>
        </div>

        <div layout="row" layout-align="start center" layout-sm="colum" class="control-Pago-left">
              <md-input-container flex = "40" class="margin-right-20"><label>NÚMERO DE AUTORIZACIÓN</label>
                  <input ng-model="aux.N_AUTORIZACION"  >
              </md-input-container>
              <md-input-container flex = "40" class="margin-left-20"><label>NÚMERO DE OPERACIÓN</label>
                  <input ng-model="aux.N_OPERACION"  >
              </md-input-container>
        </div>
    </div>

    <div layout="colum"  ng-if="aux.TIPO_PAGO == '4' ">
         <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40" class="margin-right-20">
                  <label>CLAVE DE REFERENCIA</label>
                  <input ng-model="aux.C_REFERENCIA" >
              </md-input-container>

              <md-input-container flex="40" class="margin-left-20">
                 <label>BANCO</label>
                  <md-select ng-model="aux.NP_ID" >
                    <md-option ng-repeat="banco in ctrl.banco" value="{{$index}}" >{{banco.cDescripcion}}</md-option>
                  </md-select>
              </md-input-container>
          </div>
          <div layout="row" layout-align="start center" >
                  <md-input-container flex="40"  class="margin-right-20" ng-if="aux.NP_ID == 'OTRO'"><label>NOMBRE DEL BANCO</label>
                      <input ng-model="aux.N_BANCO" >
                  </md-input-container>

          </div>
    </div>

    <div layout="colum"  ng-if="aux.TIPO_PAGO == '5'" ng-init="ctrl.getDatosCuentasCobrar(aux.$$hashKey)" class="margin-left-20">
        <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40" class="margin-right-20">
                  <label>TIPO DE SERVICIO PARA:</label>
                  <input ng-model="aux.convenio.C_TIPO_SERVICIO" >
              </md-input-container>
               <md-input-container flex="45" class="margin-right-20">
              <label>PARENTESCO</label>
                  <md-select  ng-model="aux.convenio.N_PARENTESCO" >
                   <md-option ng-value="parentesco.ID" ng-repeat="parentesco in ctrl.catParentesco" >{{parentesco.cDescripcion}}</md-option>
                  </md-select>
              </md-input-container>
    
        </div>
        <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40">
                 <label>TIPO DE CONVENIO</label>
                  <md-select ng-model="aux.convenio.TIPO_CONVENIO" >
                    <md-option ng-value="convenios.ID" ng-repeat="convenios in ctrl.catTipoConvenios" >{{convenios.cDescripcion}}</md-option>
                  </md-select>
              </md-input-container>
              <md-input-container flex="40" class="margin-right-20" ng-show="aux.convenio.TIPO_CONVENIO==0">
                  <label>ADSCRITO A:</label>
                <!--   <md-select ng-model="aux.convenio.N_CONVENIO" ng-init="aux.convenio.N_CONVENIO=-1" > -->
                   <md-select ng-model="aux.convenio.N_CONVENIO"  >
                    <md-option ng-value="convenios.NP_ID

                    "  ng-repeat="convenios in ctrl.catConvenios | orderBy:'C_CLIENTE_NOMBRE'" >{{convenios.C_CLIENTE_NOMBRE}}</md-option>
                  </md-select>
              </md-input-container>

               <md-input-container flex="40" class="margin-right-20" ng-show="aux.convenio.TIPO_CONVENIO==1">
                 <label>ADSCRITO A:</label>
                <!--   <md-select ng-model="aux.convenio.N_CAUSE" ng-init="aux.convenio.N_CAUSE=-1"> -->
                  <md-select ng-model="aux.convenio.N_CAUSE" >
                    <md-option ng-value="causes.ID"  ng-repeat="causes in ctrl.catCauses | orderBy:'cDescripcion'" >{{causes.cDescripcion}}</md-option>
                  </md-select>
              </md-input-container>

        </div>   
        <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40" class="margin-right-20">
                  <label>ID SEGURO POPULAR/CONVENIO</label>
                  <input ng-model="aux.convenio.C_FOLIO" >
              </md-input-container>
              <md-input-container flex="45" class="margin-right-20">
                 <label>DOCUMENTO/REFERENCIA</label>
                  <input  ng-model="aux.convenio.C_REFERENCIA" >
              </md-input-container>
        </div>    
        <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40">
                 <label>OBSERVACIONES</label>
                  <textarea  ng-model="aux.convenio.C_OBSERVACIONES" ></textarea>
              </md-input-container>

              <label class="margin-right-20" flex="20">FECHA DE DOCUMENTO</label>
             <md-datepicker flex="30" id="F_FECHA" ng-model="aux.convenio.D_FECHA_DOCUMENTO" md-max-date="F_ACTUAL" ></md-datepicker>
        </div>    
    </div>

    <div layout="colum"  ng-if="aux.TIPO_PAGO == '6' &&  ctrl.pagoCuentaPaciente==true" ng-init="ctrl.getDatosCuentasCobrar(aux.$$hashKey)" class="margin-left-20">
        <div layout="row" layout-align="start center" class="control-Pago-left">
              <md-input-container flex="40" class="margin-right-20">
                  <label>NÚMERO DE DOCUMENTO</label>
                  <input ng-model="aux.C_FOLIO" >
              </md-input-container>
        </div>
    </div>


  </div>





<!-- Termina Columna dle pago  -->




</div>



</div>


<br>


    <div layout="row" layout-align="end center" felx="40" class="margin-right-20">
        <div layout="colum" layout layout-align="center center" class="md-display-4" >
          <h1  ng-if="ctrl.pagoTotalServicios>ctrl.mImporte" class="md-display-1 control-Pago-right">Restan: </h1>
        </div>

        <div layout="colum" layout layout-align="end center" class="md-display-4" >
          <h1  ng-if="ctrl.pagoTotalServicios>ctrl.mImporte" class="md-display-1 color-restan" >{{ ctrl.pagoTotalServicios - ctrl.mImporte | currency}}</h1>
        </div>
    </div>


  <div layout="row"  layout-align="center center" flex  ng-if="ctrl.idFolioRecibo==0 && ctrl.debePagar">
    <md-button class="md-raised md-primary" ng-click="ctrl.verificarTiposDePago()">Pagar</md-button>
  </div>


  <div layout="row"  layout-align="center center" flex  ng-show="operacionEsCuentaPaciente && ctrl.debePagar==false && ctrl.idFolioRecibo==0 ">
    <md-button class="md-raised md-primary" ng-click="ctrl.verificarTiposDePago()">Cerrar Cuenta Paciente</md-button>
  </div>


  <div layout="row" layout-align="center center" ng-if="ctrl.idFolioRecibo>0">
    <md-button  class="md-raised md-primary" ng-click="ctrl.impRecibo()">Imprimir Recibo</md-button>
  </div>

</form>


</section>


<!-- Termina el Formulario  -->



    </md-card>
  </div>
</div>
