<md-card layout-wrap class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true"></card-toolbar>
	  <md-card-content >  
	    <md-subheader class="md-no-sticky">Datos Generales</md-subheader>
      	<form name="registraForm" ng-submit="registraForm.$valid && registrarDatosCaja()" ng-init="loadCatalogos()" >
			<md-card-content>
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>NOMBRE (S)</label>
			          <input maxlength="100" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required  capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>APELLIDO PATERNO</label>
			          <input  maxlength="50" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>APELLIDO MATERNO</label>
			          <input  maxlength="50" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" class="form-item" flex >
				      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
				    </md-select>
				    <md-input-container  flex="20"  class="form-item">
			         	<label>SEXO</label>
				      	<md-select name="NF_SEXO" placeholder="SEXO" ng-model="paciente.NF_SEXO" class="form-item" flex required >
				     		 <md-option  ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
				   		</md-select>
		                <div class="errors" ng-messages="registraForm.NF_SEXO.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">REQUERIDO</div>
					    </div>
			    	</md-input-container> 

			       
				    <md-input-container flex class="form-item form-item-right">
			          <label>FECHA DE NACIMIENTO</label>
			          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" >
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
		      		<md-input-container flex class="form-item">
			          <label>CALLE</label>
			          <input name="C_CALLE" ng-model="paciente.C_CALLE"  ng-pattern="/^[a-zA-Z 0-9 ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO EXTERIOR</label>
			          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR"  maxlength="7" ng-pattern="/^[0-9 a-zA-Z]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO INTERIOR</label>
			          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR"  maxlength="7" ng-pattern="/^[0-9 a-zA-Z]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>COLONIA</label>
			          <input name="C_COLONIA" ng-model="paciente.C_COLONIA"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			    </section>
			    <section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
		      		<md-input-container flex class="form-item">
			          <label>TELÉFONO </label>
			          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO"  capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>CURP</label>
			          <input name="C_NO_EXPEDIENTE" ng-model="paciente.CURP" ng-pattern="/^[A-Za-z]{1}[AEIOUaeiou]{1}[A-Za-z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HMhm]{1}([A|a][S|s]|[B|b][C|c]|[B|b][S|s]|[C|c][C|c]|[C|c][S|s]|[C|c][H|h]|[C|c][L|l]|[C|c][M|m]|[D|d][F|f]|[D|d][G|g]|[G|g][T|t]|[G|g][R|r]|[H|h][G|g]|[J|j][C|c]|[M|m][C|c]|[M|m][N|n]|[M|m][S|s]|[N|n][T|t]|[N|n][L|l]|[O|o][C|c]|[P|p][L|l]|[Q|q][T|t]|[Q|q][R|r]|[S|s][P|p]|[S|s][L|l]|[S|s][R|r]|[T|t][C|c]|[T|t][S|s]|[T|t][L|l]|[V|v][Z|z]|[Y|y][N|n]|[Z|z][S|s]|[N|n][E|e])[B-DF-HJ-NP-TV-Zb-df-hj-np-tv-z]{3}[0-9A-Za-z]{1}[0-9]{1}$/"  maxlength="18" >
			        </md-input-container>
			    </section>
		<br>
		<md-divider ></md-divider>
		<br>
		<md-subheader class="md-no-sticky">Datos de Contacto</md-subheader> 
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>NOMBRE (S)</label>
			          <input maxlength="100" name="C_NOMBRE" ng-model="paciente.T_RESPONSABLES.C_NOMBRE" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>APELLIDO PATERNO</label>
			          <input  maxlength="50" name="C_PRIMER_APELLIDO" ng-model="paciente.T_RESPONSABLES.C_PRIMER_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>APELLIDO MATERNO</label>
			          <input  maxlength="50" name="C_SEGUNDO_APELLIDO" ng-model="paciente.T_RESPONSABLES.C_SEGUNDO_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
		      	</section> 
		      	<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
			        <md-input-container flex class="form-item form-item-right">
			          <label>TELÉFONO</label>
			          <input  maxlength="30" name="TÉLEFONO" ng-model="paciente.T_RESPONSABLES.C_TELEFONO_RESPONSABLE">
			        </md-input-container>
			        <md-select parentesco flex placeholder="PARENTESCO"  ng-model="paciente.T_RESPONSABLES.NF_RELACION_PACIENTE" class="form-item" >
                            <md-option ng-value="parentesco.ID"  ng-repeat="parentesco in catParentesco">{{parentesco.cDescripcion}}</md-option>
                    </md-select> 
		      	</section>    
		      	<div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" type="submit" >REGISTRAR</md-button>
		      	</div>	
	    </form>

		<md-divider ></md-divider>  
					
		        <fieldset style="border: 1px solid #003B5C;" class="standard" flex ng-show="visible">
		        <legend style="color:#003B5C">RESULTADO<code></code>  <code></code></legend>
			    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>   
			     <div  layout="column" layout-align="left right" style="padding:20px">
		            <md-data-table-container>
		            <table md-data-table>
		                <thead >
		                  <tr style="background-color:#003B5C" height="5">
		                  	<th style="color: #FFFFFF" width="20%" name="ID"></th>
		                    <th style="color: #FFFFFF" width="20%" name="EXPEDIENTE"></th>
		                    <th style="color: #FFFFFF" width="20%" name="NOMBRE"></th>
		                    <th style="color: #FFFFFF" width="20%" name=""></th>
		                  </tr>
		                </thead>

		                <tbody>
		                  <tr ng-class="md-warn" >
		                       <td>{{paciente.id}}</td>
						      	<td>{{paciente.Mensaje}}</td>
			                    <td>{{paciente.C_NOMBRE +" "+paciente.C_PRIMER_APELLIDO+" "+paciente.C_SEGUNDO_APELLIDO+" "+paciente.desconocido}}</td>
			                    <td ng-if="visible">
					               <md-icon md-svg-src="images/icons/svg/black/ic_print_black_24px.svg"  ng-click="getReporteCaja(paciente.Mensaje)" ></md-icon> 
					          </td>
			                  
		                  </tr>
		                </tbody>                
		             </table>
			            
			       </div> 
			    </section>    
      			</fieldset>
	</md-card-content>
</md-card>
