<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>
 	<md-card-content>
		<form name="registraForm" ng-submit="obtenReceta(C_FOLIO_RECETA)">
			<md-input-container flex class="form-item form-item-right">
	          <label>FOLIO DE LA RECETA MÉDICA</label>
	          <input name="" ng-model="C_FOLIO_RECETA" required type="number">
	        </md-input-container>
	        <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" name="btnBuscar" >BUSCAR</md-button>
	      	</div>
	      	<BR>	 	      	
		</form>	
 	</md-card-content> 	
</md-card>