<div layout="row" layout-align="center center">
 <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
  <md-card layout-wrap>
    <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools"  layout-align="center center">
            <h3>
                <span>Reportes de cortes de turno</span>
            </h3>
          </div>
    </md-toolbar>
    <form ng-submit="$event.preventDefault()">
          <div layout="row" layout-wrap>
            <div flex offset="30">
              <md-input-container>
                  <label>CAJA</label>
                  <md-select required ng-model="datos.caja" step="any" name="rate" ng-disabled="seleccionado">
                    <md-option   ng-repeat="f in ctrl.cajas"  value="{{f.ID}}">{{f.cDescripcion}}</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div flex></div>
          </div>
          <div layout="row" layout-wrap >
            <div flex offset="30">
                <md-input-container>
                  <label>TURNO</label>
                  <md-select required ng-model="datos.turno" step="any" name="rate" ng-disabled="seleccionado">
                          <md-option   ng-repeat="f in ctrl.turnos"  value="{{f.ID}}">{{f.cDescripcion}}</md-option>
                  </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>
          <div layout="row" flex offset="30" layout-wrap >
            <div flex="25">
                <md-input-container>
                    <label>FECHA INCIAL</label>
                    <input type="date"  ng-model="fIni" ng-disabled="seleccionado">
                </md-input-container>
            </div>
             <div flex="25" >
                <md-input-container>
                    <label>FECHA FINAL</label>
                    <input type="date" ng-model="fFin" ng-disabled="seleccionado">
                </md-input-container>
            </div>
          </div>


          <div layout="row" layout-wrap>
             <div flex offset="30">
                 <md-input-container>
                    <label>USUARIO</label>
                    <md-select ng-model="datos.usuario" ng-disabled="seleccionado">
                      <md-option  ng-repeat="f in ctrl.usuarios"  value="{{f.NP_EXPEDIENTE}}">{{f.C_NOMBRE + '  ' + f.C_PRIMER_APELLIDO + '  ' + f.C_SEGUNDO_APELLIDO}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex></div>
          </div>
          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div flex></div>
          </div>
          <div layout="row" layout-wrap>
             <div flex offset="30">
                <md-button class="md-raised md-primary" ng-click="limpiar()" ng-show="!imprimir">Limpiar</md-button>
                <md-button class="md-raised md-primary" ng-click="buscarReporte()" ng-show="!seleccionado">Buscar</md-button>
                <md-button class="md-raised md-primary" ng-click="imprimirReporte()" ng-show="!imprimir">Imprimir reporte</md-button>
            </div>
            <div flex></div>
          </div>
    </form>
<!--Lista de servicios -->
          <div layout="row" layout-wrap>
            <div flex="30"></div>
            <div flex="70">
               <table>
            <tehead>
              <tr>
                <th>TIPO DE PAGO</th>
                 <th>TRANSACCIONES</th>
                <th>MONTO</th>
              </tr>
            </tehead>
            <tbody>
              <tr>
                <td>EFECTIVO</td>
                <td>{{ ctrl.data.efectivo.transacciones }}</td>
                <td>{{ ctrl.data.efectivo.importe}}</td>
              </tr>
              <tr>
                <td>TARJETA DE CRÉDITO</td>
               <td>{{ ctrl.data.tarjetaCredito.transacciones }}</td>
                <td>{{ ctrl.data.tarjetaCredito.importe}}</td>
              </tr>
              <tr>
                <td>TARJETA DE DÉBITO</td>
                <td>{{ ctrl.data.tarjetaDebito.transacciones }}</td>
                <td>{{ ctrl.data.tarjetaDebito.importe}}</td>
              </tr>
              <tr>
                <td>TRANSFERENCIA ELECTRÓNICA</td>
                <td>{{ ctrl.data.tranElectronica.transacciones }}</td>
                <td>{{ ctrl.data.tranElectronica.importe}}</td>
              </tr>
              <tr>
                <td>CANCELACIÓN</td>
                <td>{{ ctrl.data.cancelacion.transacciones }}</td>
                <td>{{ ctrl.data.cancelacion.importe}}</td>
              </tr>
              <tr>
                <td>DEVOLUCIONES</td>
               <td>{{ ctrl.data.devolucion.transacciones }}</td>
                <td>{{ ctrl.data.devolucion.importe}}</td>
              </tr>
              <tr>
                <td>CONDONACIONES</td>
               <td>{{ ctrl.data.condonaciones.transacciones }}</td>
                <td>{{ ctrl.data.condonaciones.importe}}</td>
              </tr>
              <tr>
                <td>DERECHOHABIENTES</td>
                <td>{{ ctrl.data.derechohabientes.transacciones }}</td>
                <td>{{ ctrl.data.derechohabientes.importe}}</td>
              </tr>
              <tr>
                <td>CONVENIOS</td>
               <td>{{ ctrl.data.convenios.transacciones }}</td>
                <td>{{ ctrl.data.convenios.importe}}</td>
              </tr>
              <tr>
                <td>CRÉDITOS</td>
               <td>{{ ctrl.data.creditos.transacciones }}</td>
                <td>{{ ctrl.data.creditos.importe}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>TOTAL</td>
                <td></td>
                <td>{{ ctrl.data.total}}</td>
              </tr>

            </tbody>
          </table>
          <br/>
          <table>
            <tehead>
              <tr>
                <th>RESUMEN DE PAGOS</th>
                <th style="padding: 0px 10px;"></th>
                <th>MONTO</th>
              </tr>
            </tehead>
            <tbody>
              <tr>
                <td>EFECTIVO + TDC + TDD + TE</td>
                <td></td>
                <td>{{ ctrl.data.resumen}}</td>
              </tr>
              <tr>
                <td>CANCELACIONES Y <br> DEVOLUCIONES</td>
                <td></td>
                <td>{{ ctrl.data.salidas}}</td>
              </tr>
              <tr>
                <td>TOTAL NETO EN CAJA</td>
                <td></td>
                <td>{{ ctrl.data.totalNeto}}</td>
              </tr>

            </tbody>
          </table>
            </div>
            <div flex></div>
          </div>
<!--Termina Lista de servicios -->
  </md-content>
      </form>
      </md-card>
  </div>
</div>
