<card-toolbar canreturn="true" title="{{title}}"></card-toolbar>
<md-content class="md-whiteframe-6dp" layout-padding>



<div layout="row" layout-margin >
  <div flex flex-order="1" class="color-graf-n md-whiteframe-3dp" flex-order-gt-md="3" layout-padding>
    <p show hide-gt-md>[flex-order="1"]</p>
    <p hide show-gt-md>[flex-order-gt-md="3"]</p>
  </div>
  <div flex flex-order="2" class="color-graf-a md-whiteframe-3dp" layout-padding style="color:white">
    <p>[flex-order="2"]</p>
  </div>
  <div flex flex-order="3" class="color-graf-m md-whiteframe-3dp" flex-order-gt-md="1" layout-padding>
    <p show hide-gt-md>[flex-order="3"]</p>
    <p hide show-gt-md>[flex-order-gt-md="1"]</p>
  </div>
</div>




Primer reporte de ventas
<c3chart bindto-id="chart1">
  <chart-column column-id="data 1"
          column-values="30,200,100,400,150,250"
          column-type="spline"/>
  <chart-column column-id="data 2"
                column-values="50,20,10,40,15,25"
                column-type="line"/>
</c3chart>


</md-content>
