<md-card layout-wrap class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true"></card-toolbar>
  <md-card-content>
    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex="90">
              <label>INGRESE EL FOLIO DE LA RECETA</label>
              <input  ng-model="idFolio">
      </md-input-container>
    
      <div layout="row" layout-align="end center" >
          <md-button class="md-raised md-primary" ng-click="buscar(idFolio)">BUSCAR</md-button>
      </div>
    </section>
  <form name="requisiciones">
  <div>
  <fieldset class="standard">
    <legend >DATOS PERSONALES </legend>
 	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
    	<md-input-container  class="form-item" flex="30">
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="nombrePaciente" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>ID</label>
            <input name="id" ng-model="datos.DATOS_PACIENTE.NP_ID" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="20">
            <label>NO. EXPEDIENTE</label>
            <input name="expediente" ng-model="datos.DATOS_PACIENTE.NP_EXPEDIENTE" readonly capitalize>
        </md-input-container>
        <md-input-container flex="20" class="form-item">
            <label>EXPEDIENTE SIU</label>
            <input maxlength="20" name="expedienteSiu" ng-model="datos.DATOS_PACIENTE.NP_EXPEDIENTE_SIU" capitalize readonly>
    </md-input-container>
	</section>

	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex="30">
            <label>SERVICIO</label>
            <input ng-model="C_AREA_SERVICIO" readonly capitalize>
        </md-input-container>

    	  <md-input-container  class="form-item" flex="30">
            <label>MÉDICO QUE PRESCRIBE</label>
            <input ng-model="nombreMedico" readonly capitalize>
        </md-input-container>
        <label ng-show="!cama">*FECHA Y HORA DEL PROCEDIMIENTO</label>
            <md-datepicker id="F_FECHA" ng-model="FECHA_PROCEDIMIENTO" ng-show="!cama" md-max-date="F_ACTUAL" ></md-datepicker>    
        <label>*FECHA Y HORA DE RECEPCIÓN DE INSUMO</label>
            <md-datepicker id="F_FECHA" ng-model="FECHA_INSUMO"  md-max-date="F_ACTUAL" required></md-datepicker>         
	</section>
  </fieldset>
  <br>
  <br>
  <fieldset class="standard">
  <legend >MEDICAMENTOS</legend>
         <section layout="row" layout-sm="column" layout-align="center center">   
            <div flex="80">
              <md-data-table-container>

             <!--   <table md-data-table    md-progress="deferred"  border="1">  -->
            <table md-data-table md-row-select="selected"  md-progress="deferred"  border="1"> 
            
               <!--     <table md-data-table   md-progress="deferred"  border="1"  >  -->
                
                <!--       <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading" > -->
                        <tr style="background-color:#00b5e2; text-align: center">
                          <th width="30%"  name="CLAVE"></th>
                          <th width="30%" name="NOMBRE MEDICAMENTO" ></th>
                           <th width="50%" name="INDICACIONES" ></th>
                           <th width="30%" name="DIAS" ></th>
                           <th width="30%" name="MESES" ></th>
                           <th width="30%" name="SAEC" ></th>
                           <th width="30%" name="*CANTIDAD" ></th>
                       
                        </tr>
                      </thead>

                  <tbody>
                    <!--  <tr md-select="registro" ng-repeat="registro in medicamentos | orderBy: query.order 
                              | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn"   >  md-disable-select="true" md-select="false"-->

                      <tr  ng-repeat="registro in medicamentos">
                          <td>{{registro.NP_MEDICAMENTO_CLAVE}}</td>
                          <td>{{registro.C_NOMBRE_MEDICAMENTO | uppercase}}</td>                          
                          <td>{{registro.C_INDICACIONES | uppercase}}</td>
                          <td>{{registro.N_DIAS | uppercase}}</td>
                          <td>{{registro.N_MESES | uppercase}}</td>
                          <td>{{registro.N_SAEC}}</td>
                          <td ng-show="false">{{registro.NP_ID}}</td>
                          <td ng-show="false">{{registro.CBASICO_CLAVE}}</td>
                          <td ng-show="false">{{registro.CATEGORIA_CLAVE}}</td>
                         
                          <td>
                            <md-input-container >
                           <!--       <input type="number" name="cantidad" ng-model="registro.C_CANTIDAD"> -->
                              <textarea name="registro" ng-model="registro.C_CANTIDAD" capitalize></textarea>
                            </md-input-container>
                          </td>
                      </tr>   
                    </tbody>                
                  </table>

                  <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
                </md-data-table-container> 
            </div>
          </section> 
  </fieldset>
  <br>
  <br>
   <fieldset class="standard">
    <legend >INSUMOS</legend>
     <section layout="" layout-sm="column">
        <md-autocomplete
            md-no-cache="noCache"
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item,0)"
            md-items="item in querySearch(searchText,0)"
            md-item-text="item.display"
            md-min-length="1"
            md-floating-label="NOMBRE DEL PROVEEDOR"
            flex>
            <md-item-template capitalize>
              <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
        </md-autocomplete>
     </section>
           <section layout="row" layout-sm="column" layout-align="center center">   
            <div flex="80">
              <md-data-table-container>
                  <table md-data-table   md-progress="deferred"  border="1"   > 
                      <thead md-order="query2.order" md-trigger="onOrderChange" class="table-heading" >
                          <tr style="background-color:#00b5e2; text-align: center">
                              <th width="20%" name="CLAVE"></th>
                              <th width="30%" name="INSUMO" ></th>
                              <th width="30%" name="CANTIDAD"></th>
                               <th width="40%" name="ELIMINAR"></th>
                          </tr>
                        </thead>

                        <tbody>
               
      
                       <tr md-auto-select ng-repeat="registro in insumos  | orderBy: query2.order 
                        | limitTo: query2.limit: (query2.page -1 )* query2.limit " ng-class="md-warn" >
                            <td>
                            <md-input-container  >
                              <textarea name="registro" ng-model="registro.NP_CVEMED"  capitalize></textarea>
                            </md-input-container>
                            </td>
       
                            <td>
                                <md-input-container  >
                                  <textarea name="registro" ng-model="registro.NP_MEDICAMENTO"  capitalize></textarea>
                                </md-input-container>
                            </td>
                                
                           <td>
                                <md-input-container >
                                 <!--     <input type="number" name="cantidad" ng-model="registro.C_CANTIDAD"> -->
                                  <textarea name="registro" ng-model="registro.C_CANTIDAD" required></textarea>
                                  <div class="errors" ng-messages="requisiciones.registro.$error" ng-if="registro.$dirty">
                                      <div ng-message="required">REQUERIDO</div>
                                  </div>
                                </md-input-container>
                            </td>
                             <td>
                              <md-button class="md-icon-button md-primary" type="button" ng-click="deleteReg($index,registro)" aria-label="Eliminar registro">
                                <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
                              </md-button>
                            </td>
                  
                       </tr>
                        </tbody>                
                    </table>

                    <md-data-table-pagination md-limit="query2.limit" md-page="query2.page" md-total="{{registro.length}}" md-trigger="onOrderChange2"></md-data-table-pagination>
                  </md-data-table-container> 
              </div>
            </section> 
    </fieldset>

    <section layout="row" layout-sm="column" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="imprimir()" ng-disabled="!generarReqImprimir && !requisiciones.$valid" >IMPRIMIR</md-button>
        <md-button class="md-raised md-primary" type="button" ng-click="guardar()" ng-disabled="!requisiciones.$valid">GUARDAR</md-button>
    </section> 
    <br>
    <br>
    </form>
  </md-card-content>
</md-card>



