<md-dialog style="min-width:1000px">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>DEVOLUCIÓN</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="images/icons/svg/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <form name="myForm">
    <md-dialog-content>
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex="20" class="form-item">
            <label>CANTIDAD</label>
            <input name="CANTIDAD" ng-model="datos.importe_devolver" readonly>
          </md-input-container>
          <md-input-container flex="80" class="form-item">
            <label>NOMBRE DEL PACIENTE</label>
            <input   name="NOMBRE_PACIENTE" ng-model="datos.NOMBRE_PACIENTE"  capitalize readonly>
          </md-input-container>
      </section>
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
          <md-input-container flex="70" class="form-item">
            <label>NOMBRE DE LA PERSONA QUIEN RECIBE</label>
            <input maxlength="50" name="NOMBRE_PERSONA_RECIBE" ng-model="datos.NOMBRE_PERSONA_RECIBE"  capitalize>
          </md-input-container>
          <md-input-container flex="30" class="form-item">
            <label>TELÉFONO</label>
            <input  maxlength="40" name="TELEFONO" ng-model="datos.TELEFONO"  capitalize >
          </md-input-container>
      </section>
      <section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap >
          <md-input-container flex="30" class="form-item form-item-right">
            <label>*IDENTIFICACIÓN</label>
             <md-select  name="identificacion" ng-model="datos.IDENTIFICACION" required >
              <md-option ng-value="identificacion.ID" ng-repeat="identificacion in catIdentificacion" >{{identificacion.cDescripcion}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="35" class="form-item">
            <label>*FOLIO DE INDENTIFICACIÓN</label>
            <input  maxlength="13" name="FOLIO_IDENTIFICACION" ng-model="datos.FOLIO_IDENTIFICACION"  required>
          </md-input-container>
          <md-input-container flex="30" class="form-item">
            <label>*PARENTESCO</label>
            <md-select  name="parentesco" ng-model="datos.PARENTESCO" required>
             <md-option ng-value="parentesco.ID" ng-repeat="parentesco in catParentesco" >{{parentesco.cDescripcion}}</md-option>
            </md-select>
             <div class="errors" ng-messages="myForm.parentesco.$error" ng-if="myForm.parentesco.$dirty  && myForm.parentesco.$dirty">
            <div ng-message="required">REQUERIDO</div>
          </md-input-container>
          
      </section>
      <div layout="row"  layout-align="center center" flex >
          <md-button class="md-raised md-primary" ng-click="devolucion($event)" ng-disabled="!myForm.$valid">GUARDAR DEVOLUCIÓN</md-button>
      </div>

    </md-dialog-content>
  </form>
</md-dialog>