<div layout="row" layout-align="center center">
 <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
	<md-card layout-wrap>
		<card-toolbar title="VALE DE CAJA" canreturn="true"></card-toolbar>
		<md-card-content>
		<form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()">
		    <md-list>
		      <md-subheader class="md-no-sticky">Datos Generales</md-subheader>
			       <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
				        <md-input-container  class="form-item" flex="33">
					        <label>FECHA</label>
					        <input  ng-model="cs.compra.T_FECHA_CMD" readonly capitalize>
				        </md-input-container >
				        <md-input-container class="form-item" flex="33">
				            <label>FOLIO DE RECIBO</label>
				            <input ng-model="cs.compra.NP_ID" readonly capitalize>
				        </md-input-container>
				        <md-input-container  class="form-item" flex="33">
				            <label>NOMBRE DEL PACIENTE</label>
				            <input ng-model="cs.compra.PACIENTE" readonly capitalize>
				        </md-input-container>
			      	</section>
			      	<section layout="row" layout-sm="" layout-align="start center" layout-wrap ng-repeat="serv in cs.response.servicios">	
				         <md-input-container class="form-item" flex="10">
				            <label>MONTO</label>
				            <input ng-model="serv.IMPORTE" readonly capitalize>
				        </md-input-container>
				        <md-input-container  class="form-item" flex="30" readonly>
				            <label>CONCEPTO</label>
				            <input ng-model="serv.desc" readonly capitalize>
				        </md-input-container>
			      	</section>
			      	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
				        <md-input-container  class="form-item" flex="20">
					        <label>Total</label>
					        <input  ng-model="cs.response.importe_devolver" readonly="true" readonly capitalize>
				        </md-input-container >
			      	</section>
			      	<br>
		      <md-divider ></md-divider>
		      <md-subheader class="md-no-sticky">Datos de quien Recibe</md-subheader>
			     	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
			      		<md-input-container  class="form-item" flex="35">
				            <label>NOMBRE DE QUIEN RECIBE</label>
				            <input ng-model="cs.response.NOMBRE"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
				        </md-input-container>
				        <md-select placeholder="PARENTESCO" ng-model="cs.response.NF_RELACION_PACIENTE" md-on-open="loadParentesco()" class="form-item" >
					        <md-option ng-repeat="dato in cs.parentescos" ng-value="dato.ID">{{dato.cDescripcion}}</md-option>
					    </md-select>
					    <md-select placeholder="IDENTIFICACIÓN" ng-model="cs.response.NF_IDENTIFICACION" md-on-open="loadIdentificacion()" class="form-item" >
					        <md-option ng-repeat="dato in cs.identificaciones" ng-value="dato.ID">{{dato.cDescripcion}}</md-option>
					    </md-select>
			    	</section>
			    	<section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
					    <md-input-container class="form-item" flex="35">
				            <label>FOLIO DE IDENTIFICACIÓN</label>
				            <input ng-model="cs.response.C_FOLIO_IDENTIFICACION" capitalize>
				        </md-input-container>
					    <md-input-container class="form-item" flex="30">
				            <label>TELÉFONO</label>
				            <input ng-model="cs.response.C_TELEFONO" capitalize>
				        </md-input-container>
				         
			    	</section>
			 		<div style="color:rgb(244,67,54); font-size:12px;" ng-show="mensaje.length">
		              	{{mensaje}}
		            </div>
			      	<div layout="row" layout-align="end center">
			      		<md-button class="md-raised md-primary" ng-click="atras()">ATRÁS</md-button>
			      		<md-button class="md-raised md-primary" type="submit" ng-click="guardar()">GUARDAR</md-button>
			      	</div>
		    </md-list>
		</form>
		</md-card-content>
    </md-card>
  </div>
</div>