<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('C')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>
	<md-card-content>
    		
	    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap ng-show="checkCuentaPaciente">
	        <md-input-container  class="form-item" flex="30">
	            <label>NOMBRE DEL PACIENTE</label>
	            <input ng-model="datos.paciente.nombre" readonly capitalize>
	        </md-input-container>
			<md-input-container  class="form-item" flex="30">
	            <label>ID</label>
	            <input ng-model="datos.paciente.ID" readonly capitalize>
	        </md-input-container>
	        <md-input-container  class="form-item" flex="30">
	            <label>NO. EXPEDIENTE</label>
	            <input ng-model="datos.paciente.exp" readonly capitalize>
	        </md-input-container>
		</section>
		<form name="cuentaPaciente">
		<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap> 			
	        <md-autocomplete
		        md-no-cache="noCache"
		        md-selected-item="selectedItem"
		        md-search-text="searchText"
		        md-selected-item-change="selectedItemChange(item,0)"
		        md-items="item in querySearch(searchText,0)"
		        md-item-text="item.display"
		        md-min-length="1"
		        md-floating-label="NOMBRE DEL ARTÍCULO"
		        flex>
		        <md-item-template capitalize>
		          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
		        </md-item-template>
		    </md-autocomplete>
		    <md-input-container  flex="20"  class="form-item">
	         <label>ALMACEN </label>
		        <md-select  name="almacen"  ng-model="NF_ALMACEN" class="form-item" >
                    <md-option ng-value="almacen.nId"  ng-repeat="almacen in catAlmacenes">{{almacen.C_DESCRIPCION | uppercase}}</md-option>
                </md-select>
                 <div class="errors" ng-messages="cuentaPaciente.almacen.$error" ng-if="cuentaPaciente.$dirty">
			        <div ng-message="required">Requerido</div>
			    </div>
		    </md-input-container>
    	</section> 	

		<section layout="column" layout-sm="column">
	        <md-data-table-container>
	            <table md-data-table selectable-rows="false" border="1" flex>
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                  <tr style="text-align: center">
	                    <th name="DESCRIPCIÓN" ></th>
	                    <th name="CANTIDAD"></th>
	                    <th name="UNIDAD"></th>
	                    <th name="ELIMINAR"></th>
	                  </tr>
	                </thead>
	                <tbody>
	                <tr md-auto-select ng-repeat="registro in datosArticulos  | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                  
							<td>
                  				<md-input-container >
                  					<textarea name="registro.CDESCRIPCION" ng-model="registro.CDESCRIPCION" capitalize disabled></textarea>
							    </md-input-container>
							</td>

		                    <td>
	              				<md-input-container >
                  					 <input type="number" ng-model="registro.N_CANT_SOLICITADA" ng-change="changeCantidad($index,registro.N_CANT_SOLICITADA)" required>
							    </md-input-container>
	              			</td>

	              			 <td>
	              				<md-input-container >
                  					<textarea name="registro.NFUNIDAD" ng-model="registro.NFUNIDAD" capitalize disabled></textarea>
							    </md-input-container>
	              			</td>

	              			<td>
	              				<md-button class="md-icon-button md-primary" type="button" ng-click="deleteReg($index)" >
					            	<md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					            </md-button>
	              			</td>	

	                 </tr>
	                </tbody>                
	            </table>
	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{datosArticulos.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
            </md-data-table-container>
         
		</section> 

		<section layout="column" layout-sm="column">
			<label>OBSERVACIONES</label>
			<md-input-container >
					<textarea name="C_OBSERVACIONES" ng-model="C_OBSERVACIONES" capitalize required></textarea>
		    </md-input-container>  			
		</section> 
		
		<div layout="row"  layout-md="" layout-sm="" layout-align="end center" layout-wrap >
            <md-input-container  class="form-item" flex="15">
               <md-button md-no-ink class="md-raised md-primary" ng-click="cancelar()" type="button">CANCELAR</md-button>
             </md-input-container>
            <md-input-container  class="form-item"flex="15" >
               <md-button md-no-ink class="md-raised md-primary" ng-click="guardar()" type="button" ng-disabled="!cuentaPaciente.$valid">GUARDAR</md-button>
            </md-input-container>
          
        </div>
        </form>

	</md-card-content>
</md-card>	


