<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content >
		<form >
			<section layout="" layout-sm="column">
				<div layout="row" layout-align="end center" flex="40">
			      	<md-button class="md-raised md-primary" flex="30" type="button" ng-click="crearRequisicion(1)">CREAR REQUISICIÓN</md-button>
			      	<md-button class="md-raised md-primary"  flex="60" type="button" ng-click="crearRequisicion(0)" >CREAR REQUISICIÓN ESPECIAL</md-button>
			    </div>
		    </section>
			
			<section layout="row" layout-sm="column" layout-align="center center">   
	            <div flex="80">
	              <md-data-table-container>
			      <table md-data-table md-row-select="selected"  md-progress="deferred"  border="1"> 
	                        <tr style="background-color:#00b5e2; text-align: center">
	                          <th width="30%"  name="CANTIDAD"></th>
	                          <th width="30%" name="CLAVE" ></th>
	                           <th width="50%" name="UNIDAD" ></th>
	                           <th width="30%" name="DESCRIPCIÓN" ></th>
	                         
	                       
	                        </tr>
	                      </thead>
	                  <tbody>
	                    <tr  ng-repeat="registro in requisiciones">
	                          <td>{{registro.CANTIDAD}}</td>
	                          <td>{{registro.CLAVE}}</td>                          
	                          <td>{{registro.UNIDAD}}</td>
	                          <td>{{registro.DESCRIPCION}}</td>  
	                      </tr>   
	                    </tbody>                
	                </table>

	                 <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
	                </md-data-table-container> 
	            </div>
            </section> 
		    <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="button" ng-click="cancelar()">CANCELAR</md-button>
		      	<md-button class="md-raised md-primary" type="button" ng-click="guardar()" >GUARDAR</md-button>
		      	<md-button class="md-raised md-primary" type="button" ng-click="imprimir()" >IMPRIMIR</md-button>
		    </div>
	  	</form>
	</md-card-content>
</md-card>
