<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('P')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="end center">
			<section layout-align="end center" flex  >	
				<md-input-container  class="form-item" ng-if="!agregar">
           			<label>SUB-ALMACEN</label>
		           	<md-select   ng-model="alm.NF_ALMACEN" class="form-item"  ng-change="datosArticulos=[]">
		                <md-option ng-value="sub.nId"  ng-repeat="sub in catSubalmacenes">{{sub.C_DESCRIPCION | uppercase}}</md-option>
		            </md-select>	
			    </md-input-container>

			    
            	<md-input-container  class="form-item">
            		<label>OBSERVACIONES</label>
		            <textarea ng-model="alm.C_OBSERVACIONES" ng-required="true"></textarea>
			    </md-input-container>

			    <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="center center" >
				    <md-input-container  class="form-item" flex>
	            		<label>ENTREGO</label>
			            <input ng-model="alm.C_ENTREGO" ng-required="true">
				    </md-input-container>

				    <md-input-container  class="form-item" flex>
	            		<label>RECIBIO</label>
			            <input ng-model="alm.C_RECIBIO" ng-required="true">
				    </md-input-container>

				    <md-input-container  class="form-item" flex>
	            		<label>AUTORIZO</label>
			            <input ng-model="alm.C_AUTORIZO" ng-required="true">
				    </md-input-container>
                </div>

			    <md-button class="md-raised md-primary" ng-click="obtenArticulos()" ng-if="!agregar && alm.NF_ALMACEN != undefined">OBTENER ARTICULOS</md-button>
			    <md-button class="md-raised md-primary" ng-click="cambiarSubalmacen()" ng-if="agregar">CAMBIAR DE SUB-ALMACEN</md-button>			    
           	</section>
		</div>	


		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="home center" ng-if="agregar">
			
			<section layout="" layout-sm="column">
			    <md-autocomplete
			    	md-input-name="articulo"
			    	md-no-cache="noCache"
			        md-selected-item="selectedItemArticulo"
			        md-search-text="searchTextArticulo"
			        md-selected-item-change="selectedItemChange(item,1)"
			        md-items="item in querySearch(searchTextArticulo,1)"
			        md-item-text="item.display"
			        md-min-length="1"
			        md-floating-label="NOMBRE DEL ARTÍCULO"
			        required
			        flex>
			        <md-item-template capitalize>
			          <span md-highlight-text="searchTextArticulo" md-highlight-flags="^i">{{item.display}}</span>
			        </md-item-template>
			    </md-autocomplete>
			</section>	
		</div>	

		<section layout="column"  layout-align="left center">   			
	        
	        <md-data-table-container>
	            <table md-data-table md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                	<tr style="background-color:#00b5e2; text-align: center">	
	                		<td width="20%" style="text-align:center" colspan="2">ALMACEN</th>
	                		<td style="text-align:center" rowspan="2">U. MEDIDA</th>
		                    <td style="text-align:center" rowspan="2">DESCRIPCION</th>		                    
		                    <td width="20%" style="text-align:center" colspan="2">CANTIDAD</th>
		                    <td style="text-align:center" rowspan="2">SURTIDA</th>
		                    <td width="10%" style="text-align:center" rowspan="2">FALTANTE</th>
		                    <td width="10%" style="text-align:center" rowspan="2">ELIMINAR</th>
	                	</tr>	
		                <tr style="background-color:#00b5e2; text-align: center">
		                	<td width="5%" style="text-align:center">STOK</th>
	                		<td width="10%" style="text-align:center">EXISTENCIA</th>
		                	<td style="text-align:center">EXISTENCIA</th>
		                    <td style="text-align:center">SOLICITADA</th>
		                    
		                </tr>		                
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in datosArticulos | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                    <td style="text-align:center">{{registro.N_PUNTO_REORDEN_ALMACEN}}</td>
		                    <td style="text-align:center">{{registro.N_EXISTENCIAS_ALMACEN }}</td>
		                    <td>{{registro.C_UNIDAD_MEDIDA }}</td>
		                    <td>{{registro.C_DESCRIPCION}}</td>
		                    <td style="text-align:center">{{registro.N_EXISTENCIAS }}</td>
		                    <td style="text-align:center">{{registro.N_CANT_SOLICITADA }}</td>
		                    
		                    <td >
		                    	<md-input-container  class="form-item">
						            <input type="number" ng-model="registro.N_CANT_SURTIDA" ng-required="true" style="text-align:center">
							    </md-input-container>
		                    </td>

		                    <td style="text-align:center">{{registro.N_FALTANTE }}</td>

		                    <td style="text-align:center">
			                    <md-button class="md-icon-button md-primary" type="button" ng-click="deleteReg($index)" aria-label="Eliminar registro">
					            	<md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					            </md-button>
					        </td>
	                  </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{datosArticulos.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 

    	<section layout="row" layout-sm="column" layout-align="end center">
    		<md-button class="md-raised md-primary" ng-click="surtir()" ng-if="datosArticulos.length">SURTIR</md-button>
		    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
	    </section> 

	</md-card-content>

</md-card>	


