<md-card class="md-whiteframe-6dp" ng-init="obtenRegistros('P')">
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-wrap layout-align="end center">
			<section layout-align="end center" flex>		           	
           		<label>FECHA DE ELABORACIÓN</label>
           		<md-datepicker ng-model="datos.FELABORACION" md-max-date="F_ACTUAL"></md-datepicker>	           	
		    </section>
		</div>	

		<section layout="" layout-sm="column">
		    <md-autocomplete
		    	md-input-name="articulo"
		    	md-no-cache="noCache"
		        md-selected-item="selectedItemArticulo"
		        md-search-text="searchTextArticulo"
		        md-selected-item-change="selectedItemChange(item,1)"
		        md-items="item in querySearch(searchTextArticulo,1)"
		        md-item-text="item.display"
		        md-min-length="1"
		        md-floating-label="NOMBRE DEL ARTÍCULO"
		        required
		        flex>
		        <md-item-template capitalize>
		          <span md-highlight-text="searchTextArticulo" md-highlight-flags="^i">{{item.display}}</span>
		        </md-item-template>
		    </md-autocomplete>
		</section>	

		<section layout="column"  layout-align="left center">   			
	        
	        <md-data-table-container>
	            <table md-data-table md-progress="deferred">
	                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
	                	<tr style="background-color:#00b5e2; text-align: center">	
	                		<td width="5%" style="text-align:center" rowspan="2">STOK</th>
		  	                <td style="text-align:center" rowspan="2">U. MEDIDA</th>
		                    <td style="text-align:center" rowspan="2">DESCRIPCION</th>
		                    <td width="10%" style="text-align:center" rowspan="2">EXISTENCIA</th>
		                    <td width="20%" style="text-align:center" colspan="2" ng-if="isAlmacen">CANTIDAD</th>
		                    <td width="20%" style="text-align:center" ng-if="!isAlmacen">CANTIDAD</th>	
		                    <td width="10%" style="text-align:center" rowspan="2" ng-if="isAlmacen">FALTANTE</th>
		                    <td width="10%" style="text-align:center" rowspan="2">ELIMINAR</th>
	                	</tr>	
		                <tr style="background-color:#00b5e2; text-align: center">
		                    <td style="text-align:center">SOLICITADA</th>
		                    <td style="text-align:center" ng-if="isAlmacen">SURTIDA</th>
		                </tr>
	                </thead>

	                <tbody>
	                  <tr md-auto-select ng-repeat="registro in datosArticulos | filter:buscar | orderBy: query.order 
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                    <td style="text-align:center">{{registro.N_PUNTO_REORDEN}}</td>
		                    <td>{{registro.C_UNIDAD }}</td>
		                    <td>{{registro.C_DESCRIPCION | uppercase}}</td>
		                    <td style="text-align:center">{{registro.N_EXISTENCIA }}</td>

		                    <td style="text-align:center">
		                    	<md-input-container  class="form-item" >
						            <input type="number" ng-model="registro.N_CANT_SOLICITADA" required>
							    </md-input-container>
		                    </td>

		                    <td style="text-align:center" ng-if="isAlmacen">
		                    	<md-input-container  class="form-item">
						            <input type="number" ng-model="registro.N_CANT_SURTIDA" ng-required="true" >
							    </md-input-container>
		                    </td>

		                    <td style="text-align:center" ng-if="isAlmacen">{{registro.N_FALTANTE }}</td>

		                    <td style="text-align:center">
			                    <md-button class="md-icon-button md-primary" type="button" ng-click="deleteReg($index)" aria-label="Eliminar registro">
					            	<md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
					            </md-button>
					        </td>
	                  </tr>
	                </tbody>                
	            </table>

	            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange" ></md-data-table-pagination>
            </md-data-table-container>   
    	</section> 

    	<section layout="row" layout-sm="column" layout-align="end center">
		    <md-button class="md-raised md-primary" ng-click="generar()">GENERAR</md-button>
		    <md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
	    </section> 

	</md-card-content>

</md-card>	


