<style>
	.content-message{
		width: 100%;
		min-height: 120px;
		text-align: center;
	}
	.content-message h3{
		position: relative;
		font-family: arial;
		font-size: 1.3em;
		font-weight: 400;
		color: #CCC;
		top: 3em;
	}
	.content-message i{
		color: #CCC; 
		font-size: 2.1em;
	}
</style>
<div class="content-message">
	<h3> {{ mensaje }}</h3>
	<i class="fa fa-info-circle"></i>
</div>