<md-card layout-wrap class="md-whiteframe-6dp">
    <card-toolbar  canreturn="true"></card-toolbar>
    <md-card-content >

    <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
      <md-input-container  class="form-item" flex>
            <label>NOMBRE DEL PACIENTE</label>
            <input ng-model="datos.nombre" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>ID</label>
            <input ng-model="datos.H" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>NO. EXPEDIENTE</label>
            <input ng-model="datos.exp" readonly capitalize>
        </md-input-container>
  </section>

  <section layout="row"  layout-md="" layout-sm="" layout-align="start center" layout-wrap>
        <md-input-container  class="form-item" flex>
            <label>FECHA DE NACIMIENTO</label>
            <input ng-model="datos.fNac" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex="30">
            <label>EDAD</label>
            <input ng-model="datos.edad" readonly capitalize>
        </md-input-container>
        <md-input-container  class="form-item" flex>
            <label>GÉNERO</label>
            <input ng-model="datos.genero" readonly capitalize>
        </md-input-container>
  </section>



<div layout="row" layout-align="start center">
      <md-input-container  class="form-item" flex>
            <label>DIAGNÓSTICO (CIE 10)</label>
            <input ng-model="ctrl.hojaEnfermeria.C_CIE_10" readonly capitalize>
      </md-input-container>
      <md-input-container  class="form-item" flex>
            <label>ÁREA</label>
            <input ng-model="ctrl.hojaEnfermeria.C_HOSPITALIZACION" readonly capitalize>
      </md-input-container>
</div>


<div layout="row" layout-align="end center">
     <md-button md-no-ink class="md-primary" ng-show="ctrl.verBtn" ng-click="ctrl.load(125)">SUBIR ARCHIVO</md-button>
</div>

  <!-- Datos solo informativos -->
  <div >
  <h3 class="md-headline">HOJAS DE ENFERMERÍA</h3>
    <md-data-table-container>
          <table md-data-table  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
            <thead md-order="query.order">
              <tr style="background-color:#00b5e2">
                <th ng-repeat="column in notaMedica" ng-attr-order-by="{{column.orderBy}}" ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}" style="width:{{column.width}};"></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="nota in ctrl.hojaEnfermeria.HOJAS_ENFERMERIA | orderBy:nota.T_FECHA_CMD:true | limitTo: query.limit: (query.page - 1) * query.limit">
                <td>{{nota.T_FECHA_CMD | date:'dd/MM/yyyy' }}</td>
                <td >{{nota.C_CIE_10 }}</td>
         
                <td >
                    <a href ng-click="ctrl.download(nota.NP_ID, nota.C_FILE)">DESCARGAR ARCHIVO</a>
                </td>

              </tr>

              <tr ng-show="ctrl.hojaEnfermeria.HOJAS_ENFERMERIA.length ==0">
                <td colspan="4" style="text-align: center;">NO HAY HOJAS DE ENFERMERÍA</td>
              </tr>
              <tr ng-show="ctrl.verBtn==false">
                <td colspan="4" style="text-align: center;">EL PACIENTE AUN NO TIENE NINGUNA NOTA MEDICA</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ctrl.hojaEnfermeria.HOJAS_ENFERMERIA.length}}" md-trigger="onpagechange"></md-data-table-pagination>

  </div>


  </md-card-content >
</md-card>
