<section layout="row" layout-sm="column" layout-align="center center" >   
 	<div flex="80">
    <h1 class="md-title">ESCALA DE VALORACIÓN LANGERON</h1>
		<md-data-table-container>
      <table md-data-table>
        	<thead>
            <tr>
                  <th name="{{ctrl.datos.langeron[0].C_MOTIVO}}"></th>
                  <th name="{{ctrl.datos.langeron[2].C_MOTIVO}}"></th>
                  <th name="{{ctrl.datos.langeron[4].C_MOTIVO}}"></th>
                  <th name="{{ctrl.datos.langeron[6].C_MOTIVO}}"></th>
                  <th name="{{ctrl.datos.langeron[8].C_MOTIVO}}"></th>
                  <th name="PUNTAJE"></th>
            </tr> 
          </thead>	
        	<tbody>
        		<tr ng-class="md-warn">
        			<td>
                  <md-radio-group ng-model="ctrl.datos.langeron[0].N_PUNTAJE"  ng-change="setEstatusLangeron(0,ctrl.datos.langeron[0].N_PUNTAJE)"  required>
                    <md-radio-button value="0" ng-disabled="!editable">{{ctrl.datos.langeron[0].C_DESCRIPCION }} </md-radio-button>
                    <md-radio-button value="1" ng-disabled="!editable">{{ctrl.datos.langeron[1].C_DESCRIPCION }}</md-radio-button>
                  </md-radio-group>
                  <div style="text-align:center" ng-if="ctrl.datos.langeron[0].N_PUNTAJE>=0">{{ctrl.datos.langeron[0].N_PUNTAJE}}</div>
              </td>      
        			<td>  
                  <md-radio-group ng-model="ctrl.datos.langeron[2].N_PUNTAJE"  ng-change="setEstatusLangeron(2,ctrl.datos.langeron[2].N_PUNTAJE)" required>
                    <md-radio-button value="0" ng-disabled="!editable">{{ctrl.datos.langeron[2].C_DESCRIPCION }}</md-radio-button>
                    <md-radio-button value="1" ng-disabled="!editable">{{ctrl.datos.langeron[3].C_DESCRIPCION }}</md-radio-button>
                  </md-radio-group>
                 <div style="text-align:center" ng-if="ctrl.datos.langeron[2].N_PUNTAJE>=0" >{{ctrl.datos.langeron[2].N_PUNTAJE}}</div>
               </td>
        			<td>
                  <md-radio-group ng-model="ctrl.datos.langeron[4].N_PUNTAJE"  ng-change="setEstatusLangeron(4,ctrl.datos.langeron[4].N_PUNTAJE)" required>
                    <md-radio-button value="0" ng-disabled="!editable">{{ctrl.datos.langeron[4].C_DESCRIPCION }}</md-radio-button>
                    <md-radio-button value="1" ng-disabled="!editable">{{ctrl.datos.langeron[5].C_DESCRIPCION }}</md-radio-button>
                  </md-radio-group> 
                  <div style="text-align:center" ng-if="ctrl.datos.langeron[4].N_PUNTAJE>=0">{{ctrl.datos.langeron[4].N_PUNTAJE}}</div>
              </td>
        			<td> 
                  <md-radio-group ng-model="ctrl.datos.langeron[6].N_PUNTAJE"   ng-change="setEstatusLangeron(6,ctrl.datos.langeron[6].N_PUNTAJE)" required>
                    <md-radio-button value="0" ng-disabled="!editable">{{ctrl.datos.langeron[6].C_DESCRIPCION }}</md-radio-button>
                    <md-radio-button value="1" ng-disabled="!editable">{{ctrl.datos.langeron[7].C_DESCRIPCION }}</md-radio-button>
                  </md-radio-group>
                  <div style="text-align:center" ng-if="ctrl.datos.langeron[6].N_PUNTAJE>=0">{{ctrl.datos.langeron[6].N_PUNTAJE}}</div>
              </td>	
              <td>
                  <md-radio-group ng-model="ctrl.datos.langeron[8].N_PUNTAJE"  ng-change="setEstatusLangeron(8,ctrl.datos.langeron[8].N_PUNTAJE)" required>
                    <md-radio-button value="0" ng-disabled="!editable">{{ctrl.datos.langeron[8].C_DESCRIPCION }}</md-radio-button>
                    <md-radio-button value="1" ng-disabled="!editable">{{ctrl.datos.langeron[9].C_DESCRIPCION }}</md-radio-button>
                  </md-radio-group>
                  <div style="text-align:center" ng-if="ctrl.datos.langeron[8].N_PUNTAJE>=0">{{ctrl.datos.langeron[8].N_PUNTAJE}}</div>
              </td>    
              <td>
                  <h3 style="text-align:center">0</h3>
                  <h3 style="text-align:center">1</h3>
              </td>
        		</tr>
        		<tr>
        			<td colspan="5" style="text-align:right">
        				<h3>TOTAL:</h3>
        			</td>
        			<td colspan="3" style="text-align:center">
        				<h3>{{ctrl.total}}</h3>
        			</td>
        		</tr>
        	</tbody>
      </table>
    </md-data-table-container>    
  </div>
</section>
<br>
<section layout="row" layout-sm="column" layout-align="center center" ng-show="ctrl.total>2">   
  <div flex="50" style="color:red;"> VALORACIÓN > 2 POSIBILIDAD DE DIFICULTAD PARA VENTILACIÓN</div>
</section> 
<div layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ng-click="guardarDatos('langeron')" type="button" ng-disabled="!editable">GUARDAR</md-button>
</div>