.<section layout="row" layout-sm="column" layout-align="center center" >   
 	<div flex="80">
       <h1 class="md-title">RIESGO TROMBOEMBÓLICO</h1>
		<md-data-table-container>
            <table md-data-table>
              	<thead></thead>	
              	<tbody>
              		<tr ng-repeat="registro in ctrl.datos.riesgoTromboembolico | limitTo:15" ng-class="md-warn">
              			<td>
              				<md-checkbox ng-model="registro.C_VALOR" ng-click="getTotal(registro,'riesgotromboemlico')" ng-disabled="!editable">
				            </md-checkbox>
              			</td>
              			<td> {{registro.C_DESCRIPCION}} </td>
              			<td> {{registro.N_PUNTAJE}} </td>	
              		</tr>
              		<tr>
              			<td colspan="2" style="text-align:right">
              				<h3>TOTAL:</h3>
              			</td>
              			<td colspan="2" style="text-align:center">
              				<h3>{{ctrl.total}}</h3>
              			</td>
              		</tr>
              	</tbody>
            </table>
        </md-data-table-container> 
    </div>
</section>
<br>
<section layout="row" layout-sm="column" layout-align="center center" >   
  <div flex="50"> VALORACIÓN
        <md-data-table-container>
            <table md-data-table selectable-rows="false" md-data-table border="1">
                <thead class="table-heading"></thead>
                <tbody>
                  <tr md-auto-select ng-repeat="registro in ctrl.datos.tromboembolicoValoracion" ng-class="md-warn">
                      <td>{{registro.C_DESCRIPCION}}</td>
                      <td>   
                        <button ng-if="registro.C_VALOR!=false" class="md-fab md-button" type="button" ></button> 
                      </td>
                  </tr>
                </tbody>   

            </table>
        </md-data-table-container> 
    </div>
</section> 
<div layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ng-click="guardarDatos('riesgotromboemlico')" type="button" ng-disabled="!editable">GUARDAR</md-button>
</div>