<md-card layout-wrap class="md-whiteframe-6dp" >
  <md-card-content >
    <md-toolbar class="contentClinico"  ng-click="seleccionar(9)" >
        <div class=" no_selection linkClinico" >
            {{secciones[9].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaGoldman" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[9].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(10)" >
        <div class=" no_selection linkClinico" >
            {{secciones[10].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[10].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(11)" >
        <div class=" no_selection linkClinico" >
            {{secciones[11].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaLangeron" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[11].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico"  ng-click="seleccionar(12)" >
        <div class=" no_selection linkClinico" >
            {{secciones[12].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[12].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico"  ng-click="seleccionar(13)" >
        <div class=" no_selection linkClinico" >
            {{secciones[13].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[13].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>


    <md-toolbar class="contentClinico"  ng-click="seleccionar(14)" >
        <div class=" no_selection linkClinico" >
            {{secciones[14].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaident" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[14].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    <md-toolbar class="contentClinico" 
     ng-click="seleccionar(15)" >
        <div class=" no_selection linkClinico" >
            {{secciones[15].titulo}}
        </div>
    </md-toolbar> 
    <div ficha-ident="fichaRiesgoTromboembolico" class="check-element animate-show md-whiteframe-3dp" ng-show="secciones[15].visible" style="margin: -5px 0px 10px 0px; border:none;"></div>

    

  </md-card-content>
</md-card>

