
<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="registrarDatos('ANEXO')" ng-init="inicializaPagina(false)">  <!-- (registraForm.C_DIAGNOSTICO_SOCIAL.$dirty) -->
			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<!--md-datepicker ng-model="ESTUDIO_SOCIAL.F_FECHA" md-placeholder="FECHA DE REG" md-min-date="fechaInicial" disabled></md-datepicker-->

						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DATOS GENERALES</h1>
						</div>

						<md-input-container class="form-item form-item-right">
				          <label>FECHA DE REGISTRO</label>
				          <input m name="C_NOMBRE" ng-model="ESTUDIO_SOCIAL.F_FECHA" disabled>
				        </md-input-container>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>NOMBRE (S)</label>
					          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/"  disabled>					          
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO PATERNO</label>
					          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/"  disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO MATERNO</label>
					          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/"  disabled>
					        </md-input-container>	


						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container class="form-item form-item-right">
					          <label>NO. EXPEDIENTE</label>
					          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
					        </md-input-container>	

					        <md-input-container class="form-item form-item-right">
					          <label>ID. PACIENTE</label>
					          <input name="ID" ng-model="paciente.NP_ID" disabled>
					        </md-input-container>

							<md-input-container flex class="form-item" disabled>
					          <label>ESTADO CIVIL</label>
					      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex disabled>
							      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>

							<md-input-container flex class="form-item form-item-right">
					          <label>GÉNERO</label>
						        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO" flex disabled>
							      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>

							<md-input-container flex class="form-item form-item-right">
							    <label>FECHA DE NACIMIENTO</label>
							    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
							</md-input-container>							

					        <md-input-container flex class="form-item form-item-right" >
					          <label>EDAD</label>
					          <input name="EDAD" ng-model="paciente.EDAD" disabled>
					        </md-input-container>	
						</div>	
											
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>OCUPACIÓN</label>
					          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION"  maxlength="50" disabled>
					        </md-input-container>

							<md-input-container flex class="form-item" >
					          <label>LUGAR DE ORIGEN</label>
					          <md-select placeholder="LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex disabled>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
					        </md-input-container>

					        <md-input-container flex="10" class="form-item form-item-right" >
					          <label>% APOYO</label>
					          <input type="number" name="N_NIVEL_SOCIECONOMICO" ng-model="N_NIVEL_SOCIECONOMICO" min="0"  disabled>
					        </md-input-container>
					    </div>	
					</div>
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DOMICILIO DEL PACIENTE</h1>
						</div>
					
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>CALLE</label>
					          <input name="C_CALLE" ng-model="paciente.C_CALLE" disabled>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>COLONIA</label>
					          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" disabled>
					        </md-input-container>	
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>ESTADO</label>

							    <md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex disabled>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>	
							
							<md-input-container flex class="form-item form-item-right">
					          <label>MUNICIPIO</label>
					          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" disabled>-					          
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>LOCALIDAD</label>
					          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" disabled>					          
					        </md-input-container>

						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
						    <md-input-container flex class="form-item form-item-right">
					          <label>CÓDIGO POSTAL</label>
					          <input type="number" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 1</label>
					          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 2</label>
					          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" disabled>
					        </md-input-container>	
						</div>	
					</div>	
				</md-whiteframe>
			</div>

			<div layout-padding layout-wrap  ng-cloak ng-if="!isDerechoHabiente">				
				<div layout="row" flex layout layout-align="center center" >
					<h1 class="md-title" >INFORMACION SOCIO-ECONOMICA</h1>
				</div>

				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">GRUPO FAMILIAR</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table>
		                          	<thead>
		                          	</thead>	
		                          	<tbody>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td >
									      		<md-input-container  class="form-item">
											       <input name="GRUPO_F" ng-model="sumCalif[0].valor" disabled style="text-align:center" aria-label="GRUPO FAMILIAR" >
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="grupoFam in grupoFam" ng-class="md-warn">
			                                <td >{{ grupoFam.etiqueta }} INTEGRANTES</td>
			                                <td style="text-align:center">{{ grupoFam.num }}</td>
			                            </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">OCUPACION</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table>
		                          	<thead>
		                          	</thead>
		                          	<tbody>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td>
									      		<md-input-container flex class="form-item">
											       <input name="ocupacion" ng-model="sumCalif[1].valor" style="text-align:center" aria-label="CALIFICACIÓN" disabled>
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="ocupacion in ocupacion" ng-class="md-warn">
			                                <td >{{ ocupacion.etiqueta }}</td>
			                                <td style="text-align:center">{{ ocupacion.num }}</td>
			                            </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">INGRESO FAMILIAR (PROMEDIO MENSUAL)</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table>
		                          	<thead>
		                          	</thead>
		                          	<tbody flex>
			                            <tr ng-repeat="item in ingresoFa" ng-class="md-warn">
			                                <td >{{ item.etiqueta }}</td>
			                                <td>
									      		<md-input-container flex class="form-item">
											       <input name="ingresoFam" ng-model="item.valor" disabled style="text-align:center" aria-label="INGRESO FAMILIAR" disabled>
											    </md-input-container>
									      	</td>
									    </tr>
									    	<td>TOTAL </td>		
									     	<td style="text-align:center">
									      	   {{ingreso}}
									      	</td>
									    <tr>

									    </tr>
			                           
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>
				</div>

				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">SALARIO</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
		                          	</thead>
		                          	<tbody flex>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td>
									      		<md-input-container flex class="form-item">
											       <input name="salario" ng-model="sumCalif[2].valor" style="text-align:center" aria-label="SALARIO" disabled>
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="salario in salario" ng-class="md-warn">
			                                <td >{{ salario.etiqueta }}</td>
			                                <td style="text-align:center">{{ salario.num }}</td>
			                            </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">TIPO DE VIVIENDA</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
		                          	</thead>
		                          	<tbody flex>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td>
									      		<md-input-container flex class="form-item">
											       <input name="vivienda" ng-model="sumCalif[3].valor" style="text-align:center" aria-label="CALIFICACIÓN" disabled>
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="vivienda in vivienda" ng-class="md-warn">
			                                <td >{{ vivienda.etiqueta }}</td>
			                                <td style="text-align:center">{{ vivienda.num }}</td>
			                            </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">EGRESO FAMILIAR (PROMEDIO MENSUAL)</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
		                          	</thead>
		                      		<tbody flex>
			                            <tr ng-repeat="item in egresoFa" ng-class="md-warn">
			                                <td >{{ item.etiqueta }}</td>
			                                <td>
									      		<md-input-container flex class="form-item">
											       <input name="egresoFam" ng-model="item.valor" disabled style="text-align:center" aria-label="EGRESO FAMILIAR">
											    </md-input-container>
									      	</td>
									    </tr>
									    	
									    <tr>
									    	<td>TOTAL</td>		
									     	<td style="text-align:center">
									      		{{egreso}}
									      	</td>
									    </tr>
			                           
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>
				</div>	

				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">NUMERO DE DORMITORIOS</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
		                          	</thead>
		                          	<tbody flex>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td>
									      		<md-input-container flex class="form-item">
											       <input name="dormitorios" ng-model="sumCalif[4].valor" disabled style="text-align:center" aria-label="CALIFICACIÓN">
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="dormitorio in dormitorio" ng-class="md-warn">
			                                <td >VIVIENDA {{ dormitorio.etiqueta }}</td>
			                                <td style="text-align:center">{{ dormitorio.num }}</td>
			                            </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">SITUACIÓN ECONÓMICA</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
		                          	</thead>
		                          	<tbody flex>
		                          		<tr>
									      	<td style="text-align:right">CALIFICACION</td>
									      	<td>
									      		<md-input-container flex class="form-item">
											       <input name="situacionE" ng-model="sumCalif[5].valor" disabled style="text-align:center" aria-label="SITUACIÓN ECONOMICA" >
											    </md-input-container>
									      	</td>
									    </tr>
			                            <tr ng-repeat="situacionE in situacionE" ng-class="md-warn">
			                                <td >{{ situacionE.etiqueta }}</td>
			                                <td style="text-align:center">{{ situacionE.num }}</td>
			                            </tr>

		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
	                    </section>    
					</md-whiteframe>

					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">SUMA DE CALIFICACIONES</section>
				        	<md-divider>
					        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
	                          		</thead>
		                          	<tbody flex>
			                            <tr ng-repeat="sumC in sumCalif" ng-class="md-warn">
			                                <td> {{ sumC.etiqueta }}</td>
			                                <td style="text-align:center"> {{ sumC.valor }}</td>
			                                
			                            </tr>
			                             <tr>
									    	<td>TOTAL</td>		
									     	<td style="text-align:center">
									      	   {{total}}
											    
									      	</td>
									    </tr>
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
	                        </md-divider>
		                </section>
					</md-whiteframe>
				</div>		

				<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
					<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">ESCALA DE CLASIFICACION</section>
				        	<md-divider>
					        	<md-data-table-container>
			                          <table md-data-table  md-progress="deferred">
			                          	<thead>
		                          		</thead>
			                          	<tbody flex>
				                            <tr >
				                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.num }}</td>
				                            </tr>
				                            <tr >
				                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.porcentaje }}</td>
				                            </tr>
				                            <tr >
				                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.rango }}</td>
				                            </tr>
				                            
			                            </tbody>                
			                          </table>
			                        </md-data-table-container>
					        	
		                    </md-divider>
	                    </section>
					</md-whiteframe>

					<!--md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
						<section layout="row"  layout-align="center center">DIAGNOSTICO SOCIAL</section>
				        	<md-divider>
				        		 <md-input-container flex="">
							       <textarea name="C_DIAGNOSTICO_SOCIAL" ng-model="paciente.C_DIAGNOSTICO_SOCIAL" columns="2" maxlength="2000" md-maxlength="2000"  aria-label="DIAGNOSTICO SOCIAL" required capitalize></textarea>
							     </md-input-container>					     
		                    </md-divider>
		                </section> 
		            	<md-button class="md-raised md-primary" type="button" ng-click="muestraHistorico($event)">HISTORICO</md-button>
					</md-whiteframe-->
				</div>			
			</div>

			<div layout-padding layout-wrap  ng-cloak ng-if="isDerechoHabiente">
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DATOS DEL FAMILIAR O RESPONSABLE</h1>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item">
					          <label>NOMBRE (S)</label>
					          <input maxlength="100" name="C_NOMBRER" ng-model="T_RESPONSABLES.C_NOMBRE" disabled>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item">
					          <label>APELLIDO PATERNO</label>
					          <input  maxlength="50" name="C_PRIMER_APELLIDOR" ng-model="T_RESPONSABLES.C_PRIMER_APELLIDO" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO MATERNO</label>
					          <input  maxlength="50" name="C_SEGUNDO_APELLIDOR" ng-model="T_RESPONSABLES.C_SEGUNDO_APELLIDO" disabled>
					        </md-input-container>	
						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>CALLE</label>
					          <input maxlength="50" name="C_CALLE" ng-model="T_RESPONSABLES.C_CALLE" disabled>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="T_RESPONSABLES.C_NO_EXTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="T_RESPONSABLES.C_NO_INTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>COLONIA</label>
					          <input name="C_COLONIA" ng-model="T_RESPONSABLES.C_COLONIA" disabled>
					        </md-input-container>	
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>ESTADO</label>
							    <md-select placeholder="ESTADO" ng-model="T_RESPONSABLES.NF_ENTIDAD_FEDERATIVA" flex disabled>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>	
							
							<md-input-container flex class="form-item form-item-right">
					          <label>MUNICIPIO</label>
					          <input name="C_MUNICIPIOR" ng-model="T_RESPONSABLES.C_MUNICIPIO"disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>LOCALIDAD</label>
					          <input name="C_LOCALIDADR" ng-model="T_RESPONSABLES.C_LOCALIDAD" disabled>
					        </md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO</label>
					          <input  name="C_TELEFONO_RESPONSABLE" ng-model="T_RESPONSABLES.C_TELEFONO_RESPONSABLE"disabled>
					        </md-input-container>

					        <md-select parentesco flex placeholder="PARENTESCO"  ng-model="T_RESPONSABLES.NF_RELACION_PACIENTE"disabled>
		                        <md-option ng-value="parentesco.ID"  ng-repeat="parentesco in catParentesco">{{parentesco.cDescripcion}}</md-option>
		                    </md-select> 
		                </div>							
					</div>
				</md-whiteframe>				

			</div>				

			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<md-input-container flex="">
					<label>DIAGNOSTICO MÉDICO</label>
			       <textarea ng-model="paciente.C_DIAGNOSTICO_MEDICO" columns="1" disabled></textarea>
			    </md-input-container>
				</md-whiteframe>
			</div>


			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">DIAGNOSTICO SOCIAL</section>
			        	<md-divider>
			        		 <md-input-container flex="">
						       <textarea name="C_DIAGNOSTICO_SOCIAL" ng-model="paciente.C_DIAGNOSTICO_SOCIAL" columns="2" maxlength="2000" md-maxlength="2000"  aria-label="DIAGNOSTICO SOCIAL" required capitalize></textarea>
						     </md-input-container>					     
	                    </md-divider>
	                </section> 
	            	<md-button class="md-raised md-primary" type="button" ng-click="muestraHistorico($event)">HISTORICO</md-button>
				</md-whiteframe>
			</div>						


			<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit">REGISTRAR</md-button> 
		      	<md-button class="md-raised" type="button" ng-click="regresaAlState('I')">CANCELAR</md-button>
	      	</div>
	  	</form>
	</md-card-content>
</md-card>
