<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="registrarDatos('NUEVO')" ng-init="inicializaPagina(true)"> <!--registraForm.$valid && -->
			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							
						  	<md-input-container flex="" class="form-item form-item-right">
					        	<label>HOSPITAL</label>
					        	<input maxlength="50" name="C_HOSPITAL" ng-model="ESTUDIO_SOCIAL.C_HOSPITAL" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize ng-required="true">
					        	<div ng-show="registraForm.C_HOSPITAL.$dirty && registraForm.C_HOSPITAL.$invalid" ng-messages="registraForm.C_HOSPITAL.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						        </div>
					        </md-input-container>
					        	
					  	</div>
					
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex="" class="form-item form-item-right">
					          <label>SERVICIO</label>
					          <md-select required placeholder="SERVICIO" ng-model="paciente.NP_HOSPITALIZACION" flex disabled>
							      <md-option ng-value="datoHospitalizacion.ID" ng-repeat="datoHospitalizacion in catHospitalizacion">{{datoHospitalizacion.cDescripcion}}</md-option>
							  </md-select>
					        </md-input-container>
					        
					        <md-input-container class="form-item form-item-right">
					          <label>NO. EXPEDIENTE</label>
					          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE_SIU" disabled>
					        </md-input-container>	

					        <md-input-container class="form-item form-item-right">
					          <label>ID. PACIENTE</label>
					          <input name="ID" ng-model="paciente.NP_ID" disabled>
					        </md-input-container>	

					        <md-input-container  class="form-item form-item-right">
					          <label>NO. DE CAMA</label>
					          <input maxlength="5" name="NP_CAMA" ng-model="paciente.NP_CAMA" ng-pattern="/^[1-9][0-9]+$/" disabled>
					          <div ng-show="registraForm.NP_CAMA.$dirty && registraForm.NP_CAMA.$invalid" ng-messages="registraForm.NP_CAMA.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER NÚMEROS</div>
						      </div>
					        </md-input-container>
						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex=""class="form-item form-item-right">
					          <label>REFERENCIA</label>
					          <input maxlength="50" name="C_REFERENCIA" ng-model="ESTUDIO_SOCIAL.C_REFERENCIA" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					          <div ng-show="registraForm.C_REFERENCIA.$dirty && registraForm.C_REFERENCIA.$invalid" ng-messages="registraForm.C_REFERENCIA.$error">
						        	<div ng-message="pattern">EL CAMPOS SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>	

							<md-input-container flex=""class="form-item form-item-right">
					          <label>CONTRAREFERENCIA</label>
					          <input maxlength="50" name="C_CONTRAREFERENCIA" ng-model="ESTUDIO_SOCIAL.C_CONTRAREFERENCIA" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					          <div ng-show="registraForm.C_CONTRAREFERENCIA.$dirty && registraForm.C_CONTRAREFERENCIA.$invalid" ng-messages="registraForm.C_CONTRAREFERENCIA.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>	
						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-radio-group ng-model="paciente.MEDICINA" class="md-primary">
					        	<span >MEDICINA LEGAL:</span>
							    <md-radio-button value="1"  style="display: inline">SI</md-radio-button>
							    <md-radio-button value="0" style="display: inline">NO</md-radio-button>
							</md-radio-group>

							<md-radio-group ng-model="paciente.INGRESOHOSP" class="md-primary">
					        	<span >INGRESO HOSPITALARIO:</span>
							    <md-radio-button value="1"  style="display: inline">1ERA VEZ</md-radio-button>
							    <md-radio-button value="0" style="display: inline">REINGRESO</md-radio-button>
							</md-radio-group>
							
					        <md-input-container flex="10" class="form-item form-item-right" >
					          <label>% APOYO</label>
					          <input type="number" name="N_NIVEL_SOCIECONOMICO" ng-model="N_NIVEL_SOCIECONOMICO" disabled>
					        </md-input-container>

					        <md-button class="md-fab md-primary" ng-if="!isDerechoHabiente"  ng-click="capturaCuotas($event,paciente.NP_ID,paciente.NP_EXPEDIENTE);" aria-label="ESTUDIO SOCIOECONOMICO">
				               <md-icon md-svg-src="images/icons/svg/ic_local_atm_white_18px.svg" ></md-icon> 
				            </md-button>
						</div>	

					</div>					
				</md-whiteframe>
			</div>	


			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DATOS GENERALES</h1>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>NOMBRE (S)</label>
					          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" disabled>					          
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO PATERNO</label>
					          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO MATERNO</label>
					          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO"disabled>
					        </md-input-container>	
						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item">
					          <label>ESTADO CIVIL</label>
					      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex disabled>
							      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>

							<md-input-container flex class="form-item form-item-right">
					          <label>GÉNERO</label>
						        <md-select placeholder="GENERO" ng-model="paciente.NF_SEXO" flex disabled>
							      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>

							<md-input-container flex class="form-item form-item-right">
							    <label>FECHA DE NACIMIENTO</label>
							    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
							</md-input-container>							

					        <md-input-container flex class="form-item form-item-right" >
					          <label>EDAD</label>
					          <input name="EDAD" ng-model="paciente.EDAD" disabled>
					        </md-input-container>	
						</div>	
						
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item">
					          <label>CURP</label>
					          <input name="C_CURP" ng-model="paciente.C_CURP" disabled>
					          <div ng-show="registraForm.C_CURP.$dirty && registraForm.C_CURP.$invalid" ng-messages="registraForm.C_CURP.$error">
						        	<div ng-message="pattern">NO CORRESPONDE AL FORMATO DE LA CURP</div>
						      </div>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>ESCOLARIDAD</label>
					          <input name="N_ESCOLARIDAD" ng-model="paciente.C_ESCOLARIDAD" disabled>
					          <div ng-show="registraForm.N_ESCOLARIDAD.$dirty && registraForm.N_ESCOLARIDAD.$invalid" ng-messages="registraForm.N_ESCOLARIDAD.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>

					        <md-radio-group ng-model="paciente.N_ESCOLARIDAD" class="md-primary"  ng-if="paciente.C_ESCOLARIDAD" required>
					        	<md-radio-button value="1"  style="display: inline">COMPLETA</md-radio-button>
							    <md-radio-button value="0" style="display: inline">INCOMPLETA</md-radio-button>
							</md-radio-group>
						    
							<md-input-container flex class="form-item form-item-right">
					          <label>OCUPACIÓN</label>
					          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION" disabled>
					        </md-input-container>

							<md-input-container flex class="form-item" >
					          <label>LUGAR DE ORIGEN</label>
					          <md-select placeholder="LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex disabled>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
					        </md-input-container>
					    </div>	
					</div>
				</md-whiteframe>
			</div>

			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DOMICILIO DEL PACIENTE</h1>
						</div>
					
						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>CALLE</label>
					          <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE" disabled>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>COLONIA</label>
					          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" disabled>
					        </md-input-container>	
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right" ng-if="!isUpdate">
					          <label>ESTADO</label>
							    <md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex disabled>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>	
							
							<md-input-container flex class="form-item form-item-right">
					          <label>MUNICIPIO</label>
					          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" disabled>
					          <div ng-show="registraForm.C_MUNICIPIO.$dirty && registraForm.C_MUNICIPIO.$invalid" ng-messages="registraForm.C_MUNICIPIO.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS </div>
						      </div>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>LOCALIDAD</label>
					          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" disabled>
					          <div ng-show="registraForm.C_LOCALIDAD.$dirty && registraForm.C_LOCALIDAD.$invalid" ng-messages="registraForm.C_LOCALIDAD.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS </div>
						      </div>
					        </md-input-container>

						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
						    <md-input-container flex class="form-item form-item-right">
					          <label>CÓDIGO POSTAL</label>
					          <input type="number" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 1</label>
					          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" maxlength="13" ng-pattern="/^[1-9][0-9]{9}|[1-9][0-9]{6}|[0][4]([4]|[5])[1-9][0-9]{9}$/">
					          <div ng-show="registraForm.C_NO_TELEFONO_UNO.$dirty && registraForm.C_NO_TELEFONO_UNO.$invalid" ng-messages="registraForm.C_NO_TELEFONO_UNO.$error">
						        	<div ng-message="pattern">DEBE SER DE 7 Ó 10 DÍGITOS. PARA CELULAR INICIAR CON 044 Ó 045 MAS 10 DÍGITOS</div>
						      </div>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 2</label>
					          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" maxlength="13" ng-pattern="/^[1-9][0-9]{9}|[1-9][0-9]{6}|[0][4]([4]|[5])[1-9][0-9]{9}$/">
					          <div ng-show="registraForm.C_NO_TELEFONO_DOS.$dirty && registraForm.C_NO_TELEFONO_DOS.$invalid" ng-messages="registraForm.C_NO_TELEFONO_DOS.$error">
						        	<div ng-message="pattern">DEBE SER DE 7 Ó 10 DÍGITOS. PARA CELULAR INICIAR CON 044 Ó 045 MAS 10 DÍGITOS</div>
						      </div>
					        </md-input-container>	
						</div>	
					</div>	
				</md-whiteframe>
			</div>

			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DATOS DEL FAMILIAR O RESPONSABLE</h1>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item">
					          <label>NOMBRE (S)</label>
					          <input maxlength="100" name="C_NOMBRER" ng-model="T_RESPONSABLES.C_NOMBRE" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize required>
					          <div ng-show="registraForm.C_NOMBRER.$dirty && registraForm.C_NOMBRER.$invalid" ng-messages="registraForm.C_NOMBRER.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item">
					          <label>APELLIDO PATERNO</label>
					          <input  maxlength="50" name="C_PRIMER_APELLIDOR" ng-model="T_RESPONSABLES.C_PRIMER_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize required>
					          <div ng-show="registraForm.C_PRIMER_APELLIDOR.$dirty && registraForm.C_PRIMER_APELLIDOR.$invalid" ng-messages="registraForm.C_PRIMER_APELLIDOR.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO MATERNO</label>
					          <input  maxlength="50" name="C_SEGUNDO_APELLIDOR" ng-model="T_RESPONSABLES.C_SEGUNDO_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize required>
					          <div ng-show="registraForm.C_SEGUNDO_APELLIDOR.$dirty && registraForm.C_SEGUNDO_APELLIDOR.$invalid" ng-messages="registraForm.C_SEGUNDO_APELLIDOR.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>	
						</div>	

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>CALLE</label>
					          <input maxlength="50" name="C_CALLE" ng-model="T_RESPONSABLES.C_CALLE" capitalize required>
					        </md-input-container>
					        
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="T_RESPONSABLES.C_NO_EXTERIOR" maxlength="5" capitalize required>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="T_RESPONSABLES.C_NO_INTERIOR" maxlength="10" capitalize>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>COLONIA</label>
					          <input name="C_COLONIA" ng-model="T_RESPONSABLES.C_COLONIA" capitalize maxlength="50" capitalize required>
					        </md-input-container>	
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>ESTADO</label>
							    <md-select placeholder="ESTADO" ng-model="T_RESPONSABLES.NF_ENTIDAD_FEDERATIVA" flex required>
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>	
							
							<md-input-container flex class="form-item form-item-right">
					          <label>MUNICIPIO</label>
					          <input name="C_MUNICIPIOR" ng-model="T_RESPONSABLES.C_MUNICIPIO" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" required>
					          <div ng-show="registraForm.C_MUNICIPIOR.$dirty && registraForm.C_MUNICIPIOR.$invalid" ng-messages="registraForm.C_MUNICIPIOR.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>  
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>LOCALIDAD</label>
					          <input name="C_LOCALIDADR" ng-model="T_RESPONSABLES.C_LOCALIDAD" ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" required>
					          <div ng-show="registraForm.C_LOCALIDADR.$dirty && registraForm.C_LOCALIDADR.$invalid" ng-messages="registraForm.C_LOCALIDADR.$error">
						        	<div ng-message="pattern">EL CAMPO SÓLO PUEDE CONTENER LETRAS</div>
						      </div>
					        </md-input-container>

						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO</label>
					          <input  maxlength="13" name="C_TELEFONO_RESPONSABLE" ng-model="T_RESPONSABLES.C_TELEFONO_RESPONSABLE"  maxlength="13" ng-pattern="/^[1-9][0-9]{9}|[1-9][0-9]{6}|[0][4]([4]|[5])[1-9][0-9]{9}$/">
					          <div ng-show="registraForm.C_TELEFONO_RESPONSABLE.$dirty && registraForm.C_TELEFONO_RESPONSABLE.$invalid" ng-messages="registraForm.C_TELEFONO_RESPONSABLE.$error">
						        	<div ng-message="pattern">DEBE SER DE 7 Ó 10 DÍGITOS. PARA CELULAR INICIAR CON 044 Ó 045 MAS 10 DÍGITOS</div>
						      </div>
					        </md-input-container>

					        <md-select parentesco flex placeholder="PARENTESCO"  ng-model="T_RESPONSABLES.NF_RELACION_PACIENTE" class="form-item" required>
		                            <md-option ng-value="parentesco.ID"  ng-repeat="parentesco in catParentesco">{{parentesco.cDescripcion}}</md-option>
		                    </md-select> 
		                </div>							
					</div>
				</md-whiteframe>
			</div>							

			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
				<md-input-container flex="">
					<label>DIAGNOSTICO MÉDICO</label>
			       <textarea ng-model="paciente.C_DIAGNOSTICO_MEDICO" columns="1" disabled></textarea>
			    </md-input-container>
				</md-whiteframe>
			</div>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;" ng-if="isDerechoHabiente">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">DIAGNOSTICO SOCIAL</section>
			        	<md-divider>
			        		 <md-input-container flex="">
						       <textarea name="C_DIAGNOSTICO_SOCIAL" ng-model="paciente.C_DIAGNOSTICO_SOCIAL" columns="2" maxlength="2000" md-maxlength="2000" capitalize aria-label="DIAGNOSTICO SOCIAL"></textarea>
						     </md-input-container>					     
	                    </md-divider>
	                </section>    
				</md-whiteframe>								
			</div>

			<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap ng-if="btnRegistro" class="bottom-block">
	        	<md-progress-linear  md-mode="query" value="30" md-buffer-value="5"></md-progress-linear>	
	        	
		        <md-input-container  class="form-item">
		         	<label class="md-display-1">GENERANDO REPORTE</label>		         	
		        </md-input-container> 
		        <md-progress-linear  md-mode="query" value="20" md-buffer-value="5"></md-progress-linear>	
		        <BR><BR><BR>
		    </section>

			<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="btnRegistro">REGISTRAR</md-button> 
		      	<md-button class="md-raised" type="button" ng-click="regresaAlState('I')" ng-disabled="btnRegistro">CANCELAR</md-button>
	      	</div>
	  	</form>
	</md-card-content>
</md-card>
