<md-card layout-wrap >
  <card-toolbar title="HISTORICO">
  </card-toolbar>

  <md-card-content >

    <div ng-repeat="item in historico.ESTUDIOS_ECONOMICOS" flex>
      
      <h3>ESTUDIO SOCIO-ECONOMICO ELABORADO POR: {{item.C_RESPONSABLE_NOMBRE}}</h3> 
      <h3>EL DÍA: {{item.F_FECHA}} 
                    <md-button class="md-fab md-mini md-primary" href="{{historico.C_RUTA}}{{ item.C_NOMBRE_FILE }}" target="_blank" md-autofocus aria-label="Ver Documento">
                      <md-icon md-svg-src="images/icons/svg/ic_open_in_browser_white_18px.svg" ></md-icon>
                    </md-button></td>
                    
      </h3>
      <md-data-table-container>
        <table md-data-table  md-progress="deferred" border="1">
          <thead>
            <tr>
                <td style="text-align:center">FECHA</td>
                <td style="text-align:center">ELABORADO POR</td>
                <td style="text-align:center">DIAGNOSTICO SOCIAL</td>
            </tr>
          </thead>
          <tbody flex>
            <tr ng-repeat="H in item.DIAGNOSTICOS_SOCIALES" ng-class="md-warn">
                <td >{{ H.F_FECHA }}</td>
                <td >{{ H.C_RESPONSABLE_NOMBRE }} </td>
                <td style="text-align:center">                  
                    <md-button class="md-fab md-mini" href="{{historico.C_RUTA}}{{ H.C_NOMBRE_FILE }}" target="_blank" md-autofocus aria-label="Ver Documento">
                      <md-icon md-svg-src="images/icons/svg/ic_open_in_browser_white_18px.svg" ></md-icon>
                    </md-button></td>
                </tr>
          </tbody>                
        </table>
      </md-data-table-container>
    </div>
  </md-card-content>
</md-card>