<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="registrarDatos()" ng-init="verPaciente()"> <!--registraForm.$valid && -->
			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h1 class="md-title" >DATOS GENERALES</h1>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>ID PACIENTE</label>
					          <input maxlength="10" name="ID" ng-model="paciente.NP_ID" capitalize disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item">
					          <label>CURP</label>
					          <input name="C_CURP" ng-model="paciente.C_CURP" maxlength="18" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>EXPEDIENTE</label>
					          <input name="EXPEDIENTE" ng-model="paciente.NP_EXPEDIENTE" disabled>
					        </md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>NOMBRE</label>
					          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" capitalize disabled>
					        </md-input-container>

							<md-input-container flex class="form-item form-item-right" >
					          <label>EDAD</label>
					          <input name="EDAD" ng-model="edadActual" disabled>
					        </md-input-container>

							<md-input-container flex class="form-item form-item-right">
							    <label>FECHA DE NACIMIENTO</label>
							    <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
							</md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>

					        <md-input-container flex class="form-item form-item-right">
					          <label>SERVICIO</label>
					          <input name="SERVICIO" ng-model="paciente.C_HOSPITALIZACION" capitalize disabled>
					        </md-input-container>

					         <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO DE CAMA</label>
					          <input name="C_CAMA" ng-model="paciente.NP_CAMA" maxlength="6" disabled>
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
							    <label>FECHA DE INGRESO DEL PACIENTE</label>
							    <input name="F_FECHA_INGRESO" ng-model="fechaIngreso" disabled>
							</md-input-container>

						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
							    <label>FECHA DE NOTIFICACIÓN</label>
							    <input name="F_FECHA_DE_NOTIFIACION" ng-model="fechaNotificacion" disabled>
							</md-input-container>

							<md-input-container flex class="form-item form-item-right">
							    <label>HORA DE ELABORACIÓN</label>
							    <input name="HORA_DE_ELABORACION" ng-model="horaActual" disabled>
							</md-input-container>

						</div>
					</div>
				</md-whiteframe>
			</div>

			<div layout-padding layout-wrap  ng-cloak>
				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h3 class="md-title" >DATOS DEL MÉDICO QUE NOTIFICA</h3>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>NOMBRE</label>

					          <input ng-if="perfil.id !== 10" maxlength="50" name="NOMBRE" ng-model="perfil.nombre" capitalize disabled>
					          <input ng-if="perfil.id === 10" maxlength="50" name="NOMBRE" ng-model="datosDoctor.CF_DOCTOR_NOMBRE" capitalize disabled>
					        </md-input-container>

							<md-input-container flex class="form-item form-item-right">
					          <label>CEDULA</label>
					           <input ng-if="perfil.id !== 10" maxlength="50" name="NOMBRE" ng-model="perfil.cedula" capitalize disabled>
					          <input ng-if="perfil.id === 10" maxlength="50" name="NOMBRE" ng-model="datosDoctor.CF_DOCTOR_CEDULA" capitalize disabled>
					        </md-input-container>

						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex="">
								<label>DIAGNOSTICO MÉDICO</label>
						        <textarea ng-model="paciente.DIAGNOSTICO" columns="1" capitalize required ng-disabled="perfil.id==10"></textarea>
						    </md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex="">
								<label>DESCRIPCIÓN DE LESIONES</label>
						        <textarea ng-model="datosDoctor.DESCRIPCION_LESIONES" columns="1" md-maxlength="2000" maxlength="2000" capitalize required ng-disabled="perfil.id==10"></textarea>
						    </md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex="">
								<label>ACTO NOTIFICADO</label>
						        <textarea ng-model="datosDoctor.ACTO_NOTIFICADO" columns="1" md-maxlength="2000" maxlength="2000" capitalize ng-disabled="perfil.id==10"></textarea>
						    </md-input-container>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex="">
								<label>REPORTE DE CAUSA DE MUERTE SUJETA A VIGILANCIA EPIDEMIOLÓGICA</label>
						        <textarea ng-model="datosDoctor.CAUSA_MUERTE" columns="1" md-maxlength="2000" maxlength="2000" capitalize ng-disabled="perfil.id==10"></textarea>
						    </md-input-container>
						</div>

					</div>
				</md-whiteframe>
			</div>

				<div layout-padding layout-wrap ng-show="perfil.id === 10"   ng-cloak>

				<md-whiteframe class="md-whiteframe-1dp" style="padding-left: 20px; padding-right: 20px;" layout layout-align="center center">
					<div layout="column" flex layout >
						<div layout="row" flex layout layout-align="center center">
							<h3 class="md-title" >DATOS DE QUIEN RECIBE LA NOTIFICACIÓN</h3>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item">
					          <label>NOMBRE (S)</label>
					          <input  ng-model="ts.NOTIFICACION.C_NOMBRE_MP" capitalize required ng-disabled="perfil.id != 10">
					        </md-input-container>

					        <md-select placeholder="AGENCIA DEL MP" ng-model="agenciaMP" flex>
          						<md-option ng-value="agenciaMP"   ng-repeat="agenciaMP in agenciasMP">{{agenciaMP.cDescripcion}}</md-option>
        					</md-select>
						</div>

						<div layout="row" layout-sm="column" layout-align="center center" flex>
							<md-input-container flex class="form-item form-item-right">
					          <label>CARGO</label>
					          <input maxlength="100" ng-model="ts.NOTIFICACION.C_CARGO_MP" capitalize required ng-disabled="perfil.id != 10">
					        </md-input-container>

					        <md-input-container flex class="form-item form-item-right">
					          <label>RESPONSABLE DE LA NOTIFICACIÓN</label>
					          <input maxlength="150" ng-model="ts.NOTIFICACION.CF_TRABAJO_SOCIAL" capitalize required ng-disabled="perfil.id != 10">
					        </md-input-container>
						</div>

					</div>
				</md-whiteframe>
			</div>

			<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit">GUARDAR</md-button>
		      	<md-button class="md-raised" type="button" ng-click="">CANCELAR</md-button>
	      	</div>
	  	</form>
	</md-card-content>
</md-card>
