<div layout="row" layout-align="center center">
  <div  flex-md="66" flex-sm="99" flex-gt-md="33">
    <md-card layout-wrap>
      <card-toolbar title="SELECCIÓN">
      </card-toolbar>

      <md-card-content>
        <div  layout="column" layout-align="center center" style="padding:40px" ng-init="verificaPaciente()">
          <md-content class="md-padding" layout="column">
            <md-fab-speed-dial ng-class="perfil.selectedMode">
              <div layout="column">
                  <md-radio-group ng-model="opciones" class="md-primary">
                    <md-radio-button value="registroESNuevo" 	class="text-capitalize">NUEVO ESTUDIO SOCIO-ECONOMINCO</md-radio-button>
                    <md-radio-button value="registroESDiagnostico" class="text-capitalize" ng-if="!$scope.esDerechoHabiente">AGREGAR DIAGNOSTICO SOCIAL</md-radio-button>
                    </md-radio-button>
                  </md-radio-group>
              </div>
            </md-fab-speed-dial>
          </md-content>  
        </div>

        <div layout="row" class="md-actions" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="registar(opciones)">Iniciar Registro</md-button>
          <md-button class="md-raised md-primary" ng-click="regresaAlState('I')">Cancelar</md-button>
        </div>
      </md-card-content>  
    </md-card>

  </div>
</div>



 
