<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>
	  	<md-data-table-container>
		  <table md-data-table class="table-heading" ng-init="loadTablePacientes()">
		    <thead>
		      <tr>
		      	<th name="MÉDICO"></th>
		      	<th name="ID PACIENTE"></th>
		        <th name="PACIENTE"></th>
		        <th name="ESTATUS"></th>
		        <th name="ACCIONES"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order 
			                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		        <td>{{dato.NF_DOCTOR_NOMBRE_COMPLETO}}</td>
		        <td>{{dato.NF_PACIENTE_ID}}</td>
		        <td>{{dato.NF_PACIENTE_NOMBRE_COMPLETO}}</td>
		        <td>SIN NOTIFICAR</td>
		      	<td>
		      		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="completar(dato)">
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
	</md-card-content>
</md-card>