<md-card class="md-whiteframe-6dp">
    <card-toolbar  canreturn="true">
  	</card-toolbar>
	<md-card-content>
      	<form name="consultaForm" ng-submit="consultaForm.$valid && loadTablePacientes()">
				<section layout="" layout-sm="column">
		      		<md-autocomplete
			          ng-disabled="isDisabled"
			          md-no-cache="noCache"
			          md-selected-item="selectedItem"
			          md-search-text-change="searchTextChange(searchText)"
			          md-search-text="searchText"
			          md-selected-item-change="selectedItemChange(item)"
			          md-items="item in querySearch(searchText)"
			          md-item-text="item.display"
			          md-min-length="1"
			          md-floating-label="NOMBRE COMPLETO / ID PACIENTE / EXPEDIENTE"
			         
			          required
			          flex
			          >
			        	<md-item-template capitalize>
			          		<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
			        	</md-item-template>
			      	</md-autocomplete>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
		      	<md-button class="md-raised md-warn" ng-click="clear()" type="button">LIMPIAR</md-button>

		      	</div>
	  	</form>
	  	<md-data-table-container ng-show="datos.length > 0">
		  <table md-data-table class="table-heading">
		    <thead>
		      <tr>
		      	<th name="ID PACIENTE"></th>
		        <th name="NOMBRE"></th>
		        <th name="DIRECCIÓN" ng-if="carnet"></th>
		        <th name="FECHA DE NACIMIENTO"></th>
		        <th name="CIUDAD, ESTADO" ng-if="carnet"></th>
		        <th name="EXPEDIENTE"></th>
		        <th name="ACCIONES"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order 
			                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		        <td>{{dato.NP_ID}}</td>
		        <td>{{dato.C_PRIMER_APELLIDO}} {{dato.C_SEGUNDO_APELLIDO}} {{dato.C_NOMBRE}}</td>
		        <td ng-if="carnet">{{dato.C_CALLE}} {{dato.C_NO_EXTERIOR}}</td>
		        <td>{{dato.F_FECHA_DE_NACIMIENTO | date}}</td>
		        <td ng-if="carnet">{{dato.C_MUNICIPIO}}, {{dato.NF_ENTIDAD_FEDERATIVA}}</td>
		        <td>{{dato.NP_EXPEDIENTE}}</td>
		        <td>
		      		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="verPaciente($event, dato)" ng-if="!carnet">
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
				    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="imprimirCarnet($event, dato)" ng-if="carnet">
				        <md-icon md-svg-src="images/icons/svg/ic_local_printshop_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
	  		</md-card-content>
      </md-card>
