<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="registraForm" ng-submit="guardaInfoCuotas()" ng-init="loadInfoCuotas()">
			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">GRUPO FAMILIAR</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table>
	                          	<thead>
	                          	</thead>	
	                          	<tbody>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td >
								      		<md-input-container  class="form-item">
										       <input name="GRUPO_F" ng-model="sumCalif[0].valor" required ng-change="calculaSuma()" ng-pattern="/^[0|1|2|3]$/" style="text-align:center" aria-label="GRUPO FAMILIAR" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="grupoFam in grupoFam" ng-class="md-warn">
		                                <td >{{ grupoFam.etiqueta }} INTEGRANTES</td>
		                                <td style="text-align:center">{{ grupoFam.num }}</td>
		                            </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">OCUPACION</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table>
	                          	<thead>
	                          	</thead>
	                          	<tbody>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td>
								      		<md-input-container flex class="form-item">
										       <input name="ocupacion" ng-model="sumCalif[1].valor" ng-change="calculaSuma()" required ng-pattern="/^[0|1|2|3|4|5]$/" style="text-align:center" aria-label="CALIFICACIÓN" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="ocupacion in ocupacion" ng-class="md-warn">
		                                <td >{{ ocupacion.etiqueta }}</td>
		                                <td style="text-align:center">{{ ocupacion.num }}</td>
		                            </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">INGRESO FAMILIAR (PROMEDIO MENSUAL)</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table>
	                          	<thead>
	                          	</thead>
	                          	<tbody flex>
		                            <tr ng-repeat="item in ingresoFa" ng-class="md-warn">
		                                <td >{{ item.etiqueta }}</td>
		                                <td>
								      		<md-input-container flex class="form-item">
										       <input name="ingresoFam" ng-model="item.valor" ng-change="calculaIngreso()" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required style="text-align:center" aria-label="INGRESO FAMILIAR" >
										    </md-input-container>
								      	</td>
								    </tr>
								    	<td>TOTAL </td>		
								     	<td style="text-align:center">
								      	   {{ingreso}}
								      	</td>
								    <tr>

								    </tr>
		                           
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>
			</div>

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">SALARIO</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
	                          	</thead>
	                          	<tbody flex>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td>
								      		<md-input-container flex class="form-item">
										       <input name="salario" ng-model="sumCalif[2].valor" ng-change="calculaSuma()" required ng-pattern="/^[0|1|2|3|4|5]$/" style="text-align:center" aria-label="SALARIO" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="salario in salario" ng-class="md-warn">
		                                <td >{{ salario.etiqueta }}</td>
		                                <td style="text-align:center">{{ salario.num }}</td>
		                            </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">TIPO DE VIVIENDA</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
	                          	</thead>
	                          	<tbody flex>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td>
								      		<md-input-container flex class="form-item">
										       <input name="vivienda" ng-model="sumCalif[3].valor" ng-change="calculaSuma()" required ng-pattern="/^[0|1|2|3|4]$/" style="text-align:center" aria-label="CALIFICACIÓN" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="vivienda in vivienda" ng-class="md-warn">
		                                <td >{{ vivienda.etiqueta }}</td>
		                                <td style="text-align:center">{{ vivienda.num }}</td>
		                            </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">EGRESO FAMILIAR (PROMEDIO MENSUAL)</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
	                          	</thead>
	                      		<tbody flex>
		                            <tr ng-repeat="item in egresoFa" ng-class="md-warn">
		                                <td >{{ item.etiqueta }}</td>
		                                <td>
								      		<md-input-container flex class="form-item">
										       <input name="egresoFam" ng-model="item.valor" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-change="calculaEgreso()" required style="text-align:center" aria-label="EGRESO FAMILIAR" >
										    </md-input-container>
								      	</td>
								    </tr>
								    	
								    <tr>
								    	<td>TOTAL</td>		
								     	<td style="text-align:center">
								      		{{egreso}}
								      	</td>
								    </tr>
		                           
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>
			</div>	

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">NUMERO DE DORMITORIOS</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
	                          	</thead>
	                          	<tbody flex>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td>
								      		<md-input-container flex class="form-item">
										       <input name="dormitorios" ng-model="sumCalif[4].valor" ng-change="calculaSuma()" required ng-pattern="/^[0|1|2|3|4]$/" style="text-align:center" aria-label="CALIFICACIÓN" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="dormitorio in dormitorio" ng-class="md-warn">
		                                <td >VIVIENDA {{ dormitorio.etiqueta }}</td>
		                                <td style="text-align:center">{{ dormitorio.num }}</td>
		                            </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">SITUACIÓN ECONÓMICA</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
	                          	</thead>
	                          	<tbody flex>
	                          		<tr>
								      	<td style="text-align:right">CALIFICACION</td>
								      	<td>
								      		<md-input-container flex class="form-item">
										       <input name="situacionE" ng-model="sumCalif[5].valor" ng-change="calculaSuma()" required ng-pattern="/^[0|1|2|3|4]$/" style="text-align:center" aria-label="SITUACIÓN ECONOMICA" >
										    </md-input-container>
								      	</td>
								    </tr>
		                            <tr ng-repeat="situacionE in situacionE" ng-class="md-warn">
		                                <td >{{ situacionE.etiqueta }}</td>
		                                <td style="text-align:center">{{ situacionE.num }}</td>
		                            </tr>

	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
                    </section>    
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">SUMA DE CALIFICACIONES</section>
			        	<md-divider>
				        	<md-data-table-container>
	                          <table md-data-table  md-progress="deferred">
	                          	<thead>
                          		</thead>
	                          	<tbody flex>
		                            <tr ng-repeat="sumC in sumCalif" ng-class="md-warn">
		                                <td> {{ sumC.etiqueta }}</td>
		                                <td style="text-align:center"> {{ sumC.valor }}</td>
		                                
		                            </tr>
		                             <tr>
								    	<td>TOTAL</td>		
								     	<td style="text-align:center">
								      	   {{total}}
										    
								      	</td>
								    </tr>
	                            </tbody>                
	                          </table>
	                        </md-data-table-container>
                        </md-divider>
	                </section>
				</md-whiteframe>
			</div>		

			<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">ESCALA DE CLASIFICACION</section>
			        	<md-divider>
				        	<md-data-table-container>
		                          <table md-data-table  md-progress="deferred">
		                          	<thead>
	                          		</thead>
		                          	<tbody flex>
			                            <tr >
			                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.num }}</td>
			                            </tr>
			                            <tr >
			                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.porcentaje }}</td>
			                            </tr>
			                            <tr >
			                                <td ng-repeat="escala in escala" ng-class="md-warn"> {{ escala.rango }}</td>
			                            </tr>
			                            
		                            </tbody>                
		                          </table>
		                        </md-data-table-container>
				        	
	                    </md-divider>
                    </section>
				</md-whiteframe>

				<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" flex>
					<section layout="row"  layout-align="center center">DIAGNOSTICO SOCIAL</section>
			        	<md-divider>
			        		 <md-input-container flex="">
						       <textarea ng-model="paciente.C_DIAGNOSTICO_SOCIAL" columns="2" maxlength="2000" md-maxlength="2000" capitalize aria-label="DIAGNOSTICO SOCIAL"></textarea>
						     </md-input-container>					     
	                    </md-divider>
	                </section>    
				</md-whiteframe>
			</div>			
				
				<section layout="" layout-sm="column" layout-align="end center">
				    <md-button ng-disabled="!registraForm.$valid" type="submit" class="md-raised md-primary">GUARDAR</md-button>
				    <md-button class="md-raised" type="button" ng-click="regresaAlState('A')" aria-label="Cancelar Registro">CANCELAR</md-button>
    			</section>
				
		</form>
	</md-card-content>		
</md-card>