<md-card layout-wrap class="md-whiteframe-6dp" >
    <form name="medicacion">
    <md-card-content> 
    <br>
    <br>
      <fieldset class="standard">
        <md-input-container flex="">
            <legend>MEDICAMENTO</legend>
         </md-input-container>
        <div layout="row">
            <md-autocomplete id="medicamentos"
              md-no-cache="true"
              md-selected-item=""
              md-search-text-change=""
              md-search-text="medicamentoText"
              md-selected-item-change="selectedItemChangeMedicamento(medicamento,false)"
              md-items="medicamento in querySearchMedicamento(medicamentoText)"
              md-item-text="medicamento.NP_MEDICAMENTO"
              md-min-length="3"
              placeholder="POR FAVOR INGRESE EL NOMBRE DEL MEDICAMENTO" flex>
                <md-item-template>
                  <span md-highlight-text="medicamentoText" md-highlight-flags="^i">{{medicamento.NP_MEDICAMENTO}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
        <div  ng-repeat="medicamento in ctrl.selectedMedicamentos | orderBy:'$index':true">
            <div layout="row">
                <div flex><md-input-container><label>NOMBRE GENERICO</label><input value="{{medicamento.NP_MEDICAMENTO}}" type="text"  ng-disabled="!editable">

                </md-input-container></div>
                <div flex>
                    <md-input-container>
                    <label>FORMA FARMACEUTICA</label>
                    <md-select ng-model="ctrl.datos.medicacion[1].C_MOTIVO" ng-change="formaFarmaceutica(ctrl.datos.medicacion[1].C_MOTIVO)" required  ng-disabled="!editable">
                      <md-option ng-repeat="forma in medicamento.DOSIS" value="{{forma.DESCRIPCION}}">
                        {{forma.DESCRIPCION}}
                      </md-option>
                    </md-select>   
                </div>
                <md-button class="md-fab md-mini" ng-disabled="!medicamento.selected" style="margin-top: 13px !important;" ng-click="help(medicamento)"  >
                <md-icon md-svg-src="images/icons/svg/white/ic_help_outline_white_24px.svg"></md-icon>
                </md-button>
                <md-button class="close-button" ng-click="removeMedicamento(medicamento)" ng-show="editable" flex>ELIMINAR</md-button>
            </div> 
            <div layout="row">
                <md-input-container flex="10">
                    <label>DOSIS</label>
                    <input name="dosis" ng-model="ctrl.datos.medicacion[2].C_MOTIVO" required  ng-pattern="/^[0-9]{1,3}(\.\d{0,2}){0,3}$/" ng-disabled="!editable">
                </md-input-container>
                <md-input-container  flex="10" >
                    <label>UNIDAD</label>
                    <md-select  name="unidad" ng-model="ctrl.datos.medicacion[3].C_MOTIVO" class="form-item" ng-disabled="!editable">
                        <md-option ng-value="unidad.NP_ID_RESPUESTA"  ng-repeat="unidad in catUnidad">{{unidad.C_DESCRIPCION }}</md-option>
                    </md-select>
                     <div class="errors" ng-messages="medicacion.unidad.$error" ng-if="medicacion.$dirty">
                        <div ng-message="required">Requerido</div>
                    </div>
                </md-input-container> 
                <md-input-container flex="6" class="form-item" >
                    <label>CANTIDAD APLICADA</label>
                    <input name="CANTIDAD" ng-model="ctrl.datos.medicacion[4].C_MOTIVO" required  ng-pattern="/^[0-9]{1,3}(\.\d{0,2}){0,3}$/" ng-disabled="!editable">
                </md-input-container>
                <md-input-container flex="3" readonly>
                    <label>ml</label>
                </md-input-container> 
                <md-input-container flex="5"  class="form-item">
                   <label></label>
                </md-input-container> 
                <md-input-container  flex="25"  class="form-item">
                    <label>VÍA DE ADMINISTRACIÓN</label>
                    <md-select  name="via" ng-model="ctrl.datos.medicacion[5].N_PUNTAJE" class="form-item" ng-disabled="!editable">
                        <md-option ng-value="via.ID"  ng-repeat="via in catViaAdministracion">{{via.cDescripcion | uppercase}}</md-option>
                    </md-select>
                     <div class="errors" ng-messages="medicacion.via.$error" ng-if="medicacion.$dirty">
                        <div ng-message="required">Requerido</div>
                    </div>
                </md-input-container> 
                <md-input-container flex="15" class="form-item form-item-right">
                    <label>PESO</label>
                    <input name="PESO" ng-model="ctrl.datos.medicacion[6].C_MOTIVO" required  ng-pattern="/^[0-9]{1,3}(\.\d{0,3}){0,3}$/"  ng-disabled="!editable">
                </md-input-container>     

            </div>
           
        </div>
        </fieldset>
        <br>
        <br>



        <fieldset class="standard">
        <md-input-container flex="">
            <legend>SEDACIÓN</legend>
                <textarea ng-model="ctrl.datos.medicacion[8].C_MOTIVO"  capitalize required  ng-disabled="!editable"></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>ANSIEDAD</legend>
                <textarea ng-model="ctrl.datos.medicacion[9].C_MOTIVO"  capitalize required ng-disabled="!editable"></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>ALUCINACIONES</legend>
                <textarea ng-model="ctrl.datos.medicacion[10].C_MOTIVO"  capitalize required ng-disabled="!editable" ></textarea>
        </md-input-container>
        </fieldset>

        <fieldset class="standard">
        <md-input-container flex="">
            <legend>BOCA SECA</legend>
                <textarea ng-model="ctrl.datos.medicacion[11].C_MOTIVO"  capitalize required ng-disabled="!editable"></textarea>
        </md-input-container>
        </fieldset> 

        <div layout="row" layout-align="end end">
          <md-button md-no-ink class="md-raised md-primary"  ng-click="guardaMedicamento(medicacion)" ng-disabled="!editable">GUARDAR</md-button>
       </div>
    </form>
    </md-card-content>
</md-card>

