<!-- Ver a l 5/2/2016 7:15 -->
<div layout="row" layout-sm="column">
  <label class="md-title">DATOS DEL MÉDICO: &nbsp;&nbsp;&nbsp;&nbsp;</label>
  <md-input-container class="form-item form-item-right" flex="33">
    <label>NOMBRE</label>
    <input name="NOMBRE" ng-model="ngModel.C_MEDICO_NOMBRE" capitalize disabled>
  </md-input-container>
  
  <md-input-container class="form-item form-item-right" flex="10">
    <label>CEDULA</label>
    <input name="C_CEDULA" ng-model="ngModel.C_MEDICO_CEDULA"  disabled>
  </md-input-container>

  <md-input-container class="form-item form-item-right" flex>
    <label>ESPECIALIDAD</label>
    <input name="NOMBRE" ng-model="ngModel.C_MEDICO_ESPECIALIDAD" capitalize disabled>
  </md-input-container>
</div> 

<div>
  <md-input-container class="form-item form-item-right">
    <label>DIAGNOSTICO</label>
    <textarea ng-model="ngModel.DIAGNOSTICO" columns="2" rows="2" disabled></textarea>
    
  </md-input-container>
</div> 

<md-data-table-container>
  <table md-data-table border="1">
    <thead> 
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}"> MOTIVO DE LA SOLICITUD</td>
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}" >ESTUDIO SOLICITADO</td>
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}" >FECHA DE SOLICITUD</td>
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}" ng-if="!isAgenda">INTERPRETACION</td>
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}" ng-if="isAgenda">AGENDAR</td>                         
      <td ng-style="{'text-align':'center', 'font-weight': 'bold'}" width="3%" >CONTROL INTERNO</td>  
    </thead>  

    <tbody> 
      <tr ng-repeat="subitem in ngModel.SERVICIOS">

        <td >{{subitem.C_MOTIVO_SOLICITUD}}</td>
        <td >{{subitem.C_DESCRIPCION}}</td>
        <td ng-style="{'text-align':'center'}">{{subitem.F_FECHA_CMD}}</td>
        <td ng-if="!isAgenda">
          <md-input-container  class="form-item">
            <textarea ng-model="subitem.INTERPRETACION" md-maxlength="2000" maxlength="2000" columns="1" rows="1" capitalize aria-label="INTERPRETACION"></textarea>
          </md-input-container>
        </td> 

        <td ng-if="isAgenda" layout layout-align="center center">
          <md-input-container  class="form-item"> 
            <md-checkbox ng-model="subitem.AGENDAR" aria-label="Baño" ></md-checkbox>
          </md-input-container>
        </td> 

        <td>
          <md-input-container  class="form-item" ng-if="isAgenda && subitem.AGENDAR">
            <input ng-model="subitem.CONTROL" ng-style="{'text-align':'center'}" required aria-label="CONTROL INTERNO" ng-pattern="/^(\d+)$/">
          </md-input-container>

          <md-input-container  class="form-item" ng-if="!isAgenda">
            <input ng-model="subitem.CONTROL" ng-style="{'text-align':'center'}" disabled aria-label="CONTROL INTERNO">
          </md-input-container>
        </td>
        
      </tr>        
    </tbody>
  </table>
</md-data-table-container>   

<BR>               
<md-divider></md-divider> 
<BR>