<md-button class="md-button-toggle"
  ng-click="toggle()"
  aria-controls="side-menu-{{section.desc | nospace}}"
  flex layout="row"
  aria-expanded="{{isOpen()}}">
  <!-- <i class="fa {{ obtenerIcon(section.desc) }} fa-lg"  aria-hidden="true"></i> -->
  <span style="margin-left: 10px;">
    {{section.desc}}
  </span>

  <span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon"
  ng-class="{'toggled' : isOpen()}"></span>
</md-button>
<ul ng-show="isOpen()" id="side-menu-{{section.desc | nospace}}" class="menu-toggle-list">
  <li ng-repeat="page in section.submenus">
    <menu-link section="page"></menu-link>
  </li>
</ul>
