<md-button
	ng-class="{'active' : isSelected(section)}"
	ng-click="focusSection(section)">
	<!-- <i class="fa {{ obtenerIcon(section.url) }} fa-lg"  aria-hidden="true"></i> -->
	<span style="margin-left: 10px;">
		{{section | humanizeDoc}}
	</span>
  <span  class="md-visually-hidden "
    ng-if="isSelected(section)">
    current page
  </span>
</md-button>

<!-- <span style="font-size:8px;">
	{{section}}
</span> -->
