<md-card layout-wrap class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true"></card-toolbar>
      	 <md-card-content ng-init="setIdCatalogo(23);">
            <!--  Area de busqueda -->
            <fieldset class="standard" ng-show="busqueda">
   			<legend >BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></legend>
            <form name="busquedaForm">
				<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select  name="area" ng-change="changeArea(23)" ng-model="area" class="form-item" >
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="busquedaForm.area.$error" ng-if="busquedaForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    <md-input-container ng-show="catSeccion.length > 0"   flex="40"  class="form-item"  >
			         <label>SECCIÓN</label>
				        <md-select   ng-change="changeSeccion()" ng-model="seccion" class="form-item"  >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				     <div ng-repeat="subSecciones in arregloSubseccion" flex="25">
    						 <md-input-container  flex="25"  class="form-item"  >
    					         <label>SUBSECCIÓN</label>
    						        <md-select flex="25" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item" >
    		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
    		                   		 </md-select>
    						 </md-input-container>
                     </div>
                    <md-input-container ng-show="catTipoCama.length > 0"  flex="20"  class="form-item" >
			         <label>TIPO DE CAMA</label>
				        <md-select  name="idTipo" ng-change="changeTipoCama(idTipo)" ng-model="idTipo" class="form-item" required>
                            <md-option ng-value="{{$index}}"  ng-repeat="camas in catTipoCama">{{camas.cDescripcion | uppercase}}{{camas.ID}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="busquedaForm.area.$error" ng-if="busquedaForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>

			        <md-input-container class="form-item" >
			             <md-button class="md-icon-button md-primary" ng-click="click()" aria-label="Insertar registro">
			              <md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
			            </md-button>
			        </md-input-container>
			    </section>
		   
		    </fieldset>
		    <br>
		    <br>
		    </form>	
	      	<!--  Area de Formularios -->
	       <!-- form de ALTA -->
	        <form name="registraForm" ng-show="alta">
				<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select  name="area" ng-change="changeArea(23)" ng-model="area" class="form-item" required>
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="registraForm.area.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    <md-input-container ng-show="catSeccion.length > 0"   flex="30"  class="form-item"  >
			         <label>SECCIÓN</label>
				        <md-select   ng-change="changeSeccion()" ng-model="seccion" class="form-item" required >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				     <div ng-repeat="subSecciones in arregloSubseccion" flex="25">
    						 <md-input-container  flex="25"  class="form-item"  >
    					         <label>SUBSECCIÓN</label>
    						        <md-select flex="25" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item" required>
    		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
    		                   		 </md-select>
    						 </md-input-container>
                     </div>

				    <md-input-container  flex="20"  class="form-item"  >
			         <label>TIPO DE CAMA</label>
				        <md-select name="idTipo"  ng-model="data.idTipo" class="form-item"  md-on-open="loadTipoCama()" required>
                       		 <md-option  ng-value="tipoCama.ID"  ng-repeat="tipoCama in catTiposCama">{{tipoCama.cDescripcion | uppercase}} {{camas.ID}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="registraForm.idTipo.$error  && registraForm.$dirty" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    {{data.cDescripcion}}
				    <md-input-container flex="25" class="form-item">
					 	<label>INTRODUCE NÚMERO DE CAMA</label>
					    <input   maxlength="200" name="cDescripcion" ng-model="data.cDescripcion" required >
			        </md-input-container>

				    <md-input-container  flex="20"  class="form-item" >
			         <label>PISO</label>
				        <md-select  name="idPiso" ng-model="data.idPiso" class="form-item" md-on-open="loadPiso()" required>
                       		 <md-option  ng-value="piso.ID"  ng-repeat="piso in catPiso">{{piso.cDescripcion | uppercase}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="registraForm.idPiso.$error  && registraForm.$dirty" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>

				     <md-input-container  flex="20"  class="form-item" >
			         <label>CATEGORÍA</label>
				        <md-select   name="idCategoria"  md-on-open="loadCategorias()" ng-model="data.idCategoria" class="form-item"   ng-change="changeCategoria(data.idCategoria)" required>
                       		 <md-option  ng-value="categoria.ID"  ng-repeat="categoria in catCategoria">{{categoria.cDescripcion | uppercase}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="registraForm.idCategoria.$error && registraForm.$dirty" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>

				    <md-input-container  flex="30"  class="form-item" ng-show="catProductos.length > 0"   >
			         <label>SERVICIOS Y PRODUCTOS</label>
				        <md-select name="idProducto"  ng-model="data.idProducto" class="form-item" required>
                       		 <md-option  ng-value="productos.ID"  ng-repeat="productos in catProductos">{{productos.cDescripcion | uppercase}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="registraForm.idTipo.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
			    </section>
		   		<div layout="row" layout-align="end center" >
		        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
		      		<md-button class="md-raised md-primary" ng-click="addCatGeneral(registros,'23')" ng-disabled="!registraForm.$valid">INSERTAR</md-button>
		        </div>
		    </form>
	       	 <!-- form de MODIFICAR -->
	        <form name="updateForm" ng-show="editar" ng-init="loadTipoCama()" >
				<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select  name="area" ng-change="changeArea(23)" ng-model="area" class="form-item" required>
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="updateForm.area.$error" ng-if="updateForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    <md-input-container ng-show="catSeccion.length > 0"   flex="30"  class="form-item"  >
			         <label>SECCIÓN</label>
				        <md-select   ng-change="changeSeccion()" ng-model="seccion" class="form-item" required >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				     <div ng-repeat="subSecciones in arregloSubseccion" flex="25">
    						 <md-input-container  flex="25"  class="form-item"  >
    					         <label>SUBSECCIÓN</label>
    						        <md-select flex="25" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item" required>
    		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
    		                   		 </md-select>
    						 </md-input-container>
                     </div>

				   <md-input-container  flex="20"  class="form-item"  >
			         <label>TIPO DE CAMA</label>
				        <md-select  name="idTipo"  ng-model="data.idTipo" class="form-item"   required>
                       		 <md-option  ng-value="tipoCama.ID"  ng-repeat="tipoCama in catTiposCama">{{tipoCama.cDescripcion | uppercase}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="registraForm.idTipo.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>


				     <md-input-container flex="25" class="form-item">
					 	<label>INTRODUCE NUMERO DE CAMA</label>
					    <input  maxlength="100" name="cDescripcion" ng-model="data.cDescripcion" required >
			        </md-input-container>

				    <md-input-container  flex="20"  class="form-item" ng-show="editar" >
			         <label>PISO</label>
				        <md-select  name="idPiso" ng-model="data.idPiso" class="form-item" md-on-open="loadPiso()" required>
                       		 <md-option  ng-value="piso.ID"  ng-repeat="piso in catPiso">{{piso.cDescripcion | uppercase}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="updateForm.idPiso.$error" ng-if="busquedaForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>

				     <md-input-container  flex="20"  class="form-item"  ng-if="editar">
			         <label>CATEGORÍA</label>
				        <md-select   name="idCategoria"  ng-model="data.idCategoria" class="form-item"   ng-change="changeCategoria(data.idCategoria)" required>
                       		 <md-option  ng-value="categoria.ID"  ng-repeat="categoria in catCategoria">{{categoria.cDescripcion | uppercase}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="updateForm.idCategoria.$error" ng-if="updateForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>

				    <md-input-container  flex="30"  class="form-item" ng-if="editar"   >
			         <label>SERVICIOS Y PRODUCTOS</label>
				        <md-select name="idProducto"  ng-model="data.idProducto" class="form-item" required>
                       		 <md-option  ng-value="productos.ID"  ng-repeat="productos in catProductos">{{productos.cDescripcion | uppercase}}</md-option>
                        </md-select>
                         <div class="errors" ng-messages="updateForm.idTipo.$error" ng-if="updateForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
			    </section>
		   		<div layout="row" layout-align="end center" >
		        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
		      		<md-button class="md-raised md-primary" ng-click="updateCamas(registros,'23')" ng-disabled="!updateForm.$valid">ACTUALIZAR</md-button>
		        </div>
		    </form>
	       	 
	        <!--  Area de Tabla -->
	        <section layout="row" layout-sm="column" layout-align="center center" ng-show="showTable" ng-if="registros.length > 0">   
			     	<div flex="50">
				        <md-data-table-toolbar class="alternate" ng-show="selected.length">
						    <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros,23)" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>

				            <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
				               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
				            </md-button>

				        </md-data-table-toolbar>

				        <md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                  	<th width="10%" numeric name="NO. REGISTRO"></th>
				                    <th width="80%" name="NOMBRE" order-by="cDescripcion"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
				                        <td style="text-align: center">{{$index + 1}}</td>
					                    <td>{{registro.cDescripcion | uppercase}}</td>
					                    <td ng-show="false">{{registro.idCategoria}}</td>
					                    <td ng-show="false">{{registro.idProducto}}</td>
					                    <td ng-show="false">{{registro.ID}}</td>
				                  </tr>
				                </tbody>                
				            </table>

				            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
			            </md-data-table-container> 
		            </div>
			    </section> 
		</md-card-content>
</md-card>

