	<md-card layout-wrap ng-init="cargaTabla(idCatalogo);getVista($event);">
		<card-toolbar></card-toolbar>
	      	<md-card-content >
             <md-card-content>
                <!--  Area de busqueda -->

                <section layout="row" layout-sm="column" layout-align="center center" ng-show="busqueda && !selected.length" >	
                  <cat-busqueda ng-change="change()" ng-model="buscar" click="click()"></cat-busqueda>
		      	</section>
		      	<!--  Area de Formularios -->
		       <!-- form de ALTA -->
		        <section layout="row" layout-sm="column" layout-align="center center" ng-show="alta">
			      	<form name="registraForm" ng-submit="registraForm.$valid && addCatGeneral(registros,idCatalogo)">
			      		<cat-input ng-model="data.cDescripcion"  title="*INTRODUCE LA DESCRIPCIÓN" name="INSERTAR" click="cancelar()" formulario="registraForm"></cat-input>
			      	</form>	
			    </section>  	
		         <!-- form de MODIFICAR -->
		        <section layout="row" layout-sm="column" layout-align="center center" ng-show="editar">
			      	<form name="modificaForm" ng-submit="modificaForm.$valid && updateCatGeneral(registros,idCatalogo)" >
			      		<cat-input ng-model="data.cDescripcion" title="*INTRODUCE LA DESCRIPCIÓN" name="MODIFICAR" click="cancelar()" formulario="modificaForm"></cat-input>
			      	</form>	
			    </section> 	
		        <!--  Area de Tabla -->
		       <section layout="row" layout-sm="column" layout-align="center center" >   
			     	<div flex="50">
				        <md-data-table-toolbar class="alternate" ng-show="selected.length">
						    <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros,idCatalogo)" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>

				            <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
				               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
				            </md-button>

				        </md-data-table-toolbar>

				        <md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                    <th width="80%" name="NOMBRE" order-by="cDescripcion"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
					                    <td>{{registro.cDescripcion}}</td>
					                    <td ng-show="false">{{registro.ID}}</td>
				                  </tr>
				                </tbody>                
				            </table>

				            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
			            </md-data-table-container> 
		            </div>
			    </section> 
 		    </md-card-content>
    </md-card>
