<md-card layout-wrap class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true"></card-toolbar>
      	 <md-card-content ng-init="setIdCatalogo(21)" >
            <!--  Area de busqueda -->
            <fieldset class="standard" ng-show="busqueda">
   			<legend>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></legend>
            <form name="busquedaForm">
				<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select  name="area" ng-change="changeArea()" ng-model="area" class="form-item">
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="busquedaForm.area.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    <md-input-container ng-show="catSeccion.length > 0"   flex="20"  class="form-item"  ng-show="showSeccion">
			         <label>SECCIÓN</label>
				        <md-select  ng-change="changeSeccion()" ng-model="seccion" class="form-item" >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				     <div ng-repeat="subSecciones in arregloSubseccion">
    						 <md-input-container  flex="20"  class="form-item"  >
    					         <label>SUBSECCIÓN</label>
    						        <md-select ng-disabled="editar" flex="15" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item">
    		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
    		                   		 </md-select>
    						 </md-input-container>
                     </div>
                     <md-input-container class="form-item" >
			             <md-button class="md-icon-button md-primary" ng-click="click()" aria-label="Insertar registro">
			              <md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
			            </md-button>
			        </md-input-container>
			    </section>
		    </form>
		    </fieldset>
		    <br>
		    <br>
	      	<!--  Area de Formularios -->
	       <!-- form de ALTA -->
	       <form name="registraForm" ng-show="alta">
				<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select ng-disabled="editar" name="area" ng-change="changeArea()" ng-model="area" class="form-item" required>
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="registraForm.area.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				     <md-input-container flex="30" class="form-item">
					 	<label>INTRODUCE LA DESCRIPCIÓN</label>
					    <input type="text"  maxlength="100" name="cDescripcion" ng-model="data.cDescripcion" required capitalize>
					    <div class="errors" ng-messages="registraForm.area.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
			        </md-input-container>
				    <md-input-container ng-show="catSeccion.length > 0"   flex="20"  class="form-item"  ng-show="showSeccion">
			         <label>SECCIÓN</label>
				        <md-select ng-disabled="editar"  ng-change="changeSeccion()" ng-model="seccion" class="form-item" >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				    <div ng-repeat="subSecciones in arregloSubseccion">
						<md-input-container  flex="20"  class="form-item"  >
					         <label>SUBSECCIÓN</label>
						        <md-select flex="15" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item" >
		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
		                   		 </md-select>
						</md-input-container>
                    </div>
			    </section>	
			    
			    <div layout="row" layout-align="end center" >
		        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
		      		<md-button class="md-raised md-primary" ng-click="addCatGeneral(registros,'21')" ng-disabled="!registraForm.$valid || !buttonAlta">INSERTAR</md-button>
		        </div>
		    </form>	
		    <!-- form de MODIFICAR -->
		    <form name="modificaForm" ng-show="editar">
			    <section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			    	<md-input-container  flex="20"  class="form-item">
			         <label>ÁREA</label>
				        <md-select ng-disabled="editar" name="area" ng-change="changeArea()" ng-model="area" class="form-item">
                            <md-option ng-value="{{$index}}"  ng-repeat="area in catAreas">{{area.cDescripcion | uppercase}}</md-option>
                        </md-select>
	                     <div class="errors" ng-messages="busquedaForm.area.$error" ng-if="registraForm.$dirty">
					        <div ng-message="required">Requerido</div>
					    </div>
				    </md-input-container>
				    <md-input-container ng-show="arregloSubseccion.length >0"   flex="20"  class="form-item" >
			         <label>SECCIÓN</label>
				        <md-select ng-disabled="editar"  ng-change="changeSeccion()" ng-model="seccion" class="form-item" >
                       		 <md-option ng-value="{{$index}}"  ng-repeat="mSeccion in catSeccion">{{mSeccion.cDescripcion | uppercase}}</md-option>
                        </md-select>
				    </md-input-container>
				     <div ng-repeat="subSecciones in arregloSubseccion">
    						 <md-input-container  flex="20"  class="form-item"  >
    					         <label>SUBSECCIÓN</label>
    						        <md-select ng-disabled="editar" flex="15" placeholder="SUBSECCIÓN" ng-change="changeSubSeccion('{{subSecciones.$$hashKey}}',subSeccion[$index])" ng-model="subSeccion[$index]" class="form-item">
    		                       		 <md-option ng-value="{{$index}}"  ng-repeat="subSeccion in subSecciones">{{subSeccion.cDescripcion | uppercase}}</md-option>
    		                   		 </md-select>
    						 </md-input-container>
                     </div>
	      			<md-input-container flex="40" class="form-item">
					 	<label>INTRODUCE LA DESCRIPCIÓN</label>
					    <input type="text"  maxlength="50" name="cDescripcion" ng-model="data.cDescripcion" required capitalize>
			        </md-input-container>
			    </section>	
			    <div layout="row" layout-align="end center" >
		        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
		      		<md-button class="md-raised md-primary" ng-click="updateCatGeneral(registros,'21')" ng-disabled="!modificaForm.$valid">ACTUALIZAR</md-button>
		        </div>     
		    </form>	
	        <!--  Area de Tabla -->
	        <section layout="row" layout-sm="column" layout-align="center center" ng-show="showTable">   
			     	<div flex="50">
				        <md-data-table-toolbar class="alternate" ng-show="selected.length">
						    <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros,21)" aria-label="Elimina registro(s) seleccionado(s)">
				               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
				            </md-button>

				            <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
				               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
				            </md-button>

				        </md-data-table-toolbar>

				        <md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr style="background-color:#00b5e2; text-align: center">
				                  	<th width="10%" numeric name="NO. REGISTRO"></th>
				                    <th width="80%" name="NOMBRE" order-by="cDescripcion"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
				                        <td style="text-align: center">{{$index + 1}}</td>
					                    <td>{{registro.cDescripcion}}</td>
					                    <td ng-show="false">{{registro.ID}}</td>
				                  </tr>
				                </tbody>                
				            </table>

				            <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>
			            </md-data-table-container> 
		            </div>
			    </section> 


		</md-card-content>
</md-card>

