<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true"></card-toolbar>
         
         <md-card-content ng-init="cargaTabla('2');loadCategorias();loadProveedor()">
                <!--  Area de busqueda -->
                <section layout="row" layout-sm="column" layout-align="start center" layout-wrap ng-show="busqueda">
                  <cat-busqueda  ng-change="change()" ng-model="buscar" click="click()" ></cat-busqueda>
		      	</section>
		      	<!--  Area de Formularios   -->
		       	<!-- form de ALTA -->
		      	<form name="registraForm"  ng-show="alta">
			      	<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container  flex="10" class="form-item">
			                <label>CLAVE</label>
			                <input  maxlength="10" name="concepto" ng-model="data.cClave" required >
		              	</md-input-container>
		             	<md-input-container flex="40" class="form-item">
			                <label>CONCEPTO</label>
			                <input  maxlength="150" name="concepto" ng-model="data.cDescripcion" required capitalize>
		              	</md-input-container>
			      	</section>
			      	<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container flex="10" class="form-item">
			                <label>PRECIO</label>
			                <input  maxlength="30" name="precio" ng-model="data.dCosto "   required   ng-pattern="/^[+]?\d+([.]\d+)?$/">
		             	</md-input-container>
		             	<md-select placeholder="CATEGORÍAS" ng-model="data.idCategoria" class="form-item" required>
                            <md-option ng-value="categoria.ID"  ng-repeat="categoria in catCategoria">{{categoria.cDescripcion}}</md-option>
                        </md-select>
                        <md-select placeholder="PROVEEDOR" ng-model="data.idProveedor" class="form-item" required>
                            <md-option ng-value="proveedor.ID"  ng-repeat="proveedor in catProveedor">{{proveedor.cDescripcion}}</md-option>
                        </md-select>
                        <md-input-container flex="10" class="form-item">
			                <label>CONDONACIÓN</label>
			                <input type="number" maxlength="30" name="precio" ng-model="data.nPorcentajeCondonacion" required>
		             	</md-input-container>

                        <md-checkbox class="form-item" ng-model="data.check" aria-label="COSTO VARIABLE" >
        					  COSTO VARIABLE
       					</md-checkbox>

			      	</section>
		      	    <div layout="row" layout-align="end center" >
			        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
			      		<md-button class="md-raised md-primary" ng-click="setServicios(registros,'2',true)" ng-disabled="!registraForm.$valid">INSERTAR</md-button>
		       	   </div>
		        </form>
		        <!-- form de MODIFICAR -->
		      	<form name="modificaForm"  ng-show="editar">
			      	<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container  flex="10" class="form-item">
			                <label>CLAVE</label>
			                <input  maxlength="10" name="concepto" ng-model="data.cClave" required capitalize>
		              	</md-input-container>
		             	<md-input-container flex="40" class="form-item">
			                <label>CONCEPTO</label>
			                <input  maxlength="150" name="concepto" ng-model="data.cDescripcion" required >
		              	</md-input-container>
			      	</section>
			      	<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container flex="10" class="form-item">	
			                <label>PRECIO</label>             
			                <input  maxlength="30" name="precio" ng-model="data.dCosto "  ng-pattern="/^[+]?\d+([.]\d+)?$/" required>
		             	</md-input-container>

   				       <md-select name="categoria" placeholder="CATEGORÍAS" ng-model="data.idCategoria" class="form-item"  required>
                            <md-option ng-value="{{categoria.ID}}"  ng-repeat="categoria in catCategoria">{{categoria.cDescripcion}}</md-option>
                 		</md-select>

                        <md-select placeholder="PROVEEDOR" ng-model="data.idProveedor" class="form-item" required>
                            <md-option ng-value="{{proveedor.ID}}"  ng-repeat="proveedor in catProveedor">{{proveedor.cDescripcion}}</md-option>
                        </md-select>
			            <md-input-container flex="10" class="form-item">
			                <label>CONDONACIÓN</label>
			                <input type="number"  maxlength="30" name="precio" ng-model="data.nPorcentajeCondonacion" required>
		             	</md-input-container>

                        <md-checkbox class="form-item" ng-model="data.check" aria-label="COSTO VARIABLE" >
        					  COSTO VARIABLE
       					</md-checkbox>

			      	</section>
			      	    <div layout="row" layout-align="end center" >
			        		<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
			      			<md-button class="md-raised md-primary" ng-click="setServicios(registros,'2',false)" ng-disabled="!modificaForm.$valid">ACTUALIZAR</md-button>
		       	  		</div>

		        </form>
		        <!--  Area de Tabla -->
		      	 <md-data-table-container>
			        <md-data-table-toolbar class="alternate" ng-show="selected.length">
					    <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros,'2')" aria-label="Elimina registro(s) seleccionado(s)">
			               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
			            </md-button>

			            <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
			               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon>
			            </md-button>
			        </md-data-table-toolbar>
		            <table md-data-table selectable-rows="true"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
		                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
		                  <tr>
		                    <th  name="CLAVE"  order-by="cClave"></th>
		                    <th  name="CONCEPTO" order-by="cDescripcion"></th>
		                    <th  name="PRECIO" order-by="dCosto"></th>
		                    <th  name="CATEGORÍA"  order-by="categoria"></th>
		                    <th  name="PROVEEDOR" order-by="proveedor"></th>
		                     <th name="CONDONACIÓN" order-by="nPorcentajeCondonacion"></th>
		                    <th name="COSTO VARIABLE" order-by="nCostoVariable"></th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr md-auto-select ng-repeat="registro in registros | filter:buscar | orderBy: query.order
		                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		                    <td ng-show="false">{{registro.ID}}</td>
		                    <td ng-show="false">{{registro.idCategoria}}</td>
		                    <td ng-show="false">{{registro.idProveedor}}</td>
		                    <td>{{registro.cClave}}</td>
		                    <td>{{registro.cDescripcion}}</td>
		                    <td>{{registro.dCosto}}</td>
		                    <td >{{registro.categoria}}</td>
		                    <td>{{registro.proveedor}}</td>
		                    <td>{{registro.nPorcentajeCondonacion }}</td>
		                    <td>{{registro.nCostoVariableDesc}}</td>
		                  </tr>
		                </tbody>
		             </table>
		        </md-data-table-container>
			           <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange">
                      </md-data-table-pagination>
		        
 		</md-card-content>
</md-card>