<md-card layout-wrap class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true"></card-toolbar>
         <md-card-content ng-init="cargaTabla(13)">
                <!--  Area de busqueda -->
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-show="busqueda && !selected.length">	
                  <cat-busqueda ng-change="change()" ng-model="buscar" click="click()"></cat-busqueda>                      
		      	</section>
		      	<!--  Area de Formularios -->
		       <!-- form de ALTA -->
		       	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		       		<div flex="70">
				      	<form name="registraForm"  ng-show="alta">
					      	<section layout="row"  layout-sm="column" layout-align="center center" layout-wrap>	
					      		<md-input-container flex="40" class="form-item">
								 	<label>*INTRODUCE LA DESCRIPCIÓN</label>
								    <input type="text"  maxlength="30" name="cDescripcion" ng-model="data.cDescripcion" ng-change="updateDesc=1;" required capitalize ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\x22'\s]+$/">
								    <span style="color:red" ng-show="registraForm.cDescripcion.$dirty && registraForm.cDescripcion.$invalid">EL CAMPO SÓLO SE PERMITE EL USO DE LETRAS Y COMILLAS (SI ES NECESARIO)</span>
							    </md-input-container>
							    <md-input-container flex="15" class="form-item">
						          <label>*HORA INCIAL</label>
						         <input type="time"  name="dHoraInicial" ng-model="dHoraInicial" ng-change="inicializaHorario()" required />
						         <span style="color:red" ng-show="registraForm.dHoraInicial.$dirty && registraForm.dHoraInicial.$invalid">DEBE ESPECIFICAR LA HORA EN FORMATO DE 12 HORAS</span>
					      		</md-input-container>
						        <md-input-container flex="15" class="form-item">
						          <label>*HORA FINAL</label>
						         <input type="time"  name="dHoraFinal" ng-model="dHoraFinal" ng-change="updateRango=2;" required />
						         <span style="color:red" ng-show="registraForm.dHoraFinal.$dirty && registraForm.dHoraFinal.$invalid">DEBE ESPECIFICAR LA HORA EN FORMATO DE 12 HORAS</span>
					      		</md-input-container>
					      	</spanection>
				      	   <div layout="row" layout-align="end center" >
					        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
					      		<md-button class="md-raised md-primary" ng-click="setTurnos(registros,'13',true)" ng-disabled="!registraForm.$valid ">INSERTAR</md-button>
				       	   </div>
					      
				        </form>	
			        </div>
		    	</section>
		         <!-- form de MODIFICAR -->
		        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		       		<div flex="70"> 
				      	<form name="modificaForm" ng-show="editar">
					      	<section layout="row"  layout-sm="column" layout-align="center center" ng-init="rangoValido = false" layout-wrap>	
					      		<md-input-container flex="40" class="form-item">
								 	<label>INTRODUCE LA DESCRIPCIÓN</label>
								    <input type="text"  maxlength="30" name="cDescripcion" ng-model="data.cDescripcion" ng-change="updateDesc=1;" required capitalize ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\x22'\s]+$/">
								    <span style="color:red" ng-show="modificaForm.cDescripcion.$dirty && modificaForm.cDescripcion.$invalid">EL CAMPO SÓLO SE PERMITE EL USO DE LETRAS Y COMILLAS (SI ES NECESARIO)</span>
							    </md-input-container>
							    <md-input-container flex="15" class="form-item">
						          <label>HORA INICIAL</label>
						          <input type="time" name="dHoraInicial" ng-model="dHoraInicial"  ng-change="inicializaHorario()" required/>
						          <span style="color:red" ng-show="modificaForm.dHoraInicial.$dirty && modificaForm.dHoraInicial.$invalid">DEBE ESPECIFICAR LA HORA EN FORMATO DE 12 HORAS</span>
						        </md-input-container>
						        <md-input-container flex="15" class="form-item">
						          <label>HORA FINAL</label>
						          <input type="time" name="dHoraFinal" ng-model="dHoraFinal" ng-change="updateRango=2;" required />
						          <span style="color:red" ng-show="modificaForm.dHoraFinal.$dirty && modificaForm.dHoraFinal.$invalid">DEBE ESPECIFICAR LA HORA EN FORMATO DE 12 HORAS</span>
						        </md-input-container>
					      	</section>
				      	   <div layout="row" layout-align="end center" >
					        	<md-button class="md-raised md-warning" ng-click="cancelar()">CANCELAR</md-button>
					      		<md-button class="md-raised md-primary" ng-click="setTurnos(registros,'13',false)" ng-disabled="!modificaForm.$valid ">ACTUALIZAR</md-button>
				       	   </div>
						       
				        </form>	
				    </div>
		    	</section>    
		        <!--  Area de Tabla -->
		        <section layout="row" layout-sm="column" layout-align="center center" >   
			     	<div flex="70">
		    			
					    <md-data-table-toolbar class="alternate" ng-show="selected.length">
							    <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros,13)" aria-label="Elimina registro(s) seleccionado(s)">
					               <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
					            </md-button>

					            <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
					               <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
					            </md-button>
					    </md-data-table-toolbar>
					    
					    <md-data-table-container>
				            <table md-data-table selectable-rows="false"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
				                <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
				                  <tr >
				                    <th width="40%" name="NOMBRE"  order-by="cDescripcion"></th>
				                    <th width="20%" name="HORA DE INICIO" order-by="dHoraInicial"></th>
				                    <th width="20%" name="HORA DE FIN"  order-by="dHoraFinal"></th>
				                  </tr>
				                </thead>

				                <tbody>
				                  <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order 
				                      | limitTo: query.limit: (query.page -1 )* query.limit | filter:buscar" ng-class="md-warn" >
					                    <td>{{registro.cDescripcion}}</td>
					                    <td ng-show="false">{{registro.ID}}</td>
					                    <td>{{registro.dHoraInicial}}</td>
					                    <td>{{registro.dHoraFinal}}</td>
				                  </tr>
				                </tbody>                
				            </table>
				    		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange"></md-data-table-pagination>	         
		            	</md-data-table-container>
		            </div>
			    </section>
			</md-card-content>
</md-card>