<md-card class="md-whiteframe-6dp" ng-init="loadPerfiles(); loadCatalogos();">
	<card-toolbar >
  	</card-toolbar>
	<md-card-content block-ui="myBlockUI">
		<md-card-content>
            <section layout="row" layout-sm="column" layout-align="start center" layout-wrap ng-show="busqueda">
               	<md-input-container class="form-item">
               		<label>BUSCAR</label>
               		<input maxlength="30" ng-model="dato.buscar" ng-change="filtraTabla(dato.buscar)" capitalize>
               	</md-input-container>
               	<md-button class="md-icon-button md-primary" ng-click="click()" aria-label="Insertar registro">
               		<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
              	</md-button>
		    </section>
		    <!-- Agregar Perfil a un médico -->
		    <form name="AgregarForm" id="AgregarForm" ng-submit="addRol()"> <!-- AgregarForm.$valid &&  -->
		      	<div  ng-if="alta_p">
					<section layout="" layout-md="column" ng-if="!nuevoUsuario">
						<md-autocomplete
				          ng-disabled="isDisabled"
				          md-no-cache="noCache"
				          md-selected-item="selectedItem"
				          md-search-text="searchText"
				          md-selected-item-change="selectedItemChange(item)"
				          md-items="item in querySearch(searchText)"
				          md-item-text="item.display"
				          md-min-length="1"
				          md-floating-label="*NOMBRE"
				          flex
				          class="form-item"
				          required

				          >
				        	<md-item-template>
				          		<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
				        	</md-item-template>
				      	</md-autocomplete>

				      	<md-button class="md-icon-button md-primary" ng-click="clickMedico()" >
				      		<md-tooltip>AGREGAR NUEVO USUARIO</md-tooltip>
	              			<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon>
              			</md-button>

				      	<md-input-container class="form-item" flex>
	                		<label>SELECCIONAR PERFIL</label>
	                		<md-select placeholder="*SELECCIONAR PERFIL" ng-model="usuario.IDPERFIL" flex required>
	                			<md-option ng-value="perfil.NP_ID" ng-repeat="perfil in catPerfiles">{{perfil.C_DESCRIPCION}}</md-option>
						    </md-select>
	                	</md-input-container>
	                </section>

	                <section layout="" layout-md="column">
	                	<md-input-container class="form-item" ng-show="!nuevoUsuario" flex>
	                		<label>*CONTRASEÑA</label>
	                		<input maxlength="50"  ng-model="usuario.PASSWORD" type="password" required>
	                	</md-input-container>

	                	<md-input-container class="form-item" ng-show="!nuevoUsuario" flex>
	                		<label>*CONFIRMA CONTRASEÑA</label>
	                		<input maxlength="50"  ng-model="usuario.PASSWORDC" type="password" required>
	                	</md-input-container>

						<div layout="row" layout-align="end center" ng-show="!nuevoUsuario" flex>
							<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
				      	    <md-button class="md-raised md-primary" type="button" ng-click="datosHorario_p()">SIGUIENTE</md-button>
						</div>
					</section>
				</div>

				<div ng-if="horario_p">
					<section layout="" layout-sm="column">
			      		<md-input-container flex class="form-item">
				        	<label>NOMBRE MÉDICO</label>
				          	<input name="C_NOMBRE" ng-model="C_NOMBRE_COMPLETO"required capitalize disabled>
				        </md-input-container>
				   	</section>

			    	<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
						<md-input-container flex class="form-item " >
			        		<label>*SELECCIONAR UNA ESPECIALIDAD</label>
				     			<md-select placeholder="*SELECCIONAR UNA ESPECIALIDAD" ng-model="medico.especialidad" required flex>
					      			<md-option ng-value="datoEspecialidad.ID" ng-repeat="datoEspecialidad in catEspecialidad">{{datoEspecialidad.cDescripcion}}</md-option>
					   			</md-select>
						</md-input-container>

						<md-input-container flex class="form-item" >
					        <label>*CÉDULA ESPECIALIDAD</label>
					        <input name="CEDULA_ESP" ng-model="medico.CEDULA_ESP" required capitalize maxlength="10"/>
					    </md-input-container>
					</section>
					<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
					    <md-input-container flex class="form-item" >
					        	<label>*HORARIO LABORAL</label>
					        	<input name="HORARIO_LAB" ng-model="medico.HORARIO_LAB" required capitalize maxlength="100"/>
					    </md-input-container>

		      		   	<md-input-container flex class="form-item">
					       	<label>*TURNO</label>
						    <md-select placeholder="*TURNO"  ng-model="medico.turno" ng-change="calcHoras()" required>
						    	<md-option ng-value="datoTurno.ID" ng-repeat="datoTurno in catTurno" value="{{datoTurno.ID}}">{{datoTurno.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>
					</section>
					<div class="md-padding" ng-cloak>
						<div layout="row">
							<div flex>
					      		<fieldset class="standard" flex>
					        		<legend>*DÍAS LABORABLES</legend>
					        		<div layout="row" layout-wrap>
					          			<div flex ng-repeat="item in items">
					            			<md-switch ng-change="updateDays(item)" ng-model="item.selec">{{ item.day }}</md-switch>
					          			</div>
					        		</div>
					      		</fieldset>
					    	</div>
					   	</div>

					   	<div layout="row">
						   	<md-switch ng-model="allDays" ng-change="selectAllDays(allDays)">
						   		<label>TODOS </label>
						   	</md-switch>
						   
					   	</div>
					</div>


					<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
						<md-input-container flex class="form-item" flex>
							<label>TIEMPO DE CONSULTA</label>
							<md-select placeholder="*TIEMPO DE CONSULTA" ng-model="medico.tiempoSelec"  md-on-close="calcCitas()" required flex>
								<md-option ng-repeat="tiempo in tiempo" value="{{tiempo.num}}">{{tiempo.etiqueta}}</md-option>
						    </md-select>
						</md-input-container>

		      		   	<md-input-container flex class="form-item" flex>
					       	<label>CONSULTAS MÍNIMAS:</label>
					       	<input maxlength="50" name="CONSUL_MIN" ng-model="medico.consultas" disabled>
					    </md-input-container>

							<fieldset class="standard" flex>
          <legend>Categoria del medico</legend>
          <div layout="row" layout-wrap flex>
            <div flex="25" ng-repeat="item in categoriasMedicos">
              <md-checkbox ng-checked="exists(item)" ng-click="toggle(item)">
                {{ item.id }}
              </md-checkbox>
            </div>
          </div>
					<legend flex="100" ng-if="currentItem">{{currentItem.descripcion}}</legend>
        </fieldset>


					</section>

					<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
						<md-switch ng-model="medico.INCAPACIDADES" flex >
						    <label>GENERAR INCAPACIDADES </label>
						</md-switch>
						<md-switch ng-model="medico.N_RECETA" flex >
						    <label>GENERAR RECETAS </label>
						</md-switch>
						<md-switch ng-model="medico.N_HOSPITALIZA" flex>
							<label>HOSPITALIZACIÓN </label>
							</md-switch>

							<md-switch ng-model="medico.ORDEN_ESTUDIOS" flex>
								<label>SOLICITAR ORDEN DE ESTUDIO </label>
						    </md-switch>



					</section>

					<div class="md-padding" ng-if="medico.N_RECETA" ng-cloak>
						<div layout="row">
							<div flex>
					      		<fieldset class="standard" flex>
					        		<legend>*SELECCIONAR CATEGORIAS DE MEDICAMENTOS QUE PUEDE RECETAR EL MEDICO</legend>
					        		<div layout="row" layout-wrap>
					          			<div flex ng-repeat="categoria in categorias">
														<md-switch  ng-updateCategories="updateDays(categoria)" ng-model="categoria.selected">{{categoria.descripcion}}</md-switch>
					          			</div>
					        		</div>
					      		</fieldset>
					    	</div>
					   	</div>

					   	<div layout="row">
						   	<md-switch ng-model="allCategories" ng-change="selectAllCategories(allCategories)">
						   		<label>TODOS LAS CATEGORIAS </label>
						   	</md-switch>
					   	</div>
					</div>



						<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
				      	<md-button class="md-raised md-primary" ng-disabled="submiting" type="submit">AGREGAR</md-button>
			    </div>
			</form>

            <!-- form de ALTA -->
            <form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()" ng-init="loadCatalogos()" ng-if="alta">
				<md-card-content>
					<section layout="" layout-sm="column">
			      		<md-input-container flex class="form-item">
				        	<label>*NOMBRE (S)</label>
				          	<input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE"required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          	<label>*APELLIDO PATERNO</label>
				          	<input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
				        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          	<label>*APELLIDO MATERNO</label>
					          	<input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					        </md-input-container>
				   	</section>
			      	<section layout="" layout-sm="column">
			      		<md-input-container flex class="form-item">
				          <label>*ESTADO CIVIL</label>
				      		<md-select placeholder="*ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex required>
						    	<md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>
					    <md-input-container flex class="form-item form-item-right">
				          	<label>*SEXO</label>
						    <md-select placeholder="*SEXO" ng-model="paciente.NF_SEXO" flex required>
						    	<md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex class="form-item form-item-right">
					        <label>*FECHA DE NACIMIENTO</label>
					        <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required ng-Change="calcularEdad()">
					        </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>*EDAD</label>
					        <input name="EDAD" ng-model="paciente.EDAD" required disabled>
					    </md-input-container>
				    </section>
				    <section layout="" layout-md="column">
				      	<md-input-container flex class="form-item form-item-right">
					        <label>CALLE</label>
					        <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE"  capitalize>
					     </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>NÚMERO EXTERIOR</label>
					        <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" maxlength="5"  capitalize>
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>NÚMERO INTERIOR</label>
					        <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" maxlength="10"  capitalize>
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>COLONIA</label>
					        <input name="C_COLONIA" ng-model="paciente.C_COLONIA"  capitalize maxlength="50">
					    </md-input-container>
					</section>
					<section layout="" layout-md="column">
					    <md-input-container flex class="form-item form-item-right">
					        <label>LOCALIDAD</label>
					        <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50">
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>MUNICIPIO</label>
					        <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50">
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>ESTADO</label>
							<md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex >
							   	<md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex class="form-item form-item-right">
					        <label>CÓDIGO POSTAL</label>
					        <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" >
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>TELÉFONO 1</label>
					        <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO"  capitalize maxlength="30">
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>TELÉFONO 2</label>
					        <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" capitalize maxlength="30">
					    </md-input-container>
				    </section>
				    <section layout="" layout-sm="column">
					    <md-input-container flex class="form-item">
					        <label>LUGAR DE ORIGEN</label>
					        <md-select placeholder="LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex >
							    <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							</md-select>
					    </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
					        <label>OCUPACIÓN</label>
					        <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION"  capitalize maxlength="50">
					    </md-input-container>
						<md-input-container flex class="form-item form-item-right">
					        <label>*CORREO ELECTRÓNICO</label>
					        <input class="form-item form-item-right" type="email" name="C_EMAIL" ng-model="paciente.C_EMAIL" capitalize maxlength="60" required>
					    </md-input-container>
				    </section>
				    <div layout="row" layout-align="end center">
				      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
				      	<md-button class="md-raised md-primary" type="submit" ng-disabled="registraForm.$invalid">REGISTRAR</md-button>
				    </div>
			  	</md-card-content>
			</form>

	            <!-- form de ACTUALIZACIÓN -->
	            <div layout="row">
	            	<form name="ProductoForm" ng-submit="actualizarUsuario(registros)" ng-if="editar"> <!-- ProductoForm.$valid  &&  -->
	            		<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container flex class="form-item">
				          <label>NOMBRE (S)</label>
				          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>APELLIDO PATERNO</label>
				          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" >
				        </md-input-container>
				        <md-input-container flex class="form-item form-item-right">
				          <label>APELLIDO MATERNO</label>
				          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" >
				        </md-input-container>
			      	</section>
			      	<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
				        <md-input-container flex class="form-item">
				          	<label>ESTADO CIVIL</label>
					        <md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" class="form-item" flex>
						    	<md-option ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
						    </md-select>
						</md-input-container>
				        <md-input-container flex class="form-item">
				          	<label>SEXO</label>
				        	<md-select placeholder="SEXO" ng-model="paciente.NF_SEXO" class="form-item" flex>
					      		<md-option ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
					    	</md-select>
				        </md-input-container>
				        <md-input-container flex class="form-item form-item-right">
				          <label>FECHA DE NACIMIENTO</label>
				          <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" disabled>
				        </md-input-container>
			      	</section>
			      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
			      		<md-input-container flex class="form-item">
				          <label>CALLE</label>
				          <input name="C_CALLE" ng-model="paciente.C_CALLE" >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>NÚMERO EXTERIOR</label>
				          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>NÚMERO INTERIOR</label>
				          <input name="C_NO_INTERIOR" g-model="paciente.C_NO_INTERIOR" >
				        </md-input-container>
				        <md-input-container flex class="form-item form-item-right">
				          <label>COLONIA</label>
				          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" >
				        </md-input-container>
				    </section>
				    <section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
				        <md-input-container flex class="form-item">
				          <label>LOCALIDAD</label>
				          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>MUNICIPIO</label>
				          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" >
				        </md-input-container>
					    <md-input-container flex class="form-item">
				          	<label>ESTADO</label>
				          	<md-select placeholder="ENTIDAD FEDERATIVA" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" class="form-item" flex>
					      		<md-option ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
					    	</md-select>
				        </md-input-container>
					    <md-input-container flex class="form-item">
				          <label>CÓDIGO POSTAL</label>
				          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>TELÉFONO 1</label>
				          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" >
				        </md-input-container>
				        <md-input-container flex class="form-item form-item-right">
				          <label>TELÉFONO 2</label>
				          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS">
				        </md-input-container>
			      	</section>
			      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
				        <md-input-container flex class="form-item">
				          <label>LUGAR DE ORIGEN</label>
				          <input name="NF_ENTIDAD_DE_NACIMIENTO" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO"  capitalize >
				        </md-input-container>
				        <md-input-container flex class="form-item">
				          <label>OCUPACIÓN</label>
				          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION"  capitalize>
				        </md-input-container>
					    <md-input-container flex class="form-item form-item-right">
				          <label>*CORREO ELECTRÓNICO</label>
				          <input name="C_EMAIL" ng-model="paciente.C_EMAIL" required capitalize>
				        </md-input-container>
			      	</section>
			      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
			      	<md-button class="md-raised md-primary" type="submit">ACTUALIZAR</md-button>
	                </form>
	            </div>

			  	<md-data-table-toolbar class="alternate" ng-show="selected.length===1">
			  		<md-button class="md-icon-button md-primary" ng-click="bajaUsuario(datos)" aria-label="Elimina registro(s) seleccionado(s)">
			  			<md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
			  		</md-button>
			  		<md-button class="md-icon-button md-primary" ng-click="editRow(datos)" aria-label="Edita registro seleccionado" ng-show="selected.length===1">
			  			<md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon>
			  		</md-button/>

			  		<md-button class="md-icon-button md-primary" ng-click="generateElectronicKey($event)" aria-label="Generación de firma electronica.">
			  			<md-icon md-svg-src="images/icons/svg/black/ic_vpn_key_black_24px.svg" ></md-icon>
			  		</md-button>
			  	</md-data-table-toolbar>

			  	<md-data-table-container ng-init="loadTable()"  ng-show="tabla">
				  <table md-data-table selectable-rows="true"  md-row-select="selected"  md-progress="deferred">
				    <thead>
				      <tr>
				      	<td>EXPEDIENTE</td>
				        <td>NOMBRE</td>
				        <td>ESPECIALIDAD</td>
				        <td>TURNO</td>
				        <td>DÍAS</td>

				      </tr>
				    </thead>
				    <tbody>

				      <tr  ng-repeat='dato in registros | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit' class="table table-hover">
	                    <!--tr md-auto-select ng-repeat="dato in datos | filter: buscar | orderBy: query.order | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn" -->


				        <td>{{dato.N_ID}}</td>
				        <td>{{dato.NOMBRE_COMPLETO}}</td>
				        <td>{{dato.ESPECIALIDADES.CF_ESPECIALIDAD}}</td>
				        <td>{{dato.TURNOS.CF_DESCRIPCION}}</td>
				        <td>{{dato.TURNOS.C_DIAS_ACTIVIDAD}}</td>

				      </tr>
				    </tbody>
				  </table>
				</md-data-table-container>
				<md-data-table-pagination ng-show="registros.length>0 && tabla" md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onPaginationChange">
			</md-data-table-pagination>
			</md-card-content >
		</md-card-content>
      </md-card>
