<md-card class="md-whiteframe-6dp" ng-init="loadPerfiles(); loadCatalogos();">
    <card-toolbar >
  </card-toolbar>


	  	<md-card-content >
            <md-card-content>
            	<section layout="" layout-sm="column" ng-show="busqueda">
                	<md-input-container class="form-item" flex>
                		<label>BUSCAR NOMBRE COMPLETO</label>
                		<input maxlength="30" ng-model="buscar" ng-Change="buscaUsuario(buscar)">
                	</md-input-container>
                	<md-button class="md-icon-button md-primary" ng-click="click()" aria-label="Insertar registro">
                		<md-tooltip>AGREGAR PERFIL</md-tooltip>
              			<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon> 
              		</md-button>
		      	</section>

	 
	  		
            	<!-- form de ALTA -->
            	<form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()" ng-init="loadCatalogos()" ng-show="nuevoUsuario">
					<md-card-content>
						<section layout="" layout-sm="column">
				      		<md-input-container flex class="form-item">
					          <label>*NOMBRE (S)</label>
					          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					        </md-input-container>
					        <md-input-container flex class="form-item">
					          <label>*APELLIDO PATERNO</label>
					          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>APELLIDO MATERNO</label>
					          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-sm="column">
				      		<md-input-container flex class="form-item">
					          <label>ESTADO CIVIL</label>
					      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex >
							      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
                        </md-select>
					        <md-input-container flex class="form-item form-item-right">
					          <label>SEXO</label>
						        <md-select placeholder="SEXO" ng-model="paciente.NF_SEXO" flex >
							      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>FECHA DE NACIMIENTO</label>
					          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01"  ng-Change="calcularEdad()">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>EDAD</label>
					          <input name="EDAD" ng-model="paciente.EDAD"  disabled>
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-md="column">
				      		<md-input-container flex class="form-item form-item-right">
					          <label>CALLE</label>
					          <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE"  capitalize>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" maxlength="5"  capitalize>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" maxlength="10"  capitalize>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>COLONIA</label>
					          <input name="C_COLONIA" ng-model="paciente.C_COLONIA"  capitalize maxlength="50">
					        </md-input-container>
					    </section>
					    <section layout="" layout-md="column">
					        <md-input-container flex class="form-item form-item-right">
					          <label>LOCALIDAD</label>
					          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>MUNICIPIO</label>
					          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO"  ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>ESTADO</label>
							    <md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex >
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>CÓDIGO POSTAL</label>
					          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" >
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 1</label>
					          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO"  capitalize maxlength="30">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 2</label>
					          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" capitalize maxlength="30">
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-sm="column">
					        <md-input-container flex class="form-item">
					          <label>LUGAR DE ORIGEN</label>
					          <md-select placeholder="LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex >
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>OCUPACIÓN</label>
					          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION"  capitalize maxlength="50">
					        </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>*CORREO ELECTRÓNICO</label>
					          <input class="form-item form-item-right" type="email" name="C_EMAIL" ng-model="paciente.C_EMAIL" capitalize maxlength="60" required>
					        </md-input-container>
				      	</section>
				      	<div layout="row" layout-align="end center">
				      		<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
				      		<!--md-button class="md-raised md-primary" type="submit" ng-disabled="registraForm.$invalid">REGISTRAR</md-button-->
				      		<md-button class="md-raised md-primary" type="submit">REGISTRAR</md-button>
				      	</div>
			  		</md-card-content>
			  	</form>
				<form name="AgregarForm" ng-submit="AgregarForm.$valid && addRol()" ng-show="alta">
					<section layout="" layout-md="column">
						<md-autocomplete
				          ng-disabled="ctrlPac.isDisabled"
				          md-no-cache="ctrlPac.noCache"
				          md-selected-item="ctrlPac.selectedItem"
				          md-search-text-change="ctrlPac.searchTextChange(ctrlPac.searchText)"
				          md-search-text="ctrlPac.searchText"
				          md-selected-item-change="ctrlPac.selectedItemChange(item)"
				          md-items="item in ctrlPac.querySearch(ctrlPac.searchText)"
				          md-item-text="item.display"
				          md-min-length="1"
				          md-floating-label="*NOMBRE"
				          flex
				          class="form-item"
				          required
				          ng-show="!nuevoUsuario"
				          >
				        	<md-item-template>
				          		<span md-highlight-text="ctrlPac.searchText" md-highlight-flags="^i">{{item.display}}</span>
				        	</md-item-template>
				      	</md-autocomplete>
				      	<md-button class="md-icon-button md-primary" ng-click="clickUsuario()" ng-show="!nuevoUsuario && canRecord">
				      	<md-tooltip>AGREGAR NUEVO USUARIO</md-tooltip>
	              			<md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon> 
              			</md-button>
				      	<md-input-container class="form-item" ng-show="!nuevoUsuario" flex>
	                		<label>*SELECCIONAR PERFIL</label>
	                		<md-select placeholder="*SELECCIONAR PERFIL" ng-model="usuario.IDPERFIL" flex >
						      <md-option ng-value="perfil.NP_ID" ng-repeat="perfil in catPerfiles">{{perfil.C_DESCRIPCION}}</md-option>
						    </md-select>
	                	</md-input-container>
	                </section>
	                <section layout="" layout-md="column">
	                	<md-input-container class="form-item" ng-show="!nuevoUsuario" flex>
	                		<label>*CONTRASEÑA</label>
	                		<input maxlength="50"  ng-model="usuario.PASSWORD" type="password" required>
	                	</md-input-container>
	                	<md-input-container class="form-item" ng-show="!nuevoUsuario" flex>
	                		<label>*CONFIRMA CONTRASEÑA</label>
	                		<input maxlength="50"  ng-model="usuario.PASSWORDC" type="password" required>
	                	</md-input-container>
						<div layout="row" layout-align="end center" ng-show="!nuevoUsuario" flex>
							<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
							<md-button class="md-raised md-primary" type="submit">INSERTAR</md-button>
						</div>
					</section>			
				</form>

	            <!-- form de ACTUALIZACIÓN   
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
	        		-->
	            	<form name="ProductoForm" ng-show="editar && !nuevoUsuario">
	            		<section layout="" layout-sm="column">
				      		<md-input-container flex class="form-item form-item-right">
					          <label>*NOMBRE (S)</label>
					          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*APELLIDO PATERNO</label>
					          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*APELLIDO MATERNO</label>
					          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize ng-disabled="isLock">
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-sm="column">
				      		<md-input-container flex class="form-item">
					          <label>*ESTADO CIVIL</label>
					      		<md-select placeholder="*ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex required ng-disabled="isLock">
							      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*SEXO</label>
						        <md-select placeholder="*SEXO" ng-model="paciente.NF_SEXO" flex required ng-disabled="isLock">
							      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>*FECHA DE NACIMIENTO</label>
					          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required ng-Change="calcularEdad()" ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>EDAD</label>
					          <input name="EDAD" ng-model="paciente.EDAD" disabled>
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-md="column">
				      		<md-input-container flex class="form-item form-item-right">
					          <label>*CURP</label>
					          <input name="C_CURP" ng-model="paciente.C_CURP" ng-Change="validaCURP()" required capitalize minlength="18" maxlength="18" ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*RELIGIÓN</label>
					          <input name="C_RELIGION" ng-model="paciente.C_RELIGION" required capitalize maxlength="50">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>GRUPO ÉTNICO</label>
					          <input name="C_ETNIA" ng-model="paciente.C_ETNIA" capitalize maxlength="50">
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-md="column">
				      		<md-input-container flex class="form-item form-item-right">
					          <label>*CALLE</label>
					          <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE" required capitalize ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*NÚMERO EXTERIOR</label>
					          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" maxlength="5" required capitalize ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*NÚMERO INTERIOR</label>
					          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" maxlength="10" required capitalize ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*COLONIA</label>
					          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" required capitalize maxlength="50" ng-disabled="isLock">
					        </md-input-container>
					    </section>
					    <section layout="" layout-md="column">
					        <md-input-container flex class="form-item form-item-right">
					          <label>*LOCALIDAD</label>
					          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*MUNICIPIO</label>
					          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*ESTADO</label>
							    <md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex required ng-disabled="isLock">
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
							</md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>*CÓDIGO POSTAL</label>
					          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" required ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*TELÉFONO 1</label>
					          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" required capitalize maxlength="30" ng-disabled="isLock">
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>TELÉFONO 2</label>
					          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" capitalize maxlength="30">
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-sm="column">
					        <md-input-container flex class="form-item">
					          <label>*LUGAR DE ORIGEN</label>
					          <md-select placeholder="*LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex required ng-disabled="isLock">
							      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
							    </md-select>
					        </md-input-container>
					        <md-input-container flex class="form-item form-item-right">
					          <label>*OCUPACIÓN</label>
					          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION" required capitalize maxlength="50">
					        </md-input-container>
						    <md-input-container flex class="form-item form-item-right">
					          <label>CORREO ELECTRÓNICO</label>
					          <input class="form-item form-item-right" type="email" name="C_EMAIL" ng-model="paciente.C_EMAIL" capitalize maxlength="60">
					        </md-input-container>
				      	</section>
				      	<section layout="" layout-sm="column">
				      		<p>¿DESEA CAMBIAR LA CONTRASEÑA?</p>
					    	<md-radio-group ng-model="usuario.isNuevo">
					      		<md-radio-button value="SI" class="md-primary">SI</md-radio-button>
					      		<md-radio-button value="NO" class="md-primary"> NO </md-radio-button>
					    	</md-radio-group>
		    			</section>
				      	<section layout="" layout-sm="column" ng-if="usuario.isNuevo=='SI'">
					      	<md-input-container class="form-item" flex>
		                		<label>*NUEVA CONTRASEÑA</label>
		                		<input maxlength="50"  ng-model="usuario.PASSWORD" type="password" required>
		                	</md-input-container>
		                	<md-input-container class="form-item" flex>
		                		<label>*CONFIRMA CONTRASEÑA</label>
		                		<input maxlength="50"  ng-model="usuario.PASSWORDC" type="password" required>
		                	</md-input-container>
		                </section>
		                <section layout="" layout-sm="column" layout-align="end center">
					      	<md-button class="md-raised" type="button" ng-click="cancelar()">CANCELAR</md-button>
					      	<md-button class="md-raised md-primary" type="button" ng-click="actualizarUsuario(registros)">ACTUALIZAR</md-button>
					    </section>
	                </form>

			  	<md-data-table-container ng-init="loadTable()" ng-show="!editar">
				  <table md-data-table  md-progress="deferred">
				    <thead class="table-heading">
				      <tr>
				      	<td>ID</td>
				        <td>NOMBRE</td>
				        <td>CORREO ELECTRÓNICO</td>
				        <td>ROL</td>
				        <td>FECHA DE CREACIÓN</td>
				        <td>ACCIONES</td>
				      </tr>
				    </thead>
				    <tbody>
				      <tr md-auto-select ng-click="logItem(dato)" ng-repeat="dato in datos | filter: buscar | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
				        <td>{{dato.N_EXPEDIENTE}}</td>
				        <td>{{dato.nombreCompleto}}</td>
				        <td>{{dato.C_EMAIL}}</td>
				        <td>{{dato.C_PERFIL}}</td>
				        <td>{{parseDate(dato.FECHA_ALTA)}}</td>
				        <td>
				        	<md-fab-speed-dial md-open="isOpen" md-direction="rigth" ng-class="selectedMode">
								<md-fab-trigger>
									<md-button aria-label="menu" class="md-fab md-primary">
										<md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
									</md-button>
								</md-fab-trigger>

								<md-fab-actions>
									<md-button class="md-fab md-raised md-mini md-primary" ng-click="bajaUsuario(dato)" aria-label="Elimina registro(s) seleccionado(s)">
										<md-tooltip md-direction="letf">ELIMINAR</md-tooltip>
							  			<md-icon md-svg-src="images/icons/svg/white/ic_delete_white_18px.svg" ></md-icon> 
							  		</md-button>
							  		<md-button class="md-fab md-raised md-mini md-primary" ng-click="editRow(dato)" aria-label="Edita registro seleccionado">
							  			<md-tooltip md-direction="letf">EDITAR</md-tooltip>
							  			<md-icon md-svg-src="images/icons/svg/white/ic_mode_edit_white_24px.svg" ></md-icon> 
							  		</md-button>
							  		<!--md-button class="md-fab md-raised md-mini md-primary" ng-click="printCarne(dato)" aria-label="Imprimir carnet">
							  			<md-tooltip md-direction="letf">IMPRIMIR CARNET</md-tooltip>
							  			<md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg" ></md-icon> 
							  		</md-button-->
								</md-fab-actions>
							</md-fab-speed-dial>
				        </td>
				      </tr>
				    </tbody>
				  </table>
				</md-data-table-container>
				<md-data-table-pagination ng-show="datos.length>0 && !editar" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
			</md-card-content >
		</md-card-content>
      </md-card>
