<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content ng-init="calendarizarCita()" block-ui="myBlockUI">
		<div ng-if="!citaEspecial"></div>
		<form name="formCalendariza">
			<section layout="" layout-sm="column">
	      		<md-input-container flex class="form-item" ng-if="!citaEspecial">	
		        	<label>NOMBRE DEL PACIENTE</label>
		          	<input maxlength="100" name="paciente" ng-model="cita.paciente.nombrePaciente" required disabled capitalize>
			    </md-input-container>
			    <md-autocomplete
			        ng-disabled="ctrlCita.isDisabled"
			        md-no-cache="ctrlCita.noCache"
			        md-selected-item="ctrlCita.selectedItem"
			        
			        md-search-text="ctrlCita.searchText"
			        md-selected-item-change="ctrlCita.selectedItemChange(item,0)"
			        md-items="item in ctrlCita.querySearch(ctrlCita.searchText,0)"
			        md-item-text="item.display"
			        md-min-length="0"
			        md-floating-label="*NOMBRE DEL PACIENTE"
			        flex
			        class="form-item"
			        required
			        ng-if="citaEspecial"
			    >
			       	<md-item-template capitalize>
			       		<span md-highlight-text="ctrlCita.searchText" md-highlight-flags="^i">{{item.display}}</span>
			      	</md-item-template>
			    </md-autocomplete>
			    <!--md-input-container flex class="form-item form-item-right">	
			        <label>*NÚMERO DE EXPEDIENTE</label>
			        <input maxlength="50" name="paciente" ng-model="cita.paciente.expediente" required disabled capitalize>
			    </md-input-container-->
			    <md-input-container flex class="form-item form-item-right">	
			        <label>EXPEDIENTE</label>
			        <input maxlength="50" name="paciente" ng-model="cita.paciente.expedienteSIU" disabled capitalize>
			    </md-input-container>
		    </section>
			<section layout="" layout-sm="column">
				<md-input-container flex class="form-item form-item-right" ng-if="citaEspecial">
			        <label>*SELECCIONAR UNA ESPECIALIDAD</label>
				    <md-select placeholder="*SELECCIONAR UNA ESPECIALIDAD" ng-model="cita.especialidad" flex required ng-change="selectEspecialidad()">
					    <md-option ng-value="datoEspecialidad.ID" ng-repeat="datoEspecialidad in catEspecialidad">{{datoEspecialidad.cDescripcion}}</md-option>
					</md-select>
				</md-input-container>
		     	
			    </div>
			    <md-input-container flex class="form-item form-item-right" ng-if="!citaEspecial">
			        <label>ESPECIALIDAD</label>
			        <input name="especialidad" ng-model="cita.medico.nombreEspecialidad" required disabled capitalize>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right" ng-if="citaEspecial && existMedicos">
			        <label>*SELECCIONAR MÉDICO</label>
				    <md-select placeholder="*SELECCIONAR MÉDICO" ng-model="cita.idMedico" flex required>
					    <md-option ng-value="datoMedico.N_EXPEDIENTE" ng-repeat="datoMedico in catMedicos | orderBy:['C_PRIMER_APELLIDO','C_SEGUNDO_APELLIDO','C_NOMBRE']">{{datoMedico.C_PRIMER_APELLIDO}} {{datoMedico.C_SEGUNDO_APELLIDO}} {{datoMedico.C_NOMBRE}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex class="form-item form-item-right" ng-if="citaEspecial && !existMedicos" required>
			        <label>NO EXISTEN MÉDICOS DE ESTA ESPECIALIDAD</label>
			    </md-input-container>
		    </section>
		    <section layout="" layout-sm="column">
		    	<md-input-container flex class="form-item" ng-if="!citaEspecial">
			        <label>FECHA</label>
			        <input name="FECHA" ng-model="cita.dia" required disabled>
			    </md-input-container>
			    <label ng-if="citaEspecial">*</label>
			    <md-input-container flex class="form-item form-item-right" ng-if="citaEspecial">
			        <label>FECHA</label>
			        <input type="date" name="FECHA_NACIMIENTO" ng-model="cita.FECHA" min="{{currentDate}}" required ng-Change="getCurrentTime()">
			        <div ng-messages="formCalendariza.FECHA_NACIMIENTO.$error">
			            <div ng-message="min">No es una fecha valida para agendar. Ya paso la fecha.</div>
			        </div>
			    </md-input-container>
			    <!--md-datepicker ng-model="cita.FECHA" md-min-date="currentDate" required ng-if="citaEspecial" ng-change="getCurrentTime()"></md-datepicker-->


		    	<md-input-container flex class="form-item form-item-right" ng-if="!citaEspecial">
			        <label>HORA</label>
			        <input name="HORA" ng-model="cita.horario" required disabled>
			    </md-input-container>



			    <md-input-container flex class="form-item form-item-right" ng-if="citaEspecial">
			        <label>*HORA --</label>
			        <input name="HORA" ng-model="cita.HORA" required type="time" ng-change="getCurrentTime()" min="{{horaActual}}">
			        <div ng-messages="formCalendariza.HORA.$error">
			            <div ng-message="min">Debe seleccionar un horario mayor al actual {{ horaActual }}</div>
			        </div>
			    </md-input-container>
			    
			   
		    </section>




		    <section layout="" layout-sm="column">
		    	<md-input-container flex class="form-item form-item-right">
			        <label>OBSERVACIONES</label>
			        <textarea name="OBSERVACIONES" ng-model="cita.C_OBSERVACIONES" maxlength="500" md-maxlength="500"/>
			    </md-input-container>
			</section>
		    <section layout="" layout-sm="column" ng-if="preCita">
		      	<p>¿TIENE REFERENCIA MÉDICA?/<p>
			    <md-radio-group ng-model="cita.referencia">
			    	<md-radio-button value="SI" class="md-primary">SI</md-radio-button>
			    	<md-radio-button value="NO" class="md-primary"> NO </md-radio-button>
			   	</md-radio-group>
    		</section>
    		<section layout="" layout-sm="column" ng-if="preCita">
    			<md-input-container flex class="form-item" ng-if="cita.referencia=='SI'">
			        <label>HOSPITAL O DEPENDENCIA QUE CANALIZA</label>
			        <input maxlength="50" name="C_PROCEDENCIA" ng-model="referencia.C_PROCEDENCIA" required capitalize>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right" ng-if="cita.referencia=='SI'">
			        <label>MÉDICO QUE CANALIZA</label>
			        <input maxlength="50" name="C_MEDICO" ng-model="referencia.C_MEDICO" required capitalize>
			    </md-input-container>
			</section>
			<section layout="" layout-sm="column" ng-if="preCita">
    			<md-input-container flex class="form-item form-item-right" ng-if="cita.referencia=='SI'">
			        <label>DESCRIPCIÓN DEL PADECIMIENTO</label>
			        <input maxlength="100" name="C_OBSERVACIONES" ng-model="referencia.C_OBSERVACIONES" required capitalize>
			    </md-input-container>
			</section>
		    <div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-warning" type="button" ng-click="cancelar()">CANCELAR</md-button>
		      	<md-button class="md-raised md-primary" type="button" ng-click="registrarDatos()" ng-disabled="!formCalendariza.$valid">CONFIRMAR CITA</md-button>
		    </div>
	  	</form>
	</md-card-content>
</md-card>