<md-dialog>

dsadsads
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>CANCELAR CITA</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>



    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    
    <span flex></span>
    <md-button ng-click="answer(-1)" >
     CANCELAR
    </md-button>
    <md-button ng-click="answer(selected)" style="margin-right:20px;" >
      ACEPTAR
    </md-button>
  </div>
  </form>
</md-dialog>