<div layout="row" layout-align="center center">
  <div  flex-md="99" flex-sm="99" flex-lg="80" flex-gt-lg="80">
    <md-card layout-wrap>
        <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools"  layout-align="center center">
            <h3 >
              <span>CATALOGOS</span>
            </h3>
          </div>
        </md-toolbar>


        <div class="tabsdemoDynamicHeight" >
          <md-content class="md-padding">
            <md-tabs md-dynamic-height="">
              <md-tab label="Especialidad" md-on-select="loadTabla('8')">
              </md-tab>

              <md-tab label="Estatus"  md-on-select="loadTabla('10')">
              </md-tab>

              <md-tab label="Turnos"  md-on-select="loadTabla('13')">
              </md-tab>

              <md-tab label="Excepciones"  md-on-select="loadTabla('16')">
              </md-tab>

            </md-tabs>

              <md-card-content>
                  <!--  Area de busqueda -->
                  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap >   
                    <div  layout="column" layout-align="left right" style="padding:20px">

                      <!-- BUSQUEDA E INSERCIÓN -->
                      <md-data-table-toolbar ng-show="!selected.length">
                        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-show="busqueda">
            
                          <div>
                            <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ></md-icon> 
                            <md-input-container class="form-item">
                            <label>BUSCAR</label>
                            <input maxlength="30"  ng-model="buscar" >
                            </md-input-container>
                          </div>    
                          
                          <div>
                            <md-button class="md-icon-button md-primary" ng-click="click()" aria-label="Insertar registro">
                              <md-icon md-svg-src="images/icons/svg/ic_add_circle_black_18px.svg" ></md-icon> 
                            </md-button>
                          </div>
                        </div>  

                        
                        <!-- form de ACTUALIZACIÓN -->
                        <div layout="row">
                        <form name="ProductoForm" ng-submit="ProductoForm.$valid  && updateReg(registros)" ng-show="editar">
                          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap >
                            <md-input-container  class="form-item" flex="10" >
                              <label>ID</label>
                              <input  maxlength="5" name="id" ng-model="data.ID" readonly>
                            </md-input-container>

                            <md-input-container class="form-item" flex="50">
                              <label>DESCRIPCIÓN</label>
                              <input  maxlength="40" name="descripcion" ng-model="data.cDescripcion" ng-required="true">
                            </md-input-container>

                            <div layout="row" layout-sm="column" layout-align="end center" >
                              <md-button class="md-raised md-primary" type="submit">ACTUALIZAR</md-button>
                            </div>
                          </section>
                        </form>
                      </div>

                        <!-- form de ALTA -->
                        <form name="ProductoForm" ng-submit="ProductoForm.$valid  && addReg()" ng-show="alta">
                          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap >                            
                            <md-input-container class="form-item">
                              <label>DESCRIPCIÓN</label>
                              <input  maxlength="40" name="descripcion" ng-model="data.cDescripcion" ng-required="true">
                            </md-input-container>

                            <div layout="row" layout-align="end center" >
                              <md-button class="md-raised md-primary" type="submit">INSERTAR</md-button>
                            </div>
                          </section>
                        </form>

                       

                      </md-data-table-toolbar>

                        <md-data-table-toolbar class="alternate" ng-show="selected.length">
                          <md-button class="md-icon-button md-primary" ng-click="deleteRow(registros)" aria-label="Elimina registro(s) seleccionado(s)">
                            <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon> 
                          </md-button>

                          <md-button class="md-icon-button md-primary" ng-click="editRow()" aria-label="Edita registro seleccionado">
                            <md-icon md-svg-src="images/icons/svg/ic_mode_edit_black_18px.svg" ></md-icon> 
                          </md-button>
                        
                        </md-data-table-toolbar>

                        <md-data-table-container>
                          <table md-data-table selectable-rows="true"  md-row-select="selected"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
                            <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
                              <tr style="background-color:#00b5e2">
                                <th width="20%" numeric name="No. REGISTRO"></th>
                                <th width="20%" numeric name="ID" order-by="ID"></th>
                                <th ng-show="isTablaTurnos" width="20%" name="HORA INICIAL"></th>
                                <th ng-show="isTablaTurnos" width="20%" name="HORA FINAL"></th>
                                <th width="20%" name="DESCRIPCION" order-by="cDescripcion"></th>                                
                              </tr>
                            </thead>

                            <tbody>
                              <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order 
                                        | limitTo: query.limit: (query.page -1 )* query.limit | filter: buscar" ng-class="md-warn">
                                <td>{{$index + 1}}</td>
                                <td>{{registro.ID}}</td>
                                <td ng-show="isTablaTurnos">{{registro.cHoraInicial}} </td>
                                <td ng-show="isTablaTurnos">{{registro.cHoraFinal}}</td>
                                <td>{{registro.cDescripcion}}</td>
                                
                              </tr>

                            </tbody>                
                          </table>
                        </md-data-table-container>

                        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange">
                      </md-data-table-pagination>
                    </div>  

                  </section>
                 
              </md-card-content>

          </md-content>
        </div>
    </md-card>
  </div>
</div>

