<md-card class="md-whiteframe-6dp" ng-init="loadPerfiles(); loadCatalogos();">
  <card-toolbar  canreturn="true">
  </card-toolbar>
  <md-card-content block-ui="myBlockUI">
    <md-data-table-container ng-init="loadTabla()">
      <table md-data-table selectable-rows="true"  md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
        <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
          <tr style="background-color:#00b5e2">
            <th name="No. REGISTRO"></th>
            <th name="ID"></th>
            <th name="DESCRIPCION" ></th>                                
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="registro in registros | orderBy: query.order 
                | limitTo: query.limit: (query.page -1 )* query.limit | filter: buscar" ng-class="md-warn">
            <td>{{$index + 1}}</td>
            <td>{{registro.C_CLAVE}}</td>
            <td>{{registro.C_DESCRIPCION}}</td>
          </tr>
        </tbody>                
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{registros.length}}" md-trigger="onOrderChange">
    </md-data-table-pagination>
  </md-card-content>
</md-card>