<md-card class="md-whiteframe-6dp" >
  <card-toolbar  canreturn="true">
  </card-toolbar>
  <md-card-content block-ui="blockConsulta">


    <form name="consultaForm" ng-submit="consultaForm.$valid && loadTablePacientes()">
      <section layout="" layout-sm="column">
        <md-autocomplete
        ng-disabled="isDisabled"
        md-no-cache="noCache"
        md-selected-item="selectedItem"
        md-search-text="searchText"
        md-selected-item-change="selectedItemChange(item)"
        md-items="item in querySearch(searchText)"
        md-item-text="item.display"
        md-min-length="1"
        md-floating-label="NOMBRE COMPLETO / ID PACIENTE / EXPEDIENTE / CURP"
        required
        flex
        >
        <md-item-template capitalize>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
      </md-autocomplete>
    </section>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
      <md-button class="md-raised md-warn" ng-click="clear()" type="button">LIMPIAR</md-button>

    </div>
  </form>


    <div ng-if="!existDatos">
      <h1>NO SE ENCUENTRAN RESULTADOS CON LA BÚSQUEDA.</h1>
    </div>

    <md-data-table-container ng-show="datos.length > 0">
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <td style=" text-align: left !important; padding-left: 25px;">ID PACIENTE</td>
            <td style=" text-align: left !important; padding-left: 25px;">NOMBRE</td>
            <td ng-if="carnet">DIRECCIÓN </td>
            <td >FECHA DE NACIMIENTO</td>
            <td ng-if="carnet">CIUDAD, ESTADO</td>
            <td>EXPEDIENTE SIU</td>
            <!--td>EXPEDIENTE</td-->
            <td>ACCIONES</td>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order
          | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td >{{dato.NP_ID}}</td>
            <td>{{dato.C_PRIMER_APELLIDO}} {{dato.C_SEGUNDO_APELLIDO}} {{dato.C_NOMBRE}}</td>
            <td ng-if="carnet">{{dato.C_CALLE}} {{dato.C_NO_EXTERIOR}}</td>
            <td style=" text-align: center !important;">{{dato.F_FECHA_DE_NACIMIENTO | date}}</td>
            <td ng-if="carnet">{{dato.C_MUNICIPIO}}, {{dato.NF_ENTIDAD_FEDERATIVA}}</td>
            <td>{{dato.NP_EXPEDIENTE_SIU}}</td>

            <td >
              <md-button class="md-fab md-primary md-hue-2" style="margin: 0px; padding: 0px; " aria-label="Profile" ng-click="verPaciente($event, dato)" ng-if="!carnet">
                <md-icon class="icon-circle" md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
              </md-button>
              <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="imprimirCarnet($event, dato)" ng-if="carnet">
                <md-icon class="icon-circle" md-svg-src="images/icons/svg/ic_local_printshop_white_18px.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange" class="quitarIconColor" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-data-table-pagination>





</md-card-content>




<div ng-if="isTriage" >
  <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >



    <md-tab label="OBSERVACIÓN" > <!-- RECUPERAR DE LA NOTA DE INGRESO-->
      <md-tabs md-dynamic-height md-border-bottom >
        <md-tab label={{titulo}} >
          <md-data-table-container  >

            <table md-data-table >
              <thead>
                <tr>
       <td >FECHA</td>
       <td >EXPEDIENTE</td>
                  <td>NOMBRE PACIENTE</td>
                  <td>TIPO</td>
                  <td>EVOLUTIVA</td>
                  <td>SOLICITAR INTERCONSULTA</td>
                  <!--td>INTERCONSULTA</td-->
                  <td>EVOLUCIÓN Y ALTA</td>
                  <td>CANCELAR</td>
                  <td>NOTA DE EGRESO</td>
                  <td>TRIAGE</td>
                </tr>
              </thead>



















              <tbody>
<tr  md-auto-select ng-repeat="amarillo in amarillos | orderBy:'-T_FECHA_CMD' | limitTo: query2.limit: (query2.page -1 )* query2.limit" ng-class="md-warn">
       <td class="fecha-notas">{{amarillo.T_FECHA_CMD }}</td>
       <td class="fecha-notas">  {{amarillo.NF_PACIENTE}}</td>

                  <td>{{amarillo.PACIENTE.C_PRIMER_APELLIDO}} {{amarillo.PACIENTE.C_SEGUNDO_APELLIDO}} {{amarillo.PACIENTE.C_NOMBRE}}</td>
                  <td ng-if="amarillo.CF_TIPO_NOTA !== 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">{{amarillo.CF_TIPO_NOTA}} <!-- INGRESO -->
                    <div ng-if="amarillo.CF_TIPO_NOTA == 'INGRESO' && amarillo.NF_ESTATUS == 1" >
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(amarillo)">
                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                      </md-button>
                      <br> PENDIENTE
                    </div>

                  </td>




                  <td ng-if="amarillo.CF_TIPO_NOTA === 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">

                    <md-button ng-if="amarillo.PACIENTE.NP_CAMA != 0" class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(amarillo)">
                      <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                    </md-button>
                    <div ng-if="amarillo.PACIENTE.NP_CAMA == 0" style="color: red;"><br>PENDIENTE DE ASIGNAR CAMA</div>
                    <br>INGRESO

                    <div ng-if="amarillo.CF_TIPO_NOTA == 'INGRESO' && amarillo.NF_ESTATUS == 1"><br>PENDIENTE</div>
                  </td>



                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- EVOLUTIVA -->
                    <div ng-if="amarillo.NF_ESTATUS != 1 || amarillo.CF_TIPO_NOTA == 'EVOLUTIVA'" >
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolutiva(amarillo)" ng-if="amarillo.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && amarillo.CF_TIPO_NOTA!=='S_INTERCONSULTA' && amarillo.CF_TIPO_NOTA != 'ESPERA'">
                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                      </md-button>
                      <div ng-if="amarillo.CF_TIPO_NOTA == 'EVOLUTIVA' && amarillo.NF_ESTATUS == 1"><br>PENDIENTE</div>
                    </div>
                  </td>


                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- SOLICITAR INTERCONSULTA -->
                    <div ng-if=" amarillo.NF_ESTATUS != 1 || amarillo.CF_TIPO_NOTA == 'S_INTERCONSULTA'">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirSolicitarInterconsulta(amarillo)"        ng-if="amarillo.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && amarillo.CF_TIPO_NOTA!=='S_INTERCONSULTA' && amarillo.CF_TIPO_NOTA != 'ESPERA'">
                        <md-icon md-svg-src="images/icons/svg/white/ic_forward_white_18px.svg"></md-icon>
                      </md-button>
                    </div>
                  </td>


                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- Evolución y Alta-->
                    <div ng-if="amarillo.NF_ESTATUS != 1 || amarillo.CF_TIPO_NOTA == 'EVOLUCION Y ALTA'">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(amarillo)" ng-if="amarillo.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && amarillo.CF_TIPO_NOTA!=='S_INTERCONSULTA' && amarillo.CF_TIPO_NOTA != 'ESPERA'">
                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                      </md-button>
                      <div ng-if="amarillo.CF_TIPO_NOTA == 'EVOLUCION Y ALTA' && amarillo.NF_ESTATUS == 1">
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(amarillo)">
                          <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                        </md-button>
                        <br>PENDIENTE
                      </div>
                    </div>
                  </td>
                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- CANCELAR -->
                    <div ng-if="amarillo.NF_ESTATUS != 1">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirCancelar(amarillo)" ng-if="amarillo.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
                        <md-icon md-svg-src="images/icons/svg/white/ic_clear_white_18px.svg"></md-icon>
                      </md-button>
                    </div>
                  </td>
                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- NOTA DE EGRESO -->
                    <div ng-if="amarillo.NF_ESTATUS != 1">
                      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNotaEgreso(amarillo)" ng-if="amarillo.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
                        <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                      </md-button>
                    </div>
                  </td>
                  <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="printTriage(amarillo)" ng-if="amarillo.C_MODULO_TRIAGE != undefined">
                      <md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg"></md-icon>
                    </md-button>
                  </td>



                </tr>






              </tbody>

            </table>






          </md-data-table-container>
           <mensaje-datos ng-if="existCitas" mensaje="'NO HAY PACIENTES EN ESPERA'"></mensaje-datos>
          <md-data-table-pagination ng-show="amarillos.length>0" md-limit="query2.limit" md-page="query2.page" md-total="{{amarillos.length}}" class="quitarIconColor"></md-data-table-pagination>
        </md-tab>
      </md-tabs>
    </md-tab>





































    <md-tab label="CHOQUE"> <!-- RECUPERAR DE LA NOTA DE INGRESO-->
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label={{titulo}}>
        <md-data-table-container>
          <table md-data-table>
            <thead>
              <tr>
               <td>FECHA</td>
              <td >EXPEDIENTE</td>
                <td>NOMBRE PACIENTE</td>
                <td>TIPO</td>
                <td>EVOLUTIVA</td>
                <td>SOLICITAR INTERCONSULTA</td>
                <!--td>INTERCONSULTA</td-->
                <td>EVOLUCIÓN Y ALTA</td>
                <td>CANCELAR</td>
                <td>NOTA DE EGRESO</td>
                <td>TRIAGE</td>
              </tr>
            </thead>
            <tbody>
              <tr  md-auto-select ng-repeat="dato2 in datos2 | orderBy:'-T_FECHA_CMD'
              | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">

              <td class="fecha-notas">{{dato2.T_FECHA_CMD }}</td>
              <td class="fecha-notas">{{dato2.NF_PACIENTE}}</td>
              <td >{{dato2.PACIENTE.C_PRIMER_APELLIDO}} {{dato2.PACIENTE.C_SEGUNDO_APELLIDO}} {{dato2.PACIENTE.C_NOMBRE}}</td>
              <td ng-if="dato2.CF_TIPO_NOTA !== 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">{{dato2.CF_TIPO_NOTA}} <!-- INGRESO -->
                <div ng-if="dato2.CF_TIPO_NOTA == 'INGRESO' && dato2.NF_ESTATUS == 1">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(dato2)">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                  <br>PENDIENTE
                </div>
              </td>
              <td ng-if="dato2.CF_TIPO_NOTA === 'ESPERA'" style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
                <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirAgendaMedicaIngreso(dato2)">
                  <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                </md-button>
                <br>INGRESO
                <div ng-if="dato2.CF_TIPO_NOTA == 'INGRESO' && dato2.NF_ESTATUS == 1"><br>PENDIENTE</div>
              </td>
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- EVOLUTIVA -->
                <div ng-if="dato2.NF_ESTATUS != 1 || dato2.CF_TIPO_NOTA == 'EVOLUTIVA'">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolutiva(dato2)" ng-if="dato2.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && dato2.CF_TIPO_NOTA!=='S_INTERCONSULTA' && dato2.CF_TIPO_NOTA != 'ESPERA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                  <div ng-if="dato2.CF_TIPO_NOTA == 'EVOLUTIVA' && dato2.NF_ESTATUS == 1"><br>PENDIENTE</div>
                </div>
              </td>
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- SOLICITAR INTERCONSULTA -->
                <div ng-if=" dato2.NF_ESTATUS != 1 || dato2.CF_TIPO_NOTA == 'S_INTERCONSULTA'">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirSolicitarInterconsulta(dato2)" ng-if="dato2.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && dato2.CF_TIPO_NOTA!=='S_INTERCONSULTA' && dato2.CF_TIPO_NOTA != 'ESPERA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_forward_white_18px.svg"></md-icon>
                  </md-button>
                </div>
              </td>
              <!--td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- INTERCONSULTA -->
                <!--div ng-if="dato2.NF_ESTATUS != 1 || dato2.CF_TIPO_NOTA == 'INTERCONSULTA'">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirInterconsulta(dato2)" ng-if="dato2.CF_TIPO_NOTA === 'S_INTERCONSULTA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                </div>


                <div ng-if="dato2.CF_TIPO_NOTA == 'INTERCONSULTA' && dato2.NF_ESTATUS == 1">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirInterconsulta(dato2)">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                  <br>PENDIENTE
                </div>

              </td-->
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- Evolución y Alta-->
                <div ng-if="dato2.NF_ESTATUS != 1 || dato2.CF_TIPO_NOTA == 'EVOLUCION Y ALTA'">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(dato2)" ng-if="dato2.CF_TIPO_NOTA !== 'EVOLUCION Y ALTA' && dato2.CF_TIPO_NOTA!=='S_INTERCONSULTA' && dato2.CF_TIPO_NOTA != 'ESPERA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                  <div ng-if="dato2.CF_TIPO_NOTA == 'EVOLUCION Y ALTA' && dato2.NF_ESTATUS == 1">
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirEvolucionAlta(dato2)">
                      <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                    </md-button>
                    <br>PENDIENTE
                  </div>
                </div>
              </td>
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- CANCELAR -->
                <div ng-if="dato2.NF_ESTATUS != 1">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirCancelar(dato2)" ng-if="dato2.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_clear_white_18px.svg"></md-icon>
                  </md-button>
                </div>
              </td>
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;"><!-- NOTA DE EGRESO -->
                <div ng-if="dato2.NF_ESTATUS != 1">
                  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="abrirNotaEgreso(dato2)" ng-if="dato2.CF_TIPO_NOTA === 'EVOLUCION Y ALTA'">
                    <md-icon md-svg-src="images/icons/svg/white/ic_event_note_white_18px.svg"></md-icon>
                  </md-button>
                </div>
              </td>
              <td style="padding: 0px 0px; margin: 15px 0px; text-align: center;">
                <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="printTriage(dato2)" ng-if="dato2.C_MODULO_TRIAGE != undefined">
                  <md-icon md-svg-src="images/icons/svg/white/ic_print_white_24px.svg"></md-icon>
                </md-button>
              </td>
            </tr>

          </tbody>
        </table>
      </md-data-table-container>
      <h1  ng-if="existCitas">NO HAY PACIENTES EN ESPERA</h1>
      <md-data-table-pagination ng-show="datos2.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos2.length}}" class="quitarIconColor"></md-data-table-pagination>
    </md-tab>
  </md-tabs>
</md-tab>



<md-tab label="CONSENTIMIENTO INFORMADO">

  <md-data-table-container>
    <table md-data-table>
      <thead>
        <tr>
        <th md-column name="FECHA"></th>

 <th md-column name="EXPEDIENTE">
          </th>
          <th md-column name="ID NOTA">
          </th>

          <th md-column name="NOMBRE">

          </th>
          <th md-column name="ARCHIVO">
          </th>
        </tr>
      </thead>


      <tbody>
        <tr ng-repeat="consentimientoInformado in consentimientosInformados |  orderBy:'-T_FECHA_CMD' | limitTo: queryConsentimiento.limit: (queryConsentimiento.page - 1)* queryConsentimiento.limit">
        <td class="fecha-notas">{{consentimientoInformado.T_FECHA_CMD }}</td>

          <td>
            {{consentimientoInformado.NF_PACIENTE}}
          </td>
          <td>
            {{consentimientoInformado.NF_NOTA_MEDICA}}
          </td>


          <td>
            {{consentimientoInformado.C_NOMBRE + ' ' + consentimientoInformado.C_PRIMER_APELLIDO + ' ' + consentimientoInformado.C_SEGUNDO_APELLIDO}}
          </td>
          <td>
            <md-button ng-if="consentimientoInformado.C_FILE_CONSENTIMIENTO" class="md-raised md-warn" ng-click="downloadConsentiminetoInformado(consentimientoInformado, $event)">DESCARGAR ARCHIVO</md-button>
            <md-button ng-if="!consentimientoInformado.C_FILE_CONSENTIMIENTO" class="md-raised md-primary" ng-click="uploadConsentiminetoInformado(consentimientoInformado, $event)">ADJUNTAR ARCHIVO</md-button>
          </td>
        </tr>

      </tbody>

    </table>
  </md-data-table-container>
  <md-data-table-pagination ng-show="consentimientosInformados.length>0" md-limit="queryConsentimiento.limit" md-page="queryConsentimiento.page" md-total="{{consentimientosInformados.length}}" class="quitarIconColor"></md-data-table-pagination>
</md-tab>



</md-tabs>
</div>
</md-card>
