<md-card class="md-whiteframe-6dp" >
<card-toolbar  canreturn="true">
</card-toolbar>
<md-card-content>
<form name="myForm" ng-submit="myForm.$valid && buscar()" >

	<div layout=""  layout-sm="column" layout-align="center center" >

		<md-autocomplete
		name="user"
		ng-disabled="isDisabled"
		md-no-cache="noCache"
		md-selected-item="selectedItem"
		md-search-text-change="searchTextChange(searchText)"
		md-search-text="searchText"
		md-selected-item-change="selectedItemChange(item)"
		md-items="item in querySearch(searchText)"
		md-item-text="item.display"
		md-min-length="1"
		md-floating-label="NOMBRE COMPLETO / EXPEDIENTE"
		required
		>



		<md-item-template capitalize>
		<span md-highlight-text="searchText" md-highlight-flags="^i" >{{item.display}}</span>
	</md-item-template>
</md-autocomplete>



<md-datepicker name="beginDate" ng-model="obj.beginDate" md-min-date="minDateForSeach" md-max-date="obj.endDate" md-placeholder="FECHA INICIAL" required></md-datepicker>



<md-datepicker name="endDate" ng-model="obj.endDate" md-min-date="obj.beginDate" md-placeholder="FECHA FINAL" required></md-datepicker>

</div>




<div layout="row" layout-align="end center">
	<md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
	<md-button class="md-raised md-warn" ng-click="datos = []; obj = undefined; searchText = ''" type="button">LIMPIAR</md-button>
</div>

</form>
<md-data-table-container ng-show="datos.length > 0">
<table md-data-table  md-progress="deferred">
	<thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
		<tr>
			<td>                         ID CITA             </td>
			<td>                         EXPEDIENTE PACIENTE </td>
			<td>                         EXPEDIENTE SIU      </td>
			<td>                         NOMBRE PACIENTE     </td>
			<td order-by="NOMBRE_DOCTOR">MEDICO ASIGNADO     </td>
			<td>                         FOLIO DE PAGO       </td>
			<td order-by="F_FECHA_HORA"> FECHA CONSULTA      </td>
			<td>                         ESTATUS             </td>
		</tr>
	</thead>
	<tbody>
		<tr md-auto-select ng-repeat="dato in datos | orderBy: query.order
		| limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
		<td>{{dato.NP_ID}}</td>
		<td>{{dato.NF_PACIENTE}}</td>
		<td>{{dato.NP_EXPEDIENTE_SIU}}</td>
		<td>{{dato.C_NOMBRE}}</td>
		<td>{{dato.NOMBRE_DOCTOR}}</td>
		<td>{{dato.NF_PAGO}}</td>

		<td>{{ getFormatedDate(dato.F_FECHA_HORA) }}</td>
		<td>{{dato.NF_ESTATUS}}</td>

		  </tr>
		</tbody>
	</table>
</md-data-table-container>

<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</md-card-content>
</md-card>
