<md-card class="md-whiteframe-6dp">
<card-toolbar  canreturn="true">
</card-toolbar>

<md-card-content >
  <form name="registraForm" ng-submit="registraForm.$valid && obtenAgendas()" block-ui="myBlockUI">

    <div layout=""  layout-sm="column" layout-align="center center" >
      <md-datepicker ng-model="agenda.fechaInicial" md-min-date="minDate" md-max-date="agenda.fechaFinal" md-placeholder="FECHA INICIAL" required>
      </md-datepicker>
      <md-datepicker ng-model="agenda.fechaFinal" md-min-date="agenda.fechaInicial" md-placeholder="FECHA FINAL">
      </md-datepicker>
      <md-input-container >
        <label>ESPECIALIDAD</label>
        <md-select name="myModel" md-on-open="clearMedicos()" ng-model="agenda.especialidad" required >
          <md-option ng-value="especialidad"  ng-repeat="especialidad in especialidades">{{especialidad.cDescripcion}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-disabled="agenda.especialidad === undefined">
        <label>MEDICO</label>
          <md-select md-on-open="obtenMedicos()" name="myModel" ng-model="agenda.medico" >
            <md-option ng-value="medico" ng-repeat="medico in medicos">
              {{medico.C_PRIMER_APELLIDO + ' ' + medico.C_SEGUNDO_APELLIDO + ' ' + medico.C_NOMBRE}}
            </md-option>
        </md-select>
      </md-input-container>
    </div>

    <section layout="row" layout-align="end center">
      <md-button  class="md-raised md-primary" type="submit">BUSCAR</md-button>
      <md-button type="button" ng-click="clear()" class="md-raised md-warn" >LIMPIAR</md-button>
    </section>
  </form>
</md-card-content


<md-card-content >
  <section layout="row" layout-align="end center" layout-sm="column" layout-align="center center" >

    <md-data-table-toolbar class="alternate" >
      <md-button class="md-icon-button md-primary" ng-click="print(selected[0])" aria-label="Imprimir" ng-show="selected.length == 1">
        <md-icon md-svg-src="images/icons/svg/black/ic_print_black_24px.svg" ></md-icon>
        <md-tooltip>IMPRIMIR AGENDA DÍA</md-tooltip>
      </md-button>

      <md-button class="md-icon-button md-primary" ng-click="verAgenda(selected[0], $event)" aria-label="Imprimir" ng-show="selected.length == 1">
        <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ></md-icon>
        <md-tooltip>VER AGENDA DÍA</md-tooltip>
      </md-button>
      
      <md-button class="md-icon-button md-primary" ng-click="cancelDays(selected)" ng-show="usrPerfil === 'ADMAM'" aria-label="Elimina registro(s) seleccionado(s)" ng-show="selected.length > 0">
        <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" ></md-icon>
        <md-tooltip>CANCELAR CITAS</md-tooltip>
      </md-button>
    </md-data-table-toolbar>
  </section>

  <section layout=""  layout-sm="column" >
    <div>
      <md-data-table-container ng-show="agendas.length" >
        <table md-data-table selectable-rows="false" md-row-select="selected" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
          <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
            <tr>
              <th width="15%" name="FECHA" order-by="fecha"></th>
              <th width="50%" name="MEDICO" order-by="medico"></th>
              <th width="5%" name="NÚMERO DE CITAS" order-by="citas.length"></th>

            </tr>
          </thead>

          <tbody>
            <tr md-auto-select ng-repeat="agenda in agendas | orderBy: query.order
            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
              <td>{{parseFecha(agenda.fecha)}}</td>
              <td>{{agenda.medico}}</td>
              <td>{{agenda.citas.length}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container >

      <md-data-table-pagination md-limit="query.limit" md-page="query.page"   md-total="{{agendas.length}}" ng-show="agendas.length">
      </md-data-table-pagination>
    </div>
  </section>
</md-card-content>

</md-card>


<script type="text/ng-template" id="canceldlg.tmpl.html">
  <md-dialog aria-label="CANCELAR CITA">
  <form>
    <md-toolbar>
    <card-toolbar title="MOTIVO DE CANCELACIÓN">
  </card-toolbar>

</md-toolbar>
<md-dialog-content style="max-width:800px;max-height:810px; ">

<md-input-container flex="99" class="form-item">
<label>SELECCIONA EL MOTIVO DE CANCELACIÓN</label>
<md-select name="myModel"  ng-model="motivo" >

<md-option ng-value="motivo"  ng-repeat="motivo in motivos">{{motivo.cDescripcion}}</md-option>

</md-select>

</md-input-container>

</md-dialog-content>

<div class="md-actions" layout="row">

  <span flex></span>
  <md-button ng-click="answer(-1)" >
  CANCELAR
</md-button>
<md-button ng-click="answer(motivo.ID)" style="margin-right:20px;" >
ACEPTAR
</md-button>
</div>
</form>
</md-dialog>
</script>
