<md-card class="md-whiteframe-6dp">
    <card-toolbar  canreturn="true">
  </card-toolbar>
			<md-card-content>
      	<form ng-init="loadEspecialidades()">
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>
					<md-input-container flex class="form-item form-item-right">
			          <label>SELECCIONAR UNA ESPECIALIDAD</label>
				      	<md-select placeholder="SELECCIONAR UNA ESPECIALIDAD" ng-model="medico.especialidad" flex>
					      <md-option ng-value="datoEspecialidad" ng-repeat="datoEspecialidad in catEspecialidad">{{datoEspecialidad.cDescripcion}}</md-option>
					    </md-select>
					</md-input-container>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      	<md-button class="md-raised md-primary" ng-click="loadTable()">BUSCAR</md-button>
		      	<md-button class="md-raised md-warn" ng-click="datos = []">LIMPIAR</md-button>
		      	</div>
	  	</form>
	  	<md-data-table-container ng-show="datos.length > 0">
		  <table md-data-table class="table-heading">
		    <thead>
		      <tr>
		        <td>NOMBRE           </td>
		        <td>ESPECIALIDAD     </td>
		        <td>TURNO            </td>
		        <td>HORARIO          </td>
		        <td>DÍAS DE CONSULTA </td>
		        <td>VER HORARIOS     </td>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order 
					                      | limitTo: query.limit: (query.page -1 )* query.limit " ng-class="md-warn" >
		        <td>{{dato.C_PRIMER_APELLIDO}} {{dato.C_SEGUNDO_APELLIDO}} {{dato.C_NOMBRE}}</td>
		        <td>{{dato.ESPECIALIDADES.CF_ESPECIALIDAD}}</td>
		        <td>{{dato.TURNOS.CF_DESCRIPCION}}</td>
		        <td>{{dato.TURNOS.D_HORA_INICIAL}}-{{dato.TURNOS.D_HORA_FINAL}}</td>
		        <td>{{dato.TURNOS.C_DIAS_ACTIVIDAD}}</td>
		        <td ng-show="dato.TURNOS.C_DIAS_ACTIVIDAD">
		      		<md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="verDisponibilidad($event, dato)" >
				        <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
				    </md-button>
		      	</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>
		<h1 ng-if="!existMedicos">NO HAY MÉDICOS DE ESTA ESPECIALIDAD</h1>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
	  	</md-card-content>
      </md-card>
