<md-dialog>
    <div layout="row" layout-align="center center">
        <div flex="">
            <md-card layout-wrap>
                <card-toolbar title="AGENDA MEDICA">
                </card-toolbar>
                <md-data-table-container>
                    <table md-data-table >
                        <thead class="table-heading">
                            <tr style="background-color:#00b5e2">
                                <th name="ID CITA"></th>
                                <th name="HORARIO"></th>
                                <th name="PACIENTE"></th>
                                <th name="ESPECIALIDAD"></th>
                                <th name="ESTATUS"></th>
                                <th name="ACCIONES"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr md-auto-select ng-repeat="registro in agenda.citas" ng-class="md - primary">
                                <td>{{registro.NP_ID}}</td>
                                <td>{{formatHour(registro.F_FECHA_HORA)}}</td>
                                <td>{{registro.CF_PACIENTE}}</td>
                                <td>{{registro.CF_ESPECIALIDAD}}</td>
                                <td>{{registro.NF_ESTATUS}}</td>
                                <td>
                        <md-fab-speed-dial ng-hide="hidden" md-direction="rigth" class="md-fling" md-open="isOpen" ng-mouseenter="isOpen = true" ng-mouseleave="isOpen = false">
                            <md-fab-trigger>
                                <md-button aria-label="MENÚ" class="md-fab md-primary">
                                    <md-tooltip md-direction="top">MENÚ</md-tooltip>
                                    <md-icon md-svg-src="images/icons/svg/ic_menu_white_24px.svg" aria-label="MENÚ"></md-icon>
                                </md-button>
                            </md-fab-trigger>

                            <md-fab-actions>

                                <md-button aria-label="IMPRIMIR TICKET" class="md-fab md-raised md-mini" ng-click="print(registro)">
                                    <md-tooltip md-direction="letf">IMPRIMIR TICKET</md-tooltip>
                                    <md-icon md-svg-src="images/icons/svg/black/ic_print_black_24px.svg" aria-label="IMPRIMIR TICKET"></md-icon>
                                </md-button>



                                <md-button ng-if="(registro.NF_ESTATUS === 'ACTIVO' || registro.NF_ESTATUS === 'CANCELADA') && (usrPerfil === 'ADMAM' || usrPerfil === 'ADMSM')" aria-label="REAGENDAR CITA" class="md-fab md-raised md-mini" ng-click="reagendar(registro, $event)">
                                    <md-tooltip md-direction="letf">REAGENDAR CITA</md-tooltip>
                                    <md-icon md-svg-src="images/icons/svg/black/ic_insert_invitation_black_24px.svg" aria-label="REAGENDAR CITA"></md-icon>
                                </md-button>

                                <md-button aria-label="CANCELAR CITA" ng-if="(registro.NF_ESTATUS_ID === 1 || registro.NF_ESTATUS_ID === 3) && (usrPerfil === 'ADMAM' || usrPerfil === 'ADMSM')" class="md-fab md-raised md-mini" ng-click="cancelar(registro)">
                                    <md-tooltip md-direction="letf">CANCELAR CITA</md-tooltip>
                                    <md-icon md-svg-src="images/icons/svg/ic_delete_black_18px.svg" aria-label="CANCELAR CITA"></md-icon>
                                </md-button>


                            </md-fab-actions>
                        </md-fab-speed-dial>


                        </td>

                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
                <div class="md-actions " layout="row">
                    <md-button class="md-raised md-primary" ng-click="hide()" style="margin-right:20px;">CERRAR</md-button>
                </div>
            </md-card>
        </div>
    </div>
</md-dialog>
