<md-dialog style="min-width:300px; min-height:800px;">
  <div layout="row" layout-align="center center">
    <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
      <md-card layout-wrap ng-controller="AgendaDisponibilidadprimeravezCtrl">
        <card-toolbar title="HORARIOS DISPONIBLES  {{titleDia}}">
          </card-toolbar>
          <md-data-table-container style="min-width:290px; max-height:650px;">
            <table md-data-table ng-init="loadTableHorario()">
              <thead>
                <tr>
                  <th name="HORA"></th>
                  <th name="AGENDAR" ng-if="!notShow"></th>
                </tr>
              </thead>
              <tbody>
                <tr md-auto-select ng-repeat="datoHorario in datosHorario" ng-class="md-warn">
                  <td>{{datoHorario.FECHA_HORA}}</td>
                  <td ng-if="!notShow">
                    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="calendarizarCita(datoHorario)">
                      <md-icon md-svg-src="images/icons/svg/ic_event_note_white_18px.svg"></md-icon>
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
        </md-data-table-container>
        <div class="md-actions" layout="row" style="text-align: center;">
          <md-button ng-click="close()" style="margin-right:20px; ">
            CERRAR
          </md-button>
        </div>
      </md-card>
    </div>
  </div>
</md-dialog>