<md-dialog aria-label="GENERACIÓN FIRMA ELECTRONICA" style="min-width: 800px; min-heigth: 600px;">
  
  <md-toolbar>
    <div {{s.directiva}} class="md-toolbar-tools">
      <h2>GENERACIÓN FIRMA ELECTRONICA </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="images/icons/svg/white/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
 
  <md-dialog-content>
    <md-tabs md-border-bottom>
      <md-tab label="1" md-active="currentState == 0" md-on-select="changeTab(0)">
        <md-content >
          <h1 class="md-subhead">VALIDACIÓN DE USUARIO</h1>
          <form>
            <md-input-container flex class="form-item form-item-right">
              <label>USUARIO</label>
              <input name="password" type="text" ng-model="user.C_EMAIL" disabled>
            </md-input-container>
            <md-input-container flex class="form-item form-item-right">
              <label>CONTRASEÑA</label>
              <input name="password" type="password" ng-model="user.password">
            </md-input-container>
          </form>
          {{message}}
        </md-content>
      </md-tab>
      <md-tab label="2" md-active="currentState == 1" ng-disabled="currentState < 1" md-on-select="changeTab(1)">
        <md-content class="md-padding">
          <h1 class="md-subhead">VERIFICACIÓN DE DATOS</h1>
          <md-list>
            <md-list-item class="md-2-line">
              <md-icon md-svg-icon="images/icons/svg/black/ic_person_pin_black_24px.svg"></md-icon>
              <div class="md-list-item-text">
                <h3>{{user.C_NOMBRE + ' ' + user.C_PRIMER_APELLIDO + ' ' + user.C_SEGUNDO_APELLIDO}}</h3>
                <p>NOMBRE</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <md-icon md-svg-icon="images/icons/svg/black/ic_person_pin_black_24px.svg"></md-icon>
              <div class="md-list-item-text">
                <h3>{{user.C_EMAIL}}</h3>
                <p>CORREO</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <md-icon md-svg-icon="images/icons/svg/black/ic_person_pin_black_24px.svg"></md-icon>
              <div class="md-list-item-text">
                <h3>{{user.C_EMAIL}}</h3>
                <p>CORREO</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <md-icon md-svg-icon="images/icons/svg/black/ic_person_pin_black_24px.svg"></md-icon>
              <div class="md-list-item-text">
                <h3>{{user.N_ID}}</h3>
                <p>ID</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <md-icon md-svg-icon="images/icons/svg/black/ic_person_pin_black_24px.svg"></md-icon>
              <div class="md-list-item-text">
                <h3>{{user.C_PERFIL}}</h3>
                <p>PERFIL</p>
              </div>
            </md-list-item>


          </md-list>
        </md-content>
      </md-tab>

      <md-tab label="3" md-active="currentState == 2" ng-disabled="currentState < 2" md-on-select="changeTab(2)">
        <md-content class="md-padding">
          <h1 class="md-subhead">DESCARGA DE FIRMA</h1>
          
          <!--poner dos botones para descargar estas cosas.-->
          <md-button ng-click="getFirmaFile()">DESCARGAR FIRMA</md-button>
          <md-button ng-click="getCertificadoFile()">DESCARGAR CERTIFICADO</md-button>

          <h2 ng-if="!iskeyDownloaded && !isCerDownloaded">{{err}}</h2>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>

<div class="md-actions" layout="row">

  <span flex></span>
  <md-button ng-click="back()" >
  {{backButtonTitle}}
</md-button>
<md-button ng-click="next()" style="margin-right:20px;" >
{{nextButtonTitle}}
</md-button>
</div>
</md-dialog>