<md-dialog>
  <md-card layout-wrap ng-controller="AgendaConsultapacienteCtrl">
    <card-toolbar title="BUSCAR PACIENTE POR NOMBRE">
      </card-toolbar>
        <form name="consultaDialogForm" ng-submit="consultaDialogForm.$valid && loadTablePacientes2()">
          <md-card-content>
              <md-input-container flex class="form-item">
                <label>PACIENTE</label>
                <input maxlength="50" ng-model="textoBuscado2" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
              </md-input-container>
             

            <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
            </div>
          </md-card-content>
        </form>
      <md-data-table-container>
      <table md-data-table class="table-heading">
        <thead>
          <tr>
            <th name="ID"></th>
            <th name="NOMBRE"></th>
            <th nam.e="FECHA DE NACIMIENTO"></th>
            <th name="EXPEDIENTE"></th>
            <th name="EXPEDIENTE SIU"></th>
          </tr>
        </thead>
        <tbody>
          <tr md-auto-select ng-repeat="dato in datos | orderBy: query.order 
                            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{dato.NP_ID}}</td>
            <td>{{dato.C_PRIMER_APELLIDO}} {{dato.C_SEGUNDO_APELLIDO}} {{dato.C_NOMBRE}}</td>
            <td>{{dato.C_FECHA_DE_NACIMIENTO | date}}</td>
            <td>{{dato.NP_EXPEDIENTE}}</td>
            <td>{{dato.NP_EXPEDIENTE_SIU}}</td>
            <td>
              <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="verPaciente3($event, dato)" ng-if="!carnet">
                <md-icon md-svg-src="images/icons/svg/ic_person_white_18px.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination ng-show="data.legth" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
      </md-card>
</md-dialog>