<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="formBusqueda" ng-submit="buscar()" ng-init="inicializa()">
			<div layout layout-sm="column" layout-align="center center">

        		<md-datepicker ng-model="obj.beginDate" ng-init="inicializaBeginDate()" md-min-date="fechaInicial" md-max-date="fechaFinal" md-placeholder="FECHA INICIAL" ng-change="vaciaTablas()" required ></md-datepicker>
        		
        		<md-datepicker ng-model="obj.endDate" md-min-date="obj.beginDate" md-max-date="fechaFinal" md-placeholder="FECHA FINAL" ng-change="vaciaTablas()" required ></md-datepicker> 

        		<md-input-container flex="20">
    				<label>EXCEPCIÓN</label>
					<md-select name="diaExcepcion" ng-model="tipoExcepcion" placeholder="SELECCIONE UNA EXCEPCIÓN" ng-class="form-item">
				    	<md-option ng-value="tipoExcepcion.ID" ng-repeat="tipoExcepcion in catDiasExcepcion" required>{{tipoExcepcion.cDescripcion}}</md-option>
				    </md-select>	
				</md-input-container>    	 

			    <md-button flex="10" class="md-raised md-primary" type="submit" ng-show="formBusqueda.$valid" >BUSCAR</md-button>

   		    </div>
		</form>

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:40%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row"  layout-align="center center">
							<br>ASIGNAR
			            </section>
		        	</md-toolbar>
		        	<md-input-container flex="20" class="form-item" ng-show="diasSinExcepcion.length>0">
				            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
				            <input maxlength="60"  ng-model="busqueda"  ng-change="change(1)" >
				    </md-input-container>
		        	
					<form name="formAsignacion" novalidate>
			            <md-data-table-container>
						   <table md-data-table selectable-rows="true" md-row-select="selected"  md-progress="deferred" >	
						      <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
						        <tr style="background-color:#00b5e2">
						        	<td numeric >No. REGISTRO</td>
							        <td order-by="DOCTOR.C_NOMBRE" >NOMBRE</td>
							        <td order-by="DOCTOR.ESPECIALIDADES.CF_ESPECIALIDAD">ESPECIALIDAD</td>
							     
						    	</tr>
						      </thead>

						      <tbody>
						        <tr md-auto-select ng-repeat="registro in diasSinExcepcion | filter:busqueda |  orderBy: query.order 
							                  | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
						        	<td md-align="center">{{$index + 1}}</td>
						        	<td>{{registro.DOCTOR.C_NOMBRE +" "+registro.DOCTOR.C_PRIMER_APELLIDO+" "+registro.DOCTOR.C_SEGUNDO_APELLIDO}}</td>	
						        	<td>{{registro.DOCTOR.ESPECIALIDADES.CF_ESPECIALIDAD}}</td>	
						        	<td ng-show="false">{{registro.DOCTOR.N_EXPEDIENTE}}</td>				
						        </tr>

						      </tbody>                
							    </table>
						</md-data-table-container>

						<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{diasSinExcepcion.length}}" md-trigger="onOrderChange" ng-show="diasSinExcepcion.length"></md-data-table-pagination>

						<section layout="row" layout-align="end center">
						<md-button class="md-raised md-primary" ng-click="asigna(diasSinExcepcion)" ng-show="diasSinExcepcion.length>0">ASIGNAR</md-button>
				        </section>
		            </form>
				</md-card layout-wrap> 
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="width:60%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row" layout-align="center center">
							<br>DESASIGNAR
			            </section>
		        	</md-toolbar>
		        	<md-input-container flex="20" class="form-item" ng-show="diasSinExcepcion.length>0">
				            <label>BÚSQUEDA <md-icon md-svg-src="images/icons/svg/ic_search_black_18px.svg" ng-class="search"></md-icon></label>
				            <input maxlength="60"  ng-model="busqueda2"  ng-change="change(2)" >
				    </md-input-container>

				    <md-data-table-container>
					    <table md-data-table selectable-rows="true" md-row-select="selected"  md-progress="deferredDos" >	
						    <thead md-order="queryDos.order" md-trigger="onOrderChangeDos" class="table-heading">
						        <tr style="background-color:#00b5e2">
							        <td numeric >REGISTRO</td>
							        <td numeric >NOMBRE</td>
							        <td numeric >ESPECIALIDAD</td>
							        <td order-by="FECHA_INICIAL">FECHA INICIAL</td>
								    <td order-by="F_FECHA_FINAL">FECHA FINAL</td>
								    <td order-by="DOCTOR.ESPECIALIDADES.CF_ESPECIALIDAD">EXCEPCIÓN</td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr md-auto-select ng-repeat="registro in diasConExcepcion  | filter:busqueda2 | orderBy: queryDos.order 
						                  | limitTo: queryDos.limit: (queryDos.page -1 )* queryDos.limit" ng-class="md-warn">
						          <td md-align="center">{{$index + 1}}</td>
						          <td>{{registro.DOCTOR.C_NOMBRE +" "+registro.DOCTOR.C_PRIMER_APELLIDO+" "+registro.DOCTOR.C_SEGUNDO_APELLIDO}}</td>	
							      <td>{{registro.DOCTOR.ESPECIALIDADES.CF_ESPECIALIDAD}}</td>
							      <td ng-show="false">{{registro.DOCTOR.N_EXPEDIENTE}}</td>		
							      <td ng-show="false">{{registro.DIAS_AUSENCIA.NP_ID}}</td>	
							      <td>{{registro.DIAS_AUSENCIA.F_FECHA_INICIAL}}</td>	
							      <td>{{registro.DIAS_AUSENCIA.F_FECHA_FINAL}}</td>	
							       <td>{{registro.EXCEPCION}}</td>		
						        </tr>
						    </tbody>                
						</table>
					</md-data-table-container>

					<md-data-table-pagination md-limit="queryDos.limit" md-page="queryDos.page" md-total="{{diasConExcepcion.length}}" md-trigger="onOrderChangeDos" ng-show="diasConExcepcion.length"></md-data-table-pagination>

					<section layout="row" layout-align="end center">
						<md-button class="md-raised md-primary" ng-click="desasigna()" ng-show="diasConExcepcion.length>0">DESASIGNAR</md-button>
				    </section>
				</md-card layout-wrap>
			</md-whiteframe>
		</div>  	
	</md-card-content>
</md-card>
