<md-card class="md-whiteframe-6dp" >
	<card-toolbar  canreturn="true">
 	</card-toolbar>

	<md-card-content>
		<form name="formBusqueda" ng-submit="buscar()" ng-init="inicializa()">
			<div layout layout-sm="column" layout-align="center center">
		      	<md-autocomplete
			          ng-disabled="ctrlDiasExc.isDisabled"

			          md-no-cache="ctrlDiasExc.noCache"
			          md-selected-item="ctrlDiasExc.selectedItem"
			          md-search-text-change="ctrlDiasExc.searchTextChange(ctrlDiasExc.searchText)"
			          md-search-text="ctrlDiasExc.searchText"
			          md-selected-item-change="ctrlDiasExc.selectedItemChange(item)"
			          md-items="item in ctrlDiasExc.querySearch(ctrlDiasExc.searchText)"
			          md-item-text="item.display"
			          md-min-length="1"
			          md-floating-label="NOMBREDEL MEDICO / ID"			       
			          class="form-item"
			          required
			          flex="33"
		        >

				    <md-item-template capitalize>
				    	<span md-highlight-text="ctrlDiasExc.searchText" md-highlight-flags="^i">{{item.display}}</span>
				    </md-item-template>
			    </md-autocomplete>
	        		
        		<md-datepicker ng-model="obj.beginDate" ng-init="inicializaBeginDate()" md-min-date="fechaInicial" md-max-date="fechaFinal" md-placeholder="FECHA INICIAL" ng-change="vaciaTablas()" required ></md-datepicker>
        		
        		<md-datepicker ng-model="obj.endDate" md-min-date="obj.beginDate" md-max-date="fechaFinal" md-placeholder="FECHA FINAL" ng-change="vaciaTablas()" required ></md-datepicker>        		
   		    </div>

	      	<div layout="row" layout-align="end center" style="padding-right: 20%;">
	      		<md-button class="md-raised md-primary" type="submit" ng-show="formBusqueda.$valid" >BUSCAR</md-button>
	    	</div>
		</form>

		<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding style="padding-bottom: 32px;">
			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="min-width:40%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row"  layout-align="center center">
							<br>ASIGNAR
			            </section>
		        	</md-toolbar>

					<form name="formAsignacion" novalidate ng-submit="showConfirm($event,'asigna',medico.diaDeExcepcion.ID)">
						<md-input-container ng-show="diasSinExcepcion.length">
	        				<label>EXCEPCIÓN</label>
							<md-select name="diaExcepcion" ng-model="medico.diaDeExcepcion" placeholder="SELECCIONE UNA EXCEPCIÓN" ng-class="form-item" ng-change="excepcionValida = true" >
						    	<md-option ng-value="tipoExcepcion" ng-repeat="tipoExcepcion in catDiasExcepcion">{{tipoExcepcion.cDescripcion}}</md-option>
						    </md-select>	
						</md-input-container>    		

						<md-data-table-container>
						    <table md-data-table md-progress="deferred" >	
						      <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
						        <tr style="background-color:#00b5e2">
						        	<td numeric> No. REGISTRO</td>
							        <td>FECHA INICIAL</td>
							        <td> FECHA FINAL</td>
						    	</tr>
						      </thead>

						      <tbody>
						        <tr md-auto-select ng-repeat="diasSin in diasSinExcepcion | orderBy: query.order 
							                  | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
						        	<td md-align="center">{{$index + 1}}</td>
						        	<td>{{diasSin.FECHAINI}}</td>
						        	<td>{{diasSin.FECHAFIN}}</td>				
						        </tr>

						      </tbody>                
							    </table>
						</md-data-table-container>

						<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{diasSinExcepcion.length}}" md-trigger="onOrderChange" ng-show="diasSinExcepcion.length"></md-data-table-pagination>

							<section layout="row" layout-align="end center">
								<md-button class="md-raised md-primary" type="submit" aria-label="Asignar días de excepción" ng-show="diasSinExcepcion.length && excepcionValida">
				                	ASIGNAR 
				                </md-button>	
				            </section>
		            </form>
				</md-card layout-wrap> 
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-z5" layout-wrap layout-align="center center" style="min-width:60%;">
			    <md-card layout-wrap>
					<md-toolbar >
						<section layout="row" layout-align="center center">
							<br>DESASIGNAR
			            </section>
		        	</md-toolbar>

				    <md-data-table-container>
					    <table md-data-table selectable-rows="true" md-row-select="selected"  md-progress="deferred" >	
						    <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
						        <tr style="background-color:#00b5e2">
							        <td numeric >ID. REGISTRO</td>
							        <td order-by="FECHA_INICIAL">FECHA INICIAL </td>
								    <td order-by="F_FECHA_FINAL">FECHA FINAL </td>
							        <td >EXCEPCION</td>
						          
						        </tr>
						    </thead>

						    <tbody>
						        <tr md-auto-select ng-repeat="diasCon in diasConExcepcion | orderBy: query.order 
						                  | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
						            <td>{{diasCon.NP_ID}}</td>
							        <td>{{diasCon.F_FECHA_INICIAL}}</td>
							        <td>{{diasCon.F_FECHA_FINAL}}</td>					        
							        <td>{{diasCon.DESCRIPCION}}</td>
						        </tr>

						    </tbody>                
						</table>
					</md-data-table-container>

					<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{diasConExcepcion.length}}" md-trigger="onOrderChange" ng-show="diasConExcepcion.length"></md-data-table-pagination>

						<section layout="row" layout-align="begin center">
							<md-button class="md-raised md-primary" ng-click="showConfirm($event,'desasigna',1,diasConExcepcion)" aria-label="Deasignar días de excepcion" ng-show="diasConExcepcion.length">
			                	DESASIGNAR
			                </md-button>	
			            </section>
				</md-card layout-wrap>
			</md-whiteframe>
		</div>  	
	</md-card-content>
</md-card>
