<md-card class="md-whiteframe-6dp">
<card-toolbar  canreturn="true">
</card-toolbar>

  	<md-card-content>
  
  		<form name="registraForm" ng-submit="obtenCanceladas()">

   			<div layout=""  layout-sm="column" layout-align="center center" >

			  <md-datepicker ng-model="cita.fechaInicial" md-min-date="minDate" md-max-date="cita.fechaFinal" md-placeholder="FECHA INICIAL">
			  </md-datepicker>

			  <md-datepicker ng-model="cita.fechaFinal" md-min-date="cita.fechaInicial" md-placeholder="FECHA FINAL">
			  </md-datepicker>

			  <md-input-container>
			  	<label>ESPECIALIDAD</label>
				  <md-select name="myModel" md-on-open="clearMedicos()" ng-model="cita.especialidad" >
				  	<md-option ng-value="especialidad"  ng-repeat="especialidad in especialidades">{{especialidad.cDescripcion}}</md-option>
				  </md-select>
			  </md-input-container>

		  	  <md-input-container  ng-disabled="cita.especialidad === undefined">
				<label>MEDICO</label>
		      <md-select md-on-open="obtenMedicos()" name="myModel" ng-model="cita.medico" >
				<md-option ng-value="medico" ng-repeat="medico in medicos">
					{{medico.C_PRIMER_APELLIDO + ' ' + medico.C_SEGUNDO_APELLIDO + ' ' + medico.C_NOMBRE}}
				</md-option>
		      </md-select>
		  	  </md-input-container>

		  	  </div>

		 <section layout="row" layout-align="end center">
		  <md-button class="md-raised md-primary" type="submit">BUSCAR</md-button>
		  <md-button type="button" ng-click="cita = undefined; citas  = []" class="md-raised md-warn" >LIMPIAR</md-button>
		 </section> 

		</form>              

	</md-card-content>


	<md-card-content>
<section layout="row" layout-align="end center" layout-sm="column" layout-align="center center" layout-wrap> 

  <md-data-table-toolbar class="alternate" >

  <md-button class="md-icon-button md-primary" ng-click="reactivarCanceladas(selected)" aria-label="Elimina registro(s) seleccionado(s)" ng-show="selected.length > 0">
  <md-icon md-svg-src="images/icons/svg/black/ic_insert_invitation_black_24px.svg" ></md-icon> 
  <md-tooltip>REACTIVAR CITAS</md-tooltip>
  </md-button>
   
</md-data-table-toolbar> 
</section>  

<section layout=""  layout-sm="column" > 
  <div>
    <md-data-table-container ng-show="citas.length" >
        <table md-data-table selectable-rows="false" md-row-select="selected" md-progress="deferred" table-card="{title: Catal, actionIcons: true}" >
          <thead md-order="query.order" md-trigger="onOrderChange" class="table-heading">
            <tr>
              <th width="15%" name="FECHA" order-by="fecha"></th>
              <th width="35%" name="MEDICO" order-by="medico"></th>
              <th width="15%" name="ESTATUS" order-by="medico"></th>
              <th width="5%" name="NÚMERO DE CITAS" order-by="citas.length"></th>

            </tr>
          </thead>

          <tbody>
            <tr md-auto-select ng-repeat="cita in citas | orderBy: query.order 
            | limitTo: query.limit: (query.page -1 )* query.limit" ng-class="md-warn">
            <td>{{cita.fecha}}</td>
            <td>{{cita.medico}}</td>
            <td>{{cita.estatus}}</td>
            <td>{{cita.citas.length}}</td>

        </tr>

      </tbody>
    </table>
</md-data-table-container >
<md-data-table-pagination md-limit="query.limit" md-page="query.page"   md-total="{{citas.length}}" ng-show="citas.length">
</md-data-table-pagination>
</div>                         
</section>          
</md-card-content>

</md-card>