<div layout="row" layout-align="center center">
 <div flex-md="99" flex-sm="99" flex-lg="99" flex-gt-lg="99">
	<md-card layout-wrap>
		<card-toolbar title="REFERENCIA MÉDICA" canreturn="true">
	    </card-toolbar>
      	<form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()">
			<md-card-content>
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>HOSPITAL O DEPENDENCIA QUE CANALIZA</label>
			          <input maxlength="80" name="HOSPITAL" ng-model="paciente.HOSPITAL"required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>MÉDICO QUE CANALIZA</label>
			          <input  maxlength="90" name="MEDICO" ng-model="paciente.MEDICO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
		      	</section>
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>NOMBRE (S)</label>
			          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE"required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>APELLIDO PATERNO</label>
			          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>APELLIDO MATERNO</label>
			          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" md-on-open="loadEstadoCivil()" class="form-item" flex>
				      <md-option ng-value="datoEstadoCivil" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
				    </md-select>
			        <md-select placeholder="SEXO" ng-model="paciente.NF_SEXO" md-on-open="loadSexo()" class="form-item" flex>
				      <md-option ng-value="datoSexo" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
				    </md-select>
				    <md-input-container flex class="form-item form-item-right">
			          <label>FECHA DE NACIMIENTO</label>
			          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required>
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
		      		<md-input-container flex class="form-item">
			          <label>CALLE</label>
			          <input name="C_CALLE" ng-model="paciente.C_CALLE" required ng-pattern="/^[a-zA-Z 0-9 ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO EXTERIOR</label>
			          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" required maxlength="7" ng-pattern="/^[0-9 a-zA-Z]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO INTERIOR</label>
			          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" required maxlength="7" ng-pattern="/^[0-9 a-zA-Z]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>COLONIA</label>
			          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			    </section>
			    <section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container flex class="form-item">
			          <label>LOCALIDAD</label>
			          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>MUNICIPIO</label>
			          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize>
			        </md-input-container>
				    <md-select placeholder="ENTIDAD FEDERATIVA" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" md-on-open="loadEstado()" class="form-item" flex>
				      <md-option ng-value="datoEstado" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
				    </md-select>
				    <md-input-container flex class="form-item">
			          <label>CP.</label>
			          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" required>
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>TELÉFONO 1</label>
			          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" required capitalize>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>TELÉFONO 2</label>
			          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" capitalize>
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-align="start center" layout-md="column" layout-sm="column" layout-align="center center" layout-wrap>
			        <md-input-container flex class="form-item">
			          <label>DESCRIPCIÓN DEL PADECIMIENTO</label>
			          <input name="PADECIMIENTO" ng-model="paciente.PADECIMIENTO" required capitalize>
			        </md-input-container>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" type="submit" ng-disabled="registraForm.$invalid">REGISTRAR</md-button>
		      	</div>
	  		</md-card-content>
	  	</form>
      </md-card>
  </div>
</div>