<md-card class="md-whiteframe-6dp" ng-init="loadDatos()">
	<card-toolbar  canreturn="true">
	</card-toolbar>
	<md-card-content >
		<section layout="" layout-sm="column" ng-if="!isUpdate" layout-wrap>
	      	<md-input-container flex class="form-item">
		        <label>NOMBRE DEL MÉDICO</label>
		        <input maxlength="50" name="MEDICO" ng-model="consulta.medico.nombreMedico"required disabled capitalize>
	        </md-input-container>
	        <md-input-container flex class="form-item" ng-if="!isUpdate">
	            <label>ESPECIALIDAD</label>
			        <input  maxlength="30" name="ESPECIALIDAD" ng-model="consulta.medico.nombreEspecialidad" required disabled capitalize>
			</md-input-container>
			<md-input-container flex class="form-item" ng-if="!isUpdate">
			    <label>FECHA</label>
			    <input  maxlength="30" name="FECHA" ng-model="consulta.dia" required capitalize disabled>
			</md-input-container>
		</section>
		<card-toolbar title="REGISTRAR DATOS GENERALES" ng-if="!isUpdate">
		</card-toolbar>
      	<!--form name="registraForm" ng-submit="registraForm.$valid && registrarDatos()" ng-init="loadCatalogos()"-->
      	<form name="registraForm" ng-submit="registrarDatos()" ng-init="loadCatalogos()">
			<md-card-content>
				<section layout="" layout-sm="column" layout-wrap>
		      		<md-input-container flex class="form-item form-item-right">
			          <label>*NOMBRE (S)</label>
			          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize ng-readonly="isLock" >
			         <!--  ng-readonly="isLock" -->
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*APELLIDO PATERNO</label>
			          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize  ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*APELLIDO MATERNO</label>
			          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize  ng-readonly="isLock">
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-sm="column" layout-wrap>
		      		<md-input-container flex class="form-item" ng-if="!isUpdate">
			          <label>*ESTADO CIVIL  </label>
			      		<md-select placeholder="*ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex required>
					      <md-option ng-value="datoEstadoCivil.ID" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
					    </md-select>
					</md-input-container>
					<md-input-container flex class="form-item form-item-right" ng-if="isUpdate">
					   	<label>ESTADO CIVIL</label>
					   	<md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" flex >
					   		<md-option ng-disabled="isLock" ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
						</md-select>
					</md-input-container>
			        <md-input-container flex class="form-item form-item-right" ng-if="!isUpdate">
			          <label>*SEXO</label>
				        <md-select placeholder="*SEXO" ng-model="paciente.NF_SEXO" flex required >
					      <md-option ng-value="datoSexo.ID" ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
					    </md-select>
					</md-input-container>
					<md-input-container flex class="form-item form-item-right" ng-if="isUpdate">
					   	<label>*SEXO</label>
					   	<md-select placeholder="SEXO" ng-model="paciente.NF_SEXO" flex >
					   		<md-option ng-disabled="isLock"  ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
						</md-select>
					</md-input-container>
				    <md-input-container flex class="form-item form-item-right" ng-if="!isUpdate">
			          <label>*FECHA DE NACIMIENTO</label>
			          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required ng-Change="calcularEdad()">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right" ng-if="isUpdate">
			          <label>*FECHA DE NACIMIENTO</label>
			        	<!--md-datepicker ng-model="paciente.FECHA_NACIMIENTO" md-max-date="currentDate" required ng-Change="calcularEdad()"></md-datepicker-->
			        	<input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required ng-Change="calcularEdad()" ng-readonly="isLock">
			    	</md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>EDAD</label>
			          <input name="EDAD" ng-model="paciente.EDAD" disabled>
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-md="column"layout-wrap>
		      		<md-input-container flex class="form-item form-item-right">
			          <label>*CURP</label>
			          <input name="C_CURP" ng-model="paciente.C_CURP" ng-Change="validaCURP()" required capitalize minlength="18" maxlength="18" ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*RELIGIÓN</label>
			          <input name="C_RELIGION" ng-model="paciente.C_RELIGION" required capitalize maxlength="50">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>GRUPO ÉTNICO</label>
			          <input name="C_ETNIA" ng-model="paciente.C_ETNIA" capitalize maxlength="50">
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-md="column" ng-show="showDomicilio" layout-wrap>
		      		<md-input-container flex class="form-item form-item-right">
			          <label>*CALLE</label>
			          <input maxlength="50" name="C_CALLE" ng-model="paciente.C_CALLE" required capitalize ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*NÚMERO EXTERIOR</label>
			          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" maxlength="5" required capitalize ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*NÚMERO INTERIOR</label>
			          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" maxlength="10" required capitalize ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*COLONIA</label>
			          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" required capitalize maxlength="50" ng-readonly="isLock">
			        </md-input-container>
			    </section>
			    <section layout="" layout-md="column" ng-show="showDomicilio" layout-wrap>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*LOCALIDAD</label>
			          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*MUNICIPIO</label>
			          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" required ng-pattern="/^[a-zA-Z ÑÁÉÍÓÚñáéíóú\s]+$/" capitalize maxlength="50" ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right" ng-if="!isUpdate">
			          <label>*ESTADO</label>
					    <md-select placeholder="ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex required>
					      <md-option  ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
					    </md-select>
					</md-input-container>
					<md-input-container flex class="form-item form-item-right" ng-if="isUpdate">
			          <label>*ESTADO</label>
					    <md-select placeholder="*ESTADO" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" flex required >
					      <md-option ng-disabled="isLock" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
					    </md-select>
					</md-input-container>
				    <md-input-container flex class="form-item form-item-right">
			          <label>*CÓDIGO POSTAL</label>
			          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" required ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*TELÉFONO 1</label>
			          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" required capitalize maxlength="30" ng-readonly="isLock">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>TELÉFONO 2</label>
			          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" capitalize maxlength="30">
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-sm="column" layout-wrap>
			        <md-input-container flex class="form-item" ng-if="!isUpdate">
			          <label>*LUGAR DE ORIGEN</label>
			          <md-select placeholder="*LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex required>
					      <md-option ng-value="datoEstado.ID" ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
					    </md-select>
			        </md-input-container>
			        <md-input-container flex class="form-item" ng-if="isUpdate">
			          <label>*LUGAR DE ORIGEN</label>
			          <md-select placeholder="*LUGAR DE ORIGEN" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" flex required ng-readonly="isLock">
					      <md-option ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
					    </md-select>
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>*OCUPACIÓN</label>
			          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION" required capitalize maxlength="50">
			        </md-input-container>
				    <md-input-container flex class="form-item form-item-right">
			          <label>CORREO ELECTRÓNICO</label>
			          <input class="form-item form-item-right" type="email" name="C_EMAIL" ng-model="paciente.C_EMAIL" capitalize maxlength="60">
			        </md-input-container>
		      	</section>
		      	<div layout="row" layout-align="end center" ng-if="!isUpdate">
		      		<!--md-button class="md-raised md-primary" type="submit" ng-disabled="registraForm.$invalid">REGISTRAR</md-button-->
		      		<md-button class="md-raised md-primary" type="submit">REGISTRAR</md-button>
		      	</div>
		      	<div layout="row" layout-align="end center" ng-if="isUpdate">
		      		<!--md-button class="md-raised md-primary" type="button" ng-click="actualizarUsuario()" ng-disabled="registraForm.$invalid">ACTUALIZAR</md-button-->
		      		<md-button class="md-raised md-primary" type="button" ng-click="actualizarUsuario()">ACTUALIZAR</md-button>

		      	</div>
		      	<div ng-if="registraForm.$invalid">
		      		<h1>FAVOR DE COMPLEMENTAR LA INFORMACIÓN FALTANTE EN BANNER</h1>
		      	</div>
	  		</md-card-content>
	  	</form>
    </md-card-content>
</md-card>