<div layout="row" layout-align="center center">
 <div flex-md="40" flex-sm="40" flex-lg="40" flex-gt-lg="40">
	<md-card layout-wrap>
		<card-toolbar title="REIMPRIMIR TICKET" canreturn="true">
	    </card-toolbar>
      	<form name="formSearch">
			<md-card-content>
				<section layout="row" layout-align="start center" layout-sm="column" layout-align="center center" layout-wrap>	
		      		<md-input-container flex class="form-item">
			          <label>ID TICKET</label>
			          <input maxlength="50" name="ticket" ng-model="paciente.ticket"required capitalize>
			        </md-input-container>
		      	</section>
		      	<div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="reimprimir()" ng-disabled="formSearch.$invalid">RE-IMPRIMIR</md-button>
		      	</div>
	  		</md-card-content>
	  	</form>
      </md-card>
  </div>
</div>