<md-card class="md-whiteframe-6dp">
	<card-toolbar  canreturn="true">
	</card-toolbar>
		<md-card-content ng-init="loadDatos()">
			<section layout="" layout-sm="column">
			   	<md-input-container flex class="form-item">
			        <label>NOMBRE DEL MÉDICO</label>
			        <input maxlength="50" name="MEDICO" ng-model="consulta.MEDICO"required disabled capitalize>
			    </md-input-container>
			    <md-input-container flex class="form-item form-item-right">
			        <label>ESPECIALIDAD</label>
			        <input  maxlength="30" name="ESPECIALIDAD" ng-model="consulta.ESPECIALIDAD" required disabled capitalize>
			    </md-input-container>
			</section>
		</md-card-content>
	    <md-data-table-container>
			<table md-data-table ng-init="loadTable()">
		  		<thead>
		      		<tr>
		        		<th name="FECHA"></th>
				        <th name="CITAS"></th>
				        <th name="CITAS OCUPADAS"></th>
				        <th name="HORARIOS"></th>
				    </tr>
				</thead>
				<tbody>
					<tr md-auto-select ng-repeat="dato in datos | orderBy: query.order 
			                      | limitTo: query.limit: (query.page -1 )* query.limit">
						<td ng-class="{redstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=0, greenstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})>50, yellowstyle:(({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=50}">
							{{dato.DIA | date:'medium'}}
						</td>
				        <td ng-class="{redstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=0, greenstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})>50, yellowstyle:(({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=50}">
				        	{{dato.CITAS}}
				        </td>
					    <td ng-class="{redstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=0, greenstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})>50, yellowstyle:(({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=50}">
					    	{{dato.CITAS_OCUPADAS}}
					    </td>
					    <td ng-class="{redstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=0, greenstyle: (({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})>50, yellowstyle:(({{dato.CITAS-dato.CITAS_OCUPADAS}})*100/{{dato.CITAS}})<=50}">
	      					<md-button class="md-fab md-primary md-hue-2 " aria-label="Profile" ng-click="verHorario($event, dato)" ng-show="{{dato.CITAS-dato.CITAS_OCUPADAS}}>0">
		                    	<md-icon md-svg-src="images/icons/svg/ic_schedule_white_18px.svg"></md-icon>
				            </md-button>
		      			</td>
					</tr>
				</tbody>
			</table>
		</md-data-table-container>
		<h1 ng-if="!existCitas">NO HAY DÍAS DE DISPONIBILIDAD DEL MÉDICO</h1>
		<md-data-table-pagination ng-show="datos.length>0" md-limit="query.limit" md-page="query.page" md-total="{{datos.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
	</md-card-content>
</md-card>
