<md-card class="md-whiteframe-6dp">
    <card-toolbar  canreturn="true">
  </card-toolbar>

			<md-card-content ng-init="verPaciente()">
      	<form name="registraForm">
				<section layout="" layout-md="column" layout-wrap>
		      		<md-input-container flex class="form-item">
			          <label>NOMBRE (S)</label>
			          <input maxlength="50" name="C_NOMBRE" ng-model="paciente.C_NOMBRE" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>APELLIDO PATERNO</label>
			          <input  maxlength="30" name="C_PRIMER_APELLIDO" ng-model="paciente.C_PRIMER_APELLIDO" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>APELLIDO MATERNO</label>
			          <input  maxlength="30" name="C_SEGUNDO_APELLIDO" ng-model="paciente.C_SEGUNDO_APELLIDO" required ng-disabled="!isEdit">
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-md="column" layout-wrap>
		      		<md-input-container flex class="form-item" ng-if="!isEdit">
			          <label>ESTADO CIVIL</label>
			          <input name="NF_ESTADO_CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" disabled>
			        </md-input-container>
			        <md-select placeholder="ESTADO CIVIL" ng-model="paciente.NF_ESTADO_CIVIL" class="form-item" flex ng-if="isEdit">
				      <md-option ng-repeat="datoEstadoCivil in catEstadoCivil">{{datoEstadoCivil.cDescripcion}}</md-option>
				    </md-select>
			        <md-input-container flex class="form-item" ng-if="!isEdit">
			          <label>SEXO</label>
			          <input name="NF_SEXO" ng-model="paciente.NF_SEXO" disabled>
			        </md-input-container>
			        <md-select placeholder="SEXO" ng-model="paciente.NF_SEXO" class="form-item" flex ng-if="isEdit">
				      <md-option ng-repeat="datoSexo in catSexo">{{datoSexo.cDescripcion}}</md-option>
				    </md-select>
			        <md-input-container flex class="form-item form-item-right" ng-if="!isEdit">
			          <label>FECHA DE NACIMIENTO</label>
			          <input name="F_FECHA_DE_NACIMIENTO" ng-model="paciente.F_FECHA_DE_NACIMIENTO" ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right" ng-if="isEdit">
			          <label>FECHA DE NACIMIENTO</label>
			          <input type="date" name="FECHA_NACIMIENTO" ng-model="paciente.FECHA_NACIMIENTO" min="1900-01-01" required>
			        </md-input-container>
		      	</section>
		      	<section layout="" layout-md="column" layout-wrap ng-show="showDomicilio">
		      		<md-input-container flex class="form-item" ng-show="showDomicilio">
			          <label>CALLE</label>
			          <input name="C_CALLE" ng-model="paciente.C_CALLE" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO EXTERIOR</label>
			          <input name="C_NO_EXTERIOR" ng-model="paciente.C_NO_EXTERIOR" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>NÚMERO INTERIOR</label>
			          <input name="C_NO_INTERIOR" ng-model="paciente.C_NO_INTERIOR" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>COLONIA</label>
			          <input name="C_COLONIA" ng-model="paciente.C_COLONIA" required ng-disabled="!isEdit">
			        </md-input-container>
			    </section>
			    <section layout="" layout-md="column" layout-wrap ng-show="showDomicilio">
			        <md-input-container flex class="form-item" ng-show="showDomicilio">
			          <label>LOCALIDAD</label>
			          <input name="C_LOCALIDAD" ng-model="paciente.C_LOCALIDAD" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>MUNICIPIO</label>
			          <input name="C_MUNICIPIO" ng-model="paciente.C_MUNICIPIO" required ng-disabled="!isEdit">
			        </md-input-container>
				    <md-input-container flex class="form-item" ng-if="!isEdit">
			          <label>ESTADO</label>
			          <input name="NF_ENTIDAD_FEDERATIVA" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" disabled>
			        </md-input-container>
			        <md-select placeholder="ENTIDAD FEDERATIVA" ng-model="paciente.NF_ENTIDAD_FEDERATIVA" class="form-item" flex ng-if="isEdit">
				      <md-option ng-repeat="datoEstado in catEstado">{{datoEstado.cDescripcion}}</md-option>
				    </md-select>
				    <md-input-container flex class="form-item">
			          <label>CÓDIGO POSTAL</label>
			          <input type="number" min="20000" max="99999" name="N_CODIGO_POSTAL" ng-model="paciente.N_CODIGO_POSTAL" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>TELÉFONO 1</label>
			          <input name="C_NO_TELEFONO_UNO" ng-model="paciente.C_NO_TELEFONO_UNO" href="tel:+52{{paciente.C_NO_TELEFONO_UNO}}" required ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item form-item-right">
			          <label>TELÉFONO 2</label>
			          <input name="C_NO_TELEFONO_DOS" ng-model="paciente.C_NO_TELEFONO_DOS" ng-disabled="!isEdit">
			        </md-input-container>
		      	</section>
		      	<section layout="row" layout-md="column" layout-wrap>
			        <md-input-container flex class="form-item">
			          <label>LUGAR DE ORIGEN</label>
			          <input name="NF_ENTIDAD_DE_NACIMIENTO" ng-model="paciente.NF_ENTIDAD_DE_NACIMIENTO" required capitalize ng-disabled="!isEdit">
			        </md-input-container>
			        <md-input-container flex class="form-item">
			          <label>OCUPACIÓN</label>
			          <input name="C_OCUPACION" ng-model="paciente.C_OCUPACION" required capitalize ng-disabled="!isEdit">
			        </md-input-container>
				    <md-input-container flex class="form-item form-item-right">
			          <label>CORREO ELECTRÓNICO</label>
			          <input name="C_EMAIL" ng-model="paciente.C_EMAIL" required capitalize ng-disabled="!isEdit">
			        </md-input-container>
		      	</section>
		      	<!--
		      	<div layout="row" layout-align="end center" ng-if="!isEdit">
		      		<md-button class="md-raised md-primary" ng-click="editarPaciente()">EDITAR</md-button>
		      	</div>
		      	<div layout="row" layout-align="end center" ng-if="isEdit">
		      		<md-button class="md-raised md-primary" type="submit">GUARDAR</md-button>
		      	</div>
		      -->
		      	<div layout="row" layout-align="end center">
		      		<md-button class="md-raised md-primary" ng-click="consultarMedico()">CONSULTAR CATÁLOGO DE MÉDICOS Y HORARIOS</md-button>
		      	</div>
	  	</form>
	  		</md-card-content>
      </md-card>
