<!--<footer ng-if="state.name === 'home'" layout="row" layout-align="center start">
	<div  layout="row" layout-align="center start">
		<div  layout="row"  style="padding: 0px 0px; margin: 0px 0px" layout-align="start start" class="footerSection">
			<img alt="Logo de la Benemérita Universidad Autónoma de Puebla" height="120"  src="/images/Escudo_y_Logotipo_Color_Positivo_2.png" class="footerImg">
		</div>
		<div flex class="footerSection" hide-xs hide-sm hide-md hide-lg>
			<pre>
				<strong>Fabrica de Software</strong>
				Prolongación de la 24 Sur y Av. San Claudio, 
				Ciudad Universitaria, Col. San Manuel C.P. 72570
				Puebla, Puebla, México</pre>
		</div>
	</div>
</footer> !-->