<div ng-app="textareaChips" ng-controller="testController">
  </br>
  </br>
  <form name="testForm">
    <md-input-container>
      <label>test time picker</label>
      <md-simple-time-picker ng-model="time"></md-simple-time-picker> 
    </md-input-container>
    <!--<md-input-container>
      <label>test</label>
      <md-simple-time-picker ng-model="time"></md-simple-time-picker>
    </md-input-container>-->
    {{time.toTimeString() }}
  </form>
</div>